{% include 'ami/demo/custom/filter.twig.html' with {
	channel: 1,
	otm: 1
} %}

{# <div class="form-group">
	{{ form_label('App Type', 'app_type', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		{{ form_dropdown('app_type', app_type, null, 'class="form-control fetch-sl" id="input-app-type"') }}
	</div>
</div> #}

<div class="form-group">
	{{ form_label('Sales Leader', 'sales_leader', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		<select name="sales_leader[]" class="form-control" id="SalesLeaderSelect" multiple="multiple" style="min-height: 300px;">
			<option value="ALL" selected="selected">ALL</option>
			{% for sl in custom.salesleaders %}
				<option value="{{ sl.armstrong_2_salespersons_id }}" data-sub_type="{{ sl.sub_type }}">{{ sl.first_name }} {{ sl.last_name }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="form-group">
	{{ form_label('Armstrong 2 salespersons id', 'salesperson', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		<select name="armstrong_2_salespersons_id[]" class="form-control SalespersonsSelect" id="armstrong_2_salespersons_id" multiple="multiple" style="min-height: 300px;">
			<option value="" selected="selected" data-manager="">ALL</option>
			{% for sp in custom.salespersons %}
				<option value="{{ sp.armstrong_2_salespersons_id }}" data-manager="{{ sp.salespersons_manager_id }}">{{ sp.first_name }} {{ sp.last_name }}</option>
			{% endfor %}
		</select>
	</div>
</div>

{# <div class="form-group">
	{{ form_label('Show Active Users Only', 'active', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		<div class="checkbox">
			<label class="">{{ form_checkbox('active', 1, true) }}</label>
		</div>
	</div>
</div>

<div class="form-group">
	{{ form_label('Sort By', 'sort_by', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		{{ form_dropdown('sort_by', {
			'armstrong_2_salesperson_id': 'AS2 Salespersons ID',
			'armstrong_2_salesperson_name': 'AS2 Salespersons Name',
			'call_made': 'Call Made',
			'working_day': 'Working Day',
			'actual_working_day': 'Actual Working Day',
			'average_call_per_working_day': 'Average Call per Working Day',
			'average_call_per_actual_working_day': 'Average Call per Actual Working Day',
			'tfo_inside_call': 'TFO Made Inside Call',
			'tfo_inside_call_value': 'TFO Made Inside Call Value (RM)',
			'tfo_outside_call': 'TFO Made Outside Call',
			'tfo_outside_call_value': 'TFO Made Outside Call Value (RM)',
			'strike_rate': 'Strike Rate',
		}, 'armstrong_2_salesperson_id', 'class="form-control" id="InputSortBy"') }}
	</div>
</div>

<div class="form-group">
	{{ form_label('Group By', 'group_by', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		{{ form_dropdown('sort_by', {
			'sales_leader': 'Sales Leader',
			'channel': 'Channel',
		}, 'ALL', 'class="form-control" id="InputGroupBy"') }}
	</div>
</div> #}