{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/getorgchart/getorgchart.js') }}"></script>


<script>
$(document).ready(function() {
    // var readUrl = "http://getorgchart.com/JsonInitialization/Read?callback=?";
    var readUrl = "{{ site_url('res/json/_getorgchart.json') }}"
     
    $.getJSON(readUrl, function(people) {       
        $('#people').getOrgChart({
            theme: "vivian",
            color: "lightblue",
            primaryColumns: ["Name", "Title"],
            imageColumn: "Image",
            linkType: "M",
            editable: false,  
            scale: 0.5,             
            dataSource: people,
            clickEvent: function(sender, args) {
                return false;
            }
        });
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/getorgchart/getorgchart.css') }}">
{% endblock %}

{% block content %}
    {#{{ dump(session) }}#}
    <div id="people"></div>
{% endblock %}