<div class="modal-dialog" style="max-height: 400px">
	{{ form_open(site_url('ami/dashboard/infographic'), {class: 'form-horizontal modal-content'}) }}
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Select Month/Year</h3>
		</div>
		<div class="modal-body">

			<div class="form-group">
				{{ form_label('Type', 'type', {class: 'control-label col-sm-3'}) }}
				<div class="col-sm-6">
					{{ form_dropdown('type', {'tfo': 'TFO', 'ssd': 'SSD'}, month, 'class="form-control"') }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label('Month', 'month', {class: 'control-label col-sm-3'}) }}
				<div class="col-sm-6">
					{{ form_dropdown('month', select_month(), month, 'class="form-control"') }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label('Year', 'year', {class: 'control-label col-sm-3'}) }}
				<div class="col-sm-6">
					{{ form_dropdown('year', select_year(2010), year, 'class="form-control"') }}
				</div>
			</div>

			{% if session.roleName == 'Admin' %}
				<div class="form-group">
					{{ form_label('Country', 'country', {class: 'control-label col-sm-3'}) }}
					<div class="col-sm-6">
						{{ form_dropdown('country', countries, session.country_code, 'class="form-control"') }}
					</div>
				</div>
			{% endif %}
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				<i class="fa fa-ban"></i> Cancel
			</button>
			<button name="btn_submit" value="generate" class="conf_prime delete btn btn-primary">
				<i class="fa fa-exclamation"></i> Generate
			</button>
			<button name="btn_submit" value="exportPDF" class="conf_prime btn btn-primary">
				<i class="fa fa-file"></i> Print
			</button>
		</div>
	{{ form_close() }}
</div>