<div class="modal-dialog" style="max-height: 400px">
	{{ form_open(site_url('ami/dashboard/infographic_new'), {class: 'form-horizontal modal-content'}) }}
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Select Month/Year</h3>
		</div>
		<div class="modal-body">

			<div class="form-group">
				{{ form_label('Type', 'type', {class: 'control-label col-sm-4'}) }}
				<div class="col-sm-6">
					{{ form_dropdown('type', type, null, 'class="form-control"') }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label('Month', 'month', {class: 'control-label col-sm-4'}) }}
				<div class="col-sm-6">
					{{ form_dropdown('month', select_month(), month, 'class="form-control"') }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label('Year', 'year', {class: 'control-label col-sm-4'}) }}
				<div class="col-sm-6">
					{{ form_dropdown('year', select_year(2010), year, 'class="form-control"') }}
				</div>
			</div>
			
			{% if session.roleName == 'Admin' %}
				<div class="form-group">
					{{ form_label('Country', 'country', {class: 'control-label col-sm-4'}) }}
					<div class="col-sm-6">
						{{ form_dropdown('country', countries, session.country_code, 'class="form-control"') }}
					</div>
				</div>
			{% endif %}

			<div class="form-group">
				{{ form_label('View By', 'viewType', {class: 'control-label col-sm-4'}) }}
				<div class="col-sm-6">
					{{ form_dropdown('viewType', viewType, null, 'class="form-control" id="viewType"') }}
				</div>
			</div>
			<div id="slsrdrop">
				{% if session.roleName in ['Admin', 'Sales Manager'] %}
				<div class='form-group' id='salesperson_status'>
					{{ form_label('Salesperson Status', 'salespersonStatus', {class: 'control-label col-sm-4'})}}
					<div class="col-sm-6">
						{{ form_dropdown('salespersonStatus', salesperson_status, 2, 'class="form-control"  id="salespersonStatus"')}}
					</div>
				</div>
				<div class='form-group' id='salesleader'>
					{{ form_label('Sales Leader', 'salesleader', {class: 'control-label col-sm-4'})}}
					<div class="col-sm-6">
						{{ form_dropdown('salesleader', salesleader, null, 'class="form-control"  id="sldropdown"')}}
					</div>
				</div>
				<div class="form-group" id='salesrep'>
					{{ form_label('Salesperson', 'salespersons', {class: 'control-label col-sm-4'})}}
					<div class="col-sm-6">
						{{ form_dropdown('salespersons', salespersons, null, 'class="form-control" id="srdropdown"')}}
					</div>
				</div>
                {% else %}
				<div class="form-group" id='salesrep'>
					{{ form_label('Salesperson', 'salespersons', {class: 'control-label col-sm-4'})}}
					<div class="col-sm-6">
						<select name="salespersons" class="form-control" id="srdropdown">
							<option value="{{ session.id }}">{{ session.id }} - {{ session.name }}</option>
						</select>
					</div>
				</div>
				{% endif %}
			</div>
		</div>

		{#
		<div class="form-group">
			{{ form_label('Salespersons', 'salespersons', {class: 'control-label col-sm-3'}) }}
			<div class="col-sm-6">
				{{ form_multiselect('salespersons', salespersons, salespersons, 'class="form-control"') }}
			</div>
		</div>
		#}
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				<i class="fa fa-ban"></i> Cancel
			</button>
			<button name="btn_submit" value="generate" class="conf_prime delete btn btn-primary">
				<i class="fa fa-exclamation"></i> Generate
			</button>
			<button name="btn_submit" value="exportPDF" class="conf_prime btn btn-primary">
				<i class="fa fa-file"></i> Print
			</button>
			
		</div>
	{{ form_close() }}
</div>

<script type="text/javascript">
	var baseUrl = "{{ site_url('ami/dashboard/getSalespersonByLeader') }}"; //"<?php echo base_url(); ?>";
	var baseUrlCoutryChange = "{{ site_url('ami/dashboard/getSaleByCountry') }}"; //"<?php echo base_url(); ?>";

//	$("#salesleader").hide();
//	$("#salesrep").hide();
//	$("#salesperson_status").hide();
	function changetype(){
		if($("#viewType").val() == "team"){
			$("#salesleader").show();
			$("#salesrep").show();
			$("#salesperson_status").show();
		}else{
			$("#salesleader").hide();
			$("#salesrep").hide();
			$("#salesperson_status").hide();
		}
	}
	$("#viewType").change(function(){
		changetype();
	});
	changetype();
	function loadSale()
	{
		var datachoose = {
			'year' : $('select[name="year"]').val(),
			'month' : $('select[name="month"]').val(),
			'country_id' : $('select[name="country"]').val(),
			'salespersonStatus' : $('select[name="salespersonStatus"]').val(),
		};
		$.ajax({
			url: baseUrlCoutryChange,
			type: 'POST',
			data: datachoose,
			dataType: 'json',
			beforeSend: function(){
//				$("#sldropdown").attr("disabled", "disabled");
				$('#sldropdown').html('<option value="0">Please Wait...</option>');
//				$("#srdropdown").attr("disabled", "disabled");
				$('#srdropdown').html('<option value="0">Please Wait...</option>');
			},
			success: function(json){
				console.log(json);
				$('#srdropdown').html(json.salespersons);
//				$('#srdropdown').removeAttr("disabled");
				$('#sldropdown').html(json.salesleader);
//				$('#sldropdown').removeAttr("disabled");
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(xhr.status);
				console.log(thrownError);
			}
		});
	}
	$('select[name="year"], select[name="month"], select[name="country"], select[name="salespersonStatus"]').change(function () {
		loadSale();
	});
	$("#salesleader").change(function(){
		$("#salesrep").show();
		var datachoose = {
			'year' : $('select[name="year"]').val(),
			'month' : $('select[name="month"]').val(),
			'country_id' : $('select[name="country"]').val(),
			'salespersonStatus' : $('select[name="salespersonStatus"]').val(),
			'sl_id' : $("#sldropdown").val(),
		};
		$.ajax({
			url: baseUrl,
			/*dataType: 'JSON',*/
			type: 'POST',
			data: datachoose, //{ 'sl_id' : $("#sldropdown").val(), 'country_id' : $('select[name="country"]').val() },
			beforeSend: function(){
				//$("#srdropdown").attr("disabled", "disabled");
				$('#srdropdown').html('<option value="0">Please Wait...</option>');
			},
			success: function(response){
				$('#srdropdown').html(response);
			//	$('#srdropdown').removeAttr("disabled");
			},
			error: function (xhr, ajaxOptions, thrownError) {
             	console.log(xhr.status);
             	console.log(thrownError);
            }
		});
	});
//	$('select[name="country"]').trigger('change');
	</script>