{% extends "ami/base.html.twig" %}

{% block css %}
{{ parent() }}
<style type="text/css">
	#wellcome{
		text-align:center;
		font-size:30px;
		margin:auto;
		padding-top:40px;
		text-shadow: -5px 5px 5px rgba(0,0,0,0.3);
	}
</style>
{% endblock %}

{% block content %}
    {#{{ dump(session) }}#}
    <div id="wellcome">Welcome to Armstrong Management Interface</div>
{% endblock %}