{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script>

        $(function()
        {
            createUploader($('#imageUpload'));
            createUploader($('#videoUpload'));
        });

    </script>
    <script src="{{ site_url('res/ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace('inputContent', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });

        CKEDITOR.on('instanceReady', function(){
            $.each( CKEDITOR.instances, function(instance) {
                CKEDITOR.instances[instance].on("change", function(e) {
                    for ( instance in CKEDITOR.instances ) {
                        CKEDITOR.instances[instance].updateElement();
                    }
                });
            });
        });

    </script>
{% endblock %}

{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/news_feed/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': news_feed.id , 'filter':filter}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">News Feed</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/news_feed', id: news_feed.id, permission: 'news_feed'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Armstrong 2 Salespersons Id', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, news_feed.armstrong_2_salespersons_id, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Content', 'content', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'content', value: news_feed.content, class: 'form-control input-xxlarge', id: 'inputContent', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Type', 'Type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('newsfeed_type', 0, news_feed.newsfeed_type == 0) }} Local</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('newsfeed_type', 1, news_feed.newsfeed_type == 1) }} Glocal</label>&nbsp;
                </div>
            </div>
            {% if has_permission('manage_staff', 'salespersons') or has_permission('manage_all', 'salespersons') %}
                <div class="form-group">
                    {{ form_label('', '', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6 no-parsley">
                        <label class="radio-inline">{{ form_radio('status', 0, news_feed.status == 0) }} Pending</label>&nbsp;
                        <label class="radio-inline">{{ form_radio('status', 1, news_feed.status == 1) }}
                            Approved</label>&nbsp;
                    </div>
                </div>
            {% endif %}

            {% include 'ami/components/uploader_image.html.twig' with {entry_type: 'news_feed'} %}

            {% include 'ami/components/uploader_video.html.twig' with {entry_type: 'news_feed'} %}

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}