{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>


    <script>
        $(function () {
            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/news_feed/ajaxData') }}",*/
                "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
                'order': [[1, 'asc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/news_feed/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'News Feed Draft' : 'News Feed' }}</h1>

                <div class="text-right">
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/news_feed', icon: 'fa-user', title: 'News Feed', permission: 'news_feed', showImport: 0} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            {% if not draft %}
                                <div class="row table-filter">
                                    <div class="col-md-12">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="dropdownFilter" data-toggle="dropdown">
                                                Filter: {{ filter ? filter|capitalize : 'All' }} <span
                                                        class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
                                                <li role="presentation" {{ filter ? '' : 'class="active"' }}><a
                                                            role="menuitem" tabindex="-1"
                                                            href="{{ site_url('ami/news_feed') }}">All</a></li>
                                                <li role="presentation" {{ filter == 'approved' ? 'class="active"' : '' }}>
                                                    <a role="menuitem" tabindex="-1"
                                                       href="{{ site_url('ami/news_feed?filter=approved') }}">Approved</a>
                                                </li>
                                                <li role="presentation" {{ filter == 'pending' ? 'class="active"' : '' }}>
                                                    <a role="menuitem" tabindex="-1"
                                                       href="{{ site_url('ami/news_feed?filter=pending') }}">Pending</a>
                                                </li>
                                                <li role="presentation" {{ filter == 'reject' ? 'class="active"' : '' }}>
                                                    <a role="menuitem" tabindex="-1"
                                                       href="{{ site_url('ami/news_feed?filter=reject') }}">Reject</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'news_feed') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>ID</th>
                                <th>Content</th>
                                <th>Salespersons</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th class="nosort text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for new in news_feed %}
                                <tr>
                                    {% if has_permission('delete', 'news_feed') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: new.id}) }}</td>
                                    {% endif %}
                                    <td><a href="{{ site_url('ami/news_feed/edit/' ~ new.id) }}" title="{{ new.id }}"
                                           data-toggle="ajaxModal">{{ new.id }}</a></td>
                                    <td>{{ trim_word(new.content, 120) }}</td>
                                    <td class="center">{{ new.armstrong_2_salespersons_id }}</td>
                                    <td class="center">{{ new.newsfeed_type == 0 ? 'Local' : 'Global' }}</td>
                                    <td class="center">{% if new.status == 0 %} Pending
                                        {% elseif new.status == 1 %}    Approved
                                        {% else %}  Reject
                                        {% endif %}
                                    </td>
                                    <td class="center">{{ new.date_created }}</td>
                                    <td class="center">{{ new.last_updated }}</td>
                                    <td class="center text-center" style="min-width: 80px;">
                                        <div class="btn-group">

                                            {% if has_permission('edit', 'news_feed') %}
                                                {{ html_btn(site_url('ami/news_feed/edit/' ~ new.id ~ '?filter=' ~ filter), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}

                                            {% endif %}

                                            {% if filter == 'pending' %}
                                                {% if has_permission('manage_staff', 'salespersons') or has_permission('manage_all', 'salespersons') %}
                                                    {{ html_btn(site_url('ami/news_feed/pending/' ~ new.id), '<i class="fa fa-thumbs-up"></i>', {'class': 'btn-default approve', 'title': 'Approve', 'data-toggle': 'ajaxModal'}) }}
                                                    {{ html_btn(site_url('ami/news_feed/pending/' ~ new.id), '<i class="fa fa-thumbs-down"></i>', {'class': 'btn-default reject', 'title': 'Reject', 'data-toggle': 'ajaxModal'}) }}
                                                {% endif %}
                                            {% endif %}

                                            {% if has_permission('delete', 'news_feed') and (filter != 'pending') %}
                                                {% if draft %}
                                                    {{ html_btn(site_url('ami/news_feed/restore/' ~ new.id), '<i class="fa fa-history"></i>', {'class': 'btn-default restore', 'title': 'Restore', 'data-toggle': 'ajaxModal'}) }}
                                                {% else %}
                                                    {{ html_btn(site_url('ami/news_feed/delete/' ~ new.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% if draft %}
                                    {% set pagination_url = filter ? site_url('ami/news_feed/draft?filter=' ~ filter) : site_url('ami/news_feed/draft') %}
                                {% else %}
                                    {% set pagination_url = filter ? site_url('ami/news_feed/?filter=' ~ filter) : site_url('ami/news_feed') %}
                                {% endif %}
                                {{ pagination({base_url: pagination_url, per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}