<div class="panel">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in news_feed %}
                <tr class="{{ key in amendedData.fields ? 'warning' : '' }}">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>