<div class="modal-dialog" style="max-height: 400px">

    {{ form_open(site_url('ami/news_feed/pending' ~ news_feed.id), {class: 'modal-content'}) }}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">News feed - {{ news_feed.id }}</h3>
        </div>
        <div class="modal-body">
            {% if amendedData %}
                {% include 'ami/news_feed/pending_action_amended_data.html.twig' %}
            {% else %}
                {% include 'ami/news_feed/pending_action_data.html.twig' %}
            {% endif %}
        </div>
        <div class="modal-footer">
            {% if has_permission('edit', 'news_feed') %}
                <a href="{{ site_url('ami/news_feed/edit/' ~ news_feed.id ~ '?filter=1') }}" class="btn btn-primary"><i class="fa fa-fw fa-edit"></i> Edit</a></a>
            {% endif %}
            {% if has_permission('manage_staff', 'salespersons') or has_permission('manage_all', 'salespersons') %}
                <a href="{{ site_url('ami/news_feed/approve/' ~ news_feed.id ) }}" class="btn btn-success btn-pending-submit"><i class="fa fa-fw fa-thumbs-up"></i> Approve</a></a>
                <a href="{{ site_url('ami/news_feed/reject/' ~ news_feed.id ) }}" class="btn btn-danger btn-pending-submit"><i class="fa fa-fw fa-thumbs-down"></i> Reject</a></a>
            {% endif %}
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
        </div>
    {{ form_close() }}
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>