{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    {% set validationUrl = site_url('ami/admin_management/email_validation') ~ (admin.email ? '/' ~ admin.id : '') %}
    <script>
        jQuery('#email').parsley().addAsyncValidator(
                'email', function(xhr) {
                    var registerEmail = $('#email').parsley();
                    window.ParsleyUI.removeError(registerEmail, 'errorEmail');
                    if (xhr.status == '200') {
                        return 200;
                    }

                    if (xhr.status == '404') {
                        response = $.parseJSON(xhr.responseText);
                        window.ParsleyUI.addError(registerEmail, 'errorEmail', response.error);
                    }
                }, '{{ validationUrl }}'
        );
    </script>
{% endblock %}

{% block content %}
    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#735;</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/admin_management/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': admin.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Admin Management</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/admin_management', id: admin.id, permission: 'admin_management'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="form-group">
                {{ form_label('Firstname', 'first_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'first_name', id: 'first_name', value: admin.first_name, class: 'form-control',
                    'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Lastname', 'last_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'last_name', id: 'last_name', value: admin.last_name, class: 'form-control',
                    'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Global Roles', 'roles_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('role_id', globalRoles, admin.role_id, 'class="form-control" ') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Email', 'email', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'email', id: 'email', value: admin.email, class: 'form-control',
                    'data-parsley-type':'email',
                    'data-ajax-name':'_unique_email',
                    'data-parsley-remote-options':'{\'type\':\'POST\',\'data\':{\'email\':\'_unique_email\'}}',
                    'data-parsley-remote-validator':'email', 'data-parsley-remote':'1',
                    'data-parsley-errors-messages-disabled':'1'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Password', 'password', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({type: 'password', name: 'password', id: 'password', value: NULL, class: 'form-control',
                    'data-parsley-required': admin.password ? 'false' : 'true', 'data-parsley-minlength': '6'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Confirm Password', 'confirm_password', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({type: 'password', name: 'confirm_password', id: 'confirm_password',
                    value: NULL, class: 'form-control', 'data-parsley-required': admin.password ? 'false' : 'true',
                    'data-parsley-equalto':'#password', 'data-parsley-minlength':'6',
                    'data-parsley-error-message' : "Password and Confirm Password must be the same."}) }}
                </div>
            </div>

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>

    </div>

    {{ form_close() }}
{% endblock %}

