<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ admin.first_name ~ ' ' ~ admin.last_name}} - {{ admin.id }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                <div class="list-group">
                    <div class="list-group-item">
                        <i class="fa fa-2x fa-envelope-o pull-left"></i>
                        <div class="m-l-xl">
                            <h4 class="list-group-item-heading text-muted">Email</h4>
                            <p class="list-group-item-text"><a href="mailto:{{ admin.email }}">{{ admin.email }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'admin_management') %}
                {{ html_btn(site_url('ami/admin_management/edit/' ~ admin.id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>