{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        $(function () {
            $('#from_date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $('#to_date').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false
            });
            $("#from_date").on("dp.change", function (e) {
                $('#to_date').data("DateTimePicker").minDate(e.date);
            });
            $("#to_date").on("dp.change", function (e) {
                $('#from_date').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/contact_strategy_daterange/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': contact_strategy_daterange.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Contact Strategy</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}

                        {{ html_btn(site_url('ami/contact_strategy_daterange'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if contact_strategy_daterange.id %}
                            <a href="{{ site_url('ami/contact_strategy_daterange/delete/' ~ contact_strategy_daterange.id) }}" title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('From', 'from_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'from_date', value: contact_strategy_daterange.from_date, id: 'from_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('To', 'to_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'to_date', value: contact_strategy_daterange.to_date, id: 'to_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                    {% if errors %}
                        <ul class="parsley-errors-list filled">
                            <li class="parsley-overlaps">{{ errors }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('OTM A Customers Visited', 'otm_A_customers_visited', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-2">
                    {{ form_input({name: 'otm_A_customers_visited', value: contact_strategy_daterange.otm_A_customers_visited, class: 'form-control', 'min': 1, 'data-parsley-required': 'true', 'data-parsley-type': 'digits'}) }}
                </div>
                {{ form_label('In', '', {class: 'control-label col-sm-1'}) }}
                <div class="col-sm-2">
                    {{ form_input({name: 'otm_A_customers_visited_in_weeks', value: contact_strategy_daterange.otm_A_customers_visited_in_weeks, class: 'form-control', 'min': 1, 'data-parsley-required': 'true', 'data-parsley-type': 'digits'}) }}
                </div>
                {{ form_label('Weeks', '', {class: 'control-label'}) }}
            </div>
            <div class="form-group">
                {{ form_label('OTM B Customers Visited', 'otm_B_customers_visited', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-2">
                    {{ form_input({name: 'otm_B_customers_visited', value: contact_strategy_daterange.otm_B_customers_visited, class: 'form-control', 'min': 1, 'data-parsley-required': 'true', 'data-parsley-type': 'digits'}) }}
                </div>
                {{ form_label('In', '', {class: 'control-label col-sm-1'}) }}
                <div class="col-sm-2">
                    {{ form_input({name: 'otm_B_customers_visited_in_weeks', value: contact_strategy_daterange.otm_B_customers_visited_in_weeks, class: 'form-control', 'min': 1, 'data-parsley-required': 'true', 'data-parsley-type': 'digits'}) }}
                </div>
                {{ form_label('Weeks', '', {class: 'control-label'}) }}
            </div>
            <div class="form-group">
                {{ form_label('OTM C Customers Visited', 'otm_C_customers_visited', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-2">
                    {{ form_input({name: 'otm_C_customers_visited', value: contact_strategy_daterange.otm_C_customers_visited, class: 'form-control', 'min': 1, 'data-parsley-required': 'true', 'data-parsley-type': 'digits'}) }}
                </div>
                {{ form_label('In', '', {class: 'control-label col-sm-1'}) }}
                <div class="col-sm-2">
                    {{ form_input({name: 'otm_C_customers_visited_in_weeks', value: contact_strategy_daterange.otm_C_customers_visited_in_weeks, class: 'form-control', 'min': 1, 'data-parsley-required': 'true', 'data-parsley-type': 'digits'}) }}
                </div>
                {{ form_label('Weeks', '', {class: 'control-label'}) }}
            </div>
            <div class="form-group">
                {{ form_label('OTM D Customers Visited', 'otm_D_customers_visited', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-2">
                    {{ form_input({name: 'otm_D_customers_visited', value: contact_strategy_daterange.otm_D_customers_visited, class: 'form-control', 'min': 1, 'data-parsley-required': 'true', 'data-parsley-type': 'digits'}) }}
                </div>
                {{ form_label('In', '', {class: 'control-label col-sm-1'}) }}
                <div class="col-sm-2">
                    {{ form_input({name: 'otm_D_customers_visited_in_weeks', value: contact_strategy_daterange.otm_D_customers_visited_in_weeks, class: 'form-control', 'min': 1, 'data-parsley-required': 'true', 'data-parsley-type': 'digits'}) }}
                </div>
                {{ form_label('Weeks', '', {class: 'control-label'}) }}
            </div>
            {{ form_input({name: 'id', value: contact_strategy_daterange.id, type: 'hidden', class: 'hide'}) }}

        </div>
    </div>

    {{ form_close() }}
{% endblock %}