{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>

    <script>
        $(function () {
            $('#dataTables').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ site_url('ami/contact_strategy_daterange/ajaxData') }}",
                    "type": "POST"
                },
                'aoColumns': [
                    {mData: "s.id", "sWidth": "10%"},
                    {mData: "$.otm_A_visited"},
                    {mData: "$.otm_B_visited"},
                    {mData: "$.otm_C_visited"},
                    {mData: "$.otm_D_visited"},
                    {mData: "s.from_date"},
                    {mData: "s.to_date"}
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    {% if has_permission('delete', 'contact_strategy_daterange') %}
                    $(nRow).prepend('<td class=\"text-center\"><input type=\"checkbox\" value="' + aData['DT_RowId'] + '"></td>');
                    {% endif %}
                    $(nRow).append('<td class=\"text-center\" style=\"min-width: 120px;\">' + aData['buttons'] + '</td>');
                },
                'order': [[6, 'desc'], [1, 'asc']],
                // 'bPaginate': false,
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ],
                "iDisplayLength": 50
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/contact_strategy_daterange/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

       <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Contact Strategy</h1>

                <div class="text-right">
					<span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
						{{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
					</span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/contact_strategy_daterange', icon: 'fa-user', title: 'Sales cycle', permission: 'contact_strategy_daterange', showImport: 0} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">

                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'contact_strategy_daterange') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>ID</th>
                                <th>OTM A Visited</th>
                                <th>OTM B Visited</th>
                                <th>OTM C Visited</th>
                                <th>OTM D Visited</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th class="nosort text-center"></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}