{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/ckeditor/ckeditor.js') }}"></script>

    <script>
        $(function () {
            createUploader($('#imageUpload'));
            createUploader($('#videoUpload'));
            createUploader($('#brochureUpload'));
            createUploader($('#specUpload'));
            createUploader($('#certUpload'));
        });

        CKEDITOR.replace('inputContent', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });

        CKEDITOR.replace('inputDescription', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });

        CKEDITOR.replace('inputNutrition', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });

        CKEDITOR.on('instanceReady', function () {
            $.each(CKEDITOR.instances, function (instance) {
                CKEDITOR.instances[instance].on("change", function (e) {
                    for (instance in CKEDITOR.instances) {
                        CKEDITOR.instances[instance].updateElement();
                    }
                });
            });
        });


        $('button[type="submit"]').on('click', function (e) {
            var sku_number = $('input[name="sku_number"]').val(),
                    sku_name = $('input[name="sku_name"]').val(),
                    price = $('input[name="price"]').val(),
                    quantity_case = $('input[name="quantity_case"]').val(),
                    weight_pc = $('input[name="weight_pc"]').val(),
                    product_id = '{{ product.sku_number }}';
            if ($.inArray('', [sku_number, sku_name, price, quantity_case, weight_pc]) == -1) {
                if ((product_id && (sku_number !== product_id)) || product_id == '') {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: base_url() + 'ami/products/checkExistSkuNumber',
                        data: {sku_number: sku_number},
                        success: function (res) {
                            res = $.parseJSON(res);
                            var input_sku = $('input[name="sku_number"]'),
                                    parsley_id = input_sku.attr('data-parsley-id'),
                                    error_wrap = $('ul.parsley-errors-list[id="parsley-id-' + parsley_id + '"]');
                            if (res['error'] == 1) {
                                input_sku.removeClass('parsley-success');
                                input_sku.addClass('parsley-error');
                                if ($('ul.filled.parsley-errors-list[id="parsley-id-' + parsley_id + '"]').length == 0) {
                                    error_wrap.addClass('filled').append('<li class="parsley-required">' + res.message + '</li>');
                                }

                            } else if (res['error'] == 0) {
                                input_sku.removeClass('parsley-error');
                                input_sku.addClass('parsley-success');
                                error_wrap.removeClass('filled').empty();
                                $('form')[0].submit();
                            }
                        }
                    })
                }
            }
        });
    </script>
{% endblock %}

{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/products/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': product.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Products</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/products', id: product.id, permission: 'product'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('SKU Number', 'sku_number', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sku_number', value: product.sku_number, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('SKU Name', 'sku_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sku_name', value: product.sku_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('SKU Name (Other Language)', 'name_alt', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'name_alt', value: product.name_alt, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Description', 'description', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'description', value: product.description, class: 'form-control input-xxlarge',
                        'id': 'inputDescription'
                    }) }}
                </div>
            </div>

            {% if groups|length > 1 %}
                <div class="form-group">
                    {{ form_label('Group', 'groups_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('groups_id', groups, product.groups_id, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Brand', 'brands_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('brands_id', brands, product.brands_id, 'class="form-control"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('App Type', 'app_type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('app_type', app_type, product.app_type ? product.app_type : 0, 'class="form-control"') }}
                </div>
            </div>
            {% if products_cat_web|length > 1 %}
                <div class="form-group">
                    {{ form_label('Products Cat Web', 'products_cat_web_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('products_cat_web_id', products_cat_web, product.products_cat_web_id, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Ingredients', 'ingredients', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'ingredients', value: product.ingredients, class: 'form-control input-xxlarge', id: 'inputContent', 'data-parsley': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Barcode/Origin', 'barcode', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'barcode', value: product.barcode, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Price', 'price', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'price', value: product.price, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            {% if session.country_id in [12, 13, 14, 15, 16, 17] %}
                <div class="form-group">
                    {{ form_label('Gross Margin', 'gross_margin', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'gross_margin', value: product.gross_margin, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-type': 'number'}) }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Quantity in Case', 'quantity_case', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'quantity_case', value: product.quantity_case, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-type': 'integer'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Weight per Pc', 'weight_pc', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'weight_pc', value: product.weight_pc, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            {# <div class="form-group">
                {{ form_label('Glob Pro Hierarchy', 'glob_pro_hierarchy', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'glob_pro_hierarchy', value: product.glob_pro_hierarchy, class: 'form-control'}) }}
                </div>
            </div> #}

            {# {% if segments|length > 1 %}
                <div class="form-group">
                    {{ form_label('Segment', 'segments_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('segments_id', segments, product.segments_id, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %} #}

            <div class="form-group">
                {{ form_label('Categories', 'categories_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('glob_pro_hierarchy[]', categories, product.glob_pro_hierarchy_array.0, 'class="form-control"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Markets', 'markets_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('glob_pro_hierarchy[]', markets, product.glob_pro_hierarchy_array.1, 'class="form-control"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Sectors', 'sectors_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('glob_pro_hierarchy[]', sectors, product.glob_pro_hierarchy_array.2, 'class="form-control"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Sub Sectors', 'sub_sectors_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('glob_pro_hierarchy[]', sub_sectors, product.glob_pro_hierarchy_array.3, 'class="form-control"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Segment', 'segments_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('glob_pro_hierarchy[]', segments, product.glob_pro_hierarchy_array.4, 'class="form-control"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Shelf Life', 'shelf_life', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'shelf_life', value: product.shelf_life, class: 'form-control'}) }}
                </div>
            </div>
            {% if session.country_id in [4] %}
                <div class="form-group">
                    {{ form_label('Pallet Configuration', 'pallet_configuration', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'pallet_configuration', value: product.pallet_configuration, class: 'form-control'}) }}
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_label('Product Claims', 'pro_claims', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'pro_claims', value: product.pro_claims, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Is Top Ten', 'is_top_ten', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label class="">{{ form_checkbox('is_top_ten', 1, product.is_top_ten) }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Listing', 'listing_availability', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label class="">{{ form_checkbox('listing_availability', 1, product.listing_availability) }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Main SKU', 'main_sku', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('main_sku', main_sku, product.main_sku, 'class="form-control"') }}
                </div>
            </div>

            {% if cuisine_channels|length > 1 %}
                <div class="form-group">
                    {{ form_label('Cuisine Channels', 'cuisine_channels_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('cuisine_channels_id', cuisine_channels, product.cuisine_channels_id, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}

            {# <div class="form-group">
                {{ form_label('Cert Halal', 'cert_halal', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'cert_halal', value: product.cert_halal, class: 'form-control', 'rows': 3}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Related Media', 'related_media', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'related_media', value: product.related_media, class: 'form-control', 'rows': 3}) }}
                </div>
            </div> #}

            <div class="form-group">
                {{ form_label('Nutrition Name', 'nutrition_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'nutrition_name', value: product.nutrition_name, class: 'form-control input-xxlarge', id: 'inputNutrition'}) }}
                </div>
            </div>

            {# <div class="form-group">
                {{ form_label('Listed', 'listed', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label class="">{{ form_checkbox('listed', 1, product.listed) }}</label>
                    </div>
                </div>
            </div> #}

            <div class="form-group">
                {{ form_label('', 'listed', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('listed', 0, product.listed == 0) }} Delisted</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('listed', 1, product.listed == 1) }} Listed</label>&nbsp;
                </div>
            </div>

            {% include 'ami/components/uploader_image.html.twig' with {entry_type: 'products'} %}

            {% include 'ami/components/uploader_video.html.twig' with {entry_type: 'products'} %}

            {% include 'ami/components/uploader_brochure.html.twig' with {entry_type: 'products'} %}

            {% include 'ami/components/uploader_spec.html.twig' with {entry_type: 'products'} %}

            {% include 'ami/components/uploader_cert.html.twig' with {entry_type: 'products'} %}

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}