{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('.dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/products/ajaxData') }}",*/
                'order': [[1, 'asc']],
                'aoColumnDefs': [{
                    'aTargets': ['nosort']
                }],
                "iDisplayLength": 50
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/products/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Products Draft' : 'Products' }}</h1>

                <div class="text-right">
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/products', icon: 'fa-barcode', title: 'Products', permission: 'product'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#listed" aria-controls="home" role="tab"
                                                          data-toggle="tab">Listed</a></li>
                <li role="presentation"><a href="#unlisted" aria-controls="profile" role="tab" data-toggle="tab">Delisted</a>
                </li>
            </ul>

            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">

                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'product') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>SKU name</th>
                                <th>SKU number</th>
                                <th>App type</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Updated By</th>
                                <th class="nosort text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products.active %}
                                <tr>
                                    {% if has_permission('delete', 'product') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: product.id}) }}</td>
                                    {% endif %}
                                    <td><a href="{{ site_url('ami/products/edit/' ~ product.id) }}"
                                           title="{{ product.sku_name }}"
                                           data-toggle="ajaxModal">{{ trim_word((session.country_id in [3, 6] ? product.name_alt : product.sku_name), 50) }}</a>
                                    </td>
                                    <td>{{ product.sku_number }}</td>
                                    <td>{{ product.app_type == 0 ? 'PULL' : product.app_type == 1 ? 'PUSH' : 'ALL' }}</td>
                                    <td class="center">{{ product.date_created }}</td>
                                    <td class="center">{{ product.last_updated }}</td>
                                    <td class="center">{{ product.updated_name != '' ? product.updated_name : 'OPS' }}</td>
                                    <td class="center text-center" style="min-width: 80px;">
                                        {% if has_permission('edit', 'product') or has_permission('delete', 'product') %}
                                            {% include 'ami/components/table_btn.html.twig' with {url: 'ami/products', id: product.id, permission: 'product'} %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="unlisted">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'product') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>SKU name</th>
                                <th>SKU number</th>
                                <th>Created</th>
                                <th>Updated</th>
                                {% if has_permission('edit', 'product') or has_permission('delete', 'product') %}
                                    <th class="nosort text-center"></th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products.inactive %}
                                <tr>
                                    {% if has_permission('delete', 'product') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: product.id}) }}</td>
                                    {% endif %}
                                    <td><a href="{{ site_url('ami/products/edit/' ~ product.id) }}"
                                           title="{{ product.sku_name }}"
                                           data-toggle="ajaxModal">{{ trim_word((session.country_id in [3, 6] ? product.name_alt : product.sku_name), 50) }}</a>
                                    </td>
                                    <td>{{ product.sku_number }}</td>
                                    <td class="center">{{ product.date_created }}</td>
                                    <td class="center">{{ product.last_updated }}</td>
                                    {% if has_permission('edit', 'product') or has_permission('delete', 'product') %}
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% include 'ami/components/table_btn.html.twig' with {url: 'ami/products', id: product.id, permission: 'product'} %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}