<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ product.sku_name }}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <p>{{ product.description|raw }}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>            
            {% if has_permission('edit', 'product') %}
                {{ html_btn(site_url('ami/products/edit/' ~ product.id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>