{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script>
        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }

        $(function () {
            $('.select-change').on('change', function (e) {
                var $this = $(this),
                        name = $this.attr('name'),
                        val = $this.find(":selected").val(),
                        $container = $this.closest('.select-change-container');

                if (val) {
                    $.ajax({
                        url: "{{ site_url('ami/customers/country') }}",
                        data: {key: name, value: val},
                        type: 'POST',
                        dataType: 'json',
                        success: function (res) {

                            if (!res.field) {
                                return;
                            }

                            var options = '<option value="">-Select-</option>';
                            for (var key in res.value) {
                                options += '<option value="' + toTitleCase(res['value'][key]) + '">' + toTitleCase(res['value'][key]) + '</option>';
                            }

                            $('select[name=' + res.field + ']').find('option').remove().end().append(options);
                        }
                    });
                } else {
                    if ($container.length) {
                        $container.nextAll('.select-change-container').each(function () {
                            $(this).find('.select-change option').remove();
                        });
                    }
                }
            });

            $('#ChannelSelect').on('change', function () {
                var $this = $(this),
                        weightage = $this.find('option:selected').data('weightage') || 0;

                $('#ChannelWeightage').val(weightage);
            });

            $('#InputSalespersons').autocomplete({
                source: "{{ site_url('ami/salespersons/tokenfield') }}",
                delay: 100,
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    $('#InputSalespersonsId').val(ui.item.value);
                }
            }).on('focus', function () {
                this.select();
            });
        });
    </script>
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/distributors/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {armstrong_2_distributors_id: distributor.armstrong_2_distributors_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Distributors</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/distributors', id: distributor.armstrong_2_distributors_id, permission: 'distributor'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="form-group">
                {{ form_label('Armstrong 1 distributors id', 'armstrong_1_distributors_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_1_distributors_id', value: distributor.armstrong_1_distributors_id, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Armstrong 2 distributors id', 'armstrong_2_distributors_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_2_distributors_id', value: distributor.armstrong_2_distributors_id, class: 'form-control', 'disabled': 'disabled'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Name', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'name', value: distributor.name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            {% if groups|length > 1 %}
                <div class="form-group">
                    {{ form_label('Group', 'groups_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('groups_id', groups, distributor.groups_id, 'class="form-control" data-parsley-required="true"') }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Asst Manager', 'asst_manager', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'asst_manager', value: distributor.asst_manager, class: 'form-control'}) }}
                </div>
            </div>

            {# {% if salespersons|length > 1 %}
                <div class="form-group">
                    {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('armstrong_2_salespersons_id', salespersons, distributor.armstrong_2_salespersons_id, 'class="form-control" data-parsley-required="true"') }}
                    </div>
                </div>
            {% endif %} #}

            {% if salespersons|length > 1 %}
                <div class="form-group">
                    {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('armstrong_2_salespersons_id', salespersons, distributor.armstrong_2_salespersons_id, 'class="form-control" ') }}
                    </div>
                </div>
            {% endif %}

            {#<div class="form-group">#}
            {#{{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}#}
            {#<div class="col-sm-6">#}
            {#&#123;&#35; {{ form_input({name: 'armstrong_2_salespersons_id', value: distributor.armstrong_2_salespersons_id, class: 'form-control', id: 'InputSalespersons'}) }} &#35;&#125;#}
            {#{{ form_input({name: 'armstrong_2_salespersons_id_', #}
            {#value: salespersons ? salespersons.armstrong_2_salespersons_id ~ ' - ' ~ salespersons.first_name ~ ' ' ~ salespersons.last_name : '', #}
            {#class: 'form-control', #}
            {#id: 'InputSalespersons'#}
            {#}) }}#}
            {#</div>#}
            {#<input type="hidden" name="armstrong_2_salespersons_id" id="InputSalespersonsId" value="{{ distributor.armstrong_2_salespersons_id }}" />#}
            {#</div>#}
            <div class="form-group">
                {{ form_label('SSD ID', 'ssd_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'ssd_id', value: distributor.ssd_id, class: 'form-control'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('SSD Name', 'sap_cust_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sap_cust_name', value: distributor.sap_cust_name, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Sap ID', 'sap_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sap_id', value: distributor.sap_id, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Street Address', 'street_address', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'street_address', value: distributor.street_address, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            {% for key, countryField in countryHierachy %}
                <div class="form-group select-change-container">
                    {{ form_label(countryField|capitalize, countryField, {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {% if distributor.armstrong_2_distributors_id %}
                            {{ form_dropdown(countryField, countryValues[countryField], distributor[countryField], 'class="form-control select-change"') }}
                        {% else %}
                            {{ form_dropdown(countryField, (key == 'root') ? rootValues : [], distributor[countryField], 'class="form-control select-change"') }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                {{ form_label('Province', 'province', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'province', value: distributor.province, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Postal Code', 'postal_code', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'postal_code', value: distributor.postal_code, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone', 'phone', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'phone', value: distributor.phone, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone 2', 'phone_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'phone_2', value: distributor.phone_2, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Fax', 'fax', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'fax', value: distributor.fax, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Email', 'email', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'email', value: distributor.email, class: 'form-control', 'data-parsley-type': 'email'}) }}
                </div>
            </div>

            {# <div class="form-group">
                {{ form_label('Update Info', 'update_info', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'update_info', value: distributor.update_info, class: 'form-control'}) }}
                </div>
            </div> #}

            {# <div class="form-group">
                {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label class="">{{ form_checkbox('active', 1, distributor.active) }}</label>
                    </div>
                </div>
            </div> #}

            <div class="form-group">
                {{ form_label('', 'active', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('active', 0, distributor.active == 0) }} Inactive</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('active', 1, distributor.active == 1) }} Active</label>&nbsp;
                </div>
            </div>

            {% if country_channels|length > 1 %}
                <div class="form-group">
                    {{ form_label('Country Channel', 'country_channels_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('country_channels_id', country_channels, distributor.country_channels_id, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}

            {% if country_sub_channels|length > 1 %}
                <div class="form-group">
                    {{ form_label('Country Sub Channel', 'country_sub_channels_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('country_sub_channels_id', country_sub_channels, distributor.country_sub_channels_id, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}

            {% if business_types|length > 1 %}
                <div class="form-group">
                    {{ form_label('Business Types', 'business_types_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('business_types_id', business_types, distributor.business_types_id, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}

            {% if assigned_distributors|length > 1 %}
                <div class="form-group">
                    {{ form_label('Assigned Distributor 1', 'assigned_distributor_1', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('assigned_distributor_1', assigned_distributors, distributor.assigned_distributor_1, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}

            {% if assigned_distributors|length > 1 %}
                <div class="form-group">
                    {{ form_label('Assigned Distributor 2', 'assigned_distributor_2', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('assigned_distributor_2', assigned_distributors, distributor.assigned_distributor_2, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Contact Details', 'contact_details', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'contact_details', value: distributor.contact_details, class: 'form-control', 'rows': 3}) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}