<div class="modal-dialog" style="max-height: 400px">

    {{ form_open(site_url('ami/distributors/pending' ~ distributor.armstrong_2_distributors_id), {class: 'modal-content'}) }}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ distributor.name }} - {{ distributor.armstrong_2_distributors_id }}</h3>
        </div>
        <div class="modal-body">
            {% if amendedData %}
                {% include 'ami/distributors/pending_action_amended_data.html.twig' %}
            {% else %}
                {% include 'ami/distributors/pending_action_data.html.twig' %}
            {% endif %}
        </div>
        <div class="modal-footer">
            {#{% if has_permission('edit', 'customer') %}#}
                {#<a href="{{ site_url('ami/customers/edit/' ~ customer.armstrong_2_customers_id ~ '?filter=1') }}" class="btn btn-primary"><i class="fa fa-fw fa-edit"></i> Edit</a></a>#}
            {#{% endif %}#}
            {% if has_permission('manage_staff', 'salespersons') or has_permission('manage_all', 'salespersons') %}
            {% if app == 'app' %}
            <a href="{{ site_url('ami/distributors/approve/' ~ distributor.armstrong_2_distributors_id ) }}" class="btn btn-success btn-pending-submit"><i class="fa fa-fw fa-thumbs-up"></i> Approve</a></a>
           {% endif %}
            {% if app == 'rej' %}
                <a href="{{ site_url('ami/distributors/reject/' ~ distributor.armstrong_2_distributors_id ) }}" class="btn btn-danger btn-pending-submit"><i class="fa fa-fw fa-thumbs-down"></i> Reject</a></a>
           {% endif %}
            {% endif %}
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
        </div>
    {{ form_close() }}
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>