<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ distributor.name }} - {{ distributor.armstrong_2_distributors_id }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                <div class="list-group">
                    <div class="list-group-item">
                        <i class="fa fa-2x fa-map-marker pull-left"></i>
                        <div class="m-l-xl">                        
                            <div class="list-group-item-text">
                                <h4 class="list-group-item-heading text-muted">Location</h4>
                                <p><span class="text-muted">Street Address:</span> {{ distributor.street_address }}</p>
                                <p><span class="text-muted">City:</span> {{ distributor.city }}</p>
                                {% if distributor.postal_code %}
                                    <p><span class="text-muted">Postal Code:</span> {{ distributor.postal_code}}</p>
                                {% endif %}
                                {% if distributor.region %}
                                    <p><span class="text-muted">Region:</span> {{ distributor.region}}</p>
                                {% endif %}
                                {% if distributor.state %}
                                    <p><span class="text-muted">State:</span> {{ distributor.state}}</p>
                                {% endif %}
                                {% if distributor.district %}
                                    <p><span class="text-muted">District:</span> {{ distributor.district}}</p>
                                {% endif %}
                                {% if distributor.suburb %}
                                    <p><span class="text-muted">Suburb:</span> {{ distributor.suburb}}</p>
                                {% endif %}
                                {% if distributor.province %}
                                    <p><span class="text-muted">Province:</span> {{ distributor.province}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if distributor.email %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-envelope-o pull-left"></i>
                            <div class="m-l-xl">                        
                                <h4 class="list-group-item-heading text-muted">Email</h4>
                                <p class="list-group-item-text"><a href="mailto:{{ distributor.email }}">{{ distributor.email }}</a></p>
                            </div>
                        </div>
                    {% endif %}

                    {% if distributor.phone %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-phone pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Phone</h4>
                                <p class="list-group-item-text">{{ distributor.phone }} {{ distributor.phone_2 ? ' - ' ~ distributor.phone_2 : ''}}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if distributor.fax %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-fax pull-left"></i>
                            <div class="m-l-lg">                        
                                <h4 class="list-group-item-heading text-muted">Fax</h4>
                                <p class="list-group-item-text">{{ distributor.fax }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if distributor.contact_details %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-info-circle pull-left"></i>
                            <div class="m-l-xl">                        
                                <h4 class="list-group-item-heading text-muted">Contact Details</h4>
                                <p class="list-group-item-text">{{ distributor.contact_details }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'distributor') %}
                {{ html_btn(site_url('ami/distributors/edit/' ~ distributor.armstrong_2_distributors_id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>