{% extends "ami/base.html.twig" %}

{% block content %}
    {% if exists == false %}
        {{ form_open(site_url('ami/kpi/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: setting.id}) }}

        <div class="row sticky sticky-h1 bg-white">
            <div class="col-lg-12">
                <div class="page-header nm">
                    <h1 class="pull-left">KPI Settings</h1>
                    <div class="text-right">
                        {% include 'ami/components/form_btn.html.twig' with {url: 'ami/kpi', id: setting.id, permission: 'kpi_settings'} %}
                    </div>
                    <div class="clearfix"></div>
                </div>              
            </div>
        </div>

        <div class="row m-t-md">
            <div class="col-lg-12">            
                    {% if salespersons|length > 1 %}
                        <div class="form-group">
                            {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_dropdown('armstrong_2_salespersons_id', salespersons, setting.armstrong_2_salespersons_id, 'class="form-control" data-parsley-required="true"') }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form_label('KPI Call Target', 'kpi_call_target', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'kpi_call_target', value: setting.kpi_call_target, class: 'form-control', 
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label('KPI New Grab Target', 'kpi_new_grab_target', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'kpi_new_grab_target', value: setting.kpi_new_grab_target, class: 'form-control', 
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10
                            }) }}
                        </div>
                    </div>                

                    <div class="form-group">
                        {{ form_label('KPI New Grib Target', 'kpi_new_grip_target', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'kpi_new_grip_target', value: setting.kpi_new_grip_target, class: 'form-control', 
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label('KPI Sale Target', 'kpi_sale_target', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'kpi_sale_target', value: setting.kpi_sale_target, class: 'form-control', 
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label('Month', 'month', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('month', select_month(), setting.month|number_format, 'class="form-control" data-parsley-required="true"') }}
                        </div>
                    </div>  

                    <div class="form-group">
                        {{ form_label('Year', 'year', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('year', select_year(2010), setting.year, 'class="form-control" data-parsley-required="true"') }}
                        </div>
                    </div>  
            </div>
        </div> 

        {{ form_close() }}   
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <h3>You can not create new kpi target for this month</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}