{% extends "base.html.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ site_url('res/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/jquery-migrate-1.2.1.js') }}"></script>
    <script>
        var BASE_URL = '{{ site_url() }}',
                CURRENT_URL = '{{ current_url() }}';
        function base_url() {
            return BASE_URL;
        }
        function current_url() {
            return CURRENT_URL;
        }
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ site_url('res/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/jqueryui/jquery-ui-1.10.4.min.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/ami.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/metisMenu/metisMenu.min.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/parsley/parsley.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ site_url('res/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ site_url('res/js/plugins/slimscroll/jquery.slimscroll.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/plugins/metisMenu/metisMenu.min.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/plugins/bootbox/bootbox.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/sb-admin-2.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/plugins/parsley/parsley.remote.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ site_url('res/js/plugins/ScrollToFixed/jquery-scrolltofixed-min.js') }}"></script>

{% endblock %}

{% block body %}

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {% include 'ami/components/nav.html.twig' %}
            {#{% if(session.roleName == 'Admin' or session.sub_type == 'cdops') %}#}
                {% include 'ami/components/sidebar.html.twig' %}
            {#{% endif %}#}
        </nav>

        <div id="page-wrapper">
            {% block content %}
                {% include subview ~ '.html.twig' %}
            {% endblock %}
        </div>
    </div>

    {% include 'ami/components/modal_import.html.twig' %}

{% endblock %}