{% extends 'ami/base.html.twig' %}

{% block js %}
{{ parent() }}

<script>
$(function() {
    $('.dropdown-toggle').dropdown();
    
    $(document).on('click', '.country_select', function (e) {
        var $this = $(this),
            countryId = $this.data('countryid');

        if (countryId)
        {
            $('#countrySelect').empty().html($this.html());
            $('#countryId').val(countryId);
        }
    });

});
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        {% if validation_errors() or alert_failed %}
                            <div class="alert alert-danger">
                                {{ validation_errors() }}
                                {{ alert_failed }}
                            </div>
                        {% endif %}

                        {{ form_open('ami/dashboard/check_login') }}
                        <fieldset>
                            <div class="form-group">
                                <?php //echo form_dropdown('country_id', $countries, $country_id, 'class="form-control"') ?>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle full-width" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <span id="countrySelect">
                                            {% if country_id %}
                                                {{ countries[country_id]|raw }}
                                            {% else %}
                                                Select a Country
                                            {% endif %}                                        
                                        </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu full-width text-center" role="menu" aria-labelledby="dropdownMenu1">
                                        {% for key, country in countries %}
                                            <li role="presentation"><a class="country_select" data-countryid="{{ key }}" role="menuitem" tabindex="-1" href="#">{{ country|raw }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group" for="country">
                                <label class="control-label" for="email">Please key in your Armstrong user ID</label>
                                {{ form_input('email', set_value('email', ''), 'id="email" class="form-control" placeholder="E-mail" autofocus') }}
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Please key in your Armstrong user password</label>
                                {{ form_password('password', set_value('password', ''), 'id="password" class="form-control" placeholder="Password" autofocus') }}
                            </div>
                            <input type="hidden" name="country_id" value="{{ country_id }}" id="countryId">
                            <!-- Change this to a button or input when using this as a form -->
                            {{ form_submit('submit', 'Login', 'class="btn btn-lg btn-success btn-block"') }}
                        </fieldset>
                        {{ form_close() }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}