{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script>
        $(document).ready(function () {

            {% set startDate = lastCycle.date_end
                ? lastCycle.date_end.addDay()
                : Carbon.now()  %}

            var options = {
                format: 'YYYY-MM-DD',
                startDate: '{{ startDate.toDateString() }}',
                endDate: '{{ startDate.addDay.toDateString() }}'
            }

            {% if lastCycle.date_end %}
            options.minDate = '{{ lastCycle.date_end.addDay().toDateString() }}'
            {% endif %}

            console.log(options);

            $('.cycle-date').daterangepicker(options)
                    .on('apply.daterangepicker', function (ev, picker) {
                        var $this = $(this)
                        $parent = $this.closest('.form-group')
                        $startDate = $parent.find('.cycle-date-start'),
                                $endDate = $parent.find('.cycle-date-end'),
                                startDate = picker.startDate.format('YYYY-MM-DD'),
                                endDate = picker.endDate.format('YYYY-MM-DD');

                        $startDate.val(startDate);
                        $endDate.val(endDate);
                    });

        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/setting_cycle/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Add Cycle</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/setting_cycle', id: null, permission: 'setting_cycle'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Cycle Name', 'cycle_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({
                    name: 'cycle_name',
                    value: '',
                    class: 'form-control',
                    'data-parsley-required': 'true'
                    }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Cycle', 'cycle', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({
                    name: 'cycle',
                    value: '',
                    class: 'form-control cycle-date',
                    'data-parsley-required': 'true'
                    }) }}

                    {{ form_input({
                    name: 'date_start',
                    value: '',
                    type: 'hidden',
                    class: 'hide cycle-date-start'
                    }) }}

                    {{ form_input({
                    name: 'date_end',
                    value: '',
                    type: 'hidden',
                    class: 'hide cycle-date-end'
                    }) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}