{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script>
$(document).ready(function () {

	$('.cycle-date').daterangepicker({
		format: 'YYYY-MM-DD',
	})
	.on('show.daterangepicker', function(ev, picker) {
		var $this = $(this),
			picker = $this.data('daterangepicker'),
			minDate = $this.data('mindate'),
			maxDate = $this.data('maxdate'),
			options = {format: 'YYYY-MM-DD'};

		if (minDate)
		{
			options.minDate = minDate;	
		}

		if (maxDate)
		{
			options.maxDate = maxDate
		}

		picker.setOptions(options);
	})
	.on('apply.daterangepicker', function(ev, picker) {
		var $this = $(this)
			$parent = $this.closest('.form-group')
			$startDate = $parent.find('.cycle-date-start'),
			$endDate = $parent.find('.cycle-date-end'),
			startDate = picker.startDate.format('YYYY-MM-DD'),
			endDate = picker.endDate.format('YYYY-MM-DD');

		$startDate.val(startDate);
		$endDate.val(endDate);
	});

});
</script>
{% endblock %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}

{% block content %}
	{{ form_open(site_url('ami/setting_cycle/update'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}) }}

	<div class="row sticky sticky-h1 bg-white">
		<div class="col-lg-12">
			<div class="page-header nm">
				<h1 class="pull-left">OTM Cycle Settings</h1>

				<div class="text-right">
					<div class="btn-header-toolbar">
						{% if has_permission('add', 'setting_cycle') or has_permission('edit', 'setting_cycle') %}
							{{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
						{% endif %}

						{% if has_permission('add', 'setting_cycle') %}
							{{ html_btn(site_url('ami/setting_cycle/add'), '<i class="fa fa-fw fa-plus"></i> Add</a>', {'class': 'btn-default'}) }}
						{% endif %}
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row m-t-md">
		<div class="col-lg-12">
			{% for i,cycle in cycles %}
				{% set minDate = cycles[i - 1]['date_end'] ? cycles[i - 1]['date_end'].addDay() : '' %}
				{% set maxDate = cycles[i + 1]['date_start'] ? cycles[i + 1]['date_start'].subDay() : '' %}
                <div class="form-group">
                    {{ form_label('Cycle Name', 'cycle_' ~ cycle.id, {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({
                        name: 'cycle[' ~ cycle.id ~ '][cycle_name]',
                        value: cycle.cycle_name,
                        class: 'form-control',
                        'data-parsley-required': 'true'
                        }) }}
                    </div>
                </div>
				<div class="form-group">
					{{ form_label('Cycle', 'cycle_' ~ cycle.id, {class: 'control-label col-sm-3'}) }}
					<div class="col-sm-6">
						{{ form_input({
							name: 'cycle_' ~ cycle.id, 
							value: cycle.date_range, 
							class: 'form-control cycle-date',
							'data-mindate': minDate.toDateString(),
							'data-maxdate': maxDate.toDateString(),
						}) }}

						{{ form_input({
							name: 'cycle[' ~ cycle.id ~ '][date_start]', 
							value: cycle.date_start, 
							type: 'hidden', 
							class: 'hide cycle-date-start'
						}) }}

						{{ form_input({
							name: 'cycle[' ~ cycle.id ~ '][date_end]', 
							value: cycle.date_end, 
							type: 'hidden', 
							class: 'hide cycle-date-end'
						}) }}
					</div>
					<div class="col-sm-3">
						<a href="{{ site_url('ami/setting_cycle/delete/' ~ cycle.id) }}" data-toggle="ajaxModal" class="btn btn-default btn-clone delete-cycle-btn"><i class="fa fa-times"></i></a>
					</div>
				</div>
                <hr/>
			{% endfor %}
		</div>
	</div>

	{{ form_close() }}
{% endblock %}