{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/competitor_products/ajaxData') }}",*/
                "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
                'order': [[1, 'asc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/competitor_products/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Competitor Products Draft' : 'Competitor Products' }}</h1>

                <div class="text-right">
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/competitor_products', icon: 'fa-line-chart', title: 'Competitor Products', permission: 'competitor_products'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'competitor_products') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th class="nosort"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in data %}
                                <tr>
                                    {% if has_permission('delete', 'competitor_products') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: post.id}) }}</td>
                                    {% endif %}
                                    <td>{{ post.name }} {{ post.product_name }}</td>
                                    <td class="center">{{ post.quantity }}</td>
                                    <td class="center">{{ post.price }}</td>
                                    <td class="center">{{ post.date_created }}</td>
                                    <td class="center">{{ post.last_updated }}</td>
                                    <td class="center text-center" style="min-width: 80px;">
                                        {% if has_permission('edit', 'competitor_products') or has_permission('delete', 'competitor_products') %}
                                            {% include 'ami/components/table_btn.html.twig' with {url: 'ami/competitor_products', id: post.id, permission: 'competitor_products'} %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% set paginationUrl = draft ? 'ami/competitor_products/draft' : 'ami/competitor_products' %}
                                {{ pagination({base_url: site_url(paginationUrl), per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}