

<div class="btn-header-toolbar">
    {% if show_by_salespersons == 1 %}
        <a  onclick="getSalesperson()" title="Delete" class="btn btn-info" ><i class="fa fa-users"></i> Show</a>
        {{ form_button({type: 'button', content: '<i class="fa fa-fw fa-check"></i> Transfer', onclick: 'myConfirm()' , class: 'btn btn-success'}) }}
        {{ html_btn(site_url(url), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
    {% else %}
        {% if has_permission('add', permission) or has_permission('edit', permission) %}
            {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
        {% endif %}

        {{ html_btn(site_url(url), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
        {% if id and has_permission('delete', permission) %}
            <a href="{{ site_url(url ~ '/delete/' ~ id) }}" title="Delete" class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
        {% endif %}
    {% endif %}


</div>