

<div class="btn-header-toolbar">
    {% if has_permission('add', permission) or has_permission('edit', permission) %}
        {{ form_button({type: 'button', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success', onClick: 'saveRecord()'}) }}
    {% endif %}
</div>