<div class="modal-dialog">
    {{ form_open(action, {class: 'modal-content'}, {'redirect': redirect}) }}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Confirm</h3>
        </div>
        <div class="modal-body">
            <p>{{ message }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Proceed', class: 'delete btn btn-danger'}) }}
        </div>
    {{ form_close() }}
</div>