<a class="btn btn-primary hide" id="ImportModalTrigger" data-toggle="modal" data-target="#ImportModal">Button</a>

<div class="modal fade" id="ImportModal" tabindex="-1" role="dialog" aria-labelledby="ImportModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        {{ form_open(action, {class: 'modal-content'}, {'redirect': redirect}) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="ImportModalLabel">Import</h3>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <div class="modal-footer-message"></div>    
            </div>
        {{ form_close() }}
    </div>
</div>