<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ site_url('ami/dashboard') }}">
        {{ site_name }}
    </a>
</div>

<ul class="nav navbar-top-links navbar-right">
    {#<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <li>
                <a href="#">
                    <div>
                        <strong>John Smith</strong>
                        <span class="pull-right text-muted">
                            <em>Yesterday</em>
                        </span>
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <strong>John Smith</strong>
                        <span class="pull-right text-muted">
                            <em>Yesterday</em>
                        </span>
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <strong>John Smith</strong>
                        <span class="pull-right text-muted">
                            <em>Yesterday</em>
                        </span>
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>Read All Messages</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-tasks">
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 1</strong>
                            <span class="pull-right text-muted">40% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 2</strong>
                            <span class="pull-right text-muted">20% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 3</strong>
                            <span class="pull-right text-muted">60% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 4</strong>
                            <span class="pull-right text-muted">80% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>See All Tasks</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small">12 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->#}
    {% if session.type == 'SL' or session.type == 'ADMIN' %}
        {% if session.country_code in ['tw'] and session.roleName == 'Sales Manager' %}
            <li>
                <a href="{{ site_url('ami/ssd/pending') }}">
                    <i class="fa fa-money fa-fw"></i> Pending Consolidated Orders <span
                            class="badge {{ pendingSsd ? 'progress-bar-danger' : '' }}">{{ pendingSsd }}</span>
                </a>
            </li>
        {% endif %}

        {% if session.country_code in ['tw', 'my', 'hk', 'sa', 'ph', 'id', 'vn', 'th'] %}
            {% if has_permission('manage_all', 'salespersons') or has_permission('manage_staff', 'salespersons') %}
                <li class="dropdown dropdown-reports">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-group fa-fw"></i> Pending Customer <span
                                class="badge {{ pendingCustomers ? 'progress-bar-danger' : '' }}">{{ totalpendingCustomers }}</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu multi-level">
                        <li>
                            <a href="{{ site_url('ami/customers?filter=pending') }}">
                                Pending Customer <span
                                        class="badge {{ pendingCustomers ? 'progress-bar-danger' : '' }}">{{ pendingCustomers }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ site_url('ami/distributors?filter=pending') }}">
                                Pending Distributor <span
                                        class="badge {{ pendingDistributors ? 'progress-bar-danger' : '' }}">{{ pendingDistributors }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ site_url('ami/wholesalers?filter=pending') }}">
                                Pending Wholesalers <span
                                        class="badge {{ pendingWholesalers ? 'progress-bar-danger' : '' }}">{{ pendingWholesalers }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        {% endif %}
    {% endif %}

    <li class="dropdown dropdown-reports">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bar-chart fa-fw"></i> Reports
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu multi-level">
            {% if report_perm.summary_report_view == 1 or super_admin == true %}
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Summary Reports</a>
                    <ul class="dropdown-menu">
                        {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_summary') }}">
                            01. All-in-One Transactions Summary Report</a></li> #}
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/report_call') }}">
                                01. Call Report</a></li>
                        {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_tfo') }}">
                            03. TFO Report</a></li> #}
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/report_pantry_check') }}">
                                02. Pantry Report</a></li>
                        {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_sampling') }}">
                            05. Sampling Report</a></li> #}
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/report_otm') }}">
                                03. OTM Report</a></li>
                        {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_approval') }}">
                            07. Approval Report</a></li> #}
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/report_customers') }}">
                                04. Customer Report</a></li>
                        {#<li><a tabindex="-1" href="{{ site_url('ami/reports/top_ten_penetration_sr') }}">#}
                        {#09. Top 10 Penetration Report </a></li>#}
                        {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_route_plan') }}">
                            10. Route Plan Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/report_grip_and_grab_sr') }}">
                            11. Grip And Grap Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/report_route_plan') }}">
                            12. Route Plan Report</a></li> #}
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/get_app_versions_report') }}">
                                05. App Versions Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/new_reports/penetration_data_report') }}">
                                06. Penetration Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/penetration_customers_report') }}">
                                07. Customers Penetration Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/get_perfect_call_report_tracking') }}">
                                08. Perfect Call Report</a></li>
                        {#<li><a tabindex="-1" href="{{ site_url('ami/reports/coaching_summary') }}">#}
                                {#09. Coaching Summary</a></li>#}
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/rich_media') }}">
                                09. Rich Media Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/grip_grab_report') }}">
                                10. GGG Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/promotions_activity_report') }}">
                                11. Promotion Activities</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/report_last_pantry_check') }}">
                                12. Last Pantry Check Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/rich_media_demonstration') }}">
                                13. Rich media demostration Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/summary_out_of_trade_report') }}">
                                14. Out Of Trade Reports</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if report_perm.transaction_report_view == 1 or super_admin == true %}
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Transaction Data</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_call') }}">
                                01. Call and Route Data</a></li>
                        {# <li><a tabindex="-1" href="{{ site_url('ami/reports/data_otm') }}">
                            02. OTM Data</a></li> #}
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_tfo') }}">
                                02. TFO - PSD</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_ssd') }}">
                                03. SSD Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_pantry_check') }}">
                                04. Pantry/Inventory Check Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_sampling') }}">
                                05. Sampling Data</a></li>
                        {# <li><a tabindex="-1" href="{{ site_url('ami/reports/new_customer_report') }}">
                            07. New Customer Report</a></li> #}
                        {#<li><a tabindex="-1" href="{{ site_url('ami/reports/top_ten_penetration_calculation_tr') }}">#}
                        {#08. Top 10 Penetration Transaction Calculation Data</a></li>#}
                        {# <li><a tabindex="-1" href="{{ site_url('ami/reports/new_grip_report') }}">
                            09. New Grip Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/new_grab_report') }}">
                            10. New Grab Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/lost_grip_report') }}">
                            11. Lost Grip Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/lost_grab_report') }}">
                            12. Lost Grab Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/potential_lost_grip_report') }}">
                            13. Potential Lost Grip Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/potential_lost_grab_report') }}">
                            14. Potential Lost Grab Data</a></li> #}
                        {#<li><a tabindex="-1" href="{{ site_url('ami/reports/top_ten_penetration_tr') }}">#}
                        {#15. Top 10 Penetration Data</a></li>#}
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/competitor_reprot') }}">
                                06. Competitor Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/objective_record_data') }}">
                                07. Objective Record Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/activities_log_data') }}">
                                08. Activities Log Data</a></li>
                        {#<li><a tabindex="-1" href="{{ site_url('ami/reports/get_detail_app_versions_report') }}">#}
                        {#19. Detail App Versions Report</a></li>#}
                        {#<li><a tabindex="-1" href="{{ site_url('ami/reports/get_perfect_call_report') }}">#}
                        {#20. Perfect Call Report</a></li>#}
                        <li><a tabindex="-1"
                               href="{{ site_url('ami/reports/get_perfect_call_report_tracking_detail') }}">
                                09. Perfect Call Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/get_perfect_store_report') }}">
                                10. Perfect Store Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/coaching_note') }}">
                                11. Coaching Note Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/customer_profiling_transaction') }}">
                                12. Customer Profiling Transaction Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/rap_report') }}">
                                13. RAP Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/dish_penetration_report') }}">
                                14. Dish Penetration Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/free_gift_report') }}">
                                15. Free Gift Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/ggg_report') }}">
                                16. GGG Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/notes_report') }}">
                                17. Notes Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/email_report') }}">
                                18. Email Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/uplift_report') }}">
                                19. UPLIFT Transactional Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/qc_report') }}">
                                20. QC Transactional Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/avp_point_report') }}">
                                21. AVP Point Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/gift_voucher_report') }}">
                                22. Gift Voucher Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/assessment_report') }}">
                                23. Assessment Reports</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/out_of_trade_report') }}">
                                24. Out of Trade Reports</a></li>
                        {#<li><a tabindex="-1" href="{{ site_url('ami/reports/data_inventory_check') }}">#}
                        {#23. Inventory Check Report</a></li>#}
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/transaction_rich_media_demonstration') }}">
                                25. Rich media demostration Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/ttl_report') }}">
                                26. TTL Report</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/bo_file') }}">
                                27. BO File</a></li>
                    </ul>
                </li>
            {% endif %}
            {#{% if session.roleName in ['Admin', 'Trainer', 'Managing Director'] or (session.country_code not in ['tw'] and session.roleName in ['Sales Manager'])%}#}
            {% if report_perm.master_report_view == 1 or super_admin == true %}
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Master Data</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_customers') }}">
                                01. Customer Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_product') }}">
                                02. Product Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_route_plan') }}">
                                03. Route Plan Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_organization') }}">
                                04. Organization Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_region_master') }}">
                                05. Region Master Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_ssd_mt') }}">
                                06. SSD Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_distributors') }}">
                                07. Distributors Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_wholesalers') }}">
                                08. Wholesalers Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/data_recipes') }}">
                                09. Recipes Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/route_master_temp') }}">
                                10. Route Master Template</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/customer_contact_data') }}">
                                11. Customer Contact Data</a></li>
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/perfect_store_master_data') }}">
                                12. Perfect Store Master Data</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if report_perm.business_report_view == 1 or super_admin == true %}
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Business Reports</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ site_url('ami/reports/customer_profiling?filter=regional') }}">
                                01. Customer Profiling Report</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </li>
    {% for sub_menu in hiddenMenus %}
        {% if(sub_menu.id in [session.sub_roles_id] or session.roles_id == -1 ) %}
            {% if(sub_menu.name == 'regional') %}
                {#Regional report#}
                <li class="dropdown dropdown-reports">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bar-chart fa-fw"></i> Regional
                        <i class="fa fa-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu multi-level">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Summary Reports</a>
                            <ul class="dropdown-menu">
                                {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_summary') }}">
                                    01. All-in-One Transactions Summary Report</a></li> #}
                                <li><a tabindex="-1" href="{{ site_url('ami/reports/report_call?filter=regional') }}">
                                        01. Call Report</a></li>
                                {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_tfo') }}">
                                    03. TFO Report</a></li> #}
                                <li><a tabindex="-1"
                                       href="{{ site_url('ami/reports/report_pantry_check?filter=regional') }}">
                                        02. Pantry Report</a></li>
                                {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_sampling') }}">
                                    05. Sampling Report</a></li> #}
                                <li><a tabindex="-1" href="{{ site_url('ami/reports/report_otm?filter=regional') }}">
                                        03. OTM Report</a></li>
                                {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_approval') }}">
                                    07. Approval Report</a></li> #}
                                <li><a tabindex="-1"
                                       href="{{ site_url('ami/reports/report_customers?filter=regional') }}">
                                        04. Customer Report</a></li>
                                {#<li><a tabindex="-1" href="{{ site_url('ami/reports/top_ten_penetration_sr') }}">#}
                                {#09. Top 10 Penetration Report </a></li>#}
                                {# <li><a tabindex="-1" href="{{ site_url('ami/reports/report_route_plan') }}">
                                    10. Route Plan Report</a></li>
                                <li><a tabindex="-1" href="{{ site_url('ami/reports/report_grip_and_grab_sr') }}">
                                    11. Grip And Grap Report</a></li>
                                <li><a tabindex="-1" href="{{ site_url('ami/reports/report_route_plan') }}">
                                    12. Route Plan Report</a></li> #}
                                <li><a tabindex="-1"
                                       href="{{ site_url('ami/reports/get_app_versions_report?filter=regional') }}">
                                        05. App Versions Report</a></li>
                                <li><a tabindex="-1"
                                       href="{{ site_url('ami/reports/penetration_data_report?filter=regional') }}">
                                        06. Penetration Report</a></li>
                                <li><a tabindex="-1"
                                       href="{{ site_url('ami/reports/penetration_customers_report?filter=regional') }}">
                                        07. Customers Penetration Report</a></li>
                                <li><a tabindex="-1"
                                       href="{{ site_url('ami/reports/get_perfect_call_report_tracking?filter=regional') }}">
                                        08. Perfect Call Report</a></li>
                                <li><a tabindex="-1"
                                       href="{{ site_url('ami/reports/regional_sync_report?filter=regional') }}">
                                        09. Regional Sync Report</a></li>
                            </ul>
                        </li>


                        {% if session.roleName in ['Admin'] %}
                            {#<li class="dropdown-submenu">#}
                            {#<a tabindex="-1" href="#">Master Data</a>#}
                            {#<ul class="dropdown-menu">#}
                            {#<li><a tabindex="-1"#}
                            {#href="{{ site_url('ami/reports/data_customers?filter=regional') }}">#}
                            {#01. Customer Data</a></li>#}
                            {#<li><a tabindex="-1" href="{{ site_url('ami/reports/data_product?filter=regional') }}">#}
                            {#02. Product Data</a></li>#}
                            {#<li><a tabindex="-1"#}
                            {#href="{{ site_url('ami/reports/data_route_plan?filter=regional') }}">#}
                            {#03. Route Plan Data</a></li>#}
                            {#<li><a tabindex="-1"#}
                            {#href="{{ site_url('ami/reports/data_organization?filter=regional') }}">#}
                            {#04. Organization Data</a></li>#}
                            {#<li><a tabindex="-1"#}
                            {#href="{{ site_url('ami/reports/data_region_master?filter=regional') }}">#}
                            {#05. Region Master Data</a></li>#}
                            {#<li><a tabindex="-1" href="{{ site_url('ami/reports/data_ssd_mt?filter=regional') }}">#}
                            {#06. SSD Data</a></li>#}
                            {#<li><a tabindex="-1"#}
                            {#href="{{ site_url('ami/reports/data_distributors?filter=regional') }}">#}
                            {#07. Distributors Data</a></li>#}
                            {#<li><a tabindex="-1"#}
                            {#href="{{ site_url('ami/reports/data_wholesalers?filter=regional') }}">#}
                            {#08. Wholesalers Data</a></li>#}
                            {#<li><a tabindex="-1" href="{{ site_url('ami/reports/data_recipes?filter=regional') }}">#}
                            {#09. Recipes Data</a></li>#}
                            {#<li><a tabindex="-1"#}
                            {#href="{{ site_url('ami/reports/route_master_temp?filter=regional') }}">#}
                            {#10. Route Master Template</a></li>#}
                            {#<li><a tabindex="-1"#}
                            {#href="{{ site_url('ami/reports/customer_contact_data?filter=regional') }}">#}
                            {#11. Customer Contact Data</a></li>#}
                            {#</ul>#}
                            {#</li>#}
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}


    {% if session.roleName in ['Admin', 'Sales Manager'] %}
        <li>
            <a href="{{ site_url('ami/dashboard/infographic') }}" data-toggle="ajaxModal">
                <i class="fa fa-line-chart fa-fw"></i> Infographic
            </a>
        </li>
    {% endif %}

    {#% if session.roleName in ['Admin', 'Sales Manager'] %#}
    <li>
        <a href="{{ site_url('ami/dashboard/infographic_new') }}" data-toggle="ajaxModal">
            <i class="fa fa-line-chart fa-fw"></i> Infographic New
        </a>
    </li>
    {#% endif %#}

    {% if session.roles_id < 0 %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <img src="{{ site_url('res/img/flags/' ~ session.country_code|lower ~ '.png') }}"/> {{ session.country_code|upper }}
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-contries">
                {% for country in countries %}
                    <li {{ (session.country_code|lower ==  country.code|lower) ? 'class="active"' : '' }}>
                        <a href="{{ site_url('ami/dashboard/country/' ~ country.code|lower) }}">
                            <img src="{{ site_url('res/img/flags/' ~ country.code|lower ~ '.png') }}"/> {{ country.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> {{ session.name }} <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a><i class="fa fa-info fa-fw"></i> {{ session.id }}</a></li>
            <li class="divider"></li>
            {#<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>#}
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
            <li class="divider"></li>
            <li>{{ anchor('ami/dashboard/logout','<i class="fa fa-sign-out fa-fw"></i> Logout') }}</a></li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>