{% extends "ami/base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>You do not have permission to view this page or perform this action.</h3>
        </div>
    </div>
{% endblock %}