<div class="navbar-default sidebar" role="navigation">
   <div class="sidebar-nav navbar-collapse" id="sidebar">
        <ul class="nav" id="sidebar-search">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li>
        </ul>
       <ul class="nav" id="side-menu">
            {#<li>{{ anchor('ami/dashboard', '<i class="fa fa-dashboard fa-fw"></i> Dashboard') }}</li>#}
            {#&#123;&#35;<li>{{ anchor('ami/customers', '<i class="fa fa-group fa-fw"></i> Customers') }}</li>&#35;&#125;#}
            {#<li>#}
                {#<a href="#"><i class="fa fa-group fa-fw"></i> Customers<span class="fa arrow"></span></a>#}
                {#<ul class="nav nav-second-level">#}
                    {#<li>{{ anchor('ami/customers', '<i class="fa fa-group fa-fw"></i> List Customers') }}</li>#}
                    {#<li>{{ anchor('ami/customers?filter=pending', '<i class="fa fa-group fa-fw"></i> Pending Customers') }}</li>#}
                    {#<li>{{ anchor('ami/contacts', '<i class="fa fa-tags fa-fw"></i> Contacts') }}</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li>{{ anchor('ami/salespersons', '<i class="fa fa-male fa-fw"></i> Salespersons') }}</li>#}
            {#<li>{{ anchor('ami/distributors', '<i class="fa fa-bus fa-fw"></i> Distributors') }}</li>#}
            {#<li>{{ anchor('ami/wholesalers', '<i class="fa fa-shopping-cart fa-fw"></i> Wholesalers') }}</li>#}
            {#<li>{{ anchor('ami/news', '<i class="fa fa-list-alt fa-fw"></i> News') }}</li>#}
            {#<li>{{ anchor('ami/products', '<i class="fa fa-cubes fa-fw"></i> Products') }}</li>#}
            {#<li>{{ anchor('ami/recipes', '<i class="fa fa-cutlery fa-fw"></i> Recipes') }}</li>#}
            {#<li>{{ anchor('ami/tfo', '<i class="fa fa-star fa-fw"></i> Tfo') }}</li>#}
            {#<li>{{ anchor('ami/ssd', '<i class="fa fa-star-o fa-fw"></i> Ssd') }}</li>#}
            {#<li>{{ anchor('ami/roles', '<i class="fa fa-user fa-fw"></i> Roles') }}</li>#}
           {% for menuItem in menuItems %}
                {% if menuItem.child_nodes|length > 0 %}
                    {% if menuItem.canView %}
                        <li class="sidebar-item {{ (menuHierarchy['ami/' ~ router.class] == menuItem.name) ? 'active' : '' }}">
                            <a href="#"><i class="fa {{ menuItem.icon }} fa-fw"></i> {{ menuItem.display_name }} <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                {% for childNode in menuItem.child_nodes %}
                                    {% if childNode.canView %}
                                        <li>{{ anchor(childNode.slug, '<i class="fa '~ childNode.icon ~' fa-fw"></i> ' ~ childNode.display_name, {
                                            'class': ('ami/' ~ router.class == childNode.slug) ? 'active_z' : ''
                                        }) }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    <li>{{ anchor(menuItem.slug, '<i class="fa '~ menuItem.icon ~' fa-fw"></i> ' ~ menuItem.display_name) }}</li>
                {% endif %}
            {% endfor %}

            {# TEMPORARY ONLY #}
            <li class="sidebar-item ">
                <a href="#"><i class="fa fa-cubes fa-fw"></i> Global SSD <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="{{ site_url('ami/global_ssd') }}" class=""><i class="fa fa-eye fa-fw"></i> View SSD</a></li>
                    <li><a href="{{ site_url('ami/global_ssd/mappingTable') }}" class=""><i class="fa fa-sitemap fa-fw"></i> Mapping Table</a></li>
                </ul>
            </li>
        </ul>

    </div>

</div>