<div class="btn-group">    
    {% if has_permission('edit', permission) %}                                            
        {{ html_btn(site_url(url ~ '/edit/' ~ id), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}
    {% endif %}

    {% if id and has_permission('delete', permission) %}
        {% if draft %}
            {{ html_btn(site_url(url ~ '/restore/' ~ id), '<i class="fa fa-history"></i>', {'class': 'btn-default restore', 'title': 'Restore', 'data-toggle': 'ajaxModal'}) }}        
        {% else %}
            {{ html_btn(site_url(url ~ '/delete/' ~ id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
        {% endif %}
    {% endif %}
</div>