{% if has_permission('view', permission) %}
    <div role="group" class="btn-group btn-header-toolbar">
        {#{% if permission == 'customer' %}#}
            {#<a class="btn btn-sm btn-success" href="{{ site_url(url ~ '/calculate_otm') }}"><i#}
                        {#class=""></i> Run OTM</a>#}
        {#{% endif %}#}
        {% if transfer_btn == 1 %}
            <a class="btn btn-sm btn-primary" href="{{ site_url(url ~ '/transfer_view') }}"><i
                        class="fa fa-exchange"></i> Transfer</a>
        {% elseif transfer_btn == 2 %}
            {% if permission == 'customer' %}
            <a class="btn btn-sm btn-primary" href="{{ site_url(url ~ '/transfer') }}"><i
                        class="fa fa-exchange"></i> Transfer</a>
            {% else %}
            <a class="btn btn-sm btn-primary" href="{{ site_url(url ~ '/transfer_customers') }}"><i
                        class="fa fa-exchange"></i> Transfer</a>
            {% endif %}
        {% endif %}
        {% if has_permission('add', permission) %}
            <a class="btn btn-sm btn-success" href="{{ site_url(url ~ '/add') }}"><i class="fa fw fa-plus"></i> Add</a>
        {% endif %}
        {% if draft %}
            <a class="btn btn-sm btn-default" href="{{ site_url(url) }}"><i class="fa fw {{ icon }}"></i> {{ title }}
            </a>
        {% else %}
            {# <a class="btn btn-sm btn-default" href="{{ site_url(url ~ '/draft') }}"><i class="fa fw fa-trash"></i> Draft</a> #}
        {% endif %}

        {% if getTemplateimport %}
        <a class="btn btn-sm btn-primary" id="getTemplateimport" href="{{ site_url() ~ getTemplateimport }}"
           target="_blank" title="Get template import"><i
                    class="fa fw fa-download"></i>Get Template</a>
        {% endif %}

        {% if has_permission('add', permission) and showImport %}
            <a class="btn btn-sm btn-warning Tooltip" id="ImportPickfiles" href="javascript:;"
               data-url="{{ site_url(url ~ '/import') }}" title="Max records 10000 (csv, xls, xlsx)">
                <i class="fa fw fa-upload"></i> Import</a>
        {% endif %}

        {% if export %}
            <div class="btn-group" role="group">
                <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fw fa-file-excel-o"></i> Export <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="{{ site_url(url ~ '/export/csv') }}">CSV</a></li>
                    <li><a href="{{ site_url(url ~ '/export/xlsx') }}">XLSX</a></li>
                    <li><a href="{{ site_url(url ~ '/export/xls') }}">XLS</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endif %}