<div class="form-group" id="brochureUpload" data-button="uploader_brochure_pickfiles" data-container="uploader_brochure"
     data-url="{{ site_url('ami/media/upload') }}"
     data-multi="true"
     data-maxfilesize="100mb"
     data-params="{{ {'entry_type': entry_type, 'class': 'brochure'}|json_encode() }}"
     data-mimetypes="{{ [{'title' : 'PDF Files', 'extensions' : 'pdf'}]|json_encode() }}">
    {% set label = (entry_type == 'recipes') ? 'Recipe Sheet' : 'Brochure' %}
    {{ form_label(label, 'inputBrochures', {class: 'control-label col-sm-3'}) }}
    <div id="uploader_brochure" class="controls uploader col-sm-6">
        <div class="upload-actions">
            <a class="btn btn-default pick-gallery Tooltip"
               href="{{ site_url('ami/media/view/brochure/' ~ entry_type) }}" data-toggle="ajaxModal"
               title="Select from Media"><i class="fa fa-photo"></i> Media</a>&nbsp;
            <a class="btn btn-default btn-upload" id="uploader_brochure_pickfiles" href="javascript:;"><i
                        class="fa fa-upload"></i> Upload file</a>
        </div>
        <div class="filelist"></div>
        <div class="uploaded row" style="margin-top: 10px">
            {% for brochure in brochures %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ site_url('res/img/pdf.png') }}" width="100%" class="img-responsive">
                        <div class="caption">
                            <span class="label label-primary"
                                  title="{{ brochure.filename_old }}">{{ trim_word(brochure.filename_old, 15) }}</span>
                            <ul class="list-inline" style="margin: 10px 0 0 0;">
                                <a href="{{ MEDIA_URL ~ '/brochure/' ~ brochure.path }}" target="_blank"
                                   class="btn btn-xs btn-default"><i class="fa fa-eye"></i> View</a>
                                <a href="#" data-id="{{ brochure.id }}" data-class="{{ brochure.class }}"
                                   class="btn btn-xs btn-default pull-right delete-media"><i class="fa fa-close"></i>
                                    Delete</a>
                            </ul>
                        </div>
                        <div class="app_type" data-id="{{ brochure.id }}">
                            <ul class="list-inline" style="margin: 0 10px;">
                                <input type="checkbox" name="app_pull"
                                       value="0" {{ brochure.app_type == 0 or brochure.app_type == 2 ? 'checked' : '' }}>
                                <span style="margin-right: 15px">Pull </span>
                                <input type="checkbox" name="app_push"
                                       value="1" {{ brochure.app_type == 1 or brochure.app_type == 2 ? 'checked' : '' }}>
                                Push
                            </ul>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</div>