<div class="form-group" id="videoUpload" data-button="uploader_video_pickfiles" data-container="uploader_video"
    data-url="{{ site_url('ami/media/upload') }}" 
    data-maxfilesize="200mb"
    data-params="{{ {'entry_type': entry_type, 'class': 'video'}|json_encode() }}" 
    data-mimetypes="{{ [{'title' : 'Video Clips', 'extensions' : 'mp4,avi'}]|json_encode() }}">
    {{ form_label('Video', 'inputVideos', {class: 'control-label col-sm-3'}) }}
    <div id="uploader_video" class="controls uploader col-sm-6">                        
        <div class="filelist"></div>
        <div class="upload-actions">
            <a class="btn btn-default pick-gallery Tooltip" href="{{ site_url('ami/media/view/video/' ~ entry_type) }}" data-toggle="ajaxModal" title="Select from Media"><i class="fa fa-photo"></i> Media</a>&nbsp;
            <a class="btn btn-default btn-upload" id="uploader_video_pickfiles" href="javascript:;"><i class="fa fa-upload"></i> Upload file</a>
            <p style="margin-top: 10px"><mark>Videos must be under 200 megabytes and in .mp4, .avi format</mark></p>
        </div>                        
        <div class="uploaded row" style="margin-top: 10px">
            {% for video in videos %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ site_url('res/img/video.png') }}" width="100%" class="img-responsive">
                        <div class="caption">
                            <span class="label label-primary" title="{{ video.filename_old }}">{{ trim_word(video.filename_old, 15) }}</span>
                            <ul class="list-inline" style="margin: 10px 0 0 0;">
                                <a href="{{ MEDIA_URL ~ '/video/'~ MEDIA_FOLDER ~ video.path }}" target="_blank" class="btn btn-xs btn-default"><i class="fa fa-eye"></i> View</a>
                                <a href="#" data-id="{{ video.id }}" data-class="{{ video.class }}" class="btn btn-xs btn-default pull-right delete-media"><i class="fa fa-close"></i> Delete</a>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>