{% set folder_image = entry_type == 'promotions' ? 'promo_image' : 'image' %}
{% set folder_thumb = entry_type == 'promotions' ? '' : 'thumb/' %}
<div class="form-group" id="imageUpload" data-button="uploader_image_pickfiles" data-container="uploader_image"
     data-url="{{ site_url('ami/media/upload') }}"
     data-multi="true"
     data-params="{{ {'entry_type': entry_type, 'class': folder_image}|json_encode() }}"
     data-mimetypes="{{ [{'title' : 'Image files', 'extensions' : 'jpg,jpeg,gif,png'}]|json_encode() }}">
    {{ form_label('Image', 'inputImages', {class: 'control-label col-sm-3'}) }}
    <div id="uploader_image" class="controls uploader col-sm-6">
        <div class="filelist"></div>
        <div class="upload-actions">
            <a class="btn btn-default pick-gallery Tooltip" href="{{ site_url('ami/media/view/'~folder_image~'/' ~ entry_type) }}"
               data-toggle="ajaxModal" title="Select from Media"><i class="fa fa-photo"></i> Media</a>&nbsp;
            <a class="btn btn-default btn-upload" id="uploader_image_pickfiles" href="javascript:;"><i
                        class="fa fa-upload"></i> Upload file</a>
        </div>
        <div class="uploaded row" style="margin-top: 10px">
            {% for image in images %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ MEDIA_URL ~ '/'~folder_image~'/' ~ MEDIA_FOLDER ~ folder_thumb ~ image.path }}"
                             style="width: 100%; height: 138px;" class="img-responsive">

                        <div class="caption">
                            <span class="label label-primary"
                                  title="{{ image.filename_old }}">{{ trim_word(image.filename_old, 15) }}</span>
                            <ul class="list-inline" style="margin: 10px 0 0 0;">
                                <a href="#ModalView" data-src="{{ MEDIA_URL ~ '/'~folder_image~'/' ~ MEDIA_FOLDER ~ image.path }}"
                                   class="btn btn-xs btn-default modal-view" data-toggle="modal"><i
                                            class="fa fa-eye"></i> View</a>
                                <a href="#" data-id="{{ image.id }}" data-class="{{ image.class }}"
                                   class="btn btn-xs btn-default pull-right delete-media"><i class="fa fa-close"></i>
                                    Delete</a>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>