<div class="form-group" id="certUpload" data-button="uploader_cert_pickfiles" data-container="uploader_cert"
    data-url="{{ site_url('ami/media/upload') }}" 
    data-maxfilesize="100mb" 
    data-params="{{ {'entry_type': entry_type, 'class': 'cert'}|json_encode() }}" 
    data-mimetypes="{{ [{'title' : 'PDF Files', 'extensions' : 'pdf'}]|json_encode() }}">
    {{ form_label('Cert', 'inputCerts', {class: 'control-label col-sm-3'}) }}
    <div id="uploader_cert" class="controls uploader col-sm-6">
        <div class="upload-actions">
            <a class="btn btn-default pick-gallery Tooltip" href="{{ site_url('ami/media/view/cert/' ~ entry_type) }}" data-toggle="ajaxModal" title="Select from Media"><i class="fa fa-photo"></i> Media</a>&nbsp;
            <a class="btn btn-default btn-upload" id="uploader_cert_pickfiles" href="javascript:;"><i class="fa fa-upload"></i> Upload file</a>
        </div>
            <div class="filelist"></div>
        <div class="uploaded row" style="margin-top: 10px">
            {% for cert in certs %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ site_url('res/img/pdf.png') }}" width="100%" class="img-responsive">
                        <div class="caption">
                            <span class="label label-primary" title="{{ cert.filename_old }}">{{ trim_word(cert.filename_old, 15) }}</span>
                            <ul class="list-inline" style="margin: 10px 0 0 0;">
                                <a href="{{ MEDIA_URL ~ '/cert/' ~ cert.path }}" target="_blank" class="btn btn-xs btn-default"><i class="fa fa-eye"></i> View</a> 
                                <a href="#" data-id="{{ cert.id }}" data-class="{{ cert.class }}" class="btn btn-xs btn-default pull-right delete-media"><i class="fa fa-close"></i> Delete</a>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>