{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ site_url('res/js/plugins/tokenfield/bootstrap-tokenfield.min.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/salespersons.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/plugins/parsley/parsley.remote.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            sales_type = "{{ person.type }}";
            sub_type = "{{ person.sub_type }}";
            $('#RolesSelector').trigger('change');
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/tokenfield/bootstrap-tokenfield.min.css') }}"/>
    <style>
        select[multiple] {
            min-height: 250px;
        }
    </style>
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/salespersons/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {armstrong_2_salespersons_id: person.armstrong_2_salespersons_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Salespersons</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/salespersons', id: person.armstrong_2_salespersons_id, permission: 'salespersons'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            {% if person.id %}
            <div class="form-group">
                {{ form_label('Armstrong 1 salespersons ID', 'first_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name:'armstrong_1_salespersons_id',value: person.armstrong_1_salespersons_id, class: 'form-control'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Armstrong 2 salespersons Id', 'first_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({value: person.armstrong_2_salespersons_id, class: 'form-control', 'data-parsley-required': 'true', 'disabled': 'disabled'}) }}
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                {{ form_label('First Name', 'first_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'first_name', value: person.first_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Last Name', 'last_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'last_name', value: person.last_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Email', 'email', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    <!--{{ form_input({name: 'email', value: person.email, class: 'form-control',
                        'data-parsley-required': 'true',
                        'data-parsley-type': 'email',
                        'data-parsley-remote': site_url('ami/salespersons/validate'),
                        'data-parsley-remote-message': 'Duplicated email',
                        'data-parsley-remote-options': person.armstrong_2_salespersons_id ? {data: {armstrong_2_salespersons_id: person.armstrong_2_salespersons_id }}
                        |json_encode()|e : '',
                        'data-parsley-trigger': 'focusout'}) }}-->
                    {{ form_input({name: 'email', value: person.email, class: 'form-control',
                        'data-parsley-required': 'true',
                        'data-parsley-type': 'email',
                        'data-parsley-trigger': 'focusout'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Password', 'password', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_password({name: 'password', value: null, class: 'form-control', id: 'inputPassword', 'data-parsley-required': person.password ? 'false' : 'true', 'data-parsley-minlength': 6}) }}
                </div>
            </div>

            {% if not person.password %}
                <div class="form-group">
                    {{ form_label('Confirm Password', 'confirm_password', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_password({name: 'confirm_password', value: null, class: 'form-control', 'data-parsley-equalto': '#inputPassword'}) }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Alias', 'alias', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'alias', value: person.alias, class: 'form-control'}) }}
                </div>
            </div>

            {% if roles|length > 1 %}
                <div class="form-group">
                    {{ form_label('User Role', 'roles_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {#{{ form_dropdown('roles_id', roles, person.roles_id, 'id="RolesSelector" class="form-control" data-depth="' ~ person.roles_id ~ '" data-parsley-required="true"') }}#}
                        <select name="roles_id" id="RolesSelector" class="form-control"
                                data-fetchUrl="{{ site_url('ami/salespersons/roles') }}"
                                data-parsley-required="true" {{ person.armstrong_2_salespersons_id ? 'data-edit=' ~ person.armstrong_2_salespersons_id : '' }}>
                            {% for role in roles %}
                                <option value="{{ role.id }}" data-depth="{{ role.depth }}" data-role="{{ role.name }}"
                                        data-parent="{{ role.parent_id }}" {{ role.id == person.roles_id ? 'selected="selected"' : '' }}>{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}

            {% if types|length > 1 %}
                <div class="form-group">
                    {{ form_label('User Type', 'type', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        <select name="type" class="form-control">
                            {% for type in types %}
                                {#<option value="1">{{ manager.armstrong_2_salespersons_id }}</option>#}
                                <option value="{{ type }}" {{ person.type == type ? 'selected="selected"' : '' }}>{{ type }}</option>
                            {% endfor %}
                        </select>
                        {#{{ form_input({name: 'type', value: person.type, class: 'form-control'}) }}#}
                        {#{{ form_dropdown('type', types, person.type, 'class="form-control"') }}#}
                    </div>
                </div>
            {% endif %}

            {% if sub_types|length > 1 %}
                <div class="form-group">
                    {{ form_label('Sub Type', 'sub_type', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        <select name="sub_type" class="form-control">
                            {% for sub_type in sub_types %}
                                {#<option value="1">{{ manager.armstrong_2_salespersons_id }}</option>#}
                                <option value="{{ sub_type }}" {{ person.sub_type == sub_type ? 'selected="selected"' : '' }}>{{ sub_type }}</option>
                            {% endfor %}
                        </select>
                        {#{{ form_input({name: 'type', value: person.type, class: 'form-control'}) }}#}
                        {#{{ form_dropdown('type', types, person.type, 'class="form-control"') }}#}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Countries Management', 'country_management', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {% if countries_id %}
                        {{ form_dropdown('country_management[]', countries_list, countries_id, 'id="countriesSelector" class="form-control" data-parsley-required="true" multiple') }}
                    {% elseif person.sub_type in ['vp', 'svp'] %}
                        {{ form_dropdown('country_management[]', countries_list, null, 'id="countriesSelector" class="form-control" data-parsley-required="true" multiple') }}
                    {% else %}
                        {{ form_dropdown('country_management[]', countries_list, country_id, 'id="countriesSelector" class="form-control" data-parsley-required="true" multiple') }}
                    {% endif %}
                </div>
            </div>

            {% if managers|length >= 1 %}
                <div class="form-group">
                    {{ form_label('Sales Leader', 'salespersons_manager_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        <select name="salespersons_manager_id" class="form-control">
                            <option value="">-- Default --</option>
                            {% for manager in managers %}
                                {#<option value="1">{{ manager.armstrong_2_salespersons_id }}</option>#}
                                <option value="{{ manager.armstrong_2_salespersons_id }}" {{ person.salespersons_manager_id == manager.armstrong_2_salespersons_id ? 'selected="selected"' : '' }}>{{ manager.first_name }} {{ manager.last_name }}</option>
                            {% endfor %}
                        </select>
                        {#{{ form_dropdown('salespersons_manager_id', managers, person.salespersons_manager_id, 'class="form-control"') }}#}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Territory', 'territory', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'territory', value: person.territory, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Handphone', 'handphone', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'handphone', value: person.handphone, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Did', 'did', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'did', value: person.did, class: 'form-control'}) }}
                </div>
            </div>

            {#tuantq#}
            <div class="form-group">
                {{ form_label('', 'active', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('active', 0, person.active == 0) }} Inactive</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('active', 1, person.active == 1) }} Active</label>&nbsp;
                </div>
            </div>
            {#test acc#}
            <div class="form-group">
                {{ form_label('Test Acc', 'test_acc', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('test_acc', 1, person.test_acc == 1) }} Yes</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('test_acc', 0, person.test_acc == 0) }} No</label>&nbsp;
                </div>
            </div>
            <input type="hidden" id="RoleDepth" name="depth" class="hide"/>

            {#{% if managers|length > 1 %}
                <div class="form-group">
                    {{ form_label('Salespersons Manager', 'salespersons_manager_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('salespersons_manager_id', managers, person.salespersons_manager_id, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}#}
        </div>
    </div>

    {% if (session.country_code in ['tw']) %}
        <div class="form-group">
            {{ form_label('LINE ID', 'line_id', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'line_id', value: person.line_id, class: 'form-control'}) }}
            </div>
        </div>
    {% endif %}

    {{ form_close() }}
{% endblock %}