{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>

    <script>
        $(function () {
            $('#dataTables').dataTable({
                {#"processing": true,#}
                {#"serverSide": true,#}
                {#"ajax": {#}
                {#"url": "{{ site_url('ami/salespersons/ajaxData' ~ spFilter) }}",#}
                {#"type": "POST"#}
                {#},#}
//                'aoColumns': [
//                    {mData: "armstrong_2_salespersons_id"},
//                    {mData: "first_name"},
//                    {mData: "last_name"},
//                    {mData: "email"},
//                    {mData: "date_created", "bSearchable": false},
//                    {mData: "last_updated", "bSearchable": false}
//                ],
                {#"fnRowCallback": function (nRow, aData, iDisplayIndex) {#}
                {#{% if has_permission('delete', 'salespersons') %}#}
                {#$(nRow).prepend('<td class=\"text-center\"><input type=\"checkbox\" value="' + aData['DT_RowId'] + '" name="ids[]"></td>');#}
                {#{% endif %}#}
                {#$(nRow).append('<td class=\"text-center\" style=\"min-width: 130px;\">' + aData['buttons'] + '</td>');#}
                {#},#}
                'order': [[2, 'asc']],
                // 'bPaginate': false,
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
//                    ,{
//                        "targets": [3],
//                        "bSearchable": false
//                    }
//                    ,{
//                        "targets": [4],
//                        "bSearchable": false
//                    }
                ],
                "iDisplayLength": 50
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/salespersons/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Salespersons Draft' : 'Salespersons' }}</h1>

                <div class="text-right">
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/salespersons', icon: 'fa-user', title: 'Salespersons', permission: 'salespersons', export: 1, showImport: 1} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="{{ filter ? '' : 'active' }}"><a role="menuitem"
                                                                                href="{{ site_url('ami/salespersons') }}">Active</a>
                </li>
                <li role="presentation" class="{{ filter == 'inactive' ? 'active' : '' }}"><a role="menuitem"
                                                                                              href="{{ site_url('ami/salespersons?filter=inactive') }}">Inactive</a>
                </li>
            </ul>

            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">

                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'salespersons') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>User Role</th>
                                <th>User Type</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Updated By</th>
                                <th>Is Test acc</th>
                                <th class="nosort text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sales in salespersons %}
                                <tr>
                                    {% if has_permission('delete', 'salespersons') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: sales.armstrong_2_salespersons_id}) }}</td>
                                    {% endif %}
                                    <td>{{ sales.armstrong_2_salespersons_id }}</td>
                                    <td>{{ sales.first_name }}</td>
                                    <td>{{ sales.last_name }}</td>
                                    <td>{{ sales.email }}</td>
                                    <td>{{ sales.roles_id }}</td>
                                    <td>{{ sales.type }}</td>
                                    <td class="center">{{ sales.date_created }}</td>
                                    <td class="center">{{ sales.last_updated }}</td>
                                    <td class="center">{{ sales.updated_name != '' ? sales.updated_name : 'OPS' }}</td>
                                    <td class="center">{{ sales.test_acc == 1 ? 'Yes' : 'No' }}</td>
                                    <td class="center text-center" style="min-width: 80px;">
                                        {% if has_permission('edit', 'salespersons') or has_permission('delete', 'salespersons') %}
                                            <div class="btn-group">
                                                {{ html_btn(site_url('ami/salespersons/edit/' ~ sales.armstrong_2_salespersons_id), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}
                                                {{ html_btn(site_url('ami/salespersons/delete/' ~ sales.armstrong_2_salespersons_id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete ', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                            </div>
                                            {# {% include 'ami/components/table_btn.html.twig' with {url: 'ami/accessibility', id: group.id, permission: 'accessibility'} %} #}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}