{% if managerss|length %}
    <div class="form-group">
        {{ form_label('Manager', 'salespersons_manager_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            <select name="salespersons_manager_id" class="form-control">
                {% for manager in managers %}
                    <option value="{{ manager.armstrong_2_salespersons_id }}" {{ salesperson.manager_id == manager.id ? 'selected="selected"' : '' }}>{{ manager.first_name }} {{ manager.last_name }}</option>
                {% endfor %}     
            </select>
        </div>
    </div>
{% endif %}

{% if persons %}
    <div class="form-group">
        {{ form_label('Persons', 'persons', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'persons', class: 'form-control', id: 'tokenfield'}) }}
        </div>
    </div>

    <script type="text/javascript">
    $(function() {
        var source = {{ persons|json_encode()|raw }};

        $('#tokenfield').tokenfield('destroy');
        $('#tokenfield')
        .on('tokenfield:createtoken', function (e) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function(index, token) {
                if (token.value === e.attrs.value) {
                    e.preventDefault();
                }
            });
        })
        .on('tokenfield:createdtoken', function (e) {
            var found = false;
            $.each(source, function(index, token) {
                if (token.value === e.attrs.value) {
                    // e.preventDefault();
                    found = true;
                }
            });

            if (!found) {
                $(e.relatedTarget).addClass('invalid');
            }
        })
        .tokenfield({
            autocomplete: {
                source: source,
                delay: 100
            }
        });
    });
    </script>
{% endif %}