{% extends "ami/base.html.twig" %}
{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/jquery.autocomplete/jquery.autocomplete.multiselect.js') }}"></script>
    <script>
        $(function(){
            var availableTags = [
                {key: "1",value: "NAME 1"},{key: "2",value: "NAME 2"},{key: "3",value: "NAME 3"},{key: "4",value: "NAME 4"},{key: "5",value: "NAME 5"}
            ];
            $('#myAutocomplete').autocomplete({
                minLength: 0,
                source: availableTags,
                change: function(){
                    alert('xxx');
                },
                multiselect: true
            });
        })
    </script>
{% endblock %}


{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/competitor_products/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': post.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Competitor Products</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/competitor_products', id: ppostt.id, permission: 'competitor_products'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('product_name', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'product_name', value: post.product_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('quantity', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'quantity', value: post.quantity, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('price', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'price', value: post.price, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group sku-base">
                {{ form_label('Ufs Skus', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'ufs_skus', value: '',
                        'class': 'form-control product-tokenfield',
                        'id':'myAutocomplete'
                    }) }}
                    <input  type="text" id="project-id" />
                </div>
            </div>

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}