{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/jquery-number/jquery.number.min.js') }}"></script>
    <script>
        function initProductAutocomplete(destroy) {
            var products_cat_web_id = '?products_cat_web_id='+$('#cat_web').val();
            $('.product-tokenfield').autocomplete({
                name: 'Enter to search',
                source: "{{ site_url('ami/products/tokenfield') }}"+products_cat_web_id,
                delay: 100,
                select: function (event, ui) {
                    event.preventDefault();
                    var $this = $(this),
                            $base = $this.closest('.sku-base'),
                            $input = $base.find('.InputProductId');
                    $this.val(ui.item.label);
                    $input.val(ui.item.value);
                }
            }).on('focus', function () {
                this.select();
            }).attr('placeholder', 'Enter to search');
        }
        $(document).on('change', '#cat_web', function (e) {
            initProductAutocomplete();
        });
        $(document).on('change', '#brand_id', function (e) {
            $('input[name="brand"]').val($('#brand_id option:selected').html());
        });
        $(function () {
            $(document).on('click', '.btn-clone', function (e) {
                e.preventDefault();
                var $this = $(this),
                        $clone = $(this).closest('.sku-base').clone(),
                        nextCounter = $('.product-tokenfield').length;
                $clone.find('.hide').removeClass('hide').show();
                if ($this.hasClass('clone-add')) {
                    $new = $clone.clone();

                    $new.find('input[name], select[name]').each(function () {
                        var $this = $(this);
                        $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, '[' + nextCounter + ']'));

                        if ($this.is('input:text')) {
                            $this.val('');
                        }
                        else {
                            $this.val(0);
                        }
                    });
                    $new.appendTo($('#sku-base-block'));
                }
                if ($this.hasClass('clone-remove')) {
                    $(this).closest('.sku-base').remove();
                }
                initProductAutocomplete();
            });
            initProductAutocomplete();
        });
    </script>
{% endblock %}


{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/competitor_products_country/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': post.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Competitor Products Master List</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/competitor_products_country', id: ppostt.id, permission: 'competitor_products'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('active', 1, post.active == 1) }}
                        Yes</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('active', 0, post.active == 0) }}
                        No</label>
                </div>
            </div>
            <div class="form-group">
                {{ form_label('App Type', 'app_type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('app_type', app_list, post.app_type, 'class="form-control fetch-sl" id="input-app-type"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Brands', 'brand_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('brand_id', brands, post.brand_id, 'class="form-control fetch-sl" id="brand_id"') }}
                </div>
                <input type="hidden" value="{{ post.brand }}" name="brand">
            </div>
            <div class="form-group">
                {{ form_label('Name', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'name', value: post.name, class: 'form-control'}) }}
                    {#, 'data-parsley-required': 'true'#}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Competitor Products Name', 'product_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'product_name', value: post.product_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Quantity', 'quantity', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'quantity', value: post.quantity, class: 'form-control', 'data-parsley-required': 'false'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Price', 'price', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'price', value: post.price, class: 'form-control', 'data-parsley-required': 'false'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Weight Per PC', 'weight_per_pc', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'weight_per_pc', value: post.weight_per_pc, class: 'form-control', 'data-parsley-required': 'false'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Product Cat Web', 'product_cat_web_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('product_cat_web_id', cat_web, post.product_cat_web_id, 'id="cat_web" class="form-control"') }}
                </div>
            </div>
            {#
            <div class="form-group">
                {{ form_label('Brand', 'brand', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'brand', value: post.brand, class: 'form-control', 'data-parsley-required': 'false'}) }}
                </div>
            </div>
            #}
            {% set productTitle = session.country_id in [3, 6] ? 'name_alt' : 'sku_name' %}
            {% for key,product in post.products_array %}
                <div class="form-group sku-base">
                    {{ form_label('Ufs Skus', 'ufs_skus', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'sku_number_', value: get_product_label(products[product], productTitle),
                            'class': 'form-control product-tokenfield',
                        }) }}
                        <input type="hidden" name="products[{{ key }}][sku_number]" class="InputProductId"
                               value="{{ product }}"
                               data-price="{{ products[product].price }}"
                               data-pcsprice="{{ (products[product].price / products[product].quantity_case) }}"/>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-clone clone-add hide"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
            {% endfor %}
            {% if products %}
                {% set counter = post.products_array|length %}
                <div class="form-group sku-base">
                    {{ form_label('Ufs Skus', 'ufs_skus', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'sku_number_', value: null,
                            'class': 'form-control product-tokenfield',
                        }) }}
                        <input placeholder="Enter to search" type="hidden" name="products[{{ counter }}][sku_number]" class="InputProductId"
                               value=""
                               data-price=""
                               data-pcsprice="" />
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-default btn-clone clone-remove hide"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div id="sku-base-block"></div>
            {% endif %}

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}