{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>

    <script>
        $(function () {
            i = 0;
            $('#dataTables').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ site_url('ami/potential_customers/ajaxData') }}",
                    "type": "POST"
                },
                'aoColumns': [
                    {mData: "c.id", render: function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            return i++;
                        }
                        return data;
                    }},
                    {mData: "c.armstrong_1_customers_id"},
                    {mData: "c.armstrong_2_customers_name"},
                    {mData: "$.salesperson_name"},
                    {mData: "c.active"},
//                    {mData: "c.otm_new"},
//                    {mData: "c.channel"},
                    {mData: "c.date_created", "bSearchable": false},
                    {mData: "c.last_updated", "bSearchable": false}
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    {% if has_permission('delete', 'customer') %}
                    $(nRow).prepend('<td class=\"text-center\"><input type=\"checkbox\" value="' + aData['DT_RowId'] + '"></td>');
                    {% endif %}
                    $(nRow).append('<td class=\"text-center\" style=\"min-width: 130px;\">' + aData['buttons'] + '</td>');
                },
                'order': [[1, 'asc']],
                // 'bPaginate': false,
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
//                    ,{
//                        "targets": [3],
//                        "bSearchable": false
//                    }
//                    ,{
//                        "targets": [4],
//                        "bSearchable": false
//                    }
                ],
                "iDisplayLength": 50
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/potential_customers/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Potential Customers Draft' : 'Potential Customers' }}</h1>

                <div class="text-right">
					<span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
						{{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
					</span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/potential_customers', icon: 'fa-user', title: 'Customers', permission: 'potential_customers', showImport: 1, getTemplateimport: 'res/up/potential_customers.xlsx'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            {% if message %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endif %}

            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">

                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover dataTables" id="dataTables">
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'potential_customers') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>ID</th>
                                <th>Armstrong 1 Customer Id</th>
                                <th>Name</th>
                                <th>Salesperson Name</th>
                                <th>Active</th>
                                {#<th>OTM</th>#}
                                {#<th>Channel</th>#}
                                <th>Created</th>
                                <th>Updated</th>
                                <th class="nosort text-center"></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}