{% extends "ami/base.html.twig" %}
{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ site_url('res/ami/setting_country.js') }}"></script>
    <script>
        CKEDITOR.replace('inputPersonalPrivacyNotes', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });
        CKEDITOR.replace('visitSummaryPull', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });
        CKEDITOR.replace('visitSummaryPush', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });
        function validateProductInput() {
            var validate = false;
            $.each($('select[name="sku_number_"]'), function () {
                if ($(this).val() !== '') {
                    validate = true;
                }
            });
            return validate;
        }
        $(document).ready(function () {
            $('.price-yes').click(function () {
                var modalElement = $(this).data('type');
                $('#price_' + modalElement).modal();
            });

            $('.price-no').click(function () {
                var modalElement = $(this).data('type');
                $('#price_' + modalElement + ' input[type="checkbox"]').prop('checked', false);
            });

            $('.modal-price-item').on('shown.bs.modal', function (e) {
                var numberChecker = $(this).find('input[type="checkbox"]:checked').length;
                if (numberChecker == 0) {
                    $(this).find('input[type="checkbox"]').prop('checked', true);
                }
            });

            $('.modal-price-item').on('hidden.bs.modal', function (e) {
                var numberChecker = $(this).find('input[type="checkbox"]:checked').length,
                        type = $(this).data('type');
                if (numberChecker == 0) {
                    $('input[name="price_config[' + type + '][enable]"].price-yes').prop('checked', false);
                    $('input[name="price_config[' + type + '][enable]"].price-no').prop('checked', true);
                }
            });

            var original_checked_number = $('.datasourcepull input[type="checkbox"]:checked').length;
            if (original_checked_number == 0) {
                $('.datasourcepull input[type="checkbox"]').prop('checked', true);
            }
            $('.datasourcepull input[type="checkbox"]').click(function () {
                var checked_number = $('.datasourcepull input[type="checkbox"]:checked').length;
                if (checked_number == 0) {
                    alert('Please check at least one item!');
                    $(this).prop('checked', true);
                }
            });

            var original_checked_number = $('.datasourcepush input[type="checkbox"]:checked').length;
            if (original_checked_number == 0) {
                $('.datasourcepush input[type="checkbox"]').prop('checked', true);
            }
            $('.datasourcepush input[type="checkbox"]').click(function () {
                var checked_number = $('.datasourcepush input[type="checkbox"]:checked').length;
                if (checked_number == 0) {
                    alert('Please check at least one item!');
                    $(this).prop('checked', true);
                }
            });

            function loadshifted(){
                var enable_shifted_call = $('.enable_shifted_call input[type="radio"]:checked').val();
                if (enable_shifted_call == "0") {
                    $('.require_reason input').attr('disabled', 'disabled');
                }
                else {
                    $('.require_reason input').removeAttr('disabled');
                }
            }
            $('.enable_shifted_call input[type="radio"]').click(function () {
                loadshifted();
            });
            loadshifted();

            var counter = $('.InputProductId').length - 1;
            $(document).on('click', '.btn-clone', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $block = $this.closest('.areas-block'),
                        $clone = $this.closest('.sku-base').clone();
                $clone.find('.hide').removeClass('hide').show();

                if ($this.hasClass('clone-add')) {
                    $new = $clone.clone();
                    counter++;
                    $new.find('input[name], select[name]').each(function () {
                        var $this = $(this);
                        $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, '[' + counter + ']'));

                        if ($this.hasClass('product-tokenfield') || $this.is('input:text')) {
                            $this.val('');
                        }
                        else {
                            $this.val(0);
                        }
                    });
                    $new.find('ul.parsley-errors-list').remove();
                    $new.appendTo($block.find('.base-block'));
                }

                if ($this.hasClass('clone-remove')) {
                    $(this).closest('.sku-base').remove();
                    var validate = validateProductInput();
                    if (!validate) {
                        $('select[name="sku_number_"]').first().attr('data-parsley-required', 'true');
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <style>
        .p-l-0 {
            padding-left: 0;
        }

        .title-left {
            text-align: left !important;
            margin-left: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    {{ form_open(site_url('ami/setting_country/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true', 'id':'country_settings'}, {id: data.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Setting Country</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn_save.html.twig' with {url: 'ami/setting_country', id: data.id, permission: 'setting_country'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#listed" aria-controls="home" role="tab" data-toggle="tab">News Feed</a>
                </li>
                <li role="presentation">
                    <a href="#unlisted" aria-controls="profile" role="tab" data-toggle="tab">Business Objective</a>
                </li>
                <li role="presentation">
                    <a href="#privacy" aria-controls="profile" role="tab" data-toggle="tab">Privacy</a>
                </li>
                <li role="presentation">
                    <a href="#customer_approval" aria-controls="profile" role="tab" data-toggle="tab">Customer
                        Approval</a>
                </li>
                <li role="presentation">
                    <a href="#working_day" aria-controls="profile" role="tab" data-toggle="tab">Working Day</a>
                </li>
                <!-- <li role="presentation">
                    <a href="#coaching_forms" aria-controls="profile" role="tab" data-toggle="tab">Coaching Config</a>
                </li> -->
                <li role="presentation">
                    <a href="#app_config" aria-controls="profile" role="tab" data-toggle="tab">Application Config</a>
                </li>
                {# Additional Tab: Customer History Config -- for HK only#}
                {#{% if data.id == 3 %}#}
                <li role="presentation">
                    <a href="#customer_history" aria-controls="profile" role="tab" data-toggle="tab">Customer
                        History Config</a>
                </li>
                {#{% endif %}#}
                <li role="presentation">
                    <a href="#app_todo" aria-controls="profile" role="tab" data-toggle="tab">Todo</a>
                </li>
                <li role="presentation">
                    <a href="#other" aria-controls="profile" role="tab" data-toggle="tab">Other</a>
                </li>
            </ul>
            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">
                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <div class="form-group">
                            {{ form_label('To approval', 'approval_news_feed', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6 no-parsley">
                                <label class="radio-inline">{{ form_radio('approval_news_feed', 0, data.approval_news_feed == 0) }}
                                    Only Local</label>&nbsp;
                                <label class="radio-inline">{{ form_radio('approval_news_feed', 1, data.approval_news_feed == 1) }}
                                    Only Global</label>&nbsp;
                                <label class="radio-inline">{{ form_radio('approval_news_feed', 2, data.approval_news_feed == 2) }}
                                    Both</label>&nbsp;
                                <label class="radio-inline">{{ form_radio('approval_news_feed', 3, data.approval_news_feed == 3) }}
                                    None</label>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="unlisted">
                        <div class="form-group">
                            {% for key,post in data['mandatory_incall_tabs'] %}
                                <div class="form-group">
                                    {{ form_label(post.title, post.title, {class: 'control-label col-sm-3'}) }}
                                    <div class="col-sm-6 no-parsley">
                                        <label class="radio-inline">{{ form_radio('mandatory_incall_tabs['~key | lower ~']', 1, post.mandatory == 1) }}
                                            Active</label>&nbsp;
                                        <label class="radio-inline">{{ form_radio('mandatory_incall_tabs['~key | lower ~']', 0, post.mandatory == 0) }}
                                            Inactive</label>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="privacy">
                        <div class="form-group">
                            {{ form_label('Personal Privacy Notes', 'personal_privacy_notes', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_textarea({name: 'application_config[pull][privacy][personal_privacy_notes]', value: application_config.pull.privacy.personal_privacy_notes, class: 'form-control input-xxlarge',
                                    'id': 'inputPersonalPrivacyNotes'
                                }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label('Show Accept', 'personal_privacy_notes_show_accept', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6 no-parsley">
                                <label class="radio-inline">{{ form_radio('application_config[pull][privacy][personal_privacy_notes_show_accept]', 1, application_config.pull.privacy.personal_privacy_notes_show_accept == 1) }}
                                    Yes</label>&nbsp;
                                <label class="radio-inline">{{ form_radio('application_config[pull][privacy][personal_privacy_notes_show_accept]', 0, application_config.pull.privacy.personal_privacy_notes_show_accept == 0) }}
                                    No</label>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="customer_approval">
                        <div class="form-group">
                            {{ form_label('New Customer Auto-approval', 'approve_customers', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6 no-parsley">
                                <label class="radio-inline">{{ form_radio('approve_customers[add]', 0, approve_customers.add == 0) }}
                                    Yes</label>&nbsp;
                                <label class="radio-inline">{{ form_radio('approve_customers[add]', 1, approve_customers.add == 1) }}
                                    No</label>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label('Edit Customer Auto-approval', 'approve_customers', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6 no-parsley">
                                <label class="radio-inline">{{ form_radio('approve_customers[edit]', 0, approve_customers.edit == 0) }}
                                    Yes</label>&nbsp;
                                <label class="radio-inline">{{ form_radio('approve_customers[edit]', 1, approve_customers.edit == 1) }}
                                    No</label>
                            </div>
                        </div>
                    </div>
                    {# Additional Field: Customer History Config, Free Goods #}
                    <div role="tabpanel" class="tab-pane" id="customer_history">
                        {# Create new tab to specify different app type #}
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#customer_history_pull" aria-controls="home" role="tab" data-toggle="tab">PULL</a>
                            </li>
                            <li role="presentation">
                                <a href="#customer_history_push" aria-controls="profile" role="tab" data-toggle="tab">PUSH</a>
                            </li>
                        </ul>
                        <div class="panel panel-default m-t">
                            <div class="panel-body tab-content">
                                <div role="tabpanel" class="tab-pane active" id="customer_history_pull">
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ form_label('Default Call History', 'isCallHistoryDefault', {class: 'control-label col-sm-3'}) }}
                                            <div class="col-sm-6 no-parsley">
                                                <label class="radio-inline">{{ form_radio('customer_history_config[pull][isCallHistoryDefault]', 1, customer_history_config.pull.isCallHistoryDefault == 1, "checked = TRUE") }}
                                                    Yes</label>&nbsp;
                                                <label class="radio-inline">{{ form_radio('customer_history_config[pull][isCallHistoryDefault]', 0, customer_history_config.pull.isCallHistoryDefault == 0) }}
                                                    No</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label('View by Delivery Date', 'viewByDeliveryDate', {class: 'control-label col-sm-3'}) }}
                                            <div class="col-sm-6 no-parsley">
                                                <label class="radio-inline">{{ form_radio('customer_history_config[pull][viewByDeliveryDate]', 1, customer_history_config.pull.viewByDeliveryDate == 1) }}
                                                    Yes</label>&nbsp;
                                                <label class="radio-inline">{{ form_radio('customer_history_config[pull][viewByDeliveryDate]', 0, customer_history_config.pull.viewByDeliveryDate == 0) }}
                                                    No</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label('Sort Order Record By', 'sortOrderBy', {class: 'control-label col-sm-3'}) }}
                                            <div class="col-sm-3 no-parsley">
                                                {{ form_dropdown('customer_history_config[pull][sortOrderBy]', customer_history_sortBy, customer_history_config.pull.sortOrderBy, 'class="form-control"') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="customer_history_push">
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ form_label('Default Call History', 'isCallHistoryDefault', {class: 'control-label col-sm-3'}) }}
                                            <div class="col-sm-6 no-parsley">
                                                <label class="radio-inline">{{ form_radio('customer_history_config[push][isCallHistoryDefault]', 1, customer_history_config.push.isCallHistoryDefault == 1, "checked = TRUE") }}
                                                    Yes</label>&nbsp;
                                                <label class="radio-inline">{{ form_radio('customer_history_config[push][isCallHistoryDefault]', 0, customer_history_config.push.isCallHistoryDefault == 0) }}
                                                    No</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label('View by Delivery Date', 'viewByDeliveryDate', {class: 'control-label col-sm-3'}) }}
                                            <div class="col-sm-6 no-parsley">
                                                <label class="radio-inline">{{ form_radio('customer_history_config[push][viewByDeliveryDate]', 1, customer_history_config.push.viewByDeliveryDate == 1) }}
                                                    Yes</label>&nbsp;
                                                <label class="radio-inline">{{ form_radio('customer_history_config[push][viewByDeliveryDate]', 0, customer_history_config.push.viewByDeliveryDate == 0) }}
                                                    No</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label('Sort Order Record By', 'sortOrderBy', {class: 'control-label col-sm-3'}) }}
                                            <div class="col-sm-3 no-parsley">
                                                {{ form_dropdown('customer_history_config[push][sortOrderBy]', customer_history_sortBy, customer_history_config.push.sortOrderBy, 'class="form-control"') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#<div class="form-group">
                            <div class="form-group">
                                {{ form_label('Default Call History', 'isCallHistoryDefault', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-6 no-parsley">
                                    <label class="radio-inline">{{ form_radio('customer_history_config[isCallHistoryDefault]', 1, customer_history_config.isCallHistoryDefault == 1, "checked = TRUE") }}
                                        Yes</label>&nbsp;
                                    <label class="radio-inline">{{ form_radio('customer_history_config[isCallHistoryDefault]', 0, customer_history_config.isCallHistoryDefault == 0) }}
                                        No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label('View by Delivery Date', 'viewByDeliveryDate', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-6 no-parsley">
                                    <label class="radio-inline">{{ form_radio('customer_history_config[viewByDeliveryDate]', 1, customer_history_config.viewByDeliveryDate == 1) }}
                                        Yes</label>&nbsp;
                                    <label class="radio-inline">{{ form_radio('customer_history_config[viewByDeliveryDate]', 0, customer_history_config.viewByDeliveryDate == 0) }}
                                        No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label('Sort Order Record By', 'sortOrderBy', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-3 no-parsley">
                                    {{ form_dropdown('customer_history_config[sortOrderBy]', customer_history_sortBy, customer_history_config.sortOrderBy, 'class="form-control"') }}
                                </div>
                            </div>
                        </div>#}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="app_todo">
                        <div class="form-group">
                            {{ form_label('Interval Reminder', 'interval_reminder', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6 ">
                                {{ form_input({name: 'interval_reminder', value: data.interval_reminder, class: 'form-control', 'data-parsley-required': 'true','maxlength': 5}) }}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="other">
                        <div class="form-group">
                            <div class="form-group">
                                {{ form_label('Client Time Out', 'client_time_out', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-6">
                                    {{ form_input({name: 'client_time_out', value: data.client_time_out, class: 'form-control', 'data-parsley-required': 'true','maxlength': 5}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label('Criteria of Store Check', 'client_time_out', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-6">
                                    {{ form_input({name: 'criteria_of_sc', value: data.criteria_of_sc, class: 'form-control', 'data-parsley-required': 'true','maxlength': 2}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label('Survey Hash Key', 'survey_key', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-6">
                                    {{ form_input({name: 'survey_key', value: data.survey_key, class: 'form-control'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label('Enable Telesales', 'enable_telesales', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-6 no-parsley">
                                    <label class="radio-inline">{{ form_radio('enable_telesales', 1, data.enable_telesales == 1) }}
                                        Yes</label>&nbsp;
                                    <label class="radio-inline">{{ form_radio('enable_telesales', 0, data.enable_telesales == 0) }}
                                        No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label('Enable SMS', 'enable_sms_report', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-6 no-parsley">
                                    <label class="radio-inline">{{ form_radio('enable_sms_report', 1, data.enable_sms_report == 1) }}
                                        Yes</label>&nbsp;
                                    <label class="radio-inline">{{ form_radio('enable_sms_report', 0, data.enable_sms_report == 0) }}
                                        No</label>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label('Enable Promotional Activity', 'promotion_activity', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-6 no-parsley">
                                    <label class="radio-inline">{{ form_radio('promotion_activity', 1, data.promotion_activity == 1) }}
                                        Yes</label>&nbsp;
                                    <label class="radio-inline">{{ form_radio('promotion_activity', 0, data.promotion_activity == 0) }}
                                        No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="working_day">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Monday</th>
                                <th class="text-center">Tuesday</th>
                                <th class="text-center">Wednesday</th>
                                <th class="text-center">Thursday</th>
                                <th class="text-center">Friday</th>
                                <th class="text-center">Saturday</th>
                                <th class="text-center">Sunday</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center"><div><input type="checkbox" name="application_config[pull][working_day][]" value="2" {{ 2 in application_config.pull.working_day ? 'checked' : '' }}></div></td>
                                <td class="text-center"><div><input type="checkbox" name="application_config[pull][working_day][]" value="3" {{ 3 in application_config.pull.working_day ? 'checked' : '' }}></div></td>
                                <td class="text-center"><div><input type="checkbox" name="application_config[pull][working_day][]" value="4" {{ 4 in application_config.pull.working_day ? 'checked' : '' }}></div></td>
                                <td class="text-center"><div><input type="checkbox" name="application_config[pull][working_day][]" value="5" {{ 5 in application_config.pull.working_day ? 'checked' : '' }}></div></td>
                                <td class="text-center"><div><input type="checkbox" name="application_config[pull][working_day][]" value="6" {{ 6 in application_config.pull.working_day ? 'checked' : '' }}></div></td>
                                <td class="text-center"><div><input type="checkbox" name="application_config[pull][working_day][]" value="7" {{ 7 in application_config.pull.working_day ? 'checked' : '' }}></div></td>
                                <td class="text-center"><div><input type="checkbox" name="application_config[pull][working_day][]" value="1" {{ 1 in application_config.pull.working_day ? 'checked' : '' }}></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {% include 'ami/setting_country/items/application_setting.html.twig' with {application_config: application_config} %}
                    {% include 'ami/setting_country/items/coaching_form_setting.html.twig' with {application_config: application_config} %}
                </div>
            </div>
        </div>
    </div>
    <div id="price_pull" class="modal fade modal-price-item" data-type="pull" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="padding: 10px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Show/Hide Items</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group checkbox">
                        {{ form_label('Case', 'case', {class: 'col-sm-5 col-sm-offset-2'}) }}
                        <div class="col-sm-5 no-parsley">
                            <label>
                                <input type="checkbox"
                                       name="application_config[pull][price_config][case]" {{ application_config.pull.price_config.case == 1 ? 'checked' : '' }}
                                       value="1">
                            </label>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        {{ form_label('Piece', 'piece', {class: 'col-sm-5 col-sm-offset-2'}) }}
                        <div class="col-sm-5 no-parsley">
                            <label>
                                <input type="checkbox"
                                       name="application_config[pull][price_config][piece]" {{ application_config.pull.price_config.piece == 1 ? 'checked' : '' }}
                                       value="1">
                            </label>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        {{ form_label('Total', 'total', {class: 'col-sm-5 col-sm-offset-2'}) }}
                        <div class="col-sm-5 no-parsley">
                            <label>
                                <input type="checkbox"
                                       name="application_config[pull][price_config][total]" {{ application_config.pull.price_config.total == 1 ? 'checked' : '' }}
                                       value="1">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="price_push" class="modal fade modal-price-item" data-type="push" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="padding: 10px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Show/Hide Items</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group checkbox">
                        {{ form_label('Case', 'case', {class: 'col-sm-5 col-sm-offset-2'}) }}
                        <div class="col-sm-5 no-parsley">
                            <label>
                                <input type="checkbox"
                                       name="application_config[push][price_config][case]" {{ application_config.push.price_config.case == 1 ? 'checked' : '' }}
                                       value="1">
                            </label>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        {{ form_label('Piece', 'piece', {class: 'col-sm-5 col-sm-offset-2'}) }}
                        <div class="col-sm-5 no-parsley">
                            <label>
                                <input type="checkbox"
                                       name="application_config[push][price_config][piece]" {{ application_config.push.price_config.piece == 1 ? 'checked' : '' }}
                                       value="1">
                            </label>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        {{ form_label('Total', 'total', {class: 'col-sm-5 col-sm-offset-2'}) }}
                        <div class="col-sm-5 no-parsley">
                            <label>
                                <input type="checkbox"
                                       name="application_config[push][price_config][total]" {{ application_config.push.price_config.total == 1 ? 'checked' : '' }}
                                       value="1">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="price_leader" class="modal fade modal-price-item" data-type="leader" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="padding: 10px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Show/Hide Items</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group checkbox">
                        {{ form_label('Case', 'case', {class: 'col-sm-5 col-sm-offset-2'}) }}
                        <div class="col-sm-5 no-parsley">
                            <label>
                                <input type="checkbox"
                                       name="application_config[leader][price_config][case]" {{ application_config.leader.price_config.case == 1 ? 'checked' : '' }}
                                       value="1">
                            </label>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        {{ form_label('Piece', 'piece', {class: 'col-sm-5 col-sm-offset-2'}) }}
                        <div class="col-sm-5 no-parsley">
                            <label>
                                <input type="checkbox"
                                       name="application_config[leader][price_config][piece]" {{ application_config.leader.price_config.piece == 1 ? 'checked' : '' }}
                                       value="1">
                            </label>
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        {{ form_label('Total', 'total', {class: 'col-sm-5 col-sm-offset-2'}) }}
                        <div class="col-sm-5 no-parsley">
                            <label>
                                <input type="checkbox"
                                       name="application_config[leader][price_config][total]" {{ application_config.leader.price_config.total == 1 ? 'checked' : '' }}
                                       value="1">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_close() }}

{% endblock %}