{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<!-- DataTables JavaScript -->
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#dataTables').dataTable({
        /*"processing": true,
        "serverSide": true,
        "ajax": "{{ site_url('ami/kpi/ajaxData') }}",*/
        "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
        'order': [[1, 'asc']],
        'bPaginate': false,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/kpi/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'KPI Settings Draft' : 'KPI Settings' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/kpi', icon: 'fa-line-chart', title: 'KPI Settings', permission: 'kpi_settings'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">            
            <div class="panel panel-default">                
                
                <div class="panel-body">                
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'kpi_settings') %}
                                        <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    {% endif %}
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th class="nosort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for setting in settings %}
                                    <tr>
                                        {% if has_permission('delete', 'kpi_settings') %}
                                            <td class="text-center">{{ form_checkbox({name: 'ids[]', value: setting.id}) }}</td>
                                        {% endif %}
                                        <td><a href="{{ site_url('ami/kpi/edit/' ~ setting.id) }}" title="{{ setting.armstrong_2_salespersons_id }}" data-toggle="ajaxModal">{{ setting.armstrong_2_salespersons_id }}</a></td>
                                        <td>{{ setting.first_name }} {{ setting.last_name }}</td>
                                        <td class="center">{{ setting.date_created }}</td>
                                        <td class="center">{{ setting.last_updated }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'kpi_settings') or has_permission('delete', 'kpi_settings') %}
                                                {% include 'ami/components/table_btn.html.twig' with {url: 'ami/kpi', id: setting.id, permission: 'kpi_settings'} %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% set paginationUrl = draft ? 'ami/kpi/draft' : 'ami/kpi' %}
                                {{ pagination({base_url: site_url(paginationUrl), per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->
            
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}