{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script>

</script>
<script src="{{ site_url('res/ckeditor/ckeditor.js') }}"></script>
<script>
    CKEDITOR.replace('inputContent', {
        customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
    });

    CKEDITOR.on('instanceReady', function(){
        $.each( CKEDITOR.instances, function(instance) {
            CKEDITOR.instances[instance].on("change", function(e) {
                for ( instance in CKEDITOR.instances ) {    
                    CKEDITOR.instances[instance].updateElement();
                }
            });
        });
    });

</script>
{% endblock %}

{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/check_list/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': check_list.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Check List</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/check_list', id: check_list.id, permission: 'check_list'} %}
                </div>
                <div class="clearfix"></div>
            </div>              
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
                <div class="form-group">
                    {{ form_label('Title', 'name', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'name', value: check_list.name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('', 'active', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6 no-parsley">
                        <label class="radio-inline">{{ form_radio('active', 1, check_list.active == 1) }} Active</label>&nbsp;
                        <label class="radio-inline">{{ form_radio('active', 0, check_list.active == 0) }} Inactive</label>&nbsp;
                    </div>
                </div>
                {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div> 

    {{ form_close() }}   
{% endblock %}