{% extends "ami/base.html.twig" %}


{% block content %}
    {{ form_open(site_url('ami/out_of_trade/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': out_of_trade.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Out of trade</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}

                        {{ html_btn(site_url('ami/out_of_trade'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            {#<div class="form-group hide">#}
            <div class="form-group hi">
                {{ form_label('Target calls per day', 'from_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'average_calls_per_day_target', value: out_of_trade.average_calls_per_day_target, id: 'from_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker'}) }}
                </div>
            </div>
            <div class="form-group hi">
                {{ form_label('No. of working hours per day', 'to_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'no_of_working_hours_per_day', value: out_of_trade.no_of_working_hours_per_day, id: 'to_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                    {% if errors %}
                        <ul class="parsley-errors-list filled">
                            <li class="parsley-overlaps">{{ errors }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}