{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>

    <script>
        $(function () {
            $('#dataTables').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ site_url('ami/working_days/ajaxData') }}",
                    "type": "POST"
                },
                'aoColumns': [
                    {mData: "c.id", "sWidth": "10%"},
                    {mData: "c.armstrong_2_salespersons_id"},
                    {mData: "$.salesperson_name"},
                    {mData: "c.work_days"},
                    {mData: "c.date_created", "bSearchable": false},
                    {mData: "c.last_updated", "bSearchable": false}
                ],
                'order': [[5, 'desc'], [1, 'asc']],
                // 'bPaginate': false,
                'aoColumnDefs': [
                    {
                        'bSortable': true,
                        'aTargets': ['nosort']
                    }
                ],
                "iDisplayLength": 50
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

       <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Working Days</h1>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">

                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Salesoerson ID</th>
                                <th>Salesperson Name</th>
                                <th>Work Days</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}