{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            function check_date_duplicate(arr){
//                var arr = [9, 9, 111, 2, 3, 4, 4, 5, 7];
                var sorted_arr = arr.sort(); // You can define the comparing function here.
                                             // JS by default uses a crappy string compare.
                var results = [];
                for (var i = 0; i < arr.length - 1; i++) {
                    if (sorted_arr[i + 1] == sorted_arr[i]) {
                        results.push(sorted_arr[i]);
                    }
                }

                return results;
            }

            $(document).on('click', '.btn-success', function(e){
                e.preventDefault();
                var $this = $(this),
                        inputDate = $('.datepicker'),
                        holidayID = $('input[name="armstrong_2_holiday_id"]').val(),
                        arr_date = [];
                $this.addClass('disabled');
                inputDate.each(function (){
                    var date = $(this).val();
                    arr_date.push(date);
                });
                var dup = check_date_duplicate(arr_date);
                if(dup.length > 0){
                    alert('Date must be unique!');
                    $this.removeClass('disabled');
                }
                else{
                    $.ajax({
                        dataType: 'JSON',
                        type: 'POST',
                        url: base_url() + 'ami/holidays/checkDuplicate',
                        data: {id: holidayID, dates: arr_date},
                        success: function (result) {
                            if(result.status == 'error'){
                                alert(result.ms);
                                $this.removeClass('disabled');
                            }else{
                                $('#submit-form').submit();
                            }
                        }
                    });
                }
            });

            $(document).on('click', '.btn-clone', function (e) {
                e.preventDefault();
                var $this = $(this),
                        $clone = $(this).closest('.holiday_base').clone(),
                        $counter = $('.tokenfield').length;
                $clone.find('.hide').removeClass('hide').show();
                if ($this.hasClass('clone-add')) {
                    $new = $clone.clone();

                    $new.find('input[name], select[name]').each(function () {
                        var $this = $(this);
                        if($this.hasClass('tokenfield')){
                            $this.attr('name', 'holiday[' + $counter + '][title]');
                        }else{
                            $this.attr('name', 'holiday[' + $counter + '][date]');
                        }

                        if ($this.is('input:text')) {
                            $this.val('');
                        }
                        else {
                            $this.val(0);
                        }
                    });

                    $new.find('.datepicker').datetimepicker({
                        format: 'YYYY-MM-DD'
                    });
                    $new.appendTo($('#holiday_base_block'));
                }
                if ($this.hasClass('clone-remove')) {
                    $(this).closest('.holiday_base').remove();
                }
            });

            $('.datepicker').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });


    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}"/>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/holidays/save'), {'id': 'submit-form', class: 'form-horizontal', 'data-parsley-validate': 'true'}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Holidays</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
                        {#{{ form_button({type: 'reset', content: '<i class="fa fa-fw fa-ban"></i> Cancle', class: 'btn btn-default'}) }}#}
                        {{ html_btn(site_url('ami/holidays'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if holidays.armstrong_2_holiday_id %}
                            <a href="{{ site_url('ami/holidays/delete/' ~ holidays.armstrong_2_holiday_id) }}"
                               title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            {% if holidays %}
                <div class="form-group">
                    {{ form_label('Title', 'title', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'title', value: holidays.title, class: 'form-control', 'data-parsley-required': 'true'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Date', 'date', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'date', value: holidays.date, class: 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                    </div>
                </div>
            {% else %}
                <div class="holiday_base">
                    <div class="form-group">
                        {{ form_label('Title', 'title', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'holiday[0][title]', value: holidays.title, class: 'form-control tokenfield', 'data-parsley-required': 'true'}) }}
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone clone-remove hide"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label('Date', 'date', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'holiday[0][date]', value: holidays.date, class: 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                        </div>
                    </div>
                    <hr>
                </div>
                <div id="holiday_base_block"></div>
            {% endif %}
            {{ form_input({name: 'armstrong_2_holiday_id', value: holidays.armstrong_2_holiday_id, type: 'hidden', class: 'hide'}) }}

        </div>
    </div>

    {{ form_close() }}
{% endblock %}