{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    {# modals #}
    <script src="{{ site_url('res/js/bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap.min.js') }}"></script>
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ site_url('res/js/cron_monitoring.js') }}"></script>
    {#<script src="{{ site_url('res/js/autocomplete.js') }}"></script>#}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/loading.css') }}">
{% endblock %}

{% block content %}
    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Cronjob Monitoring</h1>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row m-t-md">
    <div class="col-lg-12">

        <div class="panel panel-default m-t">
            <div class="panel-body tab-content">
                <table class="table table-striped table-bordered table-hover" id="cronDataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cronjob Name</th>
                            <th>Description</th>
                            <th>Schedule</th>
                            <th>Last Run</th>
                        </tr>
                    </thead>
                </table>
               
               
              
            </div>
        </div>
    </div>
{% endblock %}