{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }

        $(function () {
            {#$('.channellv').on('change', function (e) {#}
            {#var country_id = '{{ session.country_id }}',#}
            {#value = $(this).val();#}
            {#if (value) {#}
            {#$.ajax({#}
            {#url: "{{ site_url('ami/customers/country_channel') }}",#}
            {#data: {country: country_id, value: value},#}
            {#type: 'POST',#}
            {#dataType: 'json',#}
            {#success: function (res) {#}
            {#if (res.convenience_lvl == 0)#}
            {#res.convenience_lvl = 1;#}
            {#var target = $('input[name="convenience_lvl"]'),#}
            {#text = $('input[name="convenience_lvl_"]');#}
            {#switch (res.convenience_lvl) {#}
            {#case '1':#}
            {#text.val("Low");#}
            {#break;#}
            {#case '2':#}
            {#text.val("Medium");#}
            {#break;#}
            {#case '3':#}
            {#text.val("High");#}
            {#break;#}
            {#}#}
            {#target.val(res.convenience_lvl);#}
            {#}#}
            {#});#}
            {#}#}
            {#})#}

            $('.select-change').on('change', function (e) {
                var $this = $(this),
                        name = $this.attr('name'),
                        val = $this.find(":selected").val(),
                        $container = $this.closest('.select-change-container');

                if (val) {
                    $.ajax({
                        url: "{{ site_url('ami/customers/country') }}",
                        data: {key: name, value: val},
                        type: 'POST',
                        dataType: 'json',
                        success: function (res) {

                            if (!res.field) {
                                return;
                            }

                            var options = '<option value="">-Select-</option>';
                            for (var key in res.value) {
                                options += '<option value="' + toTitleCase(res['value'][key]) + '">' + toTitleCase(res['value'][key]) + '</option>';
                            }

                            $('select[name=' + res.field + ']').find('option').remove().end().append(options);
                        }
                    });
                } else {
                    if ($container.length) {
                        $container.nextAll('.select-change-container').each(function () {
                            $(this).find('.select-change option').remove();
                        });
                    }
                }
            });

            {% if not customer.armstrong_2_customers_id %}
            $('.select-change').trigger('change');
            {% endif %}

            $('#ChannelSelect').on('change', function () {
                var $this = $(this),
                        weightage = $this.find('option:selected').data('weightage') || 0,
                        convenience_factor = $this.find('option:selected').data('convenience_lvl') || 0,
                        ufs_share = $this.find('option:selected').data('ufs_food_share') || 0;
                $('#ChannelWeightage, #FoodCostNew').val(weightage);
                {% set au_nz = [2, 9] %}
                {% if session.country_id in au_nz %}
                $('#convenienceFactor').val(convenience_factor);
                {% endif %}
                {% if session.country_id == 10 %}
                $('.id-ufs-share').val(ufs_share);
                {% endif %}
            });

            $('.fetch-otm').on('change', function () {
                var foodOverElement = $('input[name="food_turnover_new"]'),
                        foodPurchaseElement = $('input[name="food_purchase_value_new"]'),
                        otmFoodCostElement = $('input[name="ufs_share_food_cost_new"]'),
                        otmPotentialElement = $('input[name="otm_potential_value_new"]'),
                        otmNewElement = $('input[name="otm_new"]'),
                        aFoodCost = $('#FoodCostNew').val(),
                        aUfsShare = $('input[name="assumption_ufs_share_new"]').val(),
                        convenience = $('#convenienceFactor').val();
                if ($('.convenience_other_country').length > 0) {
                    convenience = $('.convenience_other_country').val() == 0 ? 0.5 : 1;
                }
                var foodOver,
                        foodPurchase,
                        otmFoodCost,
                        otmNew
                $.each($('.fetch-food'), function () {
                    var $val = $(this).val();

                    if (!foodOver) {
                        foodOver = $val;
                    } else {
                        foodOver = foodOver * $val;
                    }
                });

                foodOver = Math.round(foodOver);
                foodPurchase = Math.round(foodOver * aFoodCost);
                otmFoodCost = Math.round(foodPurchase * aUfsShare);
                otmNew = Math.round(otmFoodCost * convenience);

                foodOverElement.val(foodOver);
                foodPurchaseElement.val(foodPurchase);
                otmFoodCostElement.val(otmFoodCost);
                otmPotentialElement.val(otmNew);

                $.ajax({
                    url: "{{ site_url('ami/customers/getOtmBandwidth') }}",
                    data: {otm: otmNew},
                    type: 'POST',
                    success: function (res) {
                        otmNewElement.val(res);
                    }
                });

            });

            $('.fetch-otm').trigger('change');

            $('#SellingInput').on('change input blur', function (e) {
                $('#BudgetInput').val('');
            });

            $('#BudgetInput').on('change input blur', function (e) {
                $('#SellingInput').val('');
            });

            $('#InputBestTimeCall, .timepicker').datetimepicker({
                format: 'h:m A'
            });
        });

        $(document).ready(function () {
            {#var text = $('input[name="convenience_lvl_"]'),#}
            {#convenience = '{{ customer.convenience_lvl  }}';#}
            {#switch (convenience) {#}
            {#case '0':#}
            {#case '1':#}
            {#text.val('Low');#}
            {#break;#}
            {#case '2':#}
            {#text.val('Medium');#}
            {#break;#}
            {#case '3':#}
            {#text.val('High');#}
            {#break;#}
            {#}#}
        });

        $(function () {
            $('.datepicker').datetimepicker({
                format: 'YYYY-MM-DD hh:mm:ss'
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">

{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/customers/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {
    armstrong_2_customers_id: customer.armstrong_2_customers_id,
    filter: filter
}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Customers</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/customers', id: customer.armstrong_2_customers_id, permission: 'customer'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
    <div class="col-lg-12">

    <div class="form-group">
        {{ form_label('Armstrong 1 Customer Id', 'armstrong_1_customers_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'armstrong_1_customers_id', value: customer.armstrong_1_customers_id, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Armstrong 2 Customer Id', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'armstrong_2_customers_id', value: customer.armstrong_2_customers_id, class: 'form-control', 'disabled': 'disabled'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Armstrong 2 Salespersons Id', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('armstrong_2_salespersons_id', salespersons, customer.armstrong_2_salespersons_id, 'class="form-control" data-parsley-required="true"') }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Armstrong 2 Chains Id', 'armstrong_2_chains_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('armstrong_2_chains_id', chains, customer.armstrong_2_chains_id, 'class="form-control"') }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Name', 'armstrong_2_customers_name', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'armstrong_2_customers_name', value: customer.armstrong_2_customers_name, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-maxlength': 100}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('active', 1, customer.active == 1) }} Active</label>&nbsp;
            <label class="radio-inline">{{ form_radio('active', 0, customer.active == 0) }} Inactive</label>&nbsp;
        </div>
    </div>

    {% if groups|length > 1 %}
    <div class="form-group">
        {{ form_label('Group', 'groups_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('groups_id', groups, customer.groups_id, 'class="form-control" data-parsley-required="true"') }}
        </div>
    </div>
{% endif %}

    <div class="form-group">
        {{ form_label('SSD Name', 'sap_cust_name', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'sap_cust_name', value: customer.sap_cust_name, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('SSD Name 2', 'sap_cust_name_2', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'sap_cust_name_2', value: customer.sap_cust_name_2, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('SSD ID', 'ssd_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'ssd_id', value: customer.ssd_id, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('SSD ID 2', 'ssd_id_2', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'ssd_id_2', value: customer.ssd_id_2, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Sap ID', 'sap_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'sap_id', value: customer.sap_id, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Street Address', 'street_address', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'street_address', value: customer.street_address, class: 'form-control'}) }}
        </div>
    </div>

    {#<div class="form-group">
        {{ form_label('State', 'state', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'state', value: customer.city, class: 'form-control select-change', 'data-parsley-required': 'true'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Region', 'region', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'region', value: customer.region, class: 'form-control select-change'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('District', 'district', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'district', value: customer.district, class: 'form-control select-change'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Suburb', 'suburb', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'suburb', value: customer.suburb, class: 'form-control select-change'}) }}
        </div>
    </div>#}

    {% for key, countryField in countryHierachy %}
    <div class="form-group select-change-container">
        {{ form_label(countryField|capitalize, countryField, {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {% if customer.armstrong_2_customers_id %}
                {{ form_dropdown(countryField, countryValues[countryField], customer[countryField], 'class="form-control select-change"') }}
            {% else %}
                {% set _values = (key == 'root') ? rootValues : [] %}
                {{ form_dropdown(countryField, _values, customer[countryField], 'class="form-control select-change"') }}
            {% endif %}
        </div>
    </div>
{% endfor %}

    <div class="form-group">
        {{ form_label('Postal Code', 'postal_code', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'postal_code', value: customer.postal_code, class: 'form-control', 'data-parsley-type': 'number'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Phone', 'phone', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'phone', value: customer.phone, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Phone 2', 'phone_two', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'phone_two', value: customer.phone_two, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Fax', 'fax', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'fax', value: customer.fax, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Email', 'email', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'email', value: customer.email, class: 'form-control', 'data-parsley-type': 'email'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Email 2', 'email_two', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'email_two', value: customer.email_two, class: 'form-control', 'data-parsley-type': 'email'}) }}
        </div>
    </div>

    {% if customer.armstrong_2_customers_id %}
    <div class="form-group">
        {{ form_label('Primary Contact', 'primary_contact', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('primary_contact', contactListOptions, primaryContact, 'class="form-control"') }}
        </div>
    </div>
{% endif %}
	<div class="form-group">
		{{ form_label('Acct Opened', 'acct_opened', {class: 'control-label col-sm-3'}) }}
		<div class="col-sm-6">
			{{ form_input({name: 'acct_opened', value: customer.acct_opened, class: 'form-control datepicker'}) }}
		</div>
	</div>
    <div class="form-group">
        {{ form_label('Web Url', 'web_url', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'web_url', value: customer.web_url, class: 'form-control', 'data-parsley-type': 'url'}) }}
        </div>
    </div>

    {% if country_channels %}
    <div class="form-group">
        {{ form_label('Channel', 'channel', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {# form_dropdown('channel', country_channels, customer.channel, 'class="form-control"') #}
            <select name="channel" class="form-control fetch-otm {{ (session.country_id in [2,9]) ? 'channellv' : '' }}"
                    id="ChannelSelect">
                <option value="" data-weightage="">- Select -</option>
                {% for country_channel in country_channels %}
                    <option value="{{ country_channel.id }}" {{ (country_channel.id == customer.channel) ? 'selected="selected"' : '' }}
                            data-weightage="{{ country_channel.channel_weightage }}" data-convenience_lvl="{{ country_channel.convenience_lvl }}"
                            data-ufs_food_share="{{ country_channel.ufs_food_share }}">{{ country_channel.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}

    <div class="form-group">
        {{ form_label('Channel Weightage', 'channel_weightage', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'channel_weightage', value: customer.channel_weightage, class: 'form-control', 'data-parsley-type': 'number', 'readonly': 'readonly', 'id': 'ChannelWeightage'}) }}
        </div>
    </div>

    {% if sub_channels|length > 1 %}
    <div class="form-group">
        {{ form_label('Sub Channel', 'sub_channel', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('sub_channel', sub_channels, customer.sub_channel, 'class="form-control"') }}
        </div>
    </div>
{% endif %}
    {% if session.country_id in [10] %}
    <div class="form-group">
        {{ form_label('Real Otm', 'real_otm', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'real_otm', value: customer.real_otm, class: 'form-control', 'readonly': 'readonly'}) }}
        </div>
    </div>
{% endif %}

    <div class="form-group">
        {{ form_label('Otm', 'otm', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {% if session.country_id in [3, 5] %}
    {{ form_dropdown('otm', {'A': 'A', 'B': 'B', 'C': 'C', 'D': 'D', 'N/A': 'N/A'}, customer.otm, 'class="form-control"') }}
{% else %}
    {{ form_input({name: 'otm', value: customer.otm, class: 'form-control', 'readonly': 'readonly'}) }}
{% endif %}
        </div>
    </div>


    </div>

    <div class="form-group">
        {{ form_label('Key Manager', 'key_acct', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'key_acct', value: customer.key_acct, class: 'form-control'}) }}
        </div>
    </div>

    {% if business_types|length > 1 %}
    <div class="form-group">
        {{ form_label('Business Type', 'business_type', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('business_type', business_types, customer.business_type, 'class="form-control"') }}
        </div>
    </div>
{% endif %}

    {#<div class="form-group">
        {{ form_label('Kosher Type', 'kosher_type', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'kosher_type', value: customer.kosher_type, class: 'form-control'}) }}
        </div>
    </div>#}

    {# Suggestion ?? #}
    {% if suppliers|length > 1 %}
    <div class="form-group">
        {{ form_label('Primary Supplier', 'primary_supplier', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('primary_supplier', suppliers, customer.primary_supplier, 'class="form-control"') }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Secondary Supplier', 'secondary_supplier', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('secondary_supplier', suppliers, customer.secondary_supplier, 'class="form-control"') }}
        </div>
    </div>
{% endif %}

    <div class="form-group">
        {{ form_label('Trading Days Per Year', 'trading_days_per_yr', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'trading_days_per_yr', value: customer.trading_days_per_yr, class: 'form-control', 'data-parsley-type': 'integer', 'data-parsley-range': '[1,366]'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Trading Weeks Per Year', 'trading_wks_per_yr', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'trading_wks_per_yr', value: customer.trading_wks_per_yr, class: 'form-control', 'data-parsley-type': 'integer', 'data-parsley-range': '[1,53]'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Turnover', 'turnover', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'turnover', value: customer.turnover, class: 'form-control', 'data-parsley-type': 'number'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Capacity', 'capacity', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'capacity', value: customer.capacity, class: 'form-control', 'data-parsley-type': 'integer'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('No Of Outlets', 'no_of_outlets', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'no_of_outlets', value: customer.no_of_outlets, class: 'form-control', 'data-parsley-type': 'integer'}) }}
        </div>
    </div>

    {#<div class="form-group">#}
        {#{{ form_label('Convenience Level', 'convenience_lvl', {class: 'control-label col-sm-3'}) }}#}
        {#<div class="col-sm-6">#}
        {#{% if(session.country_id in [2,9]) %}#}
        {#{{ form_input({name: 'convenience_lvl_', value: '', class: 'form-control', 'readonly': 'readonly'}) }}#}
        {#<input type="hidden" name="convenience_lvl" value="{{ customer.convenience_lvl }}"/>#}
    {#{% else %}#}
        {#{{ form_dropdown('convenience_lvl', {'1': 'Low', '2': 'Medium', '3': 'High'}, customer.convenience_lvl, 'class="form-control"') }}#}
    {#{% endif %}#}
        {#</div>#}
    {#</div>#}

    <div class="form-group">
        {{ form_label('Meals Per Day', 'meals_per_day', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'meals_per_day', value: customer.meals_per_day, class: 'form-control', 'data-parsley-type': 'integer'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Selling Price', 'selling_price', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'selling_price', value: customer.selling_price, class: 'form-control',
    'data-parsley-type': 'number',
    'id': 'SellingInput'
}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Budget Price', 'budget_price', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'budget_price', value: customer.budget_price, class: 'form-control',
    'data-parsley-type': 'number',
    'id': 'BudgetInput'
}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Food Cost', 'food_cost', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'food_cost', value: customer.food_cost, class: 'form-control', 'data-parsley-type': 'number'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Best Time To Call', 'best_time_to_call', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'best_time_to_call', value: customer.best_time_to_call,
    'class': 'form-control',
    'id': 'InputBestTimeCall'
}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Notes', 'notes', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'notes', value: customer.notes, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Latitude', 'latitude', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'latitude', value: customer.latitude, class: 'form-control', 'data-parsley-type': 'number'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Longitude', 'longitude', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'longitude', value: customer.longitude, class: 'form-control', 'data-parsley-type': 'number'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Display Name', 'display_name', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'display_name', value: customer.display_name, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Registered Name', 'registered_name', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'registered_name', value: customer.registered_name, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Opening Hours', 'opening_hours', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-3">
            {{ form_input({name: 'opening_hours[]', value: customer.opening_hours_from,
    class: 'form-control timepicker',
}) }}
        </div>
        <div class="col-sm-3">
            {{ form_input({name: 'opening_hours[]', value: customer.opening_hours_to,
    class: 'form-control timepicker'
}) }}
        </div>
    </div>

    {#<div class="form-group">
        {{ form_label('Update Info', 'update_info', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'update_info', value: customer.update_info, class: 'form-control'}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            <div class="checkbox">
                <label class="">{{ form_checkbox('active', 1, product.active) }}</label>
            </div>
        </div>
    </div>#}

    <div class="form-group">
        {{ form_label('Ufs Share', 'ufs_share', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'ufs_share', value: country.ufs_share, class: 'form-control', 'data-parsley-type': 'number', 'readonly': 'readonly'}) }}
        </div>
    </div>

    {% if customers_types|length > 1 %}
    <div class="form-group">
        {{ form_label('Customers Types', 'customers_types_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('customers_types_id', customers_types, customer.customers_types_id, 'class="form-control"') }}
        </div>
    </div>
{% endif %}
    <div class="form-group">
        {{ form_label('Buy Frequency', 'buy_frequency', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            <select name="buy_frequency" class="form-control" id="ChannelSelect">
                <option value="0" data-weightage="">- Select -</option>
                <option value="1" {{ (customer.buy_frequency == 1) ? 'selected="selected"' : '' }} >Once a month
                </option>
                <option value="2" {{ (customer.buy_frequency == 2) ? 'selected="selected"' : '' }} >Twice a month
                </option>
                <option value="3" {{ (customer.buy_frequency == 3) ? 'selected="selected"' : '' }} >Three times a
                    month
                </option>
                <option value="4" {{ (customer.buy_frequency == 4) ? 'selected="selected"' : '' }} >Once a week</option>
            </select>
        </div>
    </div>
    {% if channel_groups|length > 1 %}
    <div class="form-group">
        {{ form_label('Channel Groups', 'channel_groups_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('channel_groups_id', channel_groups, customer.channel_groups_id, 'class="form-control"') }}
        </div>
    </div>
{% endif %}

    {% if cuisine_groups|length > 1 %}
    <div class="form-group">
        {{ form_label('Cuisine Groups', 'cuisine_groups_id', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_dropdown('cuisine_groups_id', cuisine_groups, customer.cuisine_groups_id, 'class="form-control"') }}
        </div>
    </div>
{% endif %}
    {# New OTM #}
    {% if session.country_id != 3%}
    <div class="form-group">
        {{ form_label('Meals / Days', 'meals_per_day_new', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'meals_per_day_new', value: customer.meals_per_day_new, class: 'form-control fetch-food fetch-otm', 'data-parsley-type': 'number'}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Avarage Price / Meal', 'selling_price_per_meal_new', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'selling_price_per_meal_new', value: customer.selling_price_per_meal_new, class: 'form-control fetch-otm fetch-food', 'data-parsley-type': 'number'}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Weeks / Year', 'weeks_per_year_new', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'weeks_per_year_new', value: customer.weeks_per_year_new, class: 'form-control fetch-otm fetch-food', 'data-parsley-type': 'number', 'data-parsley-range': '[0,52]'}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Days / Week', 'days_per_week_new', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'days_per_week_new', value: customer.days_per_week_new, class: 'form-control fetch-otm fetch-food', 'data-parsley-type': 'number', 'data-parsley-range': '[0,7]'}) }}
        </div>
    </div>
    {{ form_input({name: 'food_turnover_new', value: customer.food_turnover_new, class: 'form-control', 'data-parsley-type': 'number', 'type':'hidden'}) }}
    <div class="form-group">
        {{ form_label('Assumption: Food Cost %', 'assumption_food_cost_new', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'assumption_food_cost_new', value: customer.assumption_food_cost_new, class: 'form-control fetch-otm fetch-food-purchase', 'data-parsley-type': 'number', 'readonly': 'readonly', 'id': 'FoodCostNew'}) }}
        </div>
    </div>
    {{ form_input({name: 'food_purchase_value_new', value: customer.food_purchase_value_new, class: 'form-control', 'data-parsley-type': 'number', 'type':'hidden'}) }}
    <div class="form-group">
        {{ form_label('Assumption: potential UFS Share of Food Cost %', 'assumption_ufs_share_new', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {% if session.country_id == 10 %}
            {{ form_input({name: 'assumption_ufs_share_new', value: country.ufs_share, class: 'form-control id-ufs-share', 'data-parsley-type': 'number', 'readonly': 'readonly'}) }}
            {% else %}
            {{ form_input({name: 'assumption_ufs_share_new', value: country.ufs_share, class: 'form-control', 'data-parsley-type': 'number', 'readonly': 'readonly'}) }}
            {% endif %}
        </div>
    </div>
    {{ form_input({name: 'ufs_share_food_cost_new', value: customer.ufs_share_food_cost_new, class: 'form-control', 'data-parsley-type': 'number', 'type':'hidden'}) }}
    {{ form_input({name: 'otm_potential_value_new', value: customer.otm_potential_value_new, class: 'form-control', 'data-parsley-type': 'number', 'type':'hidden'}) }}
    <div class="form-group">
        {{ form_label('Convenience Factor', 'convenience_factor_new', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {% set au_nz = [2, 9] %}
            {% if session.country_id in au_nz %}
            {{ form_input({name: 'convenience_factor_new', value: customer.convenience_factor_new, class: 'form-control fetch-otm convenience_sp_country', 'id': 'convenienceFactor', 'data-parsley-type': 'number', 'readonly': 'readonly'}) }}
            {% else %}
            {{ form_dropdown('convenience_factor_new', ['0.5', '1'], customer.convenience_factor_new, 'class="form-control fetch-otm convenience_other_country" id="convenienceFactor"') }}
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        {{ form_label('OTM New', 'otm_new', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'otm_new', value: customer.otm_new, class: 'form-control', 'readonly': 'readonly', 'id': 'OTMNew'}) }}
        </div>
    </div>
    {% endif %}
    {#{% if assigned_distributors|length > 1 %}
        <div class="form-group">
            {{ form_label('Assigned Distributor 2', 'assigned_distributor_2', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_dropdown('assigned_distributor_2', assigned_distributors, customer.assigned_distributor_2, 'class="form-control"') }}
            </div>
        </div>
    {% endif %}#}
    {% if (session.country_code in ['tw'] and session.roleName == 'Admin') or (session.roleName == 'Admin') %}
    {#{% if country_id == 6 %}#}
    {#{% if customer.armstrong_2_customers_id %}#}
    <div class="form-group">
        {{ form_label('Approved', 'approved', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6 no-parsley">
            <select name="approved" id="approved" class="form-control">
                <option value="-2" {{ customer.approved == -2 ? 'selected' : '' }}>Close down</option>
                <option value="-1" {{ customer.approved == -1 ? 'selected' : '' }}>Rejected</option>
                <option value="0" {{ customer.approved == 0 ? 'selected' : '' }}>Pending</option>
                <option value="1" {{ customer.approved == 1 ? 'selected' : '' }}>Approved</option>
                <option value="2" {{ customer.approved == 2 ? 'selected' : '' }}>Edit</option>
            </select>
            {#<label class="radio-inline">{{ form_radio('approved', -2, customer.approved == -2) }} Close down</label>&nbsp;#}
            {#<label class="radio-inline">{{ form_radio('approved', -1, customer.approved == -1) }} Rejected</label>&nbsp;#}
            {#<label class="radio-inline">{{ form_radio('approved', 0, customer.approved == 0) }} Pending</label>&nbsp;#}
            {#<label class="radio-inline">{{ form_radio('approved', 1, customer.approved == 1) }} Approved</label>&nbsp;#}
            {#<label class="radio-inline">{{ form_radio('approved', 2, customer.approved == 2) }} Edit</label>#}
        </div>
    </div>
    {#{% endif %}#}
{% endif %}

    {#<div class="form-group">
        {{ form_label('Approved Message', 'approved_message', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_textarea({name: 'approved_message', value: customer.approved_message, class: 'form-control', 'rows': 3}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Approved Compare', 'approved_compare', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            {{ form_textarea({name: 'approved_compare', value: customer.approved_compare, class: 'form-control', 'rows': 3}) }}
        </div>
    </div>#}
    </div>
    </div>

    {{ form_close() }}
{% endblock %}

