<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ customer.armstrong_2_customers_name }} - {{ customer.armstrong_2_customers_id }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                <div class="list-group">
                    <div class="list-group-item">
                        <i class="fa fa-2x fa-map-marker pull-left"></i>
                        <div class="m-l-xl">                        
                            <div class="list-group-item-text">
                                <h4 class="list-group-item-heading text-muted">Location</h4>
                                <p><span class="text-muted">Street Address:</span> {{ customer.street_address }}</p>
                                {% if customer.city %}
                                    <p><span class="text-muted">City:</span> {{ customer.city }}</p>
                                {% endif %}
                                {% if customer.postal_code %}
                                    <p><span class="text-muted">Postal Code:</span> {{ customer.postal_code}}</p>
                                {% endif %}
                                {% if customer.region %}
                                    <p><span class="text-muted">Region:</span> {{ customer.region}}</p>
                                {% endif %}
                                {% if customer.state %}
                                    <p><span class="text-muted">State:</span> {{ customer.state}}</p>
                                {% endif %}
                                {% if customer.province %}
                                    <p><span class="text-muted">Province:</span> {{ customer.province}}</p>
                                {% endif %}
                                {% if customer.district %}
                                    <p><span class="text-muted">District:</span> {{ customer.district}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if customer.email %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-envelope-o pull-left"></i>
                            <div class="m-l-xl">                        
                                <h4 class="list-group-item-heading text-muted">Email</h4>
                                <p class="list-group-item-text"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a>  {{ customer.email_two ? ' - <a href="mailto:{{ customer.email_two }}">' ~ customer.email_two ~ '</a>' : ''}}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if customer.phone %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-phone pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Phone</h4>
                                <p class="list-group-item-text">{{ customer.phone }} {{ customer.phone_two ? ' - ' ~ customer.phone_two : ''}}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if customer.fax %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-fax pull-left"></i>
                            <div class="m-l-lg">                        
                                <h4 class="list-group-item-heading text-muted">Fax</h4>
                                <p class="list-group-item-text">{{ customer.fax }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if customer.contact_details %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-info-circle pull-left"></i>
                            <div class="m-l-xl">                        
                                <h4 class="list-group-item-heading text-muted">Contact Details</h4>
                                <p class="list-group-item-text">{{ customer.contact_details }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'customer') %}
                {{ html_btn(site_url('ami/customers/edit/' ~ customer.armstrong_2_customers_id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>