{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}

<script>
function toTitleCase(str) {
    return str.replace(/\w\S*/g, function (txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    });
}

$(function() {
    $('.select-change').on('change', function(e) {
        var $this = $(this),
            name = $this.attr('name'),
            val = $this.find(":selected").val(),
            $container = $this.closest('.select-change-container');

        if (val) {
            $.ajax({
                url: "{{ site_url('ami/customers/country') }}",
                data: {key: name, value: val},
                type: 'POST',
                dataType: 'json',
                success: function(res) {

                    if (!res.field) {
                        return;
                    }

                    var options = '<option value="">-Select-</option>';
                    for (var key in res.value) {
                       options += '<option value="' + toTitleCase(res['value'][key]) + '">' + toTitleCase(res['value'][key]) + '</option>';
                    }
                    
                    $('select[name=' + res.field + ']').find('option').remove().end().append(options);
                }
            });
        } else {
            if ($container.length) {
                $container.nextAll('.select-change-container').each(function() {
                    $(this).find('.select-change option').remove();
                });
            }
        }
    });

    $('#ChannelSelect').on('change', function() {
        var $this = $(this),
            weightage = $this.find('option:selected').data('weightage') || 0;

        $('#ChannelWeightage').val(weightage);
    });

    $('#InputSalespersons').autocomplete({
        source: "{{ site_url('ami/salespersons/tokenfield') }}",
        delay: 100,
        select: function( event, ui ) {
            event.preventDefault();
            $(this).val(ui.item.label);
            $('#InputSalespersonsId').val(ui.item.value);
        }
    }).on('focus', function() {
        this.select();
    });
});
</script>
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/wholesalers/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {armstrong_2_wholesalers_id: wholesalers.armstrong_2_wholesalers_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Wholesalers</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/wholesalers', id: wholesalers.armstrong_2_wholesalers_id, permission: 'wholesalers'} %}
                </div>
                <div class="clearfix"></div>
            </div>              
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">   

                <div class="form-group">
                    {{ form_label('Armstrong 1 wholesalers id', 'armstrong_1_wholesalers_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'armstrong_1_wholesalers_id', value: wholesalers.armstrong_1_wholesalers_id, class: 'form-control'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Armstrong 2 wholesalers id', 'armstrong_2_wholesalers_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'armstrong_2_wholesalers_id', value: wholesalers.armstrong_2_wholesalers_id, class: 'form-control', 'disabled': 'disabled'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Name', 'name', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'name', value: wholesalers.name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                    </div>
                </div>

                {% if assigned_distributors|length > 1 %}
                    <div class="form-group">
                        {{ form_label('Distributor', 'armstrong_2_distributors_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('armstrong_2_distributors_id', assigned_distributors, wholesalers.armstrong_2_distributors_id, 'class="form-control"') }}
                        </div>
                    </div>
                {% endif %}

                 {% if salespersons|length > 1 %}
                    <div class="form-group">
                        {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('armstrong_2_salespersons_id', salespersons, wholesalers.armstrong_2_salespersons_id, 'class="form-control" ') }}
                        </div>
                    </div>
                {% endif %}
            {#data-parsley-required="true"#}
                {#<div class="form-group">#}
                    {#{{ form_label('Salesperson', 'armstrong_2_salespersons_id_', {class: 'control-label col-sm-3'}) }}#}
                    {#<div class="col-sm-6">#}
                        {#{{ form_input({name: 'armstrong_2_salespersons_id_', #}
                            {#value: salespersons ? salespersons.armstrong_2_salespersons_id ~ ' - ' ~ salespersons.first_name ~ ' ' ~ salespersons.last_name : '', #}
                            {#class: 'form-control', #}
                            {#id: 'InputSalespersons'#}
                        {#}) }}#}
                    {#</div>#}
                    {#<input type="hidden" name="armstrong_2_salespersons_id" id="InputSalespersonsId" value="{{ wholesalers.armstrong_2_salespersons_id }}" />#}
                {#</div>#}
            <div class="form-group">
                {{ form_label('SSD ID', 'ssd_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'ssd_id', value: wholesalers.ssd_id, class: 'form-control'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('SSD Name', 'sap_cust_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sap_cust_name', value: wholesalers.sap_cust_name, class: 'form-control'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Sap ID', 'sap_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sap_id', value: wholesalers.sap_id, class: 'form-control'}) }}
                </div>
            </div>
                <div class="form-group">
                    {{ form_label('Street Address', 'street_address', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'street_address', value: wholesalers.street_address, class: 'form-control', 'data-parsley-required': 'true'}) }}
                    </div>
                </div>

                {% for key, countryField in countryHierachy %}
                    <div class="form-group select-change-container">
                        {{ form_label(countryField|capitalize, countryField, {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {% if wholesalers.armstrong_2_wholesalers_id %}
                                {{ form_dropdown(countryField, countryValues[countryField], wholesalers[countryField], 'class="form-control select-change"') }}
                            {% else %}
                                {{ form_dropdown(countryField, (key == 'root') ? rootValues : [], wholesalers[countryField], 'class="form-control select-change"') }}
                            {% endif %}                            
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    {{ form_label('Postal Code', 'postal_code', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'postal_code', value: wholesalers.postal_code, class: 'form-control', 'data-parsley-type': 'number'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Phone', 'phone', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'phone', value: wholesalers.phone, class: 'form-control'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Phone 2', 'phone_2', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'phone_2', value: wholesalers.phone_2, class: 'form-control'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Fax', 'fax', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'fax', value: wholesalers.fax, class: 'form-control'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Email', 'email', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'email', value: wholesalers.email, class: 'form-control', 'data-parsley-type': 'email'}) }}
                    </div>
                </div>

                {# <div class="form-group">
                    {{ form_label('Update Info', 'update_info', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'update_info', value: wholesalers.update_info, class: 'form-control'}) }}
                    </div>
                </div> #}

                <div class="form-group">
                    {{ form_label('', 'active', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6 no-parsley">
                        <label class="radio-inline">{{ form_radio('active', 0, wholesalers.active == 0) }} Inactive</label>&nbsp;
                        <label class="radio-inline">{{ form_radio('active', 1, wholesalers.active == 1) }} Active</label>&nbsp;
                    </div>
                </div>

                {% if country_channels|length > 1 %}
                    <div class="form-group">
                        {{ form_label('Country Channel', 'country_channels_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('country_channels_id', country_channels, wholesalers.country_channels_id, 'class="form-control"') }}
                        </div>
                    </div>
                {% endif %}

                {% if country_sub_channels|length > 1 %}
                    <div class="form-group">
                        {{ form_label('Country Sub Channel', 'country_sub_channels_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('country_sub_channels_id', country_sub_channels, wholesalers.country_sub_channels_id, 'class="form-control"') }}
                        </div>
                    </div>
                {% endif %}

                {% if business_types|length > 1 %}
                    <div class="form-group">
                        {{ form_label('Country Sub Channel', 'business_types_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('business_types_id', business_types, wholesalers.business_types_id, 'class="form-control"') }}
                        </div>
                    </div>
                {% endif %}

                {% if assigned_distributors|length > 1 %}
                    <div class="form-group">
                        {{ form_label('Assigned Distributor 1', 'assigned_distributor_1', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('assigned_distributor_1', assigned_distributors, wholesalers.assigned_distributor_1, 'class="form-control"') }}
                        </div>
                    </div>
                {% endif %}

                {% if assigned_distributors|length > 1 %}
                    <div class="form-group">
                        {{ form_label('Assigned Distributor 2', 'assigned_distributor_2', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('assigned_distributor_2', assigned_distributors, wholesalers.assigned_distributor_2, 'class="form-control"') }}
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form_label('Contact Details', 'contact_details', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_textarea({name: 'contact_details', value: wholesalers.contact_details, class: 'form-control', 'rows': 3}) }}
                    </div>
                </div>

            <div class="form-group">
                {{ form_label('Is plus', 'is_plus', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('is_plus', 0, wholesalers.is_plus == 0) }} No</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('is_plus', 1, wholesalers.is_plus == 1) }} Yes</label>&nbsp;
                </div>
            </div>
        </div>
    </div> 

    {{ form_close() }}   
{% endblock %}