<div class="modal-dialog" style="max-height: 400px">

    {{ form_open(site_url('ami/wholesalers/pending' ~ wholesalers.armstrong_2_wholesalers_id), {class: 'modal-content'}) }}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ wholesalers.name }} - {{ wholesalers.armstrong_2_wholesalers_id }}</h3>
        </div>
        <div class="modal-body">
            {% if amendedData %}
                {% include 'ami/wholesalers/pending_action_amended_data.html.twig' %}
            {% else %}
                {% include 'ami/wholesalers/pending_action_data.html.twig' %}
            {% endif %}
        </div>
        <div class="modal-footer">
            {% if has_permission('manage_staff', 'salespersons') or has_permission('manage_all', 'salespersons') %}
            {% if app == 'app' %}
                <a href="{{ site_url('ami/wholesalers/approve/' ~ wholesalers.armstrong_2_wholesalers_id ) }}" class="btn btn-success btn-pending-submit"><i class="fa fa-fw fa-thumbs-up"></i> Approve</a></a>
            {% endif %}
            {% if app == 'rej' %}
                <a href="{{ site_url('ami/wholesalers/reject/' ~ wholesalers.armstrong_2_wholesalers_id ) }}" class="btn btn-danger btn-pending-submit"><i class="fa fa-fw fa-thumbs-down"></i> Reject</a></a>
            {% endif %}
            {% endif %}
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
        </div>
    {{ form_close() }}
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>