@media print
{
    * {-webkit-print-color-adjust:exact;}
    @page
    {
        size: 450mm 550mm;   /* auto is the current printer page size */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
}

@font-face {
    font-family: 'mohave';
    src: url(../../fonts/Mohave.ttf);
}

@font-face{
	font-family: 'avenir';
	src: url(../../fonts/avenirnext-regular.ttf) format('truetype');
}

@font-face{
	font-family: 'avenirBold';
	src: url(../../fonts/avenirnext-bold.ttf) format('truetype');
}

@font-face{
	font-family: 'avenirMed';
	src: url(../../fonts/avenirnext-medium.ttf) format('truetype');
}

@font-face{
	font-family: 'myriadPro';
	src: url(../../fonts/Myriad-Pro.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;

}

body{
	background-color: rgb(201,237,243) !important;
	/*min-width: 100%;*/
	/*overflow-x: hidden;*/
	width: 1920px; 
}


@media (max-width: 1366px)
.container {
    width: 1920px !important;
}

@media (min-width: 1366px)
.container {
    width: 1340px !important;
}

.headerbold{
	font-family: 'avenirBold';
	font-size: 24pt;
	color: #327782;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: left !important;
	
}

#content{
	width: auto;

	
}

#pageTitle{
	font-family: 'avenir';
	font-size: 16pt;
	color: #327782;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 2px;
	margin-left: 10px;
}


.sectionheader{
	font-family: 'avenirBold'  !important;
	color: #327782;
	font-size: 16pt;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.section{
  background : #EBEDED;
  border-style : Solid;
  border-color : #E6E7E8;
  border-width : 1px;
  box-shadow: 2px 2px 6px #A8ADAD;
  /*margin: 20px;*/
  margin-top: 1.2%;
  margin-bottom: 1.2%;
 /* margin-right: 2.1%;*/
  margin-left: 2.2%;
  width: 100%;
}

.right{
	margin-right: 2.1% !important;
}

/* sales team section */

#salesteam{
  float: left;
 
  
}

#salespersons{
	margin-top: 10px;
	
}
.human{
	float:left;
	width: 9.9%;
	height: 10%

	margin-left: 0.1%;
	
}

#leadergraph{
	/*width: 35%;*/
	float: left;
}

#repgraph{
	float: left;
}


#salesleader{
	border-radius: 5px;
	background: #4BD5E2;
	float: left;
	margin: 5px;
	padding: 5px;
    text-align: center;
    width: 18.65%;
    height: 65px;
    margin-left: 1.2%;
}


#salesleaderName{
	border-radius: 5px;
	background: #4BD5E2;
	float: left;
	margin: 5px;
	padding: 5px;
    padding-top: 2.5%;
    text-align: center;
    width: 47.5%;
    height: 65px;
    margin-left: 1.2%;
}


#salesrepName{
	border-radius: 5px;
	background: #4BD5E2;
	float: left;
	margin: 5px;
	padding: 5px;
    padding-top: 2.5%;
    text-align: center;
    width: 73%;
    height: 65px;
    margin-left: 1.2%;
}


#slcount{
	font-family: 'avenirBold';
	color: #FFFFFF;
}

#sllabel{
	font-family: 'avenir';
	color: #FFFFFF;
	
}

#salesrep{
	border-radius: 5px;
	background: #4BD5E2;
	float: left;
	margin: 5px;
	padding: 5px;
    text-align: center;
    width: 18.65%;
    height: 65px;
}

#salesrepteam{
	border-radius: 5px;
	background: #4BD5E2;
	float: left;
	margin: 5px;
	padding: 5px;
    text-align: center;
    width: 23.6%;
    height: 65px;
}


#srcount{
	font-family: 'avenirBold' !important;
	color: #FFFFFF;
	
}

#srlabel{
	font-family: 'avenir'  !important;
	color: #FFFFFF;
	
}

#performance{
	border-radius: 5px;
	background: #4BD5E2;
	float: left;
	margin: 10px;
	padding: 5px;
	text-align: center;
	width: 98%;
    margin-top: 2px;

}

#amountlabel{
	font-family: 'avenir';
	color: #FFFFFF;
	
}

#salesamount{
	font-family: 'avenirBold';
	color: #FFFFFF;
	
}

/* end of sales team section */

/*customer profiling section*/

#customerprofiling{
	float: left;
}

#profiling-vals{
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 1%;
}

 .prof-column-header{
 	font-family: 'avenir';
	color: #327782;
	
 }

  .prof-column-values{
 	font-family: 'avenirBold';
	color: #327782;
	
 }

.font-size-prof {
	font-size: 13pt;
}

 .col-main{
 /*	margin: 2%;*/
 	text-align: center;
 	float:left;/*fix for  buggy browsers*/
    display:table-column;	
    width: 20%;
    text-align: center;
   /* border: 1px solid #4BD5E2;*/
   
 }

 .col-total{
 	padding-top: 1.17%;
 }

 .col-val{
 	/*margin: 1%;*/
 	float:left;/*fix for  buggy browsers*/
    display:table-column;	
    width: 13%;
    text-align: center;
    padding: 0 5px 0 5px;
   /* border: 1px solid #4BD5E2;*/
 }

 .col-val2{
 	/*margin: 1%;*/
 	float:left;/*fix for  buggy browsers*/
    display:table-column;	
    width: 15%;
    text-align: center;
    padding: 0 5px 0 5px;
   /* border: 1px solid #4BD5E2;*/
 }

 .criteria-val{
 	border-radius: 5px;
	background: #4BD5E2;
	
	padding: 5px 7px 5px 7px;
	/*margin: 0 5px 0 5px;*/
	display:block;
	margin: 5px auto;
	
 }

 /*.cust-prof-row{
 	float: left;
 }*/

/*end of customer profiling section*/


/* 6 perfect call criteria */
#callcriteria {
	float: left;
	
	
}

#perfectcallgraph{
/*	width: 100%;*/
    margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	/*width: 98%;
	height: 80%;*/
}

#perfectcallperc{
	float: left;
	margin-top: 5%;
	/*margin-left: 2%;*/
	margin-bottom: 10%;
	text-align: center;
	/*padding-bottom: 36%;*/
}

#pcpercent{
	font-family: 'avenirBold';
	color: #4BD5E2;
	text-align: center;

}

#pclabel{
	font-family: 'avenir';
	color: #4BD5E2;
	text-align: center;
}

#perfcallgraph{
	float: left;
	margin-top: 0%;
	margin-bottom: 5%;
}

#ccleft-total {
	font-family: 'avenir';
	background: #4BD5E2;
	color: #FFFFFF;
	border-radius: 5px;
	float: none;
	margin: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
}

/*call coverage section*/

#callcoverage{
 	padding-bottom: 2%;
 	/*padding-left: 1%;*/
 	padding-right: 3%;
}	

#totalcallcount{
	font-family: 'avenirBold';
	color: #4BD5E2;	
}

#totalcallcountwhite{
	font-family: 'avenirBold';
	color: #FFFFFF;	
}

#totalcalls{
	font-family: 'avenir';
	color: #4BD5E2;
	
}

.otmlabel{
	font-family: 'avenir';
	color: #ffffff;	
	margin-top: 2px;
	text-align: center;
	
}

.otmborder{
	border-radius: 5px;
	background: #4BD5E2;
	float: left;
	padding: 0.5px 2px 0.5px 2px;
	width: 125px;
}


.otmcount{
	font-family: 'avenirBold';
	color: #ffffff;
	text-align: center;
	margin-top: 2px;
	
}


.callcounts{
	 /*margin: 0 auto;*/
	 padding-top: 5%;;
}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	 margin-left: 5%;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 0px 0 20px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree-inner{
	padding: 0px 15px 0 15px;
}

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #4BD5E2;
	width: 100%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #4BD5E2;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #4BD5E2;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 2px solid #4BD5E2;
	width: 0; height: 20px;
}


#callcov{
	font-family: 'avenir';
	font-size: 8pt;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

#callcoveragechart{
	margin-left: 8.5%;
	margin-right: 8.5%;
}

#calldata{
	display: table;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 10px;
}

.datacallrow{
	display: table-row;
}

.datacallcell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:200px;
        font-family: 'avenir';
        font-size: 7pt;
        color: #327782;
        font-weight: bold;

    }

.datacallvals{
	font-family: 'avenirBold';
    font-size: 18pt;
    color: #FF8C85;
    font-weight: bold;
    padding-right: 4px;
}


#calltable{
	display: table;
	margin: 0 auto;
	padding-top: 12px;
	margin-left: 2%;
	

}


#striketable{
	display: table;
	margin: 0 auto;
	padding-bottom: 5px;
}


#griptable, #grabtable{
	display: table;
	margin: 50px;
	padding-bottom: 5px;
}

.strikeheadercell{
	 margin-top: 0px;
}

.strikedatacell, .datacell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;	
        font-family: 'avenir';
        font-size: 7pt;
        color: #327782;
        font-weight: bold;
        width: 120px;
        text-align: center;
        padding: 3px;
    	/*padding-right: 20px;*/
	 	border: 1px solid #4BD5E2;
    }

.strikeheadercell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;	
        font-family: 'avenir';
        font-size: 7pt;
        color: #327782;
        font-weight: bold;
        width: 120px;
        text-align: center;
        padding: 3px;
    	/*padding-right: 20px;*/

    }

.gripheadercell, .datacell2, .grabheadercell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;	
        font-family: 'avenir';
        font-size: 7pt;
        color: #327782;
        font-weight: bold;
        width: 131px;
        text-align: center;
        padding: 3px;

    }

.strikeheaderrow, .datarow{
	display: table-row;

}

.strikeheaderrow, .datacell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;	
        font-family: 'avenir';
        font-size: 7pt;
        color: #327782;
        font-weight: bold;
        width: 100px;
        text-align: center;
        padding: 3px;

    }

.callheadercell{
	 margin-top: 0px;
}
.callheaderrow, .datarow{
	display: table-row;

}

.callheadercell, .datacell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;	
        font-family: 'avenir';
        font-size: 7pt;
        color: #327782;
        font-weight: bold;
        width: 100px;
        text-align: center;
        padding: 3px;

    }

 .datacell2, .titlecell{
 	border: 1px solid #4BD5E2 ;
 	display:table-column;
 	padding: 3px;
 }

 .datacell, .titlecell{
 	border: 1px solid #4BD5E2 ;
 	display:table-column;
 	padding: 3px;
 }

 .titlecell1{
 	width: 260px;
 }
 .titlecell{
 	float:left;/*fix for  buggy browsers*/
    display:table-column;	
    font-family: 'avenir';
    color: #ffffff;
    font-weight: bold;
    width: 260px;
    text-align: left;
    background: #4BD5E2;
    padding: 3px;
    vertical-align:middle;
 }
 .titlecell2{
 	width: 170px;
 }

 .titlecells{
 	float:left;/*fix for  buggy browsers*/
    display:table-column;	
    font-family: 'avenir';
    color: #ffffff;
    font-weight: bold;
    width: 260px;
    text-align: left;
    background: #4BD5E2;
    padding: 3px;
    vertical-align: middle;
    height: 52px;
 }

 .titlecell_gg{
 	float:left;/*fix for  buggy browsers*/
        display:table-column;	
        font-family: 'avenir';
        color: #ffffff;
        font-weight: bold;
        width: 170px;
        text-align: left;
        background: #4BD5E2;
        padding: 3px;
 }
/*end of call coverage section*/


/* tfo vs perfect call */

#tfovscall {
	float: left;
	
}

.strikeratechart{
	padding-top: 5%;
}

#tfovscall-top {
	/*height: 100pt;*/
	/*margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
*/
	margin-left: 15%;
	margin-top: 2%;
}

#tfovscall-box {
	/*width: 60pt;
	height: 80pt;*/
	border-style: solid;
	border-width: 1px;
	border-color: rgb(168,168,170);
	margin-right: 15px;
	text-align: center;
	line-height: 1.5;
	float: left;
	padding: 4px;
}

#tfovscall-box-legend {
	/*width: 70pt;
	height: 80pt;*/
	border-style: solid;
	border-width: 1px;
	border-color: rgb(168,168,170);
	margin-right: 15px;
	text-align: center;
	line-height: 1.5;
	float: left;
	padding: 4px;
}

#tfovscall-mid{
	margin: 2%;
}

text.tc-curr {
	margin-top: 10pt;
	margin-left: 5pt;
	margin-right: 5pt;
	color: rgb(111,218,229);
	font-weight: bold;
	font-family: 'avenirBold';
}

text.tc-prev {
	padding-top: 10pt;
	margin-left: 5pt;
	margin-right: 5pt;
	color: rgb(248,182,179);
	 /*color: rgb(248,182,179);*/
	font-weight: bold;
	font-family: 'avenirBold';
}

text.tc-prct {
	padding-top: 10pt;
	color: rgb(253,61,65);
	font-weight: bold;
	font-family: 'avenirBold';
}

text.tc-total {
	padding-top: 10pt;
	margin-left: 5pt;
	margin-right: 5pt;
	color: rgb(23,180,238);
	font-weight: bold;
	font-family: 'avenirBold';
}

figure {
	margin-right: 15px;
}

#tfovscall-btm {
	/*float: left;*/
	min-width: '100%';
	/*height: 133.33pt;*/
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 7%;
}

.tfovscall-legend-1 {
	background: #4BD5E2;
	border-style: solid;
	line-height: 1;
	height: 30px;
}

#new-legend {
	width: '100%';
	height: 1.5em;
	margin-left: 20px;	
}

#pc {
	float: left;
	margin-left: 2em;
	width: 0.65em;
	height: 0.65em;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.8em;
	border-color: rgb(15, 177, 238);
}

#sr {
	float: left;
	margin-left: 2em;
	width: 0.65em;
	height: 0.65em;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.8em;
	border-color: rgb(255, 43, 48);
}

#yrCurr {
	float: left;
	margin-left: 2em;
	width: 2.5em;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(74, 212, 225);
	height: 0.65em;
	background-color: rgb(74, 212, 225);
	
}

.yrCurr {
	float: left;
	margin-left: 3em;
	font-family: 'avenirMed';
	font-size: 12pt;
	color: #327782;
	text-align: left;
}

#yrPrev {
	float: left;
	margin-left: 2em;
	width: 2.5em;
	border-style: solid;
	border-width: 2px;
	
	border-color: rgb(255, 139, 133);
	height: 0.65em;
	background-color: rgb(255, 139, 133);
	
}


/*top 10 sku section*/
#topsku{
  
  height: auto;
  padding-bottom: 1.8%;
}



#topskuheader{
	margin-bottom: 3% !important;
}

.top_sku_name{
	font-family: 'avenir';
    color: #327782;
    text-align: left !important;
    margin-left: 3%;
}

#hoverhere:hover #hovervalue {
  display: inline-flex;
}

#hovervalue {
  border: 1px solid #ccc;
  display: none;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'avenir';
  width: auto;
}


.topskurow{
	margin-top: 2%;
}	

.topskugraph{
	margin-left: 3%;	
	display: block;
   /* width: 65% !important;*/
    height: 77px;
}


.topskuchange{
	font-family: 'avenir';
    color: #fff;
    font-weight: bold;
    background-color	: #39B54A;
    border-radius: 3px;
    width: 100%;
   margin-top: 1%;

}

.prev-year {
	
	width: 5.5%;
	height: 2.5%;
	background-color: rgb(255, 139, 133);
	margin-left: 2.2%;
	margin-top: 2.2%;
}

.curr-year {
	
	width: 5.5%;
	height: 2.5%;
	background-color: rgb(74, 212, 225);
	margin-left: 2.2%;
	margin-top: 2.2%;
}

.topsku-text {
	
	margin-left: 2.2%;
	margin-top: 2.2%;
	font-family: 'avenirMed';
	/*font-size: 9pt;*/
	color: #327782;
}

/*end of top 10 sku section*/

/* grip section*/
#grip{
	float: left;
  width: 98.1%;

}

#gripchart{
	padding-top: 2%;
}

#totalcust {
	float: left;
	margin-left: 2em;
	width: 0.65em;
	height: 0.65em;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.8em;
	border-color: #ff2b30;	
}

#totalgrab {
	float: left;
	margin-left: 2em;
	width: 0.65em;
	height: 0.65em;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.8em;
	border-color: #4BD5E2;	
}


#totalgrip {
	float: left;
	margin-left: 2em;
	width: 0.65em;
	height: 0.65em;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.8em;
	border-color: rgb(15, 177, 238);
}

#newgrip {
	float: left;
	margin-left: 2em;
	width: 0.65em;
	height: 0.65em;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.8em;
	border-color: #4BD5E2;
}

#lostgrip {
	float: left;
	margin-left: 2em;
	width: 0.65em;
	height: 0.65em;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.8em;
	border-color: rgb(255, 139, 133);
}



#grip-legend{
	display: block;
	
	padding-top: 2%;
	/*width: 100%;*/
	margin-left: 25%;
	margin-bottom: 2%;
}



/*end of grip section*/

.font-size-max {
	font-size: 24pt;
}

.font-size-lg {
	font-size: 18pt;
}

.font-size-md {
	font-size: 16pt;
}

.font-size-sm {
	font-size: 12pt;
}

.bold {
	font-weight: bold;
}

.bold-white {
	font-weight: bold;
	color: rgb(255,255,255);
}

.bold-mint {
	font-weight: bold;
	color: rgb();
}

.bold-blue {

}

.bold-pink {


}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


body {
	font-size: 16pt;	
}

/* grab section */

#grabTrg {
	float: left;
	margin-left: 2em;
	width: 0.65em;
	height: 0.65em;
	border-style: solid;
	border-width: 2px;
	border-radius: 0.8em;
}

/* growth grip section */

#growth-grip {
	width: '50%';
}

.font-size-mm {
	font-size: 14pt;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0;
}
.modal-backdrop {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    background-color: #000;
    height: 100px !important;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

.modal {
    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 0;
    left: 10%;
    z-index: 1040;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    width: 70%;
    height: 57%;
}

.modal2-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0;
}
.modal2-backdrop {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    background-color: #000;
    height: 100px !important;
}

.modal2-open .modal2 {
    overflow-x: hidden;
    overflow-y: hidden;
}

.modal2 {
    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 0;
    left: 10%;
    z-index: 1040;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    width: 45%;
    min-height: 30%;
    margin-left: auto;
    margin-right: auto;
}

.total-call-month{
	padding-left: 3.75%;
	text-align: justify !important;
	font-family: 'avenirBold';
	font-size: 11pt;
	color: #327782;
}

.total-perfect-call-month{
	padding-left: 4.1%;
	text-align: justify !important;
	font-family: 'avenirBold';
	font-size: 11pt;
	color: #327782;
}

.total-perfect-call-values{
	padding-left: 2.05%;
	text-align: justify !important;
	font-family: 'avenirBold';
	font-size: 8pt;
	color: #327782;
}

.total-slCount{
	padding-left: 5.8%;
	text-align: left !important;
	font-family: 'avenirBold';
	font-size: 11pt;
	color: #327782;
}

.total-srCount{
	padding-left: 5.7%;
	text-align: left !important;
	font-family: 'avenirBold';
	font-size: 11pt;
	color: #327782;
}

.total-sales-div{
	padding-right: 2.5%;
}

.total-salesrep-div{
	padding-right: 2%;
}

.total-perfectcall-div{
	padding-right: 2.6%;
	padding-left: 3.4%;
}

#totalwhite{
	font-family: 'avenir';
	color: white;
}

.total-strike-rate{
	padding-left: 4%;
	text-align: justify !important;
	font-family: 'avenirBold';
	font-size: 11pt;
	color: #327782;
}

#totaltfogrowth{
	font-family: 'avenir'  !important;
	color: #327782;
	font-size: 16pt;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.total-tfo-growth-existing{
	padding-left: 2.3%;
	text-align: justify !important;
	font-family: 'avenirBold';
	font-size: 8pt;
	color: #327782;
}

.total-tfo-growth-new{
	padding-left: 4%;
	text-align: justify !important;
	font-family: 'avenirBold';
	font-size: 8pt;
	color: #327782;
}

.total-top-sku-month{
	padding-left: 4.3%;
	text-align: justify !important;
	font-family: 'avenirBold';
	font-size: 11pt;
	color: #327782;
}

.growthChannelTable{
	padding: 4px;
	border: 1px solid;
	border-color: #808080;
}