#tfogrowth {
	/*min-width: 100%;*/
	/*height: 60.7%;*/
	float: left;
	/*background : #F1F2F2;
	background : rgba(241, 242, 242, 1);
	border-style : Solid;
	border-color : #E6E7E8;
	border-color : rgba(230, 231, 232, 1);
	border-width : 1px;
	box-shadow: 2px 2px 6px #A8ADAD;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;*/
}

#existBar{
	padding-right: 5%;
}

#sku_exist {
	margin-left: 5%;
	margin-top: 2%;
	/*margin-bottom: 2%;*/
}

#sku_new {
	float: left;
	margin-top: 6px;
	margin-left: 3em;
}

#tfogrowth-legend {
	width: '100%';
	height: 1.5em;
	margin-top: 2em;
}

#prevYr {
	display: inline-block;
	width: 5.5%;
	height: 13px;
	background-color: rgb(255, 139, 133);
	/*margin-left: 2.2%;*/
	margin-top: 2.2%;
}

#currYr {
	display: inline-block;
	width: 5.5%;
	height: 13px;
	background-color: rgb(74, 212, 225);
	
	margin-left: 2.2%;
	margin-top: 2.2%;
}

.tfogrowth-text {
	margin-left: 2.2%;
	margin-bottom: 2.2%;
	font-family: 'avenirMed';
	/*font-size: 9pt;*/
	color: #327782;
}

.legend {
	padding-left: 43%;