{% include 'ami/reports/custom/filter.twig.html' with {
	channel: 0,
	otm: 0,
	leaderAndPerson: 0
} %}

<div class="form-group">
	{{ form_label('Sales Leader', 'sales_leader', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		<select name="sales_leader[]" class="form-control" id="SalesLeaderSelect" multiple="multiple" style="min-height: 300px;">
			<option value="ALL" selected="selected">ALL</option>
			{% for sl in custom.salesleaders %}
				<option value="{{ sl.armstrong_2_salespersons_id }}" data-sub_type="{{ sl.sub_type }}">{{ sl.first_name }} {{ sl.last_name }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="form-group">
	{{ form_label('Armstrong 2 salespersons id', 'salesperson', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		<select name="armstrong_2_salespersons_id[]" class="form-control SalespersonsSelect" id="armstrong_2_salespersons_id" multiple="multiple" style="min-height: 300px;">
			<option value="" selected="selected" data-manager="">ALL</option>
			{% for sp in custom.salespersons %}
				<option value="{{ sp.armstrong_2_salespersons_id }}" data-manager="{{ sp.salespersons_manager_id }}">{{ sp.first_name }} {{ sp.last_name }}</option>
			{% endfor %}
			<option value="unassigned" data-manager="">Unassigned</option>
		</select>
	</div>
</div>