{% include 'ami/reports/custom/filter.twig.html' with {
	channel: 0,
	otm: 0,
	leaderAndPerson: 0
} %}

<div class="form-group">
	{{ form_label('Armstrong 2 salespersons id', 'salesperson', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		<select name="armstrong_2_salespersons_id[]" class="form-control SalespersonsSelect" id="armstrong_2_salespersons_id" multiple="multiple" style="min-height: 300px;">
			<option value="" selected="selected" data-manager="">ALL</option>
			{% for sp in custom.salespersons %}
				<option value="{{ sp.armstrong_2_salespersons_id }}" data-manager="{{ sp.salespersons_manager_id }}">{{ sp.armstrong_2_salespersons_id }} - {{ sp.first_name }} {{ sp.last_name }}</option>
			{% endfor %}
			<option value="unassigned" data-manager="">Unassigned</option>
		</select>
	</div>
</div>

<div class="form-group">
    {{ form_label('Customer Status', 'c_status', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        <select name="c_status" class="form-control" id="customer-status">
        	<option value="" selected="selected">ALL</option>
        	<option value="1">Active</option>
        	<option value="0">Inactive</option>
        	<option value="2">Potential Customers</option>
        </select>
    </div>
</div>