{% if region %}
	{% for key, countryField in custom.countryHierachy %}
		<div class="form-group select-change-container">
			{{ form_label(countryField|capitalize, countryField, {class: 'control-label col-sm-3'}) }}
			<div class="col-sm-6">
				{% set _values = (key == 'root') ? custom.rootValues : [] %}
				{{ form_dropdown(countryField, _values, null, 'class="form-control select-change"') }}
			</div>
		</div>
	{% endfor %}
{% endif %}

{% if regionOnly %}
	<div class="form-group">
		{{ form_label('Region', 'region', {class: 'control-label col-sm-3'}) }}
		<div class="col-sm-6">
			{{ form_dropdown('region[]', custom.regions, 'ALL', 'class="form-control" multiple="multiple" style="min-height: 300px;"') }}
		</div>
	</div>
{% endif %}

{% if channel %}
	<div class="form-group">
		{{ form_label('Channel', 'channel', {class: 'control-label col-sm-3'}) }}
		<div class="col-sm-6">
			<select name="channel[]" class="form-control" id="ChannelSelect" multiple="multiple" style="min-height: 300px;">
				<option value="-1" selected="selected">ALL</option>
				{% for country_channel in custom.countryChannels %}
					<option value="{{ country_channel.id }}">{{ country_channel.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endif %}

{% if otm %}
	<div class="form-group">
		{{ form_label('OTM', 'otm', {class: 'control-label col-sm-3'}) }}
		<div class="col-sm-6">
			{{ form_dropdown('otm[]', {'ALL': 'ALL', 'A': 'A', 'B': 'B', 'C': 'C', 'D': 'D', 'O': 'Other'}, 'ALL', 'class="form-control" id="InputOTM" multiple="multiple" style="min-height: 120px;"') }}
		</div>
	</div>
{% endif %}

{% if leaderAndPerson %}
	<div class="form-group">
		{{ form_label('Sales Leader', 'sales_leader', {class: 'control-label col-sm-3'}) }}
		<div class="col-sm-6">
			<select name="sales_leader[]" class="form-control" id="SalesLeaderSelect" multiple="multiple" style="min-height: 300px;">
				<option value="ALL" selected="selected">ALL</option>
				{% for sl in custom.salesleaders %}
					<option value="{{ sl.armstrong_2_salespersons_id }}">{{ sl.first_name }} {{ sl.last_name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group">
		{{ form_label('Armstrong 2 salespersons id', 'salesperson', {class: 'control-label col-sm-3'}) }}
		<div class="col-sm-6">
			<select name="armstrong_2_salespersons_id[]" class="form-control SalespersonsSelect" id="armstrong_2_salespersons_id" multiple="multiple" style="min-height: 300px;">
				<option value="" selected="selected" data-manager="">ALL</option>
				{% for sp in custom.salespersons %}
					<option value="{{ sp.armstrong_2_salespersons_id }}" data-manager="{{ sp.salespersons_manager_id }}">{{ sp.first_name }} {{ sp.last_name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endif %}