{% include 'ami/reports/custom/filter.twig.html' with {
	channel: 1,
	otm: 1,
	leaderAndPerson: 1
} %}

{# <div class="form-group">
	{{ form_label('App Type', 'app_type', {class: 'control-label col-sm-3'}) }}
	<div class="col-sm-6">
		{{ form_dropdown('app_type', app_type, null, 'class="form-control fetch-sl" id="input-app-type"') }}
	</div>
</div> #}
