{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>


    <script>
        $(function () {
            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/setting_game/integrate_with_applications/ajaxData') }}",*/
                'order': [[1, 'desc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
    <style type="text/css">
        .bg_disabled {
            background: #d9edf7
        }
    </style>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/setting_game/integrate_with_applications_save?filter='~ filter), {class: draft ? '' : 'submit-confirm'}) }}
    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Integrate With Applications Draft' : 'Integrate With Applications' }}</h1>

                <div class="text-right">
                    <div role="group" class="btn-group btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            {% if not draft %}
                                <div class="row table-filter">
                                    <div class="col-md-12">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="dropdownFilter" data-toggle="dropdown">
                                                Filter: {{ filter ? filter|capitalize : 'All' }} <span
                                                        class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
                                                <li role="presentation" {{ filter ? '' : 'class="active"' }}><a
                                                            role="menuitem" tabindex="-1"
                                                            href="{{ site_url('ami/setting_game/integrate_with_applications') }}">All</a>
                                                </li>
                                                {% for country in countries %}
                                                    <li role="presentation" {{ filter == country.code ? 'class="active"' : '' }}>
                                                        <a role="menuitem" tabindex="-1"
                                                           href="{{ site_url('ami/setting_game/integrate_with_applications?filter='~country.code) }}">{{ country.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Salespersons</th>
                                <th>Pull</th>
                                <th>Leader</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,post in data %}
                                <tr>
                                    <th align="center">{{ key + 1 }}</th>
                                    <td>{{ post.email ~ '--' ~ post.armstrong_2_salespersons_id }}</td>
                                    <td class="center {{ post.app_type != 0 ? 'bg_disabled' : '' }}">
                                        {% if post.app_type == 0 %}
                                            {{ form_checkbox('cf[pull]['~post.armstrong_2_salespersons_id~']', 1, post.is_pull) }}
                                        {% endif %}
                                    </td>
                                    <td class="center {{ post.app_type != 2 ? 'bg_disabled' : '' }}">
                                        {% if post.app_type == 2 %}
                                            {{ form_checkbox('cf[leader]['~post.armstrong_2_salespersons_id~']', 1, post.is_leader) }}
                                        {% endif %}
                                    </td>
                                    <td class="center">{{ post.last_updated }}</td>
                                    <td class="center">{{ post.last_updated }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {{ form_close() }}
{% endblock %}