{% extends "ami/base.html.twig" %}
{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/setting_module_fields/module_fields_save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': post.id , 'filter':filter}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Questions</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/setting_module_fields/module_fields', id: post.id, permission: 'setting_module_fields'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Field', 'title', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'field', value: post.field, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group select_cat" >
                {{ form_label('Module', 'modules', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('module', modules, post.module, 'class="form-control form_select_cat" data-parsley-required="true"') }}
                </div>
            </div>

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}