{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>


    <script>
        $(function () {
            $('#dataTables').dataTable({
                'order': [[0, 'asc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/setting_module_fields/modules_process'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Modules Draft' : 'Modules' }}</h1>
                {#<div class="text-right">#}
                {#<span class="btn-header-toolbar hide m-r" id="CheckAllBtn">#}
                {#{{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}#}
                {#</span>#}
                {#{% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/news_feed', icon: 'fa-user', title: 'Modules', permission: 'news_feed', showImport: 0} %}#}
                {#</div>#}
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            {% if not draft %}
                                {% if has_permission('add', permission) %}
                                    <div class="row table-filter">
                                        <div class="col-md-12">
                                            <div class="col-sm-8" style="padding-left:0px">
                                                {{ form_input({name: 'name', value: '', class: 'form-control input-sm' }) }}
                                            </div>
                                            <div class="col-sm-2">
                                                {{ form_button({type: 'submit', content: '<i class="fa fw fa-plus"></i> Add', class: 'btn btn-success btn-sm'}) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <thead>
                            <tr>
                                {#{% if has_permission('delete', 'news_feed') %}#}
                                {#<th class="nosort text-center"><input type="checkbox" class="CheckAll"#}
                                {#data-target="tbody"#}
                                {#data-description="#CheckAllBtn"></th>#}
                                {#{% endif %}#}
                                <th>ID</th>
                                <th>Title</th>
                                <th>Created</th>
                                <th>Updated</th>
                                {#<th class="nosort text-center"></th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in data %}
                                <tr>
                                    {#{% if has_permission('delete', 'news_feed') %}#}
                                    {#<td class="text-center">{{ form_checkbox({name: 'ids[]', value: post.id}) }}</td>#}
                                    {#{% endif %}#}
                                    <td>{{ post.id }}</td>
                                    <td class="center">{{ post.name }}</td>
                                    <td class="center">{{ post.date_created }}</td>
                                    <td class="center">{{ post.last_updated }}</td>
                                    {#<td class="center text-center" style="min-width: 80px;">#}
                                    {#<div class="btn-group">#}

                                    {#{% if has_permission('edit', 'news_feed') %}#}
                                    {#{{ html_btn(site_url('ami/news_feed/edit/' ~ new.id ~ '?filter=' ~ filter), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}#}

                                    {#{% endif %}#}

                                    {#{% if filter == 'pending' %}#}
                                    {#{% if has_permission('manage_staff', 'salespersons') or has_permission('manage_all', 'salespersons') %}#}
                                    {#{{ html_btn(site_url('ami/news_feed/pending/' ~ new.id), '<i class="fa fa-thumbs-up"></i>', {'class': 'btn-default approve', 'title': 'Approve', 'data-toggle': 'ajaxModal'}) }}#}
                                    {#{{ html_btn(site_url('ami/news_feed/pending/' ~ new.id), '<i class="fa fa-thumbs-down"></i>', {'class': 'btn-default reject', 'title': 'Reject', 'data-toggle': 'ajaxModal'}) }}#}
                                    {#{% endif %}#}
                                    {#{% endif %}#}

                                    {#{% if has_permission('delete', 'news_feed') and (filter != 'pending') %}#}
                                    {#{% if draft %}#}
                                    {#{{ html_btn(site_url('ami/news_feed/restore/' ~ new.id), '<i class="fa fa-history"></i>', {'class': 'btn-default restore', 'title': 'Restore', 'data-toggle': 'ajaxModal'}) }}#}
                                    {#{% else %}#}
                                    {#{{ html_btn(site_url('ami/news_feed/delete/' ~ new.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}#}
                                    {#{% endif %}#}
                                    {#{% endif %}#}
                                    {#</div>#}
                                    {#</td>#}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% if draft %}
                                    {% set pagination_url = filter ? site_url('ami/news_feed/draft?filter=' ~ filter) : site_url('ami/news_feed/draft') %}
                                {% else %}
                                    {% set pagination_url = filter ? site_url('ami/news_feed/?filter=' ~ filter) : site_url('ami/news_feed') %}
                                {% endif %}
                                {{ pagination({base_url: pagination_url, per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}