{% extends "ami/base.html.twig" %}
{% block js %}
    <script>
        $(".cat_question input:radio").change(function () {
            val = $(this).val();
            if (val == 0) {
                $('.select_cat').hide();
            } else if (val == 1) {
                $('.select_cat').show();
            }
        });
        $(".select_app_type input:radio").change(function () {
            val = $(this).val();
            if (val) {
                url_rq = "{{ site_url('ami/questions/cat_questions') }}";
                $.ajax({
                    url: url_rq + '/' + val + '/true',
                    type: 'GET',
                    success: function (res) {
                        $('.form_select_cat').html(res);
                    }
                });
            }
        });
    </script>
{% endblock %}
{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/questions/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': post.id , 'filter':filter}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Questions</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/questions', id: post.id, permission: 'questions'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Title', 'title', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'title', value: post.title, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group select_app_type">
                {{ form_label('Type', 'Type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('app_type', 0, post.app_type == 0) }} Pull</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('app_type', 1, post.app_type == 1) }} Push</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('app_type', 2, post.app_type == 2) }} Leader</label>
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Cat Questions', 'cat_questions', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley cat_question">
                    <label class="radio-inline">{{ form_radio('type_question', 1, post.type_question == 1) }}
                        Question</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('type_question', 0, post.type_question == 0) }}
                        Categories</label>
                </div>
            </div>
            <div class="form-group select_cat" style="display:{{ post.type_question == 1 ? 'block' : 'none' }}">
                {{ form_label('', 'cat_questions', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('parent_id', cat_questions, post.parent_id, 'class="form-control form_select_cat" data-parsley-required="true"') }}
                </div>
            </div>

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}