{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(function () {
            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/questions/ajaxData') }}",*/
              //  "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
               // 'order': [[1, 'asc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
        var flagsord = true;
        $(document).on('keyup', '#dataTables_filter input[type="search"]', function(){
            if($(this).val() != '')
            {
                $('.saveaction').hide();
                flagsord = false;
                $('.sortquestion').sortable('disable');
            }
            else
            {
                $('.saveaction').show();
                flagsord = true;
                $( ".sortquestion" ).sortable();
                $( ".sortquestion" ).sortable( "option", "disabled", false );
                // ^^^ this is required otherwise re-enabling sortable will not work!
                $( ".sortquestion" ).disableSelection();
                return false;
            }
        });
        $('.editquestion').click(function(){
            var idquestion = $(this).data('id');
            $.ajax({
                url: "{{ site_url('ami/questions/edit/') }}/"+idquestion,
                type: 'get',
                dataType: 'json',
                success: function (json)
                {
                    if(json.id)
                    {
                        $('#myModal input[name="title"]').val(json.title);
                        $('#myModal input[name="id"]').val(json.id);
                        $('#myModal input[name="app_type"][value="'+json.app_type+'"]').click();
                        $('#myModal input[name="parent_id"]').val(json.parent_id);
                        $('#myModal input[name="type_question"]').val(json.type_question);
                        $('#myModal input[name="require"][value="'+json.require+'"]').click();
                        $('#myModal').modal('show');
                    }
                    else
                    {
                        alert(json)
                    }
                }
            });
            return false;
        });
        $('.addaction').click(function(){
            $('#myModal input[name="title"]').val('');
            $('#myModal input[name="id"]').val('');
            $('#myModal input[name="app_type"][value="0"]').click();
            $('#myModal input[name="parent_id"]').val('{{ parent_id }}');
            $('#myModal input[name="type_question"]').val('{{ parent_id ? 1 : 0 }}');
            $('#myModal input[name="require"][value="0"]').click();
            $('#myModal').modal('show');
        });
        function updateOrder()
        {
            $.ajax({
                url: "{{ site_url('ami/questions/update/') }}/",
                type: 'POST',
                beforeSend: function () {
                    $('.loaddingicon').show();
                },
                complete: function () {
                    $('.loaddingicon').hide();
                },
                dataType: 'json',
                data: $('.sortquestion input[type="checkbox"]'),
                success: function (json)
                {

                }
            });
        }
        $(".sortquestion").sortable({
            update: function(event, ui) {
                updateOrder();
            }
        }).disableSelection();
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
    <style>
        .sortquestion .center {
            cursor: move;
        }
        .ui-sortable-disabled .center {
            cursor: default !important;
        }
        .nosort::after{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/questions/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Questions Draft' : tittle_page }}</h1>

                <div class="text-right">
                    {% if has_permission('view', permission) %}
                        <div role="group" class="btn-group btn-header-toolbar">
                            {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger hide" nam="delete"  id="CheckAllBtn"'}) }}
                            {% if isquestion %}
                                <a class="btn btn-sm btn-default" href="{{ site_url('ami/questions/index') }}"><i class="fa fa-fw fa-ban"></i> Cancel</a>
                            {% endif %}
                            {% if has_permission('add', permission) %}
                                <button type="button" class="btn btn-sm btn-success addaction">
                                    <i class="fa fw fa-plus"></i> Add
                                </button>
                                {#<span class="btn btn-sm btn-success addaction" href="{{ site_url('ami/questions/add') }}"><i class="fa fw fa-plus"></i> Add</span>#}
                                {#{{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-sm btn-success saveaction'}) }}#}
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% if not draft %}
        <!--div class="row">
            <div class="col-md-12">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button"
                            id="dropdownFilter" data-toggle="dropdown">
                        Filter: {{ filter ? filter|capitalize : 'All' }} <span
                                class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
                        <li role="presentation" {{ filter ? '' : 'class="active"' }}><a
                                    role="menuitem" tabindex="-1"
                                    href="{{ site_url('ami/questions') }}">All</a></li>
                        <li role="presentation" {{ filter == 'approved' ? 'class="active"' : '' }}>
                            <a role="menuitem" tabindex="-1"
                               href="{{ site_url('ami/questions?filter=pull') }}">Pull</a>
                        </li>
                        <li role="presentation" {{ filter == 'pending' ? 'class="active"' : '' }}>
                            <a role="menuitem" tabindex="-1"
                               href="{{ site_url('ami/questions?filter=push') }}">Push</a>
                        </li>
                        <li role="presentation" {{ filter == 'reject' ? 'class="active"' : '' }}>
                            <a role="menuitem" tabindex="-1"
                               href="{{ site_url('ami/questions?filter=leader') }}">Leader</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div-->
    {% endif %}
    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">

                            <thead>
                            <tr>
                                {% if has_permission('delete', 'questions') %}
                                    <th style="width:30px;" class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th style="width:30px;" class="nosort">Order</th>
                                <th class="nosort">Title</th>
                                <th style="width:80px;" class="nosort">App Type</th>
                                {% if isquestion %}
                                {% else %}
                                    <th style="width:80px;" class="nosort">Total question</th>
                                {% endif %}
                                <th style="width:80px;" class="nosort">Type</th>
                                {#<th class="nosort">Created</th>#}
                                <th style="width:120px;" class="nosort">Updated</th>
                                <th style="width:80px;" class="nosort text-center">
                                    <img width="30px" style="display: none; " class="loaddingicon" src="{{ site_url('res/img') }}/loading.gif">
                                </th>
                            </tr>
                            </thead>
                            <tbody class="sortquestion">
                            {% for post in data %}
                                <tr>
                                    {% if has_permission('delete', 'questions') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: post.id}) }}</td>
                                    {% endif %}
                                    {#<td class="center">{{ post.id }}</td>#}
                                    <td class="center">
                                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                    </td>
                                    <td class="center">
                                        {% if has_permission('edit', 'questions') %}
                                            {% if isquestion %}
                                                {{ post.title }}
                                            {% else %}
                                                <a href="{{ site_url('ami/questions/index/' ~ post.id ~ '?filter=' ~ filter) }}">{{ post.title }}</a>
                                            {% endif %}
                                        {% else %}
                                            {{ post.title }}
                                        {% endif %}</td>
                                    <td class="center">{% if post.app_type == 0 %}  Pull
                                        {% elseif post.app_type == 1 %} Push
                                        {% else %}  Leader
                                        {% endif %}
                                    </td>
                                    {% if isquestion %}
                                    {% else %}
                                        <td>{{ post.total_question }} questions</td>
                                    {% endif %}
                                    <td class="center">{{ post.parent_id == 0 ? 'Category' : 'Question' }}</td>
                                    {#<td class="center">{{ post.date_created }}</td>#}
                                    <td class="center">{{ post.last_updated }}</td>
                                    <td class="center text-center" style="min-width: 80px;">
                                        <div class="btn-group">

                                            {% if has_permission('edit', 'questions') %}
                                                {{ html_btn(site_url('ami/questions/index/' ~ post.id ~ '?filter=' ~ filter), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit editquestion', 'data-id': post.id, 'title': 'Edit'}) }}

                                            {% endif %}

                                            {% if filter == 'pending' %}
                                                {% if has_permission('manage_staff', 'salespersons') or has_permission('manage_all', 'salespersons') %}
                                                    {{ html_btn(site_url('ami/questions/pending/' ~ post.id), '<i class="fa fa-thumbs-up"></i>', {'class': 'btn-default approve', 'title': 'Approve', 'data-toggle': 'ajaxModal'}) }}
                                                    {{ html_btn(site_url('ami/questions/pending/' ~ post.id), '<i class="fa fa-thumbs-down"></i>', {'class': 'btn-default reject', 'title': 'Reject', 'data-toggle': 'ajaxModal'}) }}
                                                {% endif %}
                                            {% endif %}

                                            {% if has_permission('delete', 'questions') and (filter != 'pending') %}
                                                {% if draft %}
                                                    {{ html_btn(site_url('ami/questions/restore/' ~ post.id), '<i class="fa fa-history"></i>', {'class': 'btn-default restore', 'title': 'Restore', 'data-toggle': 'ajaxModal'}) }}
                                                {% else %}
                                                    {{ html_btn(site_url('ami/questions/delete/' ~ post.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% if draft %}
                                    {% set pagination_url = filter ? site_url('ami/questions/draft?filter=' ~ filter) : site_url('ami/questions/draft') %}
                                {% else %}
                                    {% set pagination_url = filter ? site_url('ami/questions/?filter=' ~ filter) : site_url('ami/questions') %}
                                {% endif %}
                                {{ pagination({base_url: pagination_url, per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {{ form_close() }}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add {{ tittle_page }}</h4>
                </div>
                <div class="modal-body">
                    {{ form_open(site_url('ami/questions/save'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}
                    <div class="form-group">
                        {{ form_label('Title', 'title', {class: 'control-label'}) }}
                        {{ form_input({name: 'title', value: post.title, class: 'form-control', 'data-parsley-required': 'true'}) }}
                    </div>
                    <div class="form-group select_app_type {% if isquestion %}hide{% endif %}">
                        {{ form_label('Type', 'Type', {class: 'control-label'}) }}
                        <div class="no-parsley">
                            <label class="radio-inline">{{ form_radio('app_type', 0, post.app_type == 0) }} Pull</label>&nbsp;
                            <label class="radio-inline">{{ form_radio('app_type', 1, post.app_type == 1) }} Push</label>&nbsp;
                            <label class="radio-inline">{{ form_radio('app_type', 2, post.app_type == 2) }} Leader</label>
                        </div>
                    </div>
                    <div class="form-group {% if isquestion %}{% else %}hide{% endif %}">
                        {{ form_label('Require', 'Require', {class: 'control-label'}) }}
                        <div class="no-parsley">
                            <label class="radio-inline">{{ form_radio('require', 1, post.require == 1) }} Yes</label>&nbsp;
                            <label class="radio-inline">{{ form_radio('require', 0, post.require == 0) }} No</label>&nbsp;
                        </div>
                    </div>
                    <input type="hidden" name="type_question" value="{{ parent_id ? 1 : 0 }}">
                    <input type="hidden" name="parent_id" value="{{ parent_id }}">
                    <input type="hidden" name="id" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                {{ form_close() }}
            </div>
        </div>
    </div>

{% endblock %}