{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script>
$(document).ready(function() {
    $('#DateTimeCallInput').daterangepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
        timePicker: true,
        timePicker12Hour: false,
        timePickerIncrement: 10
    }).on('apply.daterangepicker', function(ev, picker) {
        $('input[name=datetime_call_start]').val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
        $('input[name=datetime_call_end]').val(picker.endDate.format('YYYY-MM-DD HH:mm:ss'));
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/call_records/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {armstrong_2_call_records_id: record.armstrong_2_call_records_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Call Records</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/call_records', id: record.armstrong_2_call_records_id, permission: 'call_records'} %}
                </div>
                <div class="clearfix"></div>
            </div>              
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">  

                {% if plans %}
                    <div class="form-group">
                        {{ form_label('Route Plans', 'armstrong_2_route_plan_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('armstrong_2_route_plan_id', plans, record.armstrong_2_route_plan_id, '
                                class="form-control AutoInputTrigger"
                                data-parsley-required="true" 
                                data-url="' ~ site_url('ami/route_plan/info') ~ '"
                            ') }}
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form_label('Salespersons', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'armstrong_2_salespersons_id', value: record.armstrong_2_salespersons_id, 
                            'class': 'form-control AutoInput', 
                            'readonly': 'readonly',
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Customers', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'armstrong_2_customers_id', value: record.armstrong_2_customers_id, 
                            'class': 'form-control AutoInput', 
                            'readonly': 'readonly',
                        }) }}
                    </div>
                </div>    

                <div class="form-group">
                    {{ form_label('Date Time Call', 'date_time_call', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'date_time_call', value: record.armstrong_2_call_records_id ? record.datetime_call_start ~ ' - ' ~ record.datetime_call_end : null, 
                            'class': 'form-control',
                            'id': 'DateTimeCallInput',
                            'data-parsley-required': 'true' 
                        }) }}
                        <input type="hidden" name="datetime_call_start" value="{{ record.datetime_call_start }}" />
                        <input type="hidden" name="datetime_call_end" value="{{ record.datetime_call_end }}" />
                    </div>
                </div>            

                {# {% if salespersons %}
                    <div class="form-group">
                        {{ form_label('Salespersons', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('armstrong_2_salespersons_id', salespersons, record.armstrong_2_salespersons_id, 'class="form-control"') }}
                        </div>
                    </div>
                {% endif %}

                {% if customers %}
                    <div class="form-group">
                        {{ form_label('Customers', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('armstrong_2_customers_id', customers, record.armstrong_2_customers_id, 'class="form-control"') }}
                        </div>
                    </div>
                {% endif %} #}
        </div>
    </div> 

    {{ form_close() }}   
{% endblock %}