{% if records %} 

    <div class="panel panel-default">                            
        <div class="panel-body">                
            <div class="">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            {% if has_permission('delete', 'call_records') %}
                                <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                            {% endif %}
                            <th>ID</th>
                            <th>Salesperson Name</th>
                            <th>Operator</th>
                            <th>Call Start</th>
                            <th>Call End</th>
                            <th>Time Taken</th>
                            <th class="nosort text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                            <tr>
                                {% if has_permission('delete', 'call_records') %}
                                    <td class="text-center">{{ form_checkbox({name: 'ids[]', value: record.armstrong_2_call_records_id}) }}</td>
                                {% endif %}
                                <td><a href="{{ site_url('ami/call_records/edit/' ~ record.armstrong_2_call_records_id) }}" title="{{ record.armstrong_2_call_records_id }}" data-toggle="ajaxModal">{{ record.armstrong_2_call_records_id }}</a></td>
                                <td>{{ record.armstrong_2_salespersons_id }} - {{ record.first_name }} {{ record.last_name }}</td>
                                <td>{{ record.armstrong_2_customers_id }} - {{ record.armstrong_2_customers_name }}</td>
                                <td class="center">{{ record.datetime_call_start }}</td>
                                <td class="center">{{ record.datetime_call_end }}</td>
                                <td class="center">{{ record.time_taken }}</td>
                                <td class="center text-center" style="min-width: 80px;">
                                    {% if has_permission('edit', 'call_records') or has_permission('delete', 'call_records') %}
                                        {% include 'ami/components/table_btn.html.twig' with {url: 'ami/call_records', id: record.armstrong_2_call_records_id, permission: 'call_records'} %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /. -->
        </div>
        <!-- /.panel-body -->

    </div>

    <script>
    $(function() {

        // $('#dataTables').dataTable.destroy();

        $('#dataTables').dataTable({
            "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
            'order': [[1, 'asc']],
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });        
    });  
    </script>
{% else %}
    <div class="col-sm-6 col-sm-offset-3">There are no call records</div>
{% endif %}