{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/ckeditor/ckeditor.js') }}"></script>

    <script>
        otm_val = '';
        $(document).ready(function () {
            var type_val = $('select[name="type"]').val();
            if (type_val != 1) {
                $('select[name="otm"]').closest('div.form-group').hide();
                $('select[name="otm"]').val('');
            } else {
                otm_val = $('select[name="otm"]').val();
            }
        });

        $(function () {
            createUploader($('#imageUpload'));
            createUploader($('#videoUpload'));
            createUploader($('#brochureUpload'));
            createUploader($('#specUpload'));
            createUploader($('#certUpload'));


            $('select[name="type"]').on('change', function (e) {
                var $val = $(this).val(),
                        otm = $('select[name="otm"]');
                if ($val == 1) {
                    otm.val(otm_val);
                    otm.closest('div.form-group').show();
                } else {
                    otm.closest('div.form-group').hide();
                    otm.val('');
                }
            });

            $('select[name="otm"]').on('change', function (e) {
                otm_val = $(this).val();
            });
        });

        CKEDITOR.replace('inputContent', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });

        CKEDITOR.replace('inputDescription', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });

        CKEDITOR.replace('inputNutrition', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });

        CKEDITOR.on('instanceReady', function () {
            $.each(CKEDITOR.instances, function (instance) {
                CKEDITOR.instances[instance].on("change", function (e) {
                    for (instance in CKEDITOR.instances) {
                        CKEDITOR.instances[instance].updateElement();
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/promotions/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': post.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Promotions</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/promotions', id: post.id, permission: 'promotions'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('SKU Name', 'sku_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sku_name', value: post.sku_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('SKU Code', 'sku_code', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sku_code', value: post.sku_code, class: 'form-control'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Products', 'products_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('products_id', products, post.products_id, 'class="form-control"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('SKU Name (Other Language)', 'name_alt', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'name_alt', value: post.name_alt, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Description', 'description', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'description', value: post.description, class: 'form-control input-xxlarge',
                        'id': 'inputDescription'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Ingredients', 'ingredients', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'ingredients', value: post.ingredients, class: 'form-control input-xxlarge', id: 'inputContent', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Brand', 'brands_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('brands_id', brands, post.brands_id, 'class="form-control"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Barcode', 'barcode', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'barcode', value: post.barcode, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Price', 'price', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'price', value: post.price, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Quantity in Case', 'quantity_case', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'quantity_case', value: post.quantity_case, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-type': 'integer'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Weight per Pc', 'weight_pc', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'weight_pc', value: post.weight_pc, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Segment', 'segments_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('glob_pro_hierarchy[]', segments, post.glob_pro_hierarchy_array.4, 'class="form-control"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Shelf Life', 'shelf_life', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'shelf_life', value: post.shelf_life, class: 'form-control'}) }}
                </div>
            </div>

            {% if session.country_id in [4] %}
                <div class="form-group">
                    {{ form_label('Pallet Configuration', 'pallet_configuration', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'pallet_configuration', value: post.pallet_configuration, class: 'form-control'}) }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Is Top Ten', 'is_top_ten', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label class="">{{ form_checkbox('is_top_ten', 1, post.is_top_ten) }}</label>
                    </div>
                </div>
            </div>

            {% if cuisine_channels|length > 1 %}
                <div class="form-group">
                    {{ form_label('Cuisine Channels', 'cuisine_channels_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('cuisine_channels_id', cuisine_channels, post.cuisine_channels_id, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Nutrition Name', 'nutrition_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'nutrition_name', value: post.nutrition_name, class: 'form-control input-xxlarge', id: 'inputNutrition'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Type', 'type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('type', type, post.type ? post.type :1, 'class="form-control"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('OTM', 'otm', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('otm', otm, post.otm ? post.otm : 'D', 'class="form-control"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('App Type', 'app_type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('app_type', app_type, post.app_type ? post.app_type : 0, 'class="form-control"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('', 'listed', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('listed', 0, post.listed == 0) }} Delisted</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('listed', 1, post.listed == 1) }} Listed</label>&nbsp;
                </div>
            </div>

            {% include 'ami/components/uploader_image.html.twig' with {entry_type: 'promotions'} %}

            {% include 'ami/components/uploader_video.html.twig' with {entry_type: 'promotions'} %}

            {% include 'ami/components/uploader_brochure.html.twig' with {entry_type: 'promotions'} %}

            {% include 'ami/components/uploader_spec.html.twig' with {entry_type: 'promotions'} %}

            {% include 'ami/components/uploader_cert.html.twig' with {entry_type: 'promotions'} %}

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}