{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<!-- DataTables JavaScript -->
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('.dataTables').dataTable({
        /*"processing": true,
        "serverSide": true,
        "ajax": "{{ site_url('ami/promotions/ajaxData') }}",*/
        'order': [[1, 'asc']],
        'aoColumnDefs': [{
            'aTargets': ['nosort']
        }],
        "iDisplayLength": 20
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/promotions/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}
    
    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Promotions Draft' : 'Promotions' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/promotions', icon: 'fa-barcode', title: 'Promotions', permission: 'promotions'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
           
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#listed" aria-controls="home" role="tab" data-toggle="tab">Listed</a></li>
                <li role="presentation"><a href="#unlisted" aria-controls="profile" role="tab" data-toggle="tab">Delisted</a></li>
            </ul>

            <div class="panel panel-default m-t"> 
                                
                <div class="panel-body tab-content">                
                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'promotions') %}
                                        <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>                                    
                                    {% endif %}
                                    <th>SKU name</th>
                                    <th>SKU number</th>
                                    <th>App type</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th>Updated By</th>
                                    <th class="nosort text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in data.active %}
                                    <tr>
                                        {% if has_permission('delete', 'promotions') %}
                                            <td class="text-center">{{ form_checkbox({name: 'ids[]', value: post.id}) }}</td>
                                        {% endif %}
                                        <td><a href="{{ site_url('ami/promotions/edit/' ~ post.id) }}" title="{{ post.sku_name }}" data-toggle="ajaxModal">{{ trim_word((session.country_id in [3, 6] ? post.name_alt : post.sku_name), 50) }}</a></td>
                                        <td>{{ post.sku_number }}</td>
                                        <td>{{ post.app_type == 0 ? 'PULL' : post.app_type == 1 ? 'PUSH' : 'ALL' }}</td>
                                        <td class="center">{{ post.date_created }}</td>
                                        <td class="center">{{ post.last_updated }}</td>
                                        <td class="center">{{ post.updated_name != '' ? post.updated_name : 'OPS' }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'promotions') or has_permission('delete', 'promotions') %}
                                                {% include 'ami/components/table_btn.html.twig' with {url: 'ami/promotions', id: post.id, permission: 'promotions'} %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>

                    <div role="tabpanel" class="tab-pane" id="unlisted">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'promotions') %}
                                        <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    {% endif %}
                                    <th>SKU name</th>
                                    <th>SKU number</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th>Updated By</th>
                                    {% if has_permission('edit', 'promotions') or has_permission('delete', 'promotions') %}
                                        <th class="nosort text-center"></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in data.inactive %}
                                    <tr>
                                        {% if has_permission('delete', 'promotions') %}
                                            <td class="text-center">{{ form_checkbox({name: 'ids[]', value: post.id}) }}</td>
                                        {% endif %}
                                        <td><a href="{{ site_url('ami/promotions/edit/' ~ post.id) }}" title="{{ post.sku_name }}" data-toggle="ajaxModal">{{ trim_word((session.country_id in [3, 6] ? post.name_alt : post.sku_name), 50) }}</a></td>
                                        <td>{{ post.sku_number }}</td>
                                        <td class="center">{{ post.date_created }}</td>
                                        <td class="center">{{ post.last_updated }}</td>
                                        <td class="center">{{ post.updated_name != '' ? post.updated_name : 'OPS' }}</td>
                                        {% if has_permission('edit', 'promotions') or has_permission('delete', 'promotions') %}
                                            <td class="center text-center" style="min-width: 80px;">
                                                {% include 'ami/components/table_btn.html.twig' with {url: 'ami/promotions', id: post.id, permission: 'promotions'} %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                </div>            
            </div>
            
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}
    
{% endblock %}