{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/perfect_store/save_cc_template'), {id: 'formCCPerfectStore', class: 'form-horizontal', 'data-parsley-validate': 'true'}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Cash and Carry Perfect Store Template</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/perfect_store', id: person.armstrong_2_salespersons_id, permission: 'perfect_store'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <ul class="nav nav-tabs" role="tablist">
                {% for id,content in ccContent %}
                    <li role="presentation" class="{{ loop.first ? 'active' : '' }}"><a href="#tb_{{ id }}" role="tab"
                                                                                        data-toggle="tab">{{ content.title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content m-t">
                {% for id,content in ccContent %}
                    <div role="tabpanel" class="tab-pane {{ loop.first ? 'active' : '' }}" id="tb_{{ id }}">

                        {% if id == 0 and products %}
                            {% if content.content %}
                                {% for key,data in content.content %}
                                    <div class="form-group {{ content.id }}-base-block">
                                        <div class="col-sm-3">
                                            {{ form_label('Group', '', {class: ''}) }}
                                            <select name="{{ content.id ~ '[' ~ key ~ '][group_1]' }}" id=""
                                                    class="form-control group" data-parsley-required="true">
                                                {% for index,val in groups %}
                                                    <option value="{{ val }}" {{ val == data.group_1 ? 'selected' : '' }} data-id="{{ index }}">{{ val }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            {{ form_label('Group 2', '', {class: ''}) }}
                                            <select name="{{ content.id ~ '[' ~ key ~ '][group_2]' }}" id=""
                                                    class="form-control">
                                                {% for index,val in brands %}
                                                    <option value="{{ val }}" {{ val == data.group_2 ? 'selected' : '' }}>{{ val }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_label('Product', '', {class: ''}) }}
                                            <select name="{{ content.id ~ '[' ~ key ~ '][title]' }}" id=""
                                                    class="form-control title" data-parsley-required="true">
                                                {% for index,val in products %}
                                                    <option value="{{ val }}"
                                                            data-id="{{ index }}" {{ val == data.title ? 'selected' : '' }}>{{ val }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            {{ form_label('Weight', '', {class: ''}) }}
                                            {{ form_input({name: content.id ~ '[' ~ key ~ '][weight]', value: data.weight, class: 'form-control', 'data-parsley-required':'true'}) }}
                                        </div>
                                        <div class="col-sm-1">
                                            {{ form_label('Order', '', {class: ''}) }}
                                            {{ form_input({name: content.id ~ '[' ~ key ~ '][order_number]', value: data.order_number, class: 'form-control p-l-r-10', 'data-parsley-required':'true'}) }}
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-clone clone-btn m-t-25"
                                                    data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i>
                                            </button>
                                            <button class="btn btn-default remove-clone-btn m-t-25"
                                                    data-clone=".{{ content.id }}-base-block"><i
                                                        class="fa fa-minus"></i></button>
                                        </div>
                                        <input type="hidden" class="title_id"
                                               name="{{ content.id ~ '[' ~ key ~ '][title_id]' }}">
                                        <input type="hidden" class="group_id"
                                               name="{{ content.id ~ '[' ~ key ~ '][group_1_id]' }}">
                                        <input type="hidden" class="clone-remove"
                                               name="{{ content.id ~ '[' ~ key ~ '][id]' }}"
                                               value="{{ data.id }}"/>
                                        <input type="hidden" class="clone-move clone-remove" data-target="#deleteTemp"
                                               data-name="product_delete[]" value="{{ data.id }}"/>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="form-group {{ content.id }}-base-block">
                                    <div class="col-sm-3">
                                        {{ form_label('Group', '', {class: ''}) }}
                                        <select name="{{ content.id ~ '[0][group_1]' }}" id=""
                                                class="form-control group" data-parsley-required="true">
                                            {% for index,val in groups %}
                                                <option value="{{ val }}" }} data-id="{{ index }}">{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        {{ form_label('Group 2', '', {class: ''}) }}
                                        <select name="{{ content.id ~ '[0][group_2]' }}" id=""
                                                class="form-control">
                                            {% for index,val in brands %}
                                                <option value="{{ val }}">{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_label('Product', '', {class: ''}) }}
                                        <select name="{{ content.id ~ '[0][title]' }}" id=""
                                                class="form-control title" data-parsley-required="true">
                                            {% for index,val in products %}
                                                <option value="{{ val }}"
                                                        data-id="{{ index }}">{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        {{ form_label('Weight', '', {class: ''}) }}
                                        {{ form_input({name: content.id ~ '[0][weight]', value: null, class: 'form-control', 'data-parsley-required':'true'}) }}
                                    </div>
                                    <div class="col-sm-1">
                                        {{ form_label('Order', '', {class: ''}) }}
                                        {{ form_input({name: content.id ~ '[0][order_number]', value: null, class: 'form-control p-l-r-10', 'data-parsley-required':'true'}) }}
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-default btn-clone clone-btn m-t-25"
                                                data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i>
                                        </button>
                                        <button class="btn btn-default remove-clone-btn m-t-25"
                                                data-clone=".{{ content.id }}-base-block"><i
                                                    class="fa fa-minus"></i></button>
                                    </div>
                                    <input type="hidden" class="title_id"
                                           name="{{ content.id ~ '[0][title_id]' }}">
                                    <input type="hidden" class="group_id"
                                           name="{{ content.id ~ '[0][group_1_id]' }}">
                                </div>
                            {% endif %}
                        {% elseif id in [1,4] %}
                            {% if content.content %}
                                {% for key,data in content.content %}
                                    <div class="form-group {{ content.id }}-base-block">
                                        <div class="col-sm-3">
                                            {{ form_label('Group', '', {class: ''}) }}
                                            <select name="{{ content.id ~ '[' ~ key ~ '][group_1]' }}" id=""
                                                    class="form-control group" data-parsley-required="true">
                                                {% for index,val in groups %}
                                                    <option value="{{ val }}" {{ val == data.group_1 ? 'selected' : '' }} data-id="{{ index }}">{{ val }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_label('Group 2', '', {class: ''}) }}
                                            {{ form_input({name: content.id ~ '[' ~ key ~ '][group_2]', value: data.group_2, class: 'form-control'}) }}
                                        </div>
                                        <div class="col-sm-2">
                                            {{ form_label('Brand', '', {class: ''}) }}
                                            <select name="{{ content.id ~ '[' ~ key ~ '][title]' }}" id=""
                                                    class="form-control title" data-parsley-required="true">
                                                {% for index,val in brands %}
                                                    <option value="{{ val }}"
                                                            data-id="{{ index }}" {{ val == data.title ? 'selected' : '' }}>{{ val }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            {{ form_label('Weight', '', {class: ''}) }}
                                            {{ form_input({name: content.id ~ '[' ~ key ~ '][weight]', value: data.weight, class: 'form-control', 'data-parsley-required':"true"}) }}
                                        </div>
                                        <div class="col-sm-1">
                                            {{ form_label('Order', '', {class: ''}) }}
                                            {{ form_input({name: content.id ~ '[' ~ key ~ '][order_number]', value: data.order_number, class: 'form-control p-l-r-10', 'data-parsley-required':"true"}) }}
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-clone clone-btn m-t-25"
                                                    data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i>
                                            </button>
                                            <button class="btn btn-default remove-clone-btn m-t-25"
                                                    data-clone=".{{ content.id }}-base-block"><i
                                                        class="fa fa-minus"></i></button>
                                        </div>
                                        <input type="hidden" class="title_id"
                                               name="{{ content.id ~ '[' ~ key ~ '][title_id]' }}">
                                        <input type="hidden" class="group_id"
                                               name="{{ content.id ~ '[' ~ key ~ '][group_1_id]' }}">
                                        <input type="hidden" class="clone-remove"
                                               name="{{ content.id ~ '[' ~ key ~ '][id]' }}"
                                               value="{{ data.id }}"/>
                                        <input type="hidden" class="clone-move clone-remove" data-target="#deleteTemp"
                                               data-name="{{ content.id }}_delete[]" value="{{ data.id }}"/>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="form-group {{ content.id }}-base-block">
                                    <div class="col-sm-3">
                                        {{ form_label('Group', '', {class: ''}) }}
                                        <select name="{{ content.id ~ '[0][group_1]' }}" id=""
                                                class="form-control group" data-parsley-required="true">
                                            {% for index,val in groups %}
                                                <option value="{{ val }}" data-id="{{ index }}">{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_label('Group 2', '', {class: ''}) }}
                                        {{ form_input({name: content.id ~ '[0][group_2]', value: null, class: 'form-control'}) }}
                                    </div>
                                    <div class="col-sm-2">
                                        {{ form_label('Brand', '', {class: ''}) }}
                                        <select name="{{ content.id ~ '[0][title]' }}" id=""
                                                class="form-control title" data-parsley-required="true">
                                            {% for index,val in brands %}
                                                <option value="{{ val }}"
                                                        data-id="{{ index }}" {{ val == data.title ? 'selected' : '' }}>{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        {{ form_label('Weight', '', {class: ''}) }}
                                        {{ form_input({name: content.id ~ '[0][weight]', value: null, class: 'form-control', 'data-parsley-required':"true"}) }}
                                    </div>
                                    <div class="col-sm-1">
                                        {{ form_label('Order', '', {class: ''}) }}
                                        {{ form_input({name: content.id ~ '[0][order_number]', value: null, class: 'form-control p-l-r-10', 'data-parsley-required':"true"}) }}
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-default btn-clone clone-btn m-t-25"
                                                data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i>
                                        </button>
                                        <button class="btn btn-default remove-clone-btn m-t-25"
                                                data-clone=".{{ content.id }}-base-block"><i
                                                    class="fa fa-minus"></i></button>
                                    </div>
                                    <input type="hidden" class="title_id"
                                           name="{{ content.id ~ '[0][title_id]' }}">
                                    <input type="hidden" class="group_id"
                                           name="{{ content.id ~ '[0][group_1_id]' }}">
                                </div>
                            {% endif %}
                        {% else %}
                            {% if content.content %}
                                {% for key,data in content.content %}
                                    <div class="form-group {{ content.id }}-base-block">
                                        <div class="col-sm-3">
                                            {{ form_label('Group', '', {class: ''}) }}
                                            <select name="{{ content.id ~ '[' ~ key ~ '][group_1]' }}" id=""
                                                    class="form-control group" data-parsley-required="true">
                                                {% for index,val in groups %}
                                                    <option value="{{ val }}" {{ val == data.group_1 ? 'selected' : '' }} data-id="{{ index }}">{{ val }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_label('Product', '', {class: ''}) }}
                                            {{ form_input({name: content.id ~ '[' ~ key ~ '][title]', value: data.title, class: 'form-control', 'data-parsley-required':"true"}) }}
                                        </div>
                                        <div class="col-sm-1">
                                            {{ form_label('Weight', '', {class: ''}) }}
                                            {{ form_input({name: content.id ~ '[' ~ key ~ '][weight]', value: data.weight, class: 'form-control', 'data-parsley-required':"true"}) }}
                                        </div>
                                        <div class="col-sm-1">
                                            {{ form_label('Order', '', {class: ''}) }}
                                            {{ form_input({name: content.id ~ '[' ~ key ~ '][order_number]', value: data.order_number, class: 'form-control p-l-r-10', 'data-parsley-required':"true"}) }}
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-clone clone-btn m-t-25"
                                                    data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i>
                                            </button>
                                            <button class="btn btn-default remove-clone-btn m-t-25"
                                                    data-clone=".{{ content.id }}-base-block"><i
                                                        class="fa fa-minus"></i></button>
                                        </div>
                                        <input type="hidden" class="title_id"
                                               name="{{ content.id ~ '[' ~ key ~ '][title_id]' }}">
                                        <input type="hidden" class="group_id"
                                               name="{{ content.id ~ '[' ~ key ~ '][group_1_id]' }}">
                                        <input type="hidden" class="clone-remove"
                                               name="{{ content.id ~ '[' ~ key ~ '][id]' }}"
                                               value="{{ data.id }}"/>
                                        <input type="hidden" class="clone-move clone-remove" data-target="#deleteTemp"
                                               data-name="{{ content.id }}_delete[]" value="{{ data.id }}"/>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="form-group {{ content.id }}-base-block">
                                    <div class="col-sm-3">
                                        {{ form_label('Group', '', {class: ''}) }}
                                        <select name="{{ content.id ~ '[0][group_1]' }}" id=""
                                                class="form-control group" data-parsley-required="true">
                                            {% for index,val in groups %}
                                                <option value="{{ val }}" {{ val == data.group_1 ? 'selected' : '' }} data-id="{{ index }}">{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_label('Product', '', {class: ''}) }}
                                        {{ form_input({name: content.id ~ '[0][title]', value: data.title, class: 'form-control', 'data-parsley-required':"true"}) }}
                                    </div>
                                    <div class="col-sm-1">
                                        {{ form_label('Weight', '', {class: ''}) }}
                                        {{ form_input({name: content.id ~ '[0][weight]', value: null, class: 'form-control', 'data-parsley-required':"true"}) }}
                                    </div>
                                    <div class="col-sm-1">
                                        {{ form_label('Order', '', {class: ''}) }}
                                        {{ form_input({name: content.id ~ '[0][order_number]', value: null, class: 'form-control p-l-r-10', 'data-parsley-required':"true"}) }}
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-default btn-clone clone-btn m-t-25"
                                                data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i>
                                        </button>
                                        <button class="btn btn-default remove-clone-btn m-t-25"
                                                data-clone=".{{ content.id }}-base-block"><i
                                                    class="fa fa-minus"></i></button>
                                    </div>
                                    <input type="hidden" class="title_id"
                                           name="{{ content.id ~ '[0][title_id]' }}">
                                    <input type="hidden" class="group_id"
                                           name="{{ content.id ~ '[0][group_1_id]' }}">
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="deleteTemp"></div>

    {{ form_close() }}
    <script type="application/javascript">
        $(document).ready(function () {
            $('button[type="submit"]').click(function (e) {
                e.preventDefault();
                var titleInput = $('.title'),
                        groupInput = $('.group');
                $(titleInput).each(function () {
                    var titleIDInput = $(this).closest('.form-group').find('.title_id'),
                            titleID = $(this).find('option:selected').data('id');
                    titleIDInput.val(titleID);
                });
                $(groupInput).each(function () {
                    var groupIDInput = $(this).closest('.form-group').find('.group_id'),
                            groupID = $(this).find('option:selected').data('id');
                    groupIDInput.val(groupID);
                });
                $('#formCCPerfectStore').submit();
            });
        });
    </script>
{% endblock %}
