
<ul class="nav nav-tabs" role="tablist">
    {% for id,content in storeContent %}
        <li role="presentation" class="{{ loop.first ? 'active' : '' }}"><a href="#tb_{{ id }}" role="tab" data-toggle="tab">{{ content.title }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content m-t">
    {% for id,content in storeContent %}
        <div role="tabpanel" class="tab-pane {{ loop.first ? 'active' : '' }}" id="tb_{{ id }}">

            {% if id == 0 and products %}                
                {% if content.content %}
                    {% for key,data in content.content %}
                        <div class="form-group {{ content.id }}-base-block">
                            {{ form_label('', '', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_dropdown('product[' ~ key ~ '][title]', products, data.title, 'class="form-control"') }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-btn" data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default remove-clone-btn" data-clone=".{{ content.id }}-base-block"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>                    
                    {% endfor %}
                {% else %}
                    <div class="form-group {{ content.id }}-base-block">
                        {{ form_label('', '', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('product[0][title]', products, null, 'class="form-control"') }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-btn" data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone remove-clone-btn" data-clone=".{{ content.id }}-base-block" style="display: none;"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if content.content %}
                    {% for key,data in content.content %}
                        <div class="form-group {{ content.id }}-base-block">
                            {{ form_label('', '', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_input({name: content.id ~ '[' ~ key ~ '][title]', value: data.title, class: 'form-control'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-btn" data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default remove-clone-btn" data-clone=".{{ content.id }}-base-block"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>                    
                    {% endfor %}
                {% else %}
                    <div class="form-group {{ content.id }}-base-block">
                        {{ form_label('', '', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: content.id ~ '[0][title]', value: null, class: 'form-control'}) }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-btn" data-clone=".{{ content.id }}-base-block"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone remove-clone-btn" data-clone=".{{ content.id }}-base-block" style="display: none;"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>