{% extends "ami/base.html.twig" %}

{% block content %}

    {{ form_open(site_url('ami/perfect_store/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: perfectStore.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Perfect Store</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/perfect_store', id: perfectStore.id, permission: 'perfect_store'} %}
                </div>
                <div class="clearfix"></div>
            </div>              
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="form-group">
                {{ form_label('Call Records', 'armstrong_2_call_records_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_call_records_id', callRecords, perfectStore.armstrong_2_call_records_id, '
                        class="form-control AutoInputTrigger" 
                        data-parsley-required="true" 
                        data-url="' ~ site_url('ami/call_records/info') ~ '"
                    ') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Salespersons', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_2_salespersons_id', value: perfectStore.armstrong_2_salespersons_id, 
                        'class': 'form-control AutoInput', 
                        'readonly': 'readonly'
                    }) }}
                </div>
            </div>

            <ul class="nav nav-tabs m-t-lg" role="tablist">
                {% for id,content in storeContent %}
                    <li role="presentation" class="{{ loop.first ? 'active' : '' }}"><a href="#tb_{{ id }}" role="tab" data-toggle="tab">{{ content.title }}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content m-t">
                {% for id,content in storeContent %}
                    <div role="tabpanel" class="tab-pane {{ loop.first ? 'active' : '' }}" id="tb_{{ id }}">

                        {% if id == 0 and products %}                                        
                            <table class="table store-content">
                                <tbody>                                   
                                    {% for key,data in content.content %}
                                        <tr>
                                            <td>{{ products[data.title] }}</td>
                                            <td>{{ form_checkbox('active[]', data.id, (data.id in perfectStore.active)) }}</td>
                                        </tr>
                                    {% endfor %}   
                                </tbody>
                            </table>                                 
                        {% else %}
                            <table class="table store-content">
                                <tbody>                                   
                                    {% for key,data in content.content %}
                                        <tr>
                                            <td>{{ data.title }}</td>
                                            <td>{{ form_checkbox('active[]', data.id, (data.id in perfectStore.active)) }}</td>
                                        </tr>
                                    {% endfor %}   
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> 

    {{ form_close() }}   
{% endblock %}