{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
<script src="{{ site_url('res/js/import.js') }}"></script>

<script>
$(document).ready(function() {
    $('#dataTables').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{{ site_url('ami/perfect_store/ajaxData') }}",
            "type": "POST"
        },
        'aoColumns': [
            {mData : "id", "sWidth": "10%" },
            {mData : "armstrong_2_salespersons_id"},
            {mData : "armstrong_2_call_records_id"},
            {mData : "type"},
            {mData : "date_created", "bSearchable": false},
            {mData : "last_updated", "bSearchable": false}
        ],
        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
            $(nRow).prepend('<td class=\"text-center\"><input type=\"checkbox\" value="'+ aData['DT_RowId'] +'"></td>');
            $(nRow).append('<td class=\"text-center\" style=\"min-width: 130px;\">'+ aData['buttons'] +'</td>');
        },
        "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
        'order': [[1, 'asc']],
        // 'bPaginate': false,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/perfect_store/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Perfect Store Draft' : 'Perfect Store' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    <span class="btn-header-toolbar m-r">
                        {{ html_btn(site_url('ami/perfect_store/cc_template'), 'C&C Perfect Store', {
                            'class': 'btn-info',
                        }) }}
                    </span>
                    <span class="btn-header-toolbar m-r">                   
                        {{ html_btn(site_url('ami/perfect_store/template'), 'Perfect Store Template', {
                            'class': 'btn-info',
                        }) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/perfect_store', icon: 'fa-star', title: 'Perfect Store', permission: 'perfect_store', export: 0, showImport: 0} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">            
            <div class="panel panel-default">                
                
                <div class="panel-body">                
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'perfect_store') %}
                                        <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    {% endif %}
                                    <th>ID</th>
                                    <th>Salesperson ID</th>
                                    <th>Call Record ID</th>
                                    <th>Type</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th class="nosort text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {#{% for store in stores %}#}
                                    {#<tr>#}
                                        {#{% if has_permission('delete', 'perfect_store') %}#}
                                            {#<td class="text-center">{{ form_checkbox({name: 'ids[]', value: store.id}) }}</td>#}
                                        {#{% endif %}#}
                                        {#<td>{{ store.id }}</td>#}
                                        {#<td>{{ store.armstrong_2_call_records_id }} - {{ store.armstrong_2_salespersons_id }}</td>#}
                                        {#<td class="center">{{ store.date_created }}</td>#}
                                        {#<td class="center">{{ store.last_updated }}</td>#}
                                        {#<td class="center text-center" style="min-width: 80px;">#}
                                            {#{% if has_permission('edit', 'perfect_store') or has_permission('delete', 'perfect_store') %}#}
                                                {#{% include 'ami/components/table_btn.html.twig' with {url: 'ami/perfect_store', id: store.id, permission: 'perfect_store'} %}#}
                                            {#{% endif %}#}
                                        {#</td>#}
                                    {#</tr>#}
                                {#{% endfor %}#}
                            </tbody>
                        </table>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    {{ form_close() }}

{% endblock %}