<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Perfect Store</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                <div class="list-group">
                    <div class="list-group-item">   
                        <i class="fa fa-2x fa-user pull-left"></i>
                        <div class="m-l-xl">                    
                            <h4 class="list-group-item-heading text-muted">Salespersons</h4>
                            <p class="list-group-item-text">{{ perfectStore.armstrong_2_salespersons_id }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">   
                        <i class="fa fa-2x fa-coffee pull-left"></i>
                        <div class="m-l-xl">                    
                            <h4 class="list-group-item-heading text-muted">Call Records</h4>
                            <p class="list-group-item-text">{{ perfectStore.armstrong_2_call_records_id }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'salespersons') %}
                {{ html_btn(site_url('ami/salespersons/edit/' ~ person.armstrong_2_salespersons_id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>