{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ site_url('res/js/salespersons.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('.datepicker').datetimepicker({
                format: 'YYYY-MM-DD',
                // pickTime: false
            });
            $('#InputCustomers').autocomplete({
                // source: "{{ site_url('ami/customers/tokenfield?salespersons=') }}" + $('#SelectSalesperson').find(":selected").val(),
                source: function(request, response) {
                    $.ajax({
                        url: "{{ site_url('ami/master_template/tokenfield') }}",
                        dataType: "json",
                        data: {
                            term : request.term,
                            salespersons : $('#SelectSalesperson').find(":selected").val(),
                            action : 'master_template'
                        },
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                delay: 100,
                select: function( event, ui ) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    $('#InputCustomersId').val(ui.item.value);
                }
            }).on('focus', function() {
                this.select();
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/master_template/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: template.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Master Template</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/master_template', id: template.id, permission: 'route_plan'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="form-group">
                {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, template.armstrong_2_salespersons_id, '
                            class="form-control" 
                            data-parsley-required="true" 
                            id="SelectSalesperson" 
                            data-url="' ~ site_url('ami/salespersons/fetch_customer') ~ '"
                        ') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Customer', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {# {{ form_dropdown('armstrong_2_customers_id', customers, template.armstrong_2_customers_id, '
                        class="form-control"
                        data-parsley-required="true"
                        id="SelectCustomer"
                    ') }} #}
                    {{ form_input({name: 'armstrong_2_customers_id_', value: customers[template.armstrong_2_customers_id],
                        'class': 'form-control',
                        'id': 'InputCustomers',
                        'data-parsley-required' : 'true'
                    }) }}
                    <input type="hidden" name="armstrong_2_customers_id" id="InputCustomersId" value="{{ template.armstrong_2_customers_id }}" />
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Planned Day', 'planned_day', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'planned_day', value: template.planned_day,
                        'class': 'form-control',
                        'data-parsley-required': 'true',
                        'data-parsley-type': 'number',
                        'data-parsley-range': '[1, 100]'
                    }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Master Id', 'master_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('master_id', 1, template.master_id == 1) }} Template 1</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('master_id', 2, template.master_id == 2) }} Template 2</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('master_id', 3, template.master_id == 3) }} Template 3</label>
                </div>
            </div>

            {# <div class="form-group">
                {{ form_label('Planned Week', 'planned_week', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'planned_week', value: template.planned_week, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-type': 'number'}) }}
                </div>
            </div> #}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}