{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<!-- DataTables JavaScript -->
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

<script>
$(document).ready(function() {
    
    $('#Generate').click(function(e) {
        xhr = null;
        var $this = $(this),
            $selector = $('#PlanSelector'),
            $container = $('#PlansContainer');

            // $container.html('').empty().html('<div class="col-sm-6 col-sm-offset-3"><i class="fa fa-spinner fa-spin"></i> Loading...</div>');

        if (xhr) {
            xhr.abort();
        }

        if (!xhr && $selector.val()) {
            
            $container.html('').empty().html('<div class="col-sm-6 col-sm-offset-3"><i class="fa fa-spinner fa-spin"></i> Loading...</div>');

            $.ajax({
                url: "{{ site_url('ami/master_template/templates') }}",
                type: 'post',
                data: { id: $selector.val(), draft: {{ draft ? 1 : 0 }} },
                success: function(res) {
                    try {
                        var resJson = JSON.parse(res);
                        if (resJson._session_expried) {
                            window.location.reload();
                            return;
                        }
                        
                    } catch(e) {}
                    
                    $container.html('').empty();
                    if (res) {
                        $container.append(res);
                        CheckAll($('input.CheckAll'));
                    }

                    xhr = null;
                }
            });
        }
    });

    // $('#PlanSelector').trigger('change');
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/master_template/update'), {class: draft ? 'form-horizontal' : 'form-horizontal submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Master Template Draft' : 'Master Template' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/master_template', icon: 'fa-retweet', title: 'Master Template', permission: 'route_plan_master_template'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">            

            {% if salespersons|length > 1 %}
                <div class="form-group">
                    {{ form_label('Salespersons', 'salespersons', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('salespersons', salespersons, null, 'id="PlanSelector" class="form-control select-multiple" data-parsley-required="true" multiple') }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="#" class="btn btn-primary" id="Generate">Generate</a>
                </div>
            </div>

            <div id="PlansContainer"></div>
        </div>
    </div>
    
    {{ form_close() }}

{% endblock %}