<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ template.armstrong_2_salespersons_id }} - {{ template.armstrong_2_customers_id }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="list-group">
                    <div class="list-group-item">
                        <i class="fa fa-2x fa-user pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Customer</h4>
                            <p class="list-group-item-text">{{ customers[template.armstrong_2_customers_id] }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-user pull-left"></i>
                        <div class="m-l-xl">                          
                            <h4 class="list-group-item-heading text-muted">Salespersons</h4>
                            <p class="list-group-item-text">{{ salespersons[template.armstrong_2_salespersons_id] }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-calendar pull-left"></i>
                        <div class="m-l-xl">                          
                            <h4 class="list-group-item-heading text-muted">Planned Day</h4>
                            <p class="list-group-item-text">{{ template.planned_day }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'route_plan_master_template') %}
                {{ html_btn(site_url('ami/master_template/edit/' ~ template.id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>