{% if templates %} 

    <ul class="nav nav-tabs" role="tablist">
        {% for masterId,master in templates %}
            <li role="presentation" class="{{ loop.first ? 'active' : '' }}"><a href="#tb_{{ masterId }}" role="tab" data-toggle="tab">Template {{ masterId }}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content m-t">
        {% for masterId,master in templates %}
            <div role="tabpanel" class="tab-pane {{ loop.first ? 'active' : '' }}" id="tb_{{ masterId }}">

                <div class="panel panel-default">                                    
                    <div class="panel-body">      
                        <div class="">
                            <table class="table table-striped table-bordered table-hover data-tables">
                                <thead>
                                    <tr>
                                        {% if has_permission('delete', 'route_plan_master_template') %}
                                            <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                        {% endif %}
                                        <th>ID</th>
                                        <th>Salesperson Name</th>
                                        <th>Operator</th>
                                        <th>Planned Date</th>
                                        <th>Created</th>
                                        <th>Date Sync</th>
                                        <th class="nosort text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for template in master %}
                                        <tr>
                                            {% if has_permission('delete', 'route_plan_master_template') %}
                                                <td class="text-center">{{ form_checkbox({name: 'ids[]', value: template.id}) }}</td>
                                            {% endif %}
                                            <td><a href="{{ site_url('ami/master_template/edit/' ~ template.id) }}" title="{{ template.id }}" data-toggle="ajaxModal">{{ template.id }}</a></td>
                                            <td>{{ template.armstrong_2_salespersons_id }} - {{ template.first_name }} {{ template.last_name }}</td>
                                            <td>{{ template.armstrong_2_customers_id }} - {{ template.armstrong_2_customers_name }}</td>
                                            <td class="text-center">{{ template.planned_day }}</td>
                                            <td class="text-center">{{ template.date_created }}</td>
                                            <td class="text-center">{{ template.date_sync }}</td>
                                            <td class="text-center" style="min-width: 80px;">
                                                {% if has_permission('edit', 'route_plan_master_template') or has_permission('delete', 'route_plan_master_template') %}
                                                    {% include 'ami/components/table_btn.html.twig' with {url: 'ami/master_template', id: template.id, permission: 'route_plan'} %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

    <script>
    $(function() {

        // $('#dataTables').dataTable.destroy();

        $('.data-tables').dataTable({
            'order': [[1, 'asc']],
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });        
    });  
    </script>
{% else %}
    <div class="col-sm-6 col-sm-offset-3">There are no route plan master template</div>
{% endif %}