{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script>
        function checkTargetSalesperson() {
            var currentVal = $('select[name="armstrong_2_salespersons_id"]').val();
            var targetVal = $('select[name="armstrong_2_salespersons_id_new"]').val();
            if (!targetVal && currentVal) {
                $.alert({
                    title: 'Alert!',
                    content: 'Please chose [Target Salesperson]'
                });
                return false;
            } else if (!currentVal && targetVal) {
                $.alert({
                    title: 'Alert!',
                    content: 'Please chose [Current Salesperson]'
                });
                return false;
            } else if (!currentVal && !targetVal) {
                $.alert({
                    title: 'Alert!',
                    content: "Please chose [Target Salesperson] <br />and [Current Salesperson]"
                });
                return false;
            } else if (currentVal == targetVal) {
                $.alert({
                    title: 'Alert!',
                    content: "[Current Salesperson] is the same <br />with [Target Salesperson] <br />Can't transfer"
                });
                return false;
            }
            return true;
        }

        function getDatas() {
            var targetElement = $('.datas_assigned'),
                    inputCustomers = $('input[name="datas"]'),
                    items = targetElement.find('li div[data-id]'),
                    array_val = [];
            $.each(items, function () {
                var $val = $(this).data('id');
                array_val.push($val);
            });
            inputCustomers.val(array_val);
        }

        function checkSelectAllCheckBox(selector) {
            var itemVisible = selector.find('ul li.fillable:visible'),
                    itemSelected = selector.find('ul .ui-selected:visible'),
                    selectAllItem = selector.find('ul li.selectall');

            if (itemVisible.length > 0) {
                selectAllItem.removeClass('hidden');
            } else {
                selectAllItem.addClass('hidden');
            }
            if (itemSelected.length == itemVisible.length) {
                selectAllItem.find('.checkAll').prop('checked', true);
            } else {
                selectAllItem.find('.checkAll').prop('checked', false);
            }
        }

        $(document).ready(function () {
            $('.datas_block').perfectScrollbar();
            $('#armstrong_2_salespersons_id').on('change', function () {
                var $val = $(this).val(),
                        datas_block_wrapper = $('.datas_unassigned');
                datas_block_wrapper.perfectScrollbar('destroy');
                $.ajax({
                    url: "{{ site_url('ami/master_template/getMasterTemplateBySalesperson') }}",
                    data: {armstrong_2_salespersons_id: $val},
                    type: 'POST',
                    dataType: 'html',
                    success: function (res) {
                        datas_block_wrapper.html(res);
                        var input_datas = $('input[name="datas"]').val();
                        if(input_datas){
                            var $datas_array = input_datas.split(',');
                            $.each(datas_block_wrapper.find('li:not(.selectall) div'), function () {
                                var data_id = $(this).data('id').toString();
                                if ($.inArray(data_id, $datas_array) != -1) {
                                    $(this).closest('li').remove();
                                }
                            });
                        }
                        checkSelectAllCheckBox(datas_block_wrapper);
                        datas_block_wrapper.perfectScrollbar();
                    }
                });
            });
            $('.transfer-right').on('click', function () {
                if (checkTargetSalesperson()) {
                    var selectedElement = $('.datas_unassigned ul li.ui-selected'),
                            selectedElementClone = selectedElement.clone(),
                            targetBlock = $('.datas_assigned > ul');
                    selectedElement.remove();
                    selectedElementClone.appendTo(targetBlock);
                    checkSelectAllCheckBox($('.datas_unassigned'));
                    checkSelectAllCheckBox($('.datas_assigned'));
                    getDatas();
                }
            });
            $('.transfer-left').on('click', function () {
                if (checkTargetSalesperson()) {
                    var selectedElement = $('.datas_assigned ul li.ui-selected'),
                            selectedElementClone = selectedElement.clone(),
                            targetBlock = $('.datas_unassigned > ul');
                    selectedElement.remove();
                    selectedElementClone.appendTo(targetBlock);
                    checkSelectAllCheckBox($('.datas_unassigned'));
                    checkSelectAllCheckBox($('.datas_assigned'));
                    getDatas();
                }
            });

            $(document).on('click', 'input.checkAll', function () {
                var checkbox = $(this).closest('.datas_block').find('input.check-box:visible');
                if ($(this).is(':checked')) {
                    checkbox.prop('checked', true);
                    checkbox.closest('li').addClass('ui-selected');
                } else {
                    checkbox.prop('checked', false);
                    checkbox.closest('li').removeClass('ui-selected');
                }
            });
            $(document).on('click', 'input.check-box', function () {
                var currentBlock = $(this).closest('.datas_block'),
                        checkAll = currentBlock.find('input.checkAll'),
                        flagCheck = true;
                if ($(this).is(':checked')) {
                    $(this).closest('li').addClass('ui-selected');
                    currentBlock.find('input.check-box:visible').each(function (k, e) {
                        var checked = $(this).prop('checked');
                        if (checked == false) {
                            flagCheck = false;
                            return false;
                        }
                    });
                    if (flagCheck) {
                        checkAll.prop('checked', true);
                    } else {
                        checkAll.prop('checked', false);
                    }
                } else {
                    $(this).closest('li').removeClass('ui-selected');
                    checkAll.prop('checked', false);
                }
            });

            // Filter
            $('.filter').on('input', function () {
                var $val = $(this).val(),
                        idAttr = $(this).attr('id'),
                        wrapClass = (idAttr == 'unAssignedFilter') ? '.datas_unassigned' : '.datas_assigned',
                        options = $(wrapClass + ' ul li.fillable');
                if ($val == '') {
                    $(wrapClass + ' ul li.fillable').removeClass('hidden');
                } else {
                    options.each(function () {
                        var str = $(this).find('div').text(),
                                regex = new RegExp($val, 'gi'),
                                res = str.match(regex);
                        if (res) {
                            $(this).removeClass('hidden');
                        } else {
                            $(this).addClass('hidden');
                        }
                    });
                }
                checkSelectAllCheckBox($('.datas_unassigned'));
                checkSelectAllCheckBox($('.datas_assigned'));
            });
            $('button[type="submit"]').on('click', function (e) {
                e.preventDefault();
                var input_datas = $('input[name="datas"]').val();
                if (!input_datas) {
                    $.alert({
                        title: 'Alert!',
                        content: "Nothing to transfer"
                    });
                    return false;
                }
                $.confirm({
                    title: 'Confirm!',
                    content: 'All current Master Template of [Current Salesperson] will be shift to [Target Salesperson]. <br />Are you sure?',
                    confirm: function () {
                        $('button[type="submit"]').attr('disabled', 'disabled');
                        $('#myform').submit();
                    },
                    cancel: function () {

                    }
                });
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        .datas_block {
            height: 300px !important;
            overflow: hidden;
            position: relative;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 10px;
        }

        .datas_block ul {
            list-style: none;
            padding: 0;
        }

        .datas_block ul li {
            cursor: pointer;
        }

        .datas_block ul li.selected {
            background-color: #337ab7;
            color: #fff;
        }

        .btn_transfer {
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/master_template/transfer_do'), {class: '', id: 'myform', 'data-parsley-validate': 'false'}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">

            <div class="page-header nm">
                <h1 class="pull-left">Transfer of Master Template</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/master_template', id: customer.armstrong_2_salespersons_id, permission: 'customer'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="left-block col-sm-5">
                <div class="form-group">
                    {{ form_label('Current Salesperson', 'armstrong_2_salespersons_id', {class: ''}) }}
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, customer.armstrong_2_salespersons_id, 'id="armstrong_2_salespersons_id" class="form-control" data-parsley-required="true"') }}
                </div>
                <div class="form-group">
                    <input type="text" id="unAssignedFilter" class="form-control filter"
                           placeholder="Input text to search">
                </div>
                <div class="form-group">
                    {{ form_label('Unassigned', 'datas_unassigned', {class: ''}) }}
                    <div class="datas_unassigned datas_block">
                        {#<ul>#}
                        {#{% if(master_temp) %}#}
                        {#<li class="selectall hidden">#}
                        {#<div>#}
                        {#<input name="checkall" class="checkAll" type="checkbox"> Select All#}
                        {#</div>#}
                        {#</li>#}
                        {#{% endif %}#}
                        {#{% for key,customer in master_temp %}#}
                        {#{% for customer_id,_customer in customer %}#}
                        {#<li class="fillable hidden">#}
                        {#<div data-id="{{ customer_id }}"#}
                        {#data-salesperson="{{ key }}"><input name="checkbox_" class="check-box"#}
                        {#type="checkbox"> {{ _customer }}</div>#}
                        {#</li>#}
                        {#{% endfor %}#}
                        {#{% endfor %}#}
                        {#</ul>#}
                    </div>
                </div>
            </div>
            <div class="btn_transfer col-sm-2">
                <a href="javascript:;" class="btn btn-default m-b-md transfer-right">
                    <i class="fa fa-long-arrow-right"></i>
                    Left to Right
                </a>
                <a href="javascript:;" class="btn btn-default m-b-md transfer-left">
                    <i class="fa fa-long-arrow-left"></i>
                    Right to Left
                </a>
            </div>
            <div class="right-block col-sm-5">
                <div class="form-group">
                    {{ form_label('Target Salesperson', 'armstrong_2_salespersons_id_new', {class: ''}) }}
                    {{ form_dropdown('armstrong_2_salespersons_id_new', salespersons, customer.armstrong_2_salespersons_id_new, 'class="form-control" data-parsley-required="true"') }}
                </div>
                <div class="form-group">
                    <input type="text" name="" id="assignedFilter" class="form-control filter"
                           placeholder="Input text to search">
                </div>
                <div class="form-group">
                    {{ form_label('Assigned', 'datas_assigned', {class: ''}) }}
                    <div class="datas_assigned datas_block">
                        <ul>
                            <li class="selectall hidden">
                                <div>
                                    <input name="checkall" class="checkAll" type="checkbox"> Select All
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="datas">
    {{ form_close() }}
    <link href="{{ site_url('res/css/plugins/perfect-scrollbar/perfect-scrollbar.min.css') }}" rel='stylesheet'
          type='text/css'>
    <link href="{{ site_url('res/css/jquery-confirm.min.css') }}" rel='stylesheet'
          type='text/css'>
    <link href="{{ site_url('res/css/multiple-select.css') }}" rel='stylesheet'
          type='text/css'>
    <script src="{{ site_url('res/js/jquery-confirm.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    {#<script src="//oss.maxcdn.com/libs/jquery.finderselect/0.6.0/jquery.finderselect.min.js"></script>#}
    <script src="{{ site_url('res/js/jquery.multiple.select.js') }}"></script>
{% endblock %}