{% extends "ami/base.html.twig" %}
{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
{% endblock %}
{% block content %}
    {{ form_open(site_url('ami/config_country/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: post.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Customer Analysis Configuration</h1>
                <div class="text-right">
                    <div class="btn-header-toolbar">
                        <button name="" type="submit" class="btn btn-success"><i class="fa fa-fw fa-check"></i> Save</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <h4>Mighty 10</h4>

            <div class="form-group">
                {{ form_label('Start Date', 'start_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mighty_10[start_date]', value: post.id ? post.mighty_10.start_date,
                    'class': 'form-control',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('End Date', 'end_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mighty_10[end_date]', value: post.id ? post.mighty_10.end_date,
                    'class': 'form-control',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <hr/>

            <h4>Channel Basket Penetration</h4>

            <div class="form-group">
                {{ form_label('Start Date', 'start_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'channel_basket_penetration[start_date]', value: post.id ? post.channel_basket_penetration.start_date,
                    'class': 'form-control',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('End Date', 'end_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'channel_basket_penetration[end_date]', value: post.id ? post.channel_basket_penetration.end_date,
                    'class': 'form-control',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <hr/>

            <h4>Active SKU</h4>

            <div class="form-group">
                {{ form_label('Start Date', 'start_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'active_sku[start_date]', value: post.id ? post.active_sku.start_date,
                    'class': 'form-control',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('End Date', 'end_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'active_sku[end_date]', value: post.id ? post.active_sku.end_date,
                    'class': 'form-control',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <hr/>

            <h4>Sampling History</h4>

            <div class="form-group">
                {{ form_label('Start Date', 'start_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sampling_history[start_date]', value: post.id ? post.sampling_history.start_date,
                    'class': 'form-control',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('End Date', 'end_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sampling_history[end_date]', value: post.id ? post.sampling_history.end_date,
                    'class': 'form-control',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}