{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<!-- DataTables JavaScript -->
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#dataTables').dataTable({
        /*"processing": true,
        "serverSide": true,
        "ajax": "{{ site_url('ami/contacts/ajaxData') }}",*/
        'order': [[1, 'asc']],
        'bPaginate': false,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Contacts - {{ customers.armstrong_2_customers_name }}</h1>
                <div class="text-right">                    
                    <div class="btn-group btn-header-toolbar">                        
                        <a class="btn btn-sm btn-success" href="{{ site_url('ami/contacts/add?armstrong_2_customers_id=' ~ customers.armstrong_2_customers_id) }}"><i class="fa fw fa-plus"></i> Add</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">            
            <div class="panel panel-default">                
                
                <div class="panel-body">                
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Position</th>
                                    <th>Phone</th>
                                    <th class="nosort text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                    <tr class="text-center">
                                        <td><a href="{{ site_url('ami/contacts/edit/' ~ contact.id) }}" title="{{ contact.name }}" data-toggle="ajaxModal">{{ contact.name }}</a></td>
                                        <td>{{ contact.email }}</td>
                                        <td class="center">{{ contact.position }}</td>
                                        <td class="center">{{ contact.phone }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'contacts') or has_permission('delete', 'contacts') %}
                                                <div class="btn-group">    
                                                    {% if has_permission('edit', 'contacts') %}    

                                                        {% set class = contact.primary_contact ? 'btn-default primary disabled' : 'btn-default primary' %}

                                                        {{ html_btn(site_url('ami/contacts/primary/' ~ contact.id ~ '?armstrong_2_customers_id=' ~ customers.armstrong_2_customers_id), '<i class="fa fa-tag"></i>', {
                                                            'class': class, 
                                                            'title': 'Set Primary Contact',
                                                        }) }}

                                                        {{ html_btn(site_url('ami/contacts/edit/' ~ contact.id), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}
                                                    {% endif %}

                                                    {% if has_permission('delete', 'contacts') %}
                                                        {{ html_btn(site_url('ami/contacts/delete/' ~ contact.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                                    {% endif %}
                                                </div>
                                            {% endif %}                                        
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->
            
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}