{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ site_url('res/js/customer-chain.js') }}"></script>
    <script>
        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }
        //mother
        var armstrong_2_related_mother_id = '{{ customer.armstrong_2_related_mother_id }}';
        $('select[name="armstrong_2_related_mother_id"]').change(function(){
            armstrong_2_related_mother_id = $('select[name="armstrong_2_related_mother_id"]').val();
        });
        function getRelatedMother()
        {
            var armstrong_2_salespersons = '&armstrong_2_salespersons_id[]='+$('select[name="armstrong_2_salespersons_id"]').val();
            armstrong_2_salespersons += '&armstrong_2_salespersons_id[]='+$('select[name="armstrong_2_secondary_salespersons_id"]').val();
            armstrong_2_salespersons += '&is_mother=1';
            armstrong_2_salespersons += '&type_cus=customers';
            armstrong_2_salespersons += '&action=related_mother';
            armstrong_2_salespersons += '&id_current='+$('input[name="armstrong_2_customers_id"]').val();
            $.ajax({
                url: "{{ site_url('ami/customers/getCustomerBySalespersons') }}",
                data: armstrong_2_salespersons,
                type: 'POST',
                dataType: 'html',
                success: function (html) {
                    $('select[name="armstrong_2_related_mother_id"]').html(html);
                    $('select[name="armstrong_2_related_mother_id"] option[selected="selected"]').removeAttr('selected');
                    $('select[name="armstrong_2_related_mother_id"] option[value="'+armstrong_2_related_mother_id+'"]').attr('selected', 'selected');
                }
            });
        }
        $('select[name="armstrong_2_salespersons_id"], select[name="armstrong_2_secondary_salespersons_id').change(function(){
            getRelatedMother();
        });
        getRelatedMother();
        $('input[name="is_mother"]').change(function(){
            console.log($('input[name="is_mother"]').val());
           if($('input[name="is_mother"]:checked').val() == 1)
           {
               $('select[name="armstrong_2_related_mother_id"]').closest('.form-group').hide();
           }
           else
           {
               $('select[name="armstrong_2_related_mother_id"]').closest('.form-group').show();
           }
        });
        $('input[name="is_mother"]').trigger('change');
        //end mother
        $(function () {

            $('.select-change').on('change', function (e) {
                var $this = $(this),
                        name = $this.attr('name'),
                        val = $this.find(":selected").val(),
                        $container = $this.closest('.select-change-container');

                if (val) {
                    $.ajax({
                        url: "{{ site_url('ami/customers/country') }}",
                        data: {key: name, value: val},
                        type: 'POST',
                        dataType: 'json',
                        success: function (res) {

                            if (!res.field) {
                                return;
                            }

                            var options = '<option value="">-Select-</option>';
                            for (var key in res.value) {
                                options += '<option value="' + res['value'][key] + '">' + res['value'][key] + '</option>';
                            }

                            $('select[name=' + res.field + ']').find('option').remove().end().append(options);
                        }
                    });
                } else {
                    if ($container.length) {
                        $container.nextAll('.select-change-container').each(function () {
                            $(this).find('.select-change option').remove();
                        });
                    }
                }
            });

            {% if not customer.armstrong_2_customers_id %}
            $('.select-change').trigger('change');
            {% endif %}

            $('#ChannelSelect').on('change', function () {
                var $this = $(this),
                        weightage = $this.find('option:selected').data('weightage') || 0,
                        convenience_factor = $this.find('option:selected').data('convenience_lvl') || 0,
                        ufs_share = $this.find('option:selected').data('ufs_food_share') || 0;
                $('#ChannelWeightage, #FoodCostNew').val(weightage);
                {% set au_nz = [2, 9] %}
                {% set id_sa = [10, 4] %}
                {% if session.country_id in au_nz %}
                $('#convenienceFactor').val(convenience_factor);
                {% endif %}
                {% if otm_ufs_share_config == 1 %}
                $('.id-ufs-share').val(ufs_share);
                {% endif %}
                $('input[name="ufs_share"]').val(ufs_share);
            });

            $('.fetch-otm').on('change', function () {
                var foodOverElement = $('input[name="food_turnover_new"]'),
                        foodPurchaseElement = $('input[name="food_purchase_value_new"]'),
                        otmFoodCostElement = $('input[name="ufs_share_food_cost_new"]'),
                        otmPotentialElement = $('input[name="otm_potential_value_new"]'),
                        otmNewElement = $('input[name="otm_new"]'),
                        aFoodCost = $('#FoodCostNew').val(),
                        aUfsShare = $('input[name="assumption_ufs_share_new"]').val(),
                        convenience = $('#convenienceFactor').val();
                if ($('.convenience_other_country').length > 0) {
                    convenience = $('.convenience_other_country').val() == 0 ? 0.5 : 1;
                }
                var foodOver,
                        foodPurchase,
                        otmFoodCost,
                        otmNew
                $.each($('.fetch-food'), function () {
                    var $val = $(this).val();

                    if (!foodOver) {
                        foodOver = $val;
                    } else {
                        foodOver = foodOver * $val;
                    }
                });

//                foodOver = Math.round(foodOver).toFixed(3);
                foodPurchase = foodOver * aFoodCost;
                otmFoodCost = foodPurchase * aUfsShare;
                otmNew = otmFoodCost * convenience;

                foodOverElement.val(foodOver);
                foodPurchaseElement.val(foodPurchase);
                otmFoodCostElement.val(otmFoodCost);
                otmPotentialElement.val(otmNew);

                $.ajax({
                    url: "{{ site_url('ami/customers/getOtmBandwidth') }}",
                    data: {otm: otmNew},
                    type: 'POST',
                    success: function (res) {
                        otmNewElement.val(res);
                    }
                });

            });

//            $('.fetch-otm').trigger('change');

            $('#SellingInput').on('change input blur', function (e) {
                $('#BudgetInput').val('');
            });

            $('#BudgetInput').on('change input blur', function (e) {
                $('#SellingInput').val('');
            });

            $('#InputBestTimeCall, .timepicker').datetimepicker({
                format: 'h:mm A'
            });

            {% if session.country_id in [6] %}
            $('#subChannelSelect').on('change', function () {
                var $this = $(this),
                        optionSelected = $this.find('option:selected'),
                        country_channels_id = optionSelected.data('country_channel'),
                        global_channels_id = $('#ChannelSelect').find('option[value=' + country_channels_id + ']').data('global_channels_id');
                $('#ChannelSelect, #channelHidden').val(country_channels_id);
                $('#globalChannels, #globalChannelHidden').val(global_channels_id);
                $('#ChannelSelect').trigger('change');
            });
            {% else %}
            $('#globalChannels').on('change', function () {
                var $this = $(this),
                        global_channel_id = $this.val(),
                        channel_option = $('#ChannelSelect option');

                $.each(channel_option, function () {
                    var data_global_channel_id = $(this).data('global_channels_id');
                    if (data_global_channel_id == global_channel_id) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
                $('#ChannelSelect option:first-child').show().prop('selected', true);
                $('#subChannelSelect option').hide();
                $('#subChannelSelect option:first-child').show().prop('selected', true);
            });

            $('#ChannelSelect').on('change', function () {
                var $this = $(this),
                        channel_id = $this.val(),
                        sub_channel_option = $('#subChannelSelect option');
                $.each(sub_channel_option, function () {
                    var country_channel_id = $(this).data('country_channel');
                    if (country_channel_id == channel_id) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
                $('#subChannelSelect option:first-child').show().prop('selected', true);
            });
            {% endif %}
        });

        $(document).ready(function () {
            var approved = '{{ customer.approved }}',
                    active = '{{ customer.active }}',
                    optionCloseDown = $('#approved option[value="-2"]'),
                    optionReject = $('#approved option[value="-1"]'),
                    optionApproved = $('#approved option[value="1"]');

            if (active == 1) {
                if (approved == -2 || approved == -1) {
                    $('#approved').val('');
                }
                optionApproved.show();
                optionCloseDown.hide();
                optionReject.hide();
            } else {
                if (approved == 1) {
                    $('#approved').val('');
                }
                optionApproved.hide();
                optionCloseDown.show();
                optionReject.show();
            }

            $('input[name="active"]').on('change', function () {
                var $val = $(this).val();
                $('#approved').val('');
                if ($val == 1) {
                    optionApproved.show();
                    optionCloseDown.hide();
                    optionReject.hide();
                } else {
                    optionApproved.hide();
                    optionCloseDown.show();
                    optionReject.show();
                }
            });

            // init sub channel
            {% if session.country_id not in [6]%}
            $.each($('#subChannelSelect option'), function () {
                var country_channel_id = $(this).data('country_channel');
                if (country_channel_id == $('#ChannelSelect').val()) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
            {% endif %}

            {% if otm_ufs_share_config == 1 %}
            $('input[name="assumption_ufs_share_new"]').val($('#ChannelSelect').find('option:selected').data('ufs_food_share'));
            {% endif %}
        });

        $(function () {
            $('.datepicker').datetimepicker({
                format: 'YYYY-MM-DD hh:mm:ss'
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">

{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/customers/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {
        armstrong_2_customers_id: customer.armstrong_2_customers_id,
        filter: filter
    }) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Customers</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/customers', id: customer.armstrong_2_customers_id, permission: 'customer'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Name', 'armstrong_2_customers_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_2_customers_name', value: customer.armstrong_2_customers_name, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-maxlength': 100}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Armstrong 1 Customer Id', 'armstrong_1_customers_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_1_customers_id', value: customer.armstrong_1_customers_id, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Armstrong 2 Customer Id', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_2_customers_id', value: customer.armstrong_2_customers_id, class: 'form-control', 'disabled': 'disabled'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Armstrong 2 Salespersons Id', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, customer.armstrong_2_salespersons_id, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Armstrong 2 Secondary Salespersons Id', 'armstrong_2_secondary_salespersons_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_secondary_salespersons_id', salespersons, customer.armstrong_2_secondary_salespersons_id, 'class="form-control"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Is Mother', 'is_mother', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('is_mother', 1, customer.is_mother == 1) }} Yes</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('is_mother', 0, customer.is_mother == 0) }} No</label>&nbsp;
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Related Mother', 'armstrong_2_related_mother_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_related_mother_id', related_mother, customer.armstrong_2_related_mother_id, 'class="form-control" data-type="customers"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Armstrong 2 Chains Id', 'armstrong_2_chains_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_chains_id', chains, customer.armstrong_2_chains_id, 'class="form-control" data-type="customers"') }}
                </div>
            </div>



            <div class="form-group">
                {{ form_label('Current Approval Status', 'current_status', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'current_status', value: customer.approved == -2 ? 'Close down' : customer.approved == -1 ? 'Rejected' : customer.approved == 0 ? 'Pending' : customer.approved == 1 ? 'Approved' : customer.approved == 2 ? 'Edit' : '', class: 'form-control', 'readonly': 'readonly'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('active', 1, customer.active == 1) }} Active</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('active', 0, customer.active == 0) }} Inactive</label>&nbsp;
                </div>
            </div>

            {% if (session.country_code in ['tw'] and session.roleName == 'Admin') or (session.roleName == 'Admin') %}
                <div class="form-group">
                    {{ form_label('Approved', 'approved', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6 no-parsley">
                        <select name="approved" id="approved" class="form-control" data-parsley-required="true">
                            <option value="">--Select--</option>
                            <option value="-2" {{ customer.approved == -2 ? 'selected' : '' }}>Close down</option>
                            <option value="-1" {{ customer.approved == -1 ? 'selected' : '' }}>Rejected</option>
                            {#<option value="0" {{ customer.approved == 0 ? 'selected' : '' }}>Pending</option>#}
                            <option value="1" {{ customer.approved == 1 ? 'selected' : '' }}>Approved</option>
                            {#<option value="2" {{ customer.approved == 2 ? 'selected' : '' }}>Edit</option>#}
                        </select>
                    </div>
                </div>
            {% endif %}

            {% if groups|length > 1 %}
                <div class="form-group">
                    {{ form_label('Group', 'groups_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('groups_id', groups, customer.groups_id, 'class="form-control" data-parsley-required="true"') }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('SSD Name', 'sap_cust_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sap_cust_name', value: customer.sap_cust_name, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('SSD Name 2', 'sap_cust_name_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sap_cust_name_2', value: customer.sap_cust_name_2, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('SSD ID', 'ssd_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'ssd_id', value: customer.ssd_id, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('SSD ID 2', 'ssd_id_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'ssd_id_2', value: customer.ssd_id_2, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Sap ID', 'sap_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sap_id', value: customer.sap_id, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Street Address', 'street_address', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'street_address', value: customer.street_address, class: 'form-control'}) }}
                </div>
            </div>

            {#<div class="form-group">
                {{ form_label('State', 'state', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'state', value: customer.city, class: 'form-control select-change', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Region', 'region', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'region', value: customer.region, class: 'form-control select-change'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('District', 'district', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'district', value: customer.district, class: 'form-control select-change'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Suburb', 'suburb', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'suburb', value: customer.suburb, class: 'form-control select-change'}) }}
                </div>
            </div>#}

            {% for key, countryField in countryHierachy %}
                <div class="form-group select-change-container">
                    {{ form_label(countryField|capitalize, countryField, {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {% if customer.armstrong_2_customers_id %}
                            <select name="{{ countryField }}" class="form-control select-change">
                                {% for k,value in countryValues[countryField] %}
                                    <option value="{{ k }}" {% if value|lower == customer[countryField]|lower  %} selected {% endif %} >{{ value }}</option>
                                {% endfor %}
                            </select>

                            {#{{ form_dropdown(countryField, countryValues[countryField], customer[countryField], 'class="form-control select-change"') }}#}
                        {% else %}
                            {% set _values = (key == 'root') ? rootValues : [] %}
                            {{ form_dropdown(countryField, _values, customer[countryField], 'class="form-control select-change"') }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                {{ form_label('Postal Code', 'postal_code', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'postal_code', value: customer.postal_code, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone', 'phone', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'phone', value: customer.phone, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone 2', 'phone_two', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'phone_two', value: customer.phone_two, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Fax', 'fax', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'fax', value: customer.fax, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Email', 'email', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'email', value: customer.email, class: 'form-control', 'data-parsley-type': 'email'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Email 2', 'email_two', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'email_two', value: customer.email_two, class: 'form-control', 'data-parsley-type': 'email'}) }}
                </div>
            </div>

            {% if customer.armstrong_2_customers_id %}
                <div class="form-group">
                    {{ form_label('Primary Contact', 'primary_contact', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('primary_contact', contactListOptions, primaryContact, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_label('Acct Opened', 'acct_opened', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'acct_opened', value: customer.acct_opened, class: 'form-control datepicker'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Web Url', 'web_url', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'web_url', value: customer.web_url, class: 'form-control', 'data-parsley-type': 'url'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Global Channel', 'global_channels', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {% if session.country_id in [6] %}
                        {{ form_dropdown('hidden_global_channels_id', global_channels, customer.global_channels_id, 'id="globalChannels" class="form-control" data-parsley-required="true" disabled="disabled"') }}
                    {% else %}
                        {{ form_dropdown('global_channels_id', global_channels, customer.global_channels_id, 'id="globalChannels" class="form-control" data-parsley-required="true"') }}
                    {% endif %}
                </div>
            </div>
            {% if session.country_id in [6] %}
                <input id="globalChannelHidden" type="hidden" name="global_channels_id"
                       value="{{ customer.global_channels_id }}">
            {% endif %}

            {% if country_channels %}
                <div class="form-group">
                    {{ form_label('Channel', 'channel', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {# form_dropdown('channel', country_channels, customer.channel, 'class="form-control"') #}
                        <select name="{{ session.country_id in [6] ? 'disable_channel' : 'channel' }}"
                                class="form-control fetch-otm {{ (session.country_id in [2,9]) ? 'channellv' : '' }}"
                                id="ChannelSelect"
                                data-parsley-required="true" {{ session.country_id in [6] ? 'disabled="disabled"' : '' }}>
                            <option value="" data-weightage="">- Select -</option>
                            {% for country_channel in country_channels %}
                                <option value="{{ country_channel.id }}" {{ (country_channel.id == customer.channel) ? 'selected="selected"' : '' }}
                                        data-global_channels_id="{{ country_channel.global_channels_id }}"
                                        data-weightage="{{ country_channel.channel_weightage }}"
                                        data-convenience_lvl="{{ country_channel.convenience_lvl }}"
                                        data-ufs_food_share="{{ country_channel.ufs_food_share }}">{{ country_channel.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if session.country_id in [6] %}
                    <input id="channelHidden" type="hidden" name="channel" value="{{ customer.channel }}">
                {% endif %}
            {% endif %}

            {% if sub_channels|length > 1 %}
                <div class="form-group">
                    {{ form_label('Sub Channel', 'sub_channel', {class: 'control-label col-sm-3'}) }}
                    {% if session.country_id in [6] %}
                        <div class="col-sm-6">
                            <select name="sub_channel"
                                    class="form-control"
                                    id="subChannelSelect" data-parsley-required="true">
                                <option value="">- Select -</option>
                                {% for sub_channel in sub_channels %}
                                    <option value="{{ sub_channel.id }}" {{ (sub_channel.id == customer.sub_channel) ? 'selected="selected"' : '' }}
                                            data-country_channel="{{ sub_channel.country_channels_id }}">{{ sub_channel.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% else %}
                        <div class="col-sm-6">
                            <select name="sub_channel"
                                    class="form-control"
                                    id="subChannelSelect">
                                <option value="">- Select -</option>
                                {% for sub_channel in sub_channels %}
                                    <option value="{{ sub_channel.id }}" {{ (sub_channel.id == customer.sub_channel) ? 'selected="selected"' : '' }}
                                            data-country_channel="{{ sub_channel.country_channels_id }}">{{ sub_channel.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Channel Weightage', 'channel_weightage', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'channel_weightage', value: customer.channel_weightage, class: 'form-control', 'data-parsley-type': 'number', 'readonly': 'readonly', 'id': 'ChannelWeightage'}) }}
                </div>
            </div>

            {% if session.country_id in [10] %}
                <div class="form-group">
                    {{ form_label('Real Otm', 'real_otm', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'real_otm', value: customer.real_otm, class: 'form-control', 'readonly': 'readonly'}) }}
                    </div>
                </div>
            {% endif %}
            {#
            <div class="form-group">
                {{ form_label('Otm', 'otm', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {% if session.country_id in [3, 5] %}
                        {{ form_dropdown('otm', {'A': 'A', 'B': 'B', 'C': 'C', 'D': 'D', 'N/A': 'N/A'}, customer.otm, 'class="form-control"') }}
                    {% else %}
                        {{ form_input({name: 'otm', value: customer.otm, class: 'form-control', 'readonly': 'readonly'}) }}
                    {% endif %}
                </div>
            </div>
            #}

        </div>

        <div class="form-group">
            {{ form_label('Key Manager', 'key_acct', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'key_acct', value: customer.key_acct, class: 'form-control'}) }}
            </div>
        </div>

        {% if business_types|length > 1 %}
            <div class="form-group">
                {{ form_label('Business Type', 'business_type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('business_type', business_types, customer.business_type, 'class="form-control"') }}
                </div>
            </div>
        {% endif %}

        {#<div class="form-group">
            {{ form_label('Kosher Type', 'kosher_type', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'kosher_type', value: customer.kosher_type, class: 'form-control'}) }}
            </div>
        </div>#}

        {# Suggestion ?? #}
        {% if suppliers|length > 1 %}
            <div class="form-group">
                {{ form_label('Primary Supplier', 'primary_supplier', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('primary_supplier', suppliers, customer.primary_supplier, 'class="form-control"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Secondary Supplier', 'secondary_supplier', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('secondary_supplier', suppliers, customer.secondary_supplier, 'class="form-control"') }}
                </div>
            </div>
        {% endif %}

        {# <div class="form-group">
            {{ form_label('Trading Days Per Year', 'trading_days_per_yr', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'trading_days_per_yr', value: customer.trading_days_per_yr, class: 'form-control', 'data-parsley-type': 'integer', 'data-parsley-range': '[1,366]'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Trading Weeks Per Year', 'trading_wks_per_yr', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'trading_wks_per_yr', value: customer.trading_wks_per_yr, class: 'form-control', 'data-parsley-type': 'integer', 'data-parsley-range': '[1,53]'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Turnover', 'turnover', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'turnover', value: customer.turnover, class: 'form-control', 'data-parsley-type': 'number'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Capacity', 'capacity', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'capacity', value: customer.capacity, class: 'form-control', 'data-parsley-type': 'integer'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('No Of Outlets', 'no_of_outlets', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'no_of_outlets', value: customer.no_of_outlets, class: 'form-control', 'data-parsley-type': 'integer'}) }}
            </div>
        </div>
        #}
        {#<div class="form-group">#}
        {#{{ form_label('Convenience Level', 'convenience_lvl', {class: 'control-label col-sm-3'}) }}#}
        {#<div class="col-sm-6">#}
        {#{% if(session.country_id in [2,9]) %}#}
        {#{{ form_input({name: 'convenience_lvl_', value: '', class: 'form-control', 'readonly': 'readonly'}) }}#}
        {#<input type="hidden" name="convenience_lvl" value="{{ customer.convenience_lvl }}"/>#}
        {#{% else %}#}
        {#{{ form_dropdown('convenience_lvl', {'1': 'Low', '2': 'Medium', '3': 'High'}, customer.convenience_lvl, 'class="form-control"') }}#}
        {#{% endif %}#}
        {#</div>#}
        {#</div>#}
        {#}
        <div class="form-group">
            {{ form_label('Meals Per Day', 'meals_per_day', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'meals_per_day', value: customer.meals_per_day, class: 'form-control', 'data-parsley-type': 'integer'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Selling Price', 'selling_price', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'selling_price', value: customer.selling_price, class: 'form-control',
                    'data-parsley-type': 'number',
                    'id': 'SellingInput'
                }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Budget Price', 'budget_price', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'budget_price', value: customer.budget_price, class: 'form-control',
                    'data-parsley-type': 'number',
                    'id': 'BudgetInput'
                }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Food Cost', 'food_cost', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'food_cost', value: customer.food_cost, class: 'form-control', 'data-parsley-type': 'number'}) }}
            </div>
        </div>
        #}
        <div class="form-group">
            {{ form_label('Best Time To Call', 'best_time_to_call', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'best_time_to_call', value: customer.best_time_to_call,
                    'class': 'form-control',
                    'id': 'InputBestTimeCall'
                }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Notes', 'notes', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'notes', value: customer.notes, class: 'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Latitude', 'latitude', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'latitude', value: customer.latitude, class: 'form-control', 'data-parsley-type': 'number'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Longitude', 'longitude', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'longitude', value: customer.longitude, class: 'form-control', 'data-parsley-type': 'number'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Display Name', 'display_name', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'display_name', value: customer.display_name, class: 'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Registered Name', 'registered_name', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'registered_name', value: customer.registered_name, class: 'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Opening Hours', 'opening_hours', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-3">
                {{ form_input({name: 'opening_hours[]', value: customer.opening_hours_from,
                    class: 'form-control timepicker',
                }) }}
            </div>
            <div class="col-sm-3">
                {{ form_input({name: 'opening_hours[]', value: customer.opening_hours_to,
                    class: 'form-control timepicker'
                }) }}
            </div>
        </div>

        {#<div class="form-group">
            {{ form_label('Update Info', 'update_info', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'update_info', value: customer.update_info, class: 'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('active', 1, product.active) }}</label>
                </div>
            </div>
        </div>#}

        <div class="form-group">
            {{ form_label('Ufs Share', 'ufs_share', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'ufs_share', value: country.ufs_share, class: 'form-control', 'data-parsley-type': 'number', 'readonly': 'readonly'}) }}
            </div>
        </div>

        {% if customers_types|length > 1 %}
            <div class="form-group">
                {{ form_label('Customers Types', 'customers_types_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('customers_types_id', customers_types, customer.customers_types_id, 'class="form-control"') }}
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            {{ form_label('Buy Frequency', 'buy_frequency', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                <select name="buy_frequency" class="form-control" id="ChannelSelect">
                    <option value="0" data-weightage="">- Select -</option>
                    <option value="1" {{ (customer.buy_frequency == 1) ? 'selected="selected"' : '' }} >Once a month
                    </option>
                    <option value="2" {{ (customer.buy_frequency == 2) ? 'selected="selected"' : '' }} >Twice a month
                    </option>
                    <option value="3" {{ (customer.buy_frequency == 3) ? 'selected="selected"' : '' }} >Three times a
                        month
                    </option>
                    <option value="4" {{ (customer.buy_frequency == 4) ? 'selected="selected"' : '' }} >Once a week
                    </option>
                </select>
            </div>
        </div>

        {% if channel_groups|length > 1 %}
            <div class="form-group">
                {{ form_label('Channel Groups', 'channel_groups_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('channel_groups_id', channel_groups, customer.channel_groups_id, 'class="form-control"') }}
                </div>
            </div>
        {% endif %}

        {% if cuisine_groups|length > 1 %}
            <div class="form-group">
                {% if session.country_id == 6 %}
                    {{ form_label('OG', 'og', {class: 'control-label col-sm-3'}) }}
                {% else %}
                    {{ form_label('Cuisine Groups', 'cuisine_groups_id', {class: 'control-label col-sm-3'}) }}
                {% endif %}
                <div class="col-sm-6">
                    {{ form_dropdown('cuisine_groups_id', cuisine_groups, customer.cuisine_groups_id, 'class="form-control"') }}
                </div>
            </div>
        {% endif %}
        {# New OTM #}
        {# % if session.country_id != 3 % #}
            <div class="form-group">
                {{ form_label('Meals / Days', 'meals_per_day_new', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'meals_per_day_new', value: customer.meals_per_day_new, class: 'form-control fetch-food fetch-otm', 'data-parsley-type': 'number'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Avarage Price / Meal', 'selling_price_per_meal_new', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'selling_price_per_meal_new', value: customer.selling_price_per_meal_new, class: 'form-control fetch-otm fetch-food', 'data-parsley-type': 'number'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Weeks / Year', 'weeks_per_year_new', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'weeks_per_year_new', value: customer.weeks_per_year_new, class: 'form-control fetch-otm fetch-food', 'data-parsley-type': 'number', 'data-parsley-range': '[0,52]'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Days / Week', 'days_per_week_new', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'days_per_week_new', value: customer.days_per_week_new, class: 'form-control fetch-otm fetch-food', 'data-parsley-type': 'number', 'data-parsley-range': '[0,7]'}) }}
                </div>
            </div>
            {{ form_input({name: 'food_turnover_new', value: customer.food_turnover_new, class: 'form-control', 'data-parsley-type': 'number', 'type':'hidden'}) }}
            <div class="form-group">
                {{ form_label('Assumption: Food Cost %', 'assumption_food_cost_new', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'assumption_food_cost_new', value: customer.assumption_food_cost_new, class: 'form-control fetch-otm fetch-food-purchase', 'data-parsley-type': 'number', 'readonly': 'readonly', 'id': 'FoodCostNew'}) }}
                </div>
            </div>
            {{ form_input({name: 'food_purchase_value_new', value: customer.food_purchase_value_new, class: 'form-control', 'data-parsley-type': 'number', 'type':'hidden'}) }}
            <div class="form-group">
                {{ form_label('Assumption: potential UFS Share of Food Cost %', 'assumption_ufs_share_new', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'assumption_ufs_share_new', value: country.ufs_share, class: 'form-control id-ufs-share', 'data-parsley-type': 'number', 'readonly': 'readonly'}) }}
                </div>
            </div>
            {{ form_input({name: 'ufs_share_food_cost_new', value: customer.ufs_share_food_cost_new, class: 'form-control', 'data-parsley-type': 'number', 'type':'hidden'}) }}
            {{ form_input({name: 'otm_potential_value_new', value: customer.otm_potential_value_new, class: 'form-control', 'data-parsley-type': 'number', 'type':'hidden'}) }}
            <div class="form-group">
                {{ form_label('Convenience Factor', 'convenience_factor_new', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {% set au_nz = [2, 9] %}
                    {% set mer = [12, 13, 14, 15, 16, 17] %}
                    {% if session.country_id in au_nz %}
                        {{ form_input({name: 'convenience_factor_new', value: customer.convenience_factor_new, class: 'form-control fetch-otm convenience_sp_country', 'id': 'convenienceFactor', 'data-parsley-type': 'number', 'readonly': 'readonly'}) }}
                    {% elseif session.country_id in mer %}
                        {{ form_dropdown('convenience_factor_new', {'0.5':'0.5', '1':'1', '1.5':'1.5'}, customer.convenience_factor_new, 'class="form-control fetch-otm" id="convenienceFactor"') }}
                    {% else %}
                        {{ form_dropdown('convenience_factor_new', {'0.5':'0.5', '1':'1'}, customer.convenience_factor_new, 'class="form-control fetch-otm convenience_other_country" id="convenienceFactor"') }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('OTM New', 'otm_new', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'otm_new', value: customer.otm_new, class: 'form-control', 'readonly': 'readonly', 'id': 'OTMNew'}) }}
                </div>
            </div>
        {# % endif % #}

        {% if country_id in [6, 88] %}
            <div class="form-group">
                {{ form_label('No Of Outlets', 'no_of_outlets', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'no_of_outlets', value: customer.no_of_outlets, class: 'form-control', 'data-parsley-type': 'integer'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Central Kitchen Operation', 'central_kitchen_operation', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('central_kitchen_operation', 1, customer.central_kitchen_operation == 1) }} Yes</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('central_kitchen_operation', 0, customer.central_kitchen_operation == 0) }} No</label>&nbsp;
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Chain', 'chain', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('chain', 1, customer.chain == 1) }} Yes</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('chain', 0, customer.chain == 0) }} No</label>&nbsp;
                </div>
            </div>
        {% endif %}

        {#{% if assigned_distributors|length > 1 %}
            <div class="form-group">
                {{ form_label('Assigned Distributor 2', 'assigned_distributor_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('assigned_distributor_2', assigned_distributors, customer.assigned_distributor_2, 'class="form-control"') }}
                </div>
            </div>
        {% endif %}#}


        {#<div class="form-group">
            {{ form_label('Approved Message', 'approved_message', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_textarea({name: 'approved_message', value: customer.approved_message, class: 'form-control', 'rows': 3}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label('Approved Compare', 'approved_compare', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-6">
                {{ form_textarea({name: 'approved_compare', value: customer.approved_compare, class: 'form-control', 'rows': 3}) }}
            </div>
        </div>#}
    </div>
    </div>

    {{ form_close() }}
{% endblock %}