<ul>
    {% if(customers) %}
        <li class="selectall">
            <div>
                <input class="checkAll" type="checkbox"> Select All
            </div>
        </li>
    {% endif %}
    {% for key,customer in customers %}
        {% for customer_id,_customer in customer %}
            <li class="fillable">
                <div data-customer="{{ customer_id }}"
                     data-salesperson="{{ key }}"><input class="check-box"
                                                         type="checkbox"> {{ _customer }}</div>
            </li>
        {% endfor %}
    {% endfor %}
</ul>