<div class="panel">
    {# <div class="list-group">
        <div class="list-group-item">
            <i class="fa fa-2x fa-map-marker pull-left"></i>
            <div class="m-l-xl">                        
                <div class="list-group-item-text">
                    <h4 class="list-group-item-heading text-muted">Location</h4>
                    <p><span class="text-muted">Street Address:</span> {{ customer.street_address }}</p>
                    {% if customer.city %}
                        <p><span class="text-muted">City:</span> {{ customer.city }}</p>
                    {% endif %}
                    {% if customer.postal_code %}
                        <p><span class="text-muted">Postal Code:</span> {{ customer.postal_code}}</p>
                    {% endif %}
                    {% if customer.region %}
                        <p><span class="text-muted">Region:</span> {{ customer.region}}</p>
                    {% endif %}
                    {% if customer.state %}
                        <p><span class="text-muted">State:</span> {{ customer.state}}</p>
                    {% endif %}
                    {% if customer.province %}
                        <p><span class="text-muted">Province:</span> {{ customer.province}}</p>
                    {% endif %}
                    {% if customer.district %}
                        <p><span class="text-muted">District:</span> {{ customer.district}}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if customer.email %}
            <div class="list-group-item">
                <i class="fa fa-2x fa-envelope-o pull-left"></i>
                <div class="m-l-xl">                        
                    <h4 class="list-group-item-heading text-muted">Email</h4>
                    <p class="list-group-item-text"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a>  {{ customer.email_two ? ' - <a href="mailto:{{ customer.email_two }}">' ~ customer.email_two ~ '</a>' : ''}}</p>
                </div>
            </div>
        {% endif %}

        {% if customer.phone %}
            <div class="list-group-item">
                <i class="fa fa-2x fa-phone pull-left"></i>
                <div class="m-l-xl">                          
                    <h4 class="list-group-item-heading text-muted">Phone</h4>
                    <p class="list-group-item-text">{{ customer.phone }} {{ customer.phone_two ? ' - ' ~ customer.phone_two : ''}}</p>
                </div>
            </div>
        {% endif %}

        {% if customer.fax %}
            <div class="list-group-item">
                <i class="fa fa-2x fa-fax pull-left"></i>
                <div class="m-l-lg">                        
                    <h4 class="list-group-item-heading text-muted">Fax</h4>
                    <p class="list-group-item-text">{{ customer.fax }}</p>
                </div>
            </div>
        {% endif %}

        {% if customer.contact_details %}
            <div class="list-group-item">
                <i class="fa fa-2x fa-info-circle pull-left"></i>
                <div class="m-l-xl">                        
                    <h4 class="list-group-item-heading text-muted">Contact Details</h4>
                    <p class="list-group-item-text">{{ customer.contact_details }}</p>
                </div>
            </div>
        {% endif %}
    </div> #}
    <table class="table table-striped table-bordered table-hover tabletvo">
        <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {#tuantq#}
        {% for key, value in customer %}
            {% if (key == 'cuisine_name') or (key == 'serving_name') %}
            {% else %}

                <tr class="{{ key in amendedData.fields ? 'warning' : '' }}">
                    <td>
                        {% if(customer['country_id'] == 6) %}
                            {% if(key == 'cuisine_channels_id') %}
                                {{ "Sub OG_id" }}
                            {% elseif(key == 'cuisine_channels_name') %}
                                {{ "Sub OG_name" }}
                            {% elseif(key == 'cuisine_groups_id') %}
                                {{ "OG_name" }}
                            {% else %}
                                {{ key }}
                            {% endif %}
                        {% else %}
                            {{ key }}
                        {% endif %}
                    </td>
                    <td>{{ value }}</td>
                </tr>
                {% if key == 'cuisine_channels_id' %}
                    <tr class="{{ key in amendedData.fields ? 'warning' : '' }}">
                        <td>{{ customer['country_id'] == 6 ? 'Sub OG_name' : 'cuisine_channels_name' }}</td>
                        <td>{{ customer.cuisine_name }}</td>
                    </tr>
                {% endif %}
                {% if key == 'serving_types_id' %}
                    <tr class="{{ key in amendedData.fields ? 'warning' : '' }}">
                        <td>{{ 'serving_types_name' }}</td>
                        <td>{{ customer.serving_name }}</td>
                    </tr>
                {% endif %}

            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>