<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Customer Data</a></li>
    <li role="presentation"><a href="#amended" aria-controls="amended" role="tab" data-toggle="tab">Amended Data</a></li>
</ul>

<div class="tab-content m-t-md">
    <div role="tabpanel" class="tab-pane active" id="data">
        {% include 'ami/customers/pending_action_data.html.twig' %}
    </div>
    <div role="tabpanel" class="tab-pane" id="amended">
        <table class="table table-striped table-bordered table-hover tabletvo">
            <thead>
                <tr>
                    <th>Field</th>
                    <th class="danger">Old Value</th>
                    <th class="success">New Value</th>
                </tr>
            </thead>
            <tbody>
                {% for field in amendedData.fields %}
                    <tr>
                        <td>
                            {% if(customer['country_id'] == 6) %}
                                {% if(field == 'cuisine_channels_id') %}
                                    {{ "Sub OG_name" }}
                                {% elseif(field == 'cuisine_channels_name') %}
                                    {{ "Sub OG_name" }}
                                {% elseif(field == 'cuisine_groups_id') %}
                                    {{ "OG_name" }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </td>
                        <td>{{ amendedData.old_data[field] }}</td>
                        <td>{{ amendedData.new_data[field] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>