{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootbox/bootbox.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootbox/bootbox.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootbox/example.js') }}"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('.dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/customers/ajaxData') }}",*/
                'order': [[1, 'asc']],
                'aoColumnDefs': [{
                    'aTargets': ['nosort']
                }],
                "iDisplayLength": 50
            });
        });
    </script>
    <script>
function toTitleCase(str) {
    return str.replace(/\w\S*/g, function (txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    });
}
$(function() {

    $('.select-change').on('change', function(e) {
        var $this = $(this),
            name = $this.attr('name'),
            val = $this.find(":selected").val(),
            $container = $this.closest('.select-change-container');

        if (val) {
            $.ajax({
                url: "{{ site_url('ami/customers/country') }}",
                data: {key: name, value: val},
                type: 'POST',
                dataType: 'json',
                success: function(res) {

                    if (!res.field) {
                        return;
                    }

                    var options = '<option value="">-Select-</option>';
                    for (var key in res.value) {
                       options += '<option value="' + toTitleCase(res['value'][key]) + '">' + toTitleCase(res['value'][key]) + '</option>';
                    }
                    
                    $('select[name=' + res.field + ']').find('option').remove().end().append(options);
                }
            });
        } else {
            if ($container.length) {
                $container.nextAll('.select-change-container').each(function() {
                    $(this).find('.select-change option').remove();
                });
            }
        }
    });

    {% if not customer.armstrong_2_customers_id %}
        $('.select-change').trigger('change');
    {% endif %}

    $('#ChannelSelect').on('change', function() {
        var $this = $(this),
            weightage = $this.find('option:selected').data('weightage') || 0;

        $('#ChannelWeightage').val(weightage);
    });

    $('#SellingInput').on('change input blur', function(e) {
        $('#BudgetInput').val('');
    });

    $('#BudgetInput').on('change input blur', function(e) {
        $('#SellingInput').val('');
    });

    $('#InputBestTimeCall, .timepicker').datetimepicker({
        format: 'h:m A'
    });
});
</script>
    <script>
        function getSalesperson(){
//            var param = document.getElementsByName("armstrong_2_salespersons_id").value;
            var param = $('select[name="armstrong_2_salespersons_id"]').val();
            if(param == null || param == ''){
                window.location.href = "{{ site_url(url ~ '/ami/customers/show_customer') }}/"+param;
                alert('Must be select current Salesperson to show !');
            }else{
                window.location.href = "{{ site_url(url ~ '/ami/customers/show_customer') }}/"+param;
            }
            {#$.ajax({#}
                {#type:'POST',#}
                {#url: "{{ site_url(url ~ '/ami/customers/show_customer') }}/"+param#}
            {#});#}
        }
    </script>
    <script>
        var Example = (function() {
            "use strict";
            var elem,
                    hideHandler,
                    that = {};

            that.init = function(options) {
                elem = $(options.selector);
            };

            that.show = function(text) {
                clearTimeout(hideHandler);

                elem.find("span").html(text);
                elem.delay(200).fadeIn().delay(4000).fadeOut();
            };

            return that;
        }());
    </script>
    <script>
        function myConfirm() {
            var param = $('select[name="armstrong_2_salespersons_id"]').val();
            var param_new = $('select[name="armstrong_2_salespersons_id_new"]').val();

            if(param !='' && param_new !='' && param!==param_new) {
                bootbox.dialog({
                    message: "All current Customers of [Current Salesperson] will be shifted to [Target Salesperson] . <br />Are you sure?",
                    title: "Transfer! Please Confirm.",
                    buttons: {
                        success: {
                            label: "Yes",
                            className: "btn-success",
                            callback: function() {
                                window.location.href = "{{ site_url(url ~ '/ami/customers/transfer_do') }}/"+param+"/"+param_new;
                                Example.show('great success');
                            }
                        },
                        main: {
                            label: "No",
                            className: "btn-primary"
                        }
                    }
                });
            }
            if(param===param_new && param !=''){
                bootbox.dialog({
                    message: "[Current Salesperson] is same [Target Salesperson] <br />Can't transfer",
                    title: "Transfer! Please Confirm",
                    buttons: {
                        main: {
                            label: "Yes",
                            className: "btn-success"
                        }
                    }
                });
            }
            if( (param =='' || param_new=='')){
                $('#myform').submit();
            }
        }
    </script>

{% endblock %}

{% block css %}
{{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/customers/transfer_do'), {class: 'form-horizontal', id: 'myform', 'data-parsley-validate': 'true'}, {
        armstrong_2_customers_id: customer.armstrong_2_customers_id,
        filter: filter
    }) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">

            <div class="page-header nm">
                <h1 class="pull-left">Transfer of Customers</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/customers', id: customer.armstrong_2_salespersons_id, permission: 'customer'} %}
                </div>
                <div class="clearfix"></div>
            </div>              
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

                <div class="form-group">
                    {{ form_label('Current Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('armstrong_2_salespersons_id', salespersons, customer.armstrong_2_salespersons_id, 'id="armstrong_2_salespersons_id" class="form-control" data-parsley-required="true"') }}

                    </div>
                </div>

            <div class="form-group">
                {{ form_label('Target Salesperson', 'armstrong_2_salespersons_id_new', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_salespersons_id_new', salespersons, customer.armstrong_2_salespersons_id_new, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
            <div id="sms_show" class="bb-alert alert alert-info" style="display: none;">
                <span>great success</span>
            </div>
    {#{% if (session.country_code in ['tw'] and session.roleName == 'Admin') or (session.roleName == 'Admin') %}#}

                    {#<div class="form-group">#}
                        {#{{ form_label('Approved', 'approved', {class: 'control-label col-sm-3'}) }}#}
                        {#<div class="col-sm-6 no-parsley">#}
                            {#<label class="radio-inline">{{ form_radio('approved', -2, customer.approved == -2) }} Close down</label>&nbsp;#}
                            {#<label class="radio-inline">{{ form_radio('approved', -1, customer.approved == -1) }} Rejected</label>&nbsp;#}
                            {#<label class="radio-inline">{{ form_radio('approved', 0, customer.approved == 0) }} Pending</label>&nbsp;#}
                            {#<label class="radio-inline">{{ form_radio('approved', 1, customer.approved == 1) }} Approved</label>&nbsp;#}
                            {#<label class="radio-inline">{{ form_radio('approved', 2, customer.approved == 2) }} Edit</label>#}
                        {#</div>#}
                    {#</div>#}
            {#{% endif %}#}
            <hr>
        {% if show_table == 1%}
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#listed" aria-controls="home" role="tab" data-toggle="tab">Active</a></li>
                <li role="presentation"><a href="#unlisted" aria-controls="profile" role="tab" data-toggle="tab">Inactive</a></li>
                <li role="presentation"><a href="#pending" aria-controls="profile" role="tab" data-toggle="tab">Pending</a></li>
            </ul>
    <div class="panel panel-default m-t">
    <div class="panel-body tab-content">

        <div role="tabpanel" class="tab-pane active" id="listed">
            <table class="table table-striped table-bordered table-hover dataTables">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for cus in customers.active %}
                    <tr>
                        <td>{{ cus.armstrong_2_customers_id }}</td>
                        <td>{{ cus.armstrong_2_customers_name }}</td>
                        <td class="center">{{ cus.date_created }}</td>
                        <td class="center">{{ cus.last_updated }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="unlisted">
            <table class="table table-striped table-bordered table-hover dataTables">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for cus in customers.inactive %}
                    <tr>
                        <td>{{ cus.armstrong_2_customers_id }}</td>
                        <td>{{ cus.armstrong_2_customers_name }}</td>
                        <td class="center">{{ cus.date_created }}</td>
                        <td class="center">{{ cus.last_updated }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="pending">
            <table class="table table-striped table-bordered table-hover dataTables">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for cus in customers.pending %}
                    <tr>
                        <td>{{ cus.armstrong_2_customers_id }}</td>
                        <td>{{ cus.armstrong_2_customers_name }}</td>
                        <td class="center">{{ cus.date_created }}</td>
                        <td class="center">{{ cus.last_updated }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
        {% endif %}
        </div>
    </div> 

    {{ form_close() }}   
{% endblock %}