{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script>
        function checkTargetSalesperson() {
            var currentVal = $('select[name="armstrong_2_salespersons_id"]').val();
            var targetVal = $('select[name="armstrong_2_salespersons_id_new"]').val();
            if (!targetVal && currentVal) {
                $.alert({
                    title: 'Alert!',
                    content: 'Please chose [Target Salesperson]'
                });
                return false;
            } else if (!currentVal && targetVal) {
                $.alert({
                    title: 'Alert!',
                    content: 'Please chose [Current Salesperson]'
                });
                return false;
            } else if (!currentVal && !targetVal) {
                $.alert({
                    title: 'Alert!',
                    content: 'Please chose [Target Salesperson] and [Current Salesperson]'
                });
                return false;
            } else if (currentVal == targetVal) {
                $.alert({
                    title: 'Alert!',
                    content: "[Current Salesperson] is same [Target Salesperson] <br />Can't transfer"
                });
                return false;
            }
            return true;
        }

        function getCustomers() {
            var targetElement = $('.customers_assigned'),
                    inputCustomers = $('input[name="customers"]'),
                    items = targetElement.find('li div'),
                    array_val = [];
            $.each(items, function () {
                var $val = $(this).data('customer');
                array_val.push($val);
            });
            inputCustomers.val(array_val);
        }

        function checkSelectAllCheckBox(selector) {
            var itemVisible = selector.find('ul li.fillable:visible'),
                    itemSelected = selector.find('ul .ui-selected:visible'),
                    selectAllItem = selector.find('ul li.selectall');

            if (itemVisible.length > 0) {
                selectAllItem.removeClass('hidden');
            } else {
                selectAllItem.addClass('hidden');
            }
            if (itemSelected.length == itemVisible.length) {
                selectAllItem.find('.checkAll').prop('checked', true);
            } else {
                selectAllItem.find('.checkAll').prop('checked', false);
            }
        }

        $(document).ready(function () {
            $('.customers_block').perfectScrollbar();
//            $('#armstrong_2_salespersons_id').on('change', function () {
//                var $val = $(this).val(),
//                        customers_block_wrapper = $('.customers_unassigned');
//                $.each(customers_block_wrapper.find('li:not(.selectall) div'), function () {
//                    var armstrong_2_salesperson = $(this).data('salesperson');
//                    if (armstrong_2_salesperson !== $val) {
//                        $(this).closest('li').hide();
//                    } else {
//                        $(this).closest('li').removeClass('hidden').show();
//                    }
//                });
//                checkSelectAllCheckBox(customers_block_wrapper);
//            });
            $('.transfer-right').on('click', function () {
                if (checkTargetSalesperson()) {
                    var selectedElement = $('.customers_unassigned ul li.ui-selected'),
                            selectedElementClone = selectedElement.clone(),
                            targetBlock = $('.customers_assigned ul');
                    selectedElement.remove();
                    selectedElementClone.appendTo(targetBlock);
                    checkSelectAllCheckBox($('.customers_unassigned'));
                    checkSelectAllCheckBox($('.customers_assigned'));
                    getCustomers();
                }
            });
            $('.transfer-left').on('click', function () {
                if (checkTargetSalesperson()) {
                    var selectedElement = $('.customers_assigned ul li.ui-selected'),
                            selectedElementClone = selectedElement.clone(),
                            targetBlock = $('.customers_unassigned ul');
                    selectedElement.remove();
                    selectedElementClone.appendTo(targetBlock);
                    checkSelectAllCheckBox($('.customers_unassigned'));
                    checkSelectAllCheckBox($('.customers_assigned'));
                    getCustomers();
                }
            });

            $(document).on('click', 'input.checkAll', function () {
                var checkbox = $(this).closest('.customers_block').find('input.check-box:visible');
                if ($(this).is(':checked')) {
                    checkbox.prop('checked', true);
                    checkbox.closest('li').addClass('ui-selected');
                } else {
                    checkbox.prop('checked', false);
                    checkbox.closest('li').removeClass('ui-selected');
                }
            });
            $(document).on('click', 'input.check-box', function () {
                var currentBlock = $(this).closest('.customers_block'),
                        checkAll = currentBlock.find('input.checkAll'),
                        flagCheck = true;
                if ($(this).is(':checked')) {
                    $(this).closest('li').addClass('ui-selected');
                    currentBlock.find('input.check-box:visible').each(function (k, e) {
                        var checked = $(this).prop('checked');
                        if (checked == false) {
                            flagCheck = false;
                            return false;
                        }
                    });
                    if (flagCheck) {
                        checkAll.prop('checked', true);
                    } else {
                        checkAll.prop('checked', false);
                    }
                } else {
                    $(this).closest('li').removeClass('ui-selected');
                    checkAll.prop('checked', false);
                }
            });

            // Filter
            $('.filter').on('input', function () {
                var $val = $(this).val(),
                        idAttr = $(this).attr('id'),
                        wrapClass = (idAttr == 'unAssignedFilter') ? '.customers_unassigned' : '.customers_assigned',
                        options = $(wrapClass + ' ul li.fillable');
                if ($val == '') {
                    $(wrapClass + ' ul li.fillable').removeClass('hidden');
                } else {
                    options.each(function () {
                        var str = $(this).find('div').text(),
                                regex = new RegExp($val, 'gi'),
                                res = str.match(regex);
                        if (res) {
                            $(this).removeClass('hidden');
                        } else {
                            $(this).addClass('hidden');
                        }
                    });
                }
            });
            $('button[type="submit"]').on('click', function (e) {
                e.preventDefault();
                var input_customers = $('input[name="customers"]').val();
                if (!input_customers) {
                    $.alert({
                        title: 'Alert!',
                        content: "Nothing to transfer"
                    });
                    return false;
                }
                $.confirm({
                    title: 'Confirm!',
                    content: 'All current Customers of [Current Salesperson] will be shifted to [Target Salesperson]. <br />Are you sure?',
                    confirm: function () {
                        $('button[type="submit"]').attr('disabled', 'disabled');
                        $('#myform').submit();
                    },
                    cancel: function () {

                    }
                });
            });

            //nam add
            $('#armstrong_2_salespersons_id').change(function(){
                var sale_id = $(this).val();
                var list_cus = '';
                var selected = $('.customers_assigned li');
                $.each(selected,function(k,v){
                    var cus = $(v).children().data('customer');
                    if(cus != undefined){
                        list_cus = list_cus == '' ? list_cus + cus : list_cus + ',' + cus;
                    }
                });
                console.log(list_cus)
                $.ajax({
                    url: "{{ site_url('ami/customers/getCustomerOfSale') }}"+ '/' + sale_id +'?list_cus=' + list_cus ,
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function() {
                        $('.customer_append').text('Loading...');
                    },
                    success: function(res) {
                       $('.customer_append').html(res);
                    }
                });
            })
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        .customers_block {
            height: 300px !important;
            overflow: hidden;
            position: relative;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 10px;
        }

        .customers_block ul {
            list-style: none;
            padding: 0;
        }

        .customers_block ul li {
            cursor: pointer;
        }

        .customers_block ul li.selected {
            background-color: #337ab7;
            color: #fff;
        }

        .btn_transfer {
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/customers/transfer_customers_do'), {class: '', id: 'myform', 'data-parsley-validate': 'false'}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">

            <div class="page-header nm">
                <h1 class="pull-left">Transfer of Customers</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/customers', id: customer.armstrong_2_salespersons_id, permission: 'customer'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="left-block col-sm-5">
                <div class="form-group">
                    {{ form_label('Current Salesperson', 'armstrong_2_salespersons_id', {class: ''}) }}
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, customer.armstrong_2_salespersons_id, 'id="armstrong_2_salespersons_id" class="form-control" data-parsley-required="true"') }}
                </div>
                <div class="form-group">
                    <input type="text" id="unAssignedFilter" class="form-control filter" placeholder="Input text to search">
                </div>
                <div class="form-group">
                    {{ form_label('Unassigned', 'customers_unassigned', {class: ''}) }}
                    <div class="customers_unassigned customers_block">
                        <div class="customer_append"></div>
                    </div>
                </div>
            </div>
            <div class="btn_transfer col-sm-2">
                <a href="javascript:;" class="btn btn-default m-b-md transfer-right">
                    <i class="fa fa-long-arrow-right"></i>
                    Left to Right
                </a>
                <a href="javascript:;" class="btn btn-default m-b-md transfer-left">
                    <i class="fa fa-long-arrow-left"></i>
                    Right to Left
                </a>
            </div>
            <div class="right-block col-sm-5">
                <div class="form-group">
                    {{ form_label('Target Salesperson', 'armstrong_2_salespersons_id_new', {class: ''}) }}
                    {{ form_dropdown('armstrong_2_salespersons_id_new', salespersons, customer.armstrong_2_salespersons_id_new, 'class="form-control" data-parsley-required="true"') }}
                </div>
                <div class="form-group">
                    <input type="text" name="" id="assignedFilter" class="form-control filter" placeholder="Input text to search">
                </div>
                <div class="form-group">
                    {{ form_label('Assigned', 'customers_assigned', {class: ''}) }}
                    <div class="customers_assigned customers_block">
                        <ul>
                            <li class="selectall hidden">
                                <div>
                                    <input class="checkAll" type="checkbox"> Select All
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="customers">
    {{ form_close() }}
    <link href="{{ site_url('res/css/plugins/perfect-scrollbar/perfect-scrollbar.min.css') }}" rel='stylesheet'
          type='text/css'>
    <link href="{{ site_url('res/css/jquery-confirm.min.css') }}" rel='stylesheet'
          type='text/css'>
    <link href="{{ site_url('res/css/multiple-select.css') }}" rel='stylesheet'
          type='text/css'>
    <script src="{{ site_url('res/js/jquery-confirm.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    {#<script src="//oss.maxcdn.com/libs/jquery.finderselect/0.6.0/jquery.finderselect.min.js"></script>#}
    <script src="{{ site_url('res/js/jquery.multiple.select.js') }}"></script>
{% endblock %}