<div class="modal-dialog" style="max-height: 400px">
    {{ form_open('ami/accessibility/salespersons/edit/' ~ salesperson.armstrong_2_salespersons_id, {class: 'modal-content form-horizontal'}, {'id': salesperson.armstrong_2_salespersons_id}) }}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ salesperson.first_name }} {{ salesperson.last_name }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">
    
                {% if roles|length > 1 %}
                    <div class="form-group">
                        {{ form_label('Role', 'roles_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('roles_id', roles, salesperson.roles_id, 'class="form-control"') }}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Proceed', class: 'delete btn btn-danger'}) }}
        </div>
    {{ form_close() }}
</div>