{% include 'ami/components/modal_form.html.twig' with {
    action: 'ami/accessibility/salespersons/delete/' ~ salesperson.armstrong_2_salespersons_id, 
    redirect: 'ami/accessibility', 
    message: 'Remove ' ~ salesperson.first_name ~ ' ' ~ salesperson.last_name ~ ' from role: ' ~ roles[salesperson.roles_id]
} %}