{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    {#<script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>#}
    <script src="{{ site_url('res/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        $(function () {
            $('#expiry_date').datetimepicker({
              //  format: 'YYYY-MM-DD HH:II:ss'
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/free_gifts/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': free_gifts.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Free Gift</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
                        {#{{ form_button({type: 'reset', content: '<i class="fa fa-fw fa-ban"></i> Cancle', class: 'btn btn-default'}) }}#}
                        {{ html_btn(site_url('ami/free_gifts'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if free_gifts.id %}
                            <a href="{{ site_url('ami/free_gifts/delete/' ~ free_gifts.id) }}" title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Expiry Date', 'expiry_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5 {{ free_gifts.expiry_date }}">
                    {{ form_input({name: 'expiry_date', value: free_gifts.expiry_date, id: 'expiry_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('App type', 'app_type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('app_type', apps, free_gifts.app_type, 'class="form-control"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Name', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'name', value: free_gifts.name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('active', 0, free_gifts.active == 0) }} No</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('active', 1, free_gifts.active == 1) }} Yes</label>&nbsp;
                </div>
            </div>
            {{ form_input({name: 'id', value: free_gifts.id, type: 'hidden', class: 'hide'}) }}

        </div>
    </div>

    {{ form_close() }}
{% endblock %}