<div id="ModalMediaGallery" class="modal-dialog" data-class="{{ class }}" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Media Gallery</h3>
            <i style="font-size: 11px;">Warning: Deleting a media will remove all its instances.</i>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#thumbView">Thumbnail View</a></li>
                <li role="presentation"><a href="#listView">List View</a></li>
            </ul>
        </div>
        <div id="message"></div>
        <div class="modal-body">
            <div id="thumbView" style="position: relative; height: 400px; overflow: hidden;">
                {% for item in media %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a class="mediathumb" data-id="{{ item.id }}" style="cursor: pointer;">
                                <img src="{{ item.thumb }}" class="img-responsive" style="width: 100%; height: 120px;">
                            </a>

                            <div class="caption">
                                <span class="label label-primary">{{ item.filename_old }}</span>
                                <ul class="list-inline" style="margin: 10px 0 0 0">
                                    {% if item.add_path == 1 %}
                                        <a href="{{ MEDIA_URL ~ '/' ~ class ~ '/' ~ item.entry_type ~ '/' ~ item.path }}"
                                           class="btn btn-xs btn-default modal-view" target="_blank"><i
                                                    class="fa fa-eye"></i> View</a>
                                    {% else %}
                                        <a href="{{ MEDIA_URL ~ '/' ~ class ~ '/' ~ item.path }}"
                                           class="btn btn-xs btn-default modal-view" target="_blank"><i
                                                    class="fa fa-eye"></i> View</a>
                                    {% endif %}

                                    <a href="#message" data-id="{{ item.id }}" data-class="{{ item.class }}"
                                       class="btn btn-xs btn-default pull-right delete delete-media-gallery"><i
                                                class="fa fa-close"></i> Delete</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="listView" style="position: relative; height: 400px; overflow: hidden;">
                <table class="table table-hover table-responsive">
                    <tbody>
                    {% for item in media %}
                        <tr>
                            <td class="media-name">
                                <a class="mediathumb" title="{{ item.filename_old }}" data-id="{{ item.id }}" style="cursor: pointer;">
                                    <span class="filename">{{ trim_word(item.filename_old, 50) }}</span>
                                    <img src="{{ item.thumb }}" class="img-responsive" style="width: 100%; height: 120px;">
                                </a>
                                <div class="caption">
                                    <span class="label label-primary">{{ trim_word(item.filename_old, 16) }}</span>
                                    <ul class="list-inline" style="margin: 10px 0 0 0">
                                        {% if item.add_path == 1 %}
                                            <a href="{{ MEDIA_URL ~ '/' ~ class ~ '/' ~ item.entry_type ~ '/' ~ item.path }}"
                                               class="btn btn-xs btn-default modal-view" target="_blank"><i
                                                        class="fa fa-eye"></i> View</a>
                                        {% else %}
                                            <a href="{{ MEDIA_URL ~ '/' ~ class ~ '/' ~ item.path }}"
                                               class="btn btn-xs btn-default modal-view" target="_blank"><i
                                                        class="fa fa-eye"></i> View</a>
                                        {% endif %}

                                        <a href="#message" data-id="{{ item.id }}" data-class="{{ item.class }}"
                                           class="btn btn-xs btn-default pull-right delete delete-media-gallery"><i
                                                    class="fa fa-close"></i> Delete</a>
                                    </ul>
                                </div>
                            </td>
                            <td>{% if item.add_path == 1 %}
                                    <a href="{{ MEDIA_URL ~ '/' ~ class ~ '/' ~ item.entry_type ~ '/' ~ item.path }}"
                                       class="btn btn-xs btn-default modal-view" target="_blank"><i
                                                class="fa fa-eye"></i> View</a>
                                {% else %}
                                    <a href="{{ MEDIA_URL ~ '/' ~ class ~ '/' ~ item.path }}"
                                       class="btn btn-xs btn-default modal-view" target="_blank"><i
                                                class="fa fa-eye"></i> View</a>
                                {% endif %}

                                <a href="#message" data-id="{{ item.id }}" data-class="{{ item.class }}"
                                   class="btn btn-xs btn-default pull-right delete delete-media-gallery"><i
                                            class="fa fa-close"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button id="modalClose" class="btn" data-dismiss="modal" aria-hidden="true"><i
                        class="fa fa-fw fa-close"></i> Cancel
            </button>
        </div>
    </div>
</div>
<link href="{{ site_url('res/css/plugins/perfect-scrollbar/perfect-scrollbar.min.css') }}" rel='stylesheet'
      type='text/css'>
<script src="{{ site_url('res/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script>
    $('#thumbView, #listView').perfectScrollbar();
    $(document).ready(function () {
        $('#listView').hide();
        $('ul.nav-tabs li').on('click', function () {
            var prev_active = $('ul.nav-tabs li.active'),
                    prev_block = prev_active.find('a').attr('href'),
                    cur_block = $(this).find('a').attr('href');
            prev_active.removeClass('active');
            $(this).addClass('active');
            $(prev_block).hide();
            $(cur_block).show();
        });
    });
</script>