@media print
{
    * {-webkit-print-color-adjust:exact;}
    @page
    {
        size: 457mm 305mm;   /* auto is the current printer page size */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
}

html {
    min-height: 100%;
}

@font-face {
    font-family: 'mohave1';
	src: url(../../fonts/MohaveItalics.ttf);
}

@font-face {
    font-family: 'mohave';
    src: url(../../fonts/Mohave.ttf);
}

p{
    margin: 0;
    padding: 0;

}

body{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#FBFADC));
	background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#FBFADC));
	background: -ms-linear-gradient(top, #fff, #FBFADC) fixed;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#FBFADC',GradientType=0);
    font-family: mohave;
    line-height: 1.1 !important;
}

#infographic {
    text-align: center;
}
#main{
	position: relative;
	width: 1100px;
	margin: 0 auto;
}
#header{
	margin-bottom:70px;
	margin-top:25px
}
.month-year {
    font-size: 40px;
}
#header img{
	float:left;
    margin-right: 20px;
    margin-left: 20px;
}
#header p{
	font-size:48px;
	font-family:mohave;
	text-align:left;
	font-weight:bold;
	color:#424143;
}
#content{
	margin:100px auto;
    padding-bottom: 30px;
    min-height: 500px;
    max-width: 1100px;
}
.bottomsalesteam  .block1, .bottomsalesteam  .block2, 
.bottomsalesteam  .block3{
	float: left;
}	
	
.bottomsalesteam .block2{
	padding: 0px 0px 0px 10px;
	margin: 0px 0 0 25px;
}

.bottomsalesteam .block3{
	position: relative;
	float: left;
	width: 64px;
	height: 164px;
	background: url(../../img/infographic/bg_human2.png) no-repeat;
	padding: 20px 10px 20px 40px;
	margin: 30px 0 0 35px;
}

.textalign p{
	position: absolute;
	text-align: center;
	margin: 30px 0 0 -75px;
	padding: 0;
	background: #424143;
	border: 1px solid #302f32;
}
.textalign #txt1{
	top: 10px;
	left: 45px;
	/*color: #ba2657;*/
	color: #ffffff;
	width: 120px;
	font-size:15px;
	letter-spacing: -1px;
}
.textalign #txt2{
	top: 75px;
	left: 35px;
	/*color: #779d41;*/
	color: #ffffff;
	width: 150px;
	font-size:15px;
	letter-spacing: -1px;
}
/*-------------------------------------------------site2-----------------------------*/
#content1{
	background:url(../../img/infographic/bg_content.png) no-repeat;
	margin:auto;
	width:988px;height:435px;
	text-shadow:0px 10px 0px rgba(66,65,67, 0.3);
}
.maincontent{
	margin:auto;
	color:#ffffff;
}

.text1{
	/*float:left;*/
	position:relative;
	width:900px;
	margin-left:30px;
	font-family:mohave;
    margin-top: 70px;
    padding-top: 120px;
}
.text1 h1{
	font-size:31px;
    /*margin: 50px auto !important;*/
	text-shadow:0px 4px 0px rgba(66,65,67, 0.3);
}
.text1 h2{
	font-size:102px;
	/*position:absolute;*/
	/*top:81px; left:60px;*/
}	
.text1 h3{
	font-size:31px;
	position:absolute;
    margin-top: 100px;
    margin-left: 170px;
	text-shadow:0px 4px 0px rgba(66,65,67, 0.3);
}	
.text2{
	float:right;
	position:relative;
	width:400px;
	font-family:'mohave';
    margin-top: 70px;
} 
.text2 h1{
    margin-top: 50px;
    margin-right: 20px;
    text-shadow:0px 4px 0px rgba(66,65,67, 0.3);
}
.text2 h2{
	font-size:102px;
	position:absolute;
	top:81px; right:100px;
	
}
.maincontent p{
	float:left;
	font-size:172px;
	color:#ffffff;
    margin-top: 120px;
    margin-left: 30px;
	font-family:'mohave';
	font-weight:bold;
}
/*-----------------site 3-------------------------------------------*/	
.leftcontent{
	float:left;
	font-family:'mohave';
	color:#D91F5D;
}
.leftcontent h1{
	font-size:23px;
	margin-bottom:-15px;
    text-align: right;
    color:#D91F5D;
    padding-right: 10px;
}
.leftcontent h2{
	font-size:23px;
    text-align: right;
    color:#D91F5D;
    padding-right: 10px;
}
.left_img{
	width:454px; height:156px;
	background:url(../../img/infographic/pic4.png) no-repeat;
}
.left_img p{
	font-family:'mohave';
	font-size:86px;
	color:#D91F5D;
	padding-top:25px;
}
#rich-media-left-detail-info {
	width:454px;
	margin-top:10px;
}
#rich-media-left-detail-info * {
	margin:0;
	padding:0;
}
#rich-media-left-detail-info ul li {
	display:inline-block;
	list-style-type: none;
	text-align:center;
	width:140px;
	font-size:30px;
	font-weight:bold;
	line-height:0.7;
	
}
#rich-media-left-detail-info ul li span {
	font-size:18px;
	font-weight:100;
}
/*rich media home*/
#rich-media-left-detail-info-home {
	width:180px;
	margin-top:5px;
}
#rich-media-left-detail-info-home * {
	margin:0;
	padding:0;
}
#rich-media-left-detail-info-home ul li {
	display:inline-block;
	list-style-type: none;
	text-align:center;
	width:55px;
	font-size:16px;
	font-weight:bold;
	line-height:0.7;
	color:#D91F5D;
}
#rich-media-left-detail-info-home ul li div {
	font-size:9px;
	font-weight:100;
    margin-top: 5px;
}

.right_img p{
	font-family:'mohave';
	font-size:86px;
	color:#29AAE1;
	/*padding:30px 10px;*/
    padding-top: 25px;
}
.rightcontent{
	float:right;
	color:#29AAE1;
}
.rightcontent{
	font-family:'mohave';
}
.rightcontent h1{
	font-family:'mohave';
	font-size:23px;
	margin-bottom:-15px;
    color:#29AAE1;
    text-align: right;
    padding-right: 10px;
}
.rightcontent h2{
	font-family:'mohave';
	font-size:23px;
    color:#29AAE1;
    text-align: right;
    padding-right: 10px;
}
.right_img{
	width:454px; height:156px;
	background:url(../../img/infographic/pic4.png) no-repeat;
}
.right_img img{
	float:left;
	margin:40px 29px;
}
.left_img1 {
	float:left;
	margin:40px 30px;
}
.left_img img{
	margin-right:10px;
}
/*---------------------------------------site4-----Call data--------------------------------*/
#contentcalldata{
	margin:auto;
	width:915px;
    height:435px;
}
.mn_ct {
	padding:0px;
}
.mn_ct li{
	list-style:none;
	float:left;
	width:191px; height:326px;
	margin-right:35px;
	font-family:'mohave';
	color:#ffffff;
	position:relative;
}
.otma{
	width:149px; height:42px;
	border-radius:14px;
	background:#ececec;
	opacity:0.1;
	margin-top:-35px;
    margin-left: 22px;
	z-index:1
}
.table1{
	background:url(../../img/infographic/pics4_1.png) no-repeat;
}
.table2{
	background:url(../../img/infographic/pics4_2.png) no-repeat;
}
.table3{
	background:url(../../img/infographic/pics4_3.png) no-repeat;
}
.table4{
	background:url(../../img/infographic/pics4_4.png) no-repeat;
}
.table5{
	background:url(../../img/infographic/pics4_5.png) no-repeat;
}
.mn_tb h1{
	font-size:80px;
	margin-top:25px;
}
.mn_tb h2{
	font-size:44px;
	position:absolute;
	margin-top:25px;
	margin-left:55px;
}
.mn_tb h3{
	font-size:20px;
	position:absolute;
	margin-top:84px;
	margin-left:28px;
	font-weight:normal;
}
.mn_tb p{
	margin-top:149px;
	z-index:100;
	font-size:29px;
	font-weight:bold;
}
/*---------------------------------------site5-------------------------------------*/
#contentdata1{
	margin:auto;
	width:1100px;height:435px;
}
.mn_data{
	width:193px; height:330px;
	background:#D91F5D;
	list-style:none;
	float:left;
	margin-right:18px;
	border-radius:10px;
	color:#ffffff;
	font-family:'mohave';
	font-weight:bold;
}
.mn_data h1{
	font-size:41px;
	margin-top:15px;
}
.mn_data h2{
	font-size:28px;
	/*margin-top:-26px;*/
    margin-bottom: 30px;
}	

.mn_data.tabledata1 {
    margin-left: 80px;
}
.mn-un-total-full {
    clear: both;
    font-size: 26px;
    line-height: 50px;
}
.tabledata2 {
	background:#8EC641;
}
.tabledata3{
	background:#29AAE1;
}
.tabledata4{
	background:#EDD817;
}
.tabledata5{
	background:#6E6F72;
}
.number{
	width:185px; height:185px;
	border-radius:50%;
	border:8px solid #ffffff;
	margin-left:4px;
}
.number p{
	font-size:104px;
	margin-top:30px;
}
/*------------------------------------------------site6--------------------------------------------*/
.mn_media{
	width:222px; height:385px;
	list-style:none;
	float:left;
	margin-right:22px;
	color:#ffffff;
	font-family:'mohave';
}
.tablemedia1{
	background:url(../../img/infographic/pics6_1.png) no-repeat;
}
.tablemedia2{
	background:url(../../img/infographic/pics6_2.png) no-repeat;
}
.tablemedia3{
	background:url(../../img/infographic/pics6_3.png) no-repeat;
}
.tablemedia4{
	background:url(../../img/infographic/pics6_4.png) no-repeat;
}
.mn_media h1{
	font-size:19px;
	font-weight:normal;
	margin-top:100px;
}
.mn_media h2{
	font-size:105px;
	margin-top:20px;
}
.mn_media p{
	font-size:41px;
	/*margin-top:-77px;*/
}
.tablemedia2 p{
	font-size:29px;
}
/*------------------------------------------------site 7------------------------------------------*/
.mn_call{
	width:262px; height:309px;
	background:url(../../img/infographic/pics7_1.png) no-repeat;
	list-style:none;
	float:left;
	margin-left:30px;
	margin-right:40px;
    margin-bottom: 100px;
}
.tablecall1 p{
	font-size:122px;
	font-family:'mohave';
	margin-top:80px;
	font-weight:bold;
	color:#424143;
}
.tablecall2 p{
	font-size:122px;
	font-family:'mohave';
	margin-top:80px;
	font-weight:bold;
	color:#424143;
}
.mn_call h1{
	font-size:33px;
	font-family:'mohave';
	font-weight:normal;
	margin-top: 120px;
	color:#424143;
}
/*---------------------------------site8 sku-----------------------------------------*/
#contentsku{
    overflow: hidden;
	width:962px;
	margin:auto;
	position:relative;
}
/*
.tb_sku{
	width:466px; height:256px;
	float:left;
	background:#E7E7E7;
	border-radius:12.5px;
}
#contentsku p{
	float:left;
	font-size:10.91px;
	text-align:left;
	font-family:'mohave';
	line-height:25px;
	margin-left:5px;
	color:#424143;
	font-weight:normal;
}
.tablesku1{
	position:absolute;
	top:0; left:0;
}
.tablesku2{
	position:absolute;
	top:0; right:0;
}
.tablesku3{
	position:absolute;
	bottom:0; left:0;
}
.tablesku4{
	position:absolute;
	bottom:0; right:0;
}
.bg_sku1{
	float:right;
	background:#29AAE1;
	border-radius:12.5px;
	width:174px; height:256px;
	position:absolute;
	right:0px;
	overflow: hidden;
}
.bg_sku1 img{
	margin-top:15px;
	
}
.bg_sku1 h1{
	font-size:16.33px;
	font-family:'mohave';
	color:#ffffff;
}
.bg_sku1 h2{
	font-size:53.55px;
	font-family:'mohave';
	color:#ffffff;
	margin-top:15px;
}

.bg_sku2{
	float:right;
	background:#8EC641;
	border-radius:12.5px;
	width:174px; height:256px;
	position:absolute;
	right:0px;
	overflow: hidden;
}
.bg_sku2 img{
	margin-top:40px;
}
.bg_sku2 h1{
	font-size:16.33px;
	font-family:'mohave';
	color:#ffffff;
}
.bg_sku2 h2{
	font-size:53.55px;
	font-family:'mohave';
	color:#ffffff;
	margin-top:15px;
}
.bg_sku3{
	float:right;
	background:#D91F5D;
	border-radius:12.5px;
	width:174px; height:256px;
	position:absolute;
	right:0px;
	overflow: hidden;
}
.bg_sku3 img{
	margin-top:15px;
}
.bg_sku3 h1{
	font-size:16.33px;
	font-family:'mohave';
	color:#ffffff;
}
.bg_sku3 h2{
	font-size:53.55px;
	font-family:'mohave';
	color:#ffffff;
	margin-top:15px;
}
.bg_sku4{
	float:right;
	background:#424143;
	border-radius:12.5px;
	width:174px; height:256px;
	position:absolute;
	right:0px;
	overflow: hidden;
}
.bg_sku4 img{
	margin-top:15px;
}
.bg_sku4 h1{
	font-size:16.33px;
	font-family:'mohave';
	color:#ffffff;
}
.bg_sku4 h2{
	font-size:53.55px;
	font-family:'mohave';
	color:#ffffff;
	margin-top:20px;
}
.tb_sku a{
	font-weight:bold;
}

.tablesku1 a{
	color:#29AAE1;
}
.tablesku2 a{
	color:#8EC641;
}
.tablesku3 a{
	color:#D91F5D;
}
.tablesku4 a{
	color:#424143;
}
*/

/** anhth - update new top sku**/

.top-sku-background {
	position:relative;
	width:800px;
	background-color:#29aae4;
	border-radius:10px;
	padding-top:10px;
	padding-bottom:5px;
	margin:auto;
}

.top-sku-background  * {
	margin:0;
	padding:0;
}

.top-sku-background-home {
	position:relative;
	width:500px;
	background-color:#29aae4;
	border-radius:10px;
	padding-top:10px;
	padding-bottom:5px;
	margin:auto;
}

.top-sku-background-home * {
	margin:0;
	padding:0;
}

.top-sku-title {
	color:black;
	font-family:mohave;
	font-size:20px;
	font-weight:600;
	width:200px;
}

.top-sku-inside {
	position:relative;
	width:790px;
	margin: 10px auto 0px auto;
	border-radius:10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d6f2fd), to(#ffffff));
	background: -moz-linear-gradient(top, #d6f2fd, #ffffff) fixed;
	background: -ms-linear-gradient(top, #d6f2fd, #ffffff) fixed;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#FBFADC',GradientType=0);
    font-family: mohave;
}

.top-sku-inside-home {
	position:relative;
	width:490px;
	margin: 10px auto 0px auto;
	border-radius:10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d6f2fd), to(#ffffff));
	background: -moz-linear-gradient(top, #d6f2fd, #ffffff) fixed;
	background: -ms-linear-gradient(top, #d6f2fd, #ffffff) fixed;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#FBFADC',GradientType=0);
    font-family: mohave;
}

.top-sku-list {
	padding:5px 0px;
}
.top-sku-list li {
	list-style-type:none;
	margin:20px 0px;
}

.top-sku-list-home {
	padding:5px 0px;
	overflow: hidden;
}
.top-sku-list-home li {
	list-style-type:none;
	margin:2px 0px;
    overflow: hidden;
}

.top-sku-list li p:first-child {
	font-size:20px;
	color: #fff;
	padding: 5px 0;
	width:650px;
	text-align:left;
	display:inline-block;
}

.top-sku-list-home li .name-block {
	font-size:18px;
	padding: 5px 0 0 40px;
	width:350px;
	text-align:left;
    float: left;
}

.top-sku-list-home li .name-block p{
    display: inline-block;
}

.top-sku-list-home li .percent-block {
	float:right;
	padding: 5px 0;
	margin-right:30px;
	width:60px;
	color:#D91F5D;
	font-weight:bold;
}

/*------------------------------------------site 9 call data local---------------------------------*/
#contanttotal{
	height:482px;
	margin:auto;
	margin-top:100px;
	position:relative;
	margin-left:50px;
}
.ct-un-total-full {
    clear: both;
    font-size: 26px;
    line-height: 50px;
}
.ct_total{
	width:175px; height:300px;
	list-style:none;
	float:left;
	margin-left:18px;
}
.total1{
	background:url(../../img/infographic/total1.png) no-repeat;
    margin-left: 123px;
}
.total2{
	background:url(../../img/infographic/total2.png) no-repeat;
}
.total3{
	background:url(../../img/infographic/total3.png) no-repeat;
}
.total4{
	background:url(../../img/infographic/total4.png) no-repeat;
}
.total5{
	background:url(../../img/infographic/total6.png) no-repeat;
}
.ct_total h1{
	font-size:103.75px;
	color:#ffffff;
	font-weight:bold;
	margin-top:45px;
	margin-bottom:70px
}
.ct_total h2{
	font-size:18.35px;
	color:#ffffff;
	margin-top: -48px;
	font-weight:normal;
	margin-bottom:15px;
}
.ct_total h3{
	font-size:40.59px;
	color:#ffffff;
	margin-top:-10px;
	margin-bottom:42px;
}
.ct_total h4{
	font-size:18.35px;
	color:#ffffff;
	margin-top:-40px;
}
.imgtotal img{
	margin-top:15px;
	margin-right:50px;
}
#contanttotal p{
	font-size:88.26px;
	margin-top:20px;
	color:#424143;
	font-weight:bold;
	margin-right:50px;
}
.ct_total_text{
	margin-right:50px;
	color:#337ab7;	
}

/*----------------------------------------site11-------------------------------------------------------------*/
.customerdata{
	background:url(../../img/infographic/customerdata.png) no-repeat;
	background-size: 750px 450px;
	width:750px; height:450px;
	margin:auto;
}
.centerctdt p, 
.centerctdt1 p,
.centerctdt2 p,
.centerctdt3 p {
	color:#ffffff;
	font-family:'mohave';
	font-size:74.55px;
}

h1{
	font-size:34.34px;
	font-weight:bold;
	color:#ffffff;
}
h2, h4, h5{
	font-size:13.53px;
	font-weight:bold;
	color:#ffffff;
}
h3{
	font-size:57.94px;
	font-weight:bold;
	color:#ffffff;
}
.leftctdt, .leftctdt1, .leftctdt2, .leftctdt3 {
	width:250px;
	float:left;
}
.rightctdt, .rightctdt1, .rightctdt2, .rightctdt3 {
	width:250px;
	float:right;
}
.centerctdt, .centerctdt1, .centerctdt2, .centerctdt3 {
	width:250px;
	float:left;
}

.rightctdt {
    margin-top: 5px;
}

.rightctdt1 {
    margin-top: 15px;
}

.rightctdt3 {
    position: relative;
}

.leftctdt2,
.centerctdt2 {
    position: absolute;
}

.centerctdt2 {
    margin-left: 239px;
}
.centerctdt3 {
    margin-left: 249px;
}
.customerdatatable1{

	width:750px; height:100px;
}
.customerdatatable2{
    margin-top: 20px;
	width:750px; height:100px;
}
.customerdatatable3{
    padding-top: 45px;
	width:750px; height:100px;
}
.customerdatatable4{
    margin-top: 25px;
	width:750px; height:100px;
}
.customerdatatable5{

	width:750px; height:100px;
}
.leftctdt h1{
	margin-top:35px;
	margin-left:185px;
	position:absolute;
}
.leftctdt h2{
	margin-top: 75px;
	margin-left: 154px;
	position: absolute;
}
.centerctdt p{
	position:absolute;
	margin-top:10px;
	margin-left:357px;
}
.rightctdt h4{
	margin-right:165px;
	font-size:34.34px;
	margin-top:20px;
}
.rightctdt h5{
	margin-top:-8px;
	margin-right:165px;
}
.rightctdt h6{
	margin-right:140px;
	margin-top:-7px;
	font-size:15.53px;
	color:#ffffff;
	width:110px;
}
.leftctdt1 h1{
	margin-top:15px;
	margin-left:97px;
}
.leftctdt1 h2{
	margin-top:-4px;
	margin-left:116px;
	position:absolute;
}
.centerctdt1 p{
	/*margin-left: 19px;*/
	margin-top: -5px;
}
.rightctdt1 h3{
	margin-top: 0px;
	font-size:34.34px;
	margin-right:95px;
}
.rightctdt1 h4{
	margin-top:-10px;
	margin-left:70px;
	position:absolute;
}
.rightctdt1 h5{
	margin-top:7px;
	padding-left:40px;
	position:absolute;
}
.leftctdt2 h1{
	margin-top:-5px;
	margin-left:-20px;
}
.leftctdt2 h2{
	margin-top:-7px;
    margin-left: -35px;

}
.centerctdt2 p{
	margin-top: -30px;
	margin-left: 19px;
}
.rightctdt2 h3{
	margin-top:-14px;
	font-size:34.34px;
}
.rightctdt2 h4{
	margin-top:-10px;
	margin-bottom:22px;
}
.rightctdt2 h5{
	margin-top:-20px;
	padding-left:20px;
}
.leftctdt3 h1{
	float:left;
	position: absolute;
	margin-top: 20px;
	margin-left: 60px;
}
.leftctdt3 h2{
	float:left;
	position:absolute;
	margin-top: 63px;
	margin-left: 7px;
}
.centerctdt3p{
	margin-left:358px;
	margin-top:40px;
	color:#ffffff;
	font-family:'mohave';
	font-size:74.55px;
	position:absolute;
}
.rightctdt3 h3{
	float: right;
	font-size: 34.34px;
	margin-right: 47px;
	margin-top: 15px;
}
.rightctdt3 h4{
	/*float:right;
	margin-right:47px;*/
	margin-top:53px;
    position: absolute;
    right: 60px;
}
.rightctdt3 h5{
	margin-top:70px;
	margin-right:-124px;
	float:right;
}

.leftctdt5 h1{
	float:left;
	position: absolute;
	margin-top: -30px;
	margin-left: 9px;
}
.leftctdt5 p{
	float:left;
	position:absolute;
	font-size: 9px;
	color: #fff;
	margin-left: 3px;
	font-weight: bold;
	margin-top:15px;
}
.centerctdt5 p{
	margin-left: 368px;
	margin-top: -47px;
	color: #ffffff;
	font-family: 'mohave';
	font-size: 74.55px;
	position: absolute
}
.rightctdt5 h3{
	float: right;
	font-size: 32px;
	margin-right: 6px;
	margin-top: -44px;
}
.rightctdt5 h4{
	float: right;
	margin-right: -54px;
	margin-top: -1px;
	font-size: 9px;
}
.rightctdt5 h5{
	margin-top: 15px;
	margin-right: -88px;
	font-size: 9px;
	float: right;
}
.customer-data-un {
    font-size: 16px;
    margin: 5px auto;
}
/*---------------------------------------site 10---------------------------------------*/
.contentpie{
	width:1150px;
	margin:auto;
    overflow: hidden;
}


.test{
	width:100px; height:100px;
	background:#F2F2F2;
	border-radius:50px;
	float:left;
	margin-left:18px;

}
.mntest{
	position:absolute;
	width:100px; height:100px;
	background:#D91F5D;
	border-radius:50px;
	clip: rect(50px, 100px, 100px, 0px);
	margin-top:10px;
	z-index:1
}
.rowtable2 .mntest{
	background:#29AAE1;
}
.rowtable3 .mntest{
	background:#8EC641;
}
.rowtable4 .mntest{
	background:#595A5C;
}
.row1{
	width:1100px; height:108px;
	margin:auto;
}
.row2{
	width:1100px; height:45px;
	margin: 15px auto 15px auto;
}
.row2 a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.row3{
	width:1100px; height:100px;
	margin:auto;
}
.row4{
	width:1100px; height:45px;
	margin: 15px auto 15px auto;
}
.row4 p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	font-size: 28.5px;
	color: #ffffff;
	margin-top: 5px;
	display: block;
}
.bg{
	width:160px; height:45px;
	background:#D91F5D;
	border-radius:20px;
	float:left;
	margin-left:50px;
    color: #fff;
}
.rowtable1{
	width:236px;height:100px;
	float:left;
	margin-right:40px;
}
.rowtable2{
	width:236px;height:100px;
	float:left;
	margin-right:40px;
}
.rowtable3{
	width:236px;height:100px;
	float:left;
	margin-right:40px;
}
.bg_table2{
	background:#29AAE1;
	margin-left:115px;
}
.bg_table3{
	background:#8EC641;
	margin-left:115px;
}
.bg_table4{
	background:#595A5C;
	margin-left:115px;
}
.bg_table p, .bg_table2 p, .bg_table3 p, .bg_table4 p{
    font-size: 18px;
}
.mntest p .text1{
	position:absolute;
	z-index:100;
}

.text22{
	font-size:21px;
	position:absolute;
	z-index:300;
	margin-top:66px;
	margin-left:31px;
	color:#ffffff;
	font-weight:bold;
}
.maintext{
	font-size:49px;
	position:absolute;
	z-index:300;
	color:#D91F5D;
	margin-top:3px;
}
.text3{
	margin-left:27px;
}


.text4{
	font-size:21px;
	position:absolute;
	z-index:300;
	margin-top:66px;
	margin-left:13px;
	color:#ffffff;
	font-weight:bold;
}
.bg a{
	font-size:18.5px;
	color:#ffffff;
	margin-top:5px;
	display:block;
}
.maintxt{
	font-size:49px;
	position:absolute;
	z-index:300;
	color:#D91F5D;
	margin-top:3px;
}
.txt4{
	font-size:21px;
	position:absolute;
	z-index:300;
	margin-top:66px;
	margin-left:10px;
	color:#ffffff;
	font-weight:bold;
}
.txt2{
	font-weight:bold;
	font-size:21px;
	position:absolute;
	z-index:300;
	margin-top:66px;
	margin-left:32px;
	color:#ffffff;
}
.txt3{
	margin-left:20px;
}
/*------------------------------------------------site12------------------------------------------*/

#myStat2{
	float:left;
	margin-left:45px;
}
#myStat2.cilcliful{
	width:500px;
	float:left;	
}
.rightcontentpie{
	float:right;
	margin-right: 100px;
    border-radius:10px;
    background-color:#E7E7E7;
}
.testcpie1, .testcpie2, .testcpie3{
	font-size:34.02px;
	color:black;
}

.toppie{
	margin-top:95px;
}

.bottompie{

	width:450px; height:150px;
	margin-right:20px;
	margin-top:20px;
}
.leftctpie{
	float:left;
	width:300px;
	height:150px;

}
.rightctpie{
	float:right;
	width:90px;
	height:150px;

}	
.bottompie{
	float:right;
}
.leftctpie p{
	font-size:34.02px;
	text-align:right;
}
.rightctpie p{
	font-size:34.02px;
	text-align:left;
	font-family:bold;
}
.bottompie p{
	color:#EE2E7C
}
.leftbottompie{
	/*float:left;*/
	/*margin-left:30px;*/
}
.rightbottompie{
	float:right;
}
.textleftbtpie1{
	font-size:65px;
	padding-left:40px;	
}
.textleftbtpie2{
	font-size:42.37px;
}
.textleftrightpie1{
	font-size:65px;
}
.textleftrightpie2{
	font-size:42.37px;
}
/*----------text color---------------------*/
.textleftctpie1{
	color:#424143;
}
.textleftctpie2{
	color:#29AAE1;
}
.textleftctpie3{
	color:#818285;
}
.textrightctpie1{
	color:#424143;
}
.textrightctpie2{
	color:#29AAE1;
}
.textrightctpie3{
	color:#818285;
}
.abtext1{
	position:absolute;
	margin-left:73px;
	margin-top:134px;
}
.abtextcall{
	font-size:10.48px;
	
}
.abtext2 {
    position: absolute;
    margin-top: 328px;
    margin-left: 408px;
}
.abtext3{
    position:absolute;
    margin-top:185px;
    margin-left:190px;
}
.abtextcall1{
	font-size:10.48px;
}
.abnumcall{
	font-size:35.47px;
	position:absolute
}
.abnumcall1{
	font-size:35.47px;
	position:absolute;
	margin-left:-8px;
}
/*------------------------------------------site13--------------------------------*/
.contenttype{
	margin:auto;
}
.contentsidebar{
	width:900px; height:105px;
	background:#E7E7E7;
	margin-bottom:19px;
	border-radius:10px;
}
.contenttype p{
	font-size:21.42px;
	font-weight:bold;
	color:#424143;
	padding-left:20px;
	padding-top:30px;
}
.typetext{
	width: 120px; height:105px;
	float:left;
	text-align:left;
}
.rightcontenttype{
	width:780px; height:105px;
	float:left;
}
/*-------------------------------------site 140---------------------------------------------*/
#calldatacontent{
	width:580px;
	margin:auto;
	margin-top:-100px;
}
.call_data_bl2 #calldatacontent{
    width:620px;
    margin-top: 20px;
    overflow: hidden;
}
.chartbar12{
	width:600px; height:330px;
	border:1px solid #D91F5D;
	border-radius:25px;
	text-align: center;
}
.chartbar34{
	width:560px;
}
.chartindex1{
	width:210px; height:250px;
	margin:55px 87px 5px 40px;
	float:left;
}
.chartindex2{
	width:210px; height:250px;
	margin:55px 40px 5px 10px;
	float:right;
}
#index1{
	border-bottom:5px solid #D91F5D;
	
}
#index2{
	border-bottom:5px solid #D91F5D;
}
.leftindex1tc1{
	float:left;
	margin-left:20px;
}

.idex1textchart1{
	font-size:20.95px;
	color:#D91F5D;
	font-weight:bold;
	margin-top:5px;
}
.idex1textchart2{
	font-size:20.95px;
	color:#424143;
	font-weight:bold;
}
.leftindex1tc1 p{
	font-size:20.95px;
	color:#424143;
	font-weight:bold;
}
.rightindex1tc2 p{
	font-size:20.95px;
	color:#424143;
	font-weight:bold;
}
.leftindex1tc1 a{
	font-size:11.16px;
	color:#424143;
	font-weight:bold;
	display:block
}
.rightindex1tc2 a{
	font-size:11.16px;
	color:#424143;
	font-weight:bold;
}
.centerindex1 p{
	float:left;
	font-size:20.95px;
	font-weight:bold;
	color:#424143;
}
.index2textchart1 {
	font-size:20.95px;
	color:#D91F5D;
	font-weight:bold;
	margin-top:5px;
}
.index2textchart2{
	font-size:20.95px;
	color:#424143;
	font-weight:bold;
}
.chartindex3{
	float:left;
	margin:55px 0px 5px 40px;
	width:210px;
	text-align: center;
}
.chartindex4{
	margin-top:55px;
	float:right;
	width:210px;
	text-align: center;	
}
.idex3textchart2{
	font-size:20.95px;
	color:#424143;
	font-weight:bold;
}
.index4textchart2 {
	font-size:20.95px;
	color:#424143;
	font-weight:bold;
}

.chartindex1 img{
	position:absolute;
	top:12px; left:57px;
	z-index:1
}
#textct1{
	top:37px; left:90px;
}
#textct2{
	top:37px; right:157px;
}
#textct3{
	top:473px; left:729px;
}
#textct4{
	top:472px; right:780px;
}

.chartbar12{
	position:relative;
}
.chartindex2 img, .chartindex3 img, .chartindex4 img{
	position:absolute;
	z-index:1;
	
}
#textct1, #textct2, #textct3, #textct4{
	position:absolute;
	color:#ffffff;
	z-index:2;
	font-size:43.33px;
}
.chartindex2 img{
	top:12px; right:130px;
}
.chartindex3 img{
	top:443px; left:698px;
}
.chartindex4 img{
	top:443px; right:760px;
}

.call_data_bl2 .chartindex4, .call_data_bl2 .chartindex3{
    position: relative;
}
.call_data_bl2 .chartindex4 img {
    position: absolute;
    top: -50px;
    right: 89px;
}
.call_data_bl2 .chartindex3 img {
    position: absolute;
    top: -50px;
    left: 18px;
}
.call_data_bl2 #textct4 {
    top: -25px;
    right: 110px;
}
.call_data_bl2 #textct3 {
    top: -25px;
    left: 35px;
}
/*----------------------------------------------------malaysia pull data------------------------------------------*/
.main{
	position: relative;
	width:100%;
	margin: 0 auto;
}
.header{
	width:1200px;
	margin-bottom:70px;
	margin-top:25px;
	margin:auto;
}
.header p{
	font-size:48px;
	font-family:'mohave';
	text-align:left;
	font-weight:bold;
	color:#424143;
}
.content{
	margin:auto;
	margin-top:100px;
}
#contantmalaypd{
	width:1100px;
	margin:auto;
}
.leftcontantmalaypd{
	float:left;
	margin-left:35px;
}
.rightcontantmalaypd{
	float:right;
}
.leftcontantmalaypdtable1{
	width:445px;
	border:1px dashed #424143;
	margin-bottom:50px;
	border-radius:10px;
}
.leftcontantmalaypdtable2{
	width:445px; height:260px;
	border:1px dashed #424143;
	margin-bottom:50px;
	border-radius:10px;
}
.leftcontantmalaypdtable3{
	width:445px; height:450px;
	border:1px dashed #424143;
	border-radius:10px;
}
.rightcontantmalaypdtable1{
	width:438px; height:317px;
	margin-top:70px;
	margin-bottom: 40px;
	border:1px dashed #424143;
	border-radius:10px;
}
.rightcontantmalaypdtable2{
	width:438px; height:702px;
	border:1px dashed #424143;
	border-radius:10px;
}


/* customer type */

.customertype-chartcontent:first-child {
    margin-top:40px;
}

.customertype-chartcontent {
    width:465px; height:60px;
    background:#E7E7E7;
    margin-bottom:10px;
    border-radius:5px;
    margin-top:15px;
    margin-left:-10px;
}

.customertype-chartcontent p{
    font-size:12px;
    font-weight:bold;
    color:#424143;
    padding-left:5px;
    padding-top:10px;
}

.ct-text {
    width: 80px;
    height: 50px;
    float: left;
    text-align: left;
    margin-top: 15px;
}

.ct-rightchart {
    width:380px; height:50px;
    float:left;
}

/* pie chart */


.calldata-piechart{
    position:relative;
    width:500px;
    height:300px;
    margin:auto;
}

#calldata-chart{
    float:left;
    margin-left:-40px;
    margin-top:20px;
}

.calldata-rightchartinfo{
    float:right;
    width:250px;
    height:200px;
    margin-top:50px;
    border-radius:10px;
    background-color:#E7E7E7;
}

.calldata-toppie{
    margin-top:15px;
}

.calldata-bottompie{
    width:250px; height:150px;
    margin-right:20px;
    /*margin-top:20px;*/
}
.calldata-leftctpie{
    float:left;
    width:170px;
    height:100px;
    
}
.calldata-rightctpie{
    float:right;
    width:50px;
    height:100px;
    
}
.calldata-leftctpie p{
    font-size:18px;
    margin-top:2px;
    text-align:right;
    font-family:mohave;
}
.calldata-rightctpie p{
    font-size:18px;
    margin-top:2px;
    text-align:left;
    font-family:mohave;
}
.calldata-bottompie p{
    color:#EE2E7C;
    font-family:mohave;
}
.calldata-leftbottompie{
    /*float:left;
    margin-left:0px;*/
}
.calldata-rightbottompie{
    float:right;
    margin-right:10px;
}
.calldata-textleftbtpie1{
    font-size:35px;
    /*padding-left:40px;*/
    padding-left: 10px;
    font-weight:bold;
}
.calldata-textleftbtpie2{
    font-size:25px;
}
.calldata-textleftrightpie1{
    font-size:35px;
    font-weight:bold;
}
.calldata-textleftbtpie1 span {
    margin-left:30px;
}
.calldata-textleftrightpie2{
    font-size:25px;
}

.calldata-abtext1{
    position:absolute;
    margin-left:-20px;
    margin-top:100px;
    color:#ffffff;
}
.calldata-abtextcall{
    font-size:4px;
}
.calldata-abtext2{
    position:absolute;
    margin-top:235px;
    margin-left:135px;
    color:#ffffff;
}
.calldata-abtextcall1{
    font-size:4px;
}
.calldata-abnumcall{
    font-size:18px;
}
.calldata-abnumcall1{
    font-size:18px;
}

.calldata-abtext3 {
    position:absolute;
    top:125px;
    left:55px;
}

.calldata-abtext3 p{
    font-size:18px;
    color:#EE2E7C;
}

.calldata-textleftctpie1{
    color:#424143;
}
.calldata-textleftctpie2{
    color:#29AAE1;
}
.calldata-textleftctpie3{
    color:#818285;
}
.calldata-textrightctpie1{
    color:#424143;
}
.calldata-textrightctpie2{
    color:#29AAE1;
}
.calldata-textrightctpie3{
    color:#818285;
}

#piechart-percent {
    font-size:40px;
}

/* growth chart */

#growthchart{
    position:relative;
    width:400px;
    margin:auto;
    /*margin-top:20px;*/
}

.growthchart-chartbar12{
    width:400px; height:200px;
    border:1px solid #D91F5D;
    border-radius:25px;
    padding-top: 5px;
}
.growthchart-chartbar34{
    width:400px;
    margin-top:10px;
}
.growthchart-chartindex1{
    width:180px; height:200px;
    float:left;
}
.growthchart-chartindex2{
    width:180px; height:200px;
    float:right;
}
#growthchart-index1{
    border-bottom:5px solid #D91F5D;
    
}
#growthchart-index2{
    border-bottom:5px solid #D91F5D;
}
.growthchart-leftindex1tc1{
    float:left;
    margin-left:20px;
}

.growthchart-idex1textchart1{
    font-size:16px;
    color:#D91F5D;
    font-weight:bold;
    margin-top:5px;
}
.growthchart-idex1textchart2{
    font-size:16px;
    color:#424143;
    font-weight:bold;
}
.growthchart-leftindex1tc1 p{
    font-size:16px;
    color:#424143;
    font-weight:bold;
}

.growthchart-rightindex1tc2 {
    line-height: 12px;
    padding-top: 2px;
}
.growthchart-rightindex1tc2 p{
    font-size:16px;
    color:#424143;
    font-weight:bold;
}
.growthchart-leftindex1tc1 a{
    font-size:9px;
    color:#424143;
    font-weight:bold;
    display:block
}
.growthchart-rightindex1tc2 a{
    font-size:9px;
    color:#424143;
    font-weight:bold;
}
.growthchart-centerindex1 p{
    float:left;
    font-size:16px;
    font-weight:bold;
    color:#424143;
    margin-left: 10px;
}
.growthchart-index2textchart1 {
    font-size:16px;
    color:#D91F5D;
    font-weight:bold;
    margin-top:5px;
}
.growthchart-index2textchart2{
    font-size:16px;
    color:#424143;
    font-weight:bold;
}
.growthchart-chartindex3{
    float:left;
    width:210px;
}
.growthchart-hartindex4{
    margin-top:55px;
    float:right;
    width:210px;
}
.growthchart-idex3textchart2{
    font-size:16px;
    color:#424143;
    font-weight:bold;
}
.growthchart-index4textchart2 {
    font-size:16px;
    color:#424143;
    font-weight:bold;
}

#growthchart-textct1{
    top:15px; left:25px;
}
#growthchart-textct2{
    top:15px; right:99px;
}
#growthchart-textct3{
    top:222px; left:50px;
}
#growthchart-textct4{
    top:223px; right:97px;
}

.growthchart-growthchart-chartbar12{
    position:relative;
}
.growthchart-chartindex2 img, .growthchart-chartindex3 img, .growthchart-chartindex4 img{
    position:absolute;
    z-index:1;
    
}
#growthchart-textct1, #growthchart-textct2, #growthchart-textct3, #growthchart-textct4{
    position:absolute;
    color:#ffffff;
    z-index:2;
    font-size:24px;
}
.growthchart-chartindex1 img{
    position:absolute;
    top:2; left:40;
    z-index:1
}
.growthchart-chartindex2 img{
    top:2px; right:90px;
}
.growthchart-chartindex3 img{
    top:210px; left:40px;
}
.growthchart-chartindex4 img{
    top:21s0px; right:90px;
}

/*------------------------------- khung site chung------------------------------------*/
.texttopsku, .textsalesperformance, .textsalesperformance1, .textsalesteam, .textrichmedia{
	position:absolute;
	background:#FDFDF0;
	font-size:25.5px;
	font-family:'mohave';
	font-weight:bold;
	width:85px;
}
.texttopsku{
	background:#FEFEF9;
    width: 200px;
}
.leftcontantmalaypdtable1 a{
	margin-top:-13px;
	margin-left:125px;
	display:block;
}

.leftcontantmalaypdtable1 p.texttopsku{
    margin-top:-13px;
    margin-left:155px;
    display:block;
}

.leftcontantmalaypdtable2 a{
	font-weight:bold;
	font-family:'mohave';
	margin-left:36px;
	display:block;
	background:#FDFDF0;
	position:absolute;
	margin-top:-15px;
	font-size:25.5px;
	width:380px;
}

.leftcontantmalaypdtable2 p.textsaledperformance{
    font-weight:bold;
    font-family:'mohave';
    margin-left:36px;
    display:block;
    background:#FDFDF0;
    position:absolute;
    margin-top:-15px;
    font-size:25.5px;
    width:380px;
}

.textsaledperformance{
	background:#fcfbe4;
}
.textrichmedia{
	background:#fcfbe4;
}
.leftcontantmalaypdtable3 a{
	margin-top:-15px;
	margin-left:145px;
	display:block;
	width:140px;
	font-weight:normal;
	font-weight:bold;
}

.leftcontantmalaypdtable3 p.textrichmedia {
    margin-top:-15px;
    margin-left:145px;
    display:block;
    width:140px;
    font-weight:normal;
    font-weight:bold;
}
.rightcontantmalaypdtable1 a{
	margin-left:115px;
	margin-top:-16px;
	display:block;
	width:250px;
}

.rightcontantmalaypdtable1 p.textsalesperformance1{
    margin-left:115px;
    margin-top:-16px;
    display:block;
    width:250px;
}

.textsalesperformance1{
	background:#FEFEF9;
}
.rightcontantmalaypdtable2 a{
	margin-left:145px;
	margin-top:-16px;
	display:block;
	width:167px;
}

.rightcontantmalaypdtable2 p.textsalesteam{
    margin-left:145px;
    margin-top:-16px;
    display:block;
    width:167px;
}

.tbtopskut{
	width:590px;
	position:relative;
	right:77px;
	margin: 45px 0;
}

.tbtopskut table {
    width: 195px;
}

.tbtopskut table tr {
   line-height: 1.5;
}
.tbtopskut table .width-85 {
    width: 85%;
    height: 14px;
    padding-left: 7px;
}

.tbtopskut table .width-15 {
    width: 15%;
    height: 14px;
    padding-right:12px;
}

.tb_skut{
	width:290px; height:155px;
	float:left;
	background:#E7E7E7;
	border-radius:4.7px;
}
.txtskut1, .txtskut2, .txtskut3, .txtskut4{
	font-size:6.2px;
	color:#424143;
	font-family:'mohave';
	font-weight:bold;
	text-align:left;
	line-height:1.5;
	margin-top:7px;
	/*margin-left:2px;*/
}

.bg_skut1 {
	background:#29AAE1;
	width:100px; height:155px;
	background:#29AAE1;
	border-radius:4.7px;
	position:absolute;
	right:0px;
	top:0px;
}
.bg_skut2{
	background:#8EC641;
	width:100px; height:155px;
	border-radius:4.7px;
	position:absolute;
	right:0px;
	top:0px;
}
.bg_skut3{
	background:#D91F5D;
	width:100px; height:155px;
	border-radius:4.7px;
	position:absolute;
	right:301px;
	top:165px;
}
.bg_skut4{
	background:#424143;
	width:100px; height:155px;
	border-radius:4.7px;
	position:absolute;
	right:0px;
	top:165px;
}
.tableskut1{
	position:relative;
	top:0; left:0;
}
.bg_skut1 img{
	width:31px; height:48px;
	margin-top:20px;
}
.bg_skut2 img{
	width:50px; height:38px;
	margin-top:30px;
}
.bg_skut3 img{
	width:45px; height:49px;
	margin-top:20px;
}
.bg_skut4 img{
	width:50px; height:38px;
	margin-top:30px;
}
.tableskut1{
	margin-right:10px;
	overflow:hidden;
}
.tableskut2{
	overflow:hidden;
}
.tableskut3{
	margin-top:10px;
	margin-right:10px;
	overflow:hidden;
}
.tableskut4{
	margin-top:10px;
	overflow:hidden;
}

.tableskut1 .percent{
    color:#29AAE1;
    padding-right: 5px;
    text-align: right;
}
.tableskut2 .percent{
    color:#8EC641;
    padding-right: 5px;
    text-align: right;
}
.tableskut3 .percent{
    color:#D91F5D;
    padding-right: 5px;
    text-align: right;
}
.tableskut4 .percent{
    color:#424143;
    padding-right: 5px;
    text-align: right;
}
.bg_skut1 h1, .bg_skut2 h1, .bg_skut3 h1, .bg_skut4 h1{
	font-size:10px;
	margin-top:10px
}
.bg_skut1 h2, .bg_skut2 h2, .bg_skut3 h2, .bg_skut4 h2{
	font-size:20px;
}
/*--------tbtopskut1--*/
/*-----------------------tbtopskut4--------------------------------*/
.tbtopskut4{
	width:540px; height:240px;
	position:relative;
	top:-18px; right:49px;
	background:url(../../img/infographic/bg_content.png) no-repeat;
	background-size:540px 240px;
}
.mntbtopskut4{
	width:341px;
	margin:auto;
	margin-top:58px;
}
.tbtopskut4tab1{
	/*float:left;*/
    padding-top: 5px;
}
.tbtopskut4tab2{
	float:left;
}
.tbtopskut4tab3{
	float:left;
}
.txttab1{
	/*font-size:11px;*/
	font-size:18px;
	color:#fff;
	margin-top:70px;
	font-family:'mohave';
	text-shadow:0px 2px 0px rgba(66,65,67, 0.3);	
}
.txttab2{
	/*font-size:42px;*/
	font-size:52px;
	color:#ffffff;
	font-family:mohave;
	font-weight:bold;
	text-shadow:0px 4px 0px rgba(66,65,67, 0.3);
	margin-top:15px
}
.txttab3{
	font-size:22px;
	color:#ffffff;
	font-family:mohave1;
	margin-top:10px;
	text-shadow:0px 4px 0px rgba(66,65,67, 0.3);
}
.txttab4{
	font-size:100px;
	color:#ffffff;
	margin-top:76px;
	font-weight:bold;
}
/*-----------------------------------------------------stopkut2---------------------*/
.mntbtopskut2{
	width:590px; height:160px;
	top:45px; right:56px;
	position:relative;
}
.mn_skut{
	width:110px; height:150px;
	float:left;
}
.mntbtopskut21, .mntbtopskut22, .mntbtopskut23{
	margin-right:35px;
}
.mnpie1, .mnpie2, .mnpie3, .mnpie4{
	width:50px; height:50px;
	background:url(../../img/infographic/pie1.png) no-repeat;
	background-size:50px 50px;
}
.mnpie1, .mnpie2_1, .mnpie3_1, .mnpie4_1{
	float:left;
}
.mnpie2, .mnpie2_2, .mnpie3_2, .mnpie4_2{
	float:right;
}
.mnpie3, .mnpie2_3, .mnpie3_3, .mnpie4_3{
	float:left;
}
.mnpie4, .mnpie2_4, .mnpie3_4, .mnpie4_4{
	float:right;
}
.mnpie2_1, .mnpie2_2, .mnpie2_3, .mnpie2_4{
	width:50px; height:50px;
	background:url(../../img/infographic/pie2.png) no-repeat;
	background-size:50px 50px;
}
.mnpie3_1, .mnpie3_2, .mnpie3_3, .mnpie3_4{
	width:50px; height:50px;
	background:url(../../img/infographic/pie3.png) no-repeat;
	background-size:50px 50px;
}
.mnpie4_1, .mnpie4_2, .mnpie4_3, .mnpie4_4{
	width:50px; height:50px;
	background:url(../../img/infographic/pie4.png) no-repeat;
	background-size:50px 50px;
}
.mntbtopskut21center,
.mntbtopskut22center,
.mntbtopskut23center,
.mntbtopskut24center {
	width:80px; height:30px;
	border-radius:12px;
    margin: 0 auto;
	margin-top:65px;
	margin-bottom:10px;
	display: table;
}

.mntbtopsku-middle {
	display: table-cell;
	font-size:14px;
	color:#ffffff;
	vertical-align: middle;
}

.mntbtopskut21center {
	background:#D91F5D;
}
.mntbtopskut22center{
	background:#29AAE1;
}
.mntbtopskut23center{
	background:#8EC641;
}
.mntbtopskut24center{
	background:#595A5C;
}
.red1{
	font-size:24px;
	color:#D91F5D;
    margin-top: 2px;
}
.white1{
	font-size:11px;
	color:#fff;
    margin-top: 2px;
}
.blue1{
	font-size:24px;
	color:#29AAE1;
    margin-top: 2px;
}
.green1{
	font-size:24px;
	color:#8EC641;
    margin-top: 2px;
}
.black1{
	color:#595A5C;
	font-size:24px;
    margin-top: 2px;
}
.textblack1{
	font-size:14px;
	color:#ffffff;
	padding-top: 7px;
    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.textblack1.small {
    padding-top: 0;
}
.average-grab {
    color: #fff;
    font-size: 11px;
}
/*------------------------------------toptbsalesteam-------------------*/
.toptbsalesteam{
	width:540px; height:335px;
	position:relative;
	top:60px; right:50px;
	/*background:url(../../img/infographic/map.png) no-repeat;*/
	background-size: 540px 335px;
}
.toptbsalesteam_2{
    background-size: 540px 335px;
}
.toptbsalesteam img {
    width:540px;
    height:335px;
}
/*-----------------------------toptbrichmedia-----------------------------*/
.toptbrichmedia{
	width:590px; height:220px;
	position:relative;
	top:20px; right:70px;
}
.mntbrichmedia{
	width:130px; height:220px;
	float:left;
}
.toptbrichmedia1{
	margin-right:20px;
	background:url(../../img/infographic/pics6_1.png) no-repeat;
	background-size:130px 220px;
}
.toptbrichmedia2{
	margin-right:20px;
	background:url(../../img/infographic/pics6_2.png) no-repeat;
	background-size:130px 220px;
}
.toptbrichmedia3{
	margin-right:20px;
	background:url(../../img/infographic/pics6_3.png) no-repeat;
	background-size:130px 220px;
}
.toptbrichmedia4{
	background:url(../../img/infographic/pics6_4.png) no-repeat;
	background-size:130px 220px;
}
.textbrichmediat1{
	font-size:14px;
	color:#ffffff;
	margin-top:65px;
}
.textbrichmediat2{
	font-size:48px;
	color:#fff;
}
.textbrichmediat3{
	font-size:24px;
	color:#fff;
}
/*---------------*/
.bottomtbrichmedia{
	width:590px; height:140px;
	position:relative;
	top:30px; right:70px;
}
.leftbottombrichmedia{
	width:200px; height:140px;
	float:left;
	margin-left:80px;
}
.righbottomtbrichmedia{
	width:200px; height:140px;
	float:right;
	margin-right:80px;
}
.imgleftbottombrichmedia{
	width:180px; height:70px;
	background:url(../../img/infographic/pic4.png) no-repeat;
	background-size:180px 70px;
}
.imgrightbottombrichmedia{
	width:180px; height:70px;
	background:url(../../img/infographic/pic4.png) no-repeat;
	background-size:180px 70px;
}
.textleftbottombrichmedia1{
	color:#D91F5D;
	/*font-size:10px;*/
    font-size: 12px;
	margin-top:20px;
	text-align:right;
	padding-right:35px;
}
.textleftbottombrichmedia2{
	color:#D91F5D;
	font-size:12px;
	margin-bottom:10px;
	text-align:right;
	padding-right:35px;
}
.textleftbottomrichmedia2 {
    color:#D91F5D;
    font-size: 12px;
    margin-top: 5px;
}
.textrightbottombrichmedia1{
	color:#29AAE1;
	font-size:12px;
	text-align:right;
	padding-right:35px;
	margin-top:20px;
	text-align:right;
}
.textrightbottombrichmedia2{
	color:#29AAE1;
	/*font-size:8px;*/
    font-size: 12px;
	margin-bottom:10px;
	text-align:right;
	padding-right:35px;
}
.textrightbottomrichmedia2 {
    color:#29AAE1;
    font-size: 12px;
    margin-top: 5px;
}
.imgleftbottombrichmedia1{
	width:20px; height:40px;
	background:url(../../img/infographic/pic2.png) no-repeat;
	background-size:20px 40px;
	float:left;
	margin-left:20px;
	margin-top:10px;
}
.imgleftbottombrichmedia2{
	width:20px; height:40px;
	background:url(../../img/infographic/pic1.png) no-repeat;
	background-size:20px 40px;
	float:left;
	margin-left:2px;
	margin-top:10px;
}
.textimgleftbottombrichmedia{
	color:#D91F5D;
	font-size:36px;
	float:left;
	padding-top:10px;
	padding-left:20px;
}
.imgrightbottombrichmedia1{
	width:40px; height:40px;
	background:url(../../img/infographic/pic3.png) no-repeat;
	background-size:40px 40px;
	float:left;
	margin-top:10px;
	margin-left:10px;
}
.textimgrightbottombrichmedia{
	color:#29AAE1;
	font-size:36px;
	/*float:left;*/
	padding-top:10px;
	padding-left:20px;
}
.bottomsalesteam{
	position:relative;
	top:100px; right:50px;
	width:540px; height:300px;
}
.tbsalesteam_2 .bottomsalesteam{
    margin: auto;
}
.text-below-number {
    color: #D91F5D;
    font-size: 12px;
}
.text-below-number.blue {
    color: #29AAE1;
    font-size: 12px;
}
/*----------------------------------------------site 16--------------------------------------------------------*/

#bscontantmalaypd{
	width:1100px;
	margin:auto;
}
.txtrightbscustomerdata-un {
    font-size: 12px;
}
.leftbscontantmalaypd{
	float:left;
	margin-left:45px;
}
.rightbscontantmalaypd{
	float:right;
}
.leftbscontantmalaypdtable1{
	position:relative;
	width:445px; height:380px;
	border:1px dashed #424143;
	margin-bottom:50px;
	border-radius:10px;
	margin-top:20px;
}
.leftbscontantmalaypdtable2{
	position:relative;
	width:445px; height:350px;
	border:1px dashed #424143;
	margin-bottom:50px;
	border-radius:10px;
}
.leftbscontantmalaypdtable3{
	position:relative;
	width:445px; height:500px;
	border:1px dashed #424143;
	border-radius:10px;
}
.rightbscontantmalaypdtable1{
	position:relative;
	width:445px; height:550px;
	margin-bottom: 40px;
	border:1px dashed #424143;
	border-radius:10px;
}
.rightbscontantmalaypdtable2{
	position:relative;
	width:445px; height:690px;
	border:1px dashed #424143;
	border-radius:10px;
}
.textbstopsku{
	background:#FEFEF9;
	font-size:25px;
	position:absolute;
	margin-top:-15px;
	left:90px;
	font-weight:bold;
    width: 270px;
}
.textbssaledperformance{
    background:#FEFDF2;
    font-size:25px;
    position:absolute;
    left:95px;
    margin-top:-15px;
    font-weight:bold;
    width: 250px;
}
.textbsrichmedia{
	background:#FDFCEB;
	font-size:25px;
	position:absolute;
	left:135px;
	margin-top:-15px;
	width:150px;
	font-weight:bold;
}
.textbssalesperformance1{
    background:#FEFEF9;
    font-size:25px;
    position:absolute;
    left:135px;
    margin-top:-15px;
    font-weight:bold;
    width: 150px;
}
.textbssalesteam{
	background:#FDFDEF;
	font-size:25px;
	position:absolute;
	left:135px;
	margin-top:-15px;
	font-weight:bold;
    width: 150px;
}
/*-----------------*/
.bscustomerdata{
	position:relative;
	width:500px; height:270px;
	background:url(../../img/infographic/customerdata.png) no-repeat;
	background-size:500px 270px;
	top:30px;
	left:-27px;
}
.leftbscustomerdata{
	float:left;
	width:180px; height:250px;
}
.centerbscustomerdata{
	float:left;
	width:70px;
	/*margin-left:40px;*/
    margin-left: 35px;
}
.rightbscustomerdata{
	float:right;
	width:180px; height:250px;
}
.txtleftbscustomerdata1{
	width:180px; height:55px;
    margin-left: -10px;

}
.txtleftbscustomerdata2{
	width:180px; height:55px;
	margin-left: 10px;
    margin-top: 20px;
}
.txtleftbscustomerdata3{
	width:180px; height:55px;
	margin-left: 10px;
	margin-top: 10px;
}
.txtleftbscustomerdata4{
	width:180px; height:55px;
	margin-top: 10px;
    margin-left: -10px;
}
.txtleftbscustomerdata5_t1{
	width:180px; height:55px;
	margin-top:3px;
}
.txtrightbscustomerdata1{
	width:180px; height:55px;
	margin-top:15px;
}
.txtrightbscustomerdata2{
	width:180px; height:55px;
	margin-top:20px;
}
.txtrightbscustomerdata3{
	width:180px; height:55px;
    margin-top:20px;
}
.txtrightbscustomerdata4{
	width:180px; height:55px;
	margin-top:20px;
    margin-left: 12px;
}
.txtrightbscustomerdata5_t1{
	width:180px; height:55px;
	margin-top:3px;
}
.txtrightbscustomerdata5_t2 {
	margin-top:3px;
}
.rightbscustomerdata, .leftbscustomerdata{
	color:#fff;
	font-family:mohave;
}

.textp1{
	font-size:18px;
	margin-left:108px;
	margin-top:15px;
	padding-top:6px;
}
.textp2{
	font-size:18px;
}
.textp3{
	font-size:18px;
	margin:0px 55px 0px 0px;
}
.textp4{
	font-size:18px;
	margin:0px 63px 0px 0px;
}
.textp5_t1{
	font-size:18px;
	margin:-5px 115px 0px 0px;
}
.textp5_t2{
	font-size:18px;
	margin:-7px 0px 0px 107px;
}
.textp5{
	font-size:18px;
	margin:14px 100px 0px 0px;
}
.textp6{
	font-size:18px;
	margin-top:-7px;
    margin-right:40px;
}
.textp7{
	font-size:18px;
	margin:-7px 55px 0px 65px;
}
.textp8{
	font-size:18px;
	margin:-7px 0px 0px 55px;
}
.txtp1{
	font-size:8px;
	margin-left:100px;
}
.txtp2{
	font-size:9px;
}
.txtp3{
	font-size:9px;
	margin-right:55px;
}
.txtp4{
	font-size:9px;
	margin-right:67px;
}
.txtp5_t1{
	font-size:7px;
	margin-right:128px;
}
.txtp5_t2{
	font-size:7px;
	margin-left:124px;
}
.txtp5{
	font-size:9px;
	margin-right:85px;
}	
.txtp6{
	font-size:9px;
	margin-right:20px;
}
.txtp7{
	font-size:9px;
	margin-left:25px;
}
.txtp8{
	font-size:9px;
	margin-left:76px;
}
.centerbscustomerdata p{
	font-size:40px;
	color:#fff;
	padding-top:5px;
	line-height:60px;
}
.centerbscustomerdata p:last-child {
	line-height:55px;
}
.textbottomcustomerdata{
	font-size:24px;
	color:#424143;
	margin-top:20px;
	font-weight:bold;
}
/*----------------------------------Customerdata---*/



/*customerdata*/

/*------------ left call data3------------------------------*/
.bsleftcalldata{
	position:relative;
	width:380px; height:220px;
    margin: 20px auto;
	/*margin-top:20px;*/
}	
.bscalldata{
	position:relative;
	width:605px;
    /*margin: 20px auto;*/
	margin-top:20px;
	margin-left:-75px;
}
.bscalldata ul {
    list-style: none;
}
.bsleftcalldatatable {
	width:120px; 
	height:220px;
	margin-right: 10px;
	float:left;
}
.bsleftcalldatatable:last-child {
	margin-right: 0;
}
.imgcalldatatable {
	width:120px; height:180px;
	background:url(../../img/infographic/pics7_1.png) no-repeat;
	background-size:120px 180px;
	display: table;
}
.imgcalldatatable p {
	font-size:60px;
/*	padding-top:45px;*/
	display: table-cell;
	vertical-align: middle;
}
.bsleftcalldata h1{
	font-size:14px;
	color:#424143;
}
/*left call data */

/*bscalldata----------------------*/
.mn_bsct li{
	list-style:none;
	float:left;
	width:163px; height:108px;
	font-family:'mohave';
	color:#ffffff;
	position:relative;
	
}
.bsotma{
	width:98px; height:27px;
	border-radius:5px;
	background:#ececec;
	opacity:0.1;
	z-index:1;
	margin-top:20px;
	position:absolute;
	margin-left:14px;
}
.bstable1{
	background:url(../../img/infographic/pics4_1.png) no-repeat;
	width:110px; height:190px;
	background-size:110px 190px;
	float:left;
	margin-left:-37px;
}
.bstable2{
	background:url(../../img/infographic/pics4_2.png) no-repeat;
	width:110px; height:190px;
	background-size:110px 190px;
	float:left;
}
.bstable3{
	background:url(../../img/infographic/pics4_3.png) no-repeat;
	width:110px; height:190px;
	background-size:110px 190px;
	float:left;
}
.bstable4{
	background:url(../../img/infographic/pics4_4.png) no-repeat;
	width:110px; height:190px;
	background-size:110px 190px;
	float:left;
}
.bstable5{
	background:url(../../img/infographic/pics4_5.png) no-repeat;
	width:110px; height:190px;
	background-size:110px 190px;
	float:left;
}
.mn_bstb h1{
	font-size:65px;
	margin-top:15px;
    margin-bottom: 50px;
}
.mn_bstb h2{
	font-size:30px;
	position:absolute;
	margin-top:-51px;
	margin-left:33px;
	/*font-family:mohave1*/
	font-family:mohave
}
.mn_bstb h3{
	font-size:10px;
	position:absolute;
	margin-top:5px;
	margin-left:27px;
	font-weight:normal;
}
.mn_bstb p{
	margin-top:23px;
	z-index:33;
	font-size:10px;
	font-weight:bold;
	position:absolute;
	margin-left:43px;
	font-size:18px;
	color:#fff;
}
.mn_bstb{
	margin-right:10px;
    margin-left: 10px;
}
/*------------------------------rightbscalldata1-----------------------*/
#rightbscalldata1{
	width:505px; height:280px;
	position:relative;
    margin: 0 auto !important;
	top:30px;
	left:-28px;
}

.ct_bstotal{
	width:92px; height:165px;
	list-style:none;
	float:left;
}
.bstotal1{
	background:url(../../img/infographic/total1.png) no-repeat;
	width:92px; height:165px;
	background-size:92px, 165px;
	margin-right:10px;
    margin-left: 50px;
}
.bstotal2{
	background:url(../../img/infographic/total2.png) no-repeat;
	width:92px; height:165px;
	background-size:92px, 165px;
	margin-right:10px;
}
.bstotal3{
	background:url(../../img/infographic/total3.png) no-repeat;
	width:92px; height:165px;
	background-size:92px, 165px;
	margin-right:10px;
}
.bstotal4{
	background:url(../../img/infographic/total4.png) no-repeat;
	width:92px; height:165px;
	background-size:92px, 165px;
	margin-right:10px;
}
.bstotal5{
	background:url(../../img/infographic/total6.png) no-repeat;
	width:92px; height:165px;
	background-size:92px, 165px;
}
.ct_bstotal h1{
	font-size:62px;
	color:#ffffff;
	font-weight:bold;
	margin-top:25px;
	margin-bottom:70px
}
.ct_bstotal h2{
	font-size:8px;
	color:#ffffff;
	margin-top: -67px;
	font-weight:normal;
	margin-bottom:15px;
	font-size:mohave1
}
.ct_bstotal h3{
	font-size:24px;
	color:#ffffff;
	margin-top:-10px;
	margin-bottom:42px;
}
.ct_bstotal h4{
	font-size:8px;
	color:#ffffff;
	margin-top:-40px;
}
.imgbstotal{
	margin-top:10px;
	width:400px; height:10px;
}
.imgbstotal img{
	width:400px; height:10px;
	margin-left:50px;
}
#contantbstotal p{
	font-size:56px;
	color:#424143;
	font-weight:bold;
}
#contantbstotal{
	font-size:14px;
	margin-top:15px;
	color:#424143;
	font-weight:normal;
}
/*-------------------call data1   right2 2-*/
#rightbscalldata2{
	width:513px; height:200px;
    margin: 0 auto;
	margin-top:40px;
	position:relative;
	left:-29px;
}
.mn_bsctdata{
	width:360px; height:200px;
	background:yellow;
	margin-top:10px;
	left:10px;
}
.mn_bsdata1{
	width:90px; height:160px;
	background:#D91F5D;
	list-style:none;
	float:left;
	border-radius:5px;
	color:#ffffff;
	font-family:'mohave';
	font-weight:bold;
}
.mn_bsdata h1{
	font-size:20px;
	margin-top:15px;
}
.mn_bsdata h2{
	font-size:14px;
	margin-top:-26px;
}	
.bstabledata2 {
	background:#8EC641;
	margin-right:13px;
}
.bstabledata3{
	background:#29AAE1;
	margin-right:13px;
}
.bstabledata4{
	background:#EDD817;
	margin-right:13px;
}
.bstabledata5{
	background:#6E6F72;
}
.bsnumber{
	width:90px; height:90px;
	border-radius:50%;
	border:3px solid #ffffff;
	margin-left: 0px;
}
.bsnumber p{
	font-size:50px;
	margin-top:15px;
}
.bstabledata1{
	margin-right:13px;
    margin-left: 50px;
}
.bstabledata1 h1, .bstabledata2 h1, .bstabledata3 h1, .bstabledata4 h1, .bstabledata5 h1{
	font-size:25px;
	margin-top:5px;
    margin-bottom: 20px;
}
.bstabledata1 h2, .bstabledata2 h2, .bstabledata3 h2, .bstabledata4 h2, .bstabledata5 h2{
	font-size:12px;
	margin-top:-14px;
}
/*-----------------------site17-----------------------*/
#colum1{
	width:445px; 
	float:left;
	margin-left:50px;
}
#colum2{
	width:445px; 
	float:left;
	margin-left:200px;
}
#colum3{
	width:445px;
	float:left;
	margin-left:100px;
}
#colum4{
	width:445px;
	float:left;
	margin-left:200px;
}
.bsmain{
	width:2500px;
}
.textbsheader{
	margin-top:10px;
	font-size:72px;
	font-family:mohave;
	margin-bottom:30px;
	text-align:left;
}

.textbsheader a {
    text-decoration: none;
    color: #000;
}

.customer-data-total {
    font-size: 58px;
    font-weight: bold;
    margin-top: 30px;
}

ul.mn_ctmedia {
    width: 1100px;
    margin: 0 auto;
}

/* DO NOT CHANGE THIS */

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.font-26 {
    font-size: 26px;
    line-height: 26px;
}
/*--fix remove elem a when print infographic--*/
.title_info{
	background:#FEFEF9;
	font-size:25px;
	position:absolute;
	font-weight:bold;
	color:#337ab7
}
.p_textbstopsku{
	margin-top:-15px;
	left:90px;
	width: 270px
}
.p_textbssalesperformance1{
	left:135px;
	margin-top:-15px;
	width: 150px
}
.p_texttopsku{
	width: 200px;
	margin-top:-13px;
	margin-left:125px;
	display:block;
}
.p_textsalesperformance1{
	margin-left:115px;
	margin-top:-16px;
	display:block;
	width:250px;
}
.p_textsalesteam{
	margin-left:145px;
	margin-top:-16px;
	display:block;
	width:167px;
}
.p_textsaledperformance{
	margin-left:36px;
	display:block;
	margin-top:-15px;
	width:380px;
}
.p_textbssaledperformance{
	position:absolute;
	left:95px;
	margin-top:-15px;
	width: 250px;
}
.p_textrichmedia{
	margin-top:-15px;
	margin-left:145px;
	display:block;
	width:140px;
}
.p_textbssalesteam{
	position:absolute;
	left:135px;
	margin-top:-15px;
	width: 150px;
}
.p_textbsrichmedia{
	left:135px;
	margin-top:-15px;
	width:150px;
}
.p_average p{
	/*color:#337ab7*/
}
li.main_sku{
	background-color: #29aae1;
	margin: 5px 15px;
}
li.child_sku{
	margin: 5px 15px;
}
li.main_sku p, li.child_sku p{
	display: inline-block;
}
.top-sku-list-home li.child_sku p:first-child, .top-sku-list li.child_sku p:first-child{
	color: #424143;
	padding: 5px 20px;
}