{% extends "ami/base.html.twig" %}
{% block js %}
    {{ parent() }}
    <script type="application/javascript">

        $(document).on('change input', '.call_target, .new_grab_target, .new_grip_target, .total_grip_target, .total_grab_target, .kpi_sale_target, .average_call_per_working_day_target, .average_call_per_actual_working_day_target, .pantry_check_target, .sampling_target,   .otm_a_call_frequency_target, .otm_b_call_frequency_target, .otm_a_average_call_time_target, .otm_b_average_call_time_target, .total_tfo_target, .total_tfo_value_target, .average_grab_target, .push_calls_made_target, .push_call_achievement_target, .push_route_plan_coverage_target, .push_tfo_made_target, .push_tfo_value_target, .push_strike_rate_target, .push_new_grab_target, .push_new_grip_target, .push_number_sku_per_ws_target, .push_perfect_store_target, .potential_gripped_target', function () {
            total = $(this).val();
            sub_val = $(this).attr('class').split(' ')[1];
            $('.' + sub_val + '_weeks').val(Math.floor(total / 5));
        });
        $(document).on('change input', '.call_target_weeks, .new_grab_target_weeks, .new_grip_target_weeks, .total_grip_target, .total_grab_target, .strike_rate_target_weeks, .average_call_per_working_day_target_weeks, .kpi_sale_target_weeks, .average_call_per_actual_working_day_target_weeks, .pantry_check_target_weeks, .sampling_target_weeks, .otm_a_fulfilment_rate_target_weeks, .otm_b_fulfilment_rate_target_weeks, .otm_a_call_frequency_target_weeks, .otm_b_call_frequency_target_weeks, .otm_a_average_call_time_target_weeks, .otm_b_average_call_time_target_weeks, .total_tfo_target_weeks, .total_tfo_value_target_weeks, .average_grab_target_weeks, .push_calls_made_target_weeks, .push_call_achievement_target_weeks, .push_route_plan_coverage_target_weeks, .push_tfo_made_target_weeks, .push_tfo_value_target_weeks, .push_strike_rate_target_weeks, .push_new_grab_target_weeks, .push_new_grip_target_weeks, .push_number_sku_per_ws_target_weeks, .push_perfect_store_target_weeks, .potential_gripped_target_weeks', function () {
            total = 0;
            sub_class = $(this).attr('class').split(' ')[1];
            total_class = sub_class.substr(0, sub_class.length - 6);
            $('.' + sub_class).each(function () {
                sub_val = parseInt($(this).val()) || 0;
                total += sub_val;
            });
            $('.' + total_class).val(total);
        });
        $(document).on('change', '#select_type', function () {
            var $val = $(this).val(),
                    call_target_label = $('input[name="kpi_call_target"]').closest('.form-group').find('label'),
                    call_target_weeks_label = $('input[name="kpi_call_target_weeks[]"]').closest('.form-group').find('label'),
                    total_tfo_target_label = $('input[name="total_tfo_target"]').closest('.form-group').find('label'),
                    total_tfo_target_weeks_label = $('input[name="total_tfo_target_weeks[]"]').closest('.form-group').find('label'),
                    total_tfo_value_target_label = $('input[name="kpi_sale_target"]').closest('.form-group').find('label'),
                    total_tfo_value_target_weeks_label = $('input[name="kpi_sale_target_weeks[]"]').closest('.form-group').find('label');
            if ($val == 'PULL') {
                call_target_label.text("Call Target");
                call_target_weeks_label.text("Week's Call Target");
                total_tfo_target_label.text("Total TFO Target");
                total_tfo_target_weeks_label.text("Week's Total TFO Target");
                total_tfo_value_target_label.text("Total TFO value Target");
                total_tfo_value_target_weeks_label.text("Week's Total TFO value Target");

                $('.pull_element').show();
                $('.push_element').hide();
            } else if ($val == 'PUSH') {
                call_target_label.text("Call Made");
                call_target_weeks_label.text("Week's Call Made");
                total_tfo_target_label.text("Tfo Made");
                total_tfo_target_weeks_label.text("Week's Total Made");
                total_tfo_value_target_label.text("TFO value");
                total_tfo_value_target_weeks_label.text("Week's TFO value");

                $('.pull_element').hide();
                $('.push_element').show();
            }
        });

         $(document).on('change input', '.strike_rate_target, .otm_a_fulfilment_rate_target, .otm_b_fulfilment_rate_target', function () {
            
            total = $(this).val();
            sub_val = $(this).attr('class').split(' ')[1];
            $('.' + sub_val + '_weeks').val(total);
           
        });

        $(document).on('change', '.fecth_sp', function () {
            var type = $('#select_type').val(),
                    cr_sp = "{{ post.armstrong_2_salespersons_id }}",
                    salespersonsElement = $('#salespersons_dropdown');
            $.ajax({
                url: "{{ site_url('ami/kpi_target/ajaxGetSalespersons') }}",
                type: 'GET',
                data: {
                    'type': type,
                    'salesperson': cr_sp
                },
                success: function (rs) {
                    salespersonsElement.html(rs);
                }
            });
        });

        $('button[type="submit"]').click(function (e) {
            e.preventDefault();
            var error = false;
            var percent_class = ['strike_rate_target', 'otm_a_fulfilment_rate_target', 'otm_b_fulfilment_rate_target'];
            $.each(percent_class, function (k, $class) {
                var target = $('.' + $class),
                        val = target.val();
                if (val > 100) {
                    error = true; 
                    $.alert({
                        title: 'Alert!',
                        content: 'Strike Rate Target, OTM A fulfilment rate and OTM B fulfilment rate maximum is 100%'
                    });

                    return false;
                }
            });
            if (!error) {
                $('#page-wrapper form').submit();
            }
        });

        $(document).ready(function () {
            var $val = $('#select_type').val();
            if ($val == 'PULL') {
                $('.pull_element').show();
                $('.push_element').hide();
            } else if ($val == 'PUSH') {
                $('.pull_element').hide();
                $('.push_element').show();
            }

            $('.fecth_sp').trigger('change');
        });

    </script>
{% endblock %}
{% block content %}
    {% if exists == false %}
        {{ form_open(site_url('ami/kpi_target/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: post.id}) }}

        <div class="row sticky sticky-h1 bg-white">
            <div class="col-lg-12">
                <div class="page-header nm">
                    <h1 class="pull-left">KPI Target</h1>

                    <div class="text-right">
                        {% include 'ami/components/form_btn.html.twig' with {url: 'ami/kpi_target', id: post.id, permission: 'kpi_target'} %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row m-t-md">
            <div class="col-lg-12">
                <div class="form-group">
                    {{ form_label('Type', 'type', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-8">
                        {{ form_dropdown('type', {'PULL':'PULL', 'PUSH':'PUSH'}, post.sp_type, 'class="form-control fecth_sp" id="select_type"') }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-8">
                        {{ form_dropdown('armstrong_2_salespersons_id', [], post.armstrong_2_salespersons_id, 'class="form-control" id="salespersons_dropdown" data-parsley-required="true"') }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Month', 'month', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-8">
                        {{ form_dropdown('month', select_month(), post.month|number_format, 'class="form-control" data-parsley-required="true"') }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Year', 'year', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-8">
                        {{ form_dropdown('year', select_year(2010), post.year, 'class="form-control" data-parsley-required="true"') }}
                    </div>
                </div>

                <div class="form-group">
                    <hr/>
                    {{ form_label('Call Target', 'kpi_call_target', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-10">
                        {{ form_input({name: 'kpi_call_target', value: post.kpi_call_target ? post.kpi_call_target : 0, class: 'form-control call_target',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Call Target Monthly'
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label("Week's Call Target", 'kpi_call_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_call_target_weeks[]', value: post.kpi_call_target_weeks.0, class: 'form-control call_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 01'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_call_target_weeks[]', value: post.kpi_call_target_weeks.1, class: 'form-control call_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 02'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_call_target_weeks[]', value: post.kpi_call_target_weeks.2, class: 'form-control call_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 03'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_call_target_weeks[]', value: post.kpi_call_target_weeks.3, class: 'form-control call_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 04'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_call_target_weeks[]', value: post.kpi_call_target_weeks.4, class: 'form-control call_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 05'
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    <hr/>
                    {{ form_label('Strike Rate Target (%)', 'strike_rate_target', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-10">
                        {{ form_input({name: 'strike_rate_target', value: post.strike_rate_target ? post.strike_rate_target : 0, class: 'form-control strike_rate_target',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Strike Rate Target (%) Monthly'
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label("Week's Strike Rate Target (%)", 'strike_rate_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-2">
                        {{ form_input({name: 'strike_rate_target_weeks[]', value: post.strike_rate_target_weeks.0, class: 'form-control strike_rate_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 01',
                            'readonly' : 'readonly'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'strike_rate_target_weeks[]', value: post.strike_rate_target_weeks.1, class: 'form-control strike_rate_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 02',
                            'readonly' : 'readonly'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'strike_rate_target_weeks[]', value: post.strike_rate_target_weeks.2, class: 'form-control strike_rate_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 03',
                            'readonly' : 'readonly'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'strike_rate_target_weeks[]', value: post.strike_rate_target_weeks.3, class: 'form-control strike_rate_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 04',
                            'readonly' : 'readonly'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'strike_rate_target_weeks[]', value: post.strike_rate_target_weeks.4, class: 'form-control strike_rate_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 05',
                            'readonly' : 'readonly'
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    <hr/>
                    {{ form_label('Total TFO Target', 'total_tfo_target', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-10">
                        {{ form_input({name: 'total_tfo_target', value: post.total_tfo_target ? post.total_tfo_target : 0, class: 'form-control total_tfo_target',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Total TFO Target Monthly'
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label("Week's Total TFO Target", 'total_tfo_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-2">
                        {{ form_input({name: 'total_tfo_target_weeks[]', value: post.total_tfo_target_weeks.0, class: 'form-control total_tfo_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 01'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'total_tfo_target_weeks[]', value: post.total_tfo_target_weeks.1, class: 'form-control total_tfo_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 02'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'total_tfo_target_weeks[]', value: post.total_tfo_target_weeks.2, class: 'form-control total_tfo_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 03'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'total_tfo_target_weeks[]', value: post.total_tfo_target_weeks.3, class: 'form-control total_tfo_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 04'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'total_tfo_target_weeks[]', value: post.total_tfo_target_weeks.4, class: 'form-control total_tfo_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 05'
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    <hr/>
                    {{ form_label('Total TFO value Target', 'kpi_sale_target', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-10">
                        {{ form_input({name: 'kpi_sale_target', value: post.kpi_sale_target ? post.kpi_sale_target : 0, class: 'form-control kpi_sale_target',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Total TFO value Target Monthly'
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label("Week's Total TFO value Target", 'kpi_sale_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_sale_target_weeks[]', value: post.kpi_sale_target_weeks.0, class: 'form-control kpi_sale_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 01'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_sale_target_weeks[]', value: post.kpi_sale_target_weeks.1, class: 'form-control kpi_sale_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 02'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_sale_target_weeks[]', value: post.kpi_sale_target_weeks.2, class: 'form-control kpi_sale_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 03'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_sale_target_weeks[]', value: post.kpi_sale_target_weeks.3, class: 'form-control kpi_sale_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 04'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_sale_target_weeks[]', value: post.kpi_sale_target_weeks.4, class: 'form-control kpi_sale_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 05'
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    <hr/>
                    {{ form_label('New Grib Target', 'kpi_new_grip_target', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-10">
                        {{ form_input({name: 'kpi_new_grip_target', value: post.kpi_new_grip_target, class: 'form-control new_grip_target',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'New Grib Target Monthly'
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label("Week's New Grib Target", 'kpi_new_grip_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grip_target_weeks[]', value: post.kpi_new_grip_target_weeks.0, class: 'form-control new_grip_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 01'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grip_target_weeks[]', value: post.kpi_new_grip_target_weeks.1, class: 'form-control new_grip_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 02'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grip_target_weeks[]', value: post.kpi_new_grip_target_weeks.2, class: 'form-control new_grip_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 03'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grip_target_weeks[]', value: post.kpi_new_grip_target_weeks.3, class: 'form-control new_grip_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 04'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grip_target_weeks[]', value: post.kpi_new_grip_target_weeks.4, class: 'form-control new_grip_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 05'
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    <hr/>
                    {{ form_label('New Grab Target', 'kpi_new_grab_target', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-10">
                        {{ form_input({name: 'kpi_new_grab_target', value: post.kpi_new_grab_target, class: 'form-control new_grab_target',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'New Grab Target Monthly'
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label("Week's New Grab Target", 'kpi_new_grab_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grab_target_weeks[]', value: post.kpi_new_grab_target_weeks.0, class: 'form-control new_grab_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 01'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grab_target_weeks[]', value: post.kpi_new_grab_target_weeks.1, class: 'form-control new_grab_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 02'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grab_target_weeks[]', value: post.kpi_new_grab_target_weeks.2, class: 'form-control new_grab_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 03'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grab_target_weeks[]', value: post.kpi_new_grab_target_weeks.3, class: 'form-control new_grab_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 04'
                        }) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_input({name: 'kpi_new_grab_target_weeks[]', value: post.kpi_new_grab_target_weeks.4, class: 'form-control new_grab_target_weeks',
                            'data-parsley-type': 'number',
                            'data-parsley-maxlength': 10,
                            'placeholder' : 'Week 05'
                        }) }}
                    </div>
                </div>

                <div class="pull_element">
                    <div class="form-group">
                        <hr/>
                        {{ form_label('Average calls per working day', 'average_call_per_working_day_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'average_call_per_working_day_target', value: post.average_call_per_working_day_target ? post.average_call_per_working_day_target : 0, class: 'form-control average_call_per_working_day_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Average calls per working day Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Average calls per working day", 'average_call_per_working_day_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_working_day_target_weeks[]', value: post.average_call_per_working_day_target_weeks.0, class: 'form-control average_call_per_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_working_day_target_weeks[]', value: post.average_call_per_working_day_target_weeks.1, class: 'form-control average_call_per_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_working_day_target_weeks[]', value: post.average_call_per_working_day_target_weeks.2, class: 'form-control average_call_per_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_working_day_target_weeks[]', value: post.average_call_per_working_day_target_weeks.3, class: 'form-control average_call_per_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_working_day_target_weeks[]', value: post.average_call_per_working_day_target_weeks.4, class: 'form-control average_call_per_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Average calls per actual working day', 'average_call_per_actual_working_day_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'average_call_per_actual_working_day_target', value: post.average_call_per_actual_working_day_target ? post.average_call_per_actual_working_day_target : 0, class: 'form-control average_call_per_actual_working_day_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Average calls per actual working day Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Average calls per actual working day", 'average_call_per_actual_working_day_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_actual_working_day_target_weeks[]', value: post.average_call_per_actual_working_day_target_weeks.0, class: 'form-control average_call_per_actual_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_actual_working_day_target_weeks[]', value: post.average_call_per_actual_working_day_target_weeks.1, class: 'form-control average_call_per_actual_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_actual_working_day_target_weeks[]', value: post.average_call_per_actual_working_day_target_weeks.2, class: 'form-control average_call_per_actual_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_actual_working_day_target_weeks[]', value: post.average_call_per_actual_working_day_target_weeks.3, class: 'form-control average_call_per_actual_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_call_per_actual_working_day_target_weeks[]', value: post.average_call_per_actual_working_day_target_weeks.4, class: 'form-control average_call_per_actual_working_day_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Pantry check Target', 'pantry_check_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'pantry_check_target', value: post.pantry_check_target ? post.pantry_check_target : 0, class: 'form-control pantry_check_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Pantry check Target Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Pantry check Target", 'pantry_check_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'pantry_check_target_weeks[]', value: post.pantry_check_target_weeks.0, class: 'form-control pantry_check_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'pantry_check_target_weeks[]', value: post.pantry_check_target_weeks.1, class: 'form-control pantry_check_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'pantry_check_target_weeks[]', value: post.pantry_check_target_weeks.2, class: 'form-control pantry_check_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'pantry_check_target_weeks[]', value: post.pantry_check_target_weeks.3, class: 'form-control pantry_check_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'pantry_check_target_weeks[]', value: post.pantry_check_target_weeks.4, class: 'form-control pantry_check_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Sampling Target', 'sampling_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'sampling_target', value: post.sampling_target ? post.sampling_target : 0, class: 'form-control sampling_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Sampling Target Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Sampling Target", 'sampling_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'sampling_target_weeks[]', value: post.sampling_target_weeks.0, class: 'form-control sampling_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'sampling_target_weeks[]', value: post.sampling_target_weeks.1, class: 'form-control sampling_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'sampling_target_weeks[]', value: post.sampling_target_weeks.2, class: 'form-control sampling_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'sampling_target_weeks[]', value: post.sampling_target_weeks.3, class: 'form-control sampling_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'sampling_target_weeks[]', value: post.sampling_target_weeks.4, class: 'form-control sampling_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('OTM A fulfilment rate (%)', 'otm_a_fulfilment_rate_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'otm_a_fulfilment_rate_target', value: post.otm_a_fulfilment_rate_target ? post.otm_a_fulfilment_rate_target : 0, class: 'form-control otm_a_fulfilment_rate_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'OTM A fulfilment rate (%) Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's OTM A fulfilment rate (%)", 'otm_a_fulfilment_rate_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_fulfilment_rate_target_weeks[]', value: post.otm_a_fulfilment_rate_target_weeks.0, class: 'form-control otm_a_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_fulfilment_rate_target_weeks[]', value: post.otm_a_fulfilment_rate_target_weeks.1, class: 'form-control otm_a_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_fulfilment_rate_target_weeks[]', value: post.otm_a_fulfilment_rate_target_weeks.2, class: 'form-control otm_a_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_fulfilment_rate_target_weeks[]', value: post.otm_a_fulfilment_rate_target_weeks.3, class: 'form-control otm_a_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_fulfilment_rate_target_weeks[]', value: post.otm_a_fulfilment_rate_target_weeks.4, class: 'form-control otm_a_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('OTM B fulfilment rate (%)', 'otm_b_fulfilment_rate_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'otm_b_fulfilment_rate_target', value: post.otm_b_fulfilment_rate_target ? post.otm_b_fulfilment_rate_target : 0, class: 'form-control otm_b_fulfilment_rate_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'OTM B fulfilment rate (%) Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's OTM B fulfilment rate (%)", 'otm_b_fulfilment_rate_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_fulfilment_rate_target_weeks[]', value: post.otm_b_fulfilment_rate_target_weeks.0, class: 'form-control otm_b_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_fulfilment_rate_target_weeks[]', value: post.otm_b_fulfilment_rate_target_weeks.1, class: 'form-control otm_b_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_fulfilment_rate_target_weeks[]', value: post.otm_b_fulfilment_rate_target_weeks.2, class: 'form-control otm_b_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_fulfilment_rate_target_weeks[]', value: post.otm_b_fulfilment_rate_target_weeks.3, class: 'form-control otm_b_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_fulfilment_rate_target_weeks[]', value: post.otm_b_fulfilment_rate_target_weeks.4, class: 'form-control otm_b_fulfilment_rate_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05',
                                'readonly' : 'readonly'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Otm A call frequency', 'otm_a_call_frequency_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'otm_a_call_frequency_target', value: post.otm_a_call_frequency_target ? post.otm_a_call_frequency_target : 0, class: 'form-control otm_a_call_frequency_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Otm A call frequency Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Otm A call frequency", 'otm_a_call_frequency_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_call_frequency_target_weeks[]', value: post.otm_a_call_frequency_target_weeks.0, class: 'form-control otm_a_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_call_frequency_target_weeks[]', value: post.otm_a_call_frequency_target_weeks.1, class: 'form-control otm_a_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_call_frequency_target_weeks[]', value: post.otm_a_call_frequency_target_weeks.2, class: 'form-control otm_a_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_call_frequency_target_weeks[]', value: post.otm_a_call_frequency_target_weeks.3, class: 'form-control otm_a_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_call_frequency_target_weeks[]', value: post.otm_a_call_frequency_target_weeks.4, class: 'form-control otm_a_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Otm B call frequency', 'otm_b_call_frequency_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'otm_b_call_frequency_target', value: post.otm_b_call_frequency_target ? post.otm_b_call_frequency_target : 0, class: 'form-control otm_b_call_frequency_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Otm B call frequency Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Otm B call frequency", 'otm_b_call_frequency_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_call_frequency_target_weeks[]', value: post.otm_b_call_frequency_target_weeks.0, class: 'form-control otm_b_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_call_frequency_target_weeks[]', value: post.otm_b_call_frequency_target_weeks.1, class: 'form-control otm_b_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_call_frequency_target_weeks[]', value: post.otm_b_call_frequency_target_weeks.2, class: 'form-control otm_b_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_call_frequency_target_weeks[]', value: post.otm_b_call_frequency_target_weeks.3, class: 'form-control otm_b_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_call_frequency_target_weeks[]', value: post.otm_b_call_frequency_target_weeks.4, class: 'form-control otm_b_call_frequency_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Otm A average call time (minutes)', 'otm_a_average_call_time_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'otm_a_average_call_time_target', value: post.otm_a_average_call_time_target ? post.otm_a_average_call_time_target : 0, class: 'form-control otm_a_average_call_time_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Otm A average call time (minutes) Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Otm A average call time (minutes)", 'otm_a_average_call_time_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_average_call_time_target_weeks[]', value: post.otm_a_average_call_time_target_weeks.0, class: 'form-control otm_a_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_average_call_time_target_weeks[]', value: post.otm_a_average_call_time_target_weeks.1, class: 'form-control otm_a_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_average_call_time_target_weeks[]', value: post.otm_a_average_call_time_target_weeks.2, class: 'form-control otm_a_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_average_call_time_target_weeks[]', value: post.otm_a_average_call_time_target_weeks.3, class: 'form-control otm_a_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_a_average_call_time_target_weeks[]', value: post.otm_a_average_call_time_target_weeks.4, class: 'form-control otm_a_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Otm B average call time (minutes)', 'otm_b_average_call_time_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'otm_b_average_call_time_target', value: post.otm_b_average_call_time_target ? post.otm_b_average_call_time_target : 0, class: 'form-control otm_b_average_call_time_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Otm B average call time (minutes) Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Otm B average call time (minutes)", 'otm_b_average_call_time_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_average_call_time_target_weeks[]', value: post.otm_b_average_call_time_target_weeks.0, class: 'form-control otm_b_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_average_call_time_target_weeks[]', value: post.otm_b_average_call_time_target_weeks.1, class: 'form-control otm_b_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_average_call_time_target_weeks[]', value: post.otm_b_average_call_time_target_weeks.2, class: 'form-control otm_b_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_average_call_time_target_weeks[]', value: post.otm_b_average_call_time_target_weeks.3, class: 'form-control otm_b_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'otm_b_average_call_time_target_weeks[]', value: post.otm_b_average_call_time_target_weeks.4, class: 'form-control otm_b_average_call_time_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Average Grab Target', 'average_grab_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'average_grab_target', value: post.average_grab_target, class: 'form-control average_grab_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Average Grab Target Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Average Grab Target", 'average_grab_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_grab_target_weeks[]', value: post.average_grab_target_weeks.0, class: 'form-control average_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_grab_target_weeks[]', value: post.average_grab_target_weeks.1, class: 'form-control average_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_grab_target_weeks[]', value: post.average_grab_target_weeks.2, class: 'form-control average_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_grab_target_weeks[]', value: post.average_grab_target_weeks.3, class: 'form-control average_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'average_grab_target_weeks[]', value: post.average_grab_target_weeks.4, class: 'form-control average_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Total Grip Target', 'total_grip_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'total_grip_target', value: post.total_grip_target, class: 'form-control total_grip_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Total Grip Target Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Total Grip", 'total_grip_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grip_target_weeks[]', value: post.total_grip_target_weeks.0, class: 'form-control total_grip_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grip_target_weeks[]', value: post.total_grip_target_weeks.1, class: 'form-control total_grip_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grip_target_weeks[]', value: post.total_grip_target_weeks.2, class: 'form-control total_grip_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grip_target_weeks[]', value: post.total_grip_target_weeks.3, class: 'form-control total_grip_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grip_target_weeks[]', value: post.total_grip_target_weeks.4, class: 'form-control total_grip_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Total Grab Target', 'total_grab_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'total_grab_target', value: post.total_grab_target, class: 'form-control total_grab_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Total Grab Target Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Total Grab", 'total_grab_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grab_target_weeks[]', value: post.total_grab_target_weeks.0, class: 'form-control total_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grab_target_weeks[]', value: post.total_grab_target_weeks.1, class: 'form-control total_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grab_target_weeks[]', value: post.total_grab_target_weeks.2, class: 'form-control total_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grab_target_weeks[]', value: post.total_grab_target_weeks.3, class: 'form-control total_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'total_grab_target_weeks[]', value: post.total_grab_target_weeks.4, class: 'form-control total_grab_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>
                    {#{% if country.region == 'MEP' %}#}
                    {% if enablepotential %}
                        <div class="form-group">
                            <hr/>
                            {{ form_label('Potential Gripped Target', 'potential_gripped_target', {class: 'control-label col-sm-2'}) }}
                            <div class="col-sm-10">
                                {{ form_input({name: 'potential_gripped_target', value: post.potential_gripped_target, class: 'form-control potential_gripped_target',
                                    'data-parsley-type': 'number',
                                    'data-parsley-maxlength': 10,
                                    'placeholder' : 'Potential Gripped Target Monthly'
                                }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label("Week's Potential Gripped", 'potential_gripped_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                            <div class="col-sm-2">
                                {{ form_input({name: 'potential_gripped_target_weeks[]', value: post.potential_gripped_target_weeks.0, class: 'form-control potential_gripped_target_weeks',
                                    'data-parsley-type': 'number',
                                    'data-parsley-maxlength': 10,
                                    'placeholder' : 'Week 01'
                                }) }}
                            </div>
                            <div class="col-sm-2">
                                {{ form_input({name: 'potential_gripped_target_weeks[]', value: post.potential_gripped_target_weeks.1, class: 'form-control potential_gripped_target_weeks',
                                    'data-parsley-type': 'number',
                                    'data-parsley-maxlength': 10,
                                    'placeholder' : 'Week 02'
                                }) }}
                            </div>
                            <div class="col-sm-2">
                                {{ form_input({name: 'potential_gripped_target_weeks[]', value: post.potential_gripped_target_weeks.2, class: 'form-control potential_gripped_target_weeks',
                                    'data-parsley-type': 'number',
                                    'data-parsley-maxlength': 10,
                                    'placeholder' : 'Week 03'
                                }) }}
                            </div>
                            <div class="col-sm-2">
                                {{ form_input({name: 'potential_gripped_target_weeks[]', value: post.potential_gripped_target_weeks.3, class: 'form-control potential_gripped_target_weeks',
                                    'data-parsley-type': 'number',
                                    'data-parsley-maxlength': 10,
                                    'placeholder' : 'Week 04'
                                }) }}
                            </div>
                            <div class="col-sm-2">
                                {{ form_input({name: 'potential_gripped_target_weeks[]', value: post.potential_gripped_target_weeks.4, class: 'form-control potential_gripped_target_weeks',
                                    'data-parsley-type': 'number',
                                    'data-parsley-maxlength': 10,
                                    'placeholder' : 'Week 05'
                                }) }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="push_element">
                    <div class="form-group">
                        <hr/>
                        {{ form_label('Call Achievement Target', 'push_call_achievement_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'push_call_achievement_target', value: post.push_call_achievement_target ? post.push_call_achievement_target : 0, class: 'form-control push_call_achievement_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Call Achievement Target Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Call Achievement Target", 'push_call_achievement_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_call_achievement_target_weeks[]', value: post.push_call_achievement_target_weeks.0, class: 'form-control push_call_achievement_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_call_achievement_target_weeks[]', value: post.push_call_achievement_target_weeks.1, class: 'form-control push_call_achievement_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_call_achievement_target_weeks[]', value: post.push_call_achievement_target_weeks.2, class: 'form-control push_call_achievement_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_call_achievement_target_weeks[]', value: post.push_call_achievement_target_weeks.3, class: 'form-control push_call_achievement_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_call_achievement_target_weeks[]', value: post.push_call_achievement_target_weeks.4, class: 'form-control push_call_achievement_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Route Plan Coverage Target', 'push_route_plan_coverage_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'push_route_plan_coverage_target', value: post.push_route_plan_coverage_target ? post.push_route_plan_coverage_target : 0, class: 'form-control push_route_plan_coverage_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Route Plan Coverage Target Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Route Plan Coverage Target", 'push_route_plan_coverage_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_route_plan_coverage_target_weeks[]', value: post.push_route_plan_coverage_target_weeks.0, class: 'form-control push_route_plan_coverage_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_route_plan_coverage_target_weeks[]', value: post.push_route_plan_coverage_target_weeks.1, class: 'form-control push_route_plan_coverage_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_route_plan_coverage_target_weeks[]', value: post.push_route_plan_coverage_target_weeks.2, class: 'form-control push_route_plan_coverage_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_route_plan_coverage_target_weeks[]', value: post.push_route_plan_coverage_target_weeks.3, class: 'form-control push_route_plan_coverage_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_route_plan_coverage_target_weeks[]', value: post.push_route_plan_coverage_target_weeks.4, class: 'form-control push_route_plan_coverage_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>


                    <div class="form-group">
                        <hr/>
                        {{ form_label('Number Sku per ws Target', 'push_number_sku_per_ws_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'push_number_sku_per_ws_target', value: post.push_number_sku_per_ws_target ? post.push_number_sku_per_ws_target : 0, class: 'form-control push_number_sku_per_ws_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Number Sku per ws Target Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Number Sku per ws Target", 'push_number_sku_per_ws_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_number_sku_per_ws_target_weeks[]', value: post.push_number_sku_per_ws_target_weeks.0, class: 'form-control push_number_sku_per_ws_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_number_sku_per_ws_target_weeks[]', value: post.push_number_sku_per_ws_target_weeks.1, class: 'form-control push_number_sku_per_ws_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_number_sku_per_ws_target_weeks[]', value: post.push_number_sku_per_ws_target_weeks.2, class: 'form-control push_number_sku_per_ws_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_number_sku_per_ws_target_weeks[]', value: post.push_number_sku_per_ws_target_weeks.3, class: 'form-control push_number_sku_per_ws_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_number_sku_per_ws_target_weeks[]', value: post.push_number_sku_per_ws_target_weeks.4, class: 'form-control push_number_sku_per_ws_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <hr/>
                        {{ form_label('Perfect Store Target', 'push_perfect_store_target', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-10">
                            {{ form_input({name: 'push_perfect_store_target', value: post.push_perfect_store_target ? post.push_perfect_store_target : 0, class: 'form-control push_perfect_store_target',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Perfect Store Target Monthly'
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label("Week's Perfect Store Target", 'push_perfect_store_target_weeks[]', {class: 'control-label col-sm-2'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_perfect_store_target_weeks[]', value: post.push_perfect_store_target_weeks.0, class: 'form-control push_perfect_store_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 01'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_perfect_store_target_weeks[]', value: post.push_perfect_store_target_weeks.1, class: 'form-control push_perfect_store_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 02'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_perfect_store_target_weeks[]', value: post.push_perfect_store_target_weeks.2, class: 'form-control push_perfect_store_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 03'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_perfect_store_target_weeks[]', value: post.push_perfect_store_target_weeks.3, class: 'form-control push_perfect_store_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 04'
                            }) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_input({name: 'push_perfect_store_target_weeks[]', value: post.push_perfect_store_target_weeks.4, class: 'form-control push_perfect_store_target_weeks',
                                'data-parsley-type': 'number',
                                'data-parsley-maxlength': 10,
                                'placeholder' : 'Week 05'
                            }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_close() }}
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <h3>You can not create new kpi target for this month</h3>
            </div>
        </div>
    {% endif %}
    <link href="{{ site_url('res/css/jquery-confirm.min.css') }}" rel='stylesheet'
          type='text/css'>
    <script src="{{ site_url('res/js/jquery-confirm.min.js') }}"></script>
{% endblock %}