<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ post.armstrong_2_salespersons_id }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="list-group">
                    <div class="list-group-item">
                        <i class="fa fa-2x fa-line-chart pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Call Target</h4>
                            <p class="list-group-item-text">{{ post.kpi_call_target }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-bar-chart pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">New Grab Target</h4>
                            <p class="list-group-item-text">{{ post.kpi_new_grab_target }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-area-chart pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">New Grip Target</h4>
                            <p class="list-group-item-text">{{ post.kpi_new_grip_target }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-dollar pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Sale Target</h4>
                            <p class="list-group-item-text">{{ post.kpi_sale_target }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-calendar pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Month/Year</h4>
                            <p class="list-group-item-text">{{ select_month(post.month) }} {{ post.year }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'kpi_settings') %}
                {{ html_btn(site_url('ami/kpi_target/edit/' ~ post.id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>