{% extends "ami/base.html.twig" %}

{% block content %}

    {{ form_open(site_url('ami/pantry_check/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {armstrong_2_pantry_check_id: pantry_check.armstrong_2_pantry_check_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Pantry Check</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/pantry_check', id: pantry_check.armstrong_2_pantry_check_id, permission: 'pantry_check'} %}
                </div>
                <div class="clearfix"></div>
            </div>              
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">            

                {% if call_records %}
                    <div class="form-group">
                        {{ form_label('Call Records', 'armstrong_2_call_records_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_dropdown('armstrong_2_call_records_id', call_records, pantry_check.armstrong_2_call_records_id, 'class="form-control" data-parsley-required="true"') }}
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form_label('Notes', 'notes', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_textarea({name: 'notes', value: pantry_check.notes, class: 'form-control', 'rows': 3}) }}
                    </div>
                </div>
        </div>
    </div> 

    {{ form_close() }}   
{% endblock %}