{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
<script src="{{ site_url('res/js/import.js') }}"></script>
<script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ site_url('res/js/call_modules.js') }}"></script>
<script>
$(document).ready(function() {
    $('#dataTables').dataTable({
        /*"processing": true,
        "serverSide": true,
        "ajax": "{{ site_url('ami/pantry_check/ajaxData') }}",*/
        "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
        'order': [[1, 'asc']],
        'bPaginate': false,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });

    // $('#Generate').click(function(e) {
    //     xhr = null;
    //     var $startDate = $('#InputStartDate'),
    //         $endDate = $('#InputEndDate'),
    //         $container = $('#PantryChecksContainer');

    //     if (xhr) {
    //         xhr.abort();
    //     }

    //     if (!xhr && $startDate.val() && $endDate.val()) {
            
    //         $container.html('').empty().html('<div class="col-sm-6 col-sm-offset-3"><i class="fa fa-spinner fa-spin"></i> Loading...</div>');

    //         $.ajax({
    //             url: "{{ site_url('ami/pantry_check/pantry_check_data') }}",
    //             type: 'post',
    //             data: { start_date: $startDate.val(), end_date: $endDate.val() , draft: {{ draft ? 1 : 0 }} },
    //             success: function(res) {
    //                 try {
    //                     var resJson = JSON.parse(res);
    //                     if (resJson._session_expried) {
    //                         window.location.reload();
    //                         return;
    //                     }
                        
    //                 } catch(e) {}
                    
    //                 $container.html('').empty();
    //                 if (res) {
    //                     $container.append(res);
    //                     CheckAll($('input.CheckAll'));
    //                 }

    //                 xhr = null;
    //             }
    //         });
    //     }
    // });

    $('#InputDateRange').daterangepicker({
        format: 'YYYY-MM-DD'
    }).on('apply.daterangepicker', function(ev, picker) {
        $('#InputStartDate').val(picker.startDate.format('YYYY-MM-DD'));
        $('#InputEndDate').val(picker.endDate.format('YYYY-MM-DD'));
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/pantry_check/update'), {class: draft ? 'form-horizontal' : 'form-horizontal submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Pantry Check Draft' : 'Pantry Check' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/pantry_check', icon: 'fa-binoculars', title: 'Pantry Check', permission: 'pantry_check', showImport: 1} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">            
            {# <div class="panel panel-default">                
                
                <div class="panel-body">                
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                                <tr>
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    {% if has_permission('edit', 'pantry_check') or has_permission('delete', 'pantry_check') %}
                                        <th class="nosort text-center"></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for pantry_check in pantry_checks %}
                                    <tr>
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: pantry_check.armstrong_2_pantry_check_id}) }}</td>
                                        <td><a href="{{ site_url('ami/pantry_check/edit/' ~ pantry_check.armstrong_2_pantry_check_id) }}" title="{{ pantry_check.armstrong_2_pantry_check_id }}" data-toggle="ajaxModal">{{ pantry_check.armstrong_2_pantry_check_id }}</a></td>
                                        <td>{{ pantry_check.name }}</td>
                                        <td class="center">{{ pantry_check.date_created }}</td>
                                        <td class="center">{{ pantry_check.last_updated }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'pantry_check') or has_permission('delete', 'pantry_check') %}
                                                {% include 'ami/components/table_btn.html.twig' with {url: 'ami/pantry_check', id: pantry_check.armstrong_2_pantry_check_id, permission: 'distributor'} %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {{ pagination({base_url: site_url('ami/pantry_check'), per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div> #}
            
            {% if salespersons|length > 1 %}
                <div class="form-group">
                    {{ form_label('Salespersons', 'salespersons', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('salespersons', salespersons, null, 'id="SalespersonsSelector" class="form-control select-multiple" data-parsley-required="true" multiple') }}
                    </div>
                </div>
            {% endif %}
            
            <div class="form-group">
                {{ form_label('Date Time', 'date_time', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'date_time', value: null, 
                        class: 'form-control',
                        'id': 'InputDateRange'
                    }) }}
                </div>

                <input type="hidden" id="InputStartDate" value="" />
                <input type="hidden" id="InputEndDate" value="" />
            </div>

            {# <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="#" class="btn btn-primary" id="Generate">Generate</a>
                </div>
            </div> #}

            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="#" class="btn btn-primary" id="Generate" 
                        data-url="{{ site_url('ami/pantry_check/pantry_check_data') }}"
                        data-container="#PantryChecksContainer"
                        data-draft="{{ draft ? 1 : 0 }}">Generate</a>
                </div>
            </div>

            <div id="PantryChecksContainer"></div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    {{ form_close() }}

{% endblock %}