{% if pantry_checks %} 

    <div class="panel panel-default">                            
        <div class="panel-body">                
            <div class="">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            {% if has_permission('delete', 'pantry_check') %}
                                <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                            {% endif %}
                            <th>ID</th>
                            <th>Salesperson Name</th>
                            <th>Operator</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th class="nosort text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pantry_check in pantry_checks %}
                            <tr>
                                {% if has_permission('delete', 'pantry_check') %}
                                    <td class="text-center">{{ form_checkbox({name: 'ids[]', value: pantry_check.armstrong_2_pantry_check_id}) }}</td>
                                {% endif %}
                                <td><a href="{{ site_url('ami/pantry_check/edit/' ~ pantry_check.armstrong_2_pantry_check_id) }}" title="{{ pantry_check.armstrong_2_pantry_check_id }}" data-toggle="ajaxModal">{{ pantry_check.armstrong_2_pantry_check_id }}</a></td>
                                <td>{{ pantry_check.armstrong_2_salespersons_id }} - {{ pantry_check.first_name }} {{ pantry_check.last_name }}</td>
                                <td>{{ pantry_check.armstrong_2_customers_id }} - {{ pantry_check.armstrong_2_customers_name }}</td>
                                <td class="center">{{ pantry_check.date_created }}</td>
                                <td class="center">{{ pantry_check.last_updated }}</td>
                                <td class="center text-center" style="min-width: 80px;">
                                    {% if has_permission('edit', 'pantry_check') or has_permission('delete', 'pantry_check') %}
                                        {% include 'ami/components/table_btn.html.twig' with {url: 'ami/pantry_check', id: pantry_check.armstrong_2_pantry_check_id, permission: 'pantry_check'} %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /. -->
        </div>
        <!-- /.panel-body -->

    </div>

    <script>
    $(function() {

        // $('#dataTables').dataTable.destroy();

        $('#dataTables').dataTable({
            'order': [[1, 'asc']],
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });        
    });  
    </script>
{% else %}
    <div class="col-sm-6 col-sm-offset-3">There are no Pantry Check</div>
{% endif %}