{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    {# modals #}
    <script src="{{ site_url('res/js/bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap.min.js') }}"></script>
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/webshop.js') }}"></script>
    {#<script src="{{ site_url('res/js/autocomplete.js') }}"></script>#}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
    {{ form_open_multipart(site_url('ami/webshop/add_new/'~armstrong_2_webshop_id), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {armstrong_2_webshop_id: armstrong_2_webshop_id}) }}
    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Webshop Order</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/webshop', id: armstrong_2_webshop_id, permission: 'webshop'} %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <ul class="breadcrumb">
                    <li><a href={{ base_url() }}>Dashboard</a></li>
                    <li><a href={{ base_url()~'ami/webshop' }}>Webshop</a></li>
                    <li><a href="#">Edit Order</a></li>
                </ul>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Salesperson ID', 'salesperson', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_dropdown('',salespersons, armstrong_2_salespersons_id,
                        "class = 'form-control',
                        id='armstrong_2_salesperson'") }}
                    </div>
                    <input type="hidden" name="armstrong_2_salespersons_id" id="armstrong_2_salespersons_id" value="{{ armstrong_2_salespersons_id }}">
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Customer ID', 'customer', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_input({name:'',value:customers[armstrong_2_customers_id], class: "form-control", id: "armstrong_2_customer"}) }}
                    </div>
                    <input type="hidden" name="armstrong_2_customers_id" id="armstrong_2_customers_id" value="{{ armstrong_2_customers_id }}">
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Distributor ID', 'distributor', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_input({name:'',value:distributors[armstrong_2_distributors_id], class: "form-control", id: "armstrong_2_distributor"}) }}
                        <input type="hidden" name="armstrong_2_distributors_id" id="armstrong_2_distributors_id" value="{{ armstrong_2_distributors_id }}">
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Wholesaler ID', 'wholesaler', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_input({name:'',value:armstrong_2_wholesaler_id, class: "form-control", id: "armstrong_2_wholesaler"}) }}
                        <input type="hidden" name="armstrong_2_wholesalers_id" id="armstrong_2_wholesalers_id" value="{{ armstrong_2_wholesalers_id }}">
                    </div>
                </div>
            </div>
            {% if country_id == 2 %}
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        {{ form_label('Call Record', 'call_record', {class: 'control-label col-md-3'}) }}
                        <div class="col-md-6 no-parsley">
                            {{ form_input({name:'armstrong_2_call_record',value:"", class: "form-control", id: "armstrong_2_call_records_id"}) }}
                            <input type="hidden" name="armstrong_2_call_records_id" id="armstrong_2_call_records_id" value="{{ armstrong_2_call_records_id }}">
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for key, product in products %}
            <div class="col-md-12 form-group sku-base">
                <div class="form-group">
                    {{ form_label('Product', 'product', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6">
                        {{ form_input({name:'',value:product.sku_number~" - "~product.sku_name, class: "form-control", id: "product"}) }}
                        <input type="hidden" value="{{ product.sku_number }}" name="product[{{ key }}][sku_num]">
                    </div>
                    <div class="col-md-offset-3 col-md-9 m-t no-parsley">
                        Quantity Per Case {{ form_input({name:'product['~ key ~'][quantity_case]',value:product.quantity_case, class: "form-control sub-input qty-case", id: "quantity_case", readonly: "readonly"}) }}
                        Price {{ form_input({name:'product['~ key ~'][price]',value:product.price, class: "form-control sub-input subtotal", id: "armstrong_product_price", readonly: "readonly"}) }} &nbsp;
                    </div>
                    <div class="col-md-offset-3 col-md-9 m-t no-parsley">
                        Quantity
                        {% if product.package_type == "Case" %}
                            {{ form_input({name:'product['~ key ~'][qty_case]',value:product.qty_case, class: "form-control sub-input qty-case", id: "qty_case", readonly: "readonly"}) }}
                        {% else %}
                            {{ form_input({name:'product['~ key ~'][qty_piece]',value:product.qty_piece, class: "form-control sub-input qty-case", id: "qty_pcs", readonly: "readonly"}) }}
                        {% endif %}
                        {{ form_input({name:'product['~ key ~'][package_type]',value:product.package_type, class: "form-control sub-input subtotal", id: "package_type", readonly: "readonly"}) }}
                        Sub Total {{ form_input({name:'product['~ key ~'][total_price]',value:product.total_price, class: "form-control sub-input subtotal", id: "armstrong_total_price", readonly: "readonly"}) }}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Total Order', 'total_order', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_input({name:'total',value:total, class: "form-control", id: "total", 'readonly': 'true'}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Order Date', 'order_date', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_input({name:'order_date',value:order_date, class: "form-control", id: "order_date",'readonly': 'true'}) }}
                    </div>
                </div>
            </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}