{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    {# modals #}
    <script src="{{ site_url('res/js/bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap.min.js') }}"></script>
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ site_url('res/js/webshop.js') }}"></script>
    {#<script src="{{ site_url('res/js/autocomplete.js') }}"></script>#}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/loading.css') }}">
{% endblock %}

{% block content %}
    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Webshop</h1>
                <div class="text-right">
                    <span class="btn-header-toolbar" id="CheckAllBtn">
                        <button type="button" class="btn btn-sm btn-primary" data-backdrop="static" data-toggle="modal"
                                data-target="#myModal">
                            <i class="fa fw fa-upload"></i>&nbsp;Webshop Data Sync
                        </button>
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row m-t-md">
    <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tagged" aria-controls="home" role="tab" data-toggle="tab">Tagged Orders</a>
            </li>
            <li role="presentation">
                <a href="#raw" aria-controls="profile" role="tab" data-toggle="tab">Raw Orders</a>
            </li>
            <li role="presentation">
                <a href="#untagged" aria-controls="profile" role="tab" data-toggle="tab">Untagged Customers</a>
            </li>
        </ul>
        <div class="panel panel-default m-t">
            <div class="panel-body tab-content">
                <div role="tabpanel" class="tab-pane active" id="tagged">
                    <table class="table table-striped table-bordered table-hover" id="wbDataTables">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Webshop Order ID</th>
                            <th>Salesperson ID</th>
                            <th>Customer Name</th>
                            {% if(country_id == '2') %}
                            <th>Call Records ID</th>
                            {% endif %}
                            <th>Total Order</th>
                            <th>Date Created</th>
                            <th class="nosort text-center"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="raw">
                    <table class="table table-striped table-bordered table-hover" id="wbRawDataTables">
                        <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer ID</th>
                            <th>Customer Name</th>
                            <th>Contact Person</th>
                            <th>Total Order Price</th>
                            <th>Order Date</th>
                            <th>Date Synced</th>
                            <th class="nosort text-center"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="untagged">
                    <table class="table table-striped table-bordered table-hover" id="wbUntaggedDt">
                        <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer ID</th>
                            <th>Customer Name</th>
                            <th>Contact Person</th>
                            <th>Total Order Price</th>
                            <th>Order Date</th>
                            <th>Date Synced</th>
                            <th class="nosort text-center"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# sync modal #}
    {% include 'ami/webshop/modal.html.twig' %}
    {#{% include 'ami/webshop/tag.html.twig' %}#}
{% endblock %}