<div class="modal bs-modal-md" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sync Webshop</h4>
            </div>
            <div class="modal-body">
                {#<div class="col-md-12 form-group">
                    <div class="form-group">
                        {{ form_label('Date From', 'date_from', {class: 'control-label col-md-3'}) }}
                        <div class="col-md-9 no-parsley">
                            {{ form_input({name:'date_from',value:"", 'class': "form-control", 'id': "date_from"}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        {{ form_label('Date To', 'date_to', {class: 'control-label col-md-3'}) }}
                        <div class="col-md-9 no-parsley">{{ form_input({name:'date_to',value:"",
                                'class':"form-control", id: "date_to"}) }}</div>
                    </div>
                </div>#}
                <div class="col-md-12 form-group" id="webshop-daterange">
                    {{ form_label('Select Date Range', '', {class: 'control-label col-md-3'}) }}
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="date_from" id="date_from" />
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" name="date_to" id="date_to"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="downloadWebshop('{{ session_id }}')" class="btn btn-primary" id="btnDownload">Start Download</button>
            </div>
        </div><!-- /.modal-content -->
        <div id="loading" align="center"><span style="margin-top: 130px; display: block" id="message"></span></div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{# success page #}
<div class="modal bs-modal-sm" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sync Webshop</h4>
            </div>
            <div class="modal-body">
                Import Successful
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="hideModal()">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{# Warning page #}
<div class="modal bs-modal-sm" id="warningModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="hideModal()">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->