{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    {# modals #}
    <script src="{{ site_url('res/js/bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap.min.js') }}"></script>
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/webshop.js') }}"></script>
    {#<script src="{{ site_url('res/js/autocomplete.js') }}"></script>#}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
    {{ form_open_multipart(site_url('ami/webshop/add_new'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}) }}
    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Tag Webshop Order</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/webshop', id: order_id, permission: 'webshop'} %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <ul class="breadcrumb">
                    <li><a href={{ base_url() }}>Dashboard</a></li>
                    <li><a href={{ site_url('ami/webshop') }}>Webshop</a></li>
                    <li><a href="#">Tag Order</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Salesperson ID', 'salesperson', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_dropdown('', salespersons, armstrong_2_salespersons_id,'
                            class="form-control"
                            data-parsley-required="true"
                            id="armstrong_2_salesperson"
                            data-url="' ~ site_url('ami/salespersons/fetch_customer') ~ '"') }}
                        <input type="hidden" name="armstrong_2_salespersons_id" id="armstrong_2_salespersons_id" value="{{ armstrong_2_salespersons_id }}">
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group" id="customer">
                <div class="form-group">
                    {{ form_label('Customer ID', 'customer', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_input({name:'',value:customers[armstrong_2_customers_id],
                            'class': "form-control",
                            'id': "armstrong_2_customer",
                            'data-parsley-required' : 'true'}) }}
                        <input type="hidden" name="armstrong_2_customers_id" id="armstrong_2_customers_id" value="{{ armstrong_2_customers_id }}">
                        <div id="addPotential"></div>
                    </div>
                </div>
            </div>
            <div id="potential">
                {#<div class="col-md-12 form-group">
                    <div class="form-group">
                        {{ form_label('Potential Customer ID', 'customer', {class: 'control-label col-md-3'}) }}
                        <div class="col-md-6 no-parsley">
                            {{ form_input({name:'potential[armstrong_1_customer_id]',value:"",
                                'class': "form-control",
                                'data-parsley-required' : 'true'}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        {{ form_label('Potential Customer Name', 'customer', {class: 'control-label col-md-3'}) }}
                        <div class="col-md-6 no-parsley">
                            {{ form_input({name:'potential[armstrong_2_customer_name]',value:"",
                                'class': "form-control",
                                'data-parsley-required' : 'true'}) }}
                            <div onclick="showAddCustomer()" style="cursor:pointer"><a>Show Customer Field</a></div>
                        </div>
                    </div>
                </div>#}
            </div>
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Distributor ID', 'distributor', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_input({name:'', value:distributors[armstrong_2_distributors_id],
                            'class': "form-control",
                            'id': "armstrong_2_distributor"}) }}
                        <input type="hidden" name="armstrong_2_distributors_id" id="armstrong_2_distributors_id" value="{{ armstrong_2_distributors_id }}">
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Wholesaler ID', 'wholesaler', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">
                        {{ form_input({name:'', value:wholesalers[armstrong_2_wholesalers_id],
                            'class': "form-control",
                            'id': "armstrong_2_wholesaler"}) }}
                        <input type="hidden" name="armstrong_2_wholesalers_id" id="armstrong_2_wholesalers_id" value="{{ armstrong_2_wholesalers_id }}">
                    </div>
                </div>
            </div>
            {% if country_id == 2 %}
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        {{ form_label('Call Record', 'call_record', {class: 'control-label col-md-3'}) }}
                        <div class="col-md-6 no-parsley">{{ form_input({name:'armstrong_2_call_record',value:"",
                                'class': "form-control",
                                'id': "armstrong_2_call_record"}) }}</div>
                        <input type="hidden" name="armstrong_2_call_records_id" id="armstrong_2_call_records_id" value="{{ armstrong_2_call_records_id }}">
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Webshop Order ID', 'order_id', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">{{ form_input({name:'webshop_order_id',value:order_id, class: "form-control", id: "webshop_order_id"}) }}</div>
                </div>
            </div>
            {% for key, product in products %}
                <div class="col-md-12 form-group sku-base">
                    <div class="form-group">
                        {{ form_label('Product', 'product', {class: 'control-label col-md-3'}) }}
                        <div class="col-md-6">
                            {{ form_input({name:'',value:product.product_number ~ " - " ~ product.product_name, class: "form-control", id: "product"}) }}
                        </div>
                        <div class="col-md-offset-3 col-md-9 m-t no-parsley">
                            <b>Webshop : &nbsp;</b>
                            {{ form_hidden('webshop['~key~'][sku_number]', product.product_number) }}
                            Quantity {{ form_input({name:'webshop['~ key ~'][product_quantity]',value:product.product_quantity, class: "form-control sub-input qty-case", id: "product_quantity", readonly: "readonly"}) }} &nbsp;
                            {{ form_input({name:'webshop['~ key ~'][product_package_type]',value:product.product_package_type, class: "form-control sub-input subtotal", id: "product_package_type", readonly: "readonly"}) }} &nbsp;
                            Price {{ form_input({name:'webshop['~ key ~'][product_price]',value:product.product_price, class: "form-control sub-input qty-case", id: "product_price", readonly: "readonly"}) }} &nbsp;
                            Sub Total {{ form_input({name:'webshop['~ key ~'][total_price]',value:product.product_total_price, class: "form-control sub-input subtotal", id: "total_price", readonly: "readonly"}) }}
                        </div>
                        <div class="col-md-offset-3 col-md-9 m-t no-parsley">
                            <b>Armstrong : &nbsp;</b>
                            {{ form_hidden('armstrong['~key~'][sku_number]', product.product_number) }}
                            {{ form_hidden('armstrong['~key~'][package_type]', product.product_package_type) }}
                            Quantity Per Case {{ form_input({name:'armstrong['~ key ~'][quantity_case]',value:product.armstrong_qty_per_case, class: "form-control sub-input qty-case", id: "armstrong_product_quantity", readonly: "readonly"}) }}
                            Price {{ form_input({name:'armstrong['~ key ~'][price]',value:product.armstrong_product_price, class: "form-control sub-input subtotal", id: "armstrong_product_price", readonly: "readonly"}) }} &nbsp;
                        </div>
                        <div class="col-md-offset-3 col-md-9 m-t no-parsley">
                            <b>&nbsp;</b>
                            Quantity
                            {% if product.product_package_type == 'Case' %}
                                {{ form_input({name:'armstrong['~ key ~'][qty_case]',value:product.armstrong_qty_case, class: "form-control sub-input qty-case", id: "armstrong_qty_case", readonly: "readonly"}) }}
                            {% else %}
                                {{ form_input({name:'armstrong['~ key ~'][qty_piece]',value:product.armstrong_qty_pcs, class: "form-control sub-input qty-case", id: "armstrong_qty_pcs", readonly: "readonly"}) }}
                            {% endif %}
                            {{ form_input({name:'armstrong['~ key ~'][package_type]',value:product.product_package_type, class: "form-control sub-input subtotal", id: "package_type", readonly: "readonly"}) }}
                            Sub Total {{ form_input({name:'armstrong['~ key ~'][total_price]',value:product.armstrong_total_price, class: "form-control sub-input subtotal", id: "armstrong_total_price", readonly: "readonly"}) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Total Order', 'total_order', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">{{ form_input({name:'total',value:total_order, class: "form-control", id: "total"}) }}</div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="form-group">
                    {{ form_label('Order Date', 'order_date', {class: 'control-label col-md-3'}) }}
                    <div class="col-md-6 no-parsley">{{ form_input({name:'order_date',value:order_date, class: "form-control", id: "order_date"}) }}</div>
                </div>
            </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}