{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script>

        $(function () {
            createUploader($('#imageUpload'));
        });

    </script>
    <script src="{{ site_url('res/ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace('inputContent', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}',
            filebrowserUploadUrl: "{{ site_url('ami/media/ckupload') }}"
        });

        CKEDITOR.on('instanceReady', function () {
            $.each(CKEDITOR.instances, function (instance) {
                CKEDITOR.instances[instance].on("change", function (e) {
                    for (instance in CKEDITOR.instances) {
                        CKEDITOR.instances[instance].updateElement();
                    }
                });
            });
        });

    </script>
{% endblock %}

{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/news/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': new.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">News</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/news', id: new.id, permission: 'news'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Title', 'title', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'title', value: new.title, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Sub Title', 'sub_title', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sub_title', value: new.sub_title, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Content', 'content', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'content', value: new.content, class: 'form-control input-xxlarge', id: 'inputContent', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Summary', 'summary', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'summary', value: new.summary, class: 'form-control', 'rows': 3}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('', 'listed', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('listed', 0, new.listed == 0) }} Delisted</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('listed', 1, new.listed == 1) }} Listed</label>&nbsp;
                </div>
            </div>

            <div class="form-group">
                {{ form_label('', 'global', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('global', 0, new.global == 0) }} Private</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('global', 1, new.global == 1) }} Global</label>&nbsp;
                </div>
            </div>

            <div class="form-group">
                {{ form_label('App', 'app_type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('app_type', app_type, new.app_type, 'class="form-control"') }}
                </div>
            </div>

            {% include 'ami/components/uploader_image.html.twig' with {entry_type: 'news'} %}

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}