{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<!-- DataTables JavaScript -->
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#dataTables').dataTable({
        /*"processing": true,
        "serverSide": true,
        "ajax": "{{ site_url('ami/news/ajaxData') }}",*/
        'order': [[1, 'asc']],
        // 'bPaginate': false,
        "iDisplayLength": 20,
        'aoColumnDefs': [{
            // 'bSortable': false,
            'aTargets': ['nosort']
        }]
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/news/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'News Draft' : 'News' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/news', icon: 'fa-list-alt', title: 'News', permission: 'news'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">  

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#listed" aria-controls="home" role="tab" data-toggle="tab">Listed</a></li>
                <li role="presentation"><a href="#unlisted" aria-controls="profile" role="tab" data-toggle="tab">Delisted</a></li>
            </ul>

            <div class="panel panel-default m-t">                

                <div class="panel-body tab-content">                
                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'news') %}
                                        <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    {% endif %}
                                    <th>Title</th>
                                    <th>Summary</th>
                                    <th>Global</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th class="nosort text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for new in news.active %}
                                    <tr>
                                        {% if has_permission('delete', 'news') %}
                                            <td class="text-center">{{ form_checkbox({name: 'ids[]', value: new.id}) }}</td>
                                        {% endif %}
                                        <td><a href="{{ site_url('ami/news/edit/' ~ new.id) }}" title="{{ new.title }}" data-toggle="ajaxModal">{{ trim_word(new.title, 50) }}</a></td>
                                        <td>{{ trim_word(new.summary, 100) }}</td>
                                        <td>{{ new.global == 1 ? 'Yes' : 'No' }}</td>
                                        <td class="center">{{ new.date_created }}</td>
                                        <td class="center">{{ new.last_updated }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'news') or has_permission('delete', 'news') %}
                                                {% include 'ami/components/table_btn.html.twig' with {url: 'ami/news', id: new.id, permission: 'news'} %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>

                    <div role="tabpanel" class="tab-pane" id="unlisted">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'news') %}
                                        <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    {% endif %}
                                    <th>Title</th>
                                    <th>Summary</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th class="nosort text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for new in news.inactive %}
                                    <tr>
                                        {% if has_permission('delete', 'news') %}
                                            <td class="text-center">{{ form_checkbox({name: 'ids[]', value: new.id}) }}</td>
                                        {% endif %}
                                        <td><a href="{{ site_url('ami/news/edit/' ~ new.id) }}" title="{{ new.title }}" data-toggle="ajaxModal">{{ trim_word(new.title, 50) }}</a></td>
                                        <td>{{ trim_word(new.summary, 100) }}</td>
                                        <td class="center">{{ new.date_created }}</td>
                                        <td class="center">{{ new.last_updated }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'news') or has_permission('delete', 'news') %}
                                                {% include 'ami/components/table_btn.html.twig' with {url: 'ami/news', id: new.id, permission: 'news'} %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                </div>             
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}