<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ new.title }}</h3>
        </div>
        <div class="modal-body">
            {% if images.0 %}
                <div class="row">
                    <div class="col-lg-4"><img src="{{ MEDIA_URL ~ '/image/thumb' ~ '/' ~ images.0.path }}" class="img-responsive"></div>
                    <div class="col-lg-8"><p>{{ new.content|raw }}</p></div>
                </div>   
            {% else %}                 
                <p>{{ new.content|raw }}</p>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'news') %}
                {{ html_btn(site_url('ami/news/edit/' ~ new.id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>