{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>


    <script>
        $(function () {
            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/module_field_countries/ajaxData') }}",*/
                'order': [[1, 'asc'],[5,'asc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/module_field_countries/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Module Field Countries Draft' : 'Module Field Countries' }}</h1>

                <div class="text-right">
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/module_field_countries', icon: 'fa-user', title: 'Module Field Countries', permission: 'module_field_countries', showImport: 0} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            {% if not draft %}
                                <div class="row table-filter">
                                    <div class="col-md-12">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="dropdownFilter" data-toggle="dropdown">
                                                Filter: {{ filter ? filter|capitalize : 'All' }} <span
                                                        class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
                                                <li role="presentation" {{ filter ? '' : 'class="active"' }}><a
                                                            role="menuitem" tabindex="-1"
                                                            href="{{ site_url('ami/module_field_countries') }}">All</a>
                                                </li>
                                                {% for module in modules %}
                                                    <li role="presentation" {{ filter == module.name ? 'class="active"' : '' }}>
                                                        <a role="menuitem" tabindex="-1"
                                                           href="{{ site_url('ami/module_field_countries?filter=' ~ module.name) }}">{{ module.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'module_field_countries') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>ID</th>
                                <th>Title</th>
                                <th>Value</th>
                                <th>Type</th>
                                <th>Section</th>
                                <th>Row</th>
                                <th>Required</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th class="nosort text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in data %}
                                <tr>
                                    {% if has_permission('delete', 'module_field_countries') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: post.id}) }}</td>
                                    {% endif %}
                                    <td class="center">{{ post.id }}</td>
                                    <td class="center">{{ post.title }}</td>
                                    <td class="center">{{ post.field }}</td>
                                    <td class="center">
                                        {% if post.type == 1 %}
                                            View
                                        {% elseif(post.type == 2) %}
                                            Input
                                        {% elseif(post.type == 3) %}
                                            Dropdown List
                                        {% else %}
                                            Click Button
                                        {% endif %}
                                    </td>
                                    <td class="center">{{ post.section }}</td>
                                    <td class="center">{{ post.row }}</td>
                                    <td class="center">{{ post.required == 1 ? 'Yes' : 'No' }}</td>
                                    <td class="center">{{ post.date_created }}</td>
                                    <td class="center">{{ post.last_updated }}</td>
                                    <td class="center text-center" style="min-width: 80px;">
                                        <div class="btn-group">

                                            {% if has_permission('edit', 'module_field_countries') %}
                                                {{ html_btn(site_url('ami/module_field_countries/edit/' ~ post.id ~ '?filter=' ~ filter), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}

                                            {% endif %}

                                            {% if filter == 'pending' %}
                                                {% if has_permission('manage_staff', 'salespersons') or has_permission('manage_all', 'salespersons') %}
                                                    {{ html_btn(site_url('ami/module_field_countries/pending/' ~ post.id), '<i class="fa fa-thumbs-up"></i>', {'class': 'btn-default approve', 'title': 'Approve', 'data-toggle': 'ajaxModal'}) }}
                                                    {{ html_btn(site_url('ami/module_field_countries/pending/' ~ post.id), '<i class="fa fa-thumbs-down"></i>', {'class': 'btn-default reject', 'title': 'Reject', 'data-toggle': 'ajaxModal'}) }}
                                                {% endif %}
                                            {% endif %}

                                            {% if has_permission('delete', 'module_field_countries') and (filter != 'pending') %}
                                                {% if draft %}
                                                    {{ html_btn(site_url('ami/module_field_countries/restore/' ~ post.id), '<i class="fa fa-history"></i>', {'class': 'btn-default restore', 'title': 'Restore', 'data-toggle': 'ajaxModal'}) }}
                                                {% else %}
                                                    {{ html_btn(site_url('ami/module_field_countries/delete/' ~ post.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% if draft %}
                                    {% set pagination_url = filter ? site_url('ami/module_field_countries/draft?filter=' ~ filter) : site_url('ami/module_field_countries/draft') %}
                                {% else %}
                                    {% set pagination_url = filter ? site_url('ami/module_field_countries/?filter=' ~ filter) : site_url('ami/module_field_countries') %}
                                {% endif %}
                                {{ pagination({base_url: pagination_url, per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}