{{ form_open(site_url('ami/module_field_countries/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': post.id,'filter': filter}) }}
<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Field value: {{ value_field }}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                {{ form_label('Title', 'title', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'title', value: post.title, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Section', 'section', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'section', value: post.section, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Row', 'row', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'row', value: post.row, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group select_cat">
                {{ form_label('Type', 'Type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('type', list_type, post.type, 'class="form-control form_select_cat" data-parsley-required="true"') }}
                </div>
            </div>
            <div class="form-group select_app_type">
                {{ form_label('Required', 'required', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('required', 0, post.required == 0) }} No</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('required', 1, post.required == 1) }} Yes</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {% if has_permission('add', permission) or has_permission('edit', permission) %}
                {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
            {% endif %}
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
        </div>
    </div>
</div>
{{ form_close() }}

<script>
    $(document).ready(function () {
        $('.modal-body').slimScroll({
            height: '400px'
        });
    });
</script>