{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/jquery.sortable.min.js') }}"></script>
    <script language="javascript" type="text/javascript">
        $(function () {
            $('.connected').sortable({
                connectWith: '.connected',
                opacity: '0.5',
                stop: function (event, ui) {
                    xx = $(this).val();
                    alert(xx);
                }
            });
        });
        var s = $("#sticker");
        var pos = s.position();
        var w = s.width();
        $(window).scroll(function () {
            var windowpos = $(window).scrollTop();
            if (windowpos >= pos.top) {
                s.addClass("stick");
                s.width(w);
            } else {
                s.removeClass("stick");
                s.removeClass("stick");
            }
        });
    </script>

{% endblock %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        .connected {
            padding: 10px;
            border: 1px solid #ddd;
            cursor: pointer;
            min-height: 400px
        }

        .connected li {
            margin-bottom: 3px;
            list-style: none;
            background: #f3f3f3;
            padding: 2px 5px;
            position: relative;
        }
        .connected li button {
            display: block;
            float: right;
            padding:0px 5px
        }

    </style>
{% endblock %}

{% block content %}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Add Field To Country</h1>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdownFilter" data-toggle="dropdown">
                                    Filter: {{ filter ? filter|capitalize : 'All' }} <span
                                            class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
                                    <li role="presentation" {{ filter ? '' : 'class="active"' }}><a
                                                role="menuitem" tabindex="-1"
                                                href="{{ site_url('ami/module_field_countries/process') }}">All</a>
                                    </li>
                                    {% for module in modules %}
                                        <li role="presentation" {{ filter == module.name ? 'class="active"' : '' }}>
                                            <a role="menuitem" tabindex="-1"
                                               href="{{ site_url('ami/module_field_countries/process?filter=' ~ module.name) }}">{{ module.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="connected">
                        <div class="col-lg-4">
                            <h4>Fields</h4>
                            <ul id="sticker" class="connected">
                                {% for field in fields %}
                                    <li data='{{ field.id }}'>{{ field.field }}
                                        {{ form_button({
                                            type: 'button',
                                            content: '<i class="fa fa-fw fa-check"></i>',
                                            class: 'btn btn-outline btn-link btn_edit_field'
                                        }) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-8">
                            {% for key,section in module_fields_countries %}
                                <div class="col-lg-12 select_list">
                                    <h4>Section {{ key }}</h4>
                                    <ul id="to_select_list" class="connected">
                                        {% for field in section %}
                                            <li data='{{ field.module_field_id }}'>{{ field.field }}
                                                {{ form_button({
                                                    type: 'button',
                                                    content: '<i class="fa fa-fw fa-check"></i>',
                                                    class: 'btn btn-outline btn-link btn_edit_field'
                                                }) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                            {#<ul id="to_select_list" class="connected">#}
                            {#{% for field in module_fields_country %}#}
                            {#<li data='{{ field.module_field_id }}'>{{ field.field }}#}
                            {#{{ form_button({#}
                            {#type: 'button',#}
                            {#content: '<i class="fa fa-fw fa-pencil-square-o"></i> <a href="'~site_url('ami/module_field_countries/edit/'~field.module_field_id~'/'~field.field~'/'~filter)~'"#}
                            {#data-toggle="ajaxModal">Edit</a>',#}
                            {#class: 'btn btn-outline btn-link btn_edit_field'#}
                            {#}) }}#}
                            {#</li>#}
                            {#{% endfor %}#}
                            {#</ul>#}
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}