{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script language="javascript" type="text/javascript">
        $(".select_list ul").selectable();
        function move_list_items(sourceid, destinationid) {
            var ids = '0';
            $("#" + sourceid + " li.ui-selected").each(function () {
                if (sourceid == 'from_select_list') {
                    type = 'add';
                } else {
                    type = 'remove';
                }
                ids = ids + ',' + $(this).attr('data');
            });
            add_remove_field(ids, type);
            $("#" + sourceid + " li.ui-selected").appendTo("#" + destinationid);
            $(".select_list ul li").removeClass('ui-selected');
        }

        function move_list_items_all(sourceid, destinationid) {
            var ids = '0';
            $("#" + sourceid + " li").each(function () {
                if (sourceid == 'from_select_list') {
                    type = 'add';
                } else {
                    type = 'remove';
                }
                ids = ids + ',' + $(this).attr('data');
            });
            add_remove_field(ids, type);
            $("#" + sourceid + " li").appendTo("#" + destinationid);
            $(".select_list ul li").removeClass('ui-selected');
        }

        function add_remove_field(ids, type) {
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: '{{ site_url('ami/module_field_countries/ajax_add_remove_field') }}',
                data: {
                    ids: ids,
                    type: type
                }
            });
        }

        $(document).ready(function () {
            // Get GET parameter
            $.urlParam = function urlParam(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                        sURLVariables = sPageURL.split('&'),
                        sParameterName,
                        i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            $('.header a span').append(' <i class="fa fa-sort"></i>');

            if ($.urlParam('sort_by') == null) {
                $('.header a.filter_field').addClass('asc');
                $('.header a.filter_field').attr('href', '{{ site_url("ami/module_field_countries/process?filter="~filter~"&sort_by=field&order=desc")|raw }}');
            }else{
                var sortBy = $.urlParam('sort_by');
                var href;
                {% set href = "ami/module_field_countries/process?filter="~filter~"&sort_by=" ~ sort_by %}
                if($.urlParam('order') == 'desc'){
                    href = "{{ site_url(href~"&order=asc")|raw }}";
                    $('.header a.filter_'+sortBy).addClass('desc');
                }else{
                    href = "{{ site_url(href~"&order=desc")|raw }}";
                    $('.header a.filter_'+sortBy).addClass('asc');
                }

                $('.header a.filter_'+sortBy).attr('href', href);
            }
            $('.header a.asc i').attr('class', 'fa fa-sort-down');
            $('.header a.desc i').attr('class', 'fa fa-sort-up');
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        .select_list {
            overflow: auto;
            height: 400px !important;
            margin: 10px;
            border: 1px solid #ddd
        }

        .select_list .ui-selected {
            background: #5cb85c;
            color: white;
        }

        .select_list ul {
            padding: 1px;
            cursor: pointer;
        }

        .select_list ul li {
            list-style: none;
            border-bottom: 1px solid #e9e9e9;
            padding-left: 5px;
            position: relative
        }

        #from_select_list li button {
            display: none;
            float: right
        }

        #to_select_list li:hover button {
            display: inline-block;
        }

        .btn_edit_field {
            position: absolute;
            right: 0px;
            padding: 0px;
            margin: 0px
        }
        .header span{
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Add Field To Country</h1>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-md-12">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdownFilter" data-toggle="dropdown">
                                    Filter: {{ filter ? filter|capitalize : 'All' }} <span
                                            class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
                                    <!--li role="presentation" {{ filter ? '' : 'class="active"' }}><a
                                                role="menuitem" tabindex="-1"
                                                href="{{ site_url('ami/module_field_countries/process') }}">All</a>
                                    </li-->
                                    {% for module in modules %}
                                        <li role="presentation" {{ filter == module.name ? 'class="active"' : '' }}>
                                            <a role="menuitem" tabindex="-1"
                                               href="{{ site_url('ami/module_field_countries/process?filter=' ~ module.name) }}">{{ module.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>Fields</h4>

                        <div class="col-lg-12 select_list">
                            <ul id="from_select_list">
                                {% for field in fields %}
                                    <li data='{{ field.id }}'>{{ field.field }}
                                        {{ form_button({
                                        type: 'button',
                                        content: '<i class="fa fa-fw fa-pencil-square-o"></i> <a href="'~site_url('ami/module_field_countries/edit/'~field.id~'/'~field.field~'/'~filter)~'"
                                           data-toggle="ajaxModal">Edit</a>',
                                        class: 'btn btn-outline btn-link btn_edit_field'
                                        }) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>Added</h4>

                        <div class="col-lg-12 select_list">

                            {#{{ href }}#}
                            <div class="header">
                                <a href="{{ site_url('ami/module_field_countries/process?filter='~filter~'&sort_by=field&order=asc')}}" class="filter_field">
                                    <span class="col-sm-6">Field</span>
                                </a>
                                <a href="{{ site_url('ami/module_field_countries/process?filter='~filter~'&sort_by=section&order=asc') }}" class="filter_section">
                                    <span class="col-sm-3">Section</span>
                                </a>
                                <a href="{{ site_url('ami/module_field_countries/process?filter='~filter~'&sort_by=row&order=asc') }}" class="filter_row">
                                    <span class="col-sm-3">Row</span>
                                </a>
                                <span class="col-sm-1"></span>
                            </div>
                            <hr/>
                            <ul id="to_select_list">
                                {% for field in module_fields_country %}
                                    <li data='{{ field.module_field_id }}'>
                                        <div class="row">
                                            <span class="col-sm-7">{{ field.field }}</span>
                                            <span class="col-sm-2">{{ field.section }}</span>
                                            <span class="col-sm-1">{{ field.row }}</span>
                                            <span class="col-sm-2">
                                                {{ form_button({
                                                type: 'button',
                                                content: '<i class="fa fa-fw fa-pencil-square-o"></i> <a href="'~site_url('ami/module_field_countries/edit/'~field.module_field_id~'/'~field.field~'/'~filter)~'"
                                               data-toggle="ajaxModal">Edit</a>',
                                                class: 'btn btn-outline btn-link btn_edit_field'
                                                }) }}
                                            </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="dataTables">

                        <tr>
                            <td>
                                {{ form_button({
                                type: 'button',
                                content: '<i class="fa fa-fw fa-chevron-circle-right"></i> Move Right All',
                                class: 'btn btn-success',
                                id:'moverightall',
                                onclick:"move_list_items_all('from_select_list','to_select_list')"
                                }) }}
                            </td>
                            <td>
                                {{ form_button({
                                type: 'button',
                                content: '<i class="fa fa-fw fa-chevron-right"></i> Move Right',
                                class: 'btn btn-success',
                                id:'moveright',
                                onclick:"move_list_items('from_select_list','to_select_list')"
                                }) }}
                            </td>
                            <td>
                                {{ form_button({
                                type: 'button',
                                content: '<i class="fa fa-fw fa-chevron-left"></i> Move Left',
                                class: 'btn btn-success',
                                id:'moveleft',
                                onclick:"move_list_items('to_select_list','from_select_list')"
                                }) }}
                            </td>
                            <td>
                                {{ form_button({
                                type: 'button',
                                content: '<i class="fa fa-fw fa-chevron-circle-left"></i> Move Left All',
                                class: 'btn btn-success',
                                id:'moveleftall',
                                onclick:"move_list_items_all('to_select_list','from_select_list')"
                                }) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}