{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}

<script type="text/javascript" src="{{ site_url('res/js/plugins/nestedSortable/jquery.mjs.nestedSortable.js') }}"></script>
<script type="text/javascript">
$(function() {
    $(".sortable").nestedSortable({
        forcePlaceholderSize: true,
        handle: ".handle",
        helper: "clone",
        listType: "ul",
        items: "li",
        maxLevels: 0,
        opacity: .6,
        placeholder: "placeholder",
        revert: 250,
        tabSize: 25,
        tolerance: "pointer",
        toleranceElement: "> div",
        scroll: false,
        // expandOnHover: 700,
        startCollapsed: true,
        isTree: true,
        // create: function(e, t) {},
        start: function(e, t) {
            list_original = $(".sortable").nestedSortable("serialize");
            // $(t.helper).addClass("footest");
            // $(t.helper).prepend('<div style="opacity: 1 !important; padding:5px;" class="alert-custom"> Note: You must expand the category in order to make it a subcategory.</div>')
        },
        stop: function(event, ui) {
            $(".alert").hide("fast");
            $(".alert").removeClass("alert-success").removeClass("alert-danger").addClass("alert-info");
            $(".alert").show("fast");
            $(".alert-info").html('<button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button><strong><i class="fa fa-spinner fa-spin"></i></strong> This action could take a while.');
            var list = "";
            list = $(".sortable").nestedSortable("serialize");
            var array_list = $(".sortable").nestedSortable("toArray");
            var l = array_list.length;
            for (var k = 0; k < l; k++) {
                if (array_list[k].item_id == $(ui.item).find("div").attr("category_id")) {
                    if (array_list[k].parent_id == "root") {
                        $(ui.item).closest(".toggle").show()
                    }
                    break
                }
            }
            if (!$(ui.item).parent().hasClass("sortable")) {
                $(ui.item).parent().addClass("subcategory")
            }
            if (list_original != list) {
                var plist = array_list.reduce(function(e, t, n) {
                    e[n] = {
                        c: t.item_id,
                        p: t.parent_id
                    };
                    return e
                }, {});
                $.ajax({
                    type: "POST",
                    url: "ajax.php",
                    data: {
                        list: plist,
                        action: "categories_order"
                    },
                    context: document.body,
                    success: function(res) {
                        var ret = eval("(" + res + ")");
                        if (ret.error) {
                            $(".alert").show("fast");
                            $(".alert").removeClass("alert-success").removeClass("alert-info").addClass("alert-danger");
                            $(".alert").text('<button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button><strong>Oh snap!</strong> ' + ret.error)
                        }
                        $(".alert").show("fast");
                        $(".alert").removeClass("alert-danger").removeClass("alert-info").addClass("alert-success");
                        $(".alert").html('<button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button><strong>Well done!</strong> ' + ret.ok)
                    },
                    error: function() {
                        $(".alert").show("fast");
                        $(".alert").removeClass("alert-success").removeClass("alert-info").addClass("alert-danger");
                        $(".alert").html('<button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button><strong>Oh snap!</strong> Ajax error, try again.')
                    }
                });
                list_original = list
            }
        }
    });
});
</script>
{% endblock %}


{% block content %}

    {{ form_open(site_url('ami/accessibility/chart'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: group.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Accessibility Tree</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/accessibility', id: group.id, permission: 'accessibility'} %}
                </div>
                <div class="clearfix"></div>
            </div>              
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">     
            <div class="category-container">
                <div class="list-categories">{{ rolesTemplate|raw }}</div>
            </div>
        </div>
    </div> 

    {{ form_close() }}   
{% endblock %}