{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript"
            src="{{ site_url('res/js/plugins/tokenfield/bootstrap-tokenfield.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $('#tokenfield')
                    .on('tokenfield:createtoken', function (e) {
                        var existingTokens = $(this).tokenfield('getTokens');
                        // console.log(existingTokens);
                        $.each(existingTokens, function (index, token) {
                            if (token.value === e.attrs.value) {
                                e.preventDefault();
                                return;
                            }
                        });
                    })
                    .tokenfield({
                        autocomplete: {
                            source: "{{ site_url('ami/accessibility/tokenfield') }}",
                            delay: 100
                        }
                    });

            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/accessibility/ajaxData') }}",*/
                'order': [[1, 'asc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

            $('.checkbox-manage').click(function (e) {
                // $('.checkbox-manage').prop('checked', false);
                // $(this).prop('checked', true);
                var $this = $(this),
                        $manage = $('.checkbox-manage.manage-all'),
                        $manageTeam = $('.checkbox-manage.manage-staff')

                if ($this.hasClass('manage-all')) {
                    $manageTeam.prop('checked', false);
                }

                if ($this.hasClass('manage-staff')) {
                    $manage.prop('checked', false);
                }

                $('#perm_customer').find('.checkbox-view').prop('checked', true);
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/tokenfield/bootstrap-tokenfield.min.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/accessibility/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: group.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Accessibility</h1>

                <div class="text-right">
                    {#<div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
                        {{ html_btn(site_url('ami/accessibility'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if group.id %}
                            <a href="{{ site_url('ami/accessibility/delete/' ~ group.id) }}" title="Delete" class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>#}
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/accessibility', id: group.id, permission: 'accessibility'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#permissions" role="tab"
                                                          data-toggle="tab">Permissions</a></li>
                <li role="presentation"><a href="#users" role="tab" data-toggle="tab">Salespersons</a></li>
            </ul>

            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="permissions">
                    <div class="form-group m-t-md">
                        {{ form_label('Name', 'name', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {% if group.name in ['Admin', 'Sales Manager'] %}
                                {{ form_input({name: 'name', value: group.name, class: 'form-control',
                                    'data-parsley-required': 'true',
                                    'readonly': 'readonly'
                                }) }}
                            {% else %}
                                {{ form_input({name: 'name', value: group.name, class: 'form-control',
                                    'data-parsley-required': 'true'
                                }) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group m-t-md sr-only">
                        {{ form_label('Global', 'global', {class: 'text-right col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_checkbox({name: 'global', value: 1, 'class': 'checkbox-view', 'checked': group.global }) }}
                        </div>
                    </div>
                    <table class="table no-parsley permissions m-b-lg" id="md_report }}">
                        <tr>
                            <th class="group-title text-ellipsis"><i
                                        class="fa fa-bar-chart fa-fw"></i> Report
                            </th>
                            <th class="text-center"><a class=""
                                                       data-target="#md_report input.checkbox-view">View</a>
                                {#<th class="text-center"><a class=""#}
                                {#data-target="#md_report input.checkbox-view">View Button</a>#}
                                {#</th>#}
                                {#<th class="text-center"><a class=""#}
                                {#data-target="#md_report input.checkbox-add">Export Button</a>#}
                                {#</th>#}
                        </tr>
                        <tr>
                            <th class="permission-title text-ellipsis">Summary Report</th>
                            <td class="text-center">{{ form_checkbox({name: 'restrictions[summary_report_view][]', value: 1, 'class': 'checkbox-view', 'checked': group.restrictions.summary_report_view }) }}</td>
                        </tr>
                        <tr>
                            <th class="permission-title text-ellipsis">Transaction Data Report</th>
                            <td class="text-center">{{ form_checkbox({name: 'restrictions[transaction_report_view][]', value: 1, 'class': 'checkbox-view', 'checked': group.restrictions.transaction_report_view }) }}</td>
                        </tr>
                        <tr>
                            <th class="permission-title text-ellipsis">Master Data Report</th>
                            <td class="text-center">{{ form_checkbox({name: 'restrictions[master_report_view][]', value: 1, 'class': 'checkbox-view', 'checked': group.restrictions.master_report_view }) }}</td>
                        </tr>
                        <tr>
                            <th class="permission-title text-ellipsis">Business Report</th>
                            <td class="text-center">{{ form_checkbox({name: 'restrictions[business_report_view][]', value: 1, 'class': 'checkbox-view', 'checked': group.restrictions.business_report_view }) }}</td>
                        </tr>
                        <tr>
                            <th class="permission-title text-ellipsis">Show/hide Button</th>
                            <td class="text-center">
                                {{ form_checkbox({name: 'restrictions[report_view][]', value: 1, 'class': 'checkbox-view', 'checked': group.restrictions.report_view }) }}
                                View Button
                                &nbsp;
                                {{ form_checkbox({name: 'restrictions[report_export][]', value: 1, 'class': 'checkbox-view', 'checked': group.restrictions.report_export }) }}
                                Export Button
                            </td>
                        </tr>
                    </table>
                    {% for menuItem in menuItems %}
                        {% if menuItem.child_nodes|length > 0 %}
                            <table class="table no-parsley permissions m-b-lg" id="md_{{ menuItem.name }}">
                                <tr>
                                    <th class="group-title text-ellipsis"><i
                                                class="fa {{ menuItem.icon }} fa-fw"></i> {{ menuItem.display_name }}
                                    </th>
                                    <th class="text-center"><a class="CheckAll"
                                                               data-target="#md_{{ menuItem.name }} input.checkbox-view">View</a>
                                    </th>
                                    <th class="text-center"><a class="CheckAll"
                                                               data-target="#md_{{ menuItem.name }} input.checkbox-add">Add</a>
                                    </th>
                                    <th class="text-center"><a class="CheckAll"
                                                               data-target="#md_{{ menuItem.name }} input.checkbox-edit">Edit</a>
                                    </th>
                                    <th class="text-center"><a class="CheckAll"
                                                               data-target="#md_{{ menuItem.name }} input.checkbox-delete">Delete</a>
                                    </th>
                                    {% if menuItem.name in ['sales_management'] %}
                                        <th class="text-center"><a class="">Manage</a></th>
                                    {% endif %}
                                </tr>

                                {% for childNode in menuItem.child_nodes %}
                                    <tr id="perm_{{ childNode.name }}">
                                        <th class="permission-title text-ellipsis">{{ childNode.display_name }}</th>
                                        <td class="text-center">{{ form_checkbox({name: 'restrictions[view][]', value: childNode.id, 'class': 'checkbox-view', 'checked': childNode.id in group.restrictions.view }) }}</td>
                                        <td class="text-center">{{ form_checkbox({name: 'restrictions[add][]', value: childNode.id, 'class': 'checkbox-add', 'checked': childNode.id in group.restrictions.add }) }}</td>
                                        <td class="text-center">{{ form_checkbox({name: 'restrictions[edit][]', value: childNode.id, 'class': 'checkbox-edit', 'checked': childNode.id in group.restrictions.edit }) }}</td>
                                        <td class="text-center">{{ form_checkbox({name: 'restrictions[delete][]', value: childNode.id, 'class': 'checkbox-delete', 'checked': childNode.id in group.restrictions.delete }) }}</td>
                                        {% if menuItem.name in ['sales_management', 'customers_management'] %}
                                            <td class="text-center">
                                                {% if childNode.name in ['salespersons'] %}
                                                    {{ form_checkbox({name: 'restrictions[manage_all][]', value: childNode.id, 'class': 'checkbox-manage manage-all Tooltip', 'title': 'Manage All', 'checked': childNode.id in group.restrictions.manage_all }) }} All
                                                    &nbsp;
                                                    {{ form_checkbox({name: 'restrictions[manage_staff][]', value: childNode.id, 'class': 'checkbox-manage manage-staff Tooltip', 'title': 'Manage Team', 'checked': childNode.id in group.restrictions.manage_staff }) }} Staff
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    {% endfor %}
                    <table class="table no-parsley permissions m-b-lg" id="md_report }}">
                        <tr>
                            <th class="group-title text-ellipsis"><i
                                        class="fa {{ menuItem.icon }} fa-fw"></i> Webshop
                            </th>
                            <th class="text-center"><a class="CheckAll"
                                                       data-target="#md_{{ menuItem.name }} input.checkbox-view">View</a>
                            </th>
                            <th class="text-center"><a class="CheckAll"
                                                       data-target="#md_{{ menuItem.name }} input.checkbox-add">Add</a>
                            </th>
                            <th class="text-center"><a class="CheckAll"
                                                       data-target="#md_{{ menuItem.name }} input.checkbox-edit">Edit</a>
                            </th>
                            <th class="text-center"><a class="CheckAll"
                                                       data-target="#md_{{ menuItem.name }} input.checkbox-delete">Delete</a>
                            </th>
                            {% if menuItem.name in ['sales_management'] %}
                                <th class="text-center"><a class="">Manage</a></th>
                            {% endif %}
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-center">{{ form_checkbox({name: 'restrictions[view][]', value: 92, 'class': 'checkbox-view', 'checked': 92 in group.restrictions.view }) }}</td>
                            <td class="text-center">{{ form_checkbox({name: 'restrictions[add][]', value: 92, 'class': 'checkbox-view', 'checked': 92 in group.restrictions.add }) }}</td>
                            <td class="text-center">{{ form_checkbox({name: 'restrictions[edit][]', value: 92, 'class': 'checkbox-view', 'checked': 92 in group.restrictions.edit }) }}</td>
                            <td class="text-center">{{ form_checkbox({name: 'restrictions[delete][]', value: 92, 'class': 'checkbox-view', 'checked': 92 in group.restrictions.delete }) }}</td>
                        </tr>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane" id="users">
                    <div class="form-group m-t-md">
                        {{ form_label('Salespersons', 'salespersons', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'salespersons', class: 'form-control', id: 'tokenfield'}) }}
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover no-parsley" id="dataTables">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th class="nosort"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for salesperson in salespersons %}
                            <tr>
                                <td>
                                    <a href="{{ site_url('ami/salespersons/edit/' ~ salesperson.armstrong_2_salespersons_id) }}"
                                       title="{{ salesperson.first_name }} {{ salesperson.last_name }}"
                                       data-toggle="ajaxModal">{{ salesperson.armstrong_2_salespersons_id }}</a></td>
                                <td>{{ salesperson.first_name }} {{ salesperson.last_name }}</td>
                                <td class="center">{{ salesperson.date_created }}</td>
                                <td class="center">{{ salesperson.last_updated }}</td>
                                <td class="center" style="min-width: 80px;">
                                    <div class="btn-group">
                                        {{ html_btn(site_url('ami/accessibility/salespersons/edit/' ~ salesperson.armstrong_2_salespersons_id), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit', 'data-toggle': 'ajaxModal'}) }}
                                        {{ html_btn(site_url('ami/accessibility/salespersons/delete/' ~ salesperson.armstrong_2_salespersons_id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}