{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<!-- DataTables JavaScript -->
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ site_url('res/js/plugins/nestedSortable/jquery.mjs.nestedSortable.js') }}"></script>

<script>
$(document).ready(function() {
    $('#dataTables').dataTable({
        /*"processing": true,
        "serverSide": true,
        "ajax": "{{ site_url('ami/accessibility/ajaxData') }}",*/
        "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
        'order': [[1, 'asc']],
        'bPaginate': false,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });

    reset = $(".sortable").html();

    $(".sortable").nestedSortable({
        forcePlaceholderSize: true,
        handle: ".handle",
        helper: "clone",
        listType: "ul",
        items: "li",
        maxLevels: 0,
        opacity: .6,
        placeholder: "placeholder",
        revert: 250,
        tabSize: 25,
        tolerance: "pointer",
        toleranceElement: "> div",
        expandOnHover: 700,
        scroll: false,
        startCollapsed: true,
        isTree: true,
        // create: function(e, t) {},
        create: function(e, t) {
            list_original = $(this).nestedSortable("serialize");            
        },
        stop: function(event, ui) {
            var list = "";
            list = $(this).nestedSortable("serialize");

            if (list_original != list) {

                var $alert = $('<div class="alert alert-block fade in" style="display: none;"></div>'),
                    $alertBlock = $('#alert-block');

                var interval = setInterval(function() {
                    $alertBlock.html('');
                    
                    $alert.removeClass("alert-success").removeClass("alert-danger").addClass("alert-info")
                        .appendTo($alertBlock)
                        .html('<button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button><strong><i class="fa fa-spinner fa-spin"></i></strong> This action could take a while.')
                        .show();
                }, 2000);
                
                var array_list = $(this).nestedSortable("toArray");
                // var l = array_list.length;
                // for (var k = 0; k < l; k++) {
                //     if (array_list[k].item_id == $(ui.item).find("div").attr("data-id")) {
                //         if (array_list[k].parent_id == "root") {
                //             $(ui.item).closest(".toggle").show()
                //         }
                //         break
                //     }
                // }
                // if (!$(ui.item).parent().hasClass("sortable")) {
                //     $(ui.item).parent().addClass("subcategory")
                // }
            
                // var plist = array_list.reduce(function(e, t, n) {
                //     e[n] = {
                //         c: t.item_id,
                //         p: t.parent_id
                //     };
                //     return e
                // }, {});

                console.log(JSON.stringify(array_list));

                $.ajax({
                    type: "POST",
                    url: "{{ site_url('ami/accessibility/chart') }}",
                    data: {list: JSON.stringify(array_list)},
                    dataType: 'json',
                    success: function(res) {
                        clearInterval(interval);
                        $alertBlock.html('');

                        if (res.error) {                            
                            $alert.removeClass("alert-success").removeClass("alert-info").addClass("alert-danger")
                                .appendTo($alertBlock)
                                .html('<button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button><strong>Oh snap!</strong> ' + res.error)
                                .show();
                            $('.sortable').html(reset);
                        } else {                            
                            $alert.removeClass("alert-danger").removeClass("alert-info").addClass("alert-success")
                                .appendTo($alertBlock)
                                .html('<button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button><strong>Well done!</strong> ' + res.ok)
                                .show();
                            reset = $('.sortable').html();
                        }

                        $alert.fadeTo(2000, 500).slideUp(500);
                    },
                    error: function() {
                        clearInterval(interval);
                        $alertBlock.html('');
                        $alert.removeClass("alert-success").removeClass("alert-info").addClass("alert-danger")
                            .appendTo($alertBlock)
                            .html('<button type="button" class="close close-sm" data-dismiss="alert"><i class="fa fa-times"></i></button><strong>Oh snap!</strong> Ajax error, try again.')
                            .show();
                        $('.sortable').html(reset);

                        $alert.fadeTo(2000, 500).slideUp(500);
                    }
                });
                list_original = list
            }
        }
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/accessibility/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Accessibility Draft' : 'Accessibility' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/accessibility', icon: 'fa-gears', title: 'Accessibility', permission: 'accessibility'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-8">            
            <div class="panel panel-default">                
                
                <div class="panel-body">                
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'accessibility') %}
                                        <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    {% endif %}
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th class="nosort text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in p_groups %}
                                    <tr>
                                        {% if has_permission('delete', 'accessibility') %}
                                            <td class="text-center">{{ form_checkbox({name: 'ids[]', value: group.id}) }}</td>
                                        {% endif %}
                                        <td><a href="{{ site_url('ami/accessibility/edit/' ~ group.id) }}" title="{{ group.name }}" data-toggle="ajaxModal">{{ group.id }}</a></td>
                                        <td>{{ group.name }}</td>
                                        <td class="center">{{ group.date_created }}</td>
                                        <td class="center">{{ group.last_updated }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'accessibility') or has_permission('delete', 'accessibility') %}
                                                <div class="btn-group">                                                
                                                    {{ html_btn(site_url('ami/accessibility/edit/' ~ group.id), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}
                                                    {% set btnClass = (group.name in ['Admin', 'Sales Manager', 'Salesperson']) ? 'disabled' : '' %}
                                                    {% if draft %}
                                                        {{ html_btn(site_url('ami/accessibility/restore/' ~ group.id), '<i class="fa fa-history"></i>', {'class': 'btn-default restore ' ~ btnClass, 'title': 'Restore', 'data-toggle': 'ajaxModal'}) }}
                                                    {% else %}
                                                        {{ html_btn(site_url('ami/accessibility/delete/' ~ group.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete ' ~ btnClass, 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                                    {% endif %}
                                                </div>
                                                {# {% include 'ami/components/table_btn.html.twig' with {url: 'ami/accessibility', id: group.id, permission: 'accessibility'} %} #}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% set paginationUrl = draft ? 'ami/accessibility/draft' : 'ami/accessibility' %}
                                {{ pagination({base_url: site_url(paginationUrl), per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="category-container panel-body">
                    <div id="alert-block"></div>
                    <div class="list-categories">{{ rolesTemplate|raw }}</div>
                </div>
            </div>
        </div>

    </div>
    
    {{ form_close() }}

{% endblock %}