<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ group.name }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                {% for menuItem in menuItems %}
                    {% if menuItem.child_nodes|length > 0 %}
                        <table class="table no-parsley permissions m-b-lg" id="md_{{ menuItem.name }}">
                            <tr>
                                <th class="group-title text-ellipsis"><i class="fa {{ menuItem.icon }} fa-fw"></i> {{ menuItem.display_name }} </th>
                                <th class="text-center">View</th>
                                <th class="text-center">Add</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                            </tr>

                            {% for childNode in menuItem.child_nodes %}
                            <tr>
                                <th class="permission-title text-ellipsis">{{ childNode.display_name }}</th>
                                <td class="text-center"><i class="fa {{ childNode.id in group.restrictions.view ? 'fa-check' : 'fa-circle-o' }} fa-fw"></i></td>
                                <td class="text-center"><i class="fa {{ childNode.id in group.restrictions.add ? 'fa-check' : 'fa-circle-o' }} fa-fw"></i></td>
                                <td class="text-center"><i class="fa {{ childNode.id in group.restrictions.edit ? 'fa-check' : 'fa-circle-o' }} fa-fw"></i></td>
                                <td class="text-center"><i class="fa {{ childNode.id in group.restrictions.delete ? 'fa-check' : 'fa-circle-o' }} fa-fw"></i></td>
                            </tr>
                            {% endfor %}                   
                        </table>
                        <div class="m-b-md"></div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'accessibility') %}
                {{ html_btn(site_url('ami/accessibility/edit/' ~ group.id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>