{% extends "ami/base.html.twig" %}
{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function () {

            var arr_loop = ['mighty_10_', 'channel_basket_penetration_', 'active_sku_', 'sampling_history_', 'listing_and_availability_'];
            $.each(arr_loop, function (k, v) {
                var object = $('.date-picker[name="' + v + 'start"]');
                var object_end = $('.date-picker[name="' + v + 'end"]');
                if (!object.val()) {
                    object_end.prop('disabled', true);
                }else{
                    object_end.datepicker({
                        startDate: object.val()
                    });
                }

                object.on('change', function () {
                    if (!object.val()) {
                        object_end.val('');
                        object_end.prop('disabled', true);
                    }
                });

                object_end.on('change', function(){
                    object_end.closest('.form-group').removeClass('has-error');
                });

                object.datepicker().on('changeDate', function () {
                    object_end.prop('disabled', false);
                    var startDate = new Date($(this).val());
                    var endDate = (object_end.val()) ? new Date(object_end.val()) : startDate;
                    if (startDate >= endDate) {
                        object_end.val('');
                    }
                    startDate.setDate(startDate.getDate());
                    object_end.datepicker('remove');
                    object_end.datepicker({
                        startDate: startDate
                    });
                });
            });

            $('button[type="submit"]').on('click',function(e){
                $.each(arr_loop, function (k, v) {
                    var object = $('.date-picker[name="' + v + 'start"]');
                    var object_end = $('.date-picker[name="' + v + 'end"]');
                    if (object.val() && !object_end.val()) {
                        object_end.closest('.form-group').addClass('has-error');
                    }
                })
                if($('.has-error').length < 1){
                    $('form').submit();
                }else{
                    e.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
{% endblock %}
{% block content %}
    {{ form_open(site_url('ami/daterange_config/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: post.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Customer Analysis Configuration</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        <button name="" type="submit" class="btn btn-success"><i class="fa fa-fw fa-check"></i> Save
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <h4>Mighty 10</h4>

            <div class="form-group">
                {{ form_label('Start Date', 'start_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mighty_10_start', value: post.id ? (post.mighty_10_start == '0000-00-00 00:00:00' or post.mighty_10_start == null) ? '' : post.mighty_10_start|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('End Date', 'end_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mighty_10_end', value: post.id ? (post.mighty_10_end == '0000-00-00 00:00:00' or post.mighty_10_end == null) ? '' : post.mighty_10_end|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <hr/>

            <h4>Channel Basket Penetration</h4>

            <div class="form-group">
                {{ form_label('Start Date', 'start_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'channel_basket_penetration_start', value: post.id ? (post.channel_basket_penetration_start == '0000-00-00 00:00:00' or post.channel_basket_penetration_start == null) ? '' : post.channel_basket_penetration_start|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('End Date', 'end_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'channel_basket_penetration_end', value: post.id ? (post.channel_basket_penetration_end == '0000-00-00 00:00:00' or post.channel_basket_penetration_end == null) ? '' : post.channel_basket_penetration_end|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <hr/>

            <h4>Active SKU</h4>

            <div class="form-group">
                {{ form_label('Start Date', 'start_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'active_sku_start', value: post.id ? (post.active_sku_start == '0000-00-00 00:00:00' or post.active_sku_start == null) ? '' : post.active_sku_start|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('End Date', 'end_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'active_sku_end', value: post.id ? (post.active_sku_end == '0000-00-00 00:00:00' or post.active_sku_end == null) ? '' : post.active_sku_end|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <hr/>

            <h4>Sampling History</h4>

            <div class="form-group">
                {{ form_label('Start Date', 'start_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sampling_history_start', value: post.id ? (post.sampling_history_start == '0000-00-00 00:00:00' or post.sampling_history_start == null) ? '' : post.sampling_history_start|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('End Date', 'end_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'sampling_history_end', value: post.id ? (post.sampling_history_end == '0000-00-00 00:00:00' or post.sampling_history_end == null) ? '' : post.sampling_history_end|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>

            <h4>Listing And Availability</h4>

            <div class="form-group">
                {{ form_label('Start Date', 'start_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'listing_and_availability_start', value: post.id ? (post.listing_and_availability_start == '0000-00-00 00:00:00' or post.listing_and_availability_start == null) ? '' : post.listing_and_availability_start|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('End Date', 'end_date', {class: 'control-label col-sm-2'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'listing_and_availability_end', value: post.id ? (post.listing_and_availability_end == '0000-00-00 00:00:00' or post.listing_and_availability_end == null) ? '' : post.listing_and_availability_end|date("Y-m-d"),
                    'class': 'form-control date-picker',
                    'data-provide': 'datepicker',
                    'data-date-format': 'yyyy-mm-dd'
                    }) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}