{% extends "ami/base.html.twig" %}
{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function () {

            var arr_loop = ['mighty_10_', 'channel_basket_penetration_', 'active_sku_', 'sampling_history_', 'listing_and_availability_'];
            $.each(arr_loop, function (k, v) {
                var object = $('.date-picker[name="' + v + 'start"]');
                var object_end = $('.date-picker[name="' + v + 'end"]');
                if (!object.val()) {
                    object_end.prop('disabled', true);
                }else{
                    object_end.datepicker({
                        startDate: object.val()
                    });
                }

                object.on('change', function () {
                    if (!object.val()) {
                        object_end.val('');
                        object_end.prop('disabled', true);
                    }
                });

                object_end.on('change', function(){
                    object_end.closest('.form-group').removeClass('has-error');
                });

                object.datepicker().on('changeDate', function () {
                    object_end.prop('disabled', false);
                    var startDate = new Date($(this).val());
                    var endDate = (object_end.val()) ? new Date(object_end.val()) : startDate;
                    if (startDate >= endDate) {
                        object_end.val('');
                    }
                    startDate.setDate(startDate.getDate());
                    object_end.datepicker('remove');
                    object_end.datepicker({
                        startDate: startDate
                    });
                });
            });

            $('button[type="submit"]').on('click',function(e){
                $.each(arr_loop, function (k, v) {
                    var object = $('.date-picker[name="' + v + 'start"]');
                    var object_end = $('.date-picker[name="' + v + 'end"]');
                    if (object.val() && !object_end.val()) {
                        object_end.closest('.form-group').addClass('has-error');
                    }
                })
                if($('.has-error').length < 1){
                    $('form').submit();
                }else{
                    e.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
{% endblock %}
{% block content %}
    {{ form_open(site_url('ami/daterange_config/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: post.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Customer Analysis Configuration</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        <button name="" type="submit" class="btn btn-success"><i class="fa fa-fw fa-check"></i> Save
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Mighty 10', 'mighty_10', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('mighty_10_rolling', rolling, post.mighty_10_rolling, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Channel Basket Penetration', 'channel_basket_penetration', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('channel_basket_penetration_rolling', rolling, post.channel_basket_penetration_rolling, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Active SKUe', 'active_sku', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('active_sku_rolling', rolling, post.active_sku_rolling, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Sampling History', 'sampling_history', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('sampling_history_rolling', rolling, post.sampling_history_rolling, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Listing And Availability', 'listing_and_availability', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('listing_and_availability_rolling', rolling, post.listing_and_availability_rolling, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('New Grip', 'new_grip', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('new_grip_rolling', rolling, post.new_grip_rolling, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('New Grab', 'new_grab', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('new_grab_rolling', rolling, post.new_grab_rolling, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}