<div role="tabpanel" class="tab-panel active">
    <table class="table table-striped table-bordered table-hover" id="promotional_3">
        <thead>
        <tr>
            {% if has_permission('delete', 'promotional_mechanics') %}
                <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                      data-target="tbody"
                                                      data-description="#CheckAllBtn"></th>
            {% endif %}
            <th>Promotion Description</th>
            <th>Months since last bought</th>
            <th>Purchased SKU total</th>
            <th>Promotion applicable</th>
            <th>Promotion Free Gift</th>
            <th>From date</th>
            <th>To date</th>
            <th class="nosort text-center"></th>
        </tr>
        </thead>
        <tbody>
        {% for promotinal in promotional_mechanics %}
            <tr>
                {% if has_permission('delete', 'promotional_mechanics') %}
                    <td class="text-center">{{ form_checkbox({name: 'ids[]', value: promotinal.id}) }}</td>
                {% endif %}
                <td>{{ promotinal.sub_name }}</td>
                <td>{{ promotinal.n_months }}</td>
                <td>{{ promotinal.x_mounts }}</td>
                <td>{{ promotinal.free_sku_name }}</td>
                <td>{{ promotinal.promotion_free_gift }}</td>
                <td>{{ promotinal.range.from_date }}</td>
                <td>{{ promotinal.range.to_date }}</td>
                <td class="center text-center" style="min-width: 80px;">
                    {% if has_permission('edit', 'promotional_mechanics') or has_permission('delete', 'promotional_mechanics') %}
                        <div class="btn-group">
                            {{ html_btn(site_url('ami/promotional_mechanics/edit/' ~ promotinal.id ~ '?filter=' ~ filter), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}
                            {{ html_btn(site_url('ami/promotional_mechanics/delete/' ~ promotinal.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete ', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>