<div class="form-group">
    {{ form_label('Date Range', 'range_id', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_dropdown('range_id', range, promotional.range_id, 'id="range_id" class="form-control" data-parsley-required="true"') }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Promotion Name', 'name', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_input({name: 'name', value: promotional.name, class: 'form-control', 'data-parsley-required': 'true'}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Promotion Description', 'sub_name', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_input({name: 'sub_name', value: promotional.sub_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Months since last bought', 'n_months', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_input({name: 'n_months', value: promotional.n_months, class: 'form-control', 'data-parsley-required': 'true', 'min': 1, 'data-parsley-type': 'digits'}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Purchased SKU', 'purchased_sku_number', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_dropdown('purchased_sku_number', products, promotional.purchased_sku_number, 'class="form-control"') }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Purchased SKU quantity', 'purchased_sku_quantity', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-2">
        {{ form_input({name: 'purchased_sku_quantity', value: promotional.purchased_sku_quantity, class: 'form-control', 'data-parsley-required': 'true', 'min': 1, 'data-parsley-type': 'digits'}) }}
    </div>
    {{ form_label('Type', 'purchased_sku_quantity_type', {class: 'control-label col-sm-1'}) }}
    <div class="col-sm-3">
        {{ form_dropdown('purchased_sku_quantity_type', quantity_type, promotional.purchased_sku_quantity_type, 'class="form-control"') }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Free SKU', 'free_sku_number', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_dropdown('free_sku_number', products, promotional.free_sku_number, 'class="form-control"') }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Free SKU quantity', 'free_sku_quantity', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-2">
        {{ form_input({name: 'free_sku_quantity', value: promotional.free_sku_quantity, class: 'form-control', 'data-parsley-required': 'true', 'min': 1, 'data-parsley-type': 'digits'}) }}
    </div>
    {{ form_label('Type', 'free_sku_quantity_type', {class: 'control-label col-sm-1'}) }}
    <div class="col-sm-3">
        {{ form_dropdown('free_sku_quantity_type', quantity_type, promotional.free_sku_quantity_type, 'class="form-control"') }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6 no-parsley">
        <label class="radio-inline">{{ form_radio('active', 0, promotional.active == 0) }} No</label>&nbsp;
        <label class="radio-inline">{{ form_radio('active', 1, promotional.active == 1) }} Yes</label>&nbsp;
    </div>
</div>
{{ form_input({name: 'type', value: 1, type: 'hidden', class: 'hide'}) }}

<script type="text/javascript">
    /**
    function autochoosewhenchange(){
        if($('select[name="purchased_sku_number"]').val() != '')
        {
            $('select[name="free_sku_number"]').removeAttr('disabled');
            $('select[name="free_sku_number"] option:nth-child(1)').attr('disabled', 'disabled');
            if($('select[name="free_sku_number"]').val() == null || $('select[name="free_sku_number"]').val() == '')
            {
                $('select[name="free_sku_number"]').val($('select[name="purchased_sku_number"]').val());
            }
        }
        else
        {
            $('select[name="free_sku_number"] option:nth-child(1)').removeAttr('disabled');
            $('select[name="free_sku_number"]').val('');
            $('select[name="free_sku_number"]').attr('disabled', 'disabled');
        }
    }
    $(document).ready(function(){
        autochoosewhenchange();
        $('select[name="purchased_sku_number"]').change(function(){
            autochoosewhenchange();
        });
    });
    */
</script>