<div class="form-group">
    {{ form_label('Date Range', 'range_id', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_dropdown('range_id', range, promotional.range_id, 'id="range_id" class="form-control" data-parsley-required="true"') }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Promotion Name', 'name', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_input({name: 'name', value: promotional.name, class: 'form-control', 'data-parsley-required': 'true'}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Promotion Description', 'sub_name', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_input({name: 'sub_name', value: promotional.sub_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Months since last bought', 'n_months', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_input({name: 'n_months', value: promotional.n_months, class: 'form-control', 'data-parsley-required': 'true', 'min': 1, 'data-parsley-type': 'digits'}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Purchased SKU amount', 'x_mounts', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_input({name: 'x_mounts', value: promotional.x_mounts, class: 'form-control', 'data-parsley-required': 'true', 'min': 1, 'data-parsley-type': 'number'}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Promotion applicable', 'free_sku_name', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_dropdown('free_sku_name', product_applicable, promotional.free_sku_name, 'id="applicable" class="form-control" data-parsley-required="true"') }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Promotion Free Gift', 'promotion_free_gift', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6">
        {{ form_input({name: 'promotion_free_gift', value: promotional.promotion_free_gift, class: 'form-control'}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
    <div class="col-sm-6 no-parsley">
        <label class="radio-inline">{{ form_radio('active', 0, promotional.active == 0) }} No</label>&nbsp;
        <label class="radio-inline">{{ form_radio('active', 1, promotional.active == 1) }} Yes</label>&nbsp;
    </div>
</div>

{{ form_input({name: 'type', value: 5, type: 'hidden', class: 'hide'}) }}