{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script>
        $(function () {
            createUploader($('#imageUpload'));
            createUploader($('#brochureUpload'));

            $(document).on('click', '.btn-clone', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $clone = $(this).closest('.sku-base').clone();

                $clone.find('.hide').removeClass('hide').show();

                if ($this.hasClass('clone-add')) {
                    $clone.clone().appendTo($('#sku-base-block'));
                }

                if ($this.hasClass('clone-remove')) {
                    $(this).closest('.sku-base').remove();
                }
            });

            $('.product-remove').on('click', function (e) {
                e.preventDefault();

                var $this = $(this);

                $this.closest('.form-group').empty().remove();
            });
        });
    </script>
    <script src="{{ site_url('res/ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace('inputIngredients', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });

        CKEDITOR.replace('inputPreparation', {
            customConfig: '{{ site_url('res/js/ckeditor_config.js') }}'
        });

        CKEDITOR.on('instanceReady', function () {
            $.each(CKEDITOR.instances, function (instance) {
                CKEDITOR.instances[instance].on("change", function (e) {
                    for (instance in CKEDITOR.instances) {
                        CKEDITOR.instances[instance].updateElement();
                    }
                });
            });
        });

    </script>
{% endblock %}

{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/recipes/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': recipe.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Recipes</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/recipes', id: recipe.id, permission: 'recipes'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Recipe Name', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'name', value: recipe.name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Recipe Name (Other Language)', 'name_alt', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'name_alt', value: recipe.name_alt, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Preparation', 'preparation', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'preparation', value: recipe.preparation, class: 'form-control input-xxlarge', id: 'inputPreparation', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Ingredients', 'ingredients', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'ingredients', value: recipe.ingredients, class: 'form-control input-xxlarge', id: 'inputIngredients', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            {% if cuisine_channels %}
                <div class="form-group">
                    {{ form_label('Cuisine Channels', 'cuisine_channels_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('cuisine_channels_id', cuisine_channels, recipe.cuisine_channels_id, 'class="form-control" ') }}
                    </div>
                </div>
            {% endif %}

            {% for product_id in recipe.product_ids %}
                <div class="form-group">
                    {{ form_label('Product', 'sku_number', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('sku_number[]', products, product_id, 'class="form-control"') }}
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default product-remove"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
            {% endfor %}

            {% if products %}
                <div class="form-group sku-base">
                    {{ form_label('Product', 'sku_number', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('sku_number[]', products, null, 'class="form-control"') }}
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-default btn-clone clone-remove hide"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div id="sku-base-block"></div>
            {% endif %}

            {#<div class="form-group">
                {{ form_label('Listed', 'listed', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    <label class="checkbox-inline">{{ form_checkbox('listed', 1, recipe.listed) }}</label>
                </div>
            </div>#}

            <div class="form-group">
                {{ form_label('', 'listed', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('listed', 0, recipe.listed == 0) }} Delisted</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('listed', 1, recipe.listed == 1) }} Listed</label>&nbsp;
                </div>
            </div>

            {% include 'ami/components/uploader_image.html.twig' with {entry_type: 'recipes'} %}

            {% include 'ami/components/uploader_brochure.html.twig' with {entry_type: 'recipes'} %}

            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}