<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ recipe.name }}</h3>
        </div>
        <div class="modal-body">
            <h3>Preparation</h3>               
            <p>{{ recipe.preparation|raw }}</p>
            <br>
            <h3>Ingredients</h3>               
            <p>{{ recipe.ingredients|raw }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>            
            {% if has_permission('edit', 'recipes') %}
                {{ html_btn(site_url('ami/recipes/edit/' ~ recipe.id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>