{% extends "ami/base.html.twig" %}
{% block js %}
    {{ parent() }}
    <script type="application/javascript">
        var counter = 0;
        function setClone($clone, counter, base){
            $clone.removeClass('hide clone-step').addClass('step');
            var closestStep = $clone.closest('.step');
            if(base.hasClass('focused_skus')){
                closestStep.find('.select-product').attr('name', 'focused_skus_target[' + counter + '][sku_number]').attr('data-parsley-type', 'number');
                closestStep.find('.input-amount').attr('name', 'focused_skus_target[' + counter + '][amount]').attr('data-parsley-type', 'digits');
            }else if(base.hasClass('special_tasks')){
                closestStep.find('.input-title').attr('name', 'special_tasks_target[' + counter + '][special_task_title]');
                closestStep.find('.input-amount').attr('name', 'special_tasks_target[' + counter + '][amount]').attr('data-parsley-type', 'digits');
            }
        }

        $(document).on('click', '.btn-clone', function (e) {
            e.preventDefault();
            var $this = $(this),
                    base = $this.closest('.base'),
                    $clone = base.find('.clone-step').clone();

            counter = counter > 0 ? counter + 1 : $('.step').length;

            if ($this.hasClass('clone-add')) {
                setClone($clone, counter, base);
                $clone.appendTo(base);

            }

            if ($this.hasClass('clone-remove')) {
                $(this).closest('.step').remove();
                if(base.find('.step').length == 0){
                    $clone.appendTo(base);
                    setClone($clone, counter, base);
                }
            }
        });

        $(document).on('change', '.input-amount, .select-product, .input-title', function(){
            var base = $(this).closest('.base'),
                    stepElement = base.find('.step'),
                    total = 0;

            $.each(stepElement, function(){
                var $val = $(this).find('.input-amount').val(),
                        amount;
                if(base.hasClass('focused_skus')){
                    if($(this).find('.select-product').val() == '' || $(this).find('.select-product').val() == null )
                        $val = 0;
                }else if(base.hasClass('special_tasks')){
                    if($(this).find('.input-title').val() == '' || $(this).find('.input-title').val() == null )
                        $val = 0;
                }
                amount = $val ? parseInt($val) : 0;
                total = total + amount;
            });

            if(base.hasClass('focused_skus')){
                $('#sku_amount').val(total);
            }else if(base.hasClass('special_tasks')){
                $('#special_task_amount').val(total);
            }
        });
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <style>
        select[multiple] {
            min-height: 200px;
        }
    </style>
{% endblock %}
{% block content %}
    {{ form_open(site_url('ami/kpi_target_in_sales_cycle/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: post.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">KPI Target In Sales Cycle</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/kpi_target_in_sales_cycle', id: post.id, permission: 'kpi_target_in_sales_cycle'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Sales cycle', 'sales_cycle_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('sales_cycle_id', range, post.sales_cycle_id, 'id="range_id" class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, post.armstrong_2_salespersons_id, 'class="form-control" id="salespersons_dropdown" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Turnover', 'turnover_target', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'turnover_target', value: post.turnover_target, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Touchpoint', 'touchpoint_target', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'touchpoint_target', value: post.touchpoint_target, class: 'form-control', 'data-parsley-required': 'true', 'data-parsley-type': 'digits'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Focused SKU', 'focused_skus_target', {class: 'control-label col-sm-3'}) }}
                <div class="base col-sm-9 focused_skus">
                    {% for index, sku in focus_skus %}
                        <div class="form-group step">
                            <div class="col-sm-5">
                                {{ form_dropdown('focused_skus_target['~ index ~'][sku_number]', products, sku.sku_number, 'class="form-control select-product"') }}
                            </div>
                            {{ form_label('Amount', 'amount', {class: 'control-label col-sm-1'}) }}
                            <div class="col-sm-2">
                                {{ form_input({name: 'focused_skus_target['~ index ~'][amount]', value: sku.amount, class: 'form-control input-amount', 'data-parsley-type': 'digits'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group step">
                            <div class="col-sm-5">
                                {{ form_dropdown('focused_skus_target[0][sku_number]', products, null, 'class="form-control select-product"') }}
                            </div>
                            {{ form_label('Amount', 'amount', {class: 'control-label col-sm-1'}) }}
                            <div class="col-sm-2">
                                {{ form_input({name: 'focused_skus_target[0][amount]', value: null, class: 'form-control input-amount', 'data-parsley-type': 'digits'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group clone-step hide">
                        <div class="col-sm-5">
                            {{ form_dropdown(null, products, null, 'class="form-control select-product"') }}
                        </div>
                        {{ form_label('Amount', 'amount', {class: 'control-label col-sm-1'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: null, value: null, class: 'form-control input-amount', 'data-parsley-type': 'digits'}) }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Special Tasks', 'special_tasks_target', {class: 'control-label col-sm-3'}) }}
                <div class="base col-sm-9 special_tasks">
                    {% for index, sku in special_tasks %}
                        <div class="form-group step">
                            <div class="col-sm-5">
                                {{ form_input({name: 'special_tasks_target['~ index ~'][special_task_title]', value: sku.special_task_title, class: 'form-control input-title'}) }}
                            </div>
                            {{ form_label('Amount', 'amount', {class: 'control-label col-sm-1'}) }}
                            <div class="col-sm-2">
                                {{ form_input({name: 'special_tasks_target['~ index ~'][amount]', value: sku.amount, class: 'form-control input-amount', 'data-parsley-type': 'digits'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group step">
                            <div class="col-sm-5">
                                {{ form_input({name: 'special_tasks_target[0][special_task_title]', value: null, class: "form-control input-title"}) }}
                            </div>
                            {{ form_label('Amount', 'amount', {class: 'control-label col-sm-1'}) }}
                            <div class="col-sm-2">
                                {{ form_input({name: 'special_tasks_target[0][amount]', value: null, class: 'form-control input-amount', 'data-parsley-type': 'digits'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group clone-step hide">
                        <div class="col-sm-5">
                            {{ form_input({name: null, value: sku.sku_number, class: "form-control input-title"}) }}
                        </div>
                        {{ form_label('Amount', 'amount', {class: 'control-label col-sm-1'}) }}
                        <div class="col-sm-2">
                            {{ form_input({name: null, value: null, class: 'form-control input-amount', 'data-parsley-type': 'digits'}) }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_input({name: 'focused_skus_amount_target', value: post.focused_skus_amount_target, type: 'hidden', class: 'hide', id: 'sku_amount'}) }}
    {{ form_input({name: 'special_tasks_amount_target', value: post.special_tasks_amount_target, type: 'hidden', class: 'hide', id: 'special_task_amount'}) }}
    {{ form_close() }}

    <link href="{{ site_url('res/css/jquery-confirm.min.css') }}" rel='stylesheet'
          type='text/css'>
    <script src="{{ site_url('res/js/jquery-confirm.min.js') }}"></script>
{% endblock %}