{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/kpi_target_in_sales_cycle/ajaxData') }}",*/
                "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
                'order': [[1, 'asc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/kpi_target_in_sales_cycle/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'KPI Settings Draft' : 'KPI In Sales Cycle Settings' }}</h1>
                <div class="text-right">
                    <div class="btn-group btn-header-toolbar">
                        <a class="btn btn-sm btn-warning" href="javascript:;" data-toggle="modal"
                           data-target="#upload_template" title="Upload Kpi Actual"><i
                                    class="fa fw fa-upload"></i> Upload Actual</a>
                        <a class="btn btn-sm btn-success" href="{{ site_url('ami/kpi_target_in_sales_cycle/add') }}"><i
                                    class="fa fw fa-plus"></i> Add</a>
                        <a class="hide" id="CheckAllBtn">
                            {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        {#Flash message#}
        {% if session_flash_message.message %}
            <div class="alert {{ session_flash_message.flash_type }} alert-dismissible col-lg-12" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <strong>{{ session_flash_message.message }}</strong>
            </div>
        {% endif %}
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'kpi_target_in_sales_cycle') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>ID</th>
                                <th>Name</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th class="nosort"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in data %}
                                <tr>
                                    {% if has_permission('delete', 'kpi_target_in_sales_cycle') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: post.id}) }}</td>
                                    {% endif %}
                                    <td><a href="{{ site_url('ami/kpi_target_in_sales_cycle/edit/' ~ post.id) }}"
                                           title="{{ post.armstrong_2_salespersons_id }}"
                                           data-toggle="ajaxModal">{{ post.armstrong_2_salespersons_id }}</a></td>
                                    <td>{{ post.first_name }} {{ post.last_name }}</td>
                                    <td class="center">{{ post.from_date }}</td>
                                    <td class="center">{{ post.to_date }}</td>
                                    <td class="center">{{ post.date_created }}</td>
                                    <td class="center">{{ post.last_updated }}</td>
                                    <td class="center text-center" style="min-width: 80px;">
                                        {% if has_permission('edit', 'kpi_target_in_sales_cycle') or has_permission('delete', 'kpi_target_in_sales_cycle') %}
                                            {% include 'ami/components/table_btn.html.twig' with {url: 'ami/kpi_target_in_sales_cycle', id: post.id, permission: 'kpi_target_in_sales_cycle'} %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% set paginationUrl = draft ? 'ami/kpi_target_in_sales_cycle/draft' : 'ami/kpi_target_in_sales_cycleƯ' %}
                                {{ pagination({base_url: site_url(paginationUrl), per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}
    <div class="modal fade" id="upload_template" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            {{ form_open(site_url('ami/kpi_target_in_sales_cycle/upload_template'), {class: 'modal-content', id: 'upload_form', enctype: 'multipart/form-data'}) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Upload Template</h3>
            </div>
            <div class="modal-body">
                {#<div class="row">#}
                <div class="col-sm-12">
                    <div class="form-group row">
                        {{ form_label('Date Range', 'range_id', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-9">
                            {{ form_dropdown('range_id', range, null, 'class="form-control" data-parsley-required="true"') }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label('File', 'file', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-9">
                            <input type="file" name="file">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-3">
                            <a href="{{ site_url('res/up/kpi_actual_in_sales_cycle_template.xlsx') }}" class="bg-info">Click here to download example template.</a>
                        </div>
                    </div>
                </div>
                {#</div>#}
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close
                </button>
                {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Proceed', class: 'btn btn-danger'}) }}
            </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}