{% extends 'ami/base.html.twig' %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/salespersons/ajaxData') }}",*/
                "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
                'order': [[1, 'asc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/newsfeed/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Newsfeed Draft' : 'Newsfeed' }}</h1>
                <div class="text-right">
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/newsfeed', icon: 'fa-list-alt', title: 'Newsfeed', permission: 'newsfeed'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'salespersons') %}
                                        <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    {% endif %}
                                    <th class="text-center">ID</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th class="nosort text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for newsfeed in newsfeeds %}
                                    <tr>
                                        {% if has_permission('delete', 'newsfeed') %}
                                            <td class="text-center">{{ form_checkbox({name: 'ids[]', value: newsfeed.id}) }}</td>
                                        {% endif %}
                                        <td class="text-center"><a href="{{ site_url('ami/newsfeed/edit/' ~ newsfeed.id) }}" title="{{ newsfeed.id }}" data-toggle="ajaxModal">{{ newsfeed.id }}</a></td>
                                        <td>{{ newsfeed.title }}</td>
                                        <td>{{ newsfeed.type }}</td>
                                        <td>{{ newsfeed.date_created }}</td>
                                        <td>{{ newsfeed.last_updated }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'newsfeed') or has_permission('delete', 'newsfeed') %}
                                                {% include 'ami/components/table_btn.html.twig' with {url: 'ami/newsfeed', id: newsfeed.id, permission: 'newsfeed'} %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% set paginationUrl = draft ? 'ami/newsfeed/draft' : 'ami/newsfeeds' %}
                                {{ pagination({base_url: site_url(paginationUrl), per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}