{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ site_url('res/js/salespersons.js') }}"></script>
<script type="text/javascript">
$(function() {
    $('.datepicker').datetimepicker({
        format: 'YYYY-MM-DD'
    });
    $('#InputCustomers').autocomplete({
            // source: "{{ site_url('ami/customers/tokenfield?salespersons=') }}" + $('#SelectSalesperson').find(":selected").val(),
            source: function(request, response) {
                $.ajax({
                    url: "{{ site_url('ami/master_template/tokenfield') }}",
                    dataType: "json",
                    data: {
                        term : request.term,
                        salespersons : $('#SelectSalesperson').find(":selected").val(),
                        action : 'master_template'
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            delay: 100,
            select: function( event, ui ) {
                event.preventDefault();
                $(this).val(ui.item.label);
                $('#InputCustomersId').val(ui.item.value);
            }
        }).on('focus', function() {
            this.select();
        });

    });
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/route_plan/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {armstrong_2_route_plan_id: plan.armstrong_2_route_plan_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Route Plan</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/route_plan', id: null, permission: 'route_plan'} %}
                </div>
                <div class="clearfix"></div>
            </div>              
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">            
                <div class="form-group">
                    {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('armstrong_2_salespersons_id', salespersons, plan.armstrong_2_salespersons_id, '
                            class="form-control" 
                            data-parsley-required="true" 
                            id="SelectSalesperson" 
                            data-url="' ~ site_url('ami/salespersons/fetch_customer') ~ '"
                        ') }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Customer', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {#{{ form_dropdown('armstrong_2_customers_id', customers, plan.armstrong_2_customers_id, '#}
                            {#class="form-control" #}
                            {#data-parsley-required="true" #}
                            {#id="SelectCustomer"#}
                        {#') }}#}
                        {{ form_input({name: 'armstrong_2_customers_id_',
                            'class': 'form-control',
                            'id': 'InputCustomers',
                            'data-parsley-required' : 'true'
                        }) }}
                        <input type="hidden" name="armstrong_2_customers_id" id="InputCustomersId" value="{{ template.armstrong_2_customers_id }}" />
                    </div>
                </div> 

                <div class="form-group">
                    {{ form_label('Planned Date', 'planned_date', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'planned_date', value: plan.planned_date, class: 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Shifted Date', 'shifted_date', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'shifted_date', value: plan.shifted_date, class: 'form-control datepicker'}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Status', 'route_status_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('route_status_id', status, plan.route_status_id, 'class="form-control" data-parsley-required="true"') }}
                    </div>
                </div>
        </div>
    </div> 

    {{ form_close() }}   
{% endblock %}