{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<!-- DataTables JavaScript -->
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ site_url('res/js/call_modules.js') }}"></script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/route_plan/update'), {class: draft ? 'form-horizontal' : 'form-horizontal submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Route Plan Draft' : 'Route Plan' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/route_plan', icon: 'fa-calendar', title: 'Route Plan', permission: 'route_plan'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">                        
            {# <div class="form-group">                
                <div class="col-sm-3 col-sm-offset-3">
                    {{ form_label('Date From', 'start_date', {'class': 'control-label'}) }}
                    {{ form_input({name: 'start_date', value: null, 
                        'class': 'form-control datetimepicker',
                        'id': 'InputStartDate',
                        'data-date-format': 'YYYY-MM-DD',
                    }) }}
                </div>

                <div class="col-sm-3">
                    {{ form_label('Date To', 'end_date', {'class': 'control-label'}) }}
                    {{ form_input({name: 'end_date', value: null, 
                        'class': 'form-control datetimepicker',
                        'id': 'InputEndDate',
                        'data-date-format': 'YYYY-MM-DD',
                    }) }}
                </div>
            </div> #}

            {% if salespersons|length > 1 %}
                <div class="form-group">
                    {{ form_label('Salespersons', 'salespersons', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('salespersons', salespersons, null, 'id="SalespersonsSelector" class="form-control select-multiple" data-parsley-required="true" multiple') }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Date Time', 'date_time', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'date_time', value: null, 
                        class: 'form-control',
                        'id': 'InputDateRange'
                    }) }}
                </div>

                <input type="hidden" id="InputStartDate" value="" />
                <input type="hidden" id="InputEndDate" value="" />
            </div>

            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="#" class="btn btn-primary" id="Generate" 
                        data-url="{{ site_url('ami/route_plan/plans') }}"
                        data-container="#PlansContainer"
                        data-draft="{{ draft ? 1 : 0 }}">Generate</a>
                </div>
            </div>

            <div id="PlansContainer"></div>
        
        </div>
    </div>
    
    {{ form_close() }}

{% endblock %}