{% if plans %} 
    <div class="panel panel-default">                
                    
        <div class="panel-body">      

            <div class="">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            {% if has_permission('delete', 'route_plan') %}
                                <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                            {% endif %}
                            <th>ID</th>
                            <th>Salesperson Name</th>
                            <th>Operator</th>
                            <th>Planned Date</th>
                            <th>Shifted Date</th>
                            <th>Created</th>
                            <th class="nosort text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans %}
                            <tr>
                                {% if has_permission('delete', 'route_plan') %}
                                    <td class="text-center">{{ form_checkbox({name: 'ids[]', value: plan.armstrong_2_route_plan_id}) }}</td>
                                {% endif %}
                                <td><a href="{{ site_url('ami/route_plan/edit/' ~ plan.armstrong_2_route_plan_id) }}" title="{{ plan.armstrong_2_route_plan_id }}" data-toggle="ajaxModal">{{ plan.armstrong_2_route_plan_id }}</a></td>
                                <td>{{ plan.armstrong_2_salespersons_id }} - {{ plan.first_name }} {{ plan.last_name }}</td>
                                <td>{{ plan.armstrong_2_customers_id }} - {{ plan.armstrong_2_customers_name }}</td>
                                <td class="text-center">{{ plan.planned_date }}</td>
                                <td class="text-center">{{ plan.shifted_date }}</td>
                                <td class="text-center">{{ plan.date_created }}</td>
                                <td class="text-center" style="min-width: 80px;">
                                    {% if has_permission('edit', 'route_plan') or has_permission('delete', 'route_plan') %}
                                        {% include 'ami/components/table_btn.html.twig' with {url: 'ami/route_plan', id: plan.armstrong_2_route_plan_id, permission: 'route_plan'} %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script>
    $(function() {

        // $('#dataTables').dataTable.destroy();

        $('#dataTables').dataTable({
            "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
            'order': [[1, 'asc']],
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });        
    });  
    </script>
{% else %}
    <div class="col-sm-6 col-sm-offset-3">There are no route plan</div>
{% endif %}