<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ plan.armstrong_2_route_plan_id }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                <div class="list-group">

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-user pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Customer</h4>
                            <p class="list-group-item-text">{{ customers[plan.armstrong_2_customers_id] }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-user pull-left"></i>
                        <div class="m-l-xl">                          
                            <h4 class="list-group-item-heading text-muted">Salespersons</h4>
                            <p class="list-group-item-text">{{ salespersons[plan.armstrong_2_salespersons_id] }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-calendar pull-left"></i>
                        <div class="m-l-lg">                        
                            <h4 class="list-group-item-heading text-muted">Planned Date</h4>
                            <p class="list-group-item-text">{{ plan.planned_date }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-calendar pull-left"></i>
                        <div class="m-l-lg">                        
                            <h4 class="list-group-item-heading text-muted">Shifted Date</h4>
                            <p class="list-group-item-text">{{ plan.shifted_date }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-exclamation pull-left"></i>
                        <div class="m-l-lg">                        
                            <h4 class="list-group-item-heading text-muted">Status</h4>
                            <p class="list-group-item-text">{{ status[plan.route_status_id] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'route_plan') %}
                {{ html_btn(site_url('ami/route_plan/edit/' ~ plan.armstrong_2_route_plan_id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>