{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}

<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script src="{{ site_url('res/js/bootbox.min.js') }}"></script>
<script src="{{ site_url('res/js/numeral.js') }}"></script>
<script src="{{ site_url('res/js/moment.min.js') }}"></script>
<script src="{{ site_url('res/js/jquery.ajax-progress.js') }}"></script>

<script>
$(document).ready(function() {
    $('.dataTables').dataTable({
        'order': [[0, 'asc']],
        'aoColumnDefs': [{
            'aTargets': ['nosort']
        }],
        "iDisplayLength": 20
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
<style>
.error {
    color: #ff0000;
    font-weight: bold;
    text-align: left;
}
</style>
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/promotions/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ module_title }} - {{ app_type_title }}</h1>
                <div class="text-right">
                    <div class="btn-group btn-header-toolbar">
                        <a href="{{ site_url('ami/media_archive/pull') }}" class="btn btn-sm btn-success app_type pull {{ app_type_pull_button_state }}" title="Pull" data-app-type="0">PULL</a>
                        <a href="{{ site_url('ami/media_archive/push') }}" class="btn btn-sm btn-warning app_type push {{ app_type_push_button_state }}" title="Push" data-app-type="1">PUSH</a>
                        <a href="{{ site_url('ami/media_archive/sl') }}" class="btn btn-sm btn-primary app_type sl {{ app_type_sl_button_state }}" title="SL" data-app-type="2">SL</a>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="panel panel-default m-t"> 
                                
                <div class="panel-body tab-content">                
                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th title="Country ID">#</th>
                                    <th class="text-center">Country</th>
                                    <th class="text-center">Size</th>
                                    <th class="text-center">Last Archive</th>
                                    <!-- <th class="text-center">On Queue</th> -->
                                    <th class="nosort text-center"><!-- buttons --></th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for archive in media_archive %}    
                                    <tr class="archive-row {{archive.id}}">
                                        <td class="text-center">{{ archive.id }}</td>
                                        <td><img src="{{ site_url('res/img/flags') }}/{{ archive.code }}.png"> {{ archive.name }}</td>
                                        <td class="text-center size">{{ archive.size }}</td>
                                        <td class="text-center">
                                                <span class="date-last-archive">{{ archive.updated_at }}</span>
                                                <br><small>{{ archive.time_zone }} {{ archive.gmt }}</small>
                                        </td>
                                        <!-- <td class="text-center">-</td> -->
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-default archive" title="Archive" data-country-id="{{archive.id}}"><i class="fa fa-archive"></i></a>
                                                <a href="#" class="btn btn-default download" title="Download" data-country-id="{{archive.id}}"><i class="fa fa-download"></i></a>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span class="status error" style="display: none;"></span>
                                            <img class="loader" src="{{ site_url('res/img/loader.gif') }}" style="display: none;">
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                </div>            
            </div>
        </div>
    </div>

    {{ form_close() }}
    
<script>
    $(document).ready(function () {
        (function(){
            var format = {
                data: function(elem) {
                    $(elem, this).each(function(i){
                        var size = $(this).find('.size').text();

                        if (size != 'NA') {
                            $(this).find('.size').html(numeral(size).format('0 b'))
                        }
                        
                        var date = $(this).find('.date-last-archive').text();

                        if (date != 'NA') {
                            $(this).find('.date-last-archive').html(moment(date).format('DD-MMM-YYYY, hh:mm a'));
                        }
                    });
                }
            };

            format.data($('.archive-row'));

            var app_type = $('.app_type.active').data('appType');

            $('.archive').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();

                var country_id = $(this).data('countryId'),
                    row = '.archive-row.' + country_id + ' ';

                $(row + '.loader').show();
                $(row + '.archive').addClass('active');

                // $.ajax({
                //     url : "{{ site_url('ami/media_archive/archive') }}",
                //     data : { country_id: country_id, app_type: app_type},
                //     dataType: "json",
                //     type: "POST",
                //     success : function(data) {
                //         $(row + '.archive').removeClass('active');

                //         if (data.isSuccess) {
                //             setTimeout(function(){
                //                 // window.location = window.location.href; // refresh
                //             }, 2000);
                //         } else {
                //             $('.loader').hide();
                //             $(row + '.status.error').html(data.message).fadeIn();

                //             setTimeout(function(){
                //                 $(row + '.status.error').hide();
                //             }, 2000);
                //         }
                //     }
                // });

                $.ajax({
                    method: 'POST',
                    url: "{{ site_url('ami/media_archive/archive') }}",
                    data : { country_id: country_id, app_type: app_type},
                    dataType: 'json',
                    success : function(data) {
                        $(row + '.archive').removeClass('active');

                        if (data.isSuccess) {
                            setTimeout(function(){
                                // window.location = window.location.href; // refresh
                            }, 2000);
                        } else {
                            $('.loader').hide();
                            $(row + '.status.error').html(data.message).fadeIn();

                            setTimeout(function(){
                                $(row + '.status.error').hide();
                            }, 2000);
                        }
                    },
                    error: function() { },
                    progress: function(e) {
                        //make sure we can compute the length
                        if(e.lengthComputable) {
                            //calculate the percentage loaded
                            var pct = (e.loaded / e.total) * 100;

                            //log percentage loaded
                            console.log(pct);
                        }
                        //this usually happens when Content-Length isn't set
                        else {
                            console.warn('Content Length not reported!');
                        }
                    }
                });
            });

            $('.download').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();

                var country_id = $(this).data('countryId'),
                    row = '.archive-row.' + country_id + ' ';

                $(row + '.loader').show();

                $.ajax({
                    url : "{{ site_url('ami/media_archive/isArchiveExist') }}",
                    data : { country_id: country_id, app_type: app_type},
                    dataType: "json",
                    type: "POST",
                    success : function(data) {
                        if (data.isSuccess) {
                            setTimeout(function(){
                                $('.loader').hide();

                                var url = "{{ site_url('ami/media_archive/download') }}",
                                    path = url + '?country_id=' + country_id + '&app_type=' + app_type;
                                window.location = path;
                            }, 2000);
                        } else {
                            $('.loader').hide();
                            $(row + '.status.error').html(data.message).fadeIn();

                            setTimeout(function(){
                                $(row + '.status.error').hide();
                            }, 2000);
                        }
                    }
                });
            });
        })();
        console.clear();
    });
</script>
{% endblock %}
