{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/jquery-number/jquery.number.min.js') }}"></script>
    <script src="{{ site_url('res/js/salespersons.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ site_url('res/js/stop_key.js') }}"></script>
    <script>

    function initProductAutocomplete(destroy) {

        if (destroy) {
            $('.product-tokenfield').autocomplete("destroy");
        }

        $('.product-tokenfield').autocomplete({
            source: "{{ site_url('ami/products/tokenfield') }}",
            delay: 100,
            select: function (event, ui) {
                event.preventDefault();
                var $this = $(this),
                        $base = $this.closest('.sku-base'),
                        $input = $base.find('.InputProductId'),
                        price = ui.item.price || 0,
                        pcsPrice = ui.item.pcsprice || 0,
                        $qtyCase = $base.find('.qty-case'),
                        $qtyPcs = $base.find('.qty-pcs'),
                        qtyCase = parseInt($qtyCase.val()) || 0,
                        qtyPcs = parseInt($qtyPcs.val()) || 0,
                        $subtotal = $base.find('.subtotal');

                if (price && pcsPrice) {
                    var subtotal = (price * qtyCase + pcsPrice * qtyPcs);
                    $subtotal.val($.number(subtotal, 2));

                    caculateTotal();
                }

                $this.val(ui.item.label);
                $input.val(ui.item.value)
                        .attr('data-price', price)
                        .attr('data-pcsprice', pcsPrice);
            }
        }).on('focus', function () {
            this.select();
        });
    }

    function caculateTotal() {
        var $total = $('#total'),
        //total = $.number($total.data('total'), 2) || 0;
                total = 0;

        $('.subtotal').each(function () {
            var $this = $(this).number(true, 2);

            total += $this.val() * 1;
        });

        if ($total.data('init')) {
            $total.data('init', 0);
        }
        else {
            $total.val($.number(total, 2));
        }
    }


    $(function () {
        document.onkeypress = stopRKey;
        $(document).on('click', '.btn-clone', function (e) {
            e.preventDefault();

            var $this = $(this),
                    $clone = $(this).closest('.sku-base').clone(),
                    nextCounter = $('.product-tokenfield').length;

            $clone.find('.hide').removeClass('hide').show();

            if ($this.hasClass('clone-add')) {
                $new = $clone.clone();

                $new.find('input[name], select[name]').each(function () {
                    var $this = $(this);
                    $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, '[' + nextCounter + ']'));

                    if ($this.is('input:text')) {
                        $this.val('');
                    }
                    else {
                        $this.val(0);
                    }
                });

                $new.appendTo($('#sku-base-block'));
            }

            if ($this.hasClass('clone-remove')) {
                $(this).closest('.sku-base').remove();

                caculateTotal();
            }

            initProductAutocomplete();
        });

        initProductAutocomplete();

        $('.datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD'
        });

        $('#InputWholesalers').autocomplete({
            source: "{{ site_url('ami/wholesalers/tokenfield') }}",
            delay: 100,
            select: function (event, ui) {
                event.preventDefault();
                $(this).val(ui.item.label);
                $('#InputWholesalersId').val(ui.item.value);

                $('#InputDistributors').val('');
                $('#InputDistributorsId').val('');
            }
        }).on('focus', function () {
            this.select();
        });

        $('#InputDistributors').autocomplete({
            source: "{{ site_url('ami/distributors/tokenfield') }}",
            delay: 100,
            select: function (event, ui) {
                event.preventDefault();
                $(this).val(ui.item.label);
                $('#InputDistributorsId').val(ui.item.value);

                $('#InputWholesalers').val('');
                $('#InputWholesalersId').val('');
            }
        }).on('focus', function () {
            this.select();
        });

        $('#InputCallRecords').autocomplete({
            source: "{{ site_url('ami/call_records/tokenfield') }}",
            delay: 100,
            select: function (event, ui) {
                event.preventDefault();
                $(this).val(ui.item.label);
                $('#InputCallRecordsId').val(ui.item.value);
            }
        }).on('focus', function () {
            this.select();
        });

        $('#InputCustomers').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{{ site_url('ami/master_template/tokenfield') }}",
                    dataType: "json",
                    data: {
                        term: request.term,
                        salespersons: $('#SelectSalesperson').find(":selected").val()
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            delay: 100,
            select: function (event, ui) {
                event.preventDefault();
                $(this).val(ui.item.label);
                $('#InputCustomersId').val(ui.item.value);
            }
        }).on('focus', function () {
            this.select();
        });

        $('#SelectSalesperson').on('change', function () {
            $("#InputCustomers").autocomplete("search", "");
        });

        $.listen('parsley:form:validate', function (formInstance) {

            window.ParsleyUI.removeError($('#InputWholesalers').parsley(), 'required', 'Either this value or Distributor value is required');
            window.ParsleyUI.removeError($('#InputDistributors').parsley(), 'required', 'Either this value or Wholesaler value is required');

            if (!$('#InputWholesalers').val() && !$('#InputDistributors').val()) {

                window.ParsleyUI.addError($('#InputWholesalers').parsley(), 'required', 'Either this value or Distributor value is required');
                window.ParsleyUI.addError($('#InputDistributors').parsley(), 'required', 'Either this value or Wholesaler value is required');

                formInstance.submitEvent.preventDefault();
            }
        });

        $(document).on('change input', '.qty-case, .qty-pcs', function (e) {
            var $this = $(this),
                    $base = $this.closest('.sku-base'),
                    $input = $base.find('.InputProductId'),
                    price = $input.data('price') || 0,
                    pcsPrice = $input.data('pcsprice') || 0,
                    $qtyCase = $base.find('.qty-case'),
                    $qtyPcs = $base.find('.qty-pcs'),
                    qtyCase = parseInt($qtyCase.val()) || 0,
                    qtyPcs = parseInt($qtyPcs.val()) || 0,
                    $subtotal = $base.find('.subtotal');

            if (price && pcsPrice) {
                var subtotal = (price * qtyCase + pcsPrice * qtyPcs);
                $subtotal.val($.number(subtotal, 2));

                caculateTotal();
            }
        });

        {% if tfo.products_array %}
        $('.product-tokenfield').each(function () {
            var $this = $(this),
                    $base = $this.closest('.sku-base'),
                    $input = $base.find('.InputProductId'),
                    price = $input.data('price') || 0,
                    pcsPrice = $input.data('pcsprice') || 0,
                    $qtyCase = $base.find('.qty-case'),
                    $qtyPcs = $base.find('.qty-pcs'),
                    qtyCase = parseInt($qtyCase.val()) || 0,
                    qtyPcs = parseInt($qtyPcs.val()) || 0,
                    $subtotal = $base.find('.subtotal');

            if (price && pcsPrice) {
                var subtotal = (price * qtyCase + pcsPrice * qtyPcs);
                $subtotal.val($.number(subtotal, 2));

                caculateTotal();
            }
        });
        {% endif %}

        $(document).on('change input', 'input[name="sku_number_"], input[name="armstrong_2_customers_id_"], input[name="armstrong_2_wholesalers_id_"], input[name="armstrong_2_distributors_id_"], input[name="armstrong_2_call_records_id_"]', function (e) {
            var $this = $(this),
                    input_hidden = $this.closest('div').find('input[type="hidden"]');
            input_hidden.val($this.val());
        })

    });

    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/tfo/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {armstrong_2_tfo_id: tfo.armstrong_2_tfo_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Tfo</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/tfo', id: tfo.armstrong_2_tfo_id, permission: 'tfo'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, tfo.armstrong_2_salespersons_id, '
                            class="form-control" 
                            data-parsley-required="true" 
                            id="SelectSalesperson" 
                            data-url="' ~ site_url('ami/salespersons/fetch_customer') ~ '"
                        ') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Customer', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_2_customers_id_', value: customers[tfo.armstrong_2_customers_id],
                    'class': 'form-control',
                    'id': 'InputCustomers',
                    'data-parsley-required':'true'
                    }) }}
                    <input type="hidden" name="armstrong_2_customers_id" id="InputCustomersId"
                           value="{{ tfo.armstrong_2_customers_id }}"/>
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Wholesaler', 'armstrong_2_wholesalers_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {# {{ form_dropdown('armstrong_2_wholesalers_id', wholesalers, tfo.armstrong_2_wholesalers_id, 'class="form-control" data-parsley-required="true"') }} #}
                    {{ form_input({name: 'armstrong_2_wholesalers_id_', value: wholesalers[tfo.armstrong_2_wholesalers_id],
                    'class': 'form-control',
                    'id': 'InputWholesalers'
                    }) }}
                    <input type="hidden" name="armstrong_2_wholesalers_id" id="InputWholesalersId" value="{{ tfo.armstrong_2_wholesalers_id }}"/>
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Distributor', 'armstrong_2_distributors_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {# {{ form_dropdown('armstrong_2_distributors_id', distributors, tfo.armstrong_2_distributors_id, 'class="form-control" data-parsley-required="true"') }} #}
                    {{ form_input({name: 'armstrong_2_distributors_id_', value: distributors[tfo.armstrong_2_distributors_id], 'class': 'form-control',
                    'id': 'InputDistributors'
                    }) }}
                    <input type="hidden" name="armstrong_2_distributors_id" id="InputDistributorsId"
                           value="{{ tfo.armstrong_2_distributors_id }}"/>
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Call Record', 'armstrong_2_call_records_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {# {{ form_dropdown('armstrong_2_call_records_id', call_records, tfo.armstrong_2_call_records_id, 'class="form-control"') }} #}
                    {{ form_input({name: 'armstrong_2_call_records_id_', value: tfo.armstrong_2_call_records_id,
                    'class': 'form-control',
                    'id': 'InputCallRecords'
                    }) }}
                    <input type="hidden" name="armstrong_2_call_records_id" id="InputCallRecordsId"
                           value="{{ tfo.armstrong_2_call_records_id }}"/>
                </div>
            </div>

            {% set productTitle = session.country_id in [3, 6] ? 'name_alt' : 'sku_name' %}
            {% for key,tfo_product in tfo.products_array %}
                <div class="form-group sku-base">
                    {{ form_label('Product', 'products', {class: 'control-label col-sm-3'}) }}
                    <input type="hidden" value="{{ tfo_product|json_encode }}" name="products[{{ key }}][productencode]">
                    <div class="col-sm-6">
                        {# <select name="products[{{ key }}][sku_number]" class="form-control product-select">
                            <option value="0">- Select -</option>
                            {% for product in products %}
                                <option value="{{ product.sku_number }}" data-price="{{ product.price }}" data-pcsprice="{{ (product.price / product.quantity_case) }}" class="product-option" {{ product.sku_number == tfo_product.sku_number ? 'selected' : ''}}>{{ product.sku_number }} - {{ session.country_id in [3, 6] ? product.name_alt : product.sku_name }} ({{ product.quantity_case }}x{{ product.weight_pc }}) - {{ product.price|number_format(2) }}</option>
                            {% endfor %}
                        </select> #}

                        {{ form_input({name: 'sku_number_', value: (products[tfo_product.sku_number]) ? get_product_label(products[tfo_product.sku_number], productTitle) : '',
                        'class': 'form-control product-tokenfield',
                        }) }}
                        <input type="hidden" name="products[{{ key }}][sku_number]" class="InputProductId"
                               value="{{ tfo_product.sku_number }}"
                               data-price="{{ products[tfo_product.sku_number].price }}"
                               data-pcsprice="{{ (products[tfo_product.sku_number].price > 0 and products[tfo_product.sku_number].quantity_case > 0) ? (products[tfo_product.sku_number].price / products[tfo_product.sku_number].quantity_case) : 0 }}"/>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-clone clone-add hide"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i></button>
                    </div>
                    {% if session.country_id in [2, 9] %}
                        <div class="col-sm-offset-3 col-sm-9 m-t no-parsley checkbox">
                            <label>
                                <input class="new-sku {{ tfo_product.newSKU }}" {% if tfo_product.newSKU~'' == 'true' or tfo_product.newSKU~'' == '1' %}checked="checked"{% endif %} type="checkbox" name="products[{{ key }}][newSKU]"> NEW SKU
                            </label>
                        </div>
                    {% endif %}
                    <div class="col-sm-offset-3 col-sm-9 m-t no-parsley">
                        Qty
                        case {{ form_input({name: 'products[' ~ key ~ '][qty_case]', value: tfo_product.qty_case, class: 'form-control sub-input qty-case', 'maxlength': 3}) }}
                        &nbsp;
                        Qty
                        pcs {{ form_input({name: 'products[' ~ key ~ '][qty_piece]', value: tfo_product.qty_piece, class: 'form-control sub-input qty-pcs', 'maxlength': 3}) }}
                        &nbsp;
                        Free
                        case {{ form_input({name: 'products[' ~ key ~ '][free_case]', value: tfo_product.free_case, class: 'form-control sub-input', 'maxlength': 3}) }}
                        &nbsp;
                        Free
                        pcs {{ form_input({name: 'products[' ~ key ~ '][free_piece]', value: tfo_product.free_piece, class: 'form-control sub-input', 'maxlength': 3}) }}
                        &nbsp;
                        Subtotal {{ form_input({name: 'products['~ key ~'][price]', class: 'form-control sub-input subtotal', 'readonly': 'readonly'}) }}
                    </div>
                </div>
            {% endfor %}

            {% if products %}
                {% set counter = tfo.products_array|length %}
                <div class="form-group sku-base">
                    {{ form_label('Product', 'products', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {# <select name="products[{{ counter }}][sku_number]" class="form-control product-select">
                            <option value="0">- Select -</option>
                            {% for product in products %}
                                <option value="{{ product.sku_number }}" data-price="{{ product.price }}" data-pcsprice="{{ (product.price / product.quantity_case) }}" class="product-option">{{ product.sku_number }} - {{ session.country_id in [3, 6] ? product.name_alt : product.sku_name }} ({{ product.quantity_case }}x{{ product.weight_pc }}) - {{ product.price|number_format(2) }}</option>
                            {% endfor %}
                        </select> #}
                        {{ form_input({name: 'sku_number_', value: null,
                        'class': 'form-control product-tokenfield',
                        }) }}
                        <input type="hidden" name="products[{{ counter }}][sku_number]" class="InputProductId" value=""
                               data-price="0" data-pcsprice="0"/>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-default btn-clone clone-remove hide"><i class="fa fa-minus"></i></button>
                    </div>
                    {% if session.country_id in [2, 9] %}
                        <div class="col-sm-offset-3 col-sm-9 m-t no-parsley checkbox">
                            <label>
                                <input class="new-sku" type="checkbox" name="products[{{ counter }}][newSKU]"> NEW SKU
                            </label>
                        </div>
                    {% endif %}
                    <div class="col-sm-offset-3 col-sm-9 m-t no-parsley">
                        {% if function_method == 'add' %}
                            Qty case {{ form_input({name: 'products[' ~ counter ~ '][qty_case]', class: 'form-control sub-input qty-case', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp;
                            Qty pcs {{ form_input({name: 'products[' ~ counter ~ '][qty_piece]', class: 'form-control sub-input qty-pcs', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp;
                        {% else %}
                            Qty case {{ form_input({name: 'products[' ~ counter ~ '][qty_case]', class: 'form-control sub-input qty-case', 'maxlength': 3}) }}&nbsp;
                            Qty pcs {{ form_input({name: 'products[' ~ counter ~ '][qty_piece]', class: 'form-control sub-input qty-pcs', 'maxlength': 3}) }}&nbsp;
                        {% endif %}
                        Free
                        case {{ form_input({name: 'products[' ~ counter ~ '][free_case]', class: 'form-control sub-input', 'maxlength': 3}) }}
                        &nbsp;
                        Free
                        pcs {{ form_input({name: 'products[' ~ counter ~ '][free_piece]', class: 'form-control sub-input', 'maxlength': 3}) }}
                        &nbsp;
                        Subtotal {{ form_input({name: '', class: 'form-control sub-input subtotal', 'readonly': 'readonly'}) }}
                    </div>
                </div>
                <div id="sku-base-block"></div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Total', 'total', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'total', value: tfo.total, class: 'form-control', 'id': 'total', 'readonly': 'readonly', 'data-total': tfo.total, 'data-init': 1}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Method', 'method', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('method', tfo_method, tfo.method, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Delivery Date', 'delivery_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'delivery_date', value: Carbon.parse(tfo.delivery_date).toDateString(),
                    'class': 'form-control datetimepicker'
                    }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Remarks', 'remarks', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'remarks', value: tfo.remarks, class: 'form-control', 'rows': 3}) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}