<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ tfo.armstrong_2_tfo_id }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                <div class="list-group">
                    {% if tfo.customer %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-group pull-left"></i>
                            <div class="m-l-xl">                        
                                <h4 class="list-group-item-heading text-muted">Customer</h4>
                                <p class="list-group-item-text">{{ tfo.customer.armstrong_2_customers_id }} - {{ tfo.customer.armstrong_2_customers_name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if tfo.salesperson %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-male pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Salesperson</h4>
                                <p class="list-group-item-text">{{ tfo.salesperson.armstrong_2_salespersons_id }} - {{ tfo.salesperson.first_name }} {{ tfo.salesperson.last_name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if tfo.wholesaler %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-shopping-cart pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Wholesaler</h4>
                                <p class="list-group-item-text">{{ tfo.wholesaler.armstrong_2_wholesalers_id }} - {{ tfo.wholesaler.name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if tfo.distributor %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-bus pull-left"></i>
                            <div class="m-l-xl">
                                <h4 class="list-group-item-heading text-muted">Distributor</h4>
                                <p class="list-group-item-text">{{ tfo.distributor.armstrong_2_distributors_id }} - {{ tfo.distributor.name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if tfo.call_record %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-file-text-o pull-left"></i>
                            <div class="m-l-xl">
                                <h4 class="list-group-item-heading text-muted">Call record</h4>
                                <p class="list-group-item-text">{{ tfo.call_record.armstrong_2_call_records_id }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if tfo.products_array %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-shopping-cart pull-left"></i>
                            <div class="m-l-xl">
                                <h4 class="list-group-item-heading text-muted">Products</h4>
                                {% set productTitle = session.country_id in [3, 6] ? 'name_alt' : 'sku_name' %}
                                {% for key,tfo_product in tfo.products_array %}
                                  {{ tfo_product.sku_number }} -
                                    {{ get_product_label(products[tfo_product.sku_number], productTitle) }}
                                    <br>
                                    Quantity Pieces: {{ tfo_product.qty_piece }}
                                    Quantity Case: {{ tfo_product.qty_case }}
                                    Free Pieces: {{ tfo_product.free_piece }}
                                    Free Case: {{ tfo_product.free_case }}
                                    <br><br>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'tfo') %}
                {{ html_btn(site_url('ami/tfo/edit/' ~ tfo.armstrong_2_tfo_id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>