{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/jquery.signaturepad.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script>
        function removeRequireInput(input){
            $('#InputCustomers').removeAttr('data-parsley-required');
            $('#InputWholesalers').removeAttr('data-parsley-required');
            $('#InputDistributors').removeAttr('data-parsley-required');
            input.attr('data-parsley-required', "true");
        }
        $(function () {
            createUploader($('#imageUpload'));

            $('#InputCustomers').autocomplete({
                source: "{{ site_url('ami/potential_customers/tokenfield') }}",
                delay: 100,
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    removeRequireInput($(this));
                    $('#InputCustomersId').val(ui.item.value);
                    $('#InputDistributors').val('');
                    $('#InputDistributorsId').val('');
                    $('#InputWholesalers').val('');
                    $('#InputWholesalersId').val('');
                    check_primary_contact();
                }
            }).on('focus', function () {
                this.select();
            });


            $.listen('parsley:form:validate', function (formInstance) {

                if (!$('#InputWholesalers').val()
                        && !$('#InputDistributors').val()
                        && !$('#InputCustomers').val()
                ) {
                    // window.ParsleyUI.addError($('.parsley-need-one').parsley(), 'name', 'message');
                    formInstance.submitEvent.preventDefault();
                }
            });
            check_primary_contact();
        });

        function check_primary_contact() {
            var val = $('#InputCustomers').val();
            if (val) {
                $.ajax({
                    url: "{{ site_url('ami/potential_contacts/check_primary_contact') }}",
                    data: {customers_id: val},
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        if (res == true) {
                            $('#cusAlert').html('');
                        } else {
                            $('#cusAlert').html('This Customer has\'nt got contact primary !');
                        }
                    }
                });
            }
        }

        $(document).ready(function () {
            {% if session.country_id in [1] %}
            var canvas = document.getElementById("theCanvas"),
                    sigInput = $('input[name="signature_base64"]'),
                    signature;

            {% if contacts.signature_base64 == '' %}
            $('.show-sig').hide();
            $('#smoothed').show();
            canvas.width = $("#smoothed").width() - 4;
            signature = $('#smoothed').signaturePad({
                drawOnly: false,
                lineTop: 220,
                lineColour: '#111',
                lineWidth: 1,
                autoscale: true,
                drawBezierCurves: true
            });
            {% else %}
            $('.show-sig').show();
            $('#smoothed').hide();
            {% endif %}
            $('.changeButton').click(function () {
                $('.show-sig').hide();
                $('#smoothed').show();
                canvas.width = $("#smoothed").width() - 4;
                signature = $('#smoothed').signaturePad({
                    lineTop: 220,
                    lineColour: '#111',
                    lineWidth: 1,
                    autoscale: true,
                    drawBezierCurves: true
                });
            });

            $('button[type="submit"]').click(function (e) {
                e.preventDefault();
                if ($('.output').val()) {
                    var signatureimg = signature.getSignatureImage();
                    signatureimg = signatureimg.replace('data:image/png;base64,', '');
                    sigInput.val(signatureimg);
                } else {
                    sigInput.val('{{ contacts.signature_base64 }}');
                }
                $('.contact-form').submit();
            });
            {% endif %}
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/jquery.signaturepad.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}"/>
    <style>
        #theCanvas, .show-sig img {
            border-radius: 10px;
            border: 2px solid orange;
        }

        .sigPad {
            width: 100%;
        }

        .sigWrapper {
            border: none;
        }

        .show-sig img {
            width: 100%;
        }

        .changeButton {
            display: list-item;
            bottom: 0.2em;
            position: absolute;
            right: 0;
            font-size: 0.75em;
            line-height: 1.375;

        }
    </style>
{% endblock %}

{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/potential_contacts/save'), {class: 'form-horizontal contact-form', 'data-parsley-validate': 'true'}, {'id': contacts.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Potential Contacts</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
                        {#{{ form_button({type: 'reset', content: '<i class="fa fa-fw fa-ban"></i> Cancle', class: 'btn btn-default'}) }}#}
                        {{ html_btn(site_url('ami/potential_contacts'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if contacts.id %}
                            <a href="{{ site_url('ami/potential_contacts/delete/' ~ contacts.id) }}" title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="form-group">
                {{ form_label('Potential Customers', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_1_customers_id', value: potential_customers[contacts.armstrong_1_customers_id],
                        'class': 'form-control',
                        'data-parsley-required': 'true',
                        'id': 'InputCustomers',
                    }) }}
                    <span id="cusAlert"></span>
                </div>
                <input type="hidden" name="tag_id[]" id="InputCustomersId"
                       value="{{ contacts.type == 0 ? contacts.tag_id : '' }}"/>
            </div>

            <div class="form-group">
                {{ form_label('Primary Contact', 'primary_contact', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('primary_contact', 0, contacts.primary_contact == 0) }}
                        No</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('primary_contact', 1, contacts.primary_contact == 1) }}
                        Yes</label>&nbsp;
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Name', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'name', value: contacts.name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Position', 'position', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'position', value: contacts.position, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone', 'phone', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-4">
                    {{ form_input({name: 'phone', value: contacts.phone, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
                <div class="col-sm-2">
                    {{ form_input({name: 'ext', value: contacts.ext, class: 'form-control', 'placeholder="Ext" maxlength="5" data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone 2', 'phone_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'phone_2', value: contacts.phone_2, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone 3', 'phone_3', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'phone_3', value: contacts.phone_3, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Mobile', 'mobile', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mobile', value: contacts.mobile, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Mobile 2', 'mobile_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mobile_2', value: contacts.mobile_2, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Mobile 3', 'mobile_3', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mobile_3', value: contacts.mobile_3, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Fax', 'fax', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'fax', value: contacts.fax, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Email', 'email', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'email', value: contacts.email, class: 'form-control', 'data-parsley-type': 'email'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Email 2', 'email_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'email_2', value: contacts.email_2, class: 'form-control', 'data-parsley-type': 'email'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Birthday', 'birthday', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'birthday', value: contacts.birthday, class: 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'yyyy-mm-dd', 'data-date-start-date': '-50y'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Interests', 'interests', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'interests', value: contacts.interests, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('', 'status', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('status', 0, contacts.status == 0) }} Inactive</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('status', 1, contacts.status == 1) }} Active</label>&nbsp;
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Remarks', 'remarks', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'remarks', value: contacts.remarks, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Facebook', 'facebook', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'facebook', value: contacts.facebook, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Instagram', 'instagram', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'instagram', value: contacts.instagram, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Linkedln', 'linkedln', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'linkedln', value: contacts.linkedln, class: 'form-control'}) }}
                </div>
            </div>

            {% include 'ami/components/uploader_image.html.twig' with {entry_type: 'contacts'} %}
            {% if session.country_id in [1] %}
                <div class="form-group">
                    {{ form_label('Signature', 'signature', {class: 'control-label col-sm-3'}) }}

                    <div class="col-sm-6 show-sig">
                        <ul class="sigNav" style="display: block;">
                            <li class="changeButton"><a href="javascript:;">Change</a></li>
                        </ul>
                        <img src="data:image/png;base64,{{ contacts.signature_base64 }}" alt="">
                    </div>

                    <div class="col-sm-6" id="smoothed">
                        <ul class="sigNav">
                            <li class="drawIt"><a href="#draw-it" class="current">Draw Signature</a></li>
                            <li class="clearButton"><a href="#clear">Clear</a></li>
                        </ul>
                        <div class="sig sigWrapper " style="height:auto;">
                            <div class="typed"></div>
                            <canvas id="theCanvas" class="pad" height="250"></canvas>
                            <input type="hidden" name="output" class="output">
                        </div>
                    </div>

                </div>
            {% endif %}
            {{ form_input({name: 'signature_base64', type: 'hidden', class: 'hide'}) }}
            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}