<span style='color: #000'>1987 frames</span>	<span style='color: #900'>39,936 KB</span>	<span style='color: #090'>3,465.23 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  DOMNode::cloneNode(): ID content already defined</p>
<p>Filename: include/frame_decorator.cls.php</p>
<p>Line Number: 512</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  DOMNode::cloneNode(): ID content already defined</p>
<p>Filename: include/frame_decorator.cls.php</p>
<p>Line Number: 512</p>

</div>