{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/kpi/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}


    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="row row sticky sticky-h1 bg-white">
                    <div class="col-lg-12">
                        <div class="page-header nm">
                            <h1 class="pull-left"></h1>
                            <div class="text-right">
                                <div role="group" class="btn-group btn-header-toolbar">
                                    <a class="btn btn-sm btn-warning Tooltip" id="ImportPickfiles" href="javascript:;"
                                       data-url="{{ site_url('/ami/minitools/import') }}?exelname={{ exelname }}" title="Max records 10000 (only csv)">
                                        <i class="fa fw fa-upload"></i> Import</a>
                                    <a class="btn btn-sm btn-primary" id="getTemplateimport" href="{{ site_url() }}res/up/minitools/template/Migration_TW_PULL_to_PUSH.csv"
                                       target="_blank" title="Get template import"><i
                                                class="fa fw fa-download"></i>Get Template</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="panel-body">
                    {% if customers %}
                        <table class="table">
                            <tr>
                                <th>STT</th>
                                <th>Customer</th>
                                <th>Wholesaler</th>
                            </tr>
                        {% for key, table in customers %}
                            <tr>
                                <td>{{ key+1 }}</td>
                                <td>{{ table[0] }}</td>
                                <td>{{ table[1] }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        <ul>
                        {% for key, table in tables %}
                            <li><a class="btn" href="{{ site_url('ami/minitools/runmigration?table=') ~ key }}" >{{ key }}</a></li>
                        {% endfor %}
                            <li><a class="btn" href="{{ site_url('ami/minitools/movetfo') }}" >TFO *</a></li>
                        </ul>
                        {% else %}
                        <p>Please upload file exel</p>
                    {% endif %}
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}