{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="row row sticky sticky-h1 bg-white">
                    <div class="col-lg-12">
                        <div class="page-header nm">
                            <h1 class="pull-left"></h1>
                            <div class="text-right">
                                <div role="group" class="btn-group btn-header-toolbar">
                                    <a class="btn btn-sm btn-warning Tooltip" id="ImportPickfiles" href="javascript:;"
                                       data-url="{{ site_url('/ami/minitools/import') }}?exelname={{ exelname }}" title="Max records 10000 (only csv)">
                                        <i class="fa fw fa-upload"></i> Import</a>
                                    <a class="btn btn-sm btn-primary" id="getTemplateimport" href="{{ site_url() }}res/up/minitools/template/Tfo_Swap.csv"
                                       target="_blank" title="Get template import"><i
                                                class="fa fw fa-download"></i>Get Template</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="panel-body">
                    {% if tfoswap %}
                        <table class="table">
                            <tr>
                                <th>STT</th>
                                <th>TFO</th>
                                <th>CALL</th>
                                <th>SKU OLD</th>
                                <th>SKU NEW</th>
                            </tr>
                            {% for key, table in tfoswap %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td>{{ table[0] }}</td>
                                    <td>{{ table[1] }}</td>
                                    <td>{{ table[2] }}</td>
                                    <td>{{ table[3] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <a href="{{ site_url('/ami/minitools/runswapsku') }}">Run Swap For TFO</a>
                        </br>
                        <a href="{{ site_url('/ami/minitools/runswapskudetails') }}">Run Swap For TFO Detail</a>
                    {% else %}
                        <p>Please upload file exel</p>
                    {% endif %}
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}