{#
	@created_at 	December 8, 2017
	@author 		Jan Sarmiento
					jan.sarmiento@opsolutions.biz
#}
{% extends "ami/base.html.twig" %}


{% block css %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	{{ parent() }}
	<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
	<style>
		#mainContent {
			margin-top: 20px;
		}
	</style>
{% endblock %}

{% block js %}
	{{ parent() }} 
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	{# B: Datatable export to excel scripts #}
	<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
	<script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	{# E: Datatable export to excel scripts #}
	<script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
	<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
	<script src="{{ site_url('res/js/global_ssd/functions.js') }}"></script>

	<script>
	</script>
{% endblock %}

{% block content %}
	<div id="loadingOverlay" class="overlay load-overlay">
		{# <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> #}
		<div class="overlay-content">
			<p id="overlay-message"></i></p>
		</div>
	</div>

	<div class="row sticky sticky-h1 bg-white">
		<div class="col-lg-12">
			<div class="page-header nm">
				<h1>{{ page_title }}</h1>
				{# <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> #}
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row m-t-md">
		<div class="col-lg-12">
			<div id="mainContent">
				<div class="row">
					<div class="col-md-4 col-md-offset-2">
						
					</div>
					<div class="col-md-4">
						<label for="">Actions</label>
						<ul class="list-group en-hover">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 mb15 scroll-f">
		</div>
	</div>
{% endblock %}