{% extends "ami/base.html.twig" %}

{% block js %}

{{ parent() }}
<script src="{{ site_url('res/js/plugins/jquery-number/jquery.number.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ site_url('res/js/salespersons.js') }}"></script>
<script>

</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1>Add New Data <small>Global SSD</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}