{#
	@created_at 	December 27, 2017
	@author 		Jan Sarmiento
					jan.sarmiento@opsolutions.biz
#}
{% extends "ami/base.html.twig" %}

{% block js %}
	{{ parent() }} 
	<script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
	<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
	<script src="{{ site_url('res/js/global_ssd/functions.js') }}"></script>
{% endblock %}

{% block css %}
	{{ parent() }}

	<style>
		#mainContent {
			margin-top: 20px;
		}
		#bulkCsvString {
			width: 100%;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="row sticky sticky-h1 bg-white">
		<div class="col-lg-12">
			<div class="page-header nm">
				<h1>
					{{ page_title }}
					<small
						data-ufsid="{{ entityRef["dbData"]["ufs_id"] }}"
						class="highlight"
					>{{ entityRef["dbData"]["name"] }}</small> 
				</h1>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row m-t-md">
		<div class="col-lg-12">
			<div id="mainContent">
				<div class="row">
					<form method="POST" action="{{ site_url('ami/global_ssd/doBulkUploadMap') }}">
						<input type="hidden" name="map_id" value="{{ map["id"] }}">
						<div class="col-md-12">
							<span><i>*Excel file must have headers on the top. Convert excel file to csv and copy the contents here.</i></span>
							<div class="form-group">
								<textarea name="bulkCsvString" id="bulkCsvString" rows="20" class="form-control" required="required" placeholder="CSV STRING GOES HERE"></textarea>
							</div>
							<button type="submit" class="btn btn-success">SAVE</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}