{#
	@created_at 	December 8, 2017
	@author 		Jan Sarmiento
					jan.sarmiento@opsolutions.biz
#}
{% extends "ami/base.html.twig" %}

{% block js %}
	{{ parent() }} 
	<script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
	<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script src="{{ site_url('res/js/sortable.min.js') }}"></script>
	 <script src="{{ site_url('res/js/global_ssd/functions.js') }}"></script>
	{#<script src="{{ site_url('res/js/global_ssd/functions.min.js') }}"></script>#}
	<script>$(document).ready(MAPPING_TABLE_INTERFACE());</script>
{% endblock %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">

	<style>
		#mainContent {
			margin-top: 20px;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="row sticky sticky-h1 bg-white">
		<div class="col-lg-12">
			<div class="page-header nm">
				<h1>Mapping Table</h1>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row m-t-md">
		<div class="col-lg-12">
			<div id="mainContent">
				<div class="form-group">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="row">
								<div class="col-md-6 mapview-selection">
									<div class="form-group">
										<label for="">View PRODUCT MAPPING</label>
										<div class="input-group">
											<select name="" id="dropdown_cpdtg" class="form-control" disabled="disabled">
												<option value="0">Loading maps..</option>
											</select>
											<span class="input-group-btn">
												<div class="btn-group dropup">
													<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class="fa fa-eye"></span>
													</button>
													<ul class="dropdown-menu dropdown-menu-right">
														<li>
															<a class="dynaEditMap"
															   href="#"
															   data-map="1"
															   data-href="{{ site_url('ami/global_ssd/modDraftMapping/') }}"
															   data-target="#dropdown_cpdtg"
															>Edit selected</a>
														</li>
														<li role="separator" class="divider"></li>
														<li><a href="{{ site_url('ami/global_ssd/viewAllMap/1/WHLE') }}">View all maps (Whole)</a></li>
                                                        {# <li><a href="{{ site_url('ami/global_ssd/viewAllMap/1') }}">View all maps (Individually)</a></li> #}
														<li><a data-entity="1" class="dynaViewMap" id="view_selected_dropdown_cpdtg" data-target="#dropdown_cpdtg" href="#">View selected</a></li>
													</ul>
												</div>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="">View CUSTOMER MAPPING</label>
										<div class="input-group">
											<select name="" id="dropdown_ccustg" class="form-control" disabled="disabled">
												<option value="0">Loading maps..</option>
											</select>
											<span class="input-group-btn">
												<div class="btn-group dropup">
													<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class="fa fa-eye"></span>
													</button>
													<ul class="dropdown-menu dropdown-menu-right">
														<li>
															<a class="dynaEditMap"
															   href="#"
															   data-map="2"
															   data-href="{{ site_url('ami/global_ssd/modDraftMapping/') }}"
															   data-target="#dropdown_ccustg"
															>Edit selected</a>
														</li>
														<li role="separator" class="divider"></li>
                                                        {# <li><a href="{{ site_url('ami/global_ssd/viewAllCCUSTG') }}">View all map</a></li> #}
														<li><a href="{{ site_url('ami/global_ssd/viewAllMap/2/WHLE') }}">View all maps (Whole)</a></li>
														<li><a data-entity="2" class="dynaViewMap" id="view_selected_dropdown_ccustg" data-target="#dropdown_ccustg" href="#">View selected</a></li>
													</ul>
												</div>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<label for="">Actions</label>
									<ul class="list-group en-hover">
										{# <li class="list-group-item"><i class="fa fa-eye"></i> View All</li> #}
										<li 
											class="list-group-item export-table" 
											id="doExport" 
											data-target="#map_table" 
											data-sheetname="Mapping Table" 
											data-filename="MAPPING_TABLE_EXPORT"
										> 
											<i class="fa fa-download"></i> 
											Export 
										</li>
										{% if not is_admin %}
											<li 
												class="list-group-item" 
												data-toggle="modal" 
												data-target="#initNewMapping"
												data-backdrop="static" 
												data-keyboard="false"
											> <i class="fa fa-plus"></i> New Mapping </li>
										{% endif %}
										<li class="list-group-item">
											<div class="form-group">
												<label for="inputSearch">Quick Search</label>
												<input data-target="#map_table" disabled="disabled" id="inputSearch" type="text" class="form-control search-table" placeholder="Enter keyword here">
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# E: Distributors form #}

				<div class="row">
					<div class="col-md-12">
						<h4 id="map_title"> <small id="map_stat"></small></h4>
						<div class="scroll-x scrollXDivFull mapping-tbl-div mb15">
							<table tabindex="1" id="map_table" class="table-ssd sortable table table-bordered table-condensed table-striped">
							</table>
						</div>
					</div>
				</div> </div>
		</div>
	</div>

	{% if not is_admin %}
		<div class="modal bs-modal-sm" id="initNewMapping" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title"><i class="fa fa-plus"></i> Add New Mapping</h4>
					</div>
					<div class="modal-body">
						<form method="POST" action="{{ site_url('ami/global_ssd/addNewMappingDraft') }}" id="addNewMappingDraft"></form>
						<div class="row">
							<div class="col-md-6">
								<form action="{{ site_url("ami/global_ssd/doAddMappingTableDraft") }}"></form>
								<div class="form-group">
									<label for="entity">Select map entity</label>
									<select name="entity" id="entity" class="form-control">
										<option value="0" selected>Please select a map..</option>
										{% for entity in entities  %}
											<option value="{{ entity['id'] }}">
												{% if entity["name"] == "COMBINED_CUST_GROUPING" %}
													Customer Mapping
												{% elseif entity["name"] == "COMBINED_PDT_GROUPING" %}
													Product Mapping
												{% else %}
                                                    {{ entity['name'] }}
												{% endif %}
											</option>
										{% endfor %}
									</select>
								</div>

								<div class="no-show form-group add-newselect" id="selectDiv_PDT">
									<label for="select_PDT">DT / WHS / CUSTOMER</label>
									<select name="select_PDT" id="select_PDT" class="obj-entity form-control" required="required">
										<option value="0">Loading list..</option>
									</select>
								</div>

								<div class="no-show form-group add-newselect" id="selectDiv_CUST">
									<label for="select_CUST">DT / WHS / CUSTOMER</label>
									<select name="select_CUST" id="select_CUST" class="obj-entity form-control" required="required">
										<option value="0">Loading list..</option>
									</select>
								</div>
								<div class="form-group">
									<button id="btnInitMappingCreate" class="btn btn-success btn-block">Create New Mapping</button>
								</div>
								<p><ul id="errorMsg"></ul></p>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{% for cols in entities %}
										<div class="no-show entity-columns" id="columns_{{cols['id']}}">
											<label for="">Columns - total of {{ cols["columns"]|split(':')|length }}</label>
											<ul class="ami-list list-group">
												{% for cols in cols["columns"]|split(':') %}
													<li class="list-group-item">{{ cols }}</li>
												{%  endfor %}
											</ul>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	{% endif %}
{% endblock %}