{#
	@created_at 	December 8, 2017
	@author 		Jan Sarmiento
					jan.sarmiento@opsolutions.biz
#}
{% extends "ami/base.html.twig" %}

{% block js %}
	{{ parent() }} 
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
	<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
	<script src="{{ site_url('res/js/global_ssd/functions.js') }}"></script>

    <script>
    	$(document).ready(function(){
    		var distributorsDropDownHeight = $("#input-distributors").height();
    		var dropDownMinHeight = 200;
    	// 	$.ajax({
    	// 		url : base_url() + 'ami/global_ssd/distributorsList',
    	// 		type : 'GET',
    	// 		dataType : 'json',
    	// 		success : function(data) {
					// data.forEach(function(val){
					// 	distributorsDropDownHeight += 20;
					// 	$("#input-distributors").append('<option value="'+val.armstrong_2_distributors_id+'">'+val.name+'</option>')
					// });
					// $("#input-distributors").height(distributorsDropDownHeight > dropDownMinHeight ? dropDownMinHeight : distributorsDropDownHeight);
    	// 		}
    	// 	})
    	});
    </script>
{% endblock %}

{% block css %}
	{{ parent() }}

    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">

	<style>
        #mainContent {
            margin-top: 20px;
        }
	</style>
{% endblock %}

{% block content %}

	<div class="row sticky sticky-h1 bg-white">
		<div class="col-lg-12">
			<div class="page-header nm">
				<h1>{{ page_title }}</h1>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row m-t-md">
		<div class="col-lg-12">
			<div id="mainContent">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="row">
							<div class="col-md-6"></div>
							<div class="col-md-6">
								<label for="">Actions</label>
								<ul class="list-group en-hover">
									{# <li class="list-group-item"><i class="fa fa-eye"></i> View All</li> #}
									<li 
										class="list-group-item export-table" 
										data-target="#tbl_global_ssd" 
										data-sheetname="SSD Export" 
										data-filename="SSD_EXPORT"
									> 
										<i class="fa fa-download"></i> 
										Export 
									</li>
									<li class="list-group-item">
										<div class="form-group">
											<label for="inputSearch">Search Table</label>
											<input 
												data-target="#tbl_global_ssd"	
												id="inputSearch" 
												type="text" 
												class="form-control search-table" 
												placeholder="Enter keyword here">
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="scroll-x">
					<table id="tbl_global_ssd" class="table-ssd table table-bordered table-condensed table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>DISTRIBUTOR</th>
								<th>DT_CUSTOMER_CODE</th>
								<th>DT_CUSTOMER_NAME</th>
								<th>CUSTOMERS</th>
								<th>GROUPING_CUSTOMER</th>
								<th>TEAM</th>
								<th>SALESMAN</th>
								<th>CHANNELS</th>
								<th>SALESMAN_CODE</th>
								<th>WHOLESALE_SUB_CHANNEL</th>
								<th>GOLD_PLUS</th>
								<th>CPU</th>
								<th>OEM</th>
								<th>DT_PRODUCT_CODE</th>
								<th>DT_PRODUCT_NAME</th>
								<th>PRODUCT</th>
								<th>PRODUCT_CODE</th>
								<th>PRODUCT_GROUPING</th>
								<th>CATEGORY</th>
								<th>MARKET</th>
								<th>HURRICANE_10</th>
								<th>TOP_SKUS</th>
								<th>BRAND</th>
								<th>YEAR</th>
								<th>MONTH</th>
								<th>DATE_OF_TRANSACTION</th>
								<th>SUM_OF_TOTAL_PURCHASE_PRODUCT</th>
								<th>SUM_OF_TOTAL_QTY_PURCHASE</th>
								<th>UOM</th>
							</tr>
						</thead>
						<tbody>
							{% for ssd in ssds %}
								<tr>
									<td> {{ ssd["id"] }} </td>
									<td> {{ ssd["DISTRIBUTOR"] }} </td>
									<td> {{ ssd["DT_CUSTOMER_CODE"] }} </td>
									<td> {{ ssd["DT_CUSTOMER_NAME"] }} </td>
									<td> {{ ssd["CUSTOMERS"] }} </td>
									<td> {{ ssd["GROUPING_CUSTOMER"] }} </td>
									<td> {{ ssd["TEAM"] }} </td>
									<td> {{ ssd["SALESMAN"] }} </td>
									<td> {{ ssd["CHANNEL"] }} </td>
									<td> {{ ssd["SALESMAN_CODE"] }} </td>
									<td> {{ ssd["WHOLESALE_SUB_CHANNEL"] }} </td>
									<td> {{ ssd["GOLD_PLUS"] }} </td>
									<td> {{ ssd["CPU"] }} </td>
									<td> {{ ssd["OEM"] }} </td>
									<td> {{ ssd["DT_PRODUCT_CODE"] }} </td>
									<td> {{ ssd["DT_PRODUCT_NAME"] }} </td>
									<td> {{ ssd["PRODUCT"] }} </td>
									<td> {{ ssd["PRODUCT_CODE"] }} </td>
									<td> {{ ssd["PRODUCT_GROUPING"] }} </td>
									<td> {{ ssd["CATEGORY"] }} </td>
									<td> {{ ssd["MARKET"] }} </td>
									<td> {{ ssd["HURRICANE_10"] }} </td>
									<td> {{ ssd["TOP_SKUS"] }} </td>
									<td> {{ ssd["BRAND"] }} </td>
									<td> {{ ssd["YEAR"] }} </td>
									<td> {{ ssd["MONTH"] }} </td>
									<td> {{ ssd["DATE_OF_TRANSACTION"] }} </td>
									<td> {{ ssd["SUM_OF_TOTAL_PURCHASE_PRODUCT"] }} </td>
									<td> {{ ssd["SUM_OF_TOTAL_QTY_PURCHASE"] }} </td>
									<td> {{ ssd["UOM"] }} </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}