{#
	@created_at 	December 8, 2017
	@author 		Jan Sarmiento
					jan.sarmiento@opsolutions.biz
#}
{% extends "ami/base.html.twig" %}

{% block js %}
	{{ parent() }} 
	<script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
	<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
	<script src="{{ site_url('res/js/global_ssd/functions.js') }}"></script>
{% endblock %}

{% block css %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">

	<style>
		#mainContent {
			margin-top: 20px;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="row sticky sticky-h1 bg-white">
		<div class="col-lg-12">
			<div class="page-header nm">
				<h1>{{ title | raw }}</h1>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row m-t-md">
		<div class="col-lg-12">
			<div id="mainContent">
				{% if mode == 'WHLE' %}
					<div class="row">
						<div class="col-md-12">

							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="row">
										<div class="col-md-6"></div>
										<div class="col-md-6">
											<ul class="list-group en-hover">
												{# <li class="list-group-item"><i class="fa fa-eye"></i> View All</li> #}
												<li 
													class="list-group-item export-table" 
													id="doExport" 
													data-target='#tableWhole'
													data-sheetname="Mapping Table"
													data-filename="MAPPING_TABLE_WHOLE"
												><i class="fa fa-download"></i>Export </li>
												<li class="list-group-item">
													<div class="form-group">
														<label for="inputSearch">Search Table</label>
														<input 
															data-target="#tableWhole" 
															id="inputSearch" 
															type="text" 
															class="form-control search-table" 
															placeholder="Enter keyword here"
														>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="scroll-x">
										<table id="tableWhole" class="table-ssd table table-condensed table-bordered table-hover table-striped">
											<thead>
												<tr>
													{% for col in columns %}
														<th>{{ col }}</th>
													{% endfor %}
												</tr>
											</thead>
											<tbody>
												{% for dist in allMaps  %}
													{% for val in dist["value"] %}
														<tr>
															{% for indVal in val %}
																<td>{{ indVal }}</td>
															{% endfor %}
														</tr>
													{% endfor %}
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="row">
						<div class="col-md-12">
							<h3>Distributors <small>({{ allMaps["distributors"]|length }})</small></h3><hr>
								{% for dist in allMaps["distributors"]  %}
									<h4>
										<a href="{{ site_url('ami/global_ssd/modDraftMapping') }}/{{ dist["map_id"] }}">{{ dist["name"] }}</a>
									</h4>
									<div class="scroll-x">
										<table class="table-ssd table table-condensed table-bordered table-hover table-striped">
											<thead>
												<tr>
													{% for col in dist["columns"]|split(":") %}
														<th>{{ col }}</th>
													{% endfor %}
												</tr>
											</thead>
											<tbody>
												{% for val in dist["value"] %}
													<tr>
														{% for indVal in val %}
															<td>{{ indVal }}</td>
														{% endfor %}
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<hr/>
								{% endfor %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3>Wholesalers <small>({{ allMaps["wholesalers"]|length }})</small></h3><hr>
								{% for dist in allMaps["wholesalers"]  %}
									<h4>
										<a href="{{ site_url('ami/global_ssd/modDraftMapping') }}/{{ dist["map_id"] }}">{{ dist["name"] }}</a>
									</h4>
									<div class="scroll-x">
										<table class="table-ssd table table-condensed table-bordered table-hover table-striped">
											<thead>
												<tr>
													{% for col in dist["columns"]|split(":") %}
														<th>{{ col }}</th>
													{% endfor %}
												</tr>
											</thead>
											<tbody>
												{% for val in dist["value"] %}
													<tr>
														{% for indVal in val %}
															<td>{{ indVal }}</td>
														{% endfor %}
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<hr/>
								{% endfor %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3>Customers <small>({{ allMaps["customers"]|length }})</small></h3><hr>
								{% for dist in allMaps["customers"]  %}
									<h4>
										<a href="{{ site_url('ami/global_ssd/modDraftMapping') }}/{{ dist["map_id"] }}">{{ dist["name"] }}</a>
									</h4>
									<div class="scroll-x">
										<table class="table-ssd table table-condensed table-bordered table-hover table-striped">
											<thead>
												<tr>
													{% for col in dist["columns"]|split(":") %}
														<th>{{ col }}</th>
													{% endfor %}
												</tr>
											</thead>
											<tbody>
												{% for val in dist["value"] %}
													<tr>
														{% for indVal in val %}
															<td>{{ indVal }}</td>
														{% endfor %}
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<hr/>
								{% endfor %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}