{#
	@created_at 	December 8, 2017
	@author 		Jan Sarmiento
					jan.sarmiento@opsolutions.biz
#}
{% extends "ami/base.html.twig" %}

{% block js %}
	{{ parent() }} 
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
	<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script src="{{ site_url('res/js/global_ssd/functions.js') }}"></script>
    <script>$(document).ready(MAPPING_TABLE_MODIFY());</script>
{% endblock %}

{% block css %}
	{{ parent() }}

    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">

	<style>
        #mainContent {
            margin-top: 20px;
        }
	</style>
{% endblock %}

{% block content %}
	<input type="hidden" id="rawMapJson" value="{{ map['rawvalue'] }}">
	<div class="row sticky sticky-h1 bg-white">
		<div class="col-lg-12">
			<div class="page-header nm">
				<h1>
					{{ title }}
					<small>
						<span
							data-ufsid="{{ entityRef["dbData"]["ufs_id"] }}"
							id="distributor"
							class="highlight"
						>{{ entityRef["dbData"]["name"] }} {{ mapType }}</span>

						{{ map["is_draft"] ? "(Draft)" : "" }}
					</small>
				</h1>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row m-t-md">
		<div class="col-lg-12">
			<div id="mainContent">
				<div class="row">
					<div class="col-md-6">
                        {% if session_flash_message.flash_type == "save_true" %}
							<div class="alert alert-success">
								<strong>Success!</strong> {{ session_flash_message.message }}
								<a href="#" class="close"><i class="fa fa-close"></i></a>
							</div>
						{% elseif session_flash_message.flash_type == "save_false" %}
							<div class="alert alert-danger">
								<strong>Warning!</strong> {{ session_flash_message.messages }}
								<a href="#" class="close"><i class="fa fa-close"></i></a>
							</div>
                        {% endif %}
						<p id="selectCount"></p>
					</div>
					<div class="col-md-6">
						<div class="form-group pull-right">
							{#
							<input {{ map["is_draft"] == 1 ? "checked" : "" }} type="checkbox" id="is_draft_chb" name="is_draft_chb">
							<label for="is_draft_chb">Draft</label>
							#}
							<button title="Delete selected rows" id="bulk_delete_row" disabled="disabled" class="btn-standard btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete Selected</button>
							<button title="Add a new row" id="add_row" class="btn-standard btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add Row</button>
							<button title="Save and finalize changes" id="save_row" class="btn-standard btn btn-xs btn-success"><i class="fa fa-save"></i> Save</button>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 scroll-x scroll-y div-edit-mapping">
						<form id="form_doAddNewMap" method="POST" action="{{ site_url('ami/global_ssd/doAddNewMap') }}">
							<input type="hidden" name="map_id" value="{{ map["id"] }}" >
							<input type="hidden" id="is_draft" name="is_draft" value="{{ map["is_draft"] }}" >
							<table id="tbl_map" class="table-ssd table table-condensed table-bordered table-striped">
								<thead>
									<tr>
										<th class="in-chkbx more no-input">
											<input type="checkbox" id="masterCheck">
										</th>
										{% for col in columns %}
											<th>{{ col }}</th>
										{% endfor %}
										<th class="more no-input min-width">ACTION</th>
									</tr>
								</thead>
								<tbody>
									{% for key, val in map["value"] %}
										<tr class="datarow">
											<td>
												<input type="checkbox" class="input-chckbx" value="{{ key }}">
											</td>
											{% for col in columns %}
												<td class="dyna-inpt">
													<input class="form-control no-show existing" type="text" name="{{ col|lower }}[]" value="{{ val[col] }}">
													<span class="def-val">{{ val[col]|raw }}</span>
												</td>
											{% endfor %}
											<td>
												<button type="button" class=" edit-row btn btn-warning btn-xs" title="Edit row"><i class="fa fa-pencil"></i></button>
												<button type="button" class=" del-row btn btn-danger btn-xs" title="Delete row"><i class="fa fa-trash"></i></button>
												<button type="button" class=" saveEdit no-show btn btn-success btn-xs" title="Save edit"><i class="fa fa-save"></i></button>
											</td>
										</tr>
									{% endfor %}
									{# insert newly generated rows here #}
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal bs-modal-md" id="addColumnModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-md" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title">Ádd new column</h4>
	            </div>
	            <div class="modal-body">
	            	<div class="row">
	            		<div class="col-md-6">
			                <ul class="list-group">
								{% for col in columns %}
									<li class="list-group-item">
										{{ col }}
										<a href="#" data-href="{{ site_url('ami/global_ssd/deleteCol?=') }}" class="close"><i class="fa fa-trash"></i></a>
									</li>
								{% endfor %}
			                </ul>
			            </div>
	            		<div class="col-md-6">
	            			<h4><span class="highlight">{{ mapColumnsDefault|length }}</span> columns in total.</h4>
	            			<hr/>
	            			<div class="form-group">
	            				<label for="newColumn">Column name</label>
	            				<input placeholder="Add new column name. No duplicates allowed" type="text" name="newColumn" class="form-control" required="required">
	            			</div>
	            		</div>
	            	</div>
	            </div>
	            <div class="modal-footer">
	            	<button class="btn btn-primary" type="button">Save</button>
	            </div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock %}