{#
	@created_at 	December 8, 2017
	@author 		Jan Sarmiento
					jan.sarmiento@opsolutions.biz
#}
{% extends "ami/base.html.twig" %}


{% block css %}
	{#<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">#}
	<link rel="stylesheet" href="{{ site_url('res/css/jquery.dataTables-1.10.16.min.css') }}">
	{{ parent() }}
	<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
	<style>
		#mainContent {
			margin-top: 20px;
		}
	</style>
{% endblock %}

{% block js %}
	{{ parent() }} 
	<script type="text/javascript" src="{{ site_url('res/js/global_ssd/dataTables-1.10.16.min.js') }}"></script>
	{# B: Datatable export to excel scripts #}
	<script type="text/javascript" src="{{ site_url('res/js/global_ssd/dataTables.buttons.1.5.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ site_url('res/js/global_ssd/dataTables.buttons.1.5.1.html5.min.js') }}"></script>
	<script type="text/javascript" src="{{ site_url('res/js/global_ssd/jszip.3.1.3.min.js') }}"></script>
	{# <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js"></script> #}
	<script type="text/javascript" src="{{ site_url('res/js/global_ssd/dataTables.checkboxes.min.js') }}"></script>
	{# E: Datatable export to excel scripts #}
	<script type="text/javascript" src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
	<script type="text/javascript" src="{{ site_url('res/js/jquery.table2excel-1.1.10.min.js') }}"></script>
	<script type="text/javascript" src="{{ site_url('res/js/global_ssd/functions.js') }}"></script>

	<script>
		$(document).ready(function(){ GLOBAL_SSD_MASTER("{{ site_url('ami/global_ssd/entrySSDDataShowAll') }}"); });
	</script>
{% endblock %}

{% block content %}
	<div id="loadingOverlay" class="overlay load-overlay">
		{# <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> #}
		<div class="overlay-content">
			<p id="overlay-message"></p>
		</div>
	</div>

	<div class="row sticky sticky-h1 bg-white">
		<div class="col-lg-12">
			<div class="page-header nm">
				<h1>Global SSD</h1>
				{# <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> #}
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row m-t-md">
		<div class="col-lg-12">
			<div id="mainContent">
				<div class="row">
					<div class="col-md-4 col-md-offset-2">
						<div class="form-group">
							<label for="dotFrom_datepicker">(Date of transaction) From *</label>
							<div class='input-group date datepicker'>
								<input
									value="{{ session_flash_message.message['from'] }}"
									type='text' 
									class="form-control datepicker" 
									id="dotFrom_datepicker" 
									name="dotFrom_datepicker" 
									placeholder="Select date"
									data-target="#dotTo_datepicker" />
								<span class="input-group-addon" data-caltarget="#dotFrom_datepicker">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>

						<div class="form-group">
							<label for="dot_datepicker">(Date of transaction) To *</label>
							<div class='input-group date datepicker'>
								<input
									value="{{ session_flash_message.message['to'] }}"
									type='text' 
									class="form-control datepicker datepicker-today" 
									id="dotTo_datepicker" 
									name="dotTo_datepicker" 
									placeholder="Select date" />
								<span class="input-group-addon" data-caltarget="#dotTo_datepicker">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>

						<div class="form-group">
							<button class="btn btn-xs btn-default pull-right" id="filterDateOfTrans"><i class="fa fa-eye"></i> View</button>
						</div>
						<div class="form-group">
							<label for="acknowledged">
							<input id="acknowledged" name="acknowledged" type="checkbox">
							Display acknowledged SSDs
							</label>
						</div>
					</div>
					<div class="col-md-4">
						<label for="">Actions</label>
						<ul class="list-group en-hover">
							<li class="list-group-item">
								<i class="fa fa-eye"></i>
								<a class="ml5" href="{{ site_url('ami/global_ssd/viewAcknowledged') }}">View Acknowledged Data</a>
							</li>
							<li id="ssdExportBtn" class="list-group-item export"> 
								<i class="fa fa-download"></i>
							</li>
							<li class="list-group-item export"> 
								{# <a href="{{ site_url('ami/global_ssd/acknowledge') }}">Acknowledge SSD Data</a> #}
								<form method="POST" action="{{ site_url('ami/global_ssd/acknowledge') }}" id="form_acknowledge">
									<button disabled="disabled" type="submit" class="btn btn-primary btn-block">ACKNOWLEDGE SELECTED DATA</button>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 mb15 scroll-f">
			<hr/>
			{# <div class="scroll-x"> #}
				<table cellspacing="0" width="100%" id="tbl_global_ssd" class="mb15 table-ssd table table-bordered table-condensed table-striped">
					<thead>
						<tr>
							<th></th>
							<th>ID</th>
							<th>DISTRIBUTOR</th>
							<th>DT_CUSTOMER_CODE</th>
							<th>DT_CUSTOMER_NAME</th>
							<th>CUSTOMERS</th>
							<th>GROUPING_CUSTOMER</th>
							<th>TEAM</th>
							<th>SALESMAN</th>
							<th>CHANNELS</th>
							<th>SALESMAN_CODE</th>
							<th>WHOLESALE_SUB_CHANNEL</th>
							<th>GOLD_PLUS</th>
							<th>CPU</th>
							<th>OEM</th>
							<th>DT_PRODUCT_CODE</th>
							<th>DT_PRODUCT_NAME</th>
							<th>PRODUCT</th>
							<th>PRODUCT_CODE</th>
							<th>PRODUCT_GROUPING</th>
							<th>CATEGORY</th>
							<th>MARKET</th>
							<th>HURRICANE_10</th>
							<th>TOP_SKUS</th>
							<th>BRAND</th>
							<th>YEAR</th>
							<th>MONTH</th>
							<th>DATE_OF_TRANSACTION</th>
							<th>SUM_OF_TOTAL_PURCHASE_PRODUCT</th>
							<th>SUM_OF_TOTAL_QTY_PURCHASE</th>
							<th>UOM</th>
						</tr>
					</thead>
					{#
					<tbody>
					</tbody>
					#}
				</table>
			{# </div> #}
		</div>
	</div>
{% endblock %}