{#
	@created_at 	December 8, 2017
	@author 		Jan Sarmiento
					jan.sarmiento@opsolutions.biz
#}
{% extends "ami/base.html.twig" %}

{% block js %}
	{{ parent() }} 
{% endblock %}

{% block css %}
	{{ parent() }}

	<style>
        #mainContent {
            margin-top: 20px;
        }
	</style>
{% endblock %}

{% block content %}
	<div class="row sticky sticky-h1 bg-white">
		<div class="col-lg-12">
			<div class="page-header nm">
				<h1>
					Mapping Table 
					<small>
						for all DT and WHS
					</small>
				</h1>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row m-t-md">
		<div class="col-lg-12">
			<div id="mainContent">
				<div class="row">
					<div class="col-md-12">
						<h3>Distributors <small>({{ allMaps["distributors"]|length }})</small></h3><hr>
							{% for dist in allMaps["distributors"]  %}
								<h4>
									<a href="{{ site_url('ami/global_ssd/modDraftMapping') }}/{{ dist["map_id"] }}">{{ dist["name"] }}</a>
									{{ dist["is_draft"] ? "<small>(Draft)</small>" : "" }}
								</h4>
								<div class="scroll-x">
									<table class="table table-condensed table-bordered table-hover table-striped">
										<thead>
											<tr>
												{% for col in dist["columns"]|split(":") %}
													<th>{{ col }}</th>
												{% endfor %}
											</tr>
										</thead>
										<tbody>
											{% for val in dist["value"] %}
												<tr>
													{% for indVal in val %}
														<td>{{ indVal }}</td>
													{% endfor %}
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Wholesalers <small>({{ allMaps["wholesalers"]|length }})</small></h3><hr>
							{% for dist in allMaps["wholesalers"]  %}
								<h4>
									<a href="{{ site_url('ami/global_ssd/modDraftMapping') }}/{{ dist["map_id"] }}">{{ dist["name"] }}</a>
									{{ dist["is_draft"] ? "<small>(Draft)</small>" : "" }}
								</h4>
								<div class="scroll-x">
									<table class="table table-condensed table-bordered table-hover table-striped">
										<thead>
											<tr>
												{% for col in dist["columns"]|split(":") %}
													<th>{{ col }}</th>
												{% endfor %}
											</tr>
										</thead>
										<tbody>
											{% for val in dist["value"] %}
												<tr>
													{% for indVal in val %}
														<td>{{ indVal }}</td>
													{% endfor %}
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}