<div role="tabpanel" class="tab-pane" id="app_config">
    <div class="form-group">
        {{ form_label('Price Configuration Pull', 'price_config', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][price_config][enable]', 1, application_config.pull.price_config.enable == 1, 'class="price-yes" data-type="pull"') }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][price_config][enable]', 0, application_config.pull.price_config.enable == 0, 'class="price-no" data-type="pull"') }}
                No</label>
            <label class="radio-inline">{{ form_radio('application_config[pull][price_config][enable]', 2, application_config.pull.price_config.user_setting == 1, 'class="price-no" data-type="pull"') }}
                User Setting</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Price Configuration Push', 'price_config', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[push][price_config][enable]', 1, application_config.push.price_config.enable == 1, 'class="price-yes" data-type="push"') }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[push][price_config][enable]', 0, application_config.push.price_config.enable == 0, 'class="price-no" data-type="push"') }}
                No</label>
            <label class="radio-inline">{{ form_radio('application_config[push][price_config][enable]', 2, application_config.push.price_config.user_setting == 1, 'class="price-no" data-type="push"') }}
                User Setting</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Price Configuration Leader', 'price_config', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[leader][price_config][enable]', 1, application_config.leader.price_config.enable == 1, 'class="price-yes" data-type="leader"') }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[leader][price_config][enable]', 0, application_config.leader.price_config.enable == 0, 'class="price-no" data-type="leader"') }}
                No</label>
            <label class="radio-inline">{{ form_radio('application_config[leader][price_config][enable]', 2, application_config.leader.price_config.user_setting == 1, 'class="price-no" data-type="leader"') }}
                User Setting</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('OTM UFS Share', 'otm_ufs_share_config', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][otm_ufs_share_config]', 0, application_config.pull.otm_ufs_share_config == 0) }}
                Country</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][otm_ufs_share_config]', 1, application_config.pull.otm_ufs_share_config == 1) }}
                Country Channel</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Enable SKU Number', 'application_config', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][sku_number]', 1, application_config.pull.sku_number == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][sku_number]', 0, application_config.pull.sku_number == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Toggle armstrong_1_customers_id Pull', 'toggle_armstrong_1_customers_id', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][toggle_armstrong_1_customers_id]', 1, application_config.pull.toggle_armstrong_1_customers_id == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][toggle_armstrong_1_customers_id]', 0, application_config.pull.toggle_armstrong_1_customers_id == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Toggle armstrong_1_customers_id Push', 'toggle_armstrong_1_customers_id', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[push][toggle_armstrong_1_customers_id]', 1, application_config.push.toggle_armstrong_1_customers_id == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[push][toggle_armstrong_1_customers_id]', 0, application_config.push.toggle_armstrong_1_customers_id == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Toggle armstrong_1_customers_id Leader', 'toggle_armstrong_1_customers_id', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[leader][toggle_armstrong_1_customers_id]', 1, application_config.leader.toggle_armstrong_1_customers_id == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[leader][toggle_armstrong_1_customers_id]', 0, application_config.leader.toggle_armstrong_1_customers_id == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Customer Signature Pull', 'customer_signature', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][customer_signature]', 1, application_config.pull.customer_signature == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][customer_signature]', 0, application_config.pull.customer_signature == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Customer Signature Push', 'customer_signature', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[push][customer_signature]', 1, application_config.push.customer_signature == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[push][customer_signature]', 0, application_config.push.customer_signature == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Customer Signature Leader', 'customer_signature', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[leader][customer_signature]', 1, application_config.leader.customer_signature == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[leader][customer_signature]', 0, application_config.leader.customer_signature == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Analysis Datasource (pull):', 'analysis_datasource_config', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 datasourcepull no-parsley">
            <label class="radio-inline p-l-0">
                <input type="checkbox"
                       name="application_config[pull][analysis_datasource_config][tfo]" {{ application_config.pull.analysis_datasource_config.tfo == 1 ? 'checked' : '' }}
                       value="1">
                TFO
            </label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="application_config[pull][analysis_datasource_config][ssd]" {{ application_config.pull.analysis_datasource_config.ssd == 1 ? 'checked' : '' }}
                       value="1">
                SSD
            </label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="application_config[pull][analysis_datasource_config][pc]" {{ application_config.pull.analysis_datasource_config.pc == 1 ? 'checked' : '' }}
                       value="1">
                Pantry Check
            </label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Analysis Datasource (push):', 'analysis_datasource_config', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 datasourcepush no-parsley">
            <label class="radio-inline p-l-0">
                <input type="checkbox"
                       name="application_config[push][analysis_datasource_config][tfo]" {{ application_config.push.analysis_datasource_config.tfo == 1 ? 'checked' : '' }}
                       value="1">
                PSD
            </label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="application_config[push][analysis_datasource_config][ssd]" {{ application_config.push.analysis_datasource_config.ssd == 1 ? 'checked' : '' }}
                       value="1">
                SSD Push
            </label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="application_config[push][analysis_datasource_config][pc]" {{ application_config.push.analysis_datasource_config.pc == 1 ? 'checked' : '' }}
                       value="1">
                Pantry Check
            </label>
        </div>
    </div>
    <!--div class="form-group">
        {{ form_label('Listing and Availability Compute', 'list_and_availabiliy_compute', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 datasource no-parsley">
            <label class="radio-inline p-l-0">
                <input type="checkbox"
                       name="application_config[pull][list_and_availabiliy_compute][tfo]" {{ application_config.pull.list_and_availabiliy_compute.tfo == 1 ? 'checked' : '' }}
                       value="1">
                TFO
            </label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="application_config[pull][list_and_availabiliy_compute][ssd]" {{ application_config.pull.list_and_availabiliy_compute.ssd == 1 ? 'checked' : '' }}
                       value="1">
                SSD
            </label>
            <label class="radio-inline">
                <input type="checkbox"
                       name="application_config[pull][list_and_availabiliy_compute][pc]" {{ application_config.pull.list_and_availabiliy_compute.pc == 1 ? 'checked' : '' }}
                       value="1">
                Pantry Check
            </label>
        </div>
    </div-->
    <div class="form-group">
        {{ form_label('Phone number length', 'phone_length', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6">
            {{ form_input({name: 'application_config[pull][phone_length]', type: 'number', value: application_config.pull.phone_length, class: 'form-control', 'placeholder': 10}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Enable AMS', 'enable_ams', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_ams]', 1, application_config.pull.enable_ams == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_ams]', 0, application_config.pull.enable_ams == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Enable Contact Strategy', 'contact_strategy', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][contact_strategy]', 1, application_config.pull.contact_strategy == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][contact_strategy]', 0, application_config.pull.contact_strategy == 0) }}
                No</label>
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Enable Sales Cycle', 'sales_cycle', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][sales_cycle]', 1, application_config.pull.sales_cycle == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][sales_cycle]', 0, application_config.pull.sales_cycle == 0) }}
                No</label>
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Enable Potential Customer', 'potential_customer', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][potential_customer]', 1, application_config.pull.potential_customer == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][potential_customer]', 0, application_config.pull.potential_customer == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group enable_shifted_call">
        {{ form_label('Enable Shifted Call', 'enable_shifted_call', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_shifted_call]', 1, application_config.pull.enable_shifted_call == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_shifted_call]', 0, application_config.pull.enable_shifted_call == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group require_reason">
        {{ form_label('Require Reasons fields', 'require_reason_v4', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline {{ application_config.pull.require_reason }}">{{ form_radio('application_config[pull][require_reason_v4]', 1, (application_config.pull.require_reason_v4 is defined and application_config.pull.require_reason_v4 == 1) or application_config.pull.require_reason == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][require_reason_v4]', 0, (application_config.pull.require_reason_v4 is defined and application_config.pull.require_reason_v4 == 0) or application_config.pull.require_reason == 0) }}
                No</label>
            <label class="radio-inline">{{ form_radio('application_config[pull][require_reason_v4]', 2, application_config.pull.require_reason_v4 == 2) }}
                No without prompt</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Enable discount approval', 'enable_discount', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[leader][approve][enable_discount]', 1, application_config.leader.approve.enable_discount == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[leader][approve][enable_discount]', 0, application_config.leader.approve.enable_discount == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Enable out of trade approval', 'enable_out_of_trade', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[leader][approve][enable_out_of_trade]', 1, application_config.leader.approve.enable_out_of_trade == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[leader][approve][enable_out_of_trade]', 0, application_config.leader.approve.enable_out_of_trade == 0) }}
                No</label>
        </div>
    </div>
    <div class="form-group">
        {{ form_label('Enable pantry check warning (push)', 'enable_pantry_check_warning', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_pantry_check_warning]', 1, (application_config.pull.enable_pantry_check_warning == 1 or application_config.pull.enable_pantry_check_warning == '')) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_pantry_check_warning]', 0, application_config.pull.enable_pantry_check_warning == '0') }}
                No</label>
        </div>
    </div>
    {% if session.country_id in [4, 88] %}
        {% if activeAVP > 0 %}
            <p style="padding-left: 16.5%; color: red">There is an active SKU Point. AVP toggle is disabled.</p>
        {% endif %}
        <div class="form-group">
            {{ form_label('Enable Enhanced AVP', 'enable_enhanced_avp', {class: 'control-label col-sm-4'}) }}

            {% if activeAVP > 0 %}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('application_config[pull][enable_enhanced_avp]', 1, (application_config.pull.enable_enhanced_avp == 1), 'disabled=disabled') }}
                        Yes</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('application_config[pull][enable_enhanced_avp]', 0, application_config.pull.enable_enhanced_avp == '0'  or application_config.pull.enable_enhanced_avp == '', 'disabled=disabled') }}
                        No </label>
                </div>
            {% else %}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('application_config[pull][enable_enhanced_avp]', 1, (application_config.pull.enable_enhanced_avp == 1)) }}
                        Yes</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('application_config[pull][enable_enhanced_avp]', 0, application_config.pull.enable_enhanced_avp == 0 or application_config.pull.enable_enhanced_avp == '') }}
                        No </label>
                </div>
            {% endif %}

        </div>
    {% endif %}
    <div class="form-group">
        {{ form_label('Enable Call Type (PULL)', 'enable_call_type', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_call_type]', 1, application_config.pull.enable_call_type == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_call_type]', 0, (application_config.pull.enable_call_type == 0 or application_config.pull.enable_call_type == "")) }}
                No</label>
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Enable Customers and Contacts Edit for Secondary SR (PULL)', 'enable_contact_cust_edit_secondary', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_contact_cust_edit_secondary]', 1, application_config.pull.enable_contact_cust_edit_secondary == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_contact_cust_edit_secondary]', 0, (application_config.pull.enable_contact_cust_edit_secondary == 0 or application_config.pull.enable_contact_cust_edit_secondary == "")) }}
                No</label>
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Enable Pantry Check, Sampling and Competitor for Secondary SR (PULL)', 'enable_full_call_access_secondary', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_full_call_access_secondary]', 1, application_config.pull.enable_full_call_access_secondary == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_full_call_access_secondary]', 0, (application_config.pull.enable_full_call_access_secondary == 0 or application_config.pull.enable_full_call_access_secondary == "")) }}
                No</label>
        </div>
    </div>

    <div class="form-group">
        {{ form_label('Enable Grab Display (PULL)', 'enable_grab_display', {class: 'control-label col-sm-4'}) }}
        <div class="col-sm-6 no-parsley">
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_grab_display]', 1, application_config.pull.enable_grab_display == 1) }}
                Yes</label>&nbsp;
            <label class="radio-inline">{{ form_radio('application_config[pull][enable_grab_display]', 0, (application_config.pull.enable_grab_display == 0 or application_config.pull.enable_grab_display == "")) }}
                No</label>
        </div>
    </div>
</div>