<div role="tabpanel" class="tab-pane" id="coaching_forms">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#app_pull" aria-controls="profile" role="tab" data-toggle="tab">Pull</a>
        </li>
        <li role="presentation">
            <a href="#app_push" aria-controls="profile" role="tab" data-toggle="tab">Push</a>
        </li>
    </ul>

    <div class="panel panel-default m-t">
        <div class="panel-body tab-content">
            <div role="tabpanel" class="tab-pane active" id="app_pull">
                <div class="form-group">
                    {{ form_label('Summary of the visits Today', 'visit_summary', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_textarea({name: 'application_config[pull][coaching_forms][visit_summary]', value: application_config.pull.coaching_forms.visit_summary, class: 'form-control input-xxlarge',
                            'id': 'visitSummaryPull'
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label('Section Height', 'visit_summary_height', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'application_config[pull][coaching_forms][visit_summary_height]', value: application_config.pull.coaching_forms.visit_summary_height, class: 'form-control', 'data-parsley-type': 'number'}) }}
                    </div>
                </div>
                {% set excellence_counter_pull = application_config.pull.coaching_forms.areas_of_excellence_new|length %}
                {% set improvement_counter_pull = application_config.pull.coaching_forms.areas_of_improvement_new|length %}
                {% set development_counter_pull = application_config.pull.coaching_forms.development_plan_new|length %}
                <div class="areas-block">
                    <div class="form-group">
                        {{ form_label('Areas of Excellence (selling skills, selling tools, chefmanship)', 'areas_of_excellence_new', {class: 'control-label col-sm-12 title-left'}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label('Section Height', 'areas_of_excellence_new_height', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[pull][coaching_forms][areas_of_excellence_new_height]', value: application_config.pull.coaching_forms.areas_of_excellence_new_height, class: 'form-control', 'data-parsley-type': 'number'}) }}
                        </div>
                    </div>
                    {% for key, excellence_new_array in application_config.pull.coaching_forms.areas_of_excellence_new %}
                        <div class="form-group sku-base">
                            {{ form_label('Title', 'areas_of_excellence_new', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_input({name: 'application_config[pull][coaching_forms][areas_of_excellence_new]['~key~']', value: excellence_new_array, class: 'form-control InputProductId'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add hide"><i
                                            class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i
                                            class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group sku-base">
                        {{ form_label('Title', 'areas_of_excellence_new', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[pull][coaching_forms][areas_of_excellence_new]['~excellence_counter_pull~']', value: null, class: 'form-control InputProductId'}) }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-add"><i
                                        class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone clone-remove hide"><i
                                        class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="base-block"></div>
                </div>
                <hr>
                <div class="areas-block">
                    <div class="form-group">
                        {{ form_label('Areas for Improvement', 'areas_of_improvement_new', {class: 'control-label col-sm-12 title-left'}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label('Section Height', 'areas_of_improvement_new_height', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[pull][coaching_forms][areas_of_improvement_new_height]', value: application_config.pull.coaching_forms.areas_of_improvement_new_height, class: 'form-control', 'data-parsley-type': 'number'}) }}
                        </div>
                    </div>
                    {% for key, improvement_new_array in application_config.pull.coaching_forms.areas_of_improvement_new %}
                        <div class="form-group sku-base">
                            {{ form_label('Title', 'areas_of_improvement_new', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_input({name: 'application_config[pull][coaching_forms][areas_of_improvement_new]['~key~']', value: improvement_new_array, class: 'form-control InputProductId'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add hide"><i
                                            class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i
                                            class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group sku-base">
                        {{ form_label('Title', 'areas_of_improvement_new', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[pull][coaching_forms][areas_of_improvement_new]['~improvement_counter_pull~']', value: null, class: 'form-control InputProductId'}) }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-add"><i
                                        class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone clone-remove hide"><i
                                        class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="base-block"></div>
                </div>
                <hr>
                <div class="areas-block">
                    <div class="form-group">
                        {{ form_label('Development Plan', 'development_plan_new', {class: 'control-label col-sm-12 title-left'}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label('Section Height', 'development_plan_new_height', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[pull][coaching_forms][development_plan_new_height]', value: application_config.pull.coaching_forms.development_plan_new_height, class: 'form-control', 'data-parsley-type': 'number'}) }}
                        </div>
                    </div>
                    {% for key, development_new_array in application_config.pull.coaching_forms.development_plan_new %}
                        <div class="form-group sku-base">
                            {{ form_label('Title', 'development_plan_new', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_input({name: 'application_config[pull][coaching_forms][development_plan_new]['~key~']', value: development_new_array, class: 'form-control InputProductId'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add hide"><i
                                            class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i
                                            class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group sku-base">
                        {{ form_label('Title', 'development_plan_new', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[pull][coaching_forms][development_plan_new]['~development_counter_pull~']', value: null, class: 'form-control InputProductId'}) }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-add"><i
                                        class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone clone-remove hide"><i
                                        class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="base-block"></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="app_push">
                <div class="form-group">
                    {{ form_label('Summary of the visits Today', 'visit_summary', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_textarea({name: 'application_config[push][coaching_forms][visit_summary]', value: application_config.push.coaching_forms.visit_summary, class: 'form-control input-xxlarge',
                            'id': 'visitSummaryPush'
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label('Section Height', 'visit_summary_height', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'application_config[push][coaching_forms][visit_summary_height]', value: application_config.push.coaching_forms.visit_summary_height, class: 'form-control', 'data-parsley-type': 'number'}) }}
                    </div>
                </div>
                {% set excellence_counter_push = application_config.push.coaching_forms.areas_of_excellence_new|length %}
                {% set improvement_counter_push = application_config.push.coaching_forms.areas_of_improvement_new|length %}
                {% set development_counter_push = application_config.push.coaching_forms.development_plan_new|length %}
                <div class="areas-block">
                    <div class="form-group">
                        {{ form_label('Areas of Excellence (selling skills, selling tools, chefmanship)', 'areas_of_excellence_new', {class: 'control-label col-sm-12 title-left'}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label('Section Height', 'areas_of_excellence_new_height', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[push][coaching_forms][areas_of_excellence_new_height]', value: application_config.push.coaching_forms.areas_of_excellence_new_height, class: 'form-control', 'data-parsley-type': 'number'}) }}
                        </div>
                    </div>
                    {% for key, excellence_new_array in application_config.push.coaching_forms.areas_of_excellence_new %}
                        <div class="form-group sku-base">
                            {{ form_label('Title', 'areas_of_excellence_new', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_input({name: 'application_config[push][coaching_forms][areas_of_excellence_new]['~key~']', value: excellence_new_array, class: 'form-control InputProductId'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add hide"><i
                                            class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i
                                            class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group sku-base">
                        {{ form_label('Title', 'areas_of_excellence_new', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[push][coaching_forms][areas_of_excellence_new]['~excellence_counter_push~']', value: null, class: 'form-control InputProductId'}) }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-add"><i
                                        class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone clone-remove hide"><i
                                        class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="base-block"></div>
                </div>
                <hr>
                <div class="areas-block">
                    <div class="form-group">
                        {{ form_label('Areas for Improvement', 'areas_of_improvement_new', {class: 'control-label col-sm-12 title-left'}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label('Section Height', 'areas_of_improvement_new_height', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[push][coaching_forms][areas_of_improvement_new_height]', value: application_config.push.coaching_forms.areas_of_improvement_new_height, class: 'form-control', 'data-parsley-type': 'number'}) }}
                        </div>
                    </div>
                    {% for key, improvement_new_array in application_config.push.coaching_forms.areas_of_improvement_new %}
                        <div class="form-group sku-base">
                            {{ form_label('Title', 'areas_of_improvement_new', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_input({name: 'application_config[push][coaching_forms][areas_of_improvement_new]['~key~']', value: improvement_new_array, class: 'form-control InputProductId'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add hide"><i
                                            class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i
                                            class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group sku-base">
                        {{ form_label('Title', 'areas_of_improvement_new', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[push][coaching_forms][areas_of_improvement_new]['~improvement_counter_push~']', value: null, class: 'form-control InputProductId'}) }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-add"><i
                                        class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone clone-remove hide"><i
                                        class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="base-block"></div>
                </div>
                <hr>
                <div class="areas-block">
                    <div class="form-group">
                        {{ form_label('Development Plan', 'development_plan_new', {class: 'control-label col-sm-12 title-left'}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label('Section Height', 'development_plan_new_height', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[push][coaching_forms][development_plan_new_height]', value: application_config.push.coaching_forms.development_plan_new_height, class: 'form-control', 'data-parsley-type': 'number'}) }}
                        </div>
                    </div>
                    {% for key, development_new_array in application_config.push.coaching_forms.development_plan_new %}
                        <div class="form-group sku-base">
                            {{ form_label('Title', 'development_plan_new', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-6">
                                {{ form_input({name: 'application_config[push][coaching_forms][development_plan_new]['~key~']', value: development_new_array, class: 'form-control InputProductId'}) }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add hide"><i
                                            class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i
                                            class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group sku-base">
                        {{ form_label('Title', 'development_plan_new', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'application_config[push][coaching_forms][development_plan_new]['~development_counter_push~']', value: null, class: 'form-control InputProductId'}) }}
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-add"><i
                                        class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone clone-remove hide"><i
                                        class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="base-block"></div>
                </div>
            </div>
        </div>
    </div>
</div>