{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        $(function () {
            $('#from_date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $('#to_date').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false
            });
            $("#from_date").on("dp.change", function (e) {
                $('#to_date').data("DateTimePicker").minDate(e.date);
            });
            $("#to_date").on("dp.change", function (e) {
                $('#from_date').data("DateTimePicker").maxDate(e.date);
            });
        });
        var maxcustomer = 999;
        function addCustomer(ui)
        {
            maxcustomer++;
            var html = '<tr class="c_'+maxcustomer+'">';
            html += '<td width="20%">';
            html += ui.value;
            html += '<input type="hidden" name="customer[]" value="'+ui.value+'" >';
            html += '</td>';
            html += '<td>';
            html += ui.label;
            html += '</td>';
            html += '<td>';
            html += '<span class="btn btn-danger removepointst"  data-value="'+ui.value+'" data-nbconfig="'+maxcustomer+'">Remove</span>';
            html += '</td>';
            html += '</tr>';
            $('#customerlist').after(html);
        }
       // var except = '';
        $('#customer_search').autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{{ site_url('ami/customers/tokenfield') }}",
                    dataType: "json",
                    data: {
                        term : request.term,
                        except : except,
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            delay: 100,
            select: function (event, ui) {
                event.preventDefault();
                addCustomer(ui.item);
                except += ',"'+ui.item.value+'"';
                $('#customer_search').val('');
            }
        }).on('focus', function () {
            this.select();
        });

        $(document).on('click', '.removepointst', function () {
           except = except.replace(',"'+$(this).data('value')+'"', '');
           $('.c_'+$(this).data('nbconfig')).remove();
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/classification/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': classification.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Classification</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}

                        {{ html_btn(site_url('ami/classification'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if sales_cycle.id %}
                            <a href="{{ site_url('ami/classification/delete/' ~ classification.id) }}" title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('From', 'from_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'from_date', value: classification.from_date ? classification.from_date : "now"|date("Y-m-d H:i:s"), id: 'from_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('To', 'to_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'to_date', value: classification.to_date ? classification.to_date : date_end_month, id: 'to_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                    {% if errors %}
                        <ul class="parsley-errors-list filled">
                            <li class="parsley-overlaps">{{ errors }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Name', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'name', value: classification.name, id: 'name', class: errors ? 'form-control' : 'form-control', 'data-parsley-required': 'true'}) }}
                    {% if errors %}
                        <ul class="parsley-errors-list filled">
                            <li class="parsley-overlaps">{{ errors }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody >
                <tr id="customerlist">
                    <td width="20%">
                        {{ form_label('Customer', 'customer_search', {class: 'control-label'}) }}</td>
                    <td>
                        <div class="form-group">
                            <div class="">
                                {{ form_input({name: 'customer_search', value: '', id: 'customer_search', class: errors ? 'form-control' : 'form-control'}) }}

                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <script type="text/javascript">var except = '';</script>
                {% for key, customer in classification.customer %}
                    <tr class="c_{{ key }}">
                        <td width="20%">
                            {{ customer.armstrong_2_customers_id }}
                            <script type="text/javascript"> except += ',"{{ customer.armstrong_2_customers_id }}"';</script>
                            <input type="hidden" name="customer[]" value="{{ customer.armstrong_2_customers_id }}" >
                        </td>
                        <td>
                            {{ customer.armstrong_2_customers_id }} - {{ customer.armstrong_2_customers_name }}
                        </td>
                        <td>
                            <span class="btn btn-danger removepointst" data-value="{{ customer.armstrong_2_customers_id }}"  data-nbconfig="{{ key }}">Remove</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_input({name: 'id', value: classification.id, type: 'hidden', class: 'hide'}) }}

        </div>
    </div>

    {{ form_close() }}
{% endblock %}