{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/jquery-number/jquery.number.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ site_url('res/js/salespersons.js') }}"></script>
<script>

function initProductAutocomplete(destroy) {

    if (destroy) {
        $('.product-tokenfield').autocomplete( "destroy" );
    }

    $('.product-tokenfield').autocomplete({
        source: "{{ site_url('ami/products/tokenfield') }}",
        delay: 100,
        select: function( event, ui ) {
            event.preventDefault();
            var $this = $(this),
                $base = $this.closest('.sku-base'),
                $input = $base.find('.InputProductId'),
                price = ui.item.price || 0,
                pcsPrice = ui.item.pcsprice || 0,
                $qtyCase = $base.find('.qty-case'),
                $qtyPcs = $base.find('.qty-pcs'),
                qtyCase = parseInt($qtyCase.val()) || 0,
                qtyPcs = parseInt($qtyPcs.val()) || 0,        
                // $total = {{ ssd.id ? "$('#total')" : "$base.find('.total-price')" }};
                $total = $base.find('.total-price');


            if (price && pcsPrice)
            {
                var total = (price * qtyCase + pcsPrice * qtyPcs);
                $total.val($.number(total, 2));
            }

            $this.val(ui.item.label);
            $input.val(ui.item.value)
                .attr('data-price', price)
                .attr('data-pcsprice', pcsPrice);
        }
    }).on('focus', function() {
        this.select();
    });
}



function toggle(obj) {
    var $input = $(obj);
    if ($input.prop('checked')){
        document.getElementById("isConsolidatedOrder").value = "1";
    } 
    else {
        document.getElementById("isConsolidatedOrder").value = "0";
    };
}

$(function()
{
    $(document).on('change', '.product-selectz', function(e) {
        var $this = $(this),
            $selected = $this.find("option:selected"),
            price = $selected.data('price') || 0,
            pcsPrice = $selected.data('pcsprice') || 0,
            $base = $(this).closest('.sku-base'),
            $qtyCase = $base.find('.qty-case'),
            $qtyPcs = $base.find('.qty-pcs'),
            qtyCase = parseInt($qtyCase.val()) || 0,
            qtyPcs = parseInt($qtyPcs.val()) || 0,        
            // $total = {{ ssd.id ? "$('#total')" : "$base.find('.total-price')" }};
            $total = $base.find('.total-price');

        if (price && pcsPrice)
        {
            var total = (price * qtyCase + pcsPrice * qtyPcs);
            $total.val($.number(total, 2));
        }
    });

    $(document).on('change input', '.qty-case, .qty-pcs', function(e) {
        var $this = $(this),
            $base = $this.closest('.sku-base'),
            $input = $base.find('.InputProductId'),
            price = $input.data('price') || 0,
            pcsPrice = $input.data('pcsprice') || 0,
            $qtyCase = $base.find('.qty-case'),
            $qtyPcs = $base.find('.qty-pcs'),
            qtyCase = parseInt($qtyCase.val()) || 0,
            qtyPcs = parseInt($qtyPcs.val()) || 0,        
            // $total = {{ ssd.id ? "$('#total')" : "$base.find('.total-price')" }};
            $total = $base.find('.total-price');

        if (price && pcsPrice)
        {
            var total = (price * qtyCase + pcsPrice * qtyPcs);
            $total.val($.number(total, 2));
        }
    });

    $(document).on('click', '.btn-clone', function(e) {
        initProductAutocomplete();
    });

    $('.datetimepicker').datetimepicker({
        //format: 'YYYY-MM-DD HH:ii:ss'
    });

    $('#InputWholesalers').autocomplete({
       // source: "{{ site_url('ami/wholesalers/tokenfield') }}",
        source: function(request, response) {
            $.ajax({
                url: "{{ site_url('ami/wholesalers/tokenfield') }}",
                dataType: "json",
                data: {
                    term : request.term,
                    action: 'ssd',
                    salespersons : $('#SelectSalesperson').find(":selected").val()
                },
                success: function(data) {
                    response(data);
                }
            });
        },
        delay: 100,
        select: function( event, ui ) {
            event.preventDefault();
            $(this).val(ui.item.label);
            $('#InputWholesalersId').val(ui.item.value);

            $('#InputDistributors').val('');
            $('#InputDistributorsId').val('');
        }
    }).on('focus', function() {
        this.select();
    });

    $('#InputDistributors').autocomplete({
       // source: "{{ site_url('ami/distributors/tokenfield') }}",
        source: function(request, response) {
            $.ajax({
                url: "{{ site_url('ami/distributors/tokenfield') }}",
                dataType: "json",
                data: {
                    term : request.term,
                    action: 'ssd',
                    salespersons : $('#SelectSalesperson').find(":selected").val()
                },
                success: function(data) {
                    response(data);
                }
            });
        },
        delay: 100,
        select: function( event, ui ) {
            event.preventDefault();
            $(this).val(ui.item.label);
            $('#InputDistributorsId').val(ui.item.value);

            $('#InputWholesalers').val('');
            $('#InputWholesalersId').val('');
        }
    }).on('focus', function() {
        this.select();
    });

    $('#InputCallRecords').autocomplete({
        source: "{{ site_url('ami/call_records/tokenfield') }}",
        delay: 100,
        select: function( event, ui ) {
            event.preventDefault();
            $(this).val(ui.item.label);
            $('#InputCallRecordsId').val(ui.item.value);
        }
    }).on('focus', function() {
        this.select();
    });

    $('#InputCustomers').autocomplete({
        // source: "{{ site_url('ami/customers/tokenfield?action=ssd&salespersons=') }}" + $('#SelectSalesperson').find(":selected").val(),
        source: function(request, response) {
            $.ajax({
                url: "{{ site_url('ami/customers/tokenfield') }}",
                dataType: "json",
                data: {
                    term : request.term,
                    action: 'ssd',
                    salespersons : $('#SelectSalesperson').find(":selected").val()
                },
                success: function(data) {
                    response(data);
                }
            });
        },
        delay: 100,
        select: function( event, ui ) {
            event.preventDefault();
            $(this).val(ui.item.label);
            $('#InputCustomersId').val(ui.item.value);
        }
    }).on('focus', function() {
        this.select();
    });
    
    $('#SelectSalesperson').on('change', function() {
        $("#InputCustomers").autocomplete( "search", "" );
    });


    // window.ParsleyUI.addError($('#InputWholesalers').parsley(), 'required', ' ');
    // window.ParsleyUI.addError($('#InputDistributors').parsley(), 'required', ' '); 

    $.listen('parsley:form:validate', function(formInstance) {
        
        window.ParsleyUI.removeError($('#InputWholesalers').parsley(), 'required', 'Either this value or Distributor value is required');
        window.ParsleyUI.removeError($('#InputDistributors').parsley(), 'required', 'Either this value or Wholesaler value is required');

        if (!$('#InputWholesalers').val() && !$('#InputDistributors').val()) {

            window.ParsleyUI.addError($('#InputWholesalers').parsley(), 'required', 'Either this value or Distributor value is required');
            window.ParsleyUI.addError($('#InputDistributors').parsley(), 'required', 'Either this value or Wholesaler value is required');

            formInstance.submitEvent.preventDefault();
        }
    });
    
    // $('.parlsey-form').on('submit', function(e) {
    //     console.log($('#InputWholesalers').val());
    //     console.log($('#InputDistributors').val());
    //     if ($('#InputWholesalers').val() == '' && $('#InputDistributors').val() == '') {
    //         console.log('123');
    //         window.ParsleyUI.addError($('#InputWholesalers').parsley(), 'required', 'Either this value or Distributor value is required');
    //         window.ParsleyUI.addError($('#InputDistributors').parsley(), 'required', 'Either this value or Wholesaler value is required');

    //         e.preventDefault();
    //     }
    // });

    initProductAutocomplete();

    var ngayon = new Date();
    ngayon.setMonth(ngayon.getMonth() - 4);

    $('.ssd-datetimepicker').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
        minDate: ngayon
    }).on("dp.change", function (e) {
        $('#InputMonth').val(moment(e.date).format('M'));
        $('#InputYear').val(moment(e.date).format('YYYY'));
    });

    // $('.parsley-need-one').change(function() {
    //     var $this = $(this),
    //         $selected = $this.find("option:selected"),
    //         target = $this.data('target') || false;

    //     if (target)
    //     {
    //         if ($selected.val())
    //         {
    //             $(target).attr('data-parsley-required', 'false');
    //         }
    //         else
    //         {
    //             $(target).attr('data-parsley-required', 'true');
    //         }
    //     }
    // });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/ssd/save'), {class: 'form-horizontal parlsey-form', 'data-parsley-validate': 'true'}, {
        id: ssd.id,
        pending: pending
    }) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Ssd</h1>
                <div class="text-right">
                    {# {% include 'ami/components/form_btn.html.twig' with {url: 'ami/ssd', id: ssd.id, permission: 'ssd'} %} #}
                    <div class="btn-header-toolbar">
                        {% set url = pending ? 'ami/ssd/pending' : 'ami/ssd' %}  
                        {% if has_permission('add', 'ssd') or has_permission('edit', 'ssd') %}  
                            {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
                        {% endif %}

                        {{ html_btn(site_url(url), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        
                        {% if ssd.id and has_permission('delete', 'ssd') %}
                            <a href="{{ site_url('ami/ssd/delete/' ~ ssd.id) }}" title="Delete" class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}    
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>              
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">             
                {% if (session.country_code in ['tw']) %}
                    <div class="form-group">
                        {{ form_label('Is Consolidated Order?', 'is_consolidated_order', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-5">
                            <input type="checkbox" value="1" name="is_consolidated_order" id="isConsolidatedOrder" onclick="toggle(this)" {{ ssd.is_consolidated_order == "1" ? 'checked' : '' }}>&nbsp; Yes</input>
                        </div>
                    </div>
                {% endif %}                    
                <div class="form-group">
                    {{ form_label('Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('armstrong_2_salespersons_id', salespersons, ssd.armstrong_2_salespersons_id, '
                            class="form-control" 
                            data-parsley-required="true" 
                            id="SelectSalesperson" 
                            data-url="' ~ site_url('ami/salespersons/fetch_customer') ~ '"
                        ') }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Customer', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {# {{ form_dropdown('armstrong_2_customers_id', customers, ssd.armstrong_2_customers_id, '
                            class="form-control" 
                            data-parsley-required="true" 
                            id="SelectCustomer"
                        ') }} #}
                        {{ form_input({name: 'armstrong_2_customers_id_', value: customers[ssd.armstrong_2_customers_id], 
                            'class': 'form-control', 
                            'id': 'InputCustomers',
							'data-parsley-required' : 'true'
                        }) }}
                        <input type="hidden" name="armstrong_2_customers_id" id="InputCustomersId" value="{{ ssd.armstrong_2_customers_id }}" />
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Wholesaler', 'armstrong_2_wholesalers_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {# {{ form_dropdown('armstrong_2_wholesalers_id', wholesalers, ssd.armstrong_2_wholesalers_id, '
                            class="form-control parsley-need-one" 
                            id="SelectWholesalers" 
                            data-target="SelectDistributors" 
                        ') }} #}
                        {{ form_input({name: 'armstrong_2_wholesalers_id_', value: wholesalers[ssd.armstrong_2_wholesalers_id], 
                            'class': 'form-control', 
                            'id': 'InputWholesalers',
                        }) }}
                        <input type="hidden" name="armstrong_2_wholesalers_id" id="InputWholesalersId" value="{{ ssd.armstrong_2_wholesalers_id }}" />
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Distributor', 'armstrong_2_distributors_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {# {{ form_dropdown('armstrong_2_distributors_id', distributors, ssd.armstrong_2_distributors_id, '
                            class="form-control parsley-need-one" 
                            id="SelectWholesalers" 
                            data-target="SelectDistributors" 
                        ') }} #}
                        {{ form_input({name: 'armstrong_2_distributors_id_', value: distributors[ssd.armstrong_2_distributors_id], 
                            'class': 'form-control', 
                            'id': 'InputDistributors',
                        }) }}
                        <input type="hidden" name="armstrong_2_distributors_id" id="InputDistributorsId" value="{{ ssd.armstrong_2_distributors_id }}" />
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Call Record', 'armstrong_2_call_records_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {# {{ form_dropdown('armstrong_2_call_records_id', call_records, ssd.armstrong_2_call_records_id, 'class="form-control"') }} #}
                        {{ form_input({name: 'armstrong_2_call_records_id_', value: ssd.armstrong_2_call_records_id, 
                            'class': 'form-control', 
                            'id': 'InputCallRecords'
                        }) }}
                        <input type="hidden" name="armstrong_2_call_records_id" id="InputCallRecordsId" value="{{ ssd.armstrong_2_call_records_id }}" />
                    </div>
                </div>


                {% set productTitle = session.country_id in [3, 6] ? 'name_alt' : 'sku_name' %}
                {% if ssd.id %}          
					{% if products_array|length >0 %}
						{# {{ form_label('Product', 'sku_number_', {class: 'control-label col-sm-3'}) }}
						<div class="col-sm-6">
							<select name="sku_number" class="form-control product-select" data-parsley-required="true">
								<option value="">- Select -</option>
								{% for product in products %}
									<option value="{{ product.sku_number }}" data-price="{{ product.price }}" data-pcsprice="{{ (product.price / product.quantity_case) }}" class="product-option" {{ product.sku_number == ssd.sku_number ? 'selected' : ''}}>{{ product.sku_number }} - {{ session.country_id in [3, 6] ? product.name_alt : product.sku_name }} ({{ product.quantity_case }}x{{ product.weight_pc }}) - {{ product.price|number_format(2) }}</option>
								{% endfor %}
							</select>                            

							{{ form_input({name: 'sku_number_', value: get_product_label(products[ssd.sku_number], productTitle), 
								'class': 'form-control product-tokenfield',
							}) }}
							<input type="hidden" name="sku_number" class="InputProductId" value="{{ ssd.sku_number }}" data-price="{{ products[ssd.sku_number].price }}" data-pcsprice="{{ (products[ssd.sku_number].price / products[ssd.sku_number].quantity_case) }}" />
						</div>
						<div class="col-sm-3"></div>
						<div class="col-sm-offset-3 col-sm-9 m-t no-parsley">
							Qty case {{ form_input({name: 'qty_cases', value: ssd.qty_cases, class: 'form-control sub-input qty-case', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp; 
							Qty pcs {{ form_input({name: 'qty_pcs', value: ssd.qty_pcs, class: 'form-control sub-input qty-pcs', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp;
							Free case {{ form_input({name: 'free_qty_cases', value: ssd.free_qty_cases, class: 'form-control sub-input', 'maxlength': 3}) }}&nbsp;
							Free pcs {{ form_input({name: 'free_qty_pcs', value: ssd.free_qty_pcs, class: 'form-control sub-input', 'maxlength': 3}) }}
						</div> #}

						{% for key,ssd_product in products_array %}
							<div class="form-group sku-base">
								{{ form_label('Product', 'sku_number_', {class: 'control-label col-sm-3'}) }}
								<div class="col-sm-6">                        
									{{ form_input({name: 'sku_number_', value: (products[key]) ? get_product_label(products[key], productTitle) : '',
										'class': 'form-control product-tokenfield',
									}) }}
									<input type="hidden" name="ssd_update[{{ ssd_product.id }}][sku_number]" class="InputProductId" value="{{ key }}" data-price="{{ products[key].price }}" data-pcsprice="{{ (products[key].price > 0 and products[key].quantity_case > 0) ? (products[key].price / products[key].quantity_case) : 0 }}" />
									<input type="hidden" name="ssd_update[{{ ssd_product.id }}][id]" value="{{ ssd_product.id }}" />
								</div>
								<div class="col-sm-3">
									<button class="btn btn-default btn-clone clone-btn" data-clone=".sku-base"><i class="fa fa-plus"></i></button>
									<button class="btn btn-default btn-clone remove-clone-btn" data-clone=".sku-base"><i class="fa fa-minus"></i></button>
									<input type="hidden" data-name="ssd_delete[]" data-target="#SsdDelete" class="clone-move" value="{{ ssd_product.id }}" />
								</div>
								<div class="col-sm-offset-3 col-sm-9 m-t no-parsley">
									Qty case {{ form_input({name: 'ssd_update[' ~ ssd_product.id ~ '][qty_cases]', value: ssd_product.qty_cases, class: 'form-control sub-input qty-case', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp; 
									Qty pcs {{ form_input({name: 'ssd_update[' ~ ssd_product.id ~ '][qty_pcs]', value: ssd_product.qty_pcs, class: 'form-control sub-input qty-pcs', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp;
									Free case {{ form_input({name: 'ssd_update[' ~ ssd_product.id ~ '][free_qty_cases]', value: ssd_product.free_qty_cases, class: 'form-control sub-input', 'maxlength': 3}) }}&nbsp;
									Free pcs {{ form_input({name: 'ssd_update[' ~ ssd_product.id ~ '][free_qty_pcs]', value: ssd_product.free_qty_pcs, class: 'form-control sub-input', 'maxlength': 3}) }}
									Total {{ form_input({name: 'ssd_update[' ~ ssd_product.id ~ '][total_price]', value: ssd_product.total_price|number_format(2), 
										'class': 'form-control sub-input total-price', 
										'readonly': 'readonly',
										'style': 'width: 15%'
									}) }}
								</div>
							</div>
						{% endfor %}
					{% else %}
						<div class="form-group sku-base">
							{{ form_label('Product', 'sku_number_', {class: 'control-label col-sm-3'}) }}
							<div class="col-sm-6">
								{# <select name="products[0][sku_number]" class="form-control product-select" data-parsley-required="true">
									<option value="">- Select -</option>
									{% for product in products %}
										<option value="{{ product.sku_number }}" data-price="{{ product.price }}" data-pcsprice="{{ (product.price / product.quantity_case) }}" class="product-option" {{ product.sku_number == ssd.sku_number ? 'selected' : ''}}>{{ product.sku_number }} - {{ session.country_id in [3, 6] ? product.name_alt : product.sku_name }} ({{ product.quantity_case }}x{{ product.weight_pc }}) - {{ product.price|number_format(2) }}</option>
									{% endfor %}
								</select> #}

								{{ form_input({name: 'sku_number_', value: null, 
									'class': 'form-control product-tokenfield',
									'data-parsley-required' : 'true'
								}) }}
								<input type="hidden" name="products[0][sku_number]" class="InputProductId" value="" data-price="0" data-pcsprice="0" />
							</div>
							<div class="col-sm-3">
								<button class="btn btn-default btn-clone clone-btn" data-clone=".sku-base"><i class="fa fa-plus"></i></button>
								<button class="btn btn-default btn-clone remove-clone-btn" data-clone=".sku-base" style="display: none;"><i class="fa fa-minus"></i></button>
							</div>
							<div class="col-sm-offset-3 col-sm-9 m-t no-parsley">
								Qty case {{ form_input({name: 'products[0][qty_cases]', value: null, class: 'form-control sub-input qty-case', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp; 
								Qty pcs {{ form_input({name: 'products[0][qty_pcs]', value: null, class: 'form-control sub-input qty-pcs', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp;
								Free case {{ form_input({name: 'products[0][free_qty_cases]', value: null, class: 'form-control sub-input', 'maxlength': 3}) }}&nbsp;
								Free pcs {{ form_input({name: 'products[0][free_qty_pcs]', value: null, class: 'form-control sub-input', 'maxlength': 3}) }}
								Total {{ form_input({name: 'products[0][total_price]', value: 0, 
									'class': 'form-control sub-input total-price', 
									'readonly': 'readonly',
									'style': 'width: 15%'
								}) }}
							</div>
						</div>
					{% endif %}
                {% else %}
                    <div class="form-group sku-base">
                        {{ form_label('Product', 'sku_number_', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {# <select name="products[0][sku_number]" class="form-control product-select" data-parsley-required="true">
                                <option value="">- Select -</option>
                                {% for product in products %}
                                    <option value="{{ product.sku_number }}" data-price="{{ product.price }}" data-pcsprice="{{ (product.price / product.quantity_case) }}" class="product-option" {{ product.sku_number == ssd.sku_number ? 'selected' : ''}}>{{ product.sku_number }} - {{ session.country_id in [3, 6] ? product.name_alt : product.sku_name }} ({{ product.quantity_case }}x{{ product.weight_pc }}) - {{ product.price|number_format(2) }}</option>
                                {% endfor %}
                            </select> #}

                            {{ form_input({name: 'sku_number_', value: null, 
                                'class': 'form-control product-tokenfield',
								'data-parsley-required' : 'true'
                            }) }}
                            <input type="hidden" name="products[0][sku_number]" class="InputProductId" value="" data-price="0" data-pcsprice="0" />
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone clone-btn" data-clone=".sku-base"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone remove-clone-btn" data-clone=".sku-base" style="display: none;"><i class="fa fa-minus"></i></button>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9 m-t no-parsley">
                            Qty case {{ form_input({name: 'products[0][qty_cases]', value: null, class: 'form-control sub-input qty-case', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp; 
                            Qty pcs {{ form_input({name: 'products[0][qty_pcs]', value: null, class: 'form-control sub-input qty-pcs', 'maxlength': 3,'data-parsley-required':'true'}) }}&nbsp;
                            Free case {{ form_input({name: 'products[0][free_qty_cases]', value: null, class: 'form-control sub-input', 'maxlength': 3}) }}&nbsp;
                            Free pcs {{ form_input({name: 'products[0][free_qty_pcs]', value: null, class: 'form-control sub-input', 'maxlength': 3}) }}
                            Total {{ form_input({name: 'products[0][total_price]', value: 0, 
                                'class': 'form-control sub-input total-price', 
                                'readonly': 'readonly',
                                'style': 'width: 15%'
                            }) }}
                        </div>
                    </div>
                {% endif %}  

                <div id="SsdDelete"></div>             

                {# {% if ssd.id %}
                    <div class="form-group">
                        {{ form_label('Total Price', 'total_price', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            {{ form_input({name: 'total_price', value: ssd.total_price|number_format(2, '.', ','), class: 'form-control', 'id': 'total', 'readonly': 'readonly'}) }}
                        </div>
                    </div>
                {% endif %} #}

                <div class="form-group">
                    {{ form_label('Method', 'method', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('method', ssd_method, ssd.method, 'class="form-control" data-parsley-required="true"') }}
                    </div>
                </div>
            <div class="form-group">
                {{ form_label('Status', 'status', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('status', ssd_status, ssd.status, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
                <div class="form-group">
                    {{ form_label('SSD Date', 'ssd_date', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'ssd_date', value: Carbon.parse(ssd.ssd_date).toDateTimeString(),
                            'class': 'form-control ssd-datetimepicker'
                        }) }}
                    </div>
                </div>                

                <div class="form-group">
                    {{ form_label('Month', 'ssd_month', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {# {{ form_dropdown('ssd_month', select_month(), ssd.ssd_month|number_format, 'class="form-control" data-parsley-required="true"') }} #}
                        {{ form_input({name: 'ssd_month', value: ssd.ssd_month, 
                            'class': 'form-control',
                            'data-parsley-type': 'digits',
                            'readonly': 'readonly',
                            'id': 'InputMonth'
                        }) }}
                    </div>
                </div>  

                <div class="form-group">
                    {{ form_label('Year', 'ssd_year', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {# {{ form_dropdown('ssd_year', select_year(2010), ssd.ssd_year, 'class="form-control" data-parsley-required="true"') }} #}
                        {{ form_input({name: 'ssd_year', value: ssd.ssd_year, 
                            'class': 'form-control',
                            'data-parsley-type': 'digits',
                            'readonly': 'readonly',
                            'id': 'InputYear'
                        }) }}
                    </div>
                </div>               

                <!--div class="form-group">
                    {{ form_label('Date Sync', 'date_sync', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'date_sync', value: Carbon.parse(ssd.date_sync).toDateTimeString(),
                            'class': 'form-control datetimepicker'
                        }) }}
                    </div>
                </div-->

                <div class="form-group">
                    {{ form_label('Remarks', 'remarks', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_textarea({name: 'remarks', value: ssd.remarks, class: 'form-control', 'rows': 3}) }}
                    </div>
                </div>

                {# <div class="form-group">
                    {{ form_label('Status', 'status', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'status', value: ssd.remarks, class: 'form-control', 'data-parsley-type': 'number'}) }}
                    </div>
                </div>  #}                  
        </div>
    </div> 

    {{ form_close() }}   
{% endblock %}