{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
<script src="{{ site_url('res/js/import.js') }}"></script>
<script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ site_url('res/js/call_modules.js') }}"></script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/ssd/update'), {class: draft ? 'form-horizontal' : 'form-horizontal submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Ssd Draft' : 'Ssd' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                     {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/ssd', icon: 'fa-money', title: 'SSD', permission: 'ssd', showImport: 1, getTemplateimport: 'res/up/ssd_excel_template.xlsx'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">            
            {# <div class="panel panel-default">                                
                <div class="panel-body">                
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            {% if not draft %}
                                {% if session.country_id in [6] and session.roleName == 'Sales Manager' %}
                                <div class="row table-filter">
                                    <div class="col-md-12">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown">Filter: {{ filter ? 'Active' : 'Pending'}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
                                                <li role="presentation" {{ filter ? 'class="active"' : '' }}><a role="menuitem" tabindex="-1" href="{{ site_url('ami/ssd') }}">Active</a></li>
                                                <li role="presentation" {{ filter ? '' : 'class="active"' }}><a role="menuitem" tabindex="-1" href="{{ site_url('ami/ssd?filter=pending') }}">Pending</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                            <thead>
                                <tr>
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    <th>ID</th>
                                    <th>Total</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    {% if has_permission('edit', 'ssd') or has_permission('delete', 'ssd') %}
                                        <th class="nosort text-center"></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for _ssd in ssd %}
                                    <tr>
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: _ssd.id}) }}</td>
                                        <td><a href="{{ site_url('ami/ssd/edit/' ~ _ssd.id) }}" title="{{ _ssd.id }} - {{ _ssd.sku_number }}" data-toggle="ajaxModal">{{ _ssd.id }} - {{ _ssd.sku_number }}</a></td>
                                        <td>{{ _ssd.total_price|number_format(0) }}</td>
                                        <td class="center">{{ _ssd.date_created }}</td>
                                        <td class="center">{{ _ssd.last_updated }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'ssd') or has_permission('delete', 'ssd') %}
                                                {% if session.country_code == 'tw' %}
                                                    <div class="btn-group">
                                                        {% if has_permission('edit', 'ssd') %}                                            
                                                            {{ html_btn(site_url('ami/ssd/edit/' ~ _ssd.id), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}

                                                            {% if filter == 'pending' %}
                                                                {{ html_btn(site_url('ami/ssd/approve/' ~ _ssd.id), '<i class="fa fa-thumbs-up"></i>', {'class': 'btn-default approve', 'title': 'Approve', 'data-toggle': 'ajaxModal'}) }}
                                                                {{ html_btn(site_url('ami/ssd/reject/' ~ _ssd.id), '<i class="fa fa-thumbs-down"></i>', {'class': 'btn-default reject', 'title': 'Reject', 'data-toggle': 'ajaxModal'}) }}
                                                            {% endif %}
                                                        {% endif %}

                                                        {% if has_permission('delete', 'ssd') %}
                                                            {% if draft %}
                                                                {{ html_btn(site_url('ami/ssd/restore/' ~ _ssd.id), '<i class="fa fa-history"></i>', {'class': 'btn-default restore', 'title': 'Restore', 'data-toggle': 'ajaxModal'}) }}        
                                                            {% else %}
                                                                {{ html_btn(site_url('ami/ssd/delete/' ~ _ssd.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                {% else %}
                                                    {% include 'ami/components/table_btn.html.twig' with {url: 'ami/ssd', id: _ssd.id, permission: 'ssd'} %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% set pagination_url = filter ? site_url('ami/ssd') : site_url('ami/ssd?filter=pending') %}
                                {{ pagination({base_url: pagination_url, per_page: per_page, total_rows: total}) }}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel --> #}

            {% if salespersons|length > 1 %}
                <div class="form-group">
                    {{ form_label('Salespersons', 'salespersons', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('salespersons', salespersons, 'ALL', 'id="SalespersonsSelector" class="form-control select-multiple" data-parsley-required="true" multiple') }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label('Date Time', 'date_time', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'date_time', value: null, 
                        class: 'form-control',
                        'id': 'InputDateRange'
                    }) }}
                </div>

                <input type="hidden" id="InputStartDate" value="" />
                <input type="hidden" id="InputEndDate" value="" />
            </div>

            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="#" class="btn btn-primary" id="Generate" 
                        data-url="{{ site_url('ami/ssd/ssd_data') }}"
                        data-container="#SsdContainer"
                        data-draft="{{ draft ? 1 : 0 }}">Generate</a>
                </div>
            </div>

            <div id="SsdContainer"></div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    {{ form_close() }}

{% endblock %}