{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
<script src="{{ site_url('res/js/import.js') }}"></script>
<script>
$(document).ready(function() {
    $('#dataTables').dataTable({
        /*"processing": true,
        "serverSide": true,
        "ajax": "{{ site_url('ami/news/ajaxData') }}",*/
        'order': [[1, 'asc']],
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });

    $('#BtnApproveAll').click(function(e) {
        e.preventDefault();

        var $this = $(this),
            $form = $this.closest('form');

        bootbox.confirm("Please confirm approval?", function(result) {
            if (result) {  
                $.ajax({
                    url: "{{ site_url('ami/ssd/approve_all') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: $form.serialize(),
                    beforeSend: function() {
                        $('#BtnApproveAll').html('<i style="font-size: 20px" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>')
                    },
                    success: function(res) {
                        window.location.reload();
                    }
                });
            }
        });
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/ssd/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Pending Consolidated Orders ({{ pendingSsd }})</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                     {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/ssd', icon: 'fa-money', title: 'SSD', permission: 'ssd'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {% for _ssd in ssd %}
        <input type="hidden" name="ids[]" value="{{ _ssd.id }}" />
    {% endfor %}

    <div class="row m-t-md">
        <div class="col-lg-12">            
            <div class="panel panel-default">                                
                <div class="panel-body">                
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">                        
                            <thead>
                                <tr>
                                    {# <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th> #}
                                    <th>ID</th>
                                    <th>Salesperson Name</th>
                                    <th>Operator</th>
                                    <th>Created</th>
                                    <th>Updated</th>                                    
                                    <th class="nosort text-center">
                                        {% if ssd %}
                                            {{ html_btn('#', '<i class="fa fa-thumbs-up"></i> Approve All', {
                                                'class': 'btn-success approve', 
                                                'title': 'Approve All',
                                                'id': 'BtnApproveAll'
                                            }) }}
                                        {% endif %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for _ssd in ssd %}
                                    <tr>
                                        {# <td class="text-center">{{ form_checkbox({name: 'ids[]', value: _ssd.armstrong_2_ssd_id}) }}</td> #}
                                        <td><a href="{{ site_url('ami/ssd/edit/' ~ _ssd.id ~ '?pending=1') }}" title="{{ _ssd.id }}" data-toggle="ajaxModal">{{ _ssd.armstrong_2_ssd_id }}</a></td>
                                        <td>{{ _ssd.armstrong_2_salespersons_id }} - {{ _ssd.first_name }} {{ _ssd.last_name }}</td>
                                        <td>{{ _ssd.armstrong_2_customers_id }} - {{ _ssd.armstrong_2_customers_name }}</td>
                                        <td class="center">{{ _ssd.date_created }}</td>
                                        <td class="center">{{ _ssd.last_updated }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if session.country_code == 'tw' %}
                                                <div class="btn-group">
                                                    {% if session.roleName == 'Sales Manager' %}
                                                        {{ html_btn(site_url('ami/ssd/edit/' ~ _ssd.id ~ '?pending=1'), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}
                                                        {{ html_btn(site_url('ami/ssd/approve/' ~ _ssd.id), '<i class="fa fa-thumbs-up"></i>', {'class': 'btn-default approve', 'title': 'Approve', 'data-toggle': 'ajaxModal'}) }}
                                                        {{ html_btn(site_url('ami/ssd/reject/' ~ _ssd.id), '<i class="fa fa-thumbs-down"></i>', {'class': 'btn-default reject', 'title': 'Reject', 'data-toggle': 'ajaxModal'}) }}
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                {% include 'ami/components/table_btn.html.twig' with {url: 'ami/ssd', id: _ssd.id, permission: 'ssd'} %}
                                            {% endif %}
                                        </td>                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    {{ form_close() }}

{% endblock %}