<div class="modal-dialog" style="max-height: 400px">

    {% set url = approve ? 'approve' : 'reject' %}

    {{ form_open(site_url('ami/ssd/' ~ url ~ '/'  ~ ssd.id), {class: 'modal-content pending-action-form'}) }}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ url|capitalize }}: {{ ssd.armstrong_2_ssd_id }} - {{ ssd.sku_number }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="list-group">
                    {% if ssd.customer %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-group pull-left"></i>
                            <div class="m-l-xl">                        
                                <h4 class="list-group-item-heading text-muted">Customer</h4>
                                <p class="list-group-item-text">{{ ssd.customer.armstrong_2_customers_id }} - {{ ssd.customer.armstrong_2_customers_name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if ssd.salesperson %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-male pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Salesperson</h4>
                                <p class="list-group-item-text">{{ ssd.salesperson.armstrong_2_salespersons_id }} - {{ ssd.salesperson.first_name }} {{ ssd.salesperson.last_name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if ssd.wholesaler %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-shopping-cart pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Wholesaler</h4>
                                <p class="list-group-item-text">{{ ssd.wholesaler.armstrong_2_wholesalers_id }} - {{ ssd.wholesaler.name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if ssd.distributor %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-bus pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Distributor</h4>
                                <p class="list-group-item-text">{{ ssd.distributor.armstrong_2_distributors_id }} - {{ ssd.distributor.name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if ssd.call_record %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-bus pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Distributor</h4>
                                <p class="list-group-item-text">{{ ssd.call_record.armstrong_2_call_records_id }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {% if session.roleName == 'Sales Manager' %}
                <button type="submit" class="btn btn-primary"><i class="fa fa-fw {{ approve ? 'fa-thumbs-up' : 'fa-thumbs-down' }}"></i> {{ url|capitalize }}</a></button>
            {% endif %}
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
        </div>
    {{ form_close() }}
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>