<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ ssd.armstrong_2_ssd_id }} - {{ ssd.sku_number }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                <div class="list-group">
                    {% if ssd.customer %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-group pull-left"></i>

                            <div class="m-l-xl">
                                <h4 class="list-group-item-heading text-muted">Customer</h4>

                                <p class="list-group-item-text">{{ ssd.customer.armstrong_2_customers_id }}
                                    - {{ ssd.customer.armstrong_2_customers_name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if ssd.salesperson %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-male pull-left"></i>

                            <div class="m-l-xl">
                                <h4 class="list-group-item-heading text-muted">Salesperson</h4>

                                <p class="list-group-item-text">{{ ssd.salesperson.armstrong_2_salespersons_id }}
                                    - {{ ssd.salesperson.first_name }} {{ ssd.salesperson.last_name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if ssd.wholesaler %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-shopping-cart pull-left"></i>

                            <div class="m-l-xl">
                                <h4 class="list-group-item-heading text-muted">Wholesaler</h4>

                                <p class="list-group-item-text">{{ ssd.wholesaler.armstrong_2_wholesalers_id }}
                                    - {{ ssd.wholesaler.name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if ssd.distributor %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-bus pull-left"></i>

                            <div class="m-l-xl">
                                <h4 class="list-group-item-heading text-muted">Distributor</h4>

                                <p class="list-group-item-text">{{ ssd.distributor.armstrong_2_distributors_id }}
                                    - {{ ssd.distributor.name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if ssd.call_record %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-coffee pull-left"></i>

                            <div class="m-l-xl">
                                <h4 class="list-group-item-heading text-muted">Call Records</h4>

                                <p class="list-group-item-text">{{ ssd.call_record.armstrong_2_call_records_id }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-calendar pull-left"></i>

                        <div class="m-l-xl">
                            <h4 class="list-group-item-heading text-muted">Date</h4>

                            <p class="list-group-item-text">{{ Carbon.parse(ssd.ssd_date).toDateString() }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-money pull-left"></i>

                        <div class="m-l-xl">
                            <h4 class="list-group-item-heading text-muted">Total</h4>

                            <p class="list-group-item-text">{{ total|number_format(2) }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-info pull-left"></i>

                        <div class="m-l-xl">
                            <h4 class="list-group-item-heading text-muted">Method</h4>

                            <p class="list-group-item-text">{{ methods[ssd.method] }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-shopping-cart pull-left"></i>

                        <div class="m-l-xl">
                            <h4 class="list-group-item-heading text-muted">Products</h4>
                            {% set productTitle = session.country_id in [3, 6] ? 'name_alt' : 'sku_name' %}
                            {{ get_product_label(products[ssd.sku_number], productTitle) }}
                            <br>
                            Quantity Pieces: {{ ssd.qty_pcs }}
                            Quantity Case: {{ ssd.qty_cases }}
                            Free Pieces: {{ ssd.free_qty_pcs }}
                            Free Case: {{ ssd.free_qty_cases }}
                            
                            <!-- {% for key,ssd_product in ssdGroups %}
                                {% if ssd_product.sku_number != '' %}
                                    <br><br>
                                    {{ get_product_label(products[ssd_product.sku_number], productTitle) }}
                                    <br>
                                    Quantity Pieces: {{ ssd_product.qty_pcs }}
                                    Quantity Case: {{ ssd_product.qty_cases }}
                                    Free Pieces: {{ ssd_product.free_qty_pcs }}
                                    Free Case: {{ ssd_product.free_qty_cases }}
                                {% endif %}
                            {% endfor %} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'ssd') %}
                {% set editUrl = pending ? 'ami/ssd/edit/' ~ ssd.id ~ '?pending=1' : 'ami/ssd/edit/' ~ ssd.id %}
                {{ html_btn(site_url(editUrl), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.modal-body').slimScroll({
            height: '400px'
        });
    });
</script>