{% if ssd %} 

    <div class="panel panel-default">                            
        <div class="panel-body">                
            <div class="">
                <table class="table table-striped table-bordered table-hover" id="dataTables">                    
                    <thead>
                        <tr>
                            {% if has_permission('delete', 'ssd') %}
                                <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                            {% endif %}
                            <th>ID</th>
                            <th>SSD ID</th>
                            <th>Salesperson </th>
                            <th>Operator</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>SSD date</th>
                            <th class="nosort text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for _ssd in ssd %}
                            <tr>
                                {% if has_permission('delete', 'ssd') %}
                                    <td class="text-center">{{ form_checkbox({name: 'ids[]', value: _ssd.id}) }}</td>
                                {% endif %}
                                <td><a href="{{ site_url('ami/ssd/edit/' ~ _ssd.id) }}" title="{{ _ssd.id }}" data-toggle="ajaxModal">{{ _ssd.id }}</a></td>
                                <td>{{ _ssd.armstrong_2_ssd_id }}</td>
                                <td>{{ _ssd.armstrong_2_salespersons_id }} - {{ _ssd.first_name }} {{ _ssd.last_name }} </td>
                                <td>{{ _ssd.armstrong_2_customers_id }} - {{ _ssd.armstrong_2_customers_name }}</td>
                                <td class="center">{{ _ssd.status == 1 ? 'Approved' : (_ssd.status == 0 ? 'Pending' : 'Rejected') }}</td>
                                <td class="center">{{ _ssd.date_created }}</td>
                                <td class="center">{{ _ssd.last_updated }}</td>
                                <td class="center">{{ Carbon.parse(_ssd.ssd_date).toDateTimeString() }}</td>
                                <td class="center text-center" style="min-width: 80px;">
                                    {% if has_permission('edit', 'ssd') or has_permission('delete', 'ssd') %}
                                        {% if session.country_code == 'tw' %}
                                            <div class="btn-group">
                                                {% if has_permission('edit', 'ssd') %}                                            
                                                    {{ html_btn(site_url('ami/ssd/edit/' ~ _ssd.id), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}

                                                    {% if filter == 'pending' %}
                                                        {{ html_btn(site_url('ami/ssd/approve/' ~ _ssd.id), '<i class="fa fa-thumbs-up"></i>', {'class': 'btn-default approve', 'title': 'Approve', 'data-toggle': 'ajaxModal'}) }}
                                                        {{ html_btn(site_url('ami/ssd/reject/' ~ _ssd.id), '<i class="fa fa-thumbs-down"></i>', {'class': 'btn-default reject', 'title': 'Reject', 'data-toggle': 'ajaxModal'}) }}
                                                    {% endif %}
                                                {% endif %}

                                                {% if has_permission('delete', 'ssd') %}
                                                    {% if draft %}
                                                        {{ html_btn(site_url('ami/ssd/restore/' ~ _ssd.id), '<i class="fa fa-history"></i>', {'class': 'btn-default restore', 'title': 'Restore', 'data-toggle': 'ajaxModal'}) }}        
                                                    {% else %}
                                                        {{ html_btn(site_url('ami/ssd/delete/' ~ _ssd.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            {% include 'ami/components/table_btn.html.twig' with {url: 'ami/ssd', id: _ssd.id, permission: 'ssd'} %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /. -->
        </div>
        <!-- /.panel-body -->

    </div>

    <script>
    $(function() {

        // $('#dataTables').dataTable.destroy();

        $('#dataTables').dataTable({
            'order': [[1, 'asc']],
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }],
            "iDisplayLength": 50
        });        
    });  
    </script>
{% else %}
    <div class="col-sm-6 col-sm-offset-3">There are no SSD</div>
{% endif %}