{% extends "base.html.twig" %}

{% block title %}Reports Penetration{% endblock %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ site_url('res/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/jquery-migrate-1.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/jquery.storageapi.min.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/plugins/slimscroll/jquery.slimscroll.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/plugins/metisMenu/metisMenu.min.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/plugins/bootbox/bootbox.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/sb-admin-2.js') }}"></script>
    <script type="text/javascript" src="{{ site_url('res/js/plugins/parsley/parsley.remote.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ site_url('res/js/plugins/ScrollToFixed/jquery-scrolltofixed-min.js') }}"></script>

    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ site_url('res/js/custom_daterangepicker.js') }}"></script>
    <script src="{{ site_url('res/js/date.js') }}"></script>
    <script src="{{ site_url('res/js/generateDataReport_demo.js') }}"></script>
    <script src="{{ site_url('res/js/generateChartReport.js') }}"></script>
    <script src="{{ site_url('res/js/generateHtmlReport.js') }}"></script>
    <script src="{{ site_url('res/js/jquery.multiple.select.js') }}"></script>
    <script src="{{ site_url('res/js/jquery.sumoselect.min.js') }}"></script>
    <script>
        var BASE_URL = '{{ site_url() }}',
                CURRENT_URL = '{{ current_url() }}';
        function base_url() {
            return BASE_URL;
        }
        function current_url() {
            return CURRENT_URL;
        }
    </script>

{% endblock %}

{% block js %}
    <script>

        function getInternetExplorerVersion()
        // Returns the version of Internet Explorer or a -1
        // (indicating the use of another browser).
        {
            var rv = -1; // Return value assumes failure.
            if (navigator.appName == 'Microsoft Internet Explorer') {
                var ua = navigator.userAgent;
                var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
                if (re.exec(ua) != null)
                    rv = parseFloat(RegExp.$1);
            }
            // 7 - ie7
            // 8 - ie 8
            // 9 -ie 9
            // 10 -ie 10
            //>-1 >10
            return rv;
        }
        function checkVersion() {
            var msg = "You're not using Internet Explorer.";
            var ver = getInternetExplorerVersion();

            if (ver > -1) {
                if (ver >= 8.0)
                    msg = "You're using a recent copy of Internet Explorer.";
                else
                    msg = "You should upgrade your copy of Internet Explorer.";
            }
            alert(msg + ' ' + ver);
        }

        function zoom_report() {
            $('#ReportsGeneration').toggle();
            $("#reporting-view #iframe_report").toggleClass('height_zoom');
        }
        function get_sale(value) {
            $('#armstrong_2_salespersons_id').html('');
            $.ajax({
                type: 'POST',
                url: base_url() + 'ami/demo/penetration_customers_report/' + value,
                data: {},
                success: function (val) {
                    $('#armstrong_2_salespersons_id').html(val);
                }
            })

        }

        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }

        function validateMultiSelect(selector) {
            var options_selected = selector.find('option:selected');
            if (options_selected.length > 0) {
                selector.closest('div').find('.ms-parent').removeClass('has-error');
            } else {
                selector.closest('div').find('.ms-parent').addClass('has-error');
            }
        }

        function resetText(selector, val) {
            var label = selector.closest('.SumoSelect').find('.optWrapper li[data-val="' + val + '"]').text(),
                    captionCont = selector.closest('.SumoSelect').find('.CaptionCont');
            captionCont.find('span').text(label);
        }

        $(document).ready(function () {
            $('#InputDateRange').daterangepicker({
                "showDropdowns": true,
                "maxDate": moment(),
                "startDate": "{{ Carbon.parse('first day of this month') }}",
                format: 'YYYY-MM-DD'
            }).on('apply.daterangepicker', function (ev, picker) {
                $('#InputStartDate').val(picker.startDate.format('YYYY-MM-DD')).trigger('change');
                $('#InputEndDate').val(picker.endDate.format('YYYY-MM-DD')).trigger('change');
            });

//            $(document).on('change', 'select.monthselect', function(){
//                var selected = $(this).find('option:selected').text();
//                $(this).find('option:selected').text('<span>' +selected+'</span>');
//            });
            $('select.multi_select').multipleSelect({placeholder: "Select here"});
            $('.select').SumoSelect();
            $('div.ms-drop ul').slimScroll();
            var $val = $('select[name="view_by"]').val(),
                    channel = $('.channelWrap'),
                    customers = $('.gripCustomerWrap'),
                    otm = $('.otmWrap'),
                    salesLeaders = $('.slWrap'),
                    salespersons = $('.spWrap'),
                    rolling = $('.rolling'),
                    multi_rolling = $('.multi_rolling');
            switch ($val) {
                case '0':
                    channel.hide();
                    otm.hide();
                    rolling.hide();
                    salesLeaders.hide();
                    salespersons.hide();
                    customers.show();
                    multi_rolling.show();
                    break;
                case '1':
                    salesLeaders.hide();
                    salespersons.hide();
                    rolling.hide();
                    channel.show();
                    customers.show();
                    otm.show();
                    multi_rolling.show();
                    break;
                case '2':
                    rolling.hide();
                    channel.hide();
                    customers.hide();
                    otm.hide();
                    multi_rolling.hide();
                    salesLeaders.show();
                    salespersons.show();
                    break;
                case '3':
                case '4':
                    salesLeaders.hide();
                    salespersons.hide();
                    multi_rolling.hide();
                    customers.show();
                    otm.show();
                    channel.show();
                    rolling.show();
                    break;
                case '5':
                    rolling.hide();
                    channel.hide();
                    otm.hide();
                    multi_rolling.hide();
                    customers.show();
                    salesLeaders.show();
                    salespersons.show();
                    rolling.show();
                    break;
                case '6':
                    multi_rolling.hide();
                    rolling.show();
                    channel.show();
                    customers.show();
                    otm.show();
                    salesLeaders.show();
                    salespersons.show();
                    rolling.show();
                default:
                    break;
            }

        });

        $(function () {
            var d = new Date(),
                    cr_month = d.getMonth() + 1,
                    cr_year = d.getFullYear();
            var action = '{{ action }}';
            var urlGetReport = '{{ reportEndpoint }}';
            $('select[name="product_type"]').on('change', function () {
                var $val = $(this).val(),
                        products = $('.topProduct'),
                        otherProducts = $('.otherProduct');
                if ($val == 0) {
                    products.show();
                    otherProducts.hide();
                } else {
                    products.hide();
                    otherProducts.show();
                }
            });

            $('.reset').on('click', function () {
                var appTypeElement = $('#input-app-type'),
                        monthElement = $('#input-month'),
                        yearElement = $('#input-year'),
                        salesLeaderElement = $('#SalesLeaderSelect'),
                        channelElement = $('#ChannelSelect'),
                        customerElement = $('#gripCustomers'),
                        otmElement = $('#InputOTM'),
                        dateRangeElement = $('#rolling'),
                        multiDateRangeElement = $('#multi_rolling');

                appTypeElement.val('PULL');
                monthElement.val(cr_month);
                yearElement.val(cr_year);
                customerElement.val(1);
                dateRangeElement.val(2);
                multiDateRangeElement.multipleSelect("setSelects", [2]);
                salesLeaderElement.multipleSelect("checkAll");
                channelElement.multipleSelect("checkAll");
                otmElement.multipleSelect("checkAll");

                resetText(appTypeElement, 'PULL');
                resetText(monthElement, cr_month);
                resetText(yearElement, cr_year);
                resetText(customerElement, 1);
                resetText(dateRangeElement, 2);
                $('#input-month, .fetch-sl').trigger('change');
            });

            $('select[name="view_by"]').on('change', function (e) {
                var $val = $(this).val(),
                        channel = $('.channelWrap'),
                        customers = $('.gripCustomerWrap'),
                        otm = $('.otmWrap'),
                        salesLeaders = $('.slWrap'),
                        salespersons = $('.spWrap'),
                        rolling = $('.rolling'),
                        multi_rolling = $('.multi_rolling');

                switch ($val) {
                    case '0':
                        channel.hide();
                        otm.hide();
                        rolling.hide();
                        salesLeaders.hide();
                        salespersons.hide();
                        customers.show();
                        multi_rolling.show();
                        break;
                    case '1':
                        salesLeaders.hide();
                        salespersons.hide();
                        rolling.hide();
                        channel.show();
                        customers.show();
                        otm.show();
                        multi_rolling.show();
                        break;
                    case '2':
                        rolling.hide();
                        channel.hide();
                        customers.hide();
                        otm.hide();
                        multi_rolling.hide();
                        salesLeaders.show();
                        salespersons.show();
                        break;
                    case '3':
                    case '4':
                        salesLeaders.hide();
                        salespersons.hide();
                        multi_rolling.hide();
                        customers.show();
                        otm.show();
                        channel.show();
                        rolling.show();
                        break;
                    case '5':
                        rolling.hide();
                        channel.hide();
                        otm.hide();
                        multi_rolling.hide();
                        customers.show();
                        salesLeaders.show();
                        salespersons.show();
                        rolling.show();
                        break;
                    case '6':
                        multi_rolling.hide();
                        rolling.show();
                        channel.show();
                        customers.show();
                        otm.show();
                        salesLeaders.show();
                        salespersons.show();
                        rolling.show();
                    default:
                        break;
                }

            });
            {% if (action == 'penetration_data_report') %}
            $('#input-month, #input-year, #input-app-type').on('change', function (e) {
                var $this = $(this),
                        month = $('#input-month').val(),
                        year = $('#input-year').val(),
                        app_type = $('#input-app-type').val(),
                        countryID = {{ session.country_id }},
                        productWrap = $('#top-products-sku'),
                        otherProductWrap = $('#other-products-sku');
                $.ajax({
                    url: "{{ site_url('ami/products/getTopProducts') }}",
                    data: {month: month, year: year, country_id: countryID, app_type: app_type},
                    type: 'POST',
                    dataType: 'json',
                    success: function (res) {
                        var productWrapper = productWrap.closest('div').find('.ms-drop.bottom ul'),
                                otherProductWrapper = otherProductWrap.closest('div').find('.ms-drop.bottom ul');
                        productWrap.html(res.topProducts);
                        otherProductWrap.html(res.otherProducts);

                        productWrapper.remove();
                        otherProductWrapper.remove();
                        productWrap.multipleSelect({placeholder: "Select here"});
                        otherProductWrap.multipleSelect({placeholder: "Select here"});
                        $('div.ms-drop ul').slimScroll();
                    }
                });

            });
            //$('#input-month').trigger('change');
            {% endif %}

            $('#multiCountriesList').on('change', function (e) {
                var $this = $(this),
                        $val = $this.val(),
                        option = $this.find('option');
                if ($val == 0) {
                    $.each(option, function () {
                        var op_val = $(this).val();
                        $val.push(op_val);
                    });
                    $val.splice(0, 2);
                }
                $this.val($val);
            });

            $('#gripCustomers').on('change', function () {
                var $val = $(this).val();
                if ($val == 1) {
                    var unassigned = '<option value="unassigned" data-manager="">Unassigned</option>';
                    $('#armstrong_2_salespersons_id').find('option').end().append(unassigned);
                } else {
                    $('#armstrong_2_salespersons_id').find('option[value="unassigned"]').remove();
                }
            });
            $('.select-change').on('change', function (e) {
                var $this = $(this),
                        name = $this.attr('name'),
                        val = $this.find(":selected").val(),
                        $container = $this.closest('.select-change-container');

                if (val) {
                    $.ajax({
                        url: "{{ site_url('ami/customers/country') }}",
                        data: {key: name, value: val},
                        type: 'POST',
                        dataType: 'json',
                        success: function (res) {

                            if (!res.field) {
                                return;
                            }

                            var options = '<option value="">-Select-</option>';
                            for (var key in res.value) {
                                options += '<option value="' + toTitleCase(res['value'][key]) + '">' + toTitleCase(res['value'][key]) + '</option>';
                            }

                            $('select[name=' + res.field + ']').find('option').remove().end().append(options);
                        }
                    });
                } else {
                    if ($container.length) {
                        $container.nextAll('.select-change-container').each(function () {
                            $(this).find('.select-change option').remove();
                        });
                    }
                }
            });

            $('.select-change').trigger('change');

            var salesPersonSelect = $('.SalespersonsSelect').html();
            var salesLeaderSelect = $('#SalesLeaderSelect').html();

            $('#SalesLeaderSelect').on('change', function () {
                var $this = $(this),
                        optionSelected = $this.find('option:selected'),
                        sub_type = optionSelected.data('sub_type'),
                        $target = $('select.SalespersonsSelect'),
                        val = $this.val();

//            var list = '<option value="" selected="selected">ALL</option>';
                var list = '';

                if ($.inArray('ALL', val) !== -1) {
                    $target.html(salesPersonSelect).multipleSelect("refresh");
                    return;
                }

                $target.html(salesPersonSelect).find('option').each(function () {
                    var $option = $(this);
                    slId = $option.data('manager') || 0;

                    if ($.inArray(slId, val) !== -1) {
                        list += $option.prop('outerHTML');
                    }
                });
                list += '<option value="unassigned" data-manager="">Unassigned</option>';
                $target.html(list).multipleSelect("refresh");
                $('div.SalespersonsSelect ul').remove();
                $target.multipleSelect("refresh");
//            $('select.SalespersonsSelect').multipleSelect({placeholder: "Select here"});
                var arr_sub_type = [];
                $.each(optionSelected, function () {
                    var sub_type = $(this).data('sub_type');
                    arr_sub_type.push(sub_type);
                    if ($.inArray(sub_type, ['nsm', 'md', 'cdops']) !== -1) {
                        $target.html(salesPersonSelect).multipleSelect("refresh");

                        return;
                    }
                });
                $('input[name="sub_type"]').val(arr_sub_type);
            });

            $('.fetch-sl').on('change', function () {
                var $appType = $('#input-app-type'),
                        $slStatus = $('#input-sl-status'),
                        salesleader = $('#SalesLeaderSelect').val() || '',
                        appType = $appType.find(':selected').val() || '',
                        slStatus = $slStatus.find(':selected').val() || '',
                        season = $('select[name="season"]').val(),
                        date_from = $('input[name="from"]').val(),
                        date_to = $('input[name="to"]').val(),
                        view_by = $('select[name="view_by"]').val(),
                        salespersonAll = $('input[name="selectAllsales_leader[]"]:checked').val();
                var range = (view_by == 0 || view_by == 1) ? 0 : $('select[name="rolling"]').val();
                if (season) {
                    var split_season = season.split('.');
                    date_from = split_season[0];
                    date_to = split_season[1];
                }

                $('#armstrong_2_salespersons_id').html('');
                month = $('#input-month').find(':selected').val();
                year = $('#input-year').find(':selected').val();
                if (month === undefined) month = 0;
                if (year === undefined) year = 0;
                $.ajax({
                    type: 'POST',
                    url: base_url() + 'ami/salespersons/fetch_salesperson_demo',
                    dataType: 'html',
                    data: {
                        app_type: appType,
                        active: slStatus,
                        salespersons_manager_id: salesleader,
                        sales_all: salespersonAll,
                        date_from: date_from,
                        date_to: date_to,
                        month: month,
                        year: year,
                        range: range
                    },
                    success: function (val) {
                        salesLeaderSelect = val.salesleader;
                        salesPersonSelect = val;

                        $('#SalesLeaderSelect').html(salesLeaderSelect);
                        $('div.SalesLeaderSelect ul').remove();
                        $('#SalesLeaderSelect').multipleSelect('refresh');

                        $('#armstrong_2_salespersons_id').html(val);
                        $('div.SalespersonsSelect ul').remove();
                        $('#armstrong_2_salespersons_id').multipleSelect('refresh');
                    }
                });
            });

            $('.fetch-sl').trigger('change');

            $('.btn-clear').click(function (e) {
                e.preventDefault();
                $(this).closest('.form-group').find(':text').val('');
            });

            var $iFrame = $('#iframe_report');
            var $iFrame_zoom = $('#iframe_report_zoom');
            // $('#iframe_report').hide();
            // $('#zoom_rp').hide();

            $iFrame.load(function () {
                $('#reporting-view .loading').html('');
                $("#iframe_report").show();
                $("#zoom_rp").show();
            });

            $('form').on('submit', function (e) {
                if ($(this).find('input[name="from"]').val() === '' || $(this).find('input[name="to"]').val() === '')
                    e.preventDefault();
            });

            /*$('button[type="reset"]').click(function(){
             $("form#ReportsGeneration").attr("action", base_url() + 'manual_reports/report_tfo');
             });*/

            /*$('select#inputTable').on('change', function(){
             window.location = base_url() + 'management/reports?type=' + $(this).val().replace('report_', '');;
             //$("form#ReportsGeneration").attr("action", base_url() + 'manual_reports/' + $(this).val());
             });

             $('select#inputTable ul li a').on('click', function(){
             var mode =$(this).attr('href').replace('<?=base_url()?>management/reports?type=', '');
             alert(mode);
             });*/

//            $('button[type="reset"]').on('click', function(){
//
//                var view_by = $('select[name="view_by"]');
//                var first_option = view_by.find('option[value=0]').text();
//                var view_text = view_by.closest('div').find('.CaptionCont>span');
//                view_by.val(0);
//                view_text.text(first_option);
//                view_by.trigger('change');
//            });
            $('button.btn-export-report:not(.disabled)').click(function (e) {
                var otmElement = $('#InputOTM'),
                        channelElement = $('#ChannelSelect'),
                        spElement = $('#armstrong_2_salespersons_id'),
                        slElement = $('#SalesLeaderSelect'),
                        topProduct = $('#top-products-sku'),
                        otherProduct = $('#other-products-sku'),
                        view_by = $('select[name="view_by"]').val(),
                        month = $('select[name="month"]').val(),
                        year = $('select[name="year"]').val(),
                        multi_rolling = $('#multi_rolling'),
                        type = $('select[name="type"]').val(),
                        app_type = $('select[name="app_type"]').val(),
                        from = $('select[name="from"]').val(),
                        to = $('select[name="to"]').val(),
                        otm = $('select[name="otm[]"]').val(),

                        denominator = $('select[name="customers"]').val(),
                        country_list = $('select[name="country_list"]').val();

                if (cr_year == year && cr_month < month) {
                    $('select[name="month"]').closest('div').find('p').addClass('has-error');
                } else {
                    $('select[name="month"]').closest('div').find('p').removeClass('has-error');
                }
                if (otmElement.length > 0) {
                    validateMultiSelect(otmElement);
                }
                if (channelElement.length > 0) {
                    validateMultiSelect(channelElement);
                }
                if (spElement.length > 0) {
                    validateMultiSelect(spElement);
                }
                if (slElement.length > 0) {
                    validateMultiSelect(slElement);
                }
                if (topProduct.length > 0) {
                    validateMultiSelect(topProduct);
                }
                if (otherProduct.length > 0) {
                    validateMultiSelect(otherProduct);
                }
                if (multi_rolling.length > 0) {
                    validateMultiSelect(multi_rolling);
                }
                // TODO validate multi select
                if (topProduct.closest('div').find('.has-error').length > 0 && otherProduct.closest('div').find('.has-error').length > 0) {
                    e.preventDefault();
                    return false;
                }

                if (topProduct.closest('div').find('.has-error').length > 0 || otherProduct.closest('div').find('.has-error').length > 0) {
                    topProduct.closest('div').find('.ms-parent').removeClass('has-error');
                    otherProduct.closest('div').find('.ms-parent').removeClass('has-error');
                }

                if (cr_year == year && cr_month < month) {
                    e.preventDefault();
                    return false;
                }

                if (view_by == 0 || view_by == 1) {
                    if (multi_rolling.closest('div').find('.has-error').length > 0) {
                        e.preventDefault();
                        return false;
                    }
                }

                if (view_by == 1 || view_by == 3) {
                    if (otmElement.closest('div').find('.has-error').length > 0 || channelElement.closest('div').find('.has-error').length > 0) {
                        e.preventDefault();
                        return false;
                    }
                } else if (view_by == 2 || view_by == 5) {
                    if (slElement.closest('div').find('.has-error').length > 0 || spElement.closest('div').find('.has-error').length > 0) {
                        e.preventDefault();
                        return false;
                    }
                } else if (view_by == 6) {
                    if (slElement.closest('div').find('.has-error').length > 0 || spElement.closest('div').find('.has-error').length > 0 || channelElement.closest('div').find('.has-error').length > 0 || otmElement.closest('div').find('.has-error').length > 0) {
                        e.preventDefault();
                        return false;
                    }
                }

            });

            $('button.btn-view-report:not(.disabled)').click(function (e) {
                e.preventDefault();
                var mode = '{{ action }}',
                        spElement = $('#armstrong_2_salespersons_id'),
                        getall = 0,
                        sp = 0,
                        view_by = $('select[name="view_by"]').val(),
                        view_type = $('select[name="view_type"]').val(),
                        slElement = $('#SalesLeaderSelect'),
                        sl = null,
                        sub_type = null,
                        rolling = $('select[name="rolling"]').val(),
                        multi_rolling = $('#multi_rolling'),
                        from = $('input[name="from"]').val(),
                        to = $('input[name="to"]').val(),
                        salespersonsActive = $('#input-sl-status').val(),
                        promotion_activity = $('#promotion_name').val(),
                        global_channels = $('select[name="global_channels"]').val();
                if (slElement.length > 0) {

                    sl = slElement.val();
                    if ($('input[name="selectAllsales_leader[]"]').prop('checked')) {
                        sl = 'ALL';
                    } else {
                        sl = '';
                    }
                    var sl_op_selected = slElement.find('option:selected');
                    if (sl_op_selected.length > 0) {
                        slElement.closest('div').find('.ms-parent').removeClass('has-error');
                        $.each(sl_op_selected, function () {
                            sub_type = $(this).data('sub_type');
                            if ($.inArray(sub_type, ['nsm', 'md', 'cdops']) !== -1) {
                                sl = null;
                                return false;
                            }
                        });
                    } else {
                        slElement.closest('div').find('.ms-parent').addClass('has-error');
                    }
                }
                if (spElement.length > 0) {
                    var sp_val = spElement.val();
                    if ($('input[name="selectAllarmstrong_2_salespersons_id[]"]').prop('checked')) {
                        sp_val = 'ALL';
                    } else {
                        sp_val = '';
                    }

                    if (sp_val == 'ALL') {
                        if (sl == 'ALL') {
                            getall = 1;
                            sp = 0;
                        } else {
                            getall = 0;
                            sp = spElement.val();
                        }
                    } else {
                        getall = 0;
                        sp = spElement.val();
                    }
                    validateMultiSelect(spElement);

                }
                var otmElement = $('#InputOTM');
                var otm = '';
                if (otmElement.length > 0) {
                    otm = otmElement.val();
                    validateMultiSelect(otmElement);
                }

                var channelElement = $('#ChannelSelect');
                var channel = '';
                if (channelElement.length > 0) {
                    channel = channelElement.val();
                    validateMultiSelect(channelElement);
                }

                if ($('input[name="from"]').length > 0) {
                    var fromdate = $('input[name="from"]').val() + ' 00:00:00';
                }
                if ($('input[name="to"]').length > 0) {
                    var todate = $('input[name="to"]').val() + ' 23:59:59';
                }
                if ($('select[name="number_sku"]').length > 0) {
                    var number_sku = $('select[name="number_sku"]').val();
                }

                var topProductElement = $('#top-products-sku');
                var otherProductElement = $('#other-products-sku');
                if (topProductElement.length > 0 && otherProductElement.length > 0) {
                    var top_products = topProductElement.val(),
                            other_products = otherProductElement.val();
                    if (!top_products && other_products) {
                        top_products = other_products;
                    }
                    else if (top_products && other_products) {
                        top_products = $.merge(top_products, other_products);
                    }
                    validateMultiSelect(topProductElement);
                    validateMultiSelect(otherProductElement);
                }

                if ($('select[name="country_list"]').length > 0) {
                    var country_list = $('select[name="country_list"]').val();
                    var countryId = country_list;
                } else if ($('select[name="country_list[]"]').length > 0) {
                    var country_list = $('select[name="country_list[]"]').val();
                    var countryId = country_list;
//                }
//                if($.isArray(countryId)){
//                    countryId = countryId.join('&country=');
                } else {
                    var countryId = '{{ session.country_id }}';
                }

                if ($('select[name="app_type"]').length > 0) {
                    var app_type = $('select[name="app_type"]').val();
                }

                if ($('select[name="active"]') != null) {
                    var active = $('select[name="active"]').val();
                }

                if (view_by == 0 || view_by == 1) {
                    var range = multi_rolling.val();
                    validateMultiSelect(multi_rolling);
                } else {
                    var range = $('select[name="rolling"]').val();
                }

                if ($('select[name="season"]').length > 0) {
                    var season = $('select[name="season"]').val();
                    var season_arr = season.split('.');
                    fromdate = season_arr['0'] + ' 00:00:00';
                    todate = season_arr['1'] + ' 23:59:59';
                }

                if ($('#gripCustomers').length > 0) {
                    var isGripCustomer = $('#gripCustomers').val();
                }
                // var fromdate = '2014-05-01 00:00:01';
                // var todate = '2014-05-31 23:59:59';

                var elementMoth = $('#input-month');
                var elementYear = $('#input-year');
                if (elementMoth.length > 0 && elementYear.length > 0) {
                    var year = elementYear.val();
                    var month = elementMoth.val();
                    var dateStartMonth = year + '-' + month + '-01 00:00:00';
                    var lastday = (new Date(year, month, 0)).getDate();
                    var dateEndMonth = year + '-' + month + '-' + lastday + ' 23:59:59';
                    if (cr_year == year && cr_month < month) {
                        elementMoth.closest('div').find('p').addClass('has-error');
                    } else {
                        elementMoth.closest('div').find('p').removeClass('has-error');
                    }
                }
                var sp_too = (typeof sp !== 'undefined') ? $('select[name="armstrong_2_salespersons_id"] option[value="' + sp + '"]').html() : "{{ session.name }} [{{ session.id }}]";


                var isMultiCountry = 0;
                var regional = 0;
                // grip grab filter
                var filters = [];
                if ($('select[name="filter[]"]').length > 0) {
                    filters = $('select[name="filter[]"]').val();
                }

                {% if (action == 'penetration_data_report') %}

                if (view_by == 0) {
                    channel = -1;
                } else if (view_by == 1) {
                    sp = 0;
                }
                {% endif %}

                {% if (filter == 'regional') %}
                regional = 1;
                getall = 1;
                sp = 0;
                channel = -1;
                otm = 'ALL';
                if ($('select[name="country_list[]"]').length > 0) {
                    isMultiCountry = 1;
                }
                {% endif %}

                // TODO validate multi select
                if (topProductElement.closest('div').find('.has-error').length > 0 && otherProductElement.closest('div').find('.has-error').length > 0) {
                    e.preventDefault();
                    return false;
                }

                if (topProductElement.closest('div').find('.has-error').length > 0 || otherProductElement.closest('div').find('.has-error').length > 0) {
                    topProductElement.closest('div').find('.ms-parent').removeClass('has-error');
                    otherProductElement.closest('div').find('.ms-parent').removeClass('has-error');
                }

                if (cr_year == year && cr_month < month) {
                    e.preventDefault();
                    return false;
                }

                if (view_by == 0 || view_by == 1) {
                    if (multi_rolling.closest('div').find('.has-error').length > 0) {
                        e.preventDefault();
                        return false;
                    }
                }

                if (view_by == 1 || view_by == 3) {
                    if (otmElement.closest('div').find('.has-error').length > 0 || channelElement.closest('div').find('.has-error').length > 0) {
                        e.preventDefault();
                        return false;
                    }
                } else if (view_by == 2 || view_by == 5) {
                    if (slElement.closest('div').find('.has-error').length > 0 || spElement.closest('div').find('.has-error').length > 0) {
                        e.preventDefault();
                        return false;
                    }
                } else if (view_by == 6) {
                    if (slElement.closest('div').find('.has-error').length > 0 || spElement.closest('div').find('.has-error').length > 0 || channelElement.closest('div').find('.has-error').length > 0 || otmElement.closest('div').find('.has-error').length > 0) {
                        e.preventDefault();
                        return false;
                    }
                }

                // set local storage
                var tb_ns = $.initNamespaceStorage('tb_ns');
                var storage = tb_ns.localStorage;
                storage.set({
                    'urlGetReport': urlGetReport,
                    'sp': sp,
                    'fromdate': fromdate,
                    'todate': todate,
                    'countryId': countryId,
                    'getall': getall,
                    'dateStartMonth': dateStartMonth,
                    'dateEndMonth': dateEndMonth,
                    'month': month,
                    'year': year,
                    'number_sku': number_sku,
                    'app_type': app_type,
                    'active': active,
                    'channel': channel,
                    'otm': otm,
                    'top_products': top_products,
                    'isGripCustomer': isGripCustomer,
                    'view_by': view_by,
                    'range': range,
                    'isMultiCountry': isMultiCountry,
                    'regional': regional,
                    'mode': action,
                    'filters': filters,
                    'promotion_name': promotion_activity,
                    'view_type': view_type,
                    'salespersonsActive': salespersonsActive,
                    'globalChannels': global_channels
                });

                // set local storage for export
                var export_ns = $.initNamespaceStorage('export_ns');
                var exportStorage = export_ns.localStorage;
                exportStorage.set({
                    'urlGetReport': urlGetReport,
                    'salespersons': spElement.val(),
                    'salesLeader': slElement.val(),
                    'fromDate': from,
                    'toDate': to,
                    'countryId': country_list,
                    'month': month,
                    'year': year,
                    'app_type': app_type,
                    'channel': channelElement.val(),
                    'otm': otm,
                    'topProducts': topProductElement.val(),
                    'otherProducts': otherProductElement.val(),
                    'denominator': isGripCustomer,
                    'view_by': view_by,
                    'range': rolling,
                    'multiRange': multi_rolling.val(),
                    'mode': action,
                    'filters': filters,
                    'promotion_name': promotion_activity,
                    'view_type': view_type,
                    'salespersonsActive': salespersonsActive,
                    'globalChannels': global_channels
                });

                var url = base_url() + 'ami/reports/view';
                var win = window.open(url, "_blank");
                win.focus();
//                    getdataForTableOnOther(urlGetReport, sp, fromdate, todate, countryId, getall, dateStartMonth, dateEndMonth, month, year, number_sku, app_type, active, channel, otm, top_products, isGripCustomer, view_by, range, isMultiCountry, regional);

            });

        });
        $(window).resize(function () {
            var window_width = $(this).width();
            if (window_width < 1000) {
                $('#reporting-view').width('100%');
            } else {
                $('#reporting-view').width('95%');
            }
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ site_url('res/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/jqueryui/jquery-ui-1.10.4.min.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/ami.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/metisMenu/metisMenu.min.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/parsley/parsley.css') }}"/>

    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/sumoselect.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/multiple-select.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/demo.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/chart.css') }}">

    <style type="text/css">
        .inputWrap {
            margin-bottom: 7px;
        }

        .SumoSelect > .CaptionCont {
            height: 34px;
        }

        .content-wrap {
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body %}

    {{ form_open(site_url('ami/demo/generate'), {class: 'form-horizontal'}) }}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 id="logo_demo"><a href="{{ site_url('ami/demo') }}"><img
                                src="{{ site_url('res/img/logo-u-food.jpg') }}" title="home"></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site_url() }}">Home</a></li>
                    <li><a href="{{ site_url() }}">Account</a></li>
                    <li><a href="{{ site_url() }}">Country</a></li>
                    <li><a href="{{ site_url() }}">Pending Customers</a></li>
                    <li class="active">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                           aria-haspopup="true">Reports</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site_url('ami/new_reports/penetration_data_report') }}">Penetration Data
                                    Report</a>
                            </li>
                            {#<li>#}
                            {#<a href="{{ site_url('ami/reports/grip_grab_report') }}">Grip & Grab Report</a>#}
                            {#</li>#}
                        </ul>
                    </li>
                    <li><a href="{{ site_url() }}">AMI</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container m-t-md content-wrap">
        <div class="col-lg-12">
            {% if action == 'penetration_data_report' %}
                <div class="form-group">
                    <div class="viewWrap inputWrap col-sm-10">
                        {{ form_label('Report Type', 'view_by', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('view_by', {0:'SKU', 1:'Channel',3:'Channel/SKU',5:'SR/SKU', 6:'SR/Channel'}, null, 'class="select"') }}
                        </div>
                    </div>

                    <div class="appTypeWrap inputWrap col-sm-10">
                        {{ form_label('App Type', 'app_type', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('app_type', app_type, null, 'class=" fetch-sl select" id="input-app-type"') }}
                        </div>
                    </div>

                    <div class="monthWrap inputWrap col-sm-10">
                        {{ form_label('Month', 'month', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('month', select_month(), Carbon.now().format('m'), 'class="fetch-sl select" id="input-month"') }}
                        </div>
                    </div>

                    <div class="yearWrap inputWrap col-sm-10">
                        {{ form_label('Year', 'year', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('year', select_year(2014), Carbon.now().format('Y'), 'class="select fetch-sl" id="input-year"') }}
                        </div>
                    </div>

                    <div class="salesperosnsActive inputWrap col-sm-10">
                        {{ form_label('Salespersons Status', 'active', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('active', {'-1': 'All', '1': 'Active', '0': 'Inactive'}, -1, 'class="select fetch-sl" id="input-sl-status"') }}
                        </div>
                    </div>

                    <div class="salesperosnsActive inputWrap col-sm-10">
                        {{ form_label('Global Channel', 'global_channels', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('global_channels', global_channels, null, 'class="select"') }}
                        </div>
                    </div>

                    <div class="slWrap inputWrap col-sm-10">
                        {{ form_label('Sales Leader', 'sales_leader', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="sales_leader[]" class="SalesLeaderSelect multi_select" id="SalesLeaderSelect"
                                    multiple="multiple">
                                {% for sl in custom.salesleaders %}
                                    <option value="{{ sl.armstrong_2_salespersons_id }}"
                                            selected>{{ sl.first_name }} {{ sl.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="spWrap inputWrap col-sm-10">
                        {{ form_label('Sales Persons', 'salesperson', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="armstrong_2_salespersons_id[]" class="SalespersonsSelect multi_select"
                                    id="armstrong_2_salespersons_id" multiple="multiple">
                                {% for sp in custom.salespersons %}
                                    <option value="{{ sp.armstrong_2_salespersons_id }}"
                                            data-manager="{{ sp.salespersons_manager_id }}"
                                            selected>{{ sp.first_name }} {{ sp.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="topProduct inputWrap col-sm-10">
                        {{ form_label('Top SKU', 'top_products', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('top_products[]', [], 0, 'class="" id="top-products-sku"  multiple="multiple"') }}
                        </div>
                    </div>

                    <div class="otherProduct inputWrap col-sm-10">
                        {{ form_label('Other SKU', 'other_products', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="other_products[]" class="" id="other-products-sku" multiple="multiple">
                                {% for sku in otherProducts %}
                                    <option value="{{ sku.sku_number }}">{{ sku.sku_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="channelWrap inputWrap col-sm-10">
                        {{ form_label('Channel', 'channel', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="channel[]" class="multi_select" multiple="multiple" id="ChannelSelect">
                                {% for country_channel in custom.countryChannels %}
                                    <option value="{{ country_channel.id }}"
                                            selected>{{ country_channel.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="otmWrap inputWrap col-sm-10">
                        {{ form_label('OTM', 'otm', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="otm[]" class="multi_select" id="InputOTM" multiple="multiple">
                                {% for otm, title in {'A': 'A', 'B': 'B', 'C': 'C', 'D': 'D', 'O': 'Other'} %}
                                    <option value="{{ otm }}" selected>{{ sl.first_name }} {{ title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="rolling inputWrap col-sm-10">
                        {{ form_label('Date Range', 'rolling', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {% set roll_arr = {1:'Rolling 3 months', 2:'Rolling 6 months',3:'Rolling 12 months',4:'Jan - Jun Last Year',5:'Jul - Dec Last Year',6:"1 year Last Year"} %}
                            {{ form_dropdown('rolling', roll_arr, 2, 'class="fetch-sl select" id="rolling"') }}
                        </div>
                    </div>

                    <div class="multi_rolling inputWrap col-sm-10">
                        {{ form_label('Date Range', 'rolling', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {% set roll_arr = {1:'Rolling 3 months', 2:'Rolling 6 months',3:'Rolling 12 months',4:'Jan - Jun Last Year',5:'Jul - Dec Last Year',6:"1 year Last Year"} %}
                            {{ form_dropdown('multi_rolling[]', roll_arr, 2, 'class="multi_select" id="multi_rolling" multiple="multiple"') }}
                        </div>
                    </div>

                    <div class="gripCustomerWrap inputWrap col-sm-10">
                        {{ form_label('Denominator', 'grip_customers', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('customers', report.grip_customers.list, 1, 'class="select" id="gripCustomers"') }}
                        </div>
                    </div>
                </div>
            {% elseif action == 'grip_grab_report' %}
                <div class="form-group">
                    <div class="fromToWrap inputWrap col-sm-10">
                        {{ form_label('Date Time', 'date_time', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {% set default_day = Carbon.parse('first day of this month').format('Y-m-d')~' - '~Carbon.parse('last day of this month').format('Y-m-d') %}
                            {{ form_input({name: 'date_time', value: default_day,
                                'class': 'form-control',
                                'id': 'InputDateRange',
                                'placeholder': 'Date'
                            }) }}
                        </div>

                        <input type="hidden" id="InputStartDate" class="fetch-sl" name="from"
                               value="{{ Carbon.parse('first day of this month').format('Y-m-d') }}"/>
                        <input type="hidden" id="InputEndDate" class="fetch-sl" name="to"
                               value="{{ Carbon.parse('last day of this month').format('Y-m-d') }}"/>
                    </div>

                    <div class="appTypeWrap inputWrap col-sm-10">
                        {{ form_label('App Type', 'app_type', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('app_type', app_type, null, 'class=" fetch-sl select" id="input-app-type"') }}
                        </div>
                    </div>

                    <div class="channelWrap inputWrap col-sm-10">
                        {{ form_label('Channel', 'channel', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="channel[]" class="multi_select" multiple="multiple" id="ChannelSelect">
                                {% for country_channel in custom.countryChannels %}
                                    <option value="{{ country_channel.id }}"
                                            selected>{{ country_channel.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="otmWrap inputWrap col-sm-10">
                        {{ form_label('OTM', 'otm', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="otm[]" class="multi_select" id="InputOTM" multiple="multiple">
                                {% for otm, title in {'A': 'A', 'B': 'B', 'C': 'C', 'D': 'D', 'O': 'Other'} %}
                                    <option value="{{ otm }}" selected>{{ sl.first_name }} {{ title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="slWrap inputWrap col-sm-10">
                        {{ form_label('Sales Leader', 'sales_leader', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="sales_leader[]" class="SalesLeaderSelect multi_select" id="SalesLeaderSelect"
                                    multiple="multiple">
                                {% for sl in custom.salesleaders %}
                                    <option value="{{ sl.armstrong_2_salespersons_id }}"
                                            selected>{{ sl.first_name }} {{ sl.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="spWrap inputWrap col-sm-10">
                        {{ form_label('Sales Persons', 'salesperson', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="armstrong_2_salespersons_id[]" class="SalespersonsSelect multi_select"
                                    id="armstrong_2_salespersons_id" multiple="multiple">
                                {% for sp in custom.salespersons %}
                                    <option value="{{ sp.armstrong_2_salespersons_id }}"
                                            data-manager="{{ sp.salespersons_manager_id }}"
                                            selected>{{ sp.first_name }} {{ sp.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="filterWrap inputWrap col-sm-10">
                        {{ form_label('Report Filter', 'filter', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {% set data_arr = {"armstrong2SalespersonsId":'Salesperson ID', "salespersonsName":'Salesperson Name',"newGrip":'Total Grip',"totalLostGrip":'New Grip',"totalGrip":'Lost Grip',"newGrab":"Total Grab", "totalLostGrap":"New Grab", "totalGrab":"Lost Grab"} %}
                            {{ form_dropdown('filter[]', data_arr, ["armstrong2SalespersonsId","salespersonsName","newGrip"], 'class="multi_select" id="report_filter" multiple="multiple"') }}
                        </div>
                    </div>

                </div>
            {% elseif action == 'promotions_activity_report' %}
                <div class="promotion_name inputWrap col-sm-10">
                    {{ form_label('Promotion Name', 'promotion_name', {class: 'control-label col-sm-4'}) }}
                    <div class="col-sm-7">
                        {{ form_dropdown('promotion_name', promotion_activities ? promotion_activities : [], null, 'class="select" id="promotion_name"') }}
                    </div>
                </div>

                <div class="slWrap inputWrap col-sm-10">
                    {{ form_label('Sales Leader', 'sales_leader', {class: 'control-label col-sm-4'}) }}
                    <div class="col-sm-7">
                        <select name="sales_leader[]" class="SalesLeaderSelect multi_select" id="SalesLeaderSelect"
                                multiple="multiple">
                            {% for sl in custom.salesleaders %}
                                <option value="{{ sl.armstrong_2_salespersons_id }}"
                                        selected>{{ sl.first_name }} {{ sl.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="spWrap inputWrap col-sm-10">
                    {{ form_label('Sales Persons', 'salesperson', {class: 'control-label col-sm-4'}) }}
                    <div class="col-sm-7">
                        <select name="armstrong_2_salespersons_id[]" class="SalespersonsSelect multi_select"
                                id="armstrong_2_salespersons_id" multiple="multiple">
                            {% for sp in custom.salespersons %}
                                <option value="{{ sp.armstrong_2_salespersons_id }}"
                                        data-manager="{{ sp.salespersons_manager_id }}"
                                        selected>{{ sp.first_name }} {{ sp.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                /*{% elseif action == 'last_pantry_check_report' %}
                <div class="form-group">
                    <div class="fromToWrap inputWrap col-sm-10">
                        {{ form_label('Date Time', 'date_time', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {% set default_day = Carbon.parse('first day of this month').format('Y-m-d')~' - '~Carbon.parse('last day of this month').format('Y-m-d') %}
                            {{ form_input({name: 'date_time', value: default_day,
                                'class': 'form-control',
                                'id': 'InputDateRange',
                                'placeholder': 'Date'
                            }) }}
                        </div>

                        <input type="hidden" id="InputStartDate" class="fetch-sl" name="from"
                               value="{{ Carbon.parse('first day of this month').format('Y-m-d') }}"/>
                        <input type="hidden" id="InputEndDate" class="fetch-sl" name="to"
                               value="{{ Carbon.parse('last day of this month').format('Y-m-d') }}"/>
                    </div>
                    <div class="slWrap inputWrap col-sm-10">
                        {{ form_label('Sales Leader', 'sales_leader', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="sales_leader[]" class="SalesLeaderSelect multi_select" id="SalesLeaderSelect"
                                    multiple="multiple">
                                {% for sl in custom.salesleaders %}
                                    <option value="{{ sl.armstrong_2_salespersons_id }}"
                                            selected>{{ sl.first_name }} {{ sl.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="spWrap inputWrap col-sm-10">
                        {{ form_label('Sales Persons', 'salesperson', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            <select name="armstrong_2_salespersons_id[]" class="SalespersonsSelect multi_select"
                                    id="armstrong_2_salespersons_id" multiple="multiple">
                                {% for sp in custom.salespersons %}
                                    <option value="{{ sp.armstrong_2_salespersons_id }}"
                                            data-manager="{{ sp.salespersons_manager_id }}"
                                            selected>{{ sp.first_name }} {{ sp.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="appTypeWrap inputWrap col-sm-10">
                        {{ form_label('App Type', 'app_type', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {{ form_dropdown('app_type', app_type, null, 'class=" fetch-sl select" id="input-app-type"') }}
                        </div>
                    </div>
                    <div class="viewTypeWrap inputWrap col-sm-10">
                        {{ form_label('View by', 'view_type', {class: 'control-label col-sm-4'}) }}
                        <div class="col-sm-7">
                            {% set view_type = {'sku':'SKU', 'region':'Region', 'sl/sr':'SL/SR', 'otm':'OTM'} %}
                            {{ form_dropdown('view_type', view_type, null, 'class=" select" id="input-view-type"') }}
                        </div>
                    </div>
                </div>*/
            {% endif %}
            <input type="hidden" name="type" value="{{ action }}"/>
            <input type="hidden" name="sub_type" value=""/>
            <input type="hidden" name="filter" value="{{ filter }}"/>

            <div class="row">
                <div class="form-group form-group-demo">
                    <div class="col-sm-12 text-center">
                        <a class="btn btn-default reset"><i class="fa fw fa-times"></i> Reset</a>
                        <button class="btn btn-primary btn-view-report" {{ action not in ['data_customers'] and permission.report_view ? '' : 'disabled' }}>
                            <i class="fa fw fa-eye"></i> View
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-export-report" {{ permission.report_export ? '' : 'disabled' }}>
                            <i class="fa fw fa-download"></i> Export
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{ form_close() }}

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img style="width: 200px" src="{{ site_url('res/img/_AMILOAD.gif') }}"/>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <button id="zoom_rp" class="btn btn-mini btn-zoom-report" onclick="zoom_report()"><i class="icon-zoom-in"></i>&nbsp;Zoom
    </button>
    <div id="reporting-view">
        <!-- reports get generated here -->
        <div class="loading"></div>
        <iframe id="iframe_report"></iframe>
    </div>

{% endblock %}