{{ form_open(site_url('ami/module_field_qc/save'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}
<div class="form-group">
    {{ form_label('Title', 'title', {class: 'control-label'}) }}
    {{ form_input({name: 'title', value: post.title, class: 'form-control', 'data-parsley-required': 'true'}) }}
</div>
{% if istitle %}
    <div class="form-group">
        {{ form_label('Field', 'field_name', {class: 'control-label'}) }}
        {{ form_dropdown('field_name',list_fields, post.field_name, 'id="field_name" class="form-control" data-parsley-required="true"') }}
    </div>
{% endif %}
<div class="form-group select_app_type {% if istitle %}hide{% endif %}">
    {{ form_label('Type', 'Type', {class: 'control-label'}) }}
    <div class="no-parsley">
        <label class="radio-inline">{{ form_radio('app_type', 0, post.app_type == 0) }} Pull</label>&nbsp;
        <label class="radio-inline">{{ form_radio('app_type', 1, post.app_type == 1) }} Push</label>&nbsp;
        <label class="radio-inline">{{ form_radio('app_type', 2, post.app_type == 2) }} Leader</label>
    </div>
</div>
<div class="form-group {% if istitle %}{% else %}hide{% endif %}">
    {{ form_label('Require', 'Require', {class: 'control-label'}) }}
    <div class="no-parsley">
        <label class="radio-inline">{{ form_radio('require', 1, post.require == 1) }} Yes</label>&nbsp;
        <label class="radio-inline">{{ form_radio('require', 0, post.require == 0) }} No</label>&nbsp;
    </div>
</div>
<input type="hidden" name="type_question" value="{{ post.parent_id ? 1 : 0 }}">
<input type="hidden" name="parent_id" value="{{ post.parent_id }}">
<input type="hidden" name="id" value="">