{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result).css('width', '160px');
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(function() {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
            })
        });

        $(document).ready(function () {
            $('#image').on("change", function () {
                readURL(this);
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}"/>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/promotions_activity/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true', 'enctype': "multipart/form-data"}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Promotional Activity</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
                        {#{{ form_button({type: 'reset', content: '<i class="fa fa-fw fa-ban"></i> Cancle', class: 'btn btn-default'}) }}#}
                        {{ html_btn(site_url('ami/promotions_activity'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if promotions_activity.armstrong_2_promotions_activity_id %}
                            <a href="{{ site_url('ami/promotions_activity/delete/' ~ promotions_activity.armstrong_2_promotions_activity_id) }}" title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="form-group">
                {{ form_label('Title', 'title', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'title', value: promotions_activity.title, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Subject', 'subject', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'subject', value: promotions_activity.subject, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Url', 'url', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'url', value: promotions_activity.url, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Date Start', 'date_start', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'date_start', value: promotions_activity.date_start,
                        'class': 'form-control datetimepicker', 'id': 'InputDateStart'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Date End', 'date_end', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'date_end', value: promotions_activity.date_end,
                        'class': 'form-control datetimepicker', 'id': 'InputDateEnd'
                    }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Image', 'image', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    <img class="img-responsive profile-img margin-bottom-20" alt="" id="image-preview"
                         src="{{ promotions_activity.image }}">
                    <input type="file" name="image" id="image">
                    {#{{ form_input({name: 'subject', value: promotions_activity.subject, class: 'form-control', 'data-parsley-required': 'true'}) }}#}
                </div>
            </div>
            {{ form_input({name: 'id', value: promotions_activity.id, type: 'hidden', class: 'hide'}) }}

        </div>
    </div>

    {{ form_close() }}
{% endblock %}