<div class="modal-dialog" style="max-height: 400px">

    {{ form_open(site_url('ami/contact/amended/' ~ contactId), {class: 'modal-content'}) }}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ contactId }} - Amended Data</h3>
        </div>
        <div class="modal-body">
            <div class="tab-content m-t-md">
                <div id="amended">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Field</th>
                            <th class="danger">Old Value</th>
                            <th class="success">New Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for field in amendedData.fields %}
                            <tr>
                                <td>{{ field }}</td>
                                <td>{{ amendedData.old_data[field] }}</td>
                                <td>{{ amendedData.new_data[field] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {% if has_permission('edit', 'contact') %}
                <a href="{{ site_url('ami/contacts/edit/' ~ contactId ~ '?filter=1') }}" class="btn btn-primary"><i class="fa fa-fw fa-edit"></i> Edit</a></a>
            {% endif %}
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
        </div>
    {{ form_close() }}
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>