{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/jquery.signaturepad.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script>
        function removeRequireInput(input){
            $('#InputCustomers').removeAttr('data-parsley-required');
            $('#InputWholesalers').removeAttr('data-parsley-required');
            $('#InputDistributors').removeAttr('data-parsley-required');
            input.attr('data-parsley-required', "true");
        }
        $(function () {
            createUploader($('#imageUpload'));
            $('#InputCustomers').autocomplete({
                source: "{{ site_url('ami/customers/tokenfield') }}",
                delay: 100,
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    removeRequireInput($(this));
                    $('#InputCustomersId').val(ui.item.value);
                    $('#InputDistributors').val('');
                    $('#InputDistributorsId').val('');
                    $('#InputWholesalers').val('');
                    $('#InputWholesalersId').val('');
                    check_primary_contact();
                }
            }).on('focus', function () {
                this.select();
            });

            $('#InputWholesalers').autocomplete({
                source: "{{ site_url('ami/wholesalers/tokenfield') }}",
                delay: 100,
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    removeRequireInput($(this));
                    $('#InputWholesalersId').val(ui.item.value);

                    $('#InputCustomers').val('');
                    $('#InputCustomersId').val('');
                    $('#InputDistributors').val('');
                    $('#InputDistributorsId').val('');
                }
            }).on('focus', function () {
                this.select();
            });

            $('#InputDistributors').autocomplete({
                source: "{{ site_url('ami/distributors/tokenfield') }}",
                delay: 100,
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    removeRequireInput($(this));
                    $('#InputDistributorsId').val(ui.item.value);
                    $('#InputCustomers').val('');
                    $('#InputCustomersId').val('');
                    $('#InputWholesalers').val('');
                    $('#InputWholesalersId').val('');
                }
            }).on('focus', function () {
                this.select();
            });

            $.listen('parsley:form:validate', function (formInstance) {

                if (!$('#InputWholesalers').val()
                        && !$('#InputDistributors').val()
                        && !$('#InputCustomers').val()
                ) {
                    // window.ParsleyUI.addError($('.parsley-need-one').parsley(), 'name', 'message');
                    formInstance.submitEvent.preventDefault();
                }
            });
            check_primary_contact();
        });

        function check_primary_contact() {
            var val = $('#InputCustomers').val();
            if (val) {
                $.ajax({
                    url: "{{ site_url('ami/contacts/check_primary_contact') }}",
                    data: {customers_id: val},
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        if (res == true) {
                            $('#cusAlert').html('');
                        } else {
                            $('#cusAlert').html('This Customer has\'nt got contact primary !');
                        }
                    }
                });
            }
        }

        function toggle(className, obj) {
            var $input = $(obj);

            if ($input.prop('checked')){
                $(className).show();
                document.getElementById("opt_in_val").value = "1";
            } 
            else {
                $(className).hide();
                document.getElementById("opt_in_val").value = "0";
                document.getElementById("check_mobile").value = "0";
                document.getElementById("check_email").value = "0";
                document.getElementById("paper_material").value = "0";
                document.getElementById("online_campaign").value = "0";
                document.getElementById("any_other_format").value = "0";
            };
        }

        function toggle2(className, obj) {
            var $input = $(obj);
            console.log(className);

            if ($input.prop('checked')){
                $(className).value = "1";
            } 
            else {
                $(className).value = "0";
            };
            console.log($(className).value);
        }

        $( document ).ready(function() {
            var flag = {{contacts.opt_in}};
            if (flag == 1) $('#checkboxes').show();
            else $('#checkboxes').hide();
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/jquery.signaturepad.css') }}"/>
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}"/>
    <style>
        #theCanvas, .show-sig img {
            border-radius: 10px;
            border: 2px solid orange;
        }

        .sigPad {
            width: 100%;
        }

        .sigWrapper {
            border: none;
        }

        .show-sig img {
            width: 100%;
        }

        .changeButton {
            display: list-item;
            bottom: 0.2em;
            position: absolute;
            right: 0;
            font-size: 0.75em;
            line-height: 1.375;

        }
    </style>
{% endblock %}

{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/contacts/save'), {class: 'form-horizontal contact-form', 'data-parsley-validate': 'true'}, {'id': contacts.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Contacts</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
                        {#{{ form_button({type: 'reset', content: '<i class="fa fa-fw fa-ban"></i> Cancle', class: 'btn btn-default'}) }}#}
                        {{ html_btn(site_url('ami/contacts'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if contacts.id %}
                            <a href="{{ site_url('ami/contacts/delete/' ~ contacts.id) }}" title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="form-group">
                {{ form_label('Customers', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_2_customers_id', value: customers[contacts.armstrong_2_customers_id],
                        'class': 'form-control',
                        'id': 'InputCustomers',
                    }) }}
                    <span id="cusAlert"></span>
                </div>
                <input type="hidden" name="tag_id[]" id="InputCustomersId"
                       value="{{ contacts.type == 0 ? contacts.tag_id : '' }}"/>
            </div>

            <div class="form-group">
                {{ form_label('Wholesaler', 'armstrong_2_wholesalers_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_2_wholesalers_id', value: wholesalers[contacts.armstrong_2_customers_id],
                        'class': 'form-control',
                        'id': 'InputWholesalers'
                    }) }}
                    <input type="hidden" name="tag_id[]" id="InputWholesalersId"
                           value="{{ contacts.type == 1 ? contacts.tag_id : '' }}"/>
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Distributor', 'armstrong_2_distributors_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'armstrong_2_distributors_id', value: distributors[contacts.armstrong_2_customers_id],
                        'class': 'form-control',
                        'id': 'InputDistributors'
                    }) }}
                    <input type="hidden" name="tag_id[]" id="InputDistributorsId"
                           value="{{ contacts.type == 2 ? contacts.tag_id : '' }}"/>
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Primary Contact', 'primary_contact', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('primary_contact', 0, contacts.primary_contact == 0) }}
                        No</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('primary_contact', 1, contacts.primary_contact == 1) }}
                        Yes</label>&nbsp;
                </div>
            </div>

            <div class="form-group">
                {{ form_label('First Name', 'first_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'first_name', value: contacts.first_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Last Name', 'last_name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'last_name', value: contacts.last_name, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Position', 'position', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'position', value: contacts.position, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone', 'phone', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-4">
                    {{ form_input({name: 'phone', value: contacts.phone, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
                <div class="col-sm-2">
                    {{ form_input({name: 'ext', value: contacts.ext, class: 'form-control', 'placeholder="Ext" maxlength="5" data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone 2', 'phone_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'phone_2', value: contacts.phone_2, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Phone 3', 'phone_3', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'phone_3', value: contacts.phone_3, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Mobile', 'mobile', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mobile', value: contacts.mobile, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Mobile 2', 'mobile_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mobile_2', value: contacts.mobile_2, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Mobile 3', 'mobile_3', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'mobile_3', value: contacts.mobile_3, class: 'form-control', 'data-parsley-type': 'number'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Fax', 'fax', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'fax', value: contacts.fax, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Email', 'email', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'email', value: contacts.email, class: 'form-control', 'data-parsley-type': 'email'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Email 2', 'email_2', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'email_2', value: contacts.email_2, class: 'form-control', 'data-parsley-type': 'email'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Birthday', 'birthday', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'birthday', value: contacts.birthday, class: 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'yyyy-mm-dd', 'data-date-start-date': '-50y'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Interests', 'interests', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'interests', value: contacts.interests, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('', 'status', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('status', 0, contacts.status == 0) }} Inactive</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('status', 1, contacts.status == 1) }} Active</label>&nbsp;
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Remarks', 'remarks', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'remarks', value: contacts.remarks, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Facebook', 'facebook', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'facebook', value: contacts.facebook, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Instagram', 'instagram', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'instagram', value: contacts.instagram, class: 'form-control'}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label('Linkedln', 'linkedln', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'linkedln', value: contacts.linkedln, class: 'form-control'}) }}
                </div>
            </div>

            {% include 'ami/components/uploader_image.html.twig' with {entry_type: 'contacts'} %}
            {% if session.country_id in [1] %}
                <div class="form-group">
                    {{ form_label('Signature', 'signature', {class: 'control-label col-sm-3'}) }}

                    <div class="col-sm-6 show-sig">
                        <ul class="sigNav" style="display: block;">
                            <li class="changeButton"><a href="javascript:;">Change</a></li>
                        </ul>
                        <img src="data:image/png;base64,{{ contacts.signature_base64 }}" alt="">
                    </div>

                    <div class="col-sm-6" id="smoothed">
                        <ul class="sigNav">
                            <li class="drawIt"><a href="#draw-it" class="current">Draw Signature</a></li>
                            <li class="clearButton"><a href="#clear">Clear</a></li>
                        </ul>
                        <div class="sig sigWrapper " style="height:auto;">
                            <div class="typed"></div>
                            <canvas id="theCanvas" class="pad" height="250"></canvas>
                            <input type="hidden" name="output" class="output">
                        </div>
                    </div>

                </div>
            {% endif %}
            {% if session.country_id in [12, 13, 14, 15, 16, 17, 18] %}
                <div class="form-group">
                    {{ form_label('Tea Relevant', 'tea_relevant', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6 no-parsley">
                        <label class="radio-inline">{{ form_radio('tea_relevant', 0, contacts.tea_relevant == 0) }}
                            No</label>&nbsp;
                        <label class="radio-inline">{{ form_radio('tea_relevant', 1, contacts.tea_relevant == 1) }}
                            Yes</label>&nbsp;
                    </div>
                </div>
            {% endif %}
            {{ form_input({name: 'signature_base64', type: 'hidden', class: 'hide'}) }}
            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}

            <div class="form-group">
                {{ form_label('Opt-in', 'opt_in', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    <input type="checkbox" value="{{ contacts.opt_in }}" id="opt_in_val" name="opt_in" onclick="toggle('#checkboxes', this)" {{ contacts.opt_in == "1" ? 'checked' : '' }}>&nbsp;Yes</input>
                </div>
            </div>

            <div class="form-group" id="checkboxes">
                {{ form_label('', '', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    <input type="checkbox" value="1" name="check_mobile" onclick="toggle2('#check_mobile', this)" id="check_mobile" {{ contacts.check_mobile == "1" ? 'checked' : '' }}>&nbsp;Check Mobile</input><br />
                    <input type="checkbox" value="1" name="check_email" onclick="toggle2('#check_email', this)" id="check_email" {{ contacts.check_email == "1" ? 'checked' : '' }}>&nbsp;Check Email</input><br />
                    <input type="checkbox" value="1" name="online_campaign" onclick="toggle2('#online_campaign', this)" id="online_campaign" {{ contacts.online_campaign == "1" ? 'checked' : '' }}>&nbsp;Online Campaign</input><br />
                    <input type="checkbox" value="1" name="paper_material" onclick="toggle2('#paper_material', this)" id="paper_material" {{ contacts.paper_material == "1" ? 'checked' : '' }}>&nbsp;Paper Material</input><br />
                    <input type="checkbox" value="1" name="any_other_format" onclick="toggle2('#any_other_format', this)" id="any_other_format" {{ contacts.any_other_format == "1" ? 'checked' : '' }}>&nbsp;Any Other Format</input><br />
                </div>
            </div>
            
            <div class="form-group">
                {{ form_label('Opt-in Type', 'opt_in_type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <select name="opt_in_type" id="approved" class="form-control">
                        <option value="">--Select--</option>
                        <option value="verbal" {{ contacts.opt_in_type == "VERBAL"? 'selected' : '' }}>Verbal</option>
                        <option value="face to face" {{ contacts.opt_in_type == "FACE TO FACE" ? 'selected' : '' }}>Face to Face</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}