{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(function () {
            $('#dataTables').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ site_url('ami/contacts/ajaxData?filter=' ~ filter) }}",
                    "type": "POST"
                },
                'aoColumns': [
                    {mData : "c.id" },
                    {mData : "c.armstrong_2_customers_id" },
                    {mData : "$.armstrong_2_customers_name" },
                    {mData : "c.first_name"},
                    {mData : "c.last_name"},
                    {mData : "c.primary_contact"},
                    {mData : "c.signature_base64"},
                    {mData : "c.date_created", "bSearchable": false},
                    {mData : "c.last_updated", "bSearchable": false}
                ],
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $(nRow).prepend('<td class=\"text-center\"><input type=\"checkbox\" value="'+ aData['DT_RowId'] +'"></td>');
                    $(nRow).append('<td class=\"text-center\" style=\"min-width: 130px;\">'+ aData['buttons'] +'</td>');
                },
                'order': [[1, 'asc']],
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ],
                "iDisplayLength": 50
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/contacts/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Contacts Draft' : 'Contacts' }}</h1>
                <div class="text-right">
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    <div class="btn-group btn-header-toolbar">
                        <a class="btn btn-sm btn-success" href="{{ site_url('ami/contacts/add') }}"><i class="fa fw fa-plus"></i> Add</a>
                        {% if draft %}
                            <a class="btn btn-sm btn-default" href="{{ site_url('ami/contacts') }}"><i class="fa fw fa-tags"></i> Contacts</a>
                        {% else %}
                            {# <a class="btn btn-sm btn-default" href="{{ site_url('ami/contacts/draft') }}"><i class="fa fw fa-trash"></i> Draft</a> #}
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {{ filter == 'active' ? 'class="active"' : '' }}><a role="menuitem"  href="{{ site_url('ami/contacts?filter=active') }}">Active</a></li>
                <li role="presentation" {{ filter == 'inactive' ? 'class="active"' : '' }}><a role="menuitem"  href="{{ site_url('ami/contacts?filter=inactive') }}">Inactive</a></li>
             </ul>

            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">

                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'contacts') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    {% endif %}
                                    <th> ID</th>
                                    <th>Customer ID</th>
                                    <th>Customer Name</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Primary Contact</th>
                                    <th>Signature</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th class="nosort text-center"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <!-- /. -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}