<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ contacts.name }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">
                <ul class="list-unstyled">
                    <li class="text-center">
                        {% set avatar = images.0 ? MEDIA_URL ~ '/image/thumb' ~ '/' ~ images.0.path : site_url('res/img/m-av_s.png') %}
                        <img class="img-bordered-danger" src="{{ avatar }}" alt="" width="100px" height="100px">
                        <br>
                        <h5 class="semibold mb0">{{ contacts.name }}</h5>
                        <p class="nm text-muted">{{ contacts.position }}</p>
                    </li>
                </ul>
                <div class="list-group">
                    {% if contacts.email %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-envelope-o pull-left"></i>
                            <div class="m-l-xl">                        
                                <h4 class="list-group-item-heading text-muted">Email</h4>
                                <p class="list-group-item-text"><a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>  {{ contacts.email_two ? ' - <a href="mailto:{{ contacts.email_two }}">' ~ contacts.email_two ~ '</a>' : ''}}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if contacts.phone %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-phone pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Phone</h4>
                                <p class="list-group-item-text">{{ contacts.phone }} {{ contacts.phone_2 ? ' - ' ~ contacts.phone_2 : ''}}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if contacts.fax %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-fax pull-left"></i>
                            <div class="m-l-lg">                        
                                <h4 class="list-group-item-heading text-muted">Fax</h4>
                                <p class="list-group-item-text">{{ contacts.fax }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {{ html_btn(site_url('ami/contacts/edit/' ~ contacts.id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>