<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="UTF-8" />    
    <title>{{ subject }}</title>
</head>
<body>
{% block body %}
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        {% block content %}{% endblock %}
    </table>
</body>
{% endblock %}
</html>