{% extends "ami/base.html.twig" %}
{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#DateActive').daterangepicker({
                format: 'YYYY-MM-DD',
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 10
            }).on('apply.daterangepicker', function (ev, picker) {
                $('input[name=date_start]').val(picker.startDate.format('YYYY-MM-DD'));
                $('input[name=date_expired]').val(picker.endDate.format('YYYY-MM-DD'));
            });
            $('#DateActiveSpecial').daterangepicker({
                format: 'YYYY-MM-DD',
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 10
            }).on('apply.daterangepicker', function (ev, picker) {
                $('input[name="date_prize[prize_special][from]"]').val(picker.startDate.format('YYYY-MM-DD'));
                $('input[name="date_prize[prize_special][to]"]').val(picker.endDate.format('YYYY-MM-DD'));
            });
            $('#DateActiveFirst').daterangepicker({
                format: 'YYYY-MM-DD',
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 10
            }).on('apply.daterangepicker', function (ev, picker) {
                $('input[name="date_prize[prize_first][from]"]').val(picker.startDate.format('YYYY-MM-DD'));
                $('input[name="date_prize[prize_first][to]"]').val(picker.endDate.format('YYYY-MM-DD'));
            });
            $('#DateActiveSecond').daterangepicker({
                format: 'YYYY-MM-DD',
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 10
            }).on('apply.daterangepicker', function (ev, picker) {
                $('input[name="date_prize[prize_second][from]"]').val(picker.startDate.format('YYYY-MM-DD'));
                $('input[name="date_prize[prize_second][to]"]').val(picker.endDate.format('YYYY-MM-DD'));
            });
        });
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}
{% block content %}
    {{ form_open(site_url('ami/setting_game/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: post.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Game Play Settings</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/setting_game', id: post.id, permission: 'setting_game'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <h4>Game plan configuration</h4>

        <div class="form-group">
            {{ form_label('Date Active', 'date_active', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'date_active', value: post.id ? post.date_start ~ ' - ' ~ post.date_expired : null,
                    'class': 'form-control',
                    'id': 'DateActive',
                    'data-parsley-required': 'true'
                }) }}
                <input type="hidden" name="date_start" value="{{ post.date_start }}"/>
                <input type="hidden" name="date_expired" value="{{ post.date_expired }}"/>
            </div>
        </div>
        <hr/>
        <h4>Prizes configuration</h4>

        <div class="form-group">
            {{ form_label('Special Prize', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'config_prize[prize_special]', value: post.config_prize.prize_special, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
            {{ form_label('Steps number', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'limit_prize[prize_special]', value: post.limit_prize.prize_special, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label('Date', 'date_special', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'date_special', value: post.id ? post.date_prize.prize_special.from ~ ' - ' ~ post.date_prize.prize_special.to : null,
                    'class': 'form-control',
                    'id': 'DateActiveSpecial',
                    'data-parsley-required': 'true'
                }) }}
                <input type="hidden" name="date_prize[prize_special][from]"
                       value="{{ post.date_prize.prize_special.from }}"/>
                <input type="hidden" name="date_prize[prize_special][to]"
                       value="{{ post.date_prize.prize_special.to }}"/>
            </div>
        </div>
        <div class="form-group">
            {{ form_label('1nd Prize', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'config_prize[prize_first]', value: post.config_prize.prize_first, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
            {{ form_label('Steps number', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'limit_prize[prize_first]', value: post.limit_prize.prize_first, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label('Date', 'date_first', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'date_first', value: post.id ? post.date_prize.prize_first.from ~ ' - ' ~ post.date_prize.prize_first.to : null,
                    'class': 'form-control',
                    'id': 'DateActiveFirst',
                    'data-parsley-required': 'true'
                }) }}
                <input type="hidden" name="date_prize[prize_first][from]"
                       value="{{ post.date_prize.prize_first.from }}"/>
                <input type="hidden" name="date_prize[prize_first][to]" value="{{ post.date_prize.prize_first.to }}"/>
            </div>
        </div>
        <div class="form-group">
            {{ form_label('2nd Prize', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'config_prize[prize_second]', value: post.config_prize.prize_second, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
            {{ form_label('Steps number', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'limit_prize[prize_second]', value: post.limit_prize.prize_second, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label('Date', 'date_second', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'date_second', value: post.id ? post.date_prize.prize_second.from ~ ' - ' ~ post.date_prize.prize_second.to : null,
                    'class': 'form-control',
                    'id': 'DateActiveSecond',
                    'data-parsley-required': 'true'
                }) }}
                <input type="hidden" name="date_prize[prize_second][from]"
                       value="{{ post.date_prize.prize_second.from }}"/>
                <input type="hidden" name="date_prize[prize_second][to]" value="{{ post.date_prize.prize_second.to }}"/>
            </div>
        </div>
        <hr/>
        <h4>PULL SR – PULL SR must conduct ALL 4 out of 6 items from the followings during a sales call to qualify for a
            drawing chance</h4>

        <div class="form-group">
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_pull[personal_objectives]', 1, post.config_pull.personal_objectives) }}
                        Setup personal
                        objective</label>
                    <label class="">{{ form_checkbox('config_pull[pantry_check]', 1, post.config_pull.pantry_check) }}
                        Pantry check</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_pull[demo]', 1, post.config_pull.demo) }} Rich media
                        demo</label>
                    <label class="">{{ form_checkbox('config_pull[sampling]', 1, post.config_pull.sampling) }}
                        Samplings</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_pull[tfo]', 1, post.config_pull.tfo) }} Place an order
                        (TFO)</label>
                    <label class="">{{ form_checkbox('config_pull[competitor_products]', 1, post.config_pull.competitor_products) }}
                        Fill in Competitor product
                        information</label>
                </div>
            </div>
        </div>
        <hr/>
        <h4>PUSH SR – PUSH SR must conduct ALL 4 out of 6 items from the followings during a sales call to qualify for a
            drawing chance</h4>

        <div class="form-group">
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_push[personal_objectives]', 1, post.config_push.personal_objectives) }}
                        Setup personal
                        objective</label>
                    <label class="">{{ form_checkbox('config_push[pantry_check]', 1, post.config_push.pantry_check) }}
                        Pantry check</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_push[demo]', 1, post.config_push.demo) }} Rich media
                        demo</label>
                    <label class="">{{ form_checkbox('config_push[sampling]', 1, post.config_push.sampling) }}
                        Samplings</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_push[tfo]', 1, post.config_push.tfo) }} Place an order
                        (TFO)</label>
                    <label class="">{{ form_checkbox('config_push[competitor_products]', 1, post.config_push.competitor_products) }}
                        Fill in Competitor product
                        information</label>
                </div>
            </div>
        </div>
        <hr/>
        <h4>SL – SL must conduct any 1 of the followings during sales call review to qualify for a drawing chance</h4>

        <div class="form-group">
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_leader[view_ufs_organization]', 1, post.config_leader.view_ufs_organization) }}
                        View UFS organization</label>
                    <label class="">{{ form_checkbox('config_leader[approve_customers]', 1, post.config_leader.approve_customers) }}
                        Approval of customer
                        information changes</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_leader[view_ufs_route_plan]', 1, post.config_leader.view_ufs_route_plan) }}
                        Conduct SR call
                        coaching</label>
                    <label class="">{{ form_checkbox('config_leader[set_sales_target]', 1, post.config_leader.set_sales_target) }}
                        Setting of SR sales
                        targets</label>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <br/>
    </div>

    {{ form_close() }}
{% endblock %}