{% extends "ami/base.html.twig" %}
{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#DateActive').daterangepicker({
                format: 'YYYY-MM-DD',
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 10
            }).on('apply.daterangepicker', function (ev, picker) {
                $('input[name=date_start]').val(picker.startDate.format('YYYY-MM-DD'));
                $('input[name=date_expired]').val(picker.endDate.format('YYYY-MM-DD'));
            });
            $('#DateActiveSpecial').daterangepicker({
                format: 'YYYY-MM-DD',
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 10
            }).on('apply.daterangepicker', function (ev, picker) {
                $('input[name="date_prize[prize_special][from]"]').val(picker.startDate.format('YYYY-MM-DD'));
                $('input[name="date_prize[prize_special][to]"]').val(picker.endDate.format('YYYY-MM-DD'));
            });
            $('#DateActiveFirst').daterangepicker({
                format: 'YYYY-MM-DD',
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 10
            }).on('apply.daterangepicker', function (ev, picker) {
                $('input[name="date_prize[prize_first][from]"]').val(picker.startDate.format('YYYY-MM-DD'));
                $('input[name="date_prize[prize_first][to]"]').val(picker.endDate.format('YYYY-MM-DD'));
            });
            $('#DateActiveSecond').daterangepicker({
                format: 'YYYY-MM-DD',
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 10
            }).on('apply.daterangepicker', function (ev, picker) {
                $('input[name="date_prize[prize_second][from]"]').val(picker.startDate.format('YYYY-MM-DD'));
                $('input[name="date_prize[prize_second][to]"]').val(picker.endDate.format('YYYY-MM-DD'));
            });
            $('.group_pull input').keyup(function(e){
                var dInput = $(this).val();
                $('.title_pull').html(dInput);
            });
            $('.group_push input').keyup(function(e){
                var dInput = $(this).val();
                $('.title_push').html(dInput);
            });
        });

//        function get_number(divClass){
//            alert(count_checkbox(divClass));
//        }
//        function count_checkbox(divClass){
//            var $b = $('.'+ divClass +' input[type=checkbox]');
//            return $b.filter(':checked').length;
//            //alert($b.filter(':checked').length);
//        }
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}
{% block content %}
    {{ form_open(site_url('ami/setting_game/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {id: post.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Game Play Settings</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/setting_game', id: post.id, permission: 'setting_game'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <h4>Game plan configuration</h4>

        <div class="form-group">
            {{ form_label('Date Active', 'date_active', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-6">
                {{ form_input({name: 'date_active', value: post.id ? post.date_start ~ ' - ' ~ post.date_expired : null,
                    'class': 'form-control',
                    'id': 'DateActive',
                    'data-parsley-required': 'true'
                }) }}
                <input type="hidden" name="date_start" value="{{ post.date_start }}"/>
                <input type="hidden" name="date_expired" value="{{ post.date_expired }}"/>
            </div>
        </div>
        <hr/>
        <h4>Prizes configuration</h4>

        <div class="form-group">
            {{ form_label('Special Prize', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'config_prize[prize_special]', value: post.config_prize.prize_special, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
            {{ form_label('Steps number', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'limit_prize[prize_special]', value: post.limit_prize.prize_special, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label('1nd Prize', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'config_prize[prize_first]', value: post.config_prize.prize_first, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
            {{ form_label('Steps number', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'limit_prize[prize_first]', value: post.limit_prize.prize_first, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label('2nd Prize', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'config_prize[prize_second]', value: post.config_prize.prize_second, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
            {{ form_label('Steps number', 'description', {class: 'control-label col-sm-2'}) }}
            <div class="col-sm-2">
                {{ form_input({name: 'limit_prize[prize_second]', value: post.limit_prize.prize_second, class: 'form-control', 'data-parsley-required': 'true'}) }}
            </div>
        </div>
        <hr/>
        <h4>PULL SR – PULL SR must conduct ALL <span class="title_pull">{{ post.config_pull_new.min_number_of_criterias ? post.config_pull_new.min_number_of_criterias : 1 }}</span> out of 6 items from the followings during a sales call to qualify for a
            drawing chance</h4>

        <div class="form-group group_pull">
            <div class="col-sm-12">
                <div class="col-sm-3">{{ key_map_title.pull.min_number_of_criterias }}: </div>
                <div class="col-sm-3">
                    {{ form_input({name: 'config_pull_new[min_number_of_criterias]', value: post.config_pull_new.min_number_of_criterias, class: 'form-control number_pull', 'data-parsley-required': 'true'}) }}
                </div>
                <div class="col-sm-6"> </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_pull_new[objectives]', 1, post.config_pull_new.objectives) }}
                        {{ key_map_title.pull.objectives }}</label>
                    <label class="">{{ form_checkbox('config_pull_new[pantryCheck]', 1, post.config_pull_new.pantryCheck) }}
                        {{ key_map_title.pull.pantryCheck }}</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_pull_new[material]', 1, post.config_pull_new.material) }}
                        {{ key_map_title.pull.material }}</label>
                    <label class="">{{ form_checkbox('config_pull_new[sampling]', 1, post.config_pull_new.sampling) }}
                        {{ key_map_title.pull.sampling }}</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_pull_new[tfos]', 1, post.config_pull_new.tfos) }}
                        {{ key_map_title.pull.tfos }}</label>
                    <label class="">{{ form_checkbox('config_pull_new[competitors]', 1, post.config_pull_new.competitors) }}
                        {{ key_map_title.pull.competitors }}</label>
                </div>
            </div>
        </div>
        <hr/>
        <h4>PUSH SR – PUSH SR must conduct ALL <span class="title_push">{{ post.config_push_new.min_number_of_criterias ? post.config_push_new.min_number_of_criterias : 1 }}</span> out of 6 items from the followings during a sales call to qualify for a
            drawing chance</h4>

        <div class="form-group group_push">
            <div class="col-sm-12">
                <div class="col-sm-3">{{ key_map_title.push.min_number_of_criterias }}: </div>
                <div class="col-sm-3">
                    {{ form_input({name: 'config_push_new[min_number_of_criterias]', value: post.config_push_new.min_number_of_criterias, class: 'form-control number_push', 'data-parsley-required': 'true'}) }}
                </div>
                <div class="col-sm-6"> </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_push_new[objectives]', 1, post.config_push_new.objectives) }}
                        {{ key_map_title.push.objectives }}</label>
                    <label class="">{{ form_checkbox('config_push_new[pantryCheck]', 1, post.config_push_new.pantryCheck) }}
                        {{ key_map_title.push.pantryCheck }}</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_push_new[material]', 1, post.config_push_new.material) }}
                        {{ key_map_title.push.material }}</label>
                    <label class="">{{ form_checkbox('config_push_new[perfectStore]', 1, post.config_push_new.perfectStore) }}
                        {{ key_map_title.push.perfectStore }}</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_push_new[tfos]', 1, post.config_push_new.tfos) }}
                        {{ key_map_title.push.tfos }}</label>
                    <label class="">{{ form_checkbox('config_push_new[competitors]', 1, post.config_push_new.competitors) }}
                        {{ key_map_title.push.competitors }}</label>
                </div>
            </div>
        </div>
        <hr/>
        <h4>SL – SL must conduct any 1 of the followings during sales call review to qualify for a drawing chance</h4>

        <div class="form-group">
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_leader[view_ufs_organization]', 1, post.config_leader.view_ufs_organization) }}
                        View UFS organization</label>
                    <label class="">{{ form_checkbox('config_leader[approve_customers]', 1, post.config_leader.approve_customers) }}
                        Approval of customer
                        information changes</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="">{{ form_checkbox('config_leader[view_ufs_route_plan]', 1, post.config_leader.view_ufs_route_plan) }}
                        Conduct SR call
                        coaching</label>
                    <label class="">{{ form_checkbox('config_leader[set_sales_target]', 1, post.config_leader.set_sales_target) }}
                        Setting of SR sales
                        targets</label>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <br/>
    </div>

    {{ form_close() }}
{% endblock %}