<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> Game setting season {{ post.season }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="list-group">
                    <div class="list-group-item">
                        <i class="fa fa-2x pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Game plan configuration</h4>
                            <p class="list-group-item-text">From {{ post.date_start }} - To {{ post.date_expired }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Prizes configuration</h4>
                            <p class="list-group-item-text">Special Prize: {{ post.config_prize.prize_special }} - Steps number: {{ post.limit_prize.prize_special }}</p>
                            <p class="list-group-item-text">1nd Prize: {{ post.config_prize.prize_first }} - Steps number: {{ post.limit_prize.prize_first }}</p>
                            <p class="list-group-item-text">2nd Prize: {{ post.config_prize.prize_second }} - Steps number: {{ post.limit_prize.prize_second }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Pull SR</h4>
                            <p class="list-group-item-text">Min number of criterias: {{ post.config_pull_new.min_number_of_criterias }}/{{ post.config_pull_new_total }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Push SR</h4>
                            <p class="list-group-item-text">Min number of criterias: {{ post.config_push_new.min_number_of_criterias }}/{{ post.config_push_new_total }}</p>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <i class="fa fa-2x pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Sale Leader</h4>
                            Min number of criterias 1/{{ post.config_leader_total }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>