{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(function () {
            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/setting_game/integrate_with_applications/ajaxData') }}",*/
                'order': [[1, 'desc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
    <form action="">
        <div class="row row sticky sticky-h1 bg-white">
            <div class="col-lg-12">
                <div class="page-header nm">
                    <h1 class="pull-left">Game Play</h1>

                    <div class="text-right">
                        <div class="btn-header-toolbar">
                            {% if has_permission('add', 'setting_game') %}
                                {{ html_btn(site_url('ami/setting_game/play_setting'), '<i class="fa fa-fw fa-plus"></i> Add</a>', {'class': 'btn-default'}) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row m-t-md">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="">
                            <table class="table table-striped table-bordered table-hover" id="dataTables">

                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Season</th>
                                    <th>Date Start</th>
                                    <th>Date Expired</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th class="nosort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key,season in seasons %}
                                    <tr>
                                        <td class="center">{{ season.id }}</td>
                                        <td class="center">
                                            <a href="{{ site_url('ami/setting_game/play_setting/' ~ season.id) }}"
                                               title="{{ season.season }}"
                                               data-toggle="ajaxModal">{{ season.season }}</a>
                                        </td>
                                        <td class="center">{{ season.date_start }}</td>
                                        <td class="center">{{ season.date_expired }}</td>
                                        <td class="center">{{ season.date_created }}</td>
                                        <td class="center">{{ season.last_updated }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                {% if(season.is_current_season) %}
                                                    <a href="play_setting/{{ season.id }}"
                                                       class="btn btn-default edit" title="Edit"><i
                                                                class="fa fa-edit"></i></a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /. -->
                    </div>
                    <!-- /.panel-body -->

                </div>
            </div>
        </div>
    </form>
{% endblock %}