{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        $(function () {
            $('#from_date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $('#to_date').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false
            });
            $("#from_date").on("dp.change", function (e) {
                $('#to_date').data("DateTimePicker").minDate(e.date);
            });
            $("#to_date").on("dp.change", function (e) {
                $('#from_date').data("DateTimePicker").maxDate(e.date);
            });
        });
        function validateForm(){
            var flag = 0;
            $('.skunumber').each(function(){
                if(!$(this).val()){
                    alert("Invalid product.");
                    flag = 1;
                }
            });

            if (flag == 1)
                return false;
            else
                return true;
        }
        function eraseProduct(x){
            $('.productvalue'+x).val("");
            $('.productvalue'+x).prop('readonly', false);
        }
        function addAutoSku(){
            var sku_except = '?sku_except=';
            $('.skunumber').each(function(){
                sku_except += ','+$(this).val();
            });
            $('.skuproduct').autocomplete({
                source: "{{ site_url('ami/products/tokenfield') }}"+sku_except,
                delay: 25,
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).prop('readonly', true);
                    $('.erase'+$(this).data('nbconfig')).show();
                    $(this).val(ui.item.label);
                    $('.skuvalue'+$(this).data('nbconfig')).val(ui.item.value);
                }
            }).on('focus', function () {
                this.select();
            });
        }
        addAutoSku();
        {% if(sku_point.point_settings) %}
        var nb_config = {{ sku_point.point_settings|length }};
        {% else %}
        var nb_config = 0;
        {% endif %}
        $('#addpointsetting').click(function(){
            var flag = true;
            $('.skuproduct').each(function(){
                if($(this).val() == '')
                {
                    $(this).focus();
                    flag = false;
                }
            });
            if(flag)
            {
                nb_config++;
                var html = ''+
                '<tr class="pointst'+nb_config+'"> ' +
                    '<td width="3">'+
                        '<p style="font-size: 17pt; display: none" class="erase'+nb_config+'" onClick="eraseProduct('+nb_config+')">&#215; </p>'+
                    '</td>'+
                    '<td width="70%"> '+
                        '<input type="text" data-nbconfig="'+nb_config+'" class="form-control skuproduct productvalue'+nb_config+'" name="point_settings['+nb_config+'][sku_name]" required="required" value="">'+
                        '<input type="hidden" class="skuvalue'+nb_config+' skunumber" name="point_settings['+nb_config+'][sku]" value="" >'+
                    '</td>'+
                    '<td>'+
                        '<input type="number" class="form-control" name="point_settings['+nb_config+'][point]" required="required" value="0" min="0" step=".01">'+
                    '</td>'+
                    '<td>'+
                        '<span class="btn btn-danger removepointst" data-nbconfig="'+nb_config+'">Remove</span>'+
                    '</td>'+
                '</tr>';
                $('#pointsetting').append(html);
                addAutoSku();
            }
        });
        $(document).on('click', '.removepointst', function () {
           $('.pointst'+$(this).data('nbconfig')).remove();
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/sku_point/save'), {class: 'form-horizontal'}, {'id': sku_point.id}, {'onSubmit': 'return validateForm()'}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Sku Point</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {% if sku_point.dateFlag != 1 %}
                            {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success', 'onclick': 'return validateForm()'}) }}
                        {% endif %}

                        {{ html_btn(site_url('ami/sku_point'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if sku_point.id %}
                            <a href="{{ site_url('ami/sku_point/delete/' ~ sku_point.id) }}" title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('From', 'from_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'from_date', value: sku_point.from_date, id: 'from_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('To', 'to_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'to_date', value: sku_point.to_date, id: 'to_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('AVP Name', 'name', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'name', value: sku_point.name, id: 'name', class: errors ? 'form-control parsley-error' : 'form-control', 'data-parsley-required': 'true'}) }}

                    {% if errors %}
                        <ul class="parsley-errors-list filled">
                            <li class="parsley-overlaps" style="color:red;">{{ errors }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            {% if enable_enhanced_avp == 1 %}
            <div class="form-group">
                {{ form_label('Channel', 'channel', {class: 'control-label col-sm-3 errors'}) }}
                <div class="col-sm-5">
                    <!-- <select name="channel[]" class="form-control fetch-otm" id="ChannelSelect" multiple> -->
                        {% for country_channel in country_channels %}
                            {% if country_channel.id in sku_point.channel %}
                                <input type="checkbox" value="{{ country_channel.id }}" name="channel[]" checked="checked">{{ country_channel.name }}</input>
                            {% else %}
                                <input type="checkbox" value="{{ country_channel.id }}" name="channel[]">{{ country_channel.name }}</input>
                            {% endif %}
                            <br />
                        {% endfor %}
                    <!-- </select> -->
                </div>
            </div>
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <tr> 
                        <th width="3"></th>
                        <th width="60%">Product </th>
                        <th>Point</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="pointsetting">
                {% for key, skupoint in sku_point.point_settings %}
                    <tr class="pointst{{ key }}">
                        <td>
                            <p style="font-size: 17pt" class="erase{{key}}" onClick="eraseProduct({{key}})">&#215; </p>
                        </td>
                        <td width="70%">
                            <input type="text" data-nbconfig="{{ key }}" class="form-control skuproduct productvalue{{ key }}" name="point_settings[{{ key }}][sku_name]" required="required" value="{{ skupoint.sku_name }}" readonly="readonly">
                            <input type="hidden" class="skuvalue{{ key }} skunumber" name="point_settings[{{ key }}][sku]" value="{{ skupoint.sku }}" >
                        </td>
                        <td>
                            <input type="number" class="form-control" name="point_settings[{{ key }}][point]" required="required" value="{{ skupoint.point }}" min="0" step=".01">
                        </td>
                        <td>
                            <span class="btn btn-danger removepointst" data-nbconfig="{{ key }}">Remove</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%">
                            <span class="btn btn-primary pull-right" id="addpointsetting">Add config point</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
            {{ form_input({name: 'id', value: sku_point.id, type: 'hidden', class: 'hide'}) }}

        </div>
    </div>

    {{ form_close() }}
{% endblock %}