{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script>
        function validateProductInput(){
            var validate = false;
            $.each($('select[name="sku_number_"]'), function(){
                if($(this).val() !== ''){
                    validate = true;
                }
            });
            return validate;
        }
        $(function () {
            var counter = $('.InputProductId').length - 1;
            $(document).on('click', '.btn-clone', function (e) {
                e.preventDefault();
                var $this = $(this),
                        $clone = $(this).closest('.sku-base').clone();
                $clone.find('.hide').removeClass('hide').show();

                if ($this.hasClass('clone-add')) {
                    $new = $clone.clone();
                    counter ++;
                    $new.find('input[name], select[name]').each(function () {
                        var $this = $(this);
                        $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, '[' + counter + ']'));

                        if ($this.hasClass('product-tokenfield') || $this.is('input:text')) {
                            $this.val('');
                        }
                        else {
                            $this.val(0);
                        }
                    });
                    $new.find('select[name="sku_number_"]').attr('data-parsley-required', 'false').removeClass('parsley-error');
                    $new.find('ul.parsley-errors-list').remove();
                    $new.appendTo($('#sku-base-block'));
                    $new.find('.item-type-input').trigger('change');
                }

                if ($this.hasClass('clone-remove')) {
                    $(this).closest('.sku-base').remove();
                    var validate = validateProductInput();
                    if(!validate){
                        $('select[name="sku_number_"]').first().attr('data-parsley-required', 'true');
                    }
                }
            });

            $('#salesperson_list').change(function () {
                var $this = $(this),
                        armstrong_2_salespersons_id = $this.val();
                $('#call_record').html('');
                $.ajax({
                    url: "{{ site_url('ami/sampling/getCustomerFromSalesperson') }}",
                    data: {armstrong_2_salespersons_id: armstrong_2_salespersons_id},
                    type: 'POST',
                    dataType: 'html',
                    success: function (res) {
                        $('#customer_list').html(res).trigger('change');
                    }
                });
            });
            $('#customer_list').change(function () {
                var $this = $(this),
                        armstrong_2_customers_id = $this.val(),
                        armstrong_2_salespersons_id = $('#salesperson_list').val();
                $.ajax({
                    url: "{{ site_url('ami/sampling/getCallFromSalesCus') }}",
                    data: {
                        armstrong_2_salespersons_id: armstrong_2_salespersons_id,
                        armstrong_2_customers_id: armstrong_2_customers_id
                    },
                    type: 'POST',
                    dataType: 'html',
                    success: function (res) {
                        $('#call_record_list').html(res);
                        if(res){
                            $('#call_record_list').removeClass('parsley-error');
                            $('#call_record_list').closest('div').find('ul.parsley-errors-list').hide();
                        }else{
                            if($('#call_record_list').closest('div').find('ul.parsley-errors-list li').length > 0){
                                $('#call_record_list').addClass('parsley-error');
                            }
                            $('#call_record_list').closest('div').find('ul.parsley-errors-list').show();
                        }
                    }
                });
            });
            $(document).on('change', '.item-type-input', function () {
                var $this = $(this),
                        productSelect = $this.closest('.sku-base').find('select[name="sku_number_"]'),
                        item_type = $this.val();
                $.ajax({
                    url: "{{ site_url('ami/sampling/getProductByItemType') }}",
                    data: {
                        item_type: item_type
                    },
                    type: 'POST',
                    dataType: 'html',
                    success: function (res) {
                        productSelect.html(res);
                        var validate = validateProductInput(),
                                target = $('select[name="sku_number_"]').first();
                        if(!validate){
                            target.attr('data-parsley-required', 'true');
                        }else{
                            target.attr('data-parsley-required', 'false').removeClass('parsley-error');
                            target.closest('div').find('ul.parsley-errors-list').remove();
                        }
                    }
                });
            });

            $(document).on('change', 'select[name="sku_number_"]', function (e) {
                var $this = $(this),
                        input_hidden = $this.closest('div').find('input[type="hidden"]'),
                        target = $('select[name="sku_number_"]').first();
                        validate = validateProductInput();
                input_hidden.val($this.val());
                if(!validate){
                    target.attr('data-parsley-required', 'true');
                }else{
                    target.attr('data-parsley-required', 'false').removeClass('parsley-error');
                    target.closest('div').find('ul.parsley-errors-list').remove();
                }
            })
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .sub-input-item {
            width: 13%;
            display: inline-block;
        }

        .feedback-input {
            width: 37%;
        }
    </style>
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/sampling/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {armstrong_2_sampling_id: sampling.armstrong_2_sampling_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Sampling</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/sampling', id: sampling.armstrong_2_sampling_id, permission: 'sampling'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            {% if sampling.armstrong_2_sampling_id %}
                <div class="form-group">
                    {{ form_label('Sampling ID', 'armstrong_2_sampling_id', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_input({name: 'armstrong_2_sampling_id', value: sampling.armstrong_2_sampling_id, class: 'form-control', 'data-parsley-required': "true", 'readonly':"readonly"}) }}
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_label('Salespersons', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, sampling.armstrong_2_salespersons_id, 'id="salesperson_list" class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Customers', 'armstrong_2_customers_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_customers_id', customers, sampling.armstrong_2_customers_id, 'id="customer_list" class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Call Records', 'armstrong_2_call_records_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_call_records_id', call_records, sampling.armstrong_2_call_records_id, 'id="call_record_list" class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

            {% set productTitle = session.country_id in [3, 6] ? 'name_alt' : 'sku_name' %}
            {% for key, sampling_array in sampling.sampling_array %}
                <div class="form-group sku-base">
                    {{ form_label('Item type', 'item_type', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-2">
                        {{ form_dropdown('products[' ~ key ~ '][item_type]', item_type, sampling_array.item_type, 'class="form-control item-type-input"') }}
                    </div>
                    {{ form_label('Product', 'products', {class: 'control-label col-sm-1'}) }}
                    <div class="col-sm-3">
                        {% if sampling_array.item_type == 1 %}
                            {{ form_dropdown('sku_number_', recipes, sampling_array.sku_number, "class='form-control product-tokenfield'") }}
                        {% elseif sampling_array.item_type == 2 %}
                            {{ form_dropdown('sku_number_', benefits, sampling_array.sku_number, "class='form-control product-tokenfield'") }}
                        {% elseif sampling_array.item_type == 3 %}
                            {{ form_dropdown('sku_number_', products_video, sampling_array.sku_number, "class='form-control product-tokenfield'") }}
                        {% elseif sampling_array.item_type == 4 %}
                            {{ form_dropdown('sku_number_', promotions, sampling_array.sku_number, "class='form-control product-tokenfield'") }}
                        {% else %}
                            {{ form_dropdown('sku_number_', products, sampling_array.sku_number, "class='form-control product-tokenfield'") }}
                        {% endif %}

                        <input type="hidden" name="products[{{ key }}][sku_number]" class="InputProductId"
                               value="{{ sampling_array.sku_number }}"/>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-clone clone-add hide"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i></button>
                    </div>

                    <div class="col-sm-offset-3 col-sm-9 m-t no-parsley">
                        Feedback {{ form_input({name: 'products[' ~ key ~ '][feedBack]', value: sampling_array.feedBack, class: 'form-control sub-input-item feedback-input'}) }}
                        &nbsp;
                        Type {{ form_dropdown('products[' ~ key ~ '][type]', type, sampling_array.type, 'class="form-control sub-input-item"') }}
                    </div>
                </div>
            {% endfor %}
            {% if products %}
                {% set counter = sampling.sampling_array|length %}
                <div class="form-group sku-base">
                    {{ form_label('Item type', 'item_type', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-2">
                        {{ form_dropdown('products[' ~ counter ~ '][item_type]', item_type, sampling_array.item_type, 'class="form-control item-type-input"') }}
                    </div>
                    {{ form_label('Product', 'products', {class: 'control-label col-sm-1'}) }}
                    <div class="col-sm-3">
                        {% if sampling.armstrong_2_sampling_id %}
                            {{ form_dropdown('sku_number_', products, '', "class='form-control product-tokenfield'") }}
                        {% else %}
                            {{ form_dropdown('sku_number_', products, '', "class='form-control product-tokenfield' data-parsley-required='true'") }}
                        {% endif %}
                        <input type="hidden" name="products[{{ counter }}][sku_number]" class="InputProductId"
                               value=""/>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-default btn-clone clone-remove hide"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="col-sm-offset-3 col-sm-9 m-t no-parsley">
                        Feedback {{ form_input({name: 'products[' ~ counter ~ '][feedBack]', value: sampling_array.feedBack, class: 'form-control sub-input-item feedback-input'}) }}
                        &nbsp;
                        Type {{ form_dropdown('products[' ~ counter ~ '][type]', type, sampling_array.type, 'class="form-control sub-input-item"') }}
                    </div>
                </div>
                <div id="sku-base-block"></div>
            {% endif %}
            <div class="form-group">
                {{ form_label('Comments', 'comments', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_textarea({name: 'comments', value: sampling.comments, class: 'form-control', 'rows': 3}) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}