{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
<script src="{{ site_url('res/js/import.js') }}"></script>
<script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ site_url('res/js/call_modules.js') }}"></script>
<script>
$(document).ready(function() {
    $('#dataTables').dataTable({
        "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
        'order': [[1, 'asc']],
        'bPaginate': false,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });

    $('#InputDateRange').daterangepicker({
        format: 'YYYY-MM-DD'
    }).on('apply.daterangepicker', function(ev, picker) {
        $('#InputStartDate').val(picker.startDate.format('YYYY-MM-DD'));
        $('#InputEndDate').val(picker.endDate.format('YYYY-MM-DD'));
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
<link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/sampling/update'), {class: draft ? 'form-horizontal' : 'form-horizontal submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Sampling Draft' : 'Sampling' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/sampling', icon: 'fa-binoculars', title: 'Sampling', permission: 'sampling', showImport: 1} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">            
            
            {% if salespersons|length > 1 %}
                <div class="form-group">
                    {{ form_label('Salespersons', 'salespersons', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('salespersons', salespersons, null, 'id="SalespersonsSelector" class="form-control select-multiple" data-parsley-required="true" multiple') }}
                    </div>
                </div>
            {% endif %}
            
            <div class="form-group">
                {{ form_label('Date Time', 'date_time', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'date_time', value: null, 
                        class: 'form-control',
                        'id': 'InputDateRange'
                    }) }}
                </div>

                <input type="hidden" id="InputStartDate" value="" />
                <input type="hidden" id="InputEndDate" value="" />
            </div>

            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="#" class="btn btn-primary" id="Generate" 
                        data-url="{{ site_url('ami/sampling/sampling_data') }}"
                        data-container="#SamplingContainer"
                        data-draft="{{ draft ? 1 : 0 }}">Generate</a>
                </div>
            </div>

            <div id="SamplingContainer"></div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    {{ form_close() }}

{% endblock %}