<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ sampling.armstrong_2_sampling_id }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                <div class="list-group">                    

                    <div class="list-group-item">
                        <i class="fa fa-2x fa-envelope-o pull-left"></i>
                        <div class="m-l-xl">                        
                            <h4 class="list-group-item-heading text-muted">Call Records</h4>
                            <p class="list-group-item-text">{{ sampling.armstrong_2_call_records_id }}</p>
                        </div>
                    </div>

                    {% if sampling.products %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-barcode pull-left"></i>
                            <div class="m-l-xl">                        
                                <div class="list-group-item-text">
                                    <h4 class="list-group-item-heading text-muted">Products</h4>
                                    {% for product in sampling.products %}
                                        <p><span class="text-muted">{{ product.sku_number }}:</span> {{ product.sku_name }}</p>
                                    {% endfor %}                                   
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'sampling') %}
                {{ html_btn(site_url('ami/sampling/edit/' ~ sampling.armstrong_2_sampling_id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>