{% if samplings %} 

    <div class="panel panel-default">                            
        <div class="panel-body">                
            <div class="">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            {% if has_permission('delete', 'sampling') %}
                                <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                            {% endif %}
                            <th>ID</th>
                            <th>Salesperson Name</th>
                            <th>Operator</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th class="nosort text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sampling in samplings %}
                            <tr>
                                {% if has_permission('delete', 'sampling') %}
                                    <td class="text-center">{{ form_checkbox({name: 'ids[]', value: sampling.armstrong_2_sampling_id}) }}</td>
                                {% endif %}
                                <td><a href="{{ site_url('ami/sampling/edit/' ~ sampling.armstrong_2_sampling_id) }}" title="{{ sampling.armstrong_2_sampling_id }}" data-toggle="ajaxModal">{{ sampling.armstrong_2_sampling_id }}</a></td>
                                <td>{{ sampling.armstrong_2_salespersons_id }} - {{ sampling.first_name }} {{ sampling.last_name }}</td>
                                <td>{{ sampling.armstrong_2_customers_id }} - {{ sampling.armstrong_2_customers_name }}</td>
                                <td class="center">{{ sampling.date_created }}</td>
                                <td class="center">{{ sampling.last_updated }}</td>
                                <td class="center text-center" style="min-width: 80px;">
                                    {% if has_permission('edit', 'sampling') or has_permission('delete', 'sampling') %}
                                        {% include 'ami/components/table_btn.html.twig' with {url: 'ami/sampling', id: sampling.armstrong_2_sampling_id, permission: 'sampling'} %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /. -->
        </div>
        <!-- /.panel-body -->

    </div>

    <script>
    $(function() {

        // $('#dataTables').dataTable.destroy();

        $('#dataTables').dataTable({
            'order': [[1, 'asc']],
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });        
    });  
    </script>
{% else %}
    <div class="col-sm-6 col-sm-offset-3">There are no Sampling</div>
{% endif %}