{% extends "spinwin/layout.html.twig" %}

{% block content %}
<div id="content_country" class="upper-bold">
    <div class="row row-centered">
        <div class="flag_bg col-sm-4 col-centered">
            <span class="text1_flag">Total players</span>
            <span class="text2_flag">Perfect calls</span>            
            <span class="text3_flag">Singapore</span>
            <span class="text4_flag">{{ players.5.total_players|number_format }}</span>
            <span class="text5_flag">{{ calls.5.total|number_format }}</span>
            <span class="text7_flag">Medium {{ prizeTypes.5.medium|number_format }} - Small {{ prizeTypes.5.small|number_format }}</span>
            <img class="img-responsive" src="{{ site_url('res/img/spinwin/singapore.png') }}"/>
        </div>
        <div class="flag_bg col-sm-4 col-centered">
            <span class="text1_flag">Total players</span>
            <span class="text2_flag">Perfect calls</span>            
            <span class="text3_flag">Thailand</span>
            <span class="text4_flag">{{ players.7.total_players|number_format }}</span>
            <span class="text5_flag">{{ calls.7.total|number_format }}</span>
            <span class="text7_flag">Medium {{ prizeTypes.7.medium|number_format }} - Small {{ prizeTypes.7.small|number_format }}</span>
            <img class="img-responsive" src="{{ site_url('res/img/spinwin/thailand.png') }}"/>
        </div>
    </div>
    <div class="row row-centered">
        <div class="flag_bg col-sm-4 col-centered">
            <span class="text1_flag">Total players</span>
            <span class="text2_flag">Perfect calls</span>            
            <span class="text3_flag">Taiwan</span>
            <span class="text4_flag">{{ players.6.total_players|number_format }}</span>
            <span class="text5_flag">{{ calls.6.total|number_format }}</span>
            <span class="text7_flag">Medium {{ prizeTypes.6.medium|number_format }} - Small {{ prizeTypes.6.small|number_format }}</span>
            <img class="img-responsive" src="{{ site_url('res/img/spinwin/taiwan.png') }}"/>
        </div>
        <div class="flag_bg col-sm-4 col-centered">
            <span class="text1_flag">Total players</span>
            <span class="text2_flag">Perfect calls</span>            
            <span class="text3_flag">Southafrica</span>
            <span class="text4_flag">{{ players.4.total_players|number_format }}</span>
            <span class="text5_flag">{{ calls.4.total|number_format }}</span>
            <span class="text7_flag">Medium {{ prizeTypes.4.medium|number_format }} - Small {{ prizeTypes.4.small|number_format }}</span>
            <img class="img-responsive" src="{{ site_url('res/img/spinwin/southafrica.png') }}"/>
        </div>
    </div>
    <div class="row row-centered">
        <div class="flag_bg col-sm-4 col-centered"/>
        <span class="text1_flag">Total players</span>
        <span class="text2_flag">Perfect calls</span>        
        <span class="text3_flag">Australia</span>
        <span class="text4_flag">{{ players.2.total_players|number_format }}</span>
        <span class="text5_flag">{{ calls.2.total|number_format }}</span>
        <span class="text7_flag">Medium {{ prizeTypes.2.medium|number_format }} - Small {{ prizeTypes.2.small|number_format }}</span>
        <img class="img-responsive" src="{{ site_url('res/img/spinwin/australia.png') }}"/>
    </div>
    <div class="flag_bg col-sm-4 col-centered">
        <span class="text1_flag">Total players</span>
        <span class="text2_flag">Perfect calls</span>        
        <span class="text3_flag">Newzeland</span>
        <span class="text4_flag">{{ players.9.total_players|number_format }}</span>
        <span class="text5_flag">{{ calls.9.total|number_format }}</span>
        <span class="text7_flag">Medium {{ prizeTypes.9.medium|number_format }} - Small {{ prizeTypes.9.small|number_format }}</span>
        <img class="img-responsive" src="{{ site_url('res/img/spinwin/newzeland.png') }}"/>
    </div>  
</div> 
<div class="row row-centered">
    <div class="flag_bg col-sm-4 col-centered">
        <span class="text1_flag">Total players</span>
        <span class="text2_flag">Perfect calls</span>        
        <span class="text3_flag">Malaysia</span>
        <span class="text4_flag">{{ players.1.total_players|number_format }}</span>
        <span class="text5_flag">{{ calls.1.total|number_format }}</span>
        <span class="text6_flag">Mega {{ prizeTypes.1.special|number_format }} - Medium {{ prizeTypes.1.medium|number_format }} - Small {{ prizeTypes.1.small|number_format }}</span>
        <img class="img-responsive" src="{{ site_url('res/img/spinwin/malaysia.png') }}"/>
    </div>
    <div class="flag_bg col-sm-4 col-centered">
        <span class="text1_flag">Total players</span>
        <span class="text2_flag">Perfect calls</span>        
        <span class="text3_flag">HongKong</span>
        <span class="text4_flag">{{ players.3.total_players|number_format }}</span>
        <span class="text5_flag">{{ calls.3.total|number_format }}</span>
        <span class="text7_flag">Medium {{ prizeTypes.3.medium|number_format }} - Small {{ prizeTypes.3.small|number_format }}</span>
        <img class="img-responsive" src="{{ site_url('res/img/spinwin/hongkong.png') }}"/>
    </div>
</div>
<div class="row row-centered">
    <div class="flag_bg col-sm-4 col-centered">
        <span class="text1_flag">Total players</span>
        <span class="text2_flag">Perfect calls</span>        
        <span class="text3_flag">Philippines</span>
        <span class="text4_flag">{{ players.8.total_players|number_format }}</span>
        <span class="text5_flag">{{ calls.8.total|number_format }}</span>
        <span class="text7_flag">Medium {{ prizeTypes.8.medium|number_format }} - Small {{ prizeTypes.8.small|number_format }}</span>
        <img class="img-responsive" src="{{ site_url('res/img/spinwin/philippines.png') }}"/>
    </div>
    <div class="flag_bg col-sm-4 col-centered">
        <span class="text1_flag">Total players</span>
        <span class="text2_flag">Perfect calls</span>        
        <span class="text3_flag">Indonesia</span>
        <span class="text4_flag">{{ players.10.total_players|number_format }}</span>
        <span class="text5_flag">{{ calls.10.total|number_format }}</span>
        <span class="text7_flag">Medium {{ prizeTypes.10.medium|number_format }} - Small {{ prizeTypes.10.small|number_format }}</span>
        <img class="img-responsive" src="{{ site_url('res/img/spinwin/indonesia.png') }}"/>
    </div>
</div>

{% endblock %}