<div class="row">
	<div class="col-sm-3">
		<header class="header">
			<nav class="menu-nav">
				<ul class="mn_table">
					<li class="mn_menu win">
						<a href="{{ site_url('spin_and_win') }}">Winners</a>
					</li>
					<li class="mn_menu country">
						<a href="{{ site_url('spin_and_win/country_stats') }}">Country Stats</a>
					</li>
					<li class="mn_menu coin">
						<a href="{{ site_url('spin_and_win/perfect_calls') }}">Perfect Calls</a>
					</li>
					<li class="mn_menu view"><a href="">View by</a><img class="btn_next" src="{{ site_url('res/img/spinwin/button_next.png') }}" />
						<ul class="mn_table1">
							<li class="mn_menu">
								<a href="{{ site_url('spin_and_win/filter/day') }}">Today</a>
							</li>
							<li class="mn_menu">
								<a href="{{ site_url('spin_and_win/filter/week') }}">This Week</a>
							</li>
							<li class="mn_menu">
								<a href="{{ site_url('spin_and_win/filter/season') }}">This Season</a>
							</li>
							<li class="mn_menu">
								<a href="{{ site_url('spin_and_win/filter/season1') }}">Season 1</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
	</div>
	<div class="col-sm-6"></div>
	<div class="col-sm-3">
		<div class="logo">        
			<div class="text_logo small-font {{ filter }}">
				<div class="text-logo-container">
					{% set now = Carbon.now() %}
					<p>
						{% if filter == 'day' %}
							{{ now.format('jS F') }}
						{% elseif filter == 'week' %}
							Week {{ week|number_format }}  of {{ now.format('F') }}
						{% elseif filter == 'month' %}
							{{ now.format('F') }}
						{% endif %}
					</p>
					<p>GAME RESULTS</p>
					<p>{{ now.format('Y') }}</p>
				</div>
			</div>
			<img class="img-responsive align-center" src="{{ site_url('res/img/spinwin/logo.png') }}" alt="Logo"/>
		</div>
	</div>
</div>