{% extends "base.html.twig" %}

{% block title %}SPIN & WIN{% endblock %}

{% block head %}
{{ parent() }}
<script type="text/javascript" src="{{ site_url('res/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ site_url('res/js/jquery-migrate-1.2.1.js') }}"></script>
<script>
var BASE_URL = '{{ site_url() }}',
    CURRENT_URL = '{{ current_url() }}';
function base_url(){ return BASE_URL; }
function current_url(){ return CURRENT_URL; }
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ site_url('res/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ site_url('res/css/font-awesome/css/font-awesome.min.css') }}"/>
<link rel="stylesheet" href="{{ site_url('res/css/ami.css') }}"/>
<link rel="stylesheet" href="{{ site_url('res/css/spinwin/style.css') }}"/>
{% endblock %}


{% block body %}

    <div class="container-fluid">
        <div class="wrapper">
            {% include 'spinwin/header.html.twig' %}

            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}