{% extends "spinwin/layout.html.twig" %}

{% block content %}
<div class="content">
    <div class="content-background center-block">
        <div style="overflow: hidden; padding: 20px;">
            <h3 class="upper-bold text_head text-white">perfect calls statistics</h3>
            <div class="table-responsive">

                <table class="table">
                    <thead class="upper-bold">
                    <tr>
                        <th class="text-center"><a href="#singapore">Singapore</a></th>
                        <th class="text-center"><a href="#thailand">Thailand</a></th>
                        <th class="text-center"><a href="#taiwan">Taiwan</a></th>
                        <th class="text-center"><a href="#south-africa">South africa</a></th>
                        <th class="text-center"><a href="#australia">Australia</a></th>
                    </tr>
                    <tr class="border_bottom">
                        <th class="text-center"><a href="#new-zealand">New Zealand</a></th>
                        <th class="text-center"><a href="#malaysia">Malaysia</a></th>
                        <th class="text-center"><a href="#hong-kong">Hong Kong</a></th>
                        <th class="text-center"><a href="#philippines">Philippines</a></th>
                        <th class="text-center"><a href="#indonesia">Indonesia</a></th>
                    </tr>
                    </thead>
                </table>

                <table class="table coin-stats">
                    <tbody>
                        <tr >
                            <td colspan="6" id="singapore" class="text-header"><p class="text_bd_table upper-bold">Singapore</p><td>
                        </tr>
                        {#TODO: Hard-code for season, should be loaded form server - ThangNV.#}
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.5 %}
                            {#{% if i < 5 %}#}
                                {# {% if data.percentage.diff %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                        <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                        <td class="text-center">
                                            {% if (data.percentage.diff != 0) %}
                                                <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                            {% endif %}
                                            {{ data.percentage.diff|number_format(2) }}%
                                        </td>
                                    </tr>
                                {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.5.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.5.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.5.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.5.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.5.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.5.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.5.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6" id="thailand" class="text-header"><p class="text_bd_table upper-bold">Thailand</p><td>
                        </tr>
                        {#TODO: Hard-code for season, should be loaded form server - ThangNV.#}
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.7 %}
                            {#{% if i < 5 %}#}
                                {# {% if data.percentage.diff %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                        <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                        <td class="text-center">
                                            {% if (data.percentage.diff != 0) %}
                                                <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                            {% endif %}
                                            {{ data.percentage.diff|number_format(2) }}%
                                        </td>
                                    </tr>
                                {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.7.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.7.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.7.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.7.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.7.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.7.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.7.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6" id="taiwan" class="text-header"><p class="text_bd_table upper-bold">taiwan</p><td>
                        </tr>
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.6 %}
                            {#{% if i < 5 %}#}
                                {# {% if data.percentage.diff %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                        <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                        <td class="text-center">
                                            {% if (data.percentage.diff != 0) %}
                                                <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                            {% endif %}
                                            {{ data.percentage.diff|number_format(2) }}%
                                        </td>
                                    </tr>
                                {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.6.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.6.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.6.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.6.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.6.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.6.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.6.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6" id="south-africa" class="text-header"><p class="text_bd_table upper-bold">South africa</p><td>
                        </tr>
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.4 %}
                            {#{% if i < 5 %}#}
                                {# {% if data.percentage.diff %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                        <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                        <td class="text-center">
                                            {% if (data.percentage.diff != 0) %}
                                                <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                            {% endif %}
                                            {{ data.percentage.diff|number_format(2) }}%
                                        </td>
                                    </tr>
                                {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.4.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.4.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.4.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.4.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.4.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.4.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.4.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6" id="australia" class="text-header"><p class="text_bd_table upper-bold">australia</p><td>
                        </tr>
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.2 %}
                            {#{% if i < 5 %}#}
                                {# {% if data.percentage.diff %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                        <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                        <td class="text-center">
                                            {% if (data.percentage.diff != 0) %}
                                                <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                            {% endif %}
                                            {{ data.percentage.diff|number_format(2) }}%
                                        </td>
                                    </tr>
                                {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.2.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.2.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.2.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.2.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.2.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.2.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.2.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6" id="new-zealand" class="text-header"><p class="text_bd_table upper-bold">new zealand</p><td>
                        </tr>
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.9 %}
                            {#{% if i < 5 %}#}
                                {# {% if data.percentage.diff %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                        <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                        <td class="text-center">
                                            {% if (data.percentage.diff != 0) %}
                                                <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                            {% endif %}
                                            {{ data.percentage.diff|number_format(2) }}%
                                        </td>
                                    </tr>
                                {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.9.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.9.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.9.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.9.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.9.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.9.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.9.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6" id="malaysia" class="text-header"><p class="text_bd_table upper-bold">malaysia</p><td>
                        </tr>
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.1 %}
                            {#{% if i < 5 %}#}
                                {# {% if data.percentage.diff %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                        <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                        <td class="text-center">
                                            {% if (data.percentage.diff != 0) %}
                                                <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                            {% endif %}
                                            {{ data.percentage.diff|number_format(2) }}%
                                        </td>
                                    </tr>
                                {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.1.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.1.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.1.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.1.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.1.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.1.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.1.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6" id="hong-kong" class="text-header"><p class="text_bd_table upper-bold">hong kong</p><td>
                        </tr>
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.3 %}
                            {#{% if i < 5 %}#}
                                {# {% if data.percentage.diff %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                        <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                        <td class="text-center">
                                            {% if (data.percentage.diff != 0) %}
                                                <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                            {% endif %}
                                            {{ data.percentage.diff|number_format(2) }}%
                                        </td>
                                    </tr>
                                {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.3.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.3.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.3.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.3.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.3.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.3.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.3.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6" id="philippines" class="text-header"><p class="text_bd_table upper-bold">philippines</p><td>
                        </tr>
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.8 %}
                            {#{% if i < 5 %}#}
                                {# {% if data.percentage.diff %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                        <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                        <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                        <td class="text-center">
                                            {% if (data.percentage.diff != 0) %}
                                                <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                            {% endif %}
                                            {{ data.percentage.diff|number_format(2) }}%
                                        </td>
                                    </tr>
                                {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.8.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.8.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.8.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.8.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.8.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.8.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.8.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6" id="indonesia" class="text-header"><p class="text_bd_table upper-bold">indonesia</p><td>
                        </tr>
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.10 %}
                            {#{% if i < 5 %}#}
                            {# {% if data.percentage.diff %} #}
                            <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                <td>{{ i + 1 }}</td>
                                {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                <td>{{ data.name }}</td>
                                <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                <td class="text-center">
                                    {% if (data.percentage.diff != 0) %}
                                        <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                    {% endif %}
                                    {{ data.percentage.diff|number_format(2) }}%
                                </td>
                            </tr>
                            {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                        <tr class="border_bottom1">
                            <td></td>
                            <td></td>
                            <td class="text-center border_top border_left ">{{ total.10.calls.first_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.10.coins.first_cycle }}</td>
                            <td class="text-center border_top border_left ">{{ total.10.calls.second_cycle }}</td>
                            <td class="text-center border_top border_right ">{{ total.10.coins.second_cycle }}</td>
                            <td class="text-center border_top border_left ">
                                {% if (total.10.percentage.diff != 0) %}
                                    <i class="fa fa-arrow-{{ total.10.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                {% endif %}
                                {{ total.10.percentage.diff|number_format(2) }}%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}