{% extends "spinwin/layout.html.twig" %}

{% block content %}
<div class="content">
    <div class="content-background center-block">
        <div style="overflow: hidden; padding: 20px;">
            <h3 class="upper-bold text_head text-white">coin statistics</h3>
            <div class="table-responsive">

                <table class="table">
                    <thead class="upper-bold">
                    <tr>
                        <th class="text-center"><a href="#singapore">Singapore</a></th>
                        <th class="text-center"><a href="#thailand">Thailand</a></th>
                        <th class="text-center"><a href="#taiwan">Taiwan</a></th>
                        <th class="text-center"><a href="#south-africa">South africa</a></th>
                        <th class="text-center"><a href="#australia">Australia</a></th>
                    </tr>
                    <tr class="border_bottom">
                        <th class="text-center"><a href="#new-zealand">New Zealand</a></th>
                        <th class="text-center"><a href="#malaysia">Malaysia</a></th>
                        <th class="text-center"><a href="#hong-kong">Hong Kong</a></th>
                        <th class="text-center"><a href="#philippines">Philippines</a></th>
                        <th class="text-center"><a href="#indonesia">Indonesia</a></th>
                    </tr>
                    </thead>
                </table>

                <table class="table coin-stats">                    
                    <tbody>
                        <tr>
                            <td colspan="6" id="singapore" class="text-header"><p class="text_bd_table upper-bold">Singapore</p><td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td>Calls made</td>
                            <td>PERFECT CALLS</td>
                            <td>percentage</td>
                        </tr>
                        {% for i, data in results.5 %}
                            {# {% if i < 5 %} #}
                                {# {% if data.percentage %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.calls|number_format }}</td>
                                        <td>{{ data.coins|number_format }}</td>
                                        <td>{{ data.percentage > 0 ? data.percentage|number_format(2) : 0 }}%</td>
                                    </tr>
                                {# {% endif %} #}
                            {# {% endif %} #}
                        {% endfor %}

                        <tr>
                            <td colspan="6" id="thailand" class="text-header"><p class="text_bd_table upper-bold">Thailand</p><td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td>Calls made</td>
                            <td>PERFECT CALLS</td>
                            <td>percentage</td>
                        </tr>
                        {% for i, data in results.7 %}
                            {# {% if i < 5 %} #}
                                {# {% if data.percentage %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.calls|number_format }}</td>
                                        <td>{{ data.coins|number_format }}</td>
                                        <td>{{ data.percentage > 0 ? data.percentage|number_format(2) : 0 }}%</td>
                                    </tr>
                                {# {% endif %} #}
                            {# {% endif %} #}
                        {% endfor %}

                        <tr>
                            <td colspan="6" id="taiwan" class="text-header"><p class="text_bd_table upper-bold">taiwan</p><td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td>Calls made</td>
                            <td>PERFECT CALLS</td>
                            <td>percentage</td>
                        </tr>
                        {% for i, data in results.6 %}
                            {# {% if i < 5 %} #}
                                {# {% if data.percentage %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.calls|number_format }}</td>
                                        <td>{{ data.coins|number_format }}</td>
                                        <td>{{ data.percentage > 0 ? data.percentage|number_format(2) : 0 }}%</td>
                                    </tr>
                                {# {% endif %} #}
                            {# {% endif %} #}
                        {% endfor %}

                        <tr>
                            <td colspan="6" id="south-africa" class="text-header"><p class="text_bd_table upper-bold">South africa</p><td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td>Calls made</td>
                            <td>PERFECT CALLS</td>
                            <td>percentage</td>
                        </tr>
                        {% for i, data in results.4 %}
                            {# {% if i < 5 %} #}
                                {# {% if data.percentage %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.calls|number_format }}</td>
                                        <td>{{ data.coins|number_format }}</td>
                                        <td>{{ data.percentage > 0 ? data.percentage|number_format(2) : 0 }}%</td>
                                    </tr>
                                {# {% endif %} #}
                            {# {% endif %} #}
                        {% endfor %}

                        <tr>
                            <td colspan="6" id="australia" class="text-header"><p class="text_bd_table upper-bold">australia</p><td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td>Calls made</td>
                            <td>PERFECT CALLS</td>
                            <td>percentage</td>
                        </tr>
                        {% for i, data in results.2 %}
                            {# {% if i < 5 %} #}
                                {# {% if data.percentage %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.calls|number_format }}</td>
                                        <td>{{ data.coins|number_format }}</td>
                                        <td>{{ data.percentage > 0 ? data.percentage|number_format(2) : 0 }}%</td>
                                    </tr>
                                {# {% endif %} #}
                            {# {% endif %} #}
                        {% endfor %}   

                        <tr>
                            <td colspan="6" id="new-zealand" class="text-header"><p class="text_bd_table upper-bold">new zealand</p><td
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td>Calls made</td>
                            <td>PERFECT CALLS</td>
                            <td>percentage</td>
                        </tr>
                        {% for i, data in results.9 %}
                            {# {% if i < 5 %} #}
                                {# {% if data.percentage %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.calls|number_format }}</td>
                                        <td>{{ data.coins|number_format }}</td>
                                        <td>{{ data.percentage > 0 ? data.percentage|number_format(2) : 0 }}%</td>
                                    </tr>
                                {# {% endif %} #}
                            {# {% endif %} #}
                        {% endfor %} 

                        <tr>
                            <td colspan="6" id="malaysia" class="text-header"><p class="text_bd_table upper-bold">malaysia</p><td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td>Calls made</td>
                            <td>PERFECT CALLS</td>
                            <td>percentage</td>
                        </tr>
                        {% for i, data in results.1 %}
                            {# {% if i < 5 %} #}
                                {# {% if data.percentage %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.calls|number_format }}</td>
                                        <td>{{ data.coins|number_format }}</td>
                                        <td>{{ data.percentage > 0 ? data.percentage|number_format(2) : 0 }}%</td>
                                    </tr>
                                {# {% endif %} #}
                            {# {% endif %} #}
                        {% endfor %} 

                        <tr>
                            <td colspan="6" id="hong-kong" class="text-header"><p class="text_bd_table upper-bold">hong kong</p><td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td>Calls made</td>
                            <td>PERFECT CALLS</td>
                            <td>percentage</td>
                        </tr>
                        {% for i, data in results.3 %}
                            {# {% if i < 5 %} #}
                                {# {% if data.percentage %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.calls|number_format }}</td>
                                        <td>{{ data.coins|number_format }}</td>
                                        <td>{{ data.percentage > 0 ? data.percentage|number_format(2) : 0 }}%</td>
                                    </tr>
                                {# {% endif %} #}
                            {# {% endif %} #}
                        {% endfor %} 

                        <tr>
                            <td colspan="6" id="philippines" class="text-header"><p class="text_bd_table upper-bold">philippines</p><td
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td>Calls made</td>
                            <td>PERFECT CALLS</td>
                            <td>percentage</td>
                        </tr>
                        {% for i, data in results.8 %}
                            {# {% if i < 5 %} #}
                                {# {% if data.percentage %} #}
                                    <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                        <td>{{ i + 1 }}</td>
                                        {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.calls|number_format }}</td>
                                        <td>{{ data.coins|number_format }}</td>
                                        <td>{{ data.percentage > 0 ? data.percentage|number_format(2) : 0 }}%</td>
                                    </tr>
                                {# {% endif %} #}
                            {# {% endif %} #}
                        {% endfor %}

                        <tr>
                            <td colspan="6" id="indonesia" class="text-header"><p class="text_bd_table upper-bold">indonesia</p><td>
                        </tr>
                        <tr class="upper-bold text-center">
                            <td></td>
                            <td></td>
                            {# <td></td> #}
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.first.format('M j') }} - {{ cycle.middle.format('M j') }}</p>
                            </td>
                            <td colspan="2" class="border_top border_left border_right">
                                <p>{{ cycle.middle_next.format('M j') }} - {{ cycle.end.format('M j') }}</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="border_bottom upper-bold">
                            <td class="border">no.</td>
                            {# <td>ID</td> #}
                            <td>salesperson</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center border_left">Calls made</td>
                            <td class="text-center border_right">Perfect Calls</td>
                            <td class="text-center">percentage</td>
                        </tr>
                        {% for i, data in results.10 %}
                            {#{% if i < 5 %}#}
                            {# {% if data.percentage.diff %} #}
                            <tr class="border_bottom1" id="{{ data.armstrong_2_salespersons_id }}">
                                <td>{{ i + 1 }}</td>
                                {# <td>{{ data.armstrong_2_salespersons_id }}</td> #}
                                <td>{{ data.name }}</td>
                                <td class="text-center border_left">{{ data.calls.first_cycle|number_format }}</td>
                                <td class="text-center border_right">{{ data.coins.first_cycle|number_format }}</td>
                                <td class="text-center border_left">{{ data.calls.second_cycle|number_format }}</td>
                                <td class="text-center border_right">{{ data.coins.second_cycle|number_format }}</td>
                                <td class="text-center">
                                    {% if (data.percentage.diff != 0) %}
                                        <i class="fa fa-arrow-{{ data.percentage.diff > 0 ? 'up' : 'down' }}"></i>
                                    {% endif %}
                                    {{ data.percentage.diff|number_format(2) }}%
                                </td>
                            </tr>
                            {# {% endif %} #}
                            {#{% endif %}#}
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</div>

{% endblock %}