{% extends "spinwin/layout.html.twig" %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
$(function() {
	$('#CountrySelector').on('change', function(e) {
		var $this = $(this),
			$selected = $this.find(":selected"),
			val = $selected.val();

		$('.country-filter').each(function() {
			var $this = $(this);
			$this.hide();
			if (val == 0) {
				$this.show();
			} else {
				if ($this.hasClass('country-' + val)) {
					$this.show();
				}
			}
		});

	});
});
</script>
{% endblock %}

{% block content %}
<div class="content winner">
	<div class="content-background-four center-block">
		{% if winner %}
			<div class="row {#row_minheight#}" style="margin-bottom: 30px;">
				{# <div class="col-sm-4 ">
					<span class="text_row_man upper-bold">Grand Winner</span>
					<img class="img-responsive theman" src="{{ site_url('res/img/spinwin/man.png') }}" alt="Winner">
				</div>
				<div class="col-sm-8">
					<div class="member-info font-bold">
						<span class="text_row_man1">Congratulations! {{ winner.first_name }} {{ winner.last_name }}, you are the</span><br />
						<span class="text_row_man1">Grand Winner of the Mega Prize this round!</span><br />
						<span class="text_row_man2">Calls Made: {{ winner.calls|number_format }} - Perfect Calls: {{ winner.coins|number_format }}</span>
					</div>
				</div> #}

				<div class="col-sm-offset-3 col-sm-6">
					<div class="img_winner">
						 <img class="img-responsive" src="{{ (filter.season == 1) ? site_url('res/img/spinwin/ss1_winer.png') : (filter.season == 2) ? site_url('res/img/spinwin/ss2_winer.png') : '' }}" alt=""/>
						<div class="member-info font-bold">
							{#<span class="text_row_man1">Congratulations! {{ winner.first_name }} {{ winner.last_name }}, you are the</span><br />#}
							{#<span class="text_row_man1">Grand Winner of the Mega Prize this round!</span><br />#}
							<span class="text_row_man2">Calls Made: {{ winner.calls|number_format }} - Perfect Calls: {{ winner.coins|number_format }}</span>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div style="height: 300px;"></div>
		{% endif %}
		<div class="row table_row2">
			<div class="content-background-footer center-block">
				<div class="table-content table-responsive">
					<table class="table win_text">      
						<tbody>
							<tr>
								<td colspan="6"><p class="text_bd_table upper-bold">Prize WINNERS</p></td>
							</tr>  
							<tr>
								<td colspan="2">
									<select name="country_id" id="CountrySelector" class="form-control">
										<option value="0">ALL</option>
									{% for country in countries %}
										<option value="{{ country.id }}">{{ country.name }}</option>
									{% endfor %}
									</select>
								</td>
								<td colspan="4"></td>
							</tr>                           
							<tr class="border_bottom upper-bold">
								<td class="mn_td1">no.</td>
								<td class="mn_td2">country</td>
								<td class="mn_td3">salesperson</td>
								<td class="mn_td4">Medium Prize</td>
								<td class="mn_td5">Small Prize</td>
								<td class="mn_td6">Total Prize</td>
							</tr>
							{% for i, topWinner in topWinners %}
								<tr class="border_bottom1 country-filter country-{{ topWinner.country_id }}">
									<td class="td1">{{ i + 1 }}</td>
									<td class="td2">{{ get_country_name(countries, topWinner.country_id) }}</td>
									<td class="td3">{{ topWinner.first_name }} {{ topWinner.last_name }}</td>
									<td class="td4">{{ topWinner.first_prize_count|number_format }}</td>
									<td class="td5">{{ topWinner.second_prize_count|number_format }}</td>
									<td class="td6">{{ (topWinner.first_prize_count + topWinner.second_prize_count + topWinner.mega_prize_count)|number_format }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>    
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}