{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

<script>
$(document).ready(function() {
    $('#dataTables').dataTable({
        'processing': true,
        'serverSide' : false,
        //'pagingType' : 'full_numbers',
        'ajax' : {
            'url': "tfo_status/tfo_stat_data",
            'type': "POST",
            'dataSrc' : "tfo"
        },
        'aoColumns': [
            {mData: "armstrong_2_tfo_id", 'width': 50},
            // {mData: "name", 'width': 50},
            {mData: "created_date", 'width': 75},
            {mData: "sync_date", 'width': 75},
            {mData: "method_name", "bSearchable": false, 'width': 75},
			{mData: "contact_dtl", 'width': 75},
            {mData: "status", "bSearchable": false, 'width': 75},
            {mData: "fail_message", "bSearchable": false, 'width': 50}
        ],
        'order': [[2, 'desc']],
        // 'bPaginate': false,
        'aoColumnDefs': [
            {
                'bSortable': false,
                'aTargets': ['nosort']
            }
        ],
        "lengthMenu": [20, 50, 100, 200, 300, 500],
        "iDisplayLength": 20,
        "createdRow" : function(row, data, index){
            if(data['status'] == "Successful"){
                $('td', row).eq(5).addClass('successful');
            }

            if(data['status'] == "Sending"){
                $('td', row).eq(5).addClass('pending');
            }
            // console.log(data['status']);
            if(data['status'] == "Failed"){
                // $(data).css('background-color', 'Red');
                $('td', row).eq(5).addClass('failed');
                //$('td', row).eq(5).addClass('failed');
            }
        }
            // });

            /*$(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });*/
    });
});
</script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
<style>

    td.pending {
        font-weight: bold;
        color: yellow;
    }

    td.successful {
        font-weight: bold;
        color: green;
    }

    

    td.failed {
        font-weight: bold;
        color: red;
    }
</style>
<!-- <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
 -->{% endblock %}

{% block content %}
    {% if tfo %}
    <div class="col-lg-12"> 
        <div class="panel panel-default">                            
            <div class="panel-body">                
                <div class="">
                    <table class="table table-striped table-bordered table-hover" id="dataTables">
                        <thead>
                            <tr>
                                <!-- Green = "successful", red = "Failed", yellow = "Sending" -->
                                <th>ID</th>
                                <!-- <th>Country</th> -->
                                <th>Date Created</th>
                                <th>Date Synced</th>
                                <th>Method</th>
								<th>Contact Detail</th>
                                <th>Status</th>
                                <th>Failed Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    
                </div>
                <!-- <div class="row">
                        <div class="col-lg-12">
                            {{ pagination({base_url: site_url('ami/tfo_status'), per_page: per_page, total_rows: total}) }}
                        </div>
                    </div> -->
                <!-- /. -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% else %}
    <div class="col-sm-6 col-sm-offset-3">There are no TFO</div>
{% endif %}

{% endblock %}