{% if tfo %} 

    <div class="panel panel-default">                            
        <div class="panel-body">                
            <div class="">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            <!-- Green = "successful", red = "Failed", yellow = "Sending" -->
                            {% if has_permission('delete', 'tfo') %}
                                <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                            {% endif %}
                            <th>ID</th>
                            <th>Date Created</th>
                            <th>Date Synced</th>
                            <th>Method</th>
                            <th>Status</th>
                            <th>Failed Reason</th>
                            <th class="nosort text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for _tfo in tfo %}
                            {% if method == '0' %}
                                {% set method_name = "Email" %}
                            {% endif %}
                            <tr>
                                {% if has_permission('delete', 'tfo') %}
                                    <td class="text-center">{{ form_checkbox({name: 'ids[]', value: _tfo.armstrong_2_tfo_id}) }}</td>
                                {% endif %}
                                <td><a href="{{ site_url('ami/tfo/edit/' ~ _tfo.armstrong_2_tfo_id) }}" title="{{ _tfo.armstrong_2_tfo_id }}" data-toggle="ajaxModal">{{ _tfo.armstrong_2_tfo_id }}</a></td>
                                <td>{{ created_date }}</td>
                                <td>{{ synced_date }}</td>
                                <td>{{ method_name }}</td>
                                <td>{{ _tfo.total }}</td>
                                <td>{{ methods[_tfo.method] }}</td>
                                <td class="center">{{ _tfo.date_created }}</td>
                                <td class="center">{{ _tfo.last_updated }}</td>
                                <td class="center text-center" style="min-width: 80px;">
                                    {% if has_permission('edit', 'tfo') or has_permission('delete', 'tfo') %}
                                        {% include 'ami/components/table_btn.html.twig' with {url: 'ami/tfo', id: _tfo.armstrong_2_tfo_id, permission: 'tfo'} %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /. -->
        </div>
        <!-- /.panel-body -->

    </div>

    <script>
    $(function() {

        // $('#dataTables').dataTable.destroy();

        $('#dataTables').dataTable({
            "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
            'order': [[1, 'desc']],
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });        
    });  
    </script>
{% else %}
    <div class="col-sm-6 col-sm-offset-3">There are no TFO</div>
{% endif %}v