<div class="clone-product-step hide">
    <div class="form-group">
        <hr/>
        {{ form_label('Products', 'sku_number', {class: 'control-label col-sm-3'}) }}
        <div class="col-sm-6">
            <select name="" class="form-control products" multiple>
                {% for product in products %}
                    <option data-cat-web="{{ product.products_cat_web_id }}"
                            value="{{ product.sku_number }}">{{ product.sku_number ~ ' - ' ~ product.sku_name }}</option>
                {% endfor %}
            </select>
            <div><p><strong>Select multiple by holding CTRL or SHIFT while clicking.</strong></p></div>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-default btn-clone-section clone-add"><i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-default btn-clone-section clone-remove"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="base" data-section="">
        <div class="form-group step">
            {{ form_label('Tier 1 Case', 'tier_1_case', {class: 'control-label col-sm-3'}) }}
            <div class="col-sm-3">
                <input type="text" name="" class="form-control input-case" min="1" data-parsley-type="number"/>
            </div>
            {{ form_label('Discount(%)', 'tier_1_discount', {class: 'control-label col-sm-1'}) }}
            <div class="col-sm-2">
                <input type="text" name="" class="form-control input-discount"
                       min="1" data-parsley-type="number"/>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                <button class="btn btn-default btn-clone clone-remove hide"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="form-group clone-step hide">
            {{ form_label('Tier 1 Case', '', {class: 'control-label col-sm-3 case-label'}) }}
            <div class="col-sm-3 input-case">
                {#<input type="text" name="" class="form-control " min="1"/>#}
            </div>
            {{ form_label('Discount(%)', 'tier_1_discount', {class: 'control-label col-sm-1'}) }}
            <div class="col-sm-2 input-discount">
                {#<input type="text" name="" class="form-control " min="1"/>#}
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
    </div>
</div>