{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        function urlParam(url, name) {
            var results = new RegExp('[\?&]' + name + "=([^&#/]*)").exec(url);
            if (results == null) {
                return null;
            }
            else {
                return results[1] || 0;
            }
        }

        function showHideCloneButton() {
            var element = $('.product-step'),
                    counter;

            $.each(element, function (k, v) {
                var step = $(this).find('.step');
                counter = step.length;
                $.each(step, function (i, j) {
                    if (i + 1 != counter) {
                        $(this).find('.btn-clone').hide();
                    } else {
                        $(this).find('.btn-clone').show();
                    }

                    if (counter == 1) {
                        $(this).find('.clone-remove').hide();
                    }
//                    hieu fixed
                    if (counter == 2) {
                        $(this).find('.clone-add').hide();
                    }
                    if (counter == 3) {
                        $(this).find('.clone-add').hide();
                    }
                });
            });
        }

        function showHideProductElement(type) {
            var base = $('.product-step .base[data-section != "0"]'),
                    product = $('.product-step .products'),
                    productGroup = product.closest('.form-group');
            if (type == 1) {
                product.removeAttr('data-parsley-required');
                base.find('input[type="text"]').removeAttr('data-parsley-required');
                productGroup.hide();
                base.hide();
            } else {
                product.attr('data-parsley-required', 'true');
                base.find('input[type="text"]').attr('data-parsley-required', 'true');
                productGroup.show();
                base.show();
            }
        }

        function showHideProducts(cat_id) {
//            $('#products option:selected').prop('selected', false);
            $('.products option[data-cat-web="' + cat_id + '"]').show();
            $('.products option[data-cat-web!="' + cat_id + '"]').hide();
        }

        function setHtmlError(rs){
            var elementError = rs.type == 1 ? $('#cat_web') : $('.product-step .products'),
                    errorList = elementError.closest('.form-group').find('.parsley-errors-list'),
                    errorMessage = '<li class="parsley-required">' + rs.message + '</li>';

            if (rs.success == false) {
                elementError.addClass('parsley-error');
                errorList.addClass('filled');
                errorList.empty().append(errorMessage);
                $('button[type="submit"]').prop('disabled', true);
                return false;
            } else {
                elementError.removeClass('parsley-error');
                errorList.removeClass('filled');
                errorList.empty();
                $('button[type="submit"]').prop('disabled', false);
                return true;
            }
        }

        function ajaxValidate(url, data) {
            $.ajax({
                'url': url,
                'type': 'GET',
                'data': data,
                'dataType': 'json',
                success: function (rs) {
                    setHtmlError(rs);
                }
            });
        }

        $(function () {
            var section_counter = 0,
                    type_element = $('#type'),
                    cat_web_element = $('#cat_web');

            showHideProductElement(type_element.val());
            showHideProducts(cat_web_element.val());
            showHideCloneButton();

            type_element.change(function () {
                var $val = $(this).val();
                cat_web_element.val('');
                showHideProductElement($val);
                showHideProducts(cat_web_element.val());
            });

            $(document).on('change', '#cat_web, .product-step .products', function () {
                var $val = $(this).val(),
                        $this_id = $(this).attr('id'),
                        ajaxUrl = '{{ site_url('ami/discount_model/validate') }}',
                        type = type_element.val(),
                        range_id = $('#range_id').val(),
                        id = $('#hidden_id').val(),
                        cat_web_id = cat_web_element.val(),
                        data;
                if ($this_id == 'cat_web') {
                    showHideProducts($val);
                }

                if (type == 1) {
                    data = {
                        'type': type,
                        'range_id': range_id,
                        'id': id,
                        'cat_web_id': cat_web_id
                    };
                    ajaxValidate(ajaxUrl, data);
                } else if (type == 2 && $val) {
                    var temp_arr = [];
                    $.each($('.product-step .products'), function () {
                        var value = $(this).val();
                        $.each(value, function(k,v){
                            temp_arr.push(v);
                        });
                    });

                    temp_arr = temp_arr.sort();
                    var results = [];
                    for (var i = 0; i < temp_arr.length - 1; i++) {
                        if (temp_arr[i + 1] == temp_arr[i]) {
                            results.push(temp_arr[i]);
                        }
                    }

                    if(results.length > 0){
                        var rs = {
                            'type': type,
                            'success': false,
                            'message': 'This product has been choose'
                        };

                        setHtmlError(rs);
                    }else{
                        data = {
                            'type': type,
                            'range_id': range_id,
                            'id': id,
                            'cat_web_id': cat_web_id,
                            'sku_number': $val
                        };
                        ajaxValidate(ajaxUrl, data);
                    }
                }
            });

            $(document).on('click', '.btn-clone', function (e) {
                e.preventDefault();
                var $this = $(this),
                        base = $this.closest('.base'),
                        section_number = base.data('section'),
                        $clone = base.find('.clone-step').clone(),
                        counter = base.find('.step').length;

                if ($this.hasClass('clone-add') && counter < 3) {
                    $clone.removeClass('hide clone-step').addClass('step');
                    var closestStep = $clone.closest('.step'),
                            input_case = closestStep.find('.input-case'),
                            input_discount = closestStep.find('.input-discount'),
                            tier_case = $('<input class="form-control" min="1" name="section[' + section_number + '][tier][tier_' + (counter + 1) + '_case]" data-parsley-required="true" data-parsley-type="number">'),
                            tier_discount = $('<input class="form-control" min="1" name="section[' + section_number + '][tier][tier_' + (counter + 1) + '_discount]" data-parsley-required="true" data-parsley-type="number">');

                    closestStep.find('.case-label').text('Tier ' + (counter + 1) + ' Case');
                    tier_case.appendTo(input_case);
                    tier_discount.appendTo(input_discount);
                    $clone.appendTo(base);
                    showHideCloneButton();
                }

                if ($this.hasClass('clone-remove') && counter > 1) {
                    base.find('.step:last').remove();
                    showHideCloneButton();
                }
            });

            $(document).on('click', '.btn-clone-section', function (e) {
                e.preventDefault();
                var $this = $(this),
                        base = $this.closest('#section-base'),
                        $clone = base.find('.clone-product-step').clone();
                section_counter = section_counter > 0 ? section_counter + 1 : base.find('.product-step').length;

                if ($this.hasClass('clone-add')) {
                    $clone.removeClass('hide clone-product-step').addClass('product-step');
                    var closestStep = $clone.closest('.product-step');

                    closestStep.find('.base').attr('data-section', section_counter);
                    closestStep.find('.products').attr('name', 'section[' + section_counter + '][sku_number][]').attr('data-parsley-required', true);
                    closestStep.find('.input-case').attr('name', 'section[' + section_counter + '][tier][tier_1_case]').attr('data-parsley-required', true).attr('data-parsley-type', 'number');
                    closestStep.find('.input-discount').attr('name', 'section[' + section_counter + '][tier][tier_1_discount]').attr('data-parsley-required', true).attr('data-parsley-type', 'number');
                    $clone.appendTo(base);
                    showHideCloneButton();
                }

                if ($this.hasClass('clone-remove') && $('.product-step').length > 1) {
                    base.find('.product-step:last').remove();
                    showHideCloneButton();
                }
            });
        });

    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}"/>
    <style>
        select[multiple] {
            min-height: 200px;
        }
    </style>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/discount_model/save_setting'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': 'edit_setting'}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Discount Setting</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        <button name="btn_submit" type="submit" class="btn btn-success"><i
                                    class="fa fa-fw fa-check"></i> Save
                        </button>
                        {#{{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}#}

                        {{ html_btn(site_url('ami/discount_model/setting'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if discount_model.id %}
                            <a href="{{ site_url('ami/discount_model/delete_setting/' ~ discount_model.id) }}"
                               title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Type', 'type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('type', select_type, discount_model.type, 'id="type" class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Date Range', 'range_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('range_id', range, discount_model.range_id, 'id="range_id" class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Product Cat Web', 'cat_web_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('cat_web_id', cat_web, discount_model.cat_web_id, 'id="cat_web" class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
            <div id="section-base">
                <div class="product-step">
                    <div class="form-group">
                        <hr/>
                        {{ form_label('Products', 'sku_number', {class: 'control-label col-sm-3'}) }}
                        <div class="col-sm-6">
                            <select name="section[0][sku_number][]" class="form-control products" multiple>
                                {% for product in products %}
                                    {% if product.sku_number in recent_product %}
                                        <option value="{{ product.sku_number }}"
                                                data-cat-web="{{ product.products_cat_web_id }}"
                                                selected="selected">{{ product.sku_number ~ ' - ' ~ product.sku_name }}</option>
                                    {% else %}
                                        <option data-cat-web="{{ product.products_cat_web_id }}"
                                                value="{{ product.sku_number }}">{{ product.sku_number ~ ' - ' ~ product.sku_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div><p><strong>Select multiple by holding CTRL or SHIFT while clicking.</strong></p></div>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-clone-section clone-add"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-default btn-clone-section clone-remove"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="base" data-section="0">
                        {% for index,tier in discount %}
                            {% set tier_case = 'tier_' ~ index ~ '_case' %}
                            {% set tier_discount = 'tier_' ~ index ~ '_discount' %}
                            <div class="form-group step">
                                {{ form_label('Tier '~index~' Case', tier_case, {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-3">
                                    <input type="text" name="section[0][tier][{{ tier_case }}]"
                                           value="{{ tier.tier_case }}"
                                           class="form-control input-case" min="1"
                                           data-parsley-required="true" data-parsley-type="number"/>
                                </div>
                                {{ form_label('Discount(%)', tier_discount, {class: 'control-label col-sm-1'}) }}
                                <div class="col-sm-2">
                                    <input type="text" name="section[0][tier][{{ tier_discount }}]"
                                           value="{{ tier.tier_discount }}"
                                           class="form-control input-discount" min="1"
                                           data-parsley-required="true" data-parsley-type="number"/>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i>
                                    </button>
                                    <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group step">
                                {{ form_label('Tier 1 Case', 'tier_1_case', {class: 'control-label col-sm-3'}) }}
                                <div class="col-sm-3">
                                    <input type="text" name="section[0][tier][tier_1_case]"
                                           class="form-control input-case" min="1"
                                           data-parsley-required="true" data-parsley-type="number"/>
                                </div>
                                {{ form_label('Discount(%)', 'tier_1_discount', {class: 'control-label col-sm-1'}) }}
                                <div class="col-sm-2">
                                    <input type="text" name="section[0][tier][tier_1_discount]"
                                           class="form-control input-discount"
                                           min="1"
                                           data-parsley-required="true" data-parsley-type="number"/>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i>
                                    </button>
                                    <button class="btn btn-default btn-clone clone-remove hide"><i
                                                class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group clone-step hide">
                            {{ form_label('Tier 1 Case', 'tier_1_discount', {class: 'control-label col-sm-3 case-label'}) }}
                            <div class="col-sm-3 input-case">
                                {#<input type="text" name="" class="form-control " min="1"/>#}
                            </div>
                            {{ form_label('Discount(%)', 'tier_1_discount', {class: 'control-label col-sm-1'}) }}
                            <div class="col-sm-2 input-discount">
                                {#<input type="text" name="" class="form-control " min="1"/>#}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default btn-clone clone-add"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-clone clone-remove"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'ami/discount_model/clone_item.html.twig' with {products: products} %}
            </div>


            {{ form_input({name: 'section[0][id]', value: discount_model.id, type: 'hidden', id: 'hidden_id', class: 'hide'}) }}

        </div>
    </div>

    {{ form_close() }}
{% endblock %}