{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(function () {
            $('#dataTables').dataTable({
                "processing": true,
                "serverSide": false,
                {#"ajax": {#}
                {#"url": "{{ site_url('ami/discount_model/ajaxRangeData') }}",#}
                {#"type": "POST"#}
                {#},#}
                {#'aoColumns': [#}
                {#{mData: "id"},#}
                {#{mData: "title"},#}
                {#{mData: "from_date"},#}
                {#{mData: "to_date"},#}
                {#{mData: "date_created", "bSearchable": false},#}
                {#{mData: "last_updated", "bSearchable": false}#}
                {#],#}
                {#"fnRowCallback": function (nRow, aData, iDisplayIndex) {#}
                {#$(nRow).prepend('<td class=\"text-center\"><input type=\"checkbox\" name="ids[]" value="' + aData['DT_RowId'] + '"></td>');#}
                {#$(nRow).append('<td class=\"text-center\" style=\"min-width: 130px;\">' + aData['buttons'] + '</td>');#}
                {#},#}
                'order': [[1, 'asc']],
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }
                ],
                "iDisplayLength": 50
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/discount_model/update_setting'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Discount Setting</h1>

                <div class="text-right">
                    <div class="btn-group btn-header-toolbar">
                        <a class="btn btn-sm btn-warning" href="javascript:;" data-toggle="modal"
                           data-target="#upload_template"><i
                                    class="fa fw fa-upload"></i> Upload</a>
                        <a class="btn btn-sm btn-success" href="{{ site_url('ami/discount_model/add_setting') }}"><i
                                    class="fa fw fa-plus"></i> Add</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        {#Flash message#}
        {% if session_flash_message.message %}
            <div class="alert {{ session_flash_message.flash_type }} alert-dismissible col-lg-12" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <strong>{{ session_flash_message.message }}</strong>
            </div>
        {% endif %}
        <div class="col-lg-12">
            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">
                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'discount_model') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th>Cat Web Name</th>
                                <th>Sku number list</th>
                                <th>Type</th>
                                <th>Tier 1 Case</th>
                                <th>Tier 1 Discount</th>
                                <th>Tier 2 Case</th>
                                <th>Tier 2 Discount</th>
                                {#<th>Tier 3 Case</th>#}
                                {#<th>Tier 3 Discount</th>#}
                                <th>From Date</th>
                                <th>To Date</th>
                                <th class="nosort text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for setting in settings %}
                                <tr>
                                    {% if has_permission('delete', 'discount_model') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: setting.id}) }}</td>
                                    {% endif %}
                                    <td>{{ setting.cat_web_name }}</td>
                                    <td>{{ setting.sku_number|raw }}</td>
                                    <td>{{ setting.type }}</td>
                                    <td>{{ setting.tier_1_case }}</td>
                                    <td>{{ setting.tier_1_discount }}</td>
                                    <td>{{ setting.tier_2_case }}</td>
                                    <td>{{ setting.tier_2_discount }}</td>
                                    {#<td>{{ setting.tier_3_case }}</td>#}
                                    {#<td>{{ setting.tier_3_discount }}</td>#}
                                    <td class="center">{{ setting.range.from_date }}</td>
                                    <td class="center">{{ setting.range.to_date }}</td>
                                    <td class="center text-center" style="min-width: 80px;">
                                        {% if has_permission('edit', 'discount_model') or has_permission('delete', 'discount_model') %}
                                            <div class="btn-group">
                                                {{ html_btn(site_url('ami/discount_model/edit_setting/' ~ setting.id), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}
                                                {{ html_btn(site_url('ami/discount_model/delete_setting/' ~ setting.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete ', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- /. -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}
    <div class="modal fade" id="upload_template" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            {{ form_open(site_url('ami/discount_model/upload_template'), {class: 'modal-content', id: 'upload_form', enctype: 'multipart/form-data'}) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Upload Template</h3>
            </div>
            <div class="modal-body">
                {#<div class="row">#}
                    <div class="col-sm-12">
                        <div class="form-group row">
                            {{ form_label('Date Range', 'range_id', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-9">
                                {{ form_dropdown('range_id', range, null, 'class="form-control" data-parsley-required="true"') }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label('File', 'file', {class: 'control-label col-sm-3'}) }}
                            <div class="col-sm-9">
                                <input type="file" name="file">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-offset-3">
                                <a href="{{ site_url('res/up/template.xlsx') }}" class="bg-info">Click here to download example template.</a>
                            </div>
                        </div>
                    </div>
                {#</div>#}
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close
                </button>
                {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Proceed', class: 'btn btn-danger'}) }}
            </div>
            {{ form_close() }}
        </div>
    </div>
{% endblock %}