{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#DateTimeCallInput').daterangepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                timePicker: true,
                timePicker12Hour: false,
                timePickerIncrement: 10
            }).on('apply.daterangepicker', function (ev, picker) {
                $('input[name=datetime_start]').val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
                $('input[name=datetime_end]').val(picker.endDate.format('YYYY-MM-DD HH:mm:ss'));
            });
        });
        $(".type_objective input:radio").change(function () {
            val = $(this).val();
            if (val == 0) {
                $('.country_channels').hide();
            } else if (val == 1) {
                $('.country_channels').show();
            }
        });
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
    <style>
        select[multiple].ref_id{
            height: 250px;
        }
    </style>
{% endblock %}
{% block content %}

    <div id="ModalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Preview</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {{ form_open(site_url('ami/objective_records/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'armstrong_2_objective_records_id': post.armstrong_2_objective_records_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Objective Records</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/objective_records', armstrong_2_objective_records_id: post.armstrong_2_objective_records_id, permission: 'objective_records'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Title', 'description', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'description', value: post.description, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Date Time Call', 'date_time_call', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'date_time_call', value: post.armstrong_2_objective_records_id ? post.datetime_start ~ ' - ' ~ post.datetime_end : null,
                        'class': 'form-control',
                        'id': 'DateTimeCallInput',
                        'data-parsley-required': 'true'
                    }) }}
                    <input type="hidden" name="datetime_start" value="{{ post.datetime_start }}"/>
                    <input type="hidden" name="datetime_end" value="{{ post.datetime_end }}"/>
                </div>
            </div>
			<div class="form-group">
                {{ form_label('App type', 'app_type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley col-sm">
                    <label class="radio-inline ">{{ form_radio('app_type', 0, post.app_type == 0) }} Pull</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('app_type', 1, post.app_type == 1) }} Push</label>
                    <label class="radio-inline">{{ form_radio('app_type', 2, post.app_type == 2) }} Mix</label>
                </div>
            </div>
            <div class="form-group type_objective">
                {{ form_label('Objective', 'type', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('type', 0, post.type == 0) }} Country</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('type', 1, post.type == 1) }} Channel</label>
                </div>
            </div>
            <div class="form-group country_channels" style="display:{{ post.type == 1 ? 'block' : 'none' }}">
                {{ form_label('Country Channels', 'country_channels_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('ref_id[]', country_channels, post.ref_id, 'class="form-control ref_id" multiple data-parsley-required="false"') }}
                    <div><p><strong>Select multiple by holding CTRL or SHIFT while clicking.</strong></p></div>
                </div>
            </div>
            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>
    {{ form_close() }}
{% endblock %}