{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>


    <script>
        $(function () {
            $('#dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/objective_records/ajaxData') }}",*/
//                "lengthMenu": [[50, 100, 200, 1000], [50, 100, 200, 1000]],
//                'order': [[1, 'asc']],
                'bPaginate': false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
            function updateOrder()
            {
                $.ajax({
                    url: "{{ site_url('ami/objective_records/update/') }}/",
                    type: 'POST',
                    beforeSend: function () {
                        $('.loaddingicon').show();
                    },
                    complete: function () {
                        $('.loaddingicon').hide();
                    },
                    dataType: 'json',
                    data: $('.sortquestion input[type="checkbox"]'),
                    success: function (json)
                    {

                    }
                });
            }
            $('.saveaction').click(function(){
                updateOrder();
                return false;
            });
            $(".sortquestion").sortable({
                update: function(event, ui) {
                  //  updateOrder();
                    $('.saveaction').removeClass('hide');
                }
            }).disableSelection();
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/objective_records/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Objective Records Draft' : 'Objective Records' }}</h1>

                <div class="text-right">
                    <span class="btn-header-toolbar m-r">
                        <button type="button" class="btn btn-sm btn-success saveaction">
                            <i class="fa fw fa-floppy-o"></i> Save
                        </button>
                    </span>
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/objective_records', icon: 'fa-user', title: 'Objective Records', permission: 'objective_records', showImport: 0} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {{ active == 1 ? 'class="active"' : '' }}><a role="menuitem"
                                                                                            href="{{ site_url('ami/objective_records?active=1') }}">Active</a>
                </li>
                <li role="presentation" {{ active == 0 ? 'class="active"' : '' }}><a role="menuitem"
                                                                                              href="{{ site_url('ami/objective_records?active=0') }}">Inactive</a>
                </li>
            </ul>
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            {% if not draft %}
                                <div class="row table-filter">
                                    <div class="col-md-12">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="dropdownFilter" data-toggle="dropdown">
                                                Filter: {{ filter ? filter|capitalize : 'All' }} <span
                                                        class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
                                                <li role="presentation" {{ filter ? '' : 'class="active"' }}><a
                                                            role="menuitem" tabindex="-1"
                                                            href="{{ site_url('ami/objective_records') }}">All</a></li>
                                                <li role="presentation" {{ filter == 'country' ? 'class="active"' : '' }}>
                                                    <a role="menuitem" tabindex="-1"
                                                       href="{{ site_url('ami/objective_records?filter=country') }}">Country
                                                        Objective</a>
                                                </li>
                                                <li role="presentation" {{ filter == 'channel' ? 'class="active"' : '' }}>
                                                    <a role="menuitem" tabindex="-1"
                                                       href="{{ site_url('ami/objective_records?filter=channel') }}">
                                                       Channel Objective</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'objective_records') %}
                                    <th class="nosort text-center"><input type="checkbox" class="CheckAll"
                                                                          data-target="tbody"
                                                                          data-description="#CheckAllBtn"></th>
                                {% endif %}
                                <th class="nosort">ID</th>
                                <th class="nosort">Description</th>
                                <th class="nosort">Type</th>
                                <th class="nosort">App type</th>
                                <th class="nosort">Datetime Start</th>
                                <th class="nosort">Datetime End</th>
                                <th class="nosort text-center">
                                    <img width="30px" style="display: none; " class="loaddingicon" src="{{ site_url('res/img') }}/loading.gif">
                                </th>
                            </tr>
                            </thead>
                            <tbody class="sortquestion">
                            {% for post in data %}
                                <tr>
                                    {% if has_permission('delete', 'objective_records') %}
                                        <td class="text-center">{{ form_checkbox({name: 'ids[]', value: post.armstrong_2_objective_records_id}) }}</td>
                                    {% endif %}
                                    <td>{{ post.armstrong_2_objective_records_id }}</td>
                                    <td>{{ trim_word(post.description, 120) }}</td>
                                    <td class="center">{% if post.type == 0 %} Country
                                        {% elseif post.type == 1 %}    Channel
                                        {% elseif post.type == 2 %}    Person
                                        {% else %}  Business
                                        {% endif %}
                                    </td>
									<td class="center">{% if post.app_type == 0 %} Pull
                                        {% elseif post.app_type == 1 %} Push
                                        {% endif %}
                                    </td>
                                    {#<td class="center">{% if post.app_type == 0 %} Pull#}
                                        {#{% else %} Push#}
                                        {#{% endif %}#}
                                    {#</td>#}
                                    <td class="center">{{ post.datetime_start }}</td>
                                    <td class="center">{{ post.datetime_end }}</td>
                                    <td class="center text-center" style="min-width: 80px;">
                                        <div class="btn-group">

                                            {% if has_permission('edit', 'objective_records') %}
                                                {{ html_btn(site_url('ami/objective_records/edit/' ~ post.armstrong_2_objective_records_id ~ '?filter=' ~ filter), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}
                                            {% endif %}
                                            {% if has_permission('delete', 'objective_records') and (filter != 'pending') %}
                                                {% if draft %}
                                                    {{ html_btn(site_url('ami/objective_records/restore/' ~ post.armstrong_2_objective_records_id), '<i class="fa fa-history"></i>', {'class': 'btn-default restore', 'title': 'Restore', 'data-toggle': 'ajaxModal'}) }}
                                                {% else %}
                                                    {{ html_btn(site_url('ami/objective_records/delete/' ~ post.armstrong_2_objective_records_id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                {% if draft %}
                                    {% set pagination_url = filter ? site_url('ami/objective_records/draft?filter=' ~ filter) : site_url('ami/objective_records/draft') %}
                                {% else %}
                                    {% set pagination_url = filter ? site_url('ami/objective_records/?filter=' ~ filter) : site_url('ami/objective_records') %}
                                {% endif %}
                                {#{{ pagination({base_url: pagination_url, per_page: per_page, total_rows: total}) }}#}
                            </div>
                        </div>
                    </div>
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}