@media screen and (max-width: 767px) {
	.theman{
		width:25%;
	}
	.text_row_man2{
	padding-top:0px;
	display:block;
	}
	.member-info{
		margin: 0px auto;
		text-align:center;
	}
	.row_minheight{
	min-height: 290px;
	margin-bottom: 20px;
	margin-top:10px;
	}
	.table-content{
		padding:10px;
	}
}