/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    background: url('../../img/spinwin/background.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: auto;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    color:#F9EC21;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/*reset css*/

@font-face {
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/baskvl.ttf');
}
@font-face{
    font-family:BaronNeueBold;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/BaronNeueBold60.otf');
}

/*CONTAINER*/
.container {
    background-color: #2c2c2c;
    margin: 0 auto;
    padding: 0 0 120px 0;
    height: auto;
}
.winner{
	/*padding:0 0 190px 0;*/
}
/*.wrapper {*/
    /*width: 100%;*/
    /*background: url('../../img/spinwin/background.png') no-repeat top;*/
    /*background-size: 100%;*/
    /*height: auto;*/
    /*min-height: 707px;*/
/*}*/
/*END CONTAINER*/

/*HEADER*/

.logo {
    width: 100%;
    padding-top: 35px;
	/*max-width:440px;*/
	margin:auto;
	position:relative;
}
/*END HEADER*/
.text_logo {
	position: absolute;
	top: 58%;
    width: 100%;
    /*left: 38%;*/
    text-transform: uppercase;
    font-weight: bold;
}

/*.text_logo .month {
    left: 38%;
}

.text_logo.day {
    left: 38%;
}

.text_logo.week {
    left: 35.5%;
}*/

.text_logo p{
	text-align:center;
	color:#fff;
	font-size: 34px;
}
.text_logo.small-font p {
    font-size: 14px;
    padding-top: 3px;
}
.text-logo-container {
    text-align: center;
}
.mn_menu{
    list-style:none;
    line-height:20px;
    padding-left:5px;
    padding-top:3px;
}
.mn_menu a:hover{
    color:#F9EC21;
}
.mn_table{
    margin-top:45px;
    margin-left:15px;
    position:absolute;
    width:120px; 
    height:100px;
    background:#BF272D;
	z-index:9999;
}
.mn_menu a{
    font-size:18px;
    color:#fff;
    font-family:Baskerville;
    text-decoration:none;
}
.mn_table1{
    width:110px;
    /*height:80px;*/
    background:#BF272D;
    position:absolute;
    top: 75px;
    left: 120px;
    display:none;
}
.btn_next{
    float:right;
    margin-top: 4px;
    margin-right: 4px;
}
li.view:hover .mn_table1{
    display:block;
}
/*menutable1*/
.mn_content{
    width:823px; height:288px;
    background:url(../../img/spinwin/bg_content.png)no-repeat;
    border-radius:10px;
    position:relative;
    margin: 10px auto;
}

/*CONTENT BACKGROUND*/

.content-background {
    width: 85%;
    min-height:1000px;
    background: url(../../img/spinwin/bg_content1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
.country_block .number1, .country_block .num1{
    width: 55px;
}
.country_block .number2, .country_block .num2{
    width: 110px;
}
.country_block .number3, .country_block .num3{
    width: 210px;
}
.country_block .number4, .country_block .num4{
    width: 130px;
}
.country_block .number5, .country_block .num5{
    width: 120px;
}
.country_block .number6{
    width: 120px;
}
.country_block .colum2 p{
    margin-left: 0;
}
.country_block .colum2 .num1 p{
    margin-left: 10px;
}
.m-b-110{
    margin-bottom: 110px;
}
.coin_statistics span{
    color: #fff;
    font-family: Baskerville;
    font-size: 12px;
    padding-top: 9px;
    margin-right: 30px;
    margin-left: 15px;
}
.coin_statistics p{
	color:#fff;
	font-size:24px;
	padding:15px 15px;
}
.content_win1 th{
	padding-right:15px;
	margin-left:15px;
}
/*-country_stats start*/
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.flag_bg{
	position:relative;
	padding-left: 0;
	padding-right: 0;
    margin: 2px 1px;
}
.flag_bg span{
	position:absolute;
	font-size:12px;
	color:#fff;
	font-weight:BaronNeue;
	bottom: 0;
	right: 0;
}
.text1_flag{
	bottom:55% !important;
	right:15% !important;
}
.text2_flag{
	bottom:40% !important;
	right:15% !important;
}
.text3_flag{
	bottom:10% !important;
	right:3% !important;
    font-size: 16px !important;
}
.text4_flag{
	bottom:55% !important;
	right:3% !important;
}
.text5_flag{
	bottom:40% !important;
	right:3% !important;
}
.text6_flag{
    bottom:25% !important;
    right:5% !important;
}
.text7_flag{
    bottom:25% !important;
    right:15% !important;
}
/*country-strart -----end*/
/*-coin-stats-START*/
.table-responsive{
	border: none;
}
.table>tbody>tr>td, .table>thead>tr>th{
	padding: 10px 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 0;
}
.table>thead>tr>th{
	border-bottom: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	color:#fff;
}

/*BORDER 2px*/
.border_top {
	border-top: 2px solid #fff !important;
}
.border_bottom {
    border-bottom: 2px solid #fff !important;
}
.border_right {
    border-right: 2px solid #fff !important;
}
.border_left {
    border-left: 2px solid #fff !important;
}

/*BORDER 1px*/
.border_top1 {
    border-top: 1px solid #fff !important;
}
.border_bottom1{
    border-bottom: 1px solid #fff !important;
}
.border_right1 {
    border-right: 1px solid #fff !important;
}
.border_left1 {
    border-left: 1px solid #fff !important;
}

table.coin-stats td.text-header {
    padding-top: 50px;
}

/*-coin-stats-END*/
.content-background-four {
    width: 85%;
	height:290px;
}
.theman{
	/* width:90%; */
	/*width:55%;*/
    height: 250px;
}
.winner{
	height: auto;
}
.content-background-footer{
	width:100%;
	background:url(../../img/spinwin/bg_content1.png) no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
.container{
	background-color: #2c2c2c;
	margin: 0 auto;
	padding: 0 0 350px 0;
	height: auto;
}
.text_win_span span{
	color:#fff;
	font-size:24px;
	font-family: Baskerville;
}
.text_row_man{
	font-size: 24px;
	color: #fff;
	display:block;
	margin-top:15px;
	margin-left:25px;
}
.text_win_span div{
	margin-top: 87px;
	display: block;
	margin-bottom: 44px;
}
.theman{
	margin: 10px auto;
}

.win_text tr td{
	font-size:12px;
	
}
.text_bd_table{
	font-size:24px;
}
.mn_td1{
	width:80px;
    padding-left: 10px !important;
}
.mn_td2{
	width:127px;
}
.mn_td3{
	width:300px;
}
.mn_td4{
	/*width:450px;*/
}

.td1 {
    padding-left: 10px !important;
}

.member-info {
	color: #f9f9f9;
	margin: 60px auto;
    font-size: 30px;
    font-family: Baskerville;
}
.text_row_man2{
	padding-top:80px;
	display:block;
}

.table-content {
	padding: 15px;
}
.row_minheight{
    background: url(../../img/spinwin/bg_content.png) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
	min-height: 290px;
	margin-bottom: 20px;
	/*margin-top:115px;*/
}
.table_row2{
	border-radius:10px;
}

.upper-bold {
    text-transform: uppercase;
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.text_head {
    font-size: 28px;
}

.text-white {
    color: #fff;
}

.table.coin-stats td:first-child {
    width: 50px;
}

/*OVERRIDE BOOTSTRAP 3.0 CSS*/
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.align-center {
    margin: 0 auto;
}

/* Media queries */

@media (min-width: 768px) {
    .winner {
        position: relative;
        top: -120px;
    }
}

@media (min-width: 992px) {
    .winner {
        position: relative;
        top: -200px;
    }
}