<!DOCTYPE html>
<html lang="en" class="{% block htmlClass %}{% endblock %}">

<head>
	{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    {% block meta %}
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn|Bevan' rel='stylesheet' type='text/css'>
    {% block css %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %}">
{% block body %}{% endblock %}

{% block js %}{% endblock %}
</body>
</html>