{% extends 'ami/base.html.twig'%}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap.min.js') }}"></script>
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/loading.css') }}">
{% endblock %}

{% block content %}
    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Shipment Plan</h1>
                {#<div class="text-right">
                    <span class="btn-header-toolbar" id="CheckAllBtn">
                        <button type="button" class="btn btn-sm btn-primary" data-backdrop="static" data-toggle="modal"
                                data-target="#myModal">
                            <i class="fa fw fa-upload"></i>&nbsp;Upload Shipment Plan
                        </button>
                    </span>
                </div>#}
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-truck fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        {#<div class="huge">Game</div>#}
                                        <div>Shipment</div>
                                        <div>Plan</div>
                                    </div>
                                </div>
                            </div>
                            <a href={{ base_url() ~ "ami/shipment/shipment_plan" }}>
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-files-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        {#<div class="huge">Game</div>#}
                                        <div>SAP</div>
                                        <div>Invoice</div>
                                    </div>
                                </div>
                            </div>
                            <a href={{ base_url() ~ "ami/shipment/sap_invoice"}}>
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-file fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        {#<div class="huge">Game</div>#}
                                        <div>GIT</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href={{ base_url() ~ "ami/shipment/git"}}>
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<a href={{ base_url() }}>Shipping Plan</a>
    <a href={{ base_url() }}>SAP Invoicing</a>
    <a href={{ base_url() }}>GIT</a>
    <div class="col-lg-12">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tagged" aria-controls="home" role="tab" data-toggle="tab">Shipment Plan</a>
        </li>
        <li role="presentation">
            <a href="#raw" aria-controls="profile" role="tab" data-toggle="tab">Raw Orders</a>
        </li>
        <li role="presentation">
            <a href="#untagged" aria-controls="profile" role="tab" data-toggle="tab">Untagged Customers</a>
        </li>
    </ul>
    <div role="tabpanel" class="tab-pane active" id="tagged">
        <table class="table table-striped table-bordered table-hover" id="shipmentTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Distributor ID</th>
                <th>Distributor Name</th>
                <th>SKU Name</th>
                <th>Forecast</th>
                <th>Shipment Plan</th>
                #}{#<th class="nosort text-center"></th>#}{#
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>00001</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr><tr>
                <td>00002</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr><tr>
                <td>00003</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr><tr>
                <td>00004</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr><tr>
                <td>00005</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr><tr>
                <td>00006</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr><tr>
                <td>00007</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr><tr>
                <td>00008</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr><tr>
                <td>00009</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr><tr>
                <td>00010</td>
                <td>DIS0000001OMN</td>
                <td>Sample Distributor</td>
                <td>2091123 - Sample Product</td>
                <td>100</td>
                <td>100</td>
                #}{#<t class="nosort text-center"></t>#}{#
            </tr>
            </tbody>
        </table>
    </div>
    </div>#}
{% endblock %}