{% extends 'ami/base.html.twig'%}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap.min.js') }}"></script>
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/ami/shipment_plan.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/loading.css') }}">
{% endblock %}

{% block content %}
    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Shipment Plan</h1>
                <div class="text-right">
                    {#{% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/shipment/shipment_plan', icon: 'fa-user', title: 'Shipment', permission: 'shipment', export: 0, showImport: 1} %}#}
                    <div role="group" class="btn-group btn-header-toolbar">
                    <a class="btn btn-sm btn-warning Tooltip" id="ImportPickfiles" href="javascript:;"
                       data-url="{{ site_url('ami/shipment/import') }}" title="Excel / CSV files only" data-table = 'shipmentTable'>
                        <i class="fa fw fa-upload"></i> Import</a>
                    </div>
                    {#<span class="btn-header-toolbar" id="CheckAllBtn">
                        <button type="button" class="btn btn-sm btn-primary" data-backdrop="static" data-toggle="modal"
                                data-target="#myModal">
                            <i class="fa fw fa-upload"></i>&nbsp;Import Shipment Plan
                        </button>
                    </span>#}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
        <div>
            <ul class="breadcrumb">
                <li><a href={{ base_url() }}>Dashboard</a></li>
                <li><a href={{ base_url()~'ami/shipment' }}>Shipment</a></li>
                <li><a href="#">Shipment Plan</a></li>
            </ul>
        </div>
    </div>
    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Year', 'year', {class: 'control-label col-lg-3'}) }}
                <div class="col-sm-3">
                    {{ form_dropdown('year', yearList, year, 'id="year" class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
            <br/>
            <div class="form-group">
                {{ form_label('Month', 'month', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-3">
                    {{ form_dropdown('month', monthList, month, 'id="month" class="form-control" data-parsley-required="true"') }}
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="#" class="btn btn-primary" id="generate_tbl">Generate</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
            {#<div class="panel panel-default">#}
                {#<div class="panel-body">#}
                    {#<div role="tabpanel" class="tab-pane active" id="tagged">#}
                    <table class="table table-striped table-bordered table-hover" id="shipmentTable">
                        <thead>
                            <tr>
                                <th>Distributor ID</th>
                                <th>Distributor Name</th>
                                <th>SKU Number</th>
                                <th>SKU Name</th>
                                <th>Forecast</th>
                                <th>Shipment Plan</th>
                                <th>Date Uploaded</th>
                            </tr>
                        </thead>
                    </table>
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock %}