{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        function applicable_reset() {
            $('#discount_applicable, #money_applicable').attr('disabled', true);
            $('#discount_applicable, #money_applicable').attr('data-parsley-required', false);
        }

        $(function () {
            createUploader($('#imageUpload'));
            createUploader($('#videoUpload'));
            createUploader($('#brochureUpload'));

            $('#from_date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $('#to_date').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false
            });
            $("#from_date").on("dp.change", function (e) {
                $('#to_date').data("DateTimePicker").minDate(e.date);
            });
            $("#to_date").on("dp.change", function (e) {
                $('#from_date').data("DateTimePicker").maxDate(e.date);
            });

            /*$('#applicable').on('change', function () {
                var $val = $(this).val(),
                        money_element = $('#money_applicable'),
                        discount_element = $('#discount_applicable');
                applicable_reset();
                if($val == 'money'){
                    money_element.removeAttr('disabled');
                    money_element.attr('data-parsley-required', true);
                    if(discount_element.val() == 0) discount_element.val('');
                }else if($val == 'discount'){
                    discount_element.removeAttr('disabled');
                    discount_element.attr('data-parsley-required', true);
                    if(money_element.val() == 0) money_element.val('');
                }else{
                    if(discount_element.val() == 0) discount_element.val('');
                    if(money_element.val() == 0) money_element.val('');
                }
            });*/
        });

        $(document).ready(function(){
            /*var $val = $('#applicable').val(),
                    money_element = $('#money_applicable'),
                    discount_element = $('#discount_applicable');
            applicable_reset();
            if($val == 'money'){
                money_element.removeAttr('disabled');
                money_element.attr('data-parsley-required', true);
                if(discount_element.val() == 0) discount_element.val('');
            }else if($val == 'discount'){
                discount_element.removeAttr('disabled');
                discount_element.attr('data-parsley-required', true);
                if(money_element.val() == 0) money_element.val('');
            }else{
                if(discount_element.val() == 0) discount_element.val('');
                if(money_element.val() == 0) money_element.val('');
            }*/
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/promotional_mechanics/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': promotional_mechanics.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Promotional Mechanics</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}

                        {{ html_btn(site_url('ami/promotional_mechanics'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if promotional_mechanics.id %}
                            <a href="{{ site_url('ami/promotional_mechanics/delete/' ~ promotional_mechanics.id) }}"
                               title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            {% if filter == 'promo_1' %}
                {% include 'ami/promotional_mechanics/items/promotion_1_edit.html.twig' with {promotional_mechanics: promotional_mechanics} %}
            {% elseif filter == 'promo_2' %}
                {% include 'ami/promotional_mechanics/items/promotion_2_edit.html.twig' with {promotional_mechanics: promotional_mechanics} %}
            {% elseif filter == 'promo_3' %}
                {% include 'ami/promotional_mechanics/items/promotion_3_edit.html.twig' with {promotional_mechanics: promotional_mechanics} %}
            {% elseif filter == 'promo_4' %}
                {% include 'ami/promotional_mechanics/items/promotion_4_edit.html.twig' with {promotional_mechanics: promotional_mechanics} %}
            {% else %}
                {% include 'ami/promotional_mechanics/items/promotion_5_edit.html.twig' with {promotional_mechanics: promotional_mechanics} %}
            {% endif %}

            {% include 'ami/components/uploader_image.html.twig' with {entry_type: 'promotional_mechanics'} %}

            {% include 'ami/components/uploader_video.html.twig' with {entry_type: 'promotional_mechanics'} %}

            {% include 'ami/components/uploader_brochure.html.twig' with {entry_type: 'promotional_mechanics'} %}

            {{ form_input({name: 'id', value: promotional.id, type: 'hidden', class: 'hide'}) }}
            {{ form_input({name: 'filter', value: filter, type: 'hidden', class: 'hide'}) }}
            {{ form_input({name: 'uniqueId', value: random(), type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}