{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/upload.js') }}"></script>
    <script src="{{ site_url('res/js/media.js') }}"></script>
    <script src="{{ site_url('res/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        $(function () {
            $('#from_date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $('#to_date').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false
            });
            $("#from_date").on("dp.change", function (e) {
                $('#to_date').data("DateTimePicker").minDate(e.date);
            });
            $("#to_date").on("dp.change", function (e) {
                $('#from_date').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/promotional_mechanics/save_range'), {class: 'form-horizontal', 'data-parsley-validate': 'true'}, {'id': discount_model_range.id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Range</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}

                        {{ html_btn(site_url('ami/promotional_mechanics/range'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if sales_cycle.id %}
                            <a href="{{ site_url('ami/promotional_mechanics/delete_range/' ~ discount_model_range.id) }}" title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label('Title', 'title', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_input({name: 'title', value: discount_model_range.title, class: 'form-control', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('From', 'from_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'from_date', value: discount_model_range.from_date, id: 'from_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('To', 'to_date', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-5">
                    {{ form_input({name: 'to_date', value: discount_model_range.to_date, id: 'to_date', class: errors ? 'form-control datepicker parsley-error' : 'form-control datepicker', 'data-parsley-required': 'true'}) }}
                    {% if errors %}
                        <ul class="parsley-errors-list filled">
                            <li class="parsley-overlaps">{{ errors }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form_label('Active', 'active', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6 no-parsley">
                    <label class="radio-inline">{{ form_radio('active', 0, discount_model_range.active == 0) }} No</label>&nbsp;
                    <label class="radio-inline">{{ form_radio('active', 1, discount_model_range.active == 1) }} Yes</label>&nbsp;
                </div>
            </div>

            {{ form_input({name: 'id', value: discount_model_range.id, type: 'hidden', class: 'hide'}) }}

        </div>
    </div>

    {{ form_close() }}
{% endblock %}