{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(function () {
            $('#promotional_1').dataTable({
                "processing": true,
                "serverSide": false,
                'order': [[1, 'asc']],
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    },
                    {"width": "80px", "targets": [10]}
                ],
                "iDisplayLength": 50
            });

            $('#promotional_2').dataTable({
                "processing": true,
                "serverSide": false,
                'order': [[1, 'asc']],
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    },
                    {"width": "80px", "targets": [9]}
                ],
                "iDisplayLength": 50
            });

            $('#promotional_3').dataTable({
                "processing": true,
                "serverSide": false,
                'order': [[1, 'asc']],
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    },
                    {"width": "80px", "targets": [8]}
                ],
                "iDisplayLength": 50
            });

            $('#promotional_4').dataTable({
                "processing": true,
                "serverSide": false,
                'order': [[1, 'asc']],
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    },
                    {"width": "80px", "targets": [7]}
                ],
                "iDisplayLength": 50
            });

            $('#promotional_5').dataTable({
                "processing": true,
                "serverSide": false,
                'order': [[1, 'asc']],
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    },
                    {"width": "80px", "targets": [6]}
                ],
                "iDisplayLength": 50
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/promotional_mechanics/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ 'Promotional Mechanics' }}</h1>

                <div class="text-right">
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>

                    <div class="btn-group btn-header-toolbar">
                        <a class="btn btn-sm btn-success"
                           href="{{ site_url('ami/promotional_mechanics/add?filter='~filter) }}"><i
                                    class="fa fw fa-plus"></i> Add</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {{ filter == 'promo_1' ? 'class="active"' : '' }}><a role="menuitem"
                                                                                             href="{{ site_url('ami/promotional_mechanics?filter=promo_1') }}">Promotion
                        1</a>
                </li>
                <li role="presentation" {{ filter == 'promo_2' ? 'class="active"' : '' }}><a role="menuitem"
                                                                                             href="{{ site_url('ami/promotional_mechanics?filter=promo_2') }}">Promotion
                        2</a>
                </li>
                <li role="presentation" {{ filter == 'promo_3' ? 'class="active"' : '' }}><a role="menuitem"
                                                                                             href="{{ site_url('ami/promotional_mechanics?filter=promo_3') }}">Promotion
                        3</a>
                </li>
                <li role="presentation" {{ filter == 'promo_4' ? 'class="active"' : '' }}><a role="menuitem"
                                                                                             href="{{ site_url('ami/promotional_mechanics?filter=promo_4') }}">Promotion
                        4</a>
                </li>
                <li role="presentation" {{ filter == 'promo_5' ? 'class="active"' : '' }}><a role="menuitem"
                                                                                             href="{{ site_url('ami/promotional_mechanics?filter=promo_5') }}">Promotion
                        5</a>
                </li>
            </ul>

            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">
                    {% if filter == 'promo_1' %}
                        {% include 'ami/promotional_mechanics/items/promotion_1.html.twig' with {promotional_mechanics: promotional_mechanics} %}
                    {% elseif filter == 'promo_2' %}
                        {% include 'ami/promotional_mechanics/items/promotion_2.html.twig' with {promotional_mechanics: promotional_mechanics} %}
                    {% elseif filter == 'promo_3' %}
                        {% include 'ami/promotional_mechanics/items/promotion_3.html.twig' with {promotional_mechanics: promotional_mechanics} %}
                    {% elseif filter == 'promo_4' %}
                        {% include 'ami/promotional_mechanics/items/promotion_4.html.twig' with {promotional_mechanics: promotional_mechanics} %}
                    {% else %}
                        {% include 'ami/promotional_mechanics/items/promotion_5.html.twig' with {promotional_mechanics: promotional_mechanics} %}
                    {% endif %}
                    <!-- /. -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}