{% extends "ami/base.html.twig" %}

{% block js %}
{{ parent() }}
<script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
<script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
<script src="{{ site_url('res/js/import.js') }}"></script>

    <script>
        $(function () {
            $('#dataTables').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ site_url('ami/wholesalers/ajaxData?filter=' ~ filter) }}",
                    "type": "POST"
                },
                'aoColumns': [
                    {mData : "c.armstrong_2_wholesalers_id", "sWidth": "10%" },
                    {mData : "c.name"},
                    {mData: "c.armstrong_2_salespersons_id"},
                    {mData: "$.salesperson_name"},
                    {mData: "c.approved"},
//                    {mData: "c.is_perfect_store"},
                    {mData : "c.date_created", "bSearchable": false},
                    {mData : "c.last_updated", "bSearchable": false},
                    {mData: "c.updated_name"},
                ],
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    {% if has_permission('delete', 'wholesalers') %}
                    $(nRow).prepend('<td class=\"text-center\"><input type=\"checkbox\" value="'+ aData['DT_RowId'] +'"></td>');
                    {% endif %}
                    $(nRow).append('<td class=\"text-center\" style=\"min-width: 130px;\">'+ aData['buttons'] +'</td>');
                },
                'order': [[2, 'asc']],
                // 'bPaginate': false,
                'aoColumnDefs': [
                    {
                        'bSortable': true,
                        'aTargets': ['nosort']
                    }
                ],
                "iDisplayLength": 50
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/wholesalers/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Wholesalers Draft' : 'Wholesalers' }}</h1>
                <div class="text-right">                    
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">                   
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>
                    {% include 'ami/components/table_btn_head.html.twig' with {url: 'ami/wholesalers', icon: 'fa-shopping-cart', title: 'Wholesalers', permission: 'wholesalers', showImport: 1} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {{ filter == 'active' ? 'class="active"' : '' }}><a role="menuitem"  href="{{ site_url('ami/wholesalers?filter=active') }}">Active</a></li>
                <li role="presentation" {{ filter == 'inactive' ? 'class="active"' : '' }}><a role="menuitem"  href="{{ site_url('ami/wholesalers?filter=inactive') }}">Inactive</a></li>
                {% if has_permission('manage_all', 'salespersons') or has_permission('manage_staff', 'salespersons') %}
                    <li role="presentation" {{ filter == 'pending' ? 'class="active"' : '' }}><a role="menuitem"
                                                                                                 href="{{ site_url('ami/wholesalers?filter=pending') }}">Pending</a>
                    </li>
                {% endif %}
            </ul>

            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">

                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                                <tr>
                                    {% if has_permission('delete', 'wholesalers') %}
                                        <th class="nosort text-center"><input type="checkbox" class="CheckAll" data-target="tbody" data-description="#CheckAllBtn"></th>
                                    {% endif %}
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Salesperson Id</th>
                                    <th>Salesperson Name</th>
                                    <th>Status</th>
                                    {#<th>Is Perfect Store</th>#}
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th>Updated By</th>
                                    <th class="nosort text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {#{% for customer in wholesalers %}#}
                                {#<tr>#}
                                    {#{% if has_permission('delete', 'wholesalers') %}#}
                                        {#<td class="text-center">{{ form_checkbox({name: 'ids[]', value: customers.armstrong_2_wholesalers_id}) }}</td>#}
                                    {#{% endif %}#}
                                    {#<td>{{ customer.armstrong_2_wholesalers_id|raw }}</td>#}
                                    {#<td>{{ customer.name }}</td>#}
                                    {#{% if country_id == 6 %}#}
                                        {#<td>{{ customer.salesperson_name }}</td>#}
                                    {#{% endif %}#}
                                    {#<td>{{ customer.approved }}</td>#}
                                    {#<td class="center">{{ customer.date_created }}</td>#}
                                    {#<td class="center">{{ customer.last_updated }}</td>#}
                                    {#<td class="center text-center" style="min-width: 130px;">#}
                                        {#{{ customer.buttons|raw }}#}
                                    {#</td>#}
                                {#</tr>#}
                            {#{% endfor %}#}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    {{ form_close() }}

{% endblock %}