<ul class="nav nav-tabs" role="tablist">
    {#<li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Wholesaler Data</a></li>#}
    <li role="presentation" class="active"><a href="#amended" aria-controls="amended" role="tab" data-toggle="tab">Amended Data</a></li>
</ul>

<div class="tab-content m-t-md">
    {#<div role="tabpanel" class="tab-pane active" id="data">
        {% include 'ami/distributors/pending_action_data.html.twig' %}
    </div>#}
    <div role="tabpanel" class="tab-pane active" id="amended">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Field</th>
                    <th class="danger">Old Value</th>
                    <th class="success">New Value</th>
                </tr>
            </thead>
            <tbody>
                {% for field in amendedData.fields %}
                    <tr>
                        <td>{{ field }}</td>
                        <td>{{ amendedData.old_data[field] }}</td>
                        <td>{{ amendedData.new_data[field] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>