<div class="panel">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {#tuantq#}
        {% for key, value in wholesaler %}
            {% if (key == 'cuisine_name') or (key == 'serving_name') %}
            {% else %}
                <tr class="{{ key in amendedData.fields ? 'warning' : '' }}">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% if key == 'cuisine_channels_id' %}
                    <tr class="{{ key in amendedData.fields ? 'warning' : '' }}">
                        <td>{{ 'cuisine_channels_name' }}</td>
                        <td>{{ wholesalers.cuisine_name }}</td>
                    </tr>
                {% endif %}
                {% if key == 'serving_types_id' %}
                    <tr class="{{ key in amendedData.fields ? 'warning' : '' }}">
                        <td>{{ 'serving_types_name' }}</td>
                        <td>{{ wholesalers.serving_name }}</td>
                    </tr>
                {% endif %}

            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>