<div class="modal-dialog" style="max-height: 400px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ wholesalers.name }} - {{ wholesalers.armstrong_2_wholesalers_id }}</h3>
        </div>
        <div class="modal-body">
            <div class="panel">

                <div class="list-group">
                    <div class="list-group-item">
                        <i class="fa fa-2x fa-map-marker pull-left"></i>
                        <div class="m-l-xl">                        
                            <div class="list-group-item-text">
                                <h4 class="list-group-item-heading text-muted">Location</h4>
                                <p><span class="text-muted">Street Address:</span> {{ wholesalers.street_address }}</p>
                                <p><span class="text-muted">City:</span> {{ wholesalers.city }}</p>
                                {% if wholesalers.postal_code %}
                                    <p><span class="text-muted">Postal Code:</span> {{ wholesalers.postal_code}}</p>
                                {% endif %}
                                {% if wholesalers.region %}
                                    <p><span class="text-muted">Region:</span> {{ wholesalers.region}}</p>
                                {% endif %}
                                {% if wholesalers.state %}
                                    <p><span class="text-muted">State:</span> {{ wholesalers.state}}</p>
                                {% endif %}
                                {% if wholesalers.district %}
                                    <p><span class="text-muted">District:</span> {{ wholesalers.district}}</p>
                                {% endif %}
                                {% if wholesalers.suburb %}
                                    <p><span class="text-muted">Suburb:</span> {{ wholesalers.suburb}}</p>
                                {% endif %}
                                {% if wholesalers.province %}
                                    <p><span class="text-muted">Province:</span> {{ wholesalers.province}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if wholesalers.email %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-envelope-o pull-left"></i>
                            <div class="m-l-xl">                        
                                <h4 class="list-group-item-heading text-muted">Email</h4>
                                <p class="list-group-item-text"><a href="mailto:{{ wholesalers.email }}">{{ wholesalers.email }}</a></p>
                            </div>
                        </div>
                    {% endif %}

                    {% if wholesalers.salesperson_name %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-usd pull-left"></i>
                            <div class="m-l-xl">
                                <h4 class="list-group-item-heading text-muted">Salesperson Name</h4>
                                <p class="list-group-item-text">{{ wholesalers.salesperson_name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if wholesalers.phone %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-phone pull-left"></i>
                            <div class="m-l-xl">                          
                                <h4 class="list-group-item-heading text-muted">Phone</h4>
                                <p class="list-group-item-text">{{ wholesalers.phone }} {{ wholesalers.phone_2 ? ' - ' ~ wholesalers.phone_2 : ''}}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if wholesalers.fax %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-fax pull-left"></i>
                            <div class="m-l-lg">                        
                                <h4 class="list-group-item-heading text-muted">Fax</h4>
                                <p class="list-group-item-text">{{ wholesalers.fax }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if wholesalers.contact_details %}
                        <div class="list-group-item">
                            <i class="fa fa-2x fa-info-circle pull-left"></i>
                            <div class="m-l-xl">                        
                                <h4 class="list-group-item-heading text-muted">Contact Details</h4>
                                <p class="list-group-item-text">{{ wholesalers.contact_details }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-close"></i> Close</button>
            {% if has_permission('edit', 'wholesalers') %}
                {{ html_btn(site_url('ami/wholesalers/edit/' ~ wholesalers.armstrong_2_wholesalers_id), '<i class="fa fa-fw fa-edit"></i> Edit</a>', {'class': 'btn-info'}) }}
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal-body').slimScroll({
        height: '400px'
    });
});
</script>