{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('.dataTables').dataTable({
                /*"processing": true,
                 "serverSide": true,
                 "ajax": "{{ site_url('ami/wholesalers/ajaxData') }}",*/
                'order': [[1, 'asc']],
                'aoColumnDefs': [{
                    'aTargets': ['nosort']
                }],
                "iDisplayLength": 50
            });
        });
    </script>
    <script>
        function getSalesperson(){
            var param = $('select[name="armstrong_2_salespersons_id"]').val();

            if(param == null || param == ''){
                window.location.href = "{{ site_url(url ~ '/ami/wholesalers/show_wholesalers') }}/"+param;
                alert('Must be select current Salesperson to show !');
            }else{
                window.location.href = "{{ site_url(url ~ '/ami/wholesalers/show_wholesalers') }}/"+param;
            }
        }
    </script>
    <script>
        var Example = (function() {
            "use strict";
            var elem,
                    hideHandler,
                    that = {};

            that.init = function(options) {
                elem = $(options.selector);
            };

            that.show = function(text) {
                clearTimeout(hideHandler);

                elem.find("span").html(text);
                elem.delay(200).fadeIn().delay(4000).fadeOut();
            };

            return that;
        }());
    </script>
    <script>
        function myConfirm() {
            var param = $('select[name="armstrong_2_salespersons_id"]').val();
            var param_new = $('select[name="armstrong_2_salespersons_id_new"]').val();

            if(param !='' && param_new !='' && param!==param_new) {
                bootbox.dialog({
                    message: "All current Customers of [Current Salesperson] will be shifted to [Target Salesperson] . <br />Are you sure?",
                    title: "Transfer! Please Confirm.",
                    buttons: {
                        success: {
                            label: "Yes",
                            className: "btn-success",
                            callback: function() {
                                window.location.href = "{{ site_url(url ~ '/ami/wholesalers/transfer_do') }}/"+param+"/"+param_new;
                                Example.show('great success');
                            }
                        },
                        main: {
                            label: "No",
                            className: "btn-primary"
                        }
                    }
                });
            }
            if(param===param_new && param !=''){
                bootbox.dialog({
                    message: "[Current Salesperson] is same [Target Salesperson] <br />Can't transfer",
                    title: "Transfer! Please Confirm",
                    buttons: {
                        main: {
                            label: "Yes",
                            className: "btn-success"
                        }
                    }
                });
            }
            if( (param =='' || param_new=='')){
                $('#myform').submit();
            }
        }
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/wholesalers/transfer_do'), {class: 'form-horizontal', id: 'myform', 'data-parsley-validate': 'true'}, {armstrong_2_wholesalers_id: wholesaler.armstrong_2_wholesalers_id}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Transfer of Wholesalers</h1>
                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/wholesalers', id: wholesaler.armstrong_2_wholesalers_id, permission: 'wholesalers'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">

            <div class="form-group">
                {{ form_label('Current Salesperson', 'armstrong_2_salespersons_id', {class: 'control-label col-sm-3'}) }}
                <div class="col-sm-6">
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, wholesaler.armstrong_2_salespersons_id, 'class="form-control" data-parsley-required="true"') }}
                </div>
            </div>

                <div class="form-group">
                    {{ form_label('Target Salesperson', 'armstrong_2_salespersons_id_new', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('armstrong_2_salespersons_id_new', salespersons, wholesaler.armstrong_2_salespersons_id_new, 'class="form-control" data-parsley-required="true"') }}
                    </div>
                </div>

    <hr>
    {% if show_table == 1%}
    <div class="panel panel-default m-t">
    <div class="panel-body tab-content">
            <table class="table table-striped table-bordered table-hover dataTables">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for whol in wholesalers %}
        <tr>
            <td>{{ whol.armstrong_2_wholesalers_id }}</td>
            <td>{{ whol.name }}</td>
            <td class="center">{{ whol.date_created }}</td>
            <td class="center">{{ whol.last_updated }}</td>
        </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        {% endif %}

        </div>
    </div>

    {{ form_close() }}
{% endblock %}