{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script>
        function checkTargetSalesperson() {
            var currentVal = $('select[name="armstrong_2_salespersons_id"]').val();
            var targetVal = $('select[name="armstrong_2_salespersons_id_new"]').val();
            if (!targetVal && currentVal) {
                $.alert({
                    title: 'Alert!',
                    content: 'Please chose [Target Salesperson]'
                });
                return false;
            } else if (!currentVal && targetVal) {
                $.alert({
                    title: 'Alert!',
                    content: 'Please chose [Current Salesperson]'
                });
                return false;
            } else if (!currentVal && !targetVal) {
                $.alert({
                    title: 'Alert!',
                    content: 'Please chose [Target Salesperson] and [Current Salesperson]'
                });
                return false;
            } else if (currentVal == targetVal) {
                $.alert({
                    title: 'Alert!',
                    content: "[Current Salesperson] is same [Target Salesperson] <br />Can't transfer"
                });
                return false;
            }
            return true;
        }

        function getCustomers() {
            var targetElement = $('.customers_assigned'),
                    inputCustomers = $('input[name="customers"]'),
                    items = targetElement.find('li div'),
                    array_val = [];
            $.each(items, function () {
                var $val = $(this).data('customer');
                array_val.push($val);
            });
            inputCustomers.val(array_val);
        }

        $('.customers_block').perfectScrollbar();
        $(function () {
            var item_left_selected = $('.customers_unassigned ul').finderSelect({children: ".current_item"});
            var item_right_selected = $('.customers_assigned ul').finderSelect({children: ".current_item"});
            $('#armstrong_2_salespersons_id').on('change', function () {
                var $val = $(this).val(),
                        customers_block_wrapper = $('.customers_unassigned');
                item_left_selected.finderSelect("selected").removeClass('selected');
                $.each(customers_block_wrapper.find('li div'), function () {
                    var armstrong_2_salesperson = $(this).data('salesperson');
                    if (armstrong_2_salesperson !== $val) {
                        $(this).closest('li').removeClass('current_item').hide();
                    } else {
                        $(this).closest('li').removeClass('hidden').addClass('current_item').show();
                    }
                });
            });

            $('.transfer-right').on('click', function () {
                if (checkTargetSalesperson()) {
                    var selectedElement = item_left_selected.finderSelect('selected').clone(),
                            targetBlock = $('.customers_assigned ul');
                    item_left_selected.finderSelect('selected').remove();
                    selectedElement.appendTo(targetBlock);
                    getCustomers();
                }
            });

            $('.transfer-left').on('click', function () {
                if (checkTargetSalesperson()) {
                    var selectedElement = item_right_selected.finderSelect('selected').clone(),
                            targetBlock = $('.customers_unassigned ul');
                    item_right_selected.finderSelect('selected').remove();
                    selectedElement.appendTo(targetBlock);
                    getCustomers();
                }
            });

            $('button[type="submit"]').on('click', function (e) {
                e.preventDefault();
                var input_customers = $('input[name="customers"]').val();
                if (!input_customers) {
                    $.alert({
                        title: 'Alert!',
                        content: "Nothing to transfer"
                    });
                    return false;
                }
                $.confirm({
                    title: 'Confirm!',
                    content: 'All current Customers of [Current Salesperson] will be shifted to [Target Salesperson]. <br />Are you sure?',
                    confirm: function () {
                        $('#myform').submit();
                    },
                    cancel: function () {

                    }
                });
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        .customers_block {
            height: 300px;
            overflow: hidden;
            position: relative;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 10px;
        }

        .customers_block ul {
            list-style: none;
            padding: 0;
        }

        .customers_block ul li {
            cursor: pointer;
        }

        .customers_block ul li.selected {
            background-color: #337ab7;
            color: #fff;
        }

        .btn_transfer {
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/wholesalers/transfer_customers_do'), {class: '', id: 'myform', 'data-parsley-validate': 'true'}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">

            <div class="page-header nm">
                <h1 class="pull-left">Transfer of Customers</h1>

                <div class="text-right">
                    {% include 'ami/components/form_btn.html.twig' with {url: 'ami/customers', id: customer.armstrong_2_salespersons_id, permission: 'customer'} %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="left-block col-sm-5">
                <div class="form-group">
                    {{ form_label('Current Salesperson', 'armstrong_2_salespersons_id', {class: ''}) }}
                    {{ form_dropdown('armstrong_2_salespersons_id', salespersons, customer.armstrong_2_salespersons_id, 'id="armstrong_2_salespersons_id" class="form-control" data-parsley-required="true"') }}
                </div>
                <div class="form-group">
                    {{ form_label('Unassigned', 'customers_unassigned', {class: ''}) }}
                    <div class="customers_unassigned customers_block">
                        <ul>
                            {% for key,customer in customers %}
                                {% for customer_id,_customer in customer %}
                                    <li class="hidden">
                                        <div data-customer="{{ customer_id }}"
                                             data-salesperson="{{ key }}">{{ _customer }}</div>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="btn_transfer col-sm-2">
                <a href="javascript:;" class="btn btn-default m-b-md transfer-right">
                    <i class="fa fa-long-arrow-right"></i>
                    Left to Right
                </a>
                <a href="javascript:;" class="btn btn-default m-b-md transfer-left">
                    <i class="fa fa-long-arrow-left"></i>
                    Right to Left
                </a>
            </div>
            <div class="right-block col-sm-5">
                <div class="form-group">
                    {{ form_label('Target Salesperson', 'armstrong_2_salespersons_id_new', {class: ''}) }}
                    {{ form_dropdown('armstrong_2_salespersons_id_new', salespersons, customer.armstrong_2_salespersons_id_new, 'class="form-control" data-parsley-required="true"') }}
                </div>
                <div class="form-group">
                    {{ form_label('Assigned', 'customers_assigned', {class: ''}) }}
                    <div class="customers_assigned customers_block">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="customers">
    {{ form_close() }}
    <link href="{{ site_url('res/css/plugins/perfect-scrollbar/perfect-scrollbar.min.css') }}" rel='stylesheet'
          type='text/css'>
    <link href="{{ site_url('res/css/jquery-confirm.min.css') }}" rel='stylesheet'
          type='text/css'>
    <script src="{{ site_url('res/js/jquery-confirm.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="//oss.maxcdn.com/libs/jquery.finderselect/0.6.0/jquery.finderselect.min.js"></script>
{% endblock %}