{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script>
        data_arr = [];
        app_type = '';
        column_type = '';
        function resortingArray() {
            $("ul#sortable li:not(.hide)").each(function () {
                var id = $(this).find('input').data('id'),
                        status = $(this).find('input').data('status'),
                        value = $(this).find('input').val();
                {% if action == 'add' %}
                app_type = $('select[name="app_type"]').val(),
                        column_type = $('select[name="column_type"]').val();
                {% else %}
                app_type = '{{ app_type }}',
                        column_type = '{{ column_type }}';
                {% endif %}
                var obj = {'id': id, 'name': value, 'status': status, 'app_type': app_type, 'column_type': column_type};
                data_arr.push(obj);
            });
        }

        $(function () {
            $("#sortable").sortable().disableSelection();

            $('.add').on('click', function () {
                var clone = $("ul#sortable li.hide").clone();
                clone.removeClass('hide');
                clone.find('input').attr('data-parsley-required', true);
                clone.appendTo($('#sortable'));
            });

            $(document).on('click', '.remove', function () {
                var $this = $(this),
                        parent = $this.closest('li'),
                        id = parent.find('input').data('id');
                if (!id) {
                    parent.remove();
                } else {
                    parent.css('display', 'none');
                    parent.find('input').attr('data-status', 'delete');
                }
            });

            $('button[type="submit"]').click(function (e) {
                e.preventDefault();
                data_arr = [];
                resortingArray();
                if(data_arr.length > 0){
                    $(this).addClass('disabled');
                    $.ajax({
                        type: 'POST',
                        url: base_url() + 'ami/principles/save',
                        data: {
                            action: '{{ action }}',
                            column_type: column_type,
                            app_type: app_type,
                            data_arr
                        },
                        success: function (re) {
                            window.location.replace(base_url() + re);
                        }
                    });
                }else{
                    alert('Please Add at least 1 principle!');
                }
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/bootstrap-datepicker/datepicker3.css') }}"/>
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #sortable li {
            margin: 0 3px 10px 3px;
            padding: 4px;
            padding-left: 1.5em;
            font-size: 1em;
            height: 35px;
            color: #333;
            font-weight: normal;
        }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }

        #sortable li input {
            width: 95%;
        }

        .ui-icon-arrowthick-2-n-s {
            background-position: -128px -45px;
        }

        .add {
            margin-bottom: 20px;
        }

        .remove {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    </style>
{% endblock %}

{% block content %}
    {{ form_open(site_url('ami/principles/save'), {class: 'form-horizontal', 'data-parsley-validate': 'true', 'id': 'form-principles'}) }}

    <div class="row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">Principles</h1>

                <div class="text-right">
                    <div class="btn-header-toolbar">
                        {{ form_button({type: 'submit', content: '<i class="fa fa-fw fa-check"></i> Save', class: 'btn btn-success'}) }}
                        {#{{ form_button({type: 'reset', content: '<i class="fa fa-fw fa-ban"></i> Cancle', class: 'btn btn-default'}) }}#}
                        {{ html_btn(site_url('ami/principles'), '<i class="fa fa-fw fa-ban"></i> Cancel</a>', {'class': 'btn-default'}) }}
                        {% if principles.id %}
                            <a href="{{ site_url('ami/principles/delete/' ~ principles.id) }}" title="Delete"
                               class="btn btn-danger" data-toggle="ajaxModal"><i class="fa fa-close"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            {% if action == 'add' %}
                <div class="form-group">
                    {{ form_label('App type', 'app_type', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('app_type', ['Pull', 'Push', 'Mix'], null, 'class="form-control"') }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label('Principle type', 'column_type', {class: 'control-label col-sm-3'}) }}
                    <div class="col-sm-6">
                        {{ form_dropdown('column_type', column_type, null, 'class="form-control"') }}
                    </div>
                </div>
            {% endif %}
            <a class="btn btn-default btn-clone add"><i class="fa fa-plus"></i></a>
            <ul id="sortable">
                <li class="ui-state-default hide">
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    <a class="btn btn-default btn-clone remove pull-right"><i class="fa fa-minus"></i></a>
                    {{ form_input({name: '', value: null, class: '', 'data-parsley-required': 'false', 'data-id': null, 'data-status': ''}) }}
                </li>
                {% for principle in principles %}
                    <li class="ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <a class="btn btn-default btn-clone remove pull-right"><i class="fa fa-minus"></i></a>
                        {{ form_input({name: '', value: principle.name, class: '', 'data-parsley-required': 'true', 'data-id': principle.id, 'data-status': ''}) }}
                    </li>
                {% endfor %}
            </ul>
            {{ form_input({name: 'data[]', value: principles.id, type: 'hidden', class: 'hide'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}