{% extends "ami/base.html.twig" %}

{% block js %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ site_url('res/js/plugins/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ site_url('res/js/plugins/plupload/plupload.full.min.js') }}"></script>
    <script src="{{ site_url('res/js/import.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(function () {
            $('#dataTables').dataTable({
                {#"processing": true,#}
                {#"serverSide": true,#}
                {#"ajax": {#}
                {#"url": "{{ site_url('ami/principles/ajaxData') }}",#}
                {#"type": "POST"#}
                {#},#}
                {#'aoColumns': [#}
                {#{mData: "armstrong_2_principles_id"},#}
                {#{mData: "armstrong_2_principles_name"},#}
                {#{mData: "date_created", "bSearchable": false},#}
                {#{mData: "last_updated", "bSearchable": false}#}
                {#],#}
                {#"fnRowCallback": function (nRow, aData, iDisplayIndex) {#}
                {#$(nRow).prepend('<td class=\"text-center\"><input type=\"checkbox\" name="ids[]" value="' + aData['DT_RowId'] + '"></td>');#}
                {#$(nRow).append('<td class=\"text-center\" style=\"min-width: 130px;\">' + aData['buttons'] + '</td>');#}
                {#},#}
                'order': [[1, 'asc']],
                'aoColumnDefs': [
                    {
                        'bSortable': false,
                        'aTargets': ['nosort']
                    },
//                    {"width": "100px", "targets": [0, 1]},
//                    {"width": "250px", "targets": [2]}
                ],
                "iDisplayLength": 50
            });

            $(document).on('click', '.btn-pending-submit', function (e) {
                e.preventDefault();

                var $this = $(this),
                        $form = $this.closest('form');

                $form.attr('action', $this.attr('href')).submit();
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ site_url('res/css/plugins/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

    {{ form_open(site_url('ami/principles/update'), {class: draft ? '' : 'submit-confirm'}, {'draft': draft}) }}

    <div class="row row sticky sticky-h1 bg-white">
        <div class="col-lg-12">
            <div class="page-header nm">
                <h1 class="pull-left">{{ draft ? 'Principles Draft' : 'Principles' }}</h1>

                <div class="text-right">
                    <span class="btn-header-toolbar hide m-r" id="CheckAllBtn">
                        {{ form_button({type: 'submit', content: draft ? '<i class="fa fa-fw fa-history"></i> Restore' : '<i class="fa fa-fw fa-close"></i> Delete', class: 'btn btn-sm btn-danger'}) }}
                    </span>

                    <div class="btn-group btn-header-toolbar">
                        <a class="btn btn-sm btn-success" href="{{ site_url('ami/principles/add') }}"><i
                                    class="fa fw fa-plus"></i> Add</a>
                        {% if draft %}
                            <a class="btn btn-sm btn-default" href="{{ site_url('ami/principles') }}"><i
                                        class="fa fw fa-tags"></i> Principles</a>
                        {% else %}
                            {# <a class="btn btn-sm btn-default" href="{{ site_url('ami/contacts/draft') }}"><i class="fa fw fa-trash"></i> Draft</a> #}
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row m-t-md">
        <div class="col-lg-12">
            <div class="panel panel-default m-t">
                <div class="panel-body tab-content">

                    <div role="tabpanel" class="tab-pane active" id="listed">
                        <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                            <tr>
                                {% if has_permission('delete', 'principles') %}
                                    {#<th class="nosort text-center"><input type="checkbox" class="CheckAll"#}
                                                                          {#data-target="tbody"#}
                                                                          {#data-description="#CheckAllBtn"></th>#}
                                {% endif %}
                                <th>Column</th>
                                <th>App Type</th>
                                <th>Number Items</th>
                                <th class="nosort text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for column, principle in principles %}
                                {% for app_type, items in principle %}
                                    <tr>
                                        {% if has_permission('delete', 'principles') %}
                                            {#<td class="text-center">{{ form_checkbox({name: 'ids[]', value: principle.id}) }}</td>#}
                                        {% endif %}
                                        <td>{{ column }}</td>
                                        <td>{{ app_type == 0 ? 'Pull' : app_type == 1 ? 'Push' : 'Mix' }}</td>
                                        <td>{{ items }}</td>
                                        <td class="center text-center" style="min-width: 80px;">
                                            {% if has_permission('edit', 'principles') or has_permission('delete', 'principles') %}
                                                <div class="btn-group">
                                                    {{ html_btn(site_url('ami/principles/edit/' ~ column ~ '/' ~ app_type), '<i class="fa fa-edit"></i>', {'class': 'btn-default edit', 'title': 'Edit'}) }}
                                                    {#{{ html_btn(site_url('ami/principles/delete/' ~ principle.id), '<i class="fa fa-remove"></i>', {'class': 'btn-default delete ', 'title': 'Delete', 'data-toggle': 'ajaxModal'}) }}#}
                                                </div>
                                                {# {% include 'ami/components/table_btn.html.twig' with {url: 'ami/accessibility', id: group.id, permission: 'accessibility'} %} #}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- /. -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_close() }}

{% endblock %}