/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f1f2f2;
}
.sortquestion td {
    cursor: move;
}
.ui-sortable-disabled .center {
    cursor: default !important;
}
.nosort::after{
    display: none;
}
#wrapper {
    width: 100%;
}
.skuListing{
    width: 400px;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

.rightAlign{
  text-align: right;
}

.lastRow{
 font-weight: bold;
 border-top: solid #000000; 
}

.greenCheck{
  color: #008500;
  text-align: center;
}

.headerBlack{
  color: #000000;
  text-align: left;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.mediathumb:hover,
.mediathumb:focus,
.mediathumb.active {
    border-color: #428bca;
}

.bg-white {
    background: #fff;
}

.full-width {
    width: 100%;
}

.ellipsis {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.btn-header-toolbar {
    bottom: 15px;
    position: relative;
    top: 20px;
}

a.delete i.fa-remove,
a.restore i.fa-history {
    width: 14px;
}

.sub-input {
    width: 7%;
    display: inline;
}

.sub-input.subtotal {
    width: 15%;
}

.table-filter {
  position: absolute;
}


/* ----------------------------
 *
 * Helper Class
 *
 * --------------------------- */
/* Margin */
.ma15 {
  margin: 15px !important;
}
.ma10 {
  margin: 10px !important;
}
.ma5 {
  margin: 5px !important;
}
.nm {
  margin: 0px !important;
}
.ma-15 {
  margin: -15px !important;
}
.ma-10 {
  margin: -10px !important;
}
.ma-5 {
  margin: -5px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mt-15 {
  margin-top: -15px !important;
}
.mt-10 {
  margin-top: -10px !important;
}
.mt-5 {
  margin-top: -5px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mr-15 {
  margin-right: -15px !important;
}
.mr-10 {
  margin-right: -10px !important;
}
.mr-5 {
  margin-right: -5px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mb-15 {
  margin-bottom: -15px !important;
}
.mb-10 {
  margin-bottom: -10px !important;
}
.mb-5 {
  margin-bottom: -5px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.ml-15 {
  margin-left: -15px !important;
}
.ml-10 {
  margin-left: -10px !important;
}
.ml-5 {
  margin-left: -5px !important;
}
/* Padding */
.pa15 {
  padding: 15px !important;
}
.pa10 {
  padding: 10px !important;
}
.pa5 {
  padding: 5px !important;
}
.np {
  padding: 0px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl0 {
  padding-left: 0px !important;
}
/* Vertical align */
.valign-top {
  vertical-align: top !important;
}
.valign-middle {
  vertical-align: middle !important;
}
.valign-bottom {
  vertical-align: bottom !important;
}
/* Misc */
.bradius0 {
  border-radius: 0px !important;
}
.bdr0 {
  border-width: 0px !important;
}
.noshadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.dis-none {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.float-none {
  float: none !important;
}
/* Custom */
.pos-rlt {
  position:relative;
}
.pos-stc {
  position:static;
}
.pos-abt {
  position:absolute;
}
.line {
  *width:100%;
  height:2px;
  margin:10px 0;
  font-size:0;
  overflow:hidden;
}
.line-xs {
  margin:0;
}
.line-lg {
  margin-top:15px;
  margin-bottom:15px;
}
.line-dashed {
  border-style:dashed !important;
  background-color:transparent;
  border-width:0;
}
.no-line {
  border-width:0;
}
.no-border,.no-borders {
  border-color:transparent;
  border-width:0;
}
.no-radius {
  border-radius:0;
}
.btn-s-xs {
  min-width:90px;
}
.btn-s-sm {
  min-width:100px;
}
.btn-s-md {
  min-width:120px;
}
.btn-s-lg {
  min-width:150px;
}
.btn-s-xl {
  min-width:200px;
}
.l-h-2x {
  line-height:2em;
}
.l-h-1x {
  line-height:1.2;
}
.l-h {
  line-height:1.5;
}
.v-middle {
  vertical-align:middle !important;
}
.v-top {
  vertical-align:top !important;
}
.v-bottom {
  vertical-align:bottom !important;
}
.text-lg {
  font-size:16px;
}
.text-md {
  font-size:14px;
}
.text-sm {
  font-size:12px;
}
.text-xs {
  font-size:11px;
}
.text-ellipsis {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.text-u-c {
  text-transform:uppercase;
}
.text-l-t {
  text-decoration:line-through;
}
.text-u-l {
  text-decoration:underline;
}
.text-active,.active>.text,.active>.auto .text {
  display:none !important;
}
.active>.text-active,.active>.auto .text-active {
  display:inline-block !important;
}
.box-shadow {
  box-shadow:0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
}
.wrapper-xxs {
  padding:4px 6px;
}
.wrapper-sm {
  padding:5px 10px;
}
.wrapper {
  padding:15px;
}
.wrapper-md {
  padding:20px;
}
.wrapper-lg {
  padding:30px;
}
.wrapper-xl {
  padding:50px;
}
.padder {
  padding-left:15px;
  padding-right:15px;
}
.padder-v {
  padding-top:15px;
  padding-bottom:15px;
}
.no-padder {
  padding:0 !important;
}
.pull-in {
  margin-left:-15px;
  margin-right:-15px;
}
.pull-out {
  margin:-10px -15px;
}
.b {
  border:1px solid rgba(0,0,0,0.05);
}
.b-a {
  border:1px solid #eaeef1;
}
.b-t {
  border-top:1px solid #eaeef1;
}
.b-r {
  border-right:1px solid #eaeef1;
}
.b-b {
  border-bottom:1px solid #eaeef1;
}
.b-l {
  border-left:1px solid #eaeef1;
}
.b-light {
  border-color:#e1e6ef;
}
.b-dark {
  border-color:#2c3342;
}
.b-primary {
  border-color:#1a8ad2;
}
.b-success {
  border-color:#1dc499;
}
.b-info {
  border-color:#21dee1;
}
.b-warning {
  border-color:#fccd4c;
}
.b-danger {
  border-color:#e64858;
}
.b-black {
  border-color:#1c1e29;
}
.b-white {
  border-color:#fff;
}
.b-dashed {
  border-style:dashed !important;
}
.b-2x {
  border-width:2px;
}
.b-3x {
  border-width:3px;
}
.b-4x {
  border-width:4px;
}
.b-5x {
  border-width:5px;
}
.r {
  border-radius:2px 2px 2px 2px;
}
.r-2x {
  border-radius:4px;
}
.r-3x {
  border-radius:6px;
}
.r-l {
  border-radius:2px 0 0 2px;
}
.r-r {
  border-radius:0 2px 2px 0;
}
.r-t {
  border-radius:2px 2px 0 0;
}
.r-b {
  border-radius:0 0 2px 2px;
}
.m-xxs {
  margin:2px 4px;
}
.m-xs {
  margin:5px;
}
.m-sm {
  margin:10px;
}
.m {
  margin:15px;
}
.m-md {
  margin:20px;
}
.m-lg {
  margin:30px;
}
.m-xl {
  margin:50px;
}
.m-n {
  margin:0 !important;
}
.m-l-none {
  margin-left:0;
}
.m-l-xs {
  margin-left:5px;
}
.m-l-sm {
  margin-left:10px;
}
.m-l {
  margin-left:15px;
}
.m-l-md {
  margin-left:20px;
}
.m-l-lg {
  margin-left:30px;
}
.m-l-xl {
  margin-left:40px;
}
.m-l-n-xxs {
  margin-left:-1px;
}
.m-l-n-xs {
  margin-left:-5px;
}
.m-l-n-sm {
  margin-left:-10px;
}
.m-l-n {
  margin-left:-15px;
}
.m-l-n-md {
  margin-left:-20px;
}
.m-l-n-lg {
  margin-left:-30px;
}
.m-l-n-xl {
  margin-left:-40px;
}
.m-t-none {
  margin-top:0;
}
.m-t-xxs {
  margin-top:1px;
}
.m-t-xs {
  margin-top:5px;
}
.m-t-sm {
  margin-top:10px;
}
.m-t {
  margin-top:15px;
}
.m-t-md {
  margin-top:20px;
}
.m-t-lg {
  margin-top:30px;
}
.m-t-xl {
  margin-top:40px;
}
.m-t-n-xxs {
  margin-top:-1px;
}
.m-t-n-xs {
  margin-top:-5px;
}
.m-t-n-sm {
  margin-top:-10px;
}
.m-t-n {
  margin-top:-15px;
}
.m-t-n-md {
  margin-top:-20px;
}
.m-t-n-lg {
  margin-top:-30px;
}
.m-t-n-xl {
  margin-top:-40px;
}
.m-r-none {
  margin-right:0;
}
.m-r-xxs {
  margin-right:1px;
}
.m-r-xs {
  margin-right:5px;
}
.m-r-sm {
  margin-right:10px;
}
.m-r {
  margin-right:15px;
}
.m-r-md {
  margin-right:20px;
}
.m-r-lg {
  margin-right:30px;
}
.m-r-xl {
  margin-right:40px;
}
.m-r-n-xxs {
  margin-right:-1px;
}
.m-r-n-xs {
  margin-right:-5px;
}
.m-r-n-sm {
  margin-right:-10px;
}
.m-r-n {
  margin-right:-15px;
}
.m-r-n-md {
  margin-right:-20px;
}
.m-r-n-lg {
  margin-right:-30px;
}
.m-r-n-xl {
  margin-right:-40px;
}
.m-b-none {
  margin-bottom:0;
}
.m-b-xxs {
  margin-bottom:1px;
}
.m-b-xs {
  margin-bottom:5px;
}
.m-b-sm {
  margin-bottom:10px;
}
.m-b {
  margin-bottom:15px;
}
.m-b-md {
  margin-bottom:20px;
}
.m-b-lg {
  margin-bottom:30px;
}
.m-b-xl {
  margin-bottom:40px;
}
.m-b-n-xxs {
  margin-bottom:-1px;
}
.m-b-n-xs {
  margin-bottom:-5px;
}
.m-b-n-sm {
  margin-bottom:-10px;
}
.m-b-n {
  margin-bottom:-15px;
}
.m-b-n-md {
  margin-bottom:-20px;
}
.m-b-n-lg {
  margin-bottom:-30px;
}
.m-b-n-xl {
  margin-bottom:-40px;
}
.p-xxs {
  padding:2px 4px;
}
.p-xs {
  padding:5px;
}
.p-sm {
  padding:10px;
}
.p {
  padding:15px;
}
.p-md {
  padding:20px;
}
.p-lg {
  padding:30px;
}
.p-xl {
  padding:50px;
}
.p-n {
  padding:0 !important;
}
.p-l-none {
  padding-left:0;
}
.p-l-xs {
  padding-left:5px;
}
.p-l-sm {
  padding-left:10px;
}
.p-l {
  padding-left:15px;
}
.p-l-md {
  padding-left:20px;
}
.p-l-lg {
  padding-left:30px;
}
.p-l-xl {
  padding-left:40px;
}
.p-l-n-xxs {
  padding-left:-1px;
}
.p-l-n-xs {
  padding-left:-5px;
}
.p-l-n-sm {
  padding-left:-10px;
}
.p-l-n {
  padding-left:-15px;
}
.p-l-n-md {
  padding-left:-20px;
}
.p-l-n-lg {
  padding-left:-30px;
}
.p-l-n-xl {
  padding-left:-40px;
}
.p-t-none {
  padding-top:0;
}
.p-t-xxs {
  padding-top:1px;
}
.p-t-xs {
  padding-top:5px;
}
.p-t-sm {
  padding-top:10px;
}
.p-t {
  padding-top:15px;
}
.p-t-md {
  padding-top:20px;
}
.p-t-lg {
  padding-top:30px;
}
.p-t-xl {
  padding-top:40px;
}
.p-t-n-xxs {
  padding-top:-1px;
}
.p-t-n-xs {
  padding-top:-5px;
}
.p-t-n-sm {
  padding-top:-10px;
}
.p-t-n {
  padding-top:-15px;
}
.p-t-n-md {
  padding-top:-20px;
}
.p-t-n-lg {
  padding-top:-30px;
}
.p-t-n-xl {
  padding-top:-40px;
}
.p-r-none {
  padding-right:0;
}
.p-r-xxs {
  padding-right:1px;
}
.p-r-xs {
  padding-right:5px;
}
.p-r-sm {
  padding-right:10px;
}
.p-r {
  padding-right:15px;
}
.p-r-md {
  padding-right:20px;
}
.p-r-lg {
  padding-right:30px;
}
.p-r-xl {
  padding-right:40px;
}
.p-r-n-xxs {
  padding-right:-1px;
}
.p-r-n-xs {
  padding-right:-5px;
}
.p-r-n-sm {
  padding-right:-10px;
}
.p-r-n {
  padding-right:-15px;
}
.p-r-n-md {
  padding-right:-20px;
}
.p-r-n-lg {
  padding-right:-30px;
}
.p-r-n-xl {
  padding-right:-40px;
}
.p-b-none {
  padding-bottom:0;
}
.p-b-xxs {
  padding-bottom:1px;
}
.p-b-xs {
  padding-bottom:5px;
}
.p-b-sm {
  padding-bottom:10px;
}
.p-b {
  padding-bottom:15px;
}
.p-b-md {
  padding-bottom:20px;
}
.p-b-lg {
  padding-bottom:30px;
}
.p-b-xl {
  padding-bottom:40px;
}
.p-b-n-xxs {
  padding-bottom:-1px;
}
.p-b-n-xs {
  padding-bottom:-5px;
}
.p-b-n-sm {
  padding-bottom:-10px;
}
.p-b-n {
  padding-bottom:-15px;
}
.p-b-n-md {
  padding-bottom:-20px;
}
.p-b-n-lg {
  padding-bottom:-30px;
}
.p-b-n-xl {
  padding-bottom:-40px;
}

/* CUSTOM CSS */
/* override bootstrap 3 class to remove scrollbar from modal backdrop
   when not necessary */
.modal {
    overflow-y: auto;
}
/* custom class */
.scrollbar-measure {
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

.no-parsley .parsley-errors-list {
    display: none;
}

table.permissions tr th:first-child {
    width: 400px;
}

table.permissions th.permission-title {
    font-weight: normal;
}

table.permissions a.CheckAll {
    cursor: pointer;
}

.ui-autocomplete.ui-widget-content {
    background: #fff;
}

/* Nested */
.sortable ul li {
    list-style: none;
}

.category-container .ico-droppable {
    border-right: 1px solid #DDD;
    cursor: move;
    height: 100%;
    left: -3px;
    margin-left: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 38px;
}

.category-container .ico-childrens {
    border-right: 1px solid #DDD;
    height: 100%;
    left: 40px;
    margin-left: 2px;
    position: absolute;
    top: 0;
    width: 38px;
    padding: 13px;
}

.category-container .ico-childrens .toggle {
    display: block;
    float: left;
    height: 10px;
    margin-left: 7px;
    margin-top: 7px;
    padding: 5px;
    width: 10px;
}

.category-container .list-categories a,.toggle,.treeview .hover {
    cursor: pointer;
}

.category-container .list-categories .category_div,.list-fields .cfield-div {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    position: relative;
    padding: 5px;
}

.category-container .list-categories .category_row {
    height: 26px;
    padding-left: 44px;
    padding-top: 3px;
}

@media (max-width:542px) {
    .center-button,h3 {
        margin-top: 5%!important;
        text-align: center!important;
    }
}

@media (max-width:320px) {
    .category-container .list-categories .category_row {
        display: inline-table;
    }
}

.category-container form,.list-fields ul,.ui-sortable {
    margin: 0!important;
    padding: 0!important;
    list-style: none;
}

.category-container .ui-sortable>li {
    padding: 0!important;
    background: #fff!important;
    margin-bottom: 2px;
    border-bottom: none!important;
}

.category-container .ui-sortable li ul {
    margin-left: 39px;
    padding: 0;
}

.category-container .list-categories li {
    opacity: 1!important;
    margin-top: 10px;
}

.category-container .placeholder {
    background-color: #cfcfcf;
}

.category-container .category_div {
    opacity: .8;
}

.category-container .category_div {
    background: #fff;
}

.category-container .alert-custom {
    background-color: #FDF5D9;
    border-bottom: 1px solid #EEDC94;
    color: #404040;
}

.cat-hover .category_row,.category-container .cat-hover {
    background: #fffccc!important;
}

.category-container div.disabled .category_row,.category_li .disabled {
    background-color: #FFE8E8!important;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-reports .dropdown-submenu:hover>.dropdown-menu {
    display: table;
}

tr.primary-contact td {
    border-color: red;
}

.store-content.table tr:first-child td {
    border-top: 0;
}

#side-menu {
    overflow: hidden;
    position: relative;
}

.select-multiple {
    min-height: 250px;
}

/******Hungpd1*******/


#ModalMediaGallery .modal-header{
    border-bottom: none;
}
#ModalMediaGallery #listView{
    font-size: 12px;
}
#ModalMediaGallery #listView img, #ModalMediaGallery #listView .caption, .show-thumb .filename{
    display: none;
}

.st-radius{
    border-radius: 20px 0 0 20px;
}

.ed-radius{
    border-radius: 0 20px 20px 0;
}
.delete-media-hidden{
    display:none;
}
#thumbView .thumbnail .caption, .uploaded .thumbnail .caption{
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.m-t-10{
    margin-top: 10px;
}
#upload_template .modal-body{
    overflow: hidden;
}

.tabletvo .warning td {
    background: #FFFF00 !important;
}
td.date_time {
    width: 100px;
    display: inline-block;
}
th.td_date {
    width: 100px;
    display: inline-block;
    border: none !important;
}
td.skunumber {
    width: 300px;
    display: inline-block;
}
.table-child tr:first-child td {
    border-top:none;
}
.table-child tr td:first-child {
    border-right: 1px solid #ddd;
}
/**
 * @author Jan Sarmiento
 *
 * BEGIN
 */
.scroll-x { 
  overflow-x: hidden;
  padding-bottom: 8px;
}
.scroll-y {
  overflow-y: hidden;
  padding-bottom: 8px;
}
.scroll-y:hover {
  padding-bottom: 0;
  overflow-x: auto;
}

.scroll-x:hover { 
  overflow-x: auto; 
  padding-bottom: 0;
}
.scroll-f { 
  overflow: hidden;
  /*
  overflow-x: hidden;
  max-height: 10em !important;
  overflow-y: auto; 
  */
}
span.gs-label,
label.gs-label {
  color: #000;
  font-weight: 600;
  height: 100%;
  vertical-align: middle;
  padding-top: 7px;
}
th.system { opacity: 0;  }
th.system:hover { opacity: 1;  }
table#tbl_map th {
  text-align: center;
  min-width: 150px;
}
td.in-chkbx,
th.in-chkbx,
td.min-width,
th.min-width {
    min-width: 0 !important;
    text-align: center;
}
span.highlight {
  color: #1976d2 !important;
  font-weight: bold !important;
}
small span.highlight {
  font-weight: normal !important;
}
tr.highlight {
    background-color: #ffecb3 !important;
}
.no-show { display: none; }
.no-show-s { width: 0; }
ul.ami-list > li:hover { background-color: #e0e0e0; }
ul.ami-list > li {
  padding: 0.2em 1em;
}
#errorMsg {
  font-size: 0.85em; 
  color: #e53935;
}
ul.list-group.en-hover > li > i { 
  color: #337ab7 !important;
  margin-right: 0.8em;
}
ul.list-group.en-hover > li:hover {
  background-color: #ddd;
  cursor: pointer;
}
table.table-ssd th {  background-color: #fff !important; }
table.table-ssd td {
  font-size: 0.8em;
  width: auto;
  white-space: nowrap;
}
td.found {
  background-color: #fff9c4 !important;
  font-weight: bold;
}
li.list-group-item label {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color : #337ab7 !important;
  font-weight: 400;
}
li.list-group-item a {
  color: #333 !important;
  text-decoration: none !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #337ab7;
}
::-webkit-scrollbar-thumb:active {
  background: #337ab7;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.input-group-btn span.fa {
  color: #337ab7 !important;
}
div.scrollXDivFull,
div.mapping-tbl-scroll {
  padding-left: 0;
  padding-right: 0;
  overflow-y: hidden;
  max-height: 35em;
  /*margin-top: 1em;*/
}
div.mapping-tbl-div {
  max-height: 37em !important;
}
div.scrollXDivFull:hover,
div.mapping-tbl-scroll:hover {
  overflow-y: auto;
}
/* B: OVERLAY */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  cursor: not-allowed;
    /*pointer-events:none;*/
  /*transition: 0.5s;*/
}
p#overlay-message {
  font-size: 1.5em !important;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 9999 !important;
    padding-left: 17%;
    color: #FFF;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFF;
    display: block;
    /*transition: 0.3s;*/
    z-index: 9999 !important;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 9999 !important;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.datepicker { z-index: 0 !important; }
/* E: OVERLAY */
#tbl_global_ssd_info {
  font-size: 0.9em;
}
li#ssdExportBtn * {
  border: none !important;
  outline: none !important;
  background: none !important;
  background-color: transparent !important;
  display: block !important;
  display: inline !important;
}
li#ssdExportBtn button {
  display: block;
}
input[type="submit"].bare,
input[type="reset"].bare,
input[type="button"].bare,
button.bare {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
table.dataTable.dt-checkboxes-select tbody tr,
table.dataTable thead th.dt-checkboxes-select-all,
table.dataTable tbody td.dt-checkboxes-cell {
    cursor: pointer;
}

table.dataTable thead th.dt-checkboxes-select-all,
table.dataTable tbody td.dt-checkboxes-cell {
    text-align: center;
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
    margin-left: 0.5em;
}

@media screen and (max-width: 640px) {
    div.dataTables_wrapper span.select-info,
    div.dataTables_wrapper span.select-item {
        margin-left: 0;
        display: block;
    }
}
table.sortable th {
    cursor: pointer;
    padding-right: 15px !important;
}
div.div-edit-mapping {
    overflow-y: auto;
    max-height: 33em;
    padding: 0 !important;
    border-top: 1px solid #ddd;
    border-bottom: 8px solid transparent;
}
div.div-edit-mapping:hover {
    border-bottom: 0;
}
span.input-group-addon {
    cursor: pointer;
}
.btn-standard {
    min-width: 4em !important;
}
/*
a.paginate_button:hover {
  color: #333 !important;
  background: none !important;
  background-color: #ccc !important;
  border: 1px solid transparent !important;
}
a.paginate_button.current {
  background: none !important;
  background-color: #337ab7 !important;
  border: none !important;
}
a.paginate_button.current > * {
  color: #fff !important;
}
*/
/* END */