#chart{
	width:100%;
}
.chart-title{
	background: #d14c45;
}
.chart-title span{
	padding: 0 20px;
    line-height: 35px;
    color: #fff;
}
.chart_colum{
	width:100%;
	height:540px;
	border:1px solid #dddfde;
	margin:20px auto;
}
.c_wrapper{
	width:100%;
	height:503px;
	overflow:auto;
}
.c_container{
	margin:0px 20px;
	width:1128px;
	height:490px;
}
ul.title_chart_colum{
	height:50px;
	width:800px;
	margin:0px;padding:0px;
	font-size:10px;
	text-align:center;
	text-transform:uppercase
}
ul.title_chart_colum li{
	float:left;
	list-style:none;
	margin-right:30px
}
.c_container text{
	font-size:11px;
}
.c_note{
	width:100%;
	/*height:200px;*/
	margin-top:10px
}