body {
    font-family: 'Vollkorn', serif;
    font-size: 14px;
}

.m-t-22 {
    margin-top: 22px;
}

.m-r-10 {
    margin-right: 10px;
}

#iframe_report, #iframe_report_zoom {
    width: 100%;
    border: none;
}

#reporting-view #iframe_report {
    min-height: 400px;
    display: none
}

#zoom_rp {
    display: none
}

#groups_btn_export {
    display: none;
}

#reporting-view .height_zoom {
    height: 700px
}

#mainContent {
    margin-top: 20px;
}

select {
    background: transparent;
    width: 100%;
    padding: 5px 15px;
    color: #fff;
    outline: none;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    /*for IE 11*/
    display: none;
}

select option {
    color: #6d6e71;
    background-color: #fff;
}

select[multiple] option {
    background-color: #afb0b1;
}

.styled-select {
    height: 34px;
    padding: 0;
    overflow: hidden;
    border-radius: 15px;
    background: url(../img/combo_box_arrow.png) no-repeat right #afb0b1;
}

.styled-multi-select {
    overflow: hidden;
    padding: 0;
    border-radius: 15px;
    background-color: #afb0b1;
}

#reporting-view .table-title {
    background-color: #d14c45;
    border: 1px solid #ccc;
}

#reporting-view .table-title span {
    padding: 0 20px;
    line-height: 35px;
    color: #fff;
}

#reporting-view table {
    border: 1px solid #ccc;
    margin: 0;
}

#reporting-view .table tr.spacer {
    height: 5px;
    background-color: #fff;
    padding: 0;
}

#reporting-view .table th.spacer, #reporting-view .table td.spacer {
    width: 5px;
    background-color: #fff;
    padding: 0;
}

.spacer td {
    padding: 0 !important;
    background-color: #fff;
}

#reporting-view .table > thead > tr > th {
    font-weight: 600;
    background-color: #e6e7e8;
    vertical-align: top;
    border: none;
    height: 100%;
}

#reporting-view .table > tbody > tr > td {
    border: none;
    padding: 5px 10px;
    vertical-align: middle;
}

#reporting-view table tr > th.border-left, #reporting-view table tr > td.border-left {
    box-shadow: -14px 6px 6px -8px #ccc;
}

#reporting-view .table > tbody > tr:nth-of-type(even) {
    background-color: #e6e7e8;
}

#reporting-view .table > tbody > tr:nth-of-type(odd) {
    background-color: #d1d3d4;
}

#reporting-view .table tr.total {
    background-color: #b0e5dc !important;
}

#reporting-view table tr > th.border-right, #reporting-view table tr > td.border-right {
    background-image: url('../img/shadow1.png');
    background-repeat: repeat-y;
    background-position: right;
}

#reporting-view table tr td.round-start {
    border-radius: 20px 0 0 20px;
}

#reporting-view table tr td.round-end {
    border-radius: 0 20px 20px 0;
}

.block_table {
    margin-top: 20px;
}

.slimScrollDiv, .slimScrollDiv > ul {
    height: auto !important;
}

.ms-choice {
    height: 34px;
    line-height: 35px;
    border-radius: 20px;
    background-color: #afb0b1;
    color: #fff;
    outline: none;
}

.ms-choice:hover {
    box-shadow: 0px 0px 2px #7799D0;
    border-color: #7799D0;
}

.ms-drop.bottom {
    width: 100%;
    position: absolute;
    left: 0;
    top: 37px;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    overflow: hidden;
}

.ms-drop ul {
    list-style: none;
    display: block;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    border-radius: 2px;
    max-height: 250px;
}

.ms-drop ul > li:first-child {
    border-radius: 2px 2px 0px 0px;
}

.ms-drop ul > li:hover {
    background-color: #CCCCCC;
    color: #fff;
}

.ms-drop ul > li {
    padding: 6px 6px;
    border-bottom: 1px solid #F3F3F3;
    position: relative;
    background-color: #afb0b1;
}

.ms-drop ul > li label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

.SumoSelect {
    width: 100%;
}

.SumoSelect > .CaptionCont, #InputDateRange, input[name="from"], input[name="to"] {
    border-radius: 20px;
    background-color: #afb0b1;
    color: #fff;
}

.SumoSelect > .CaptionCont > span.placeholder, .ms-choice > span.placeholder {
    color: #fff;
}

.SumoSelect > .CaptionCont > label {
    margin-bottom: 0;
}

.SumoSelect > .CaptionCont > label > i, .ms-choice > div, .ms-choice > div.open {
    background-image: url(../img/combo_box_arrow.png);
    background-position: left;
    width: 30px;
    height: 34px;
}

.SlectBox {
    width: 100%;
}

.SumoSelect .select-all {
    margin-bottom: 0;
    background-color: #afb0b1;
}

.SumoSelect > .optWrapper.multiple > .options > li, .SumoSelect > .optWrapper > .options > li {
    background-color: #afb0b1;
}

.SumoSelect > .optWrapper.multiple > .options > li:hover, .SumoSelect .select-all:hover, .SumoSelect > .optWrapper > .options > li:hover {
    background-color: #CCCCCC;
    color: #fff;
}

.SumoSelect > .optWrapper.multiple > .options > li.selected span i, .SumoSelect .select-all.selected > span i, .SumoSelect .select-all.partial > span i {
    background-color: #3abfa8;
}

.btn-primary {
    background-color: #3abfa8;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 1px 5px 8px #ccc;
}

.btn-default {
    background-color: #afb0b1;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 1px 5px 8px #ccc;
}

.form-group-demo {
    margin-top: 20px
}

.label-select {
    text-align: left;
    padding: 20px 0px;
    color: #414143;
    font-size: 25px;
    font-family: TimesNewRoman, 'Times New Roman', Arial, Tahoma;
    font-weight: bold;
}

.label-select span {
    padding-left: 15px;
    font-size: 50px
}

#reporting-view {
    width: 95%;
    margin: auto;
}

#reporting-view table {
    background: #fff;
}

/*-- navBar css--*/
.navbar-default {
    background: none !important;
    border: none;
    border-bottom: 1px solid #6c6c6d;
    border-radius: 0px;
    margin-bottom: 40px
}

.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
    border-bottom: 1px solid #bababb;
}

#logo_demo {
    margin: 8px 40px 10px 28px
}

.navbar-nav li {
    padding-top: 13px;
    color: #6d6e71;
    font-size: 20px;
    font-family: TimesNewRoman, 'Times New Roman', Arial, Tahoma;
    margin: 0px 38px 0px 15px

}

.navbar-nav li.active a, .navbar-nav li:hover a {
    /*color:#f26f31 !important;*/
    background: none !important;

}

.has-error > .ms-choice, .SumoSelect .has-error, .SumoSelect:hover .has-error {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error > .ms-choice:focus, .SumoSelect:focus .has-error {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.table-title, .chart-title {
    font-family: 'Bevan';
    font-size: 14px;
}

.SumoSelect > .CaptionCont > span {
    line-height: 25px;
    cursor: pointer;
}

.modal-dialog {
    width: 240px;
}

.modal-content, .modal-body {
    background: transparent;
    border: none;
    box-shadow: none;
}

.dropdown-menu li {
    padding: 0;
    margin: 0;
    font-size: 14px;

}

.dropdown-menu a {
    padding: 8px;
    min-height: 0;
    text-decoration: none;
}

.dropdown-menu > li > a {
    color: #777;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .dropdown-menu > li:hover > a {
    color: #f26f31;
}

.monthselect, .yearselect {
    border: 1px solid #ddd;
    color: #777;
}

#InputDateRange {
    border: 1px solid #ddd;
}

.slimScrollBar {
    width: 12px !important;
}

.side-title {
    font-size: 15px;
    color: #f26f31;
    font-weight: bold;
    text-align: center;
}

.prev_year, .prev {
    width: 15%;
    display: block;
    float: left;
    cursor: pointer;
    text-align: right;
    margin: 0;
}

.next_year, .next {
    width: 15%;
    display: block;
    float: right;
    cursor: pointer;
    margin: 0;
}

.notavaiable {
    color: #fff;
    width: 15%;
    display: block;
    float: left;
    margin: 0;
}

.month {
    width: 70%;
    display: block;
    float: left;
    text-align: center;
}

.prev_year, .prev, .next_year, .next, .month {
    color: #4aba8f;
}

table.table-condensed {
    border-collapse: separate;
    border-spacing: 3px;
}

.table-condensed tbody td {
    border: 1px solid #ddd;
    border-radius: 0;
}

.table-condensed tbody td.off {
    border: 1px solid;
    color: #fff;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    border-radius: 4px;
}

.daterangepicker .ranges {
    float: none !important;
    width: 100%;
}

.daterangepicker .ranges .range_inputs > div:nth-child(1) {
    margin-left: 5px;
}

.daterangepicker .ranges .range_inputs > div:nth-child(2) {
    margin-right: 10px;
}

.checkbox-checked {
    background: url("../img/checked_checkbox.png") center no-repeat;
    width: 15px;
    margin: 0 auto;
    display: block;
    height: 15px;
}

.checkbox-unchecked {
    background: url("../img/unchecked_checkbox.png") center no-repeat;
    width: 15px;
    margin: 0 auto;
    display: block;
    height: 15px;
}

