#loading {
    position: absolute;
    width: 100%;
    height: 75%;
    background: url('../img/loading.gif') no-repeat center center;
    background-size: 100px 100px;
    top: 10%;
    z-index: 2;
}